table[data-component=Privacy][data-entity=Cookie] tr.disabled .vg-function-status.active,
table[data-component=Privacy][data-entity=Cookie] tr.disabled .delete {
    display: none;
}


form.cx-ui.cookie input.translatable,
form.cx-ui.cookie textarea.translatable {
    padding-left: 21px !important;
    background: var(--white) url('/core_modules/Privacy/View/Media/TranslatedInput.png') no-repeat 3px 3px;
}
