#cookie-note {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    display: block;
    margin-left: 20px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    width: auto !important;
    height: auto !important;
    max-height: calc(100% - 40px);
    max-width: 35em;
    z-index: 1337;
    padding: 10px;
    overflow-y: auto;
    text-align: center;
}
#cookie-note.left {
    left: 0;
}
#cookie-note .hidden,
#cookie-settings-popup .switch.hidden {
    display: none;
}
#cookie-note button {
    display: inline-block;
}
#cookie-note-2022-save {
    margin-top: 10px;
}
#cookie-settings-popup .cookie-class {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-top: .5em;
    padding-bottom: .5em;
    border-width: 0;
    border-bottom-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}
#cookie-settings-popup .cookie-class-title {
    display: block;
    font-weight: bold;
    flex-basis: 100%;
    flex-shrink: 0;
    text-align: left;
}
#cookie-settings-popup .cookie-class-description {
    float: left;
    flex-basis: calc(100% - 20px - 65px);
    flex-shrink: 1;
    flex-grow: 1;
    font-size: .8em;
    text-align: left;
}
#cookie-settings-popup .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-shrink: 0;
    min-width: 60px;
    flex-grow: 0;
}
#cookie-settings-popup .cookie-class-detail-link {
    flex-basis: 100%;
    flex-shrink: 0;
    border: none;
    text-decoration: underline;
}
#cookie-note a {
    color: rgba(29, 29, 29, 1);
}
#cookie-settings-popup .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
#cookie-settings-popup .slider.round {
    border-radius: 34px;
}
#cookie-settings-popup .slider.round::before {
    border-radius: 50%;
}
#cookie-settings-popup .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
#cookie-settings-popup .cookie-class-list-cookie {
    background: #dddddd;
    border-radius: 4px;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
#cookie-settings-popup .cookie-class-list-cookie span.cookie-class-list-cookie-label {
    flex-basis: 40%;
    font-weight: bold;
    padding-right: 20px;
}
#cookie-settings-popup .cookie-class-list-cookie span {
    flex-basis: 60%;
    text-align: left;
    border-color: white;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0px;
    border-bottom-width: 1px;
}
#cookie-settings-popup .cookie-class-list-cookie span:nth-last-child(-n+2) {
    border-bottom-width: 0;
}
#cookie-settings-popup .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 28px;
    width: 55px;
}
#cookie-settings-popup input:checked + .slider {
  background-color: #95c700;
}
#cookie-settings-popup input:checked + .slider::before {
  transform: translateX(26px);
}
#cookie-note-title {
    display: flex;
    gap: 10px;
}
#cookie-note img {
    height: 20px;
    width: 20px;
    display: inline;
}
#cookie-note h3 {
    display: inline-block;
    margin: 0;
}
#cookie-note.hidden {
    display: block !important; /* fix for bootstrap compatibility */
    visibility: visible !important; /* fix for bootstrap compatibility */
    text-align: left;
    right: unset;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.5;
}
#cookie-note.hidden #cookie-note-content {
    display: none;
}
#cookie-note.hidden h3 {
    display: none;
}
@media (hover: hover) {
    #cookie-note.hidden:hover {
        width: auto;
        border-radius: 20px 0 0 20px;
        opacity: 1;
    }
    #cookie-note.hidden:hover h3 {
        display: inline;
        font-size: 16px;
    }
}

