.mediabrowser-imagechooser {
    display: inline-block;
    position: relative;
    border: var(--border-default);
    height: fit-content;
    width: fit-content;
    overflow: clip;
}
.vg-form fieldset .group .controls>.mediabrowser-imagechooser,
.adminlist td>.mediabrowser-imagechooser {
    margin: 0;
}
.mediabrowser-imagechooser .browse {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity .15s;
}
.mediabrowser-imagechooser .browse:hover {
    opacity: .8;
}
.mediabrowser-imagechooser .browse span {
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-smaller);
    padding: var(--spacing-default) 1em;
}
.mediabrowser-imagechooser img {
    max-height: 10em;
    max-width: 10em;
    min-height: 4em;
    min-width: 4em;
    object-fit: scale-down;
}
.mediabrowser-imagechooser .deletePreviewImage {
    position: absolute;
    opacity: 1;
    transition: opacity .15s;
    right: 0;
    top: 0;
    background: var(--blue);
    border-color: var(--blue);
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: var(--border-radius-small);
    font-size: var(--font-size);
    z-index: 3;
}
.mediabrowser-imagechooser .deletePreviewImage i {
    color: var(--white);
}
.mediabrowser-imagechooser .deletePreviewImage:hover {
    opacity: .8;
}
.mediabrowser-imagechooser:has(.empty) .deletePreviewImage {
    display: none;
}

