.uploader-modal, .media-browser-modal-window {
    font-size: 14.4px;
}

.uploader-modal .modal-title, .media-browser-modal-window .modal-title {
    color: #ffffff;
    clear: none;
    text-transform: none;
}

.uploader-modal .img-rounded, .media-browser-modal-window .img-rounded {
    border-radius: 6px;
}

.uploader-modal .img-thumbnail, .media-browser-modal-window .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.uploader-modal .collapse, .media-browser-modal-window .collapse {
    display: none;
}

.uploader-modal .collapse.in, .media-browser-modal-window .collapse.in {
    display: block;
}

.uploader-modal .collapsing, .media-browser-modal-window .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.uploader-modal .progress, .media-browser-modal-window .progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #dddddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.uploader-modal .progress-bar, .media-browser-modal-window .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #0469b2;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.uploader-modal .progress-striped .progress-bar, .media-browser-modal-window .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.uploader-modal .progress.active .progress-bar, .media-browser-modal-window .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.uploader-modal .progress-bar-success, .media-browser-modal-window .progress-bar-success {
    background-color: #7fc600;
}

.uploader-modal .progress-striped .progress-bar-success, .media-browser-modal-window .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .progress-bar-info, .media-browser-modal-window .progress-bar-info {
    background-color: #0469b2;
}

.uploader-modal .progress-striped .progress-bar-info, .media-browser-modal-window .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .progress-bar-warning, .media-browser-modal-window .progress-bar-warning {
    background-color: #ff8c00;
}

.uploader-modal .progress-striped .progress-bar-warning, .media-browser-modal-window .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .progress-bar-danger, .media-browser-modal-window .progress-bar-danger {
    background-color: #e40000;
}

.uploader-modal .progress-striped .progress-bar-danger, .media-browser-modal-window .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.uploader-modal .progress, .media-browser-modal-window .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #dddddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.uploader-modal .progress-bar, .media-browser-modal-window .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #0469b2;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.uploader-modal .progress-striped .progress-bar, .media-browser-modal-window .progress-striped .progress-bar, .uploader-modal .progress-bar-striped, .media-browser-modal-window .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.uploader-modal .progress.active .progress-bar, .media-browser-modal-window .progress.active .progress-bar, .uploader-modal .progress-bar.active, .media-browser-modal-window .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.uploader-modal .progress-bar[aria-valuenow="1"], .media-browser-modal-window .progress-bar[aria-valuenow="1"], .uploader-modal .progress-bar[aria-valuenow="2"], .media-browser-modal-window .progress-bar[aria-valuenow="2"] {
    min-width: 30px;
}

.uploader-modal .progress-bar[aria-valuenow="0"], .media-browser-modal-window .progress-bar[aria-valuenow="0"] {
    min-width: 0;
    color: #444444;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.uploader-modal .progress-bar-success, .media-browser-modal-window .progress-bar-success {
    background-color: #7fc600;
}

.uploader-modal .progress-striped .progress-bar-success, .media-browser-modal-window .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .progress-bar-info, .media-browser-modal-window .progress-bar-info {
    background-color: #0469b2;
}

.uploader-modal .progress-striped .progress-bar-info, .media-browser-modal-window .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .progress-bar-warning, .media-browser-modal-window .progress-bar-warning {
    background-color: #ff8c00;
}

.uploader-modal .progress-striped .progress-bar-warning, .media-browser-modal-window .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .popover, .media-browser-modal-window .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #dddddd;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal;
}

.uploader-modal .popover.top, .media-browser-modal-window .popover.top {
    margin-top: -10px;
}

.uploader-modal .popover.right, .media-browser-modal-window .popover.right {
    margin-left: 10px;
}

.uploader-modal .popover.bottom, .media-browser-modal-window .popover.bottom {
    margin-top: 10px;
}

.uploader-modal .popover.left, .media-browser-modal-window .popover.left {
    margin-left: -10px;
}

.uploader-modal .popover-title, .media-browser-modal-window .popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
}

.uploader-modal .popover-content, .media-browser-modal-window .popover-content {
    padding: 9px 14px;
}

.uploader-modal .popover > .arrow, .media-browser-modal-window .popover > .arrow, .uploader-modal .popover > .arrow:after, .media-browser-modal-window .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.uploader-modal .popover > .arrow, .media-browser-modal-window .popover > .arrow {
    border-width: 11px;
}

.uploader-modal .popover > .arrow:after, .media-browser-modal-window .popover > .arrow:after {
    border-width: 10px;
    content: "";
}

.uploader-modal .popover.top > .arrow, .media-browser-modal-window .popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -11px;
}

.uploader-modal .popover.top > .arrow:after, .media-browser-modal-window .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}

.uploader-modal .popover.right > .arrow, .media-browser-modal-window .popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, .25);
}

.uploader-modal .popover.right > .arrow:after, .media-browser-modal-window .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.uploader-modal .popover.bottom > .arrow, .media-browser-modal-window .popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -11px;
}

.uploader-modal .popover.bottom > .arrow:after, .media-browser-modal-window .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}

.uploader-modal .popover.left > .arrow, .media-browser-modal-window .popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, .25);
}

.uploader-modal .popover.left > .arrow:after, .media-browser-modal-window .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}

.uploader-modal .popover, .media-browser-modal-window .popover {
    max-width: 350px;
    border-radius: 0;
}

.uploader-modal .popover-content, .media-browser-modal-window .popover-content {
    padding: 0;
}

.uploader-modal .popover.right, .media-browser-modal-window .popover.right {
    margin-left: -100px;
}

.uploader-modal .popover.right > .arrow, .media-browser-modal-window .popover.right > .arrow {
    display: none;
}

.uploader-modal .popover img, .media-browser-modal-window .popover img {
    max-width: 350px;
}

.form-control, .form-control, .bootbox .form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #444444;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #0469b2;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #444444;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #444444;
}

.form-control::-webkit-input-placeholder {
    color: #444444;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #ffffff;
    opacity: 1;
}

textarea.form-control {
    height: auto;
}

input[type="date"].input-sm, input[type="date"].input-sm, input[type="time"].input-sm, input[type="time"].input-sm, input[type="datetime-local"].input-sm, input[type="datetime-local"].input-sm, input[type="month"].input-sm, input[type="month"].input-sm {
    line-height: 30px;
}

input[type="date"].input-lg, input[type="date"].input-lg, input[type="time"].input-lg, input[type="time"].input-lg, input[type="datetime-local"].input-lg, input[type="datetime-local"].input-lg, input[type="month"].input-lg, input[type="month"].input-lg {
    line-height: 46px;
}

.form-group, .form-group {
    margin-bottom: 15px;
}

.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio label, .checkbox label {
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.radio-inline, .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

.form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.form-control-static.input-lg, .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
    height: auto;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

select.input-lg {
    height: 46px;
    line-height: 46px;
}

textarea.input-lg, select[multiple].input-lg {
    height: auto;
}

.has-feedback {
    position: relative;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
}

.input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 27px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label, .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.form-horizontal .has-feedback .form-control-feedback, .form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 15px;
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label, .form-horizontal .form-group-lg .control-label {
        padding-top: 14.3px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
    }
}

.clearfix:before, .clearfix:before, .clearfix:after, .clearfix:after, .form-horizontal .form-group:before, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.clearfix:after, .clearfix:after, .form-horizontal .form-group:after, .form-horizontal .form-group:after {
    clear: both;
}

.uploader-modal .center-block, .media-browser-modal-window .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.uploader-modal #mediaBrowserMain .hide, .media-browser-modal-window #mediaBrowserMain .hide {
    display: none !important;
}

.uploader-modal #mediaBrowserMain .show, .media-browser-modal-window #mediaBrowserMain .show {
    display: block !important;
}

.uploader-modal .invisible, .media-browser-modal-window .invisible {
    visibility: hidden;
}

.uploader-modal .form-control, .media-browser-modal-window .form-control, .bootbox * {
    box-sizing: border-box;
}

.modal .btn, .btn, .bootbox .btn {
    color: #ffffff;
    height: auto;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    text-shadow: none;
}

.btn.active:focus, .btn.active:focus, .btn:active:focus, .btn:active:focus, .btn:focus, .btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus, .btn:focus, .btn:hover, .btn:hover {
    color: #444444;
    text-decoration: none;
}

.btn.active, .btn:active, .btn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled, .btn[disabled], .btn[disabled], fieldset[disabled] .btn, fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}

.modal .btn-default, .btn-default, .btn-default {
    color: #444444;
    background-color: #ffffff;
    border-color: #dddddd;
}

.btn-default.active, .btn-default.active, .btn-default:active, .btn-default:active, .btn-default:focus, .btn-default:focus, .btn-default:hover, .btn-default:hover, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-default {
    color: #444444;
    background-color: #dddddd;
    border-color: #999999;
}

.btn-default.active, .btn-default:active, .open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled, .btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.active, .btn-default.disabled:active, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].active, .btn-default[disabled]:active, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:hover {
    background-color: #ffffff;
    border-color: #dddddd;
}

.btn-default .badge, .btn-default .badge {
    color: #ffffff;
    background-color: #444444;
}

.btn-primary, .media-browser-modal-window .btn-primary {
    color: #ffffff;
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-primary.active, .media-browser-modal-window .btn-primary.active,
.btn-primary:active, .media-browser-modal-window .btn-primary:active,
.btn-primary:focus, .media-browser-modal-window .btn-primary:focus,
.btn-primary:hover, .media-browser-modal-window .btn-primary:hover,
.open .dropdown-toggle.btn-primary,
.media-browser-modal-window .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-primary.active, .btn-primary.active, .btn-primary:active, .btn-primary:active, .open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:hover {
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-primary .badge, .btn-primary .badge {
    color: #0469b2;
    background-color: #ffffff;
}

.modal .btn-success, .modal .btn-success, .btn-success, .btn-success {
    color: #ffffff;
    background-color: #7fc600;
    border-color: #7fc600;
}

.btn-success.active, .btn-success.active, .btn-success:active, .btn-success:active, .btn-success:focus, .btn-success:focus, .btn-success:hover, .btn-success:hover, .open .dropdown-toggle.btn-success, .open .dropdown-toggle.btn-success {
    color: #ffffff;
    border-color: #7fc600;
    background: #7fc600 none;
}

.btn-success.active, .btn-success.active, .btn-success:active, .btn-success:active, .open .dropdown-toggle.btn-success, .open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled, .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].active, .btn-success[disabled]:active, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:hover {
    background-color: #7fc600;
    border-color: #7fc600;
}

.btn-success .badge, .btn-success .badge {
    color: #7fc600;
    background-color: #ffffff;
}

.btn-info, .btn-info {
    color: #ffffff;
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-info.active, .btn-info.active, .btn-info:active, .btn-info:active, .btn-info:focus, .btn-info:focus, .btn-info:hover, .btn-info:hover, .open .dropdown-toggle.btn-info, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-info.active, .btn-info.active, .btn-info:active, .btn-info:active, .open .dropdown-toggle.btn-info, .open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled, .btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:focus, .btn-info[disabled]:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:hover {
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn-info .badge, .btn-info .badge {
    color: #0469b2;
    background-color: #ffffff;
}

.btn-warning, .btn-warning {
    color: #ffffff;
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.btn-warning.active, .btn-warning.active, .btn-warning:active, .btn-warning:active, .btn-warning:focus, .btn-warning:focus, .btn-warning:hover, .btn-warning:hover, .open .dropdown-toggle.btn-warning, .open .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.btn-warning.active, .btn-warning.active, .btn-warning:active, .btn-warning:active, .open .dropdown-toggle.btn-warning, .open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled, .btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].active, .btn-warning[disabled]:active, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.btn-warning .badge, .btn-warning .badge {
    color: #ff8c00;
    background-color: #ffffff;
}

.btn-danger, .btn-danger {
    color: #ffffff;
    background-color: #e40000;
    border-color: #e40000;;
}

.btn-danger.active, .btn-danger.active, .btn-danger:active, .btn-danger:active, .btn-danger:focus, .btn-danger:focus, .btn-danger:hover, .btn-danger:hover, .open .dropdown-toggle.btn-danger, .open .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #e40000;
    border-color: #e40000;
}

.btn-danger.active, .btn-danger.active, .btn-danger:active, .btn-danger:active, .open .dropdown-toggle.btn-danger, .open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled, .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:hover {
    background-color: #e40000;
    border-color: #e40000;;
}

.btn-danger .badge, .btn-danger .badge {
    color: #e40000;
    background-color: #ffffff;
}

.btn-link, .btn-link {
    font-weight: 400;
    color: #0469b2;
    cursor: pointer;
    border-radius: 0;
}

.btn-link, .btn-link, .btn-link:active, .btn-link:active, .btn-link[disabled], .btn-link[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}

.btn-link, .btn-link, .btn-link:active, .btn-link:active, .btn-link:focus, .btn-link:focus, .btn-link:hover, .btn-link:hover {
    border-color: transparent;
}

.btn-link:focus, .btn-link:focus, .btn-link:hover, .btn-link:hover {
    color: #0469b2;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:focus, .btn-link[disabled]:focus, .btn-link[disabled]:hover, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:hover {
    color: #999999;
    text-decoration: none;
}

.btn-group-lg > .btn, .btn-group-lg > .btn, .btn-lg, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-group-sm > .btn, .btn-group-sm > .btn, .btn-sm, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group-xs > .btn, .btn-group-xs > .btn, .btn-xs, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

input[type=button].btn-block, input[type=button].btn-block, input[type=reset].btn-block, input[type=reset].btn-block, input[type=submit].btn-block, input[type=submit].btn-block {
    width: 100%;
}

.modal .btn-primary .btn-primary {
    background-color: #0469b2;
    border-color: #0469b2;
}

.btn {
    border-radius: 0;
    padding: 5px 13px;
}

.btn-primary.active .btn-primary:active, .btn-primary:active, .btn-primary:focus, .btn-primary:focus, .btn-primary:hover, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    border-color: #0469b2;
}

.progress {
    border-radius: 0;
}

.progress-bar, .progress-bar {
    background-color: #0469b2;
}

.progress-bar-danger, .progress-bar-danger {
    background-color: #e40000;
}

.uploader-modal .progress-striped .progress-bar-danger, .media-browser-modal-window .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.uploader-modal .icon-loading, .media-browser-modal-window .icon-loading, .uploader-modal .icon-addfolder, .media-browser-modal-window .icon-addfolder, .uploader-modal .icon-refresh, .media-browser-modal-window .icon-refresh, .uploader-modal .icon-fileType, .media-browser-modal-window .icon-fileType, .uploader-modal .icon-dropzone, .media-browser-modal-window .icon-dropzone, .uploader-modal .icon-fileTypeImage, .media-browser-modal-window .icon-fileTypeImage, .uploader-modal .icon-fileTypePdf, .media-browser-modal-window .icon-fileTypePdf, .uploader-modal .icon-fileTypePresentation, .media-browser-modal-window .icon-fileTypePresentation, .uploader-modal .icon-fileTypeSpreadsheet, .media-browser-modal-window .icon-fileTypeSpreadsheet, .uploader-modal .icon-fileTypeText, .media-browser-modal-window .icon-fileTypeText, .uploader-modal .icon-fileTypeTextdocument, .media-browser-modal-window .icon-fileTypeTextdocument, .uploader-modal .icon-fileTypeUnknown, .media-browser-modal-window .icon-fileTypeUnknown, .uploader-modal .icon-fileTypeVideo, .media-browser-modal-window .icon-fileTypeVideo, .uploader-modal .icon-folder, .media-browser-modal-window .icon-folder, .uploader-modal .icon-folderHover, .media-browser-modal-window .icon-folderHover, .uploader-modal .icon-folderLarge, .media-browser-modal-window .icon-folderLarge, .uploader-modal .icon-sitestructure, .media-browser-modal-window .icon-sitestructure, .uploader-modal .icon-sitestructureLarge, .media-browser-modal-window .icon-sitestructureLarge, .uploader-modal .icon-sitestrukturHover, .media-browser-modal-window .icon-sitestrukturHover, .uploader-modal .icon-upload, .media-browser-modal-window .icon-upload, .uploader-modal .icon-uploadHover, .media-browser-modal-window .icon-uploadHover, .uploader-modal .icon-uploadLarge, .media-browser-modal-window .icon-uploadLarge {
    background: url("../Media/Icons/sprites.png") no-repeat;
    display: inline-block;
}

.uploader-modal .icon-sitestructure, .media-browser-modal-window .icon-sitestructure {
    background-position: -210px -17px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-sitestructureLarge, .media-browser-modal-window .icon-sitestructureLarge {
    background-position: -102px 0;
    width: 36px;
    height: 34px;
}

.uploader-modal .icon-sitestrukturHover, .media-browser-modal-window .icon-sitestrukturHover {
    background-position: -156px -35px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-folder, .media-browser-modal-window .icon-folder {
    background-position: -193px -34px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-folderHover, .media-browser-modal-window .icon-folderHover {
    background-position: -193px -51px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-folderLarge, .media-browser-modal-window .icon-folderLarge {
    background-position: -102px -35px;
    width: 36px;
    height: 34px;
}

.uploader-modal .icon-dropzone, .media-browser-modal-window .icon-dropzone {
    margin-left: 21px;
    background-position: 0 0;
    width: 101px;
    height: 74px;
}

.media-browser-modal-window .dropzoneText1,
.media-browser-modal-window .dropzoneText2,
.media-browser-modal-window .icon-dropzone,
.uploader-modal .icon-dropzone {
    display: none \9;
}

.uploader-modal .icon-upload, .media-browser-modal-window .icon-upload {
    background-position: -176px 0;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-upload:hover, .media-browser-modal-window .icon-upload:hover {
    background-position: -176px -34px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-uploadLarge, .media-browser-modal-window .icon-uploadLarge {
    background-position: -139px 0;
    width: 36px;
    height: 34px;
}

.uploader-modal .icon-loading, .media-browser-modal-window .icon-loading {
    background: url("../Media/Icons/ajax_load.gif") no-repeat;
    width: 128px;
    height: 128px;
}

.uploader-modal .icon-addfolder, .media-browser-modal-window .icon-addfolder {
    background: url("../Media/Icons/addfolder.png") no-repeat;
    width: 32px;
    height: 32px;
}

.uploader-modal .icon-refresh, .media-browser-modal-window .icon-refresh {
    background: url("../Media/Icons/refreshFolder.png") no-repeat;
    width: 32px;
    height: 32px;
}

.uploader-modal .renameFile, .media-browser-modal-window .renameFile, .uploader-modal .removeFile, .media-browser-modal-window .removeFile {
    position: relative;
    padding-left: 18px;
    margin-right: 5px;
}

.uploader-modal table.adminlist.filelist .actions .renameFile:hover, .media-browser-modal-window table.adminlist.filelist .actions .renameFile:hover, .uploader-modal table.adminlist.filelist .actions .removeFile:hover, .media-browser-modal-window table.adminlist.filelist .actions .removeFile:hover {
    color: #444444;
}

.uploader-modal .removeFile:before, .media-browser-modal-window .removeFile:before {
    background: url("../Media/Icons/remove.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.uploader-modal .renameFile:before, .media-browser-modal-window .renameFile:before {
    background: url("../Media/Icons/rename.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
}

.uploader-modal .icon-fileType, .media-browser-modal-window .icon-fileType {
    background-position: -193px 0;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypePptx, .media-browser-modal-window .icon-fileTypePptx, .uploader-modal .icon-fileTypePpt, .media-browser-modal-window .icon-fileTypePpt {
    background-position: -139px -52px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypeXls, .media-browser-modal-window .icon-fileTypeXls, .uploader-modal .icon-fileTypeXlsx, .media-browser-modal-window .icon-fileTypeXlsx {
    background-position: -210px 0;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypeTxt, .media-browser-modal-window .icon-fileTypeTxt {
    background-position: -176px -51px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypeDoc, .media-browser-modal-window .icon-fileTypeDoc, .uploader-modal .icon-fileTypeDocx, .media-browser-modal-window .icon-fileTypeDocx, .uploader-modal .icon-fileTypeOdt, .media-browser-modal-window .icon-fileTypeOdt {
    background-position: -156px -52px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypeVideo, .media-browser-modal-window .icon-fileTypeVideo {
    background-position: -139px -35px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypePng, .media-browser-modal-window .icon-fileTypePng, .uploader-modal .icon-fileTypeGif, .media-browser-modal-window .icon-fileTypeGif, .uploader-modal .icon-fileTypeJpeg, .media-browser-modal-window .icon-fileTypeJpeg, .uploader-modal .icon-fileTypeJpg, .media-browser-modal-window .icon-fileTypeJpg {
    background-position: -193px -17px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypeDir, .media-browser-modal-window .icon-fileTypeDir {
    background-position: -193px -34px;
    width: 16px;
    height: 16px;
}

.uploader-modal .icon-fileTypePdf, .media-browser-modal-window .icon-fileTypePdf {
    background-position: -176px -17px;
    width: 16px;
    height: 16px;
}

.uploader-modal li.active-tab .icon-upload, .media-browser-modal-window li.active-tab .icon-upload, .uploader-modal a:hover .icon-upload, .media-browser-modal-window a:hover .icon-upload {
    background-position: -176px -34px;
    width: 16px;
    height: 16px;
}

.uploader-modal li.active-tab .icon-sitestructure, .media-browser-modal-window li.active-tab .icon-sitestructure, .uploader-modal a:hover .icon-sitestructure, .media-browser-modal-window a:hover .icon-sitestructure {
    background-position: -156px -35px;
    width: 16px;
    height: 16px;
}

.uploader-modal li.active-tab .icon-folder, .media-browser-modal-window li.active-tab .icon-folder, .uploader-modal a:hover .icon-folder, .media-browser-modal-window a:hover .icon-folder {
    background-position: -193px -51px;
    width: 16px;
    height: 16px;
}

.uploader-modal .media-browser-modal-upload, .media-browser-modal-window .media-browser-modal-upload, .uploader-modal .media-browser-modal, .media-browser-modal-window .media-browser-modal {
    padding-top: 8%;
}

.uploader-modal .media-browser-modal, .media-browser-modal-window .media-browser-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uploader-modal .media-browser-modal-upload, .media-browser-modal-window .media-browser-modal-upload, .uploader-modal .media-browser-modal .modal-content, .media-browser-modal-window .media-browser-modal .modal-content {
    border-radius: 0;
}

.uploader-modal .media-browser-modal .modal-dialog, .media-browser-modal-window .media-browser-modal .modal-dialog {
    width: 90%;
    max-width: 1024px;
}

.uploader-modal .mediaBrowserMain, .media-browser-modal-window .mediaBrowserMain {
    position: relative;
    width: 100%;
    font-size: 0;
}

.uploader-modal .mediaBrowserNavigation, .media-browser-modal-window .mediaBrowserNavigation, .uploader-modal .mediaBrowserContent, .media-browser-modal-window .mediaBrowserContent {
    font-size: 1rem;
    vertical-align: top;
    display: inline-block;
    height: 585px;
    float: none;
}

.uploader-modal .mediaBrowserNavigation, .media-browser-modal-window .mediaBrowserNavigation {
    font-size: 14px;
    width: 180px;
    border-right: 1px solid #dddddd;
}

.uploader-modal .mediaBrowserNavigation ul, .media-browser-modal-window .mediaBrowserNavigation ul {
    padding: 0;
    list-style: none;
    margin: 18px 0 0;
    height: 521px;
}

.uploader-modal .mediaBrowserNavigation > ul li a, .media-browser-modal-window .mediaBrowserNavigation > ul li a {
    display: block;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.uploader-modal .mediaBrowserNavigation > ul li a:hover, .media-browser-modal-window .mediaBrowserNavigation > ul li a:hover, .uploader-modal .mediaBrowserNavigation > ul li.active-tab a, .media-browser-modal-window .mediaBrowserNavigation > ul li.active-tab a {
    background-color: #0469b2;
    color: white;
}

.uploader-modal .mediaBrowserNavigation i, .media-browser-modal-window .mediaBrowserNavigation i {
    top: 2px;
    position: relative;
    right: 5px;
}

.uploader-modal .mediaBrowserNavigation select, .media-browser-modal-window .mediaBrowserNavigation select {
    height: 31px;
    width: 150px;
    margin: 0 7%;
    background: #ffffff;
    padding: 5px;
}

.media-browser-modal-window .mediaBrowserNavigation select.loading {
    display: none \9;
}

.uploader-modal .mediaBrowserContent, .media-browser-modal-window .mediaBrowserContent {
    display: inline-block;
    width: calc(100% - 181px);
}

.uploader-modal .mediaBrowserContent .tab-pane, .media-browser-modal-window .mediaBrowserContent .tab-pane {
    width: 100%;
}

.uploader-modal .mediaBrowserContent .tab-pane.active-tab, .media-browser-modal-window .mediaBrowserContent .tab-pane.active-tab {
    display: inline-block;
}

.uploader-modal .tabMediaBrowserHeader, .media-browser-modal-window .tabMediaBrowserHeader {
    font-size: 21px;
    font-size: 1.75rem;
    border-bottom: 1px solid #dddddd;
    padding: 6px 20px;
    padding-bottom: 17px;
}

.uploader-modal .tabMediaBrowserHeader i, .media-browser-modal-window .tabMediaBrowserHeader i {
    position: relative;
    top: 9px;
    margin-right: 8px;
}

.uploader-modal .tabMediaBrowserBreadcrumbs, .media-browser-modal-window .tabMediaBrowserBreadcrumbs {
    border-bottom: 1px solid #dddddd;
}

.uploader-modal .tabMediaBrowserBreadcrumbs > ul, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul {
    height: 7px;
    padding-left: 24px;
    list-style: none;
}

.uploader-modal .tabMediaBrowserBreadcrumbs > ul li, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul li {
    display: inline-block;
    float: left;
    width: auto;
    padding: 0 0 0 2px;
    margin: 0;
    font-size: 12px;
    font-size: 1rem;
    line-height: 8px;
}

.uploader-modal .tabMediaBrowserBreadcrumbs li:before, .media-browser-modal-window .tabMediaBrowserBreadcrumbs li:before {
    content: "> ";
}

.uploader-modal .tabMediaBrowserBreadcrumbs li:first-child:before, .media-browser-modal-window .tabMediaBrowserBreadcrumbs li:first-child:before {
    content: " ";
}

.uploader-modal .tabMediaBrowserBreadcrumbs > ul li a, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul li a {
    color: #444444;
    text-decoration: none;
}

.uploader-modal .tabMediaBrowserBreadcrumbs > ul li:last-child a, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul li:last-child a {
    font-weight: bold;
}

.uploader-modal .tabMediaBrowserBreadcrumbs > ul li a:hover, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul li a:hover, .uploader-modal .tabMediaBrowserBreadcrumbs > ul li.active a, .media-browser-modal-window .tabMediaBrowserBreadcrumbs > ul li.active a {
    color: black;
    text-decoration: none;
}

.uploader-modal .tabMediaBrowserContent, .media-browser-modal-window .tabMediaBrowserContent {
    height: 490px;
}

.uploader-modal #sitestructure .tabMediaBrowserContent, .media-browser-modal-window #sitestructure .tabMediaBrowserContent {
    height: 452px;
}

.uploader-modal .tabMediaBrowserFooter, .media-browser-modal-window .tabMediaBrowserFooter {
    border-top: 1px solid #dddddd;
    vertical-align: bottom;
    padding: 13px 0 0 13px;
    background: #ffffff;
}

.uploader-modal .no-nav .mediaBrowserNavigation, .media-browser-modal-window .no-nav .mediaBrowserNavigation {
    display: none;
}

.uploader-modal .no-nav .mediaBrowserContent, .media-browser-modal-window .no-nav .mediaBrowserContent {
    width: 100%;
}

.uploader-modal .uploadPlatform, .media-browser-modal-window .uploadPlatform, .uploader-modal .loadingPlatform, .media-browser-modal-window .loadingPlatform {
    text-align: center;
    padding-top: 140px;
    width: 80%;
    margin: auto;
}

.uploader-modal .loadingPlatform, .media-browser-modal-window .loadingPlatform {
    position: absolute;
    background: #ffffff;
    z-index: 10;
}

.uploader-modal .uploadPlatform, .media-browser-modal-window .uploadPlatform {
    padding-top: 60px;
    padding-bottom: 60px;
}

.uploader-modal .dropzoneText1, .media-browser-modal-window .dropzoneText1, .uploader-modal .dropzoneText2, .media-browser-modal-window .dropzoneText2, .uploader-modal .loadingText1, .media-browser-modal-window .loadingText1, .uploader-modal .loadingText2, .media-browser-modal-window .loadingText2 {
    margin: 5px 0;
    font-size: 31px;
    font-weight: normal;
    color: #999999;
    line-height: normal;
}

.uploader-modal .loadingText2, .media-browser-modal-window .loadingText2, .uploader-modal .dropzoneText2, .media-browser-modal-window .dropzoneText2 {
    font-size: 18px;
}

.uploader-modal table.adminlist.filelist, .media-browser-modal-window table.adminlist.filelist {
    width: 94%;
    margin: 20px 3% 0;
    font-size: 14px;
}

.uploader-modal table.adminlist.filelist tr th:last-child, .media-browser-modal-window table.adminlist.filelist tr th:last-child {
    text-align: right;
}

.uploader-modal table.adminlist.filelist .actions a, .media-browser-modal-window table.adminlist.filelist .actions a {
    font-size: 12px;
    color: #444444;
}

.uploader-modal table.adminlist.filelist .actions, .media-browser-modal-window table.adminlist.filelist .actions {
    text-align: right;
}

.uploader-modal .adminlist.filelist i, .media-browser-modal-window .adminlist.filelist i {
    margin-top: 3px;
}

.uploader-modal .adminlist.filelist a:hover, .media-browser-modal-window .adminlist.filelist a:hover {
    text-decoration: none;
}

.uploader-modal .adminlist td.fileSize, .media-browser-modal-window .adminlist td.fileSize {
    text-align: right;
}

.uploader-modal .FilebrowserCtrl, .media-browser-modal-window .FilebrowserCtrl, .uploader-modal .sitestructureCtrl, .media-browser-modal-window .sitestructureCtrl {
    overflow-y: scroll;
    height: 100%;
}

.uploader-modal .FilebrowserCtrl::-webkit-scrollbar, .media-browser-modal-window .FilebrowserCtrl::-webkit-scrollbar, .uploader-modal .sitestructureCtrl::-webkit-scrollbar, .media-browser-modal-window .sitestructureCtrl::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.uploader-modal .FilebrowserCtrl::-webkit-scrollbar-track-piece, .media-browser-modal-window .FilebrowserCtrl::-webkit-scrollbar-track-piece, .uploader-modal .sitestructureCtrl::-webkit-scrollbar-track-piece, .media-browser-modal-window .sitestructureCtrl::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

.uploader-modal .FilebrowserCtrl::-webkit-scrollbar-thumb:vertical, .media-browser-modal-window .FilebrowserCtrl::-webkit-scrollbar-thumb:vertical, .uploader-modal .sitestructureCtrl::-webkit-scrollbar-thumb:vertical, .media-browser-modal-window .sitestructureCtrl::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #444444;
}

.uploader-modal .FilebrowserCtrl::-webkit-scrollbar-thumb:horizontal, .media-browser-modal-window .FilebrowserCtrl::-webkit-scrollbar-thumb:horizontal, .uploader-modal .sitestructureCtrl::-webkit-scrollbar-thumb:horizontal, .media-browser-modal-window .sitestructureCtrl::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    background-color: #444444;
}

.uploader-modal .uploadFiles, .media-browser-modal-window .uploadFiles {
    margin-left: -54px;
    list-style: none;
}

.uploader-modal .uploadFiles li, .media-browser-modal-window .uploadFiles li {
    display: block;
}

.uploader-modal .uploadFiles li:after, .media-browser-modal-window .uploadFiles li:after {
    content: ", ";
}

.uploader-modal .uploadFiles li:last-child:after, .media-browser-modal-window .uploadFiles li:last-child:after {
    content: "";
}

.uploader-modal .col-name, .media-browser-modal-window .col-name, .uploader-modal .col-icon, .media-browser-modal-window .col-icon {
    display: inline-block;
    min-width: 10px;
    padding: 4px;
    vertical-align: middle;
}

.uploader-modal .data-row, .media-browser-modal-window .data-row {
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    width: 94%;
    margin: 1px 3%;
    border-bottom: 1px solid #dddddd;
}

.uploader-modal .data-row a:hover, .media-browser-modal-window .data-row a:hover {
    text-decoration: none;
    color: #0469b2;
}

.uploader-modal .modal-drag-overlay, .media-browser-modal-window .modal-drag-overlay, .uploader-modal .modal-content, .media-browser-modal-window .modal-content {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.uploader-modal .fileOptions, .media-browser-modal-window .fileOptions {
    border-bottom: 1px solid #dddddd;
    padding: 0 20px 20px;
}

#content .media-browser-modal-window .fileOptions .btn,
.media-browser-modal-window .fileOptions .btn {
    padding: 4px 8px;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 5px;
}

.uploader-modal input.searchterm, .media-browser-modal-window input.searchterm {
    margin-top: 20px;
    display: inline-block;
    width: 25%;
    padding: 6px 12px;
    font-size: 14px;
    color: #444444;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: inherit;
}

.uploader-modal input.searchterm:focus, .media-browser-modal-window input.searchterm:focus {
    border-color: #0469b2;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.uploader-modal .fileActions, .media-browser-modal-window .fileActions {
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 44px;
}

.uploader-modal .fileActions > ul, .media-browser-modal-window .fileActions > ul {
    height: 7px;
    list-style: none;
}

.uploader-modal .fileActions > ul li, .media-browser-modal-window .fileActions > ul li {
    display: inline-block;
    float: left;
    padding: 0 0 0 5px;
    margin: 0;
    margin-top: -5px;
}

.uploader-modal .fileActions > ul li a, .media-browser-modal-window .fileActions > ul li a {
    text-decoration: none;
}

.uploader-modal .contentWithOptions, .media-browser-modal-window .contentWithOptions {
    height: 421px;
}

.uploader-modal table.adminlist .text-right, .media-browser-modal-window table.adminlist .text-right, .uploader-modal .text-right, .media-browser-modal-window .text-right {
    text-align: right;
}

#mediabrowser-renamefile .file-dot {
    display: inline-block;
    margin-right: 2%;
    font-size: 18px;
}

#mediabrowser-renamefile .file-name {
    width: 70%;
    display: inline-block;
    margin-right: 2%;
}

#mediabrowser-renamefile .file-extension {
    width: 20%;
    display: inline-block;
}

.uploader-modal span.fileActions-text, .media-browser-modal-window span.fileActions-text {
    display: none;
    vertical-align: top;
    padding: 11px 0 0 0;
    color: #444444;
}

@media (min-width: 1024px) {
    .uploader-modal span.fileActions-text, .media-browser-modal-window span.fileActions-text {
        display: inline-block;
    }
}

.uploader-modal .col-icon, .media-browser-modal-window .col-icon {
    -webkit-transition: .3s padding;
    transition: .3s padding;
}

.uploader-modal .col-icon.level_1, .media-browser-modal-window .col-icon.level_1 {
    padding-left: 30px;
}

.uploader-modal .col-icon.level_2, .media-browser-modal-window .col-icon.level_2 {
    padding-left: 60px;
}

.uploader-modal .col-icon.level_3, .media-browser-modal-window .col-icon.level_3 {
    padding-left: 90px;
}

.uploader-modal .col-icon.level_4, .media-browser-modal-window .col-icon.level_4 {
    padding-left: 120px;
}

.uploader-modal .col-icon.level_5, .media-browser-modal-window .col-icon.level_5 {
    padding-left: 150px;
}

.uploader-modal .col-icon.level_6, .media-browser-modal-window .col-icon.level_6 {
    padding-left: 180px;
}

.uploader-modal .col-icon.filtered, .media-browser-modal-window .col-icon.filtered {
    padding-left: 0;
}

.uploader-modal .animation, .media-browser-modal-window .animation {
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
}

.uploader-modal .animation.ng-enter, .media-browser-modal-window .animation.ng-enter {
    opacity: 0;
}

.uploader-modal .animation.ng-leave, .media-browser-modal-window .animation.ng-leave {
    opacity: 1;
}

.uploader-modal .animation.ng-enter.ng-enter-active, .media-browser-modal-window .animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.uploader-modal .animation.ng-leave.ng-leave-active, .media-browser-modal-window .animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.uploader-modal .table, .media-browser-modal-window .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    will-change: height, max-height;
}

.uploader-modal .file-list-wrapper,
.uploader-modal .uploadControl {
    will-change: height, max-height;
}

.uploader-modal .table > thead > tr > th, .media-browser-modal-window .table > thead > tr > th, .uploader-modal .table > tbody > tr > th, .media-browser-modal-window .table > tbody > tr > th, .uploader-modal .table > tfoot > tr > th, .media-browser-modal-window .table > tfoot > tr > th, .uploader-modal .table > thead > tr > td, .media-browser-modal-window .table > thead > tr > td, .uploader-modal .table > tbody > tr > td, .media-browser-modal-window .table > tbody > tr > td, .uploader-modal .table > tfoot > tr > td, .media-browser-modal-window .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.uploader-modal .table > thead > tr > th, .media-browser-modal-window .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.uploader-modal .table > caption + thead > tr:first-child > th, .media-browser-modal-window .table > caption + thead > tr:first-child > th, .uploader-modal .table > colgroup + thead > tr:first-child > th, .media-browser-modal-window .table > colgroup + thead > tr:first-child > th, .uploader-modal .table > thead:first-child > tr:first-child > th, .media-browser-modal-window .table > thead:first-child > tr:first-child > th, .uploader-modal .table > caption + thead > tr:first-child > td, .media-browser-modal-window .table > caption + thead > tr:first-child > td, .uploader-modal .table > colgroup + thead > tr:first-child > td, .media-browser-modal-window .table > colgroup + thead > tr:first-child > td, .uploader-modal .table > thead:first-child > tr:first-child > td, .media-browser-modal-window .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.uploader-modal .table > tbody + tbody, .media-browser-modal-window .table > tbody + tbody {
    border-top: 2px solid #dddddd;
}

.uploader-modal .table .table, .media-browser-modal-window .table .table {
    background-color: #ffffff;
}

.uploader-modal .table-condensed > thead > tr > th, .media-browser-modal-window .table-condensed > thead > tr > th, .uploader-modal .table-condensed > tbody > tr > th, .media-browser-modal-window .table-condensed > tbody > tr > th, .uploader-modal .table-condensed > tfoot > tr > th, .media-browser-modal-window .table-condensed > tfoot > tr > th, .uploader-modal .table-condensed > thead > tr > td, .media-browser-modal-window .table-condensed > thead > tr > td, .uploader-modal .table-condensed > tbody > tr > td, .media-browser-modal-window .table-condensed > tbody > tr > td, .uploader-modal .table-condensed > tfoot > tr > td, .media-browser-modal-window .table-condensed > tfoot > tr > td {
    padding: 5px;
}

.uploader-modal .table-bordered, .media-browser-modal-window .table-bordered {
    border: 1px solid #dddddd;
}

.uploader-modal .table-bordered > thead > tr > th, .media-browser-modal-window .table-bordered > thead > tr > th, .uploader-modal .table-bordered > tbody > tr > th, .media-browser-modal-window .table-bordered > tbody > tr > th, .uploader-modal .table-bordered > tfoot > tr > th, .media-browser-modal-window .table-bordered > tfoot > tr > th, .uploader-modal .table-bordered > thead > tr > td, .media-browser-modal-window .table-bordered > thead > tr > td, .uploader-modal .table-bordered > tbody > tr > td, .media-browser-modal-window .table-bordered > tbody > tr > td, .uploader-modal .table-bordered > tfoot > tr > td, .media-browser-modal-window .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}

.uploader-modal .table-bordered > thead > tr > th, .media-browser-modal-window .table-bordered > thead > tr > th, .uploader-modal .table-bordered > thead > tr > td, .media-browser-modal-window .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.uploader-modal .table-striped > tbody > tr:nth-child(odd) > td, .media-browser-modal-window .table-striped > tbody > tr:nth-child(odd) > td, .uploader-modal .table-striped > tbody > tr:nth-child(odd) > th, .media-browser-modal-window .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ffffff;
}

.uploader-modal .table-hover > tbody > tr:hover > td, .media-browser-modal-window .table-hover > tbody > tr:hover > td, .uploader-modal .table-hover > tbody > tr:hover > th, .media-browser-modal-window .table-hover > tbody > tr:hover > th {
    background-color: #ffffff;
}

.uploader-modal table col[class*=col-], .media-browser-modal-window table col[class*=col-] {
    position: static;
    display: table-column;
    float: none;
}

.uploader-modal table td[class*=col-], .media-browser-modal-window table td[class*=col-], .uploader-modal table th[class*=col-], .media-browser-modal-window table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}

.uploader-modal .table > thead > tr > td.active, .media-browser-modal-window .table > thead > tr > td.active, .uploader-modal .table > tbody > tr > td.active, .media-browser-modal-window .table > tbody > tr > td.active, .uploader-modal .table > tfoot > tr > td.active, .media-browser-modal-window .table > tfoot > tr > td.active, .uploader-modal .table > thead > tr > th.active, .media-browser-modal-window .table > thead > tr > th.active, .uploader-modal .table > tbody > tr > th.active, .media-browser-modal-window .table > tbody > tr > th.active, .uploader-modal .table > tfoot > tr > th.active, .media-browser-modal-window .table > tfoot > tr > th.active, .uploader-modal .table > thead > tr.active > td, .media-browser-modal-window .table > thead > tr.active > td, .uploader-modal .table > tbody > tr.active > td, .media-browser-modal-window .table > tbody > tr.active > td, .uploader-modal .table > tfoot > tr.active > td, .media-browser-modal-window .table > tfoot > tr.active > td, .uploader-modal .table > thead > tr.active > th, .media-browser-modal-window .table > thead > tr.active > th, .uploader-modal .table > tbody > tr.active > th, .media-browser-modal-window .table > tbody > tr.active > th, .uploader-modal .table > tfoot > tr.active > th, .media-browser-modal-window .table > tfoot > tr.active > th {
    background-color: #ffffff;
}

.uploader-modal .table-hover > tbody > tr > td.active:hover, .media-browser-modal-window .table-hover > tbody > tr > td.active:hover, .uploader-modal .table-hover > tbody > tr > th.active:hover, .media-browser-modal-window .table-hover > tbody > tr > th.active:hover, .uploader-modal .table-hover > tbody > tr.active:hover > td, .media-browser-modal-window .table-hover > tbody > tr.active:hover > td, .uploader-modal .table-hover > tbody > tr:hover > .active, .media-browser-modal-window .table-hover > tbody > tr:hover > .active, .uploader-modal .table-hover > tbody > tr.active:hover > th, .media-browser-modal-window .table-hover > tbody > tr.active:hover > th {
    background-color: #dddddd;
}

.uploader-modal .table > thead > tr > td.success, .media-browser-modal-window .table > thead > tr > td.success, .uploader-modal .table > tbody > tr > td.success, .media-browser-modal-window .table > tbody > tr > td.success, .uploader-modal .table > tfoot > tr > td.success, .media-browser-modal-window .table > tfoot > tr > td.success, .uploader-modal .table > thead > tr > th.success, .media-browser-modal-window .table > thead > tr > th.success, .uploader-modal .table > tbody > tr > th.success, .media-browser-modal-window .table > tbody > tr > th.success, .uploader-modal .table > tfoot > tr > th.success, .media-browser-modal-window .table > tfoot > tr > th.success, .uploader-modal .table > thead > tr.success > td, .media-browser-modal-window .table > thead > tr.success > td, .uploader-modal .table > tbody > tr.success > td, .media-browser-modal-window .table > tbody > tr.success > td, .uploader-modal .table > tfoot > tr.success > td, .media-browser-modal-window .table > tfoot > tr.success > td, .uploader-modal .table > thead > tr.success > th, .media-browser-modal-window .table > thead > tr.success > th, .uploader-modal .table > tbody > tr.success > th, .media-browser-modal-window .table > tbody > tr.success > th, .uploader-modal .table > tfoot > tr.success > th, .media-browser-modal-window .table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.uploader-modal .table-hover > tbody > tr > td.success:hover, .media-browser-modal-window .table-hover > tbody > tr > td.success:hover, .uploader-modal .table-hover > tbody > tr > th.success:hover, .media-browser-modal-window .table-hover > tbody > tr > th.success:hover, .uploader-modal .table-hover > tbody > tr.success:hover > td, .media-browser-modal-window .table-hover > tbody > tr.success:hover > td, .uploader-modal .table-hover > tbody > tr:hover > .success, .media-browser-modal-window .table-hover > tbody > tr:hover > .success, .uploader-modal .table-hover > tbody > tr.success:hover > th, .media-browser-modal-window .table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.uploader-modal .table > thead > tr > td.info, .media-browser-modal-window .table > thead > tr > td.info, .uploader-modal .table > tbody > tr > td.info, .media-browser-modal-window .table > tbody > tr > td.info, .uploader-modal .table > tfoot > tr > td.info, .media-browser-modal-window .table > tfoot > tr > td.info, .uploader-modal .table > thead > tr > th.info, .media-browser-modal-window .table > thead > tr > th.info, .uploader-modal .table > tbody > tr > th.info, .media-browser-modal-window .table > tbody > tr > th.info, .uploader-modal .table > tfoot > tr > th.info, .media-browser-modal-window .table > tfoot > tr > th.info, .uploader-modal .table > thead > tr.info > td, .media-browser-modal-window .table > thead > tr.info > td, .uploader-modal .table > tbody > tr.info > td, .media-browser-modal-window .table > tbody > tr.info > td, .uploader-modal .table > tfoot > tr.info > td, .media-browser-modal-window .table > tfoot > tr.info > td, .uploader-modal .table > thead > tr.info > th, .media-browser-modal-window .table > thead > tr.info > th, .uploader-modal .table > tbody > tr.info > th, .media-browser-modal-window .table > tbody > tr.info > th, .uploader-modal .table > tfoot > tr.info > th, .media-browser-modal-window .table > tfoot > tr.info > th {
    background-color: #dddddd;
}

.uploader-modal .table-hover > tbody > tr > td.info:hover, .media-browser-modal-window .table-hover > tbody > tr > td.info:hover, .uploader-modal .table-hover > tbody > tr > th.info:hover, .media-browser-modal-window .table-hover > tbody > tr > th.info:hover, .uploader-modal .table-hover > tbody > tr.info:hover > td, .media-browser-modal-window .table-hover > tbody > tr.info:hover > td, .uploader-modal .table-hover > tbody > tr:hover > .info, .media-browser-modal-window .table-hover > tbody > tr:hover > .info, .uploader-modal .table-hover > tbody > tr.info:hover > th, .media-browser-modal-window .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.uploader-modal .table > thead > tr > td.warning, .media-browser-modal-window .table > thead > tr > td.warning, .uploader-modal .table > tbody > tr > td.warning, .media-browser-modal-window .table > tbody > tr > td.warning, .uploader-modal .table > tfoot > tr > td.warning, .media-browser-modal-window .table > tfoot > tr > td.warning, .uploader-modal .table > thead > tr > th.warning, .media-browser-modal-window .table > thead > tr > th.warning, .uploader-modal .table > tbody > tr > th.warning, .media-browser-modal-window .table > tbody > tr > th.warning, .uploader-modal .table > tfoot > tr > th.warning, .media-browser-modal-window .table > tfoot > tr > th.warning, .uploader-modal .table > thead > tr.warning > td, .media-browser-modal-window .table > thead > tr.warning > td, .uploader-modal .table > tbody > tr.warning > td, .media-browser-modal-window .table > tbody > tr.warning > td, .uploader-modal .table > tfoot > tr.warning > td, .media-browser-modal-window .table > tfoot > tr.warning > td, .uploader-modal .table > thead > tr.warning > th, .media-browser-modal-window .table > thead > tr.warning > th, .uploader-modal .table > tbody > tr.warning > th, .media-browser-modal-window .table > tbody > tr.warning > th, .uploader-modal .table > tfoot > tr.warning > th, .media-browser-modal-window .table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.uploader-modal .table-hover > tbody > tr > td.warning:hover, .media-browser-modal-window .table-hover > tbody > tr > td.warning:hover, .uploader-modal .table-hover > tbody > tr > th.warning:hover, .media-browser-modal-window .table-hover > tbody > tr > th.warning:hover, .uploader-modal .table-hover > tbody > tr.warning:hover > td, .media-browser-modal-window .table-hover > tbody > tr.warning:hover > td, .uploader-modal .table-hover > tbody > tr:hover > .warning, .media-browser-modal-window .table-hover > tbody > tr:hover > .warning, .uploader-modal .table-hover > tbody > tr.warning:hover > th, .media-browser-modal-window .table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

.uploader-modal .table > thead > tr > td.danger, .media-browser-modal-window .table > thead > tr > td.danger, .uploader-modal .table > tbody > tr > td.danger, .media-browser-modal-window .table > tbody > tr > td.danger, .uploader-modal .table > tfoot > tr > td.danger, .media-browser-modal-window .table > tfoot > tr > td.danger, .uploader-modal .table > thead > tr > th.danger, .media-browser-modal-window .table > thead > tr > th.danger, .uploader-modal .table > tbody > tr > th.danger, .media-browser-modal-window .table > tbody > tr > th.danger, .uploader-modal .table > tfoot > tr > th.danger, .media-browser-modal-window .table > tfoot > tr > th.danger, .uploader-modal .table > thead > tr.danger > td, .media-browser-modal-window .table > thead > tr.danger > td, .uploader-modal .table > tbody > tr.danger > td, .media-browser-modal-window .table > tbody > tr.danger > td, .uploader-modal .table > tfoot > tr.danger > td, .media-browser-modal-window .table > tfoot > tr.danger > td, .uploader-modal .table > thead > tr.danger > th, .media-browser-modal-window .table > thead > tr.danger > th, .uploader-modal .table > tbody > tr.danger > th, .media-browser-modal-window .table > tbody > tr.danger > th, .uploader-modal .table > tfoot > tr.danger > th, .media-browser-modal-window .table > tfoot > tr.danger > th {
    background-color: #dddddd;
}

.uploader-modal .table-hover > tbody > tr > td.danger:hover, .media-browser-modal-window .table-hover > tbody > tr > td.danger:hover, .uploader-modal .table-hover > tbody > tr > th.danger:hover, .media-browser-modal-window .table-hover > tbody > tr > th.danger:hover, .uploader-modal .table-hover > tbody > tr.danger:hover > td, .media-browser-modal-window .table-hover > tbody > tr.danger:hover > td, .uploader-modal .table-hover > tbody > tr:hover > .danger, .media-browser-modal-window .table-hover > tbody > tr:hover > .danger, .uploader-modal .table-hover > tbody > tr.danger:hover > th, .media-browser-modal-window .table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

.uploader-modal .modal-table td, .media-browser-modal-window .modal-table td {
    vertical-align: middle;
    padding: 5px 0;
}

.uploader-modal #FileSearchIsRegexLabel, .media-browser-modal-window #FileSearchIsRegexLabel {
    font-weight: normal;
    margin-left: 6px;
    margin-top: 29px;
    vertical-align: top;
    display: inline-block;
}

.uploader-modal input#FileSearchIsRegex, .media-browser-modal-window input#FileSearchIsRegex {
    margin-top: 0;
}

.uploader-button-hidden {
    display: none;
}

.uploader-modal .preview-image-path, .media-browser-modal-window .preview-image-path {
    background: #0469B2;
    padding: 5px 10px;
    color: #ffffff;
    word-wrap: break-word;
}

.uploader-modal .drag-zone {
    color: #dddddd;
    text-align: center;
    padding: 0;
    margin: 10px 0;
    font-size: 20px;
    overflow: hidden;
    -webkit-transition: .6s color, .6s border;
    transition: .6s color, .6s border;
}

@media (min-width: 1280px) {
    .uploader-modal .drag-zone {
        padding: 60px 30px;
    }
}

.uploader-modal .drag-zone.dragover {
    color: #7fc600;
}

.uploader-modal .drag-zone:after {
    left: 15px;
    bottom: 0;
    position: absolute;
    background: #7fc600;
    content: "+";
    height: 30px;
    width: 30px;
    color: #ffffff;
    font-size: 31px;
    text-align: center;
    padding: 1px 4px 5px;
    border-radius: 100%;
    opacity: 0;
    -webkit-transition: .6s bottom, .6s opacity;
    transition: .6s bottom, .6s opacity;
}

.uploader-modal .drag-zone.dragover:after {
    opacity: 1;
    position: absolute;
    left: 15px;
    bottom: 30px;
}

.uploader-modal .drag-zone .error, .uploader-modal .uploadPlatform .error, .media-browser-modal-window .uploadPlatform .error {
    right: 15px;
    bottom: 0;
    position: absolute;
    background: #999999;
    color: #ffffff;
    text-align: center;
    padding: 5px 8px;
    opacity: 0;
    -webkit-transition: .6s bottom, .6s opacity;
    transition: .6s bottom, .6s opacity;
    font-size: 15px;
}

.uploader-modal .drag-zone.fileError .error, .uploader-modal .uploadPlatform.fileError .error, .media-browser-modal-window .uploadPlatform.fileError .error {
    opacity: 1;
    position: absolute;
    right: 15px;
    bottom: 30px;
}

.uploader-modal .uploadPlatform.fileError .error, .media-browser-modal-window .uploadPlatform.fileError .error {
    bottom: 15px;
}

.uploader-modal .upload-file .progress {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.uploader-modal .upload-file .previewImage img, .uploader-modal .upload-file .previewImage {
    width: 100%;
    max-width: 60px;
}

.uploader-modal .upload-file td:first-child {
    width: 15%;
}

.uploader-modal .close-upload-modal.not-finished {
    opacity: 0;
}

.uploader-modal .close-upload-modal {
    opacity: 1;
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
}

.uploader-modal .upload-file td {
    -webkit-transition: .3s background;
    transition: .3s background;
}

.uploader-modal .uploadControl {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.6s max-height ease-out, 0.6s height ease-out;
    -moz-transition: 0.6s max-height ease-out, 0.6s height ease-out;
    -ms-transition: 0.6s max-height ease-out, 0.6s height ease-out;
    -o-transition: 0.6s max-height ease-out, 0.6s height ease-out;
    transition: 0.6s max-height ease-out, 0.6s height ease-out;
}

.uploader-modal .uploadControl.open {
    max-height: 2000px;
    overflow: hidden;
}

.uploader-modal .file-list-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.uploader-modal .errorMessage {
    color: #999999;
    font-weight: bold;
    display: block;
}

.uploader-modal .errorMessage .info, .uploader-modal .errorMessage .warning {
    color: #000;
}

.uploader-modal .file-list-wrapper::-webkit-scrollbar, .media-browser-modal-window .file-list-wrapper::-webkit-scrollbar, .uploader-modal .uploadlist::-webkit-scrollbar, .media-browser-modal-window .uploadlist::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.uploader-modal .file-list-wrapper::-webkit-scrollbar-track-piece, .media-browser-modal-window .file-list-wrapper::-webkit-scrollbar-track-piece, .uploader-modal .uploadlist::-webkit-scrollbar-track-piece, .media-browser-modal-window .uploadlist::-webkit-scrollbar-track-piece {
    background-color: #dddddd;
}

.uploader-modal .file-list-wrapper::-webkit-scrollbar-thumb:vertical, .media-browser-modal-window .file-list-wrapper::-webkit-scrollbar-thumb:vertical, .uploader-modal .uploadlist::-webkit-scrollbar-thumb:vertical, .media-browser-modal-window .uploadlist::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #444444;
}

.uploader-modal .file-list-wrapper::-webkit-scrollbar-thumb:horizontal, .media-browser-modal-window .file-list-wrapper::-webkit-scrollbar-thumb:horizontal, .uploader-modal .uploadlist::-webkit-scrollbar-thumb:horizontal, .media-browser-modal-window .uploadlist::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    background-color: #444444;
}

.uploader-modal .tooltip, .media-browser-modal-window .tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.uploader-modal .tooltip.in, .media-browser-modal-window .tooltip.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

.uploader-modal .tooltip.top, .media-browser-modal-window .tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.uploader-modal .tooltip.right, .media-browser-modal-window .tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.uploader-modal .tooltip.bottom, .media-browser-modal-window .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.uploader-modal .tooltip.left, .media-browser-modal-window .tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.uploader-modal .tooltip-inner, .media-browser-modal-window .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}

.uploader-modal .tooltip-arrow, .media-browser-modal-window .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.uploader-modal .tooltip.top .tooltip-arrow, .media-browser-modal-window .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.uploader-modal .tooltip.top-left .tooltip-arrow, .media-browser-modal-window .tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.uploader-modal .tooltip.top-right .tooltip-arrow, .media-browser-modal-window .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.uploader-modal .tooltip.right .tooltip-arrow, .media-browser-modal-window .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.uploader-modal .tooltip.left .tooltip-arrow, .media-browser-modal-window .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.uploader-modal .tooltip.bottom .tooltip-arrow, .media-browser-modal-window .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.uploader-modal .tooltip.bottom-left .tooltip-arrow, .media-browser-modal-window .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.uploader-modal .tooltip.bottom-right .tooltip-arrow, .media-browser-modal-window .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

#thumbnailSelector .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    -webkit-transition: .5s all;
    transition: .5s all;
}

#thumbnailSelector .thumbnail-size {
    margin: 10px 0 0 0;
}

.uploader-modal .uploadlist, .media-browser-modal-window .uploadlist {
    height: 200px;
    overflow-x: visible;
    overflow-y: scroll;
}

.media-browser-modal-window tr.data-row:hover {
    background-color: #dddddd;
}

.media-browser-modal-window tr.data-row.files td.col_2 a {
    display: block !important; /* Fix for conflict with prototype */
}

.media-browser-modal-window .uploadlist .fileName {
    max-width: 200px;
}

.media-browser-modal-window .btn-small,
.uploader-modal .btn-small {
    padding: 0 5px;
    font-size: 12px;
}

.uploader-modal .uploadlist table, .media-browser-modal-window .uploadlist table {
    max-width: 99%;
}

.uploader-modal .hidden, .media-browser-modal-window .hidden {
    display: none;
}

.uploader-modal .uploadPlatform.uploadFilesAdded, .media-browser-modal-window .uploadPlatform.uploadFilesAdded {
    padding: 0;
    margin: 17px 20px 0 0;
    float: right;
    width: 64%;
    text-align: right;
}

.uploader-modal .uploadPlatform.uploadFilesAdded .progress, .media-browser-modal-window .uploadPlatform.uploadFilesAdded .progress {
    height: 34px;
}

.uploader-modal .uploadPlatform.uploadFilesAdded .progress-bar, .media-browser-modal-window .uploadPlatform.uploadFilesAdded .progress-bar {
    line-height: 34px;
}

.uploader-modal .uploadPlatform.uploadFilesAdded img, .media-browser-modal-window .uploadPlatform.uploadFilesAdded img {
    height: 16px;
    width: auto;
    display: inline-block;
    margin-bottom: -3px;
}

.uploader-modal .table-action, .media-browser-modal-window .table-action {
    width: 10%;
}

.uploader-modal .table-action a, .media-browser-modal-window .table-action a {
    text-decoration: none;
    color: #444444;
}

.uploader-modal .table-progress, .media-browser-modal-window .table-progress {
    width: 40%;
}

.uploader-modal .table-progress .progress, .media-browser-modal-window .table-progress .progress {
    margin: 0;
}

.uploader-modal .uploadPlatform.uploadFilesAdded .dropzoneText2, .media-browser-modal-window .uploadPlatform.uploadFilesAdded .dropzoneText2 {
    display: inline-block;
    margin: 0;
    font-size: 13px;
}

.media-browser-modal-window .successfulUpload {
    position: absolute;
    text-align: left;
    font-size: 18px;
    top: -60px;
    background-color: #7fc600;
    color: #ffffff;
    padding: 10px;
    right: 50%;
    width: 500px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    visibility: hidden;
    display: inline-block;
    margin-right: -250px;
}

.media-browser-modal-window .successfulUpload p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #ffffff;
}

.media-browser-modal-window .successfulUpload.finished {
    visibility: visible;
    opacity: 1;
}

.uploader-modal .media-browser-modal-backdrop, .media-browser-modal-window .media-browser-modal-backdrop {
    z-index: 10030 !important;
}

.media-browser-modal-window, .bootbox {
    z-index: 10050 !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.uploader-modal .upload-limit-tooltip, .media-browser-modal-window .upload-limit-tooltip {
    display: inline-block;
}

.uploader-modal .alert-warning, .media-browser-modal-window .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.uploader-modal .alert, .media-browser-modal-window .alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.uploader-modal .notify-UploadLimit, .media-browser-modal-window .notify-UploadLimit {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    display: none;
}

.uploader-modal .moxie-shim.moxie-shim-html5,
.media-browser-modal-window .moxie-shim.moxie-shim-html5 {
    z-index: 1;
}

#thumbnailSelector img {
    max-width: 100%;
    height: auto;
}
