<div id='cronSettings'>
    <table class="adminlist splitview">
        <caption>{CRON_SETTINGS}</caption>
        <tr>
            <td>{CRON_LAST_EXECUTION}</td>
            <td>{CRON_LAST_EXECUTION_TIME}</td>
        </tr>
    </table>
</div>
