<!-- START settings.html -->
<script>
    var cacheSystem = {
        _switchStatus : function( elm ) {
            var status   = elm.val();
            if (status != "off" && status != "intern" && status != "none") {
                status = "on";
            }
            var rowClass = elm.data( 'id' );
            if ( status == 'on' ) {
                $J( ".setting_no_"+ rowClass).css( "display", "none" );
                $J( "div.setting_"+ rowClass).css( "display", "block" );
                $J( "tr.setting_"+ rowClass).css( "display", "table-row" );
            } else {
                $J( ".setting_"+ rowClass).css( "display", "none" );
                $J( "div.setting_no_"+ rowClass).css( "display", "block" );
                $J( "tr.setting_no_"+ rowClass).css( "display", "table-row" );
            }
        }
    };
    $J(function(){
        $J( ".cache_status" ).click(function(){
            cacheSystem._switchStatus( $J(this) );
        });
        $J( ".cache_status:checked,select.cache_status" ).each(function(){
            cacheSystem._switchStatus( $J(this) );
        });
    });
</script>
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="setTab_Caching1" class="active" href="#">{TXT_CACHE_GENERAL}</a></li>
    <li><a data-tablink="setTab_Caching2" href="#">{TXT_CACHE_STATS}</a></li>
</ul>
<div class="tab setTab_Caching1" data-tablist="default">
    <form name="frmSettings" method="post" action="/cadmin/Config/cache?tpl=update">
        <table class="adminlist splitview">
            <caption>{TXT_CACHE_USERCACHE}</caption>
            <tr>
                <td>{TXT_SETTINGS_STATUS}</td>
                <td>
                    <label><input class="cache_status" data-id="db_caching" type="radio" name="cacheDbStatus" value="on" {SETTINGS_DB_CACHE_STATUS_ON}>{TXT_SETTINGS_ON}</label>
                    <label><input class="cache_status" data-id="db_caching" type="radio" name="cacheDbStatus" value="off" {SETTINGS_DB_CACHE_STATUS_OFF}>{TXT_SETTINGS_OFF}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_STATUS_HELP}</span>
                </td>
            </tr>
        </table>
        <div class="setting_db_caching">
            <table class="adminlist">
                <tr>
                    <th>&nbsp;</th>
                    <th>{TXT_CACHE_ENGINE}</th>
                    <th>{TXT_CACHE_INSTALLATION_STATE}</th>
                    <th>{TXT_CACHE_ACTIVE_STATE}</th>
                    <th>{TXT_CACHE_CONFIGURATION_STATE}</th>
                </tr>
                <tr>
                    <td>
                        <!-- BEGIN cache_usercache_memcached -->
                        <input type="radio" name="usercache" value="memcached" id="usercache_memcached" {CHECKED_USERCACHE_MEMCACHED}>
                        <!-- END cache_usercache_memcached -->
                    </td>
                    <td>
                        <label for="usercache_memcached">{TXT_CACHE_MEMCACHED}</label>
                        <a class="cx-expand cx-expandDown" data-group="memcached">
                            <span class="cx-expandDownText">({TXT_DISPLAY_CONFIGURATION})</span>
                            <span class="cx-expandUpText">({TXT_HIDE_CONFIGURATION})</span>
                        </a>
                    </td>
                    <td><img src="/core/Core/View/Media/icons/{MEMCACHED_USERCACHE_INSTALLATION_ICON}" alt="{MEMCACHED_USERCACHE_INSTALLATION_ICON}"></td>
                    <td>
                        <img src="/core/Core/View/Media/icons/{MEMCACHED_USERCACHE_ACTIVE_ICON}" alt="{MEMCACHED_USERCACHE_ACTIVE_ICON}">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_MEMCACHED_ACTIVE_INFO}</span>
                    </td>
                    <td>
                        <img src="/core/Core/View/Media/icons/{MEMCACHED_USERCACHE_CONFIGURATION_ICON}" alt="{MEMCACHED_USERCACHE_CONFIGURATION_ICON}">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_MEMCACHED_CONFIG_INFO}</span>
                    </td>
                </tr>
                <tr class="cx-expanding" data-group="memcached">
                    <td colspan="5">
                        <label for="memcachedSettingIp">IP:</label>
                        <input type="text" id="memcachedSettingIp" name="memcachedSettingIp" value="{MEMCACHED_USERCACHE_CONFIG_IP}">
                        <label for="memcachedSettingPort">Port:</label>
                        <input type="text" id="memcachedSettingPort" name="memcachedSettingPort" value="{MEMCACHED_USERCACHE_CONFIG_PORT}">
                    </td>
                </tr>
            </table>
        </div>
        <table class="adminlist splitview">
            <caption>{TXT_CACHE_OPCACHE}</caption>
            <tr>
                <td>{TXT_SETTINGS_STATUS}</td>
                <td>
                    <label><input class="cache_status" data-id="program_caching" type="radio" name="cacheOpStatus" value="on" {SETTINGS_OP_CACHE_STATUS_ON}>{TXT_SETTINGS_ON}</label>
                    <label><input class="cache_status" data-id="program_caching" type="radio" name="cacheOpStatus" value="off" {SETTINGS_OP_CACHE_STATUS_OFF}>{TXT_SETTINGS_OFF}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_STATUS_HELP}</span>
                </td>
            </tr>
        </table>
        <div class="setting_program_caching">
            <table class="adminlist">
                <tr>
                    <th>&nbsp;</th>
                    <th>{TXT_CACHE_ENGINE}</th>
                    <th>{TXT_CACHE_INSTALLATION_STATE}</th>
                    <th>{TXT_CACHE_ACTIVE_STATE}</th>
                    <th>{TXT_CACHE_CONFIGURATION_STATE}</th>
                </tr>
                <tr>
                    <td>
                        <!-- BEGIN cache_opcache_zendopcache -->
                        <input type="radio" name="opcache" value="zendopcache" id="opcache_zendopcache" {CHECKED_OPCACHE_ZENDOPCACHE}>
                        <!-- END cache_opcache_zendopcache -->
                    </td>
                    <td><label for="opcache_zendopcache">{TXT_CACHE_ZEND_OPCACHE}</label></td>
                    <td><img src="/core/Core/View/Media/icons/{ZENDOPCACHE_OPCACHE_INSTALLATION_ICON}" alt="{ZENDOPCACHE_OPCACHE_INSTALLATION_ICON}"></td>
                    <td>
                        <img src="/core/Core/View/Media/icons/{ZENDOPCACHE_OPCACHE_ACTIVE_ICON}" alt="{ZENDOPCACHE_OPCACHE_ACTIVE_ICON}">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_ZEND_OPCACHE_ACTIVE_INFO}</span>
                    </td>
                    <td>
                        <img src="/core/Core/View/Media/icons/{ZENDOPCACHE_OPCACHE_CONFIGURATION_ICON}" alt="{ZENDOPCACHE_OPCACHE_CONFIGURATION_ICON}">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_ZEND_OPCACHE_CONFIG_INFO}</span>
                    </td>
                </tr>
            </table>
        </div>
        <table class="adminlist splitview">
            <caption>{TXT_CACHE_CONTREXX_CACHING}</caption>
            <tr>
                <td>{TXT_SETTINGS_STATUS}</td>
                <td>
                    <label><input class="cache_status" data-id="contrexx_caching" type="radio" name="cachingStatus" value="on" {SETTINGS_STATUS_ON}>{TXT_SETTINGS_ON}</label>
                    <label><input class="cache_status" data-id="contrexx_caching" type="radio" name="cachingStatus" value="off" {SETTINGS_STATUS_OFF}>{TXT_SETTINGS_OFF}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_STATUS_HELP}</span>
                </td>
            </tr>
            <tr class="setting_contrexx_caching">
                <td><label for="cachingExpiration">{TXT_SETTINGS_EXPIRATION}</label></td>
                <td>
                    <input type="text" id="cachingExpiration" name="cachingExpiration" value="{SETTINGS_EXPIRATION}" size="70" maxlength="250">
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_EXPIRATION_HELP}</span>
                </td>
            </tr>
        </table>
        <table class="adminlist splitview">
            <caption>{TXT_CACHE_REVERSE_PROXY}</caption>
            <tr>
                <td>{TXT_SETTINGS_STATUS}</td>
                <td>
                    <select name="cacheReverseProxy" class="cache_status" data-id="reverse_proxy_caching">
                        <option {SETTINGS_CACHE_REVERSE_PROXY_NONE} value="none">{TXT_CACHE_REVERSE_PROXY_NONE}</option>
                        <option {SETTINGS_CACHE_REVERSE_PROXY_VARNISH} value="varnish">{TXT_CACHE_REVERSE_PROXY_VARNISH}</option>
                        <option {SETTINGS_CACHE_REVERSE_PROXY_NGINX} value="nginx">{TXT_CACHE_REVERSE_PROXY_NGINX}</option>
                    </select>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_STATUS_HELP}</span>
                </td>
            </tr>
            <tr class="setting_reverse_proxy_caching">
                <td><label for="reverseProxyIp">{TXT_CACHE_PROXY_IP}</label></td>
                <td><input type="text" name="reverseProxyIp" id="reverseProxyIp" value="{PROXYCACHE_CONFIG_IP}"></td>
            </tr>
            <tr class="setting_reverse_proxy_caching">
                <td><label for="reverseProxyPort">{TXT_CACHE_PROXY_PORT}</label></td>
                <td><input type="text" name="reverseProxyPort" id="reverseProxyPort" value="{PROXYCACHE_CONFIG_PORT}"></td>
            </tr>
        </table>
        <table class="adminlist splitview">
            <caption>{TXT_CACHE_SSI}</caption>
            <tr>
                <td>{TXT_CACHE_SSI_SYSTEM}</td>
                <td>
                    <select name="cacheSsiOutput" class="cache_status" data-id="ssi_proxy">
                        <option {SETTINGS_SSI_CACHE_STATUS_INTERN} value="intern">{TXT_CACHE_SSI_INTERN}</option>
                        <option {SETTINGS_SSI_CACHE_STATUS_SSI} value="ssi">{TXT_CACHE_SSI_SSI}</option>
                        <option {SETTINGS_SSI_CACHE_STATUS_ESI} value="esi">{TXT_CACHE_SSI_ESI}</option>
                    </select>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_SSI_HELP_SYSTEM}</span>
                </td>
            </tr>
            <tr class="row2 setting_no_ssi_proxy">
                <td>{TXT_INTERNAL_CACHE_SSI_CACHE}</td>
                <td>
                    <label><input type="radio" name="internalSsiCache" value="on" {INTERNAL_SSI_CACHE_ON}>{TXT_SETTINGS_ON}</label>
                    <label><input type="radio" name="internalSsiCache" value="off" {INTERNAL_SSI_CACHE_OFF}>{TXT_SETTINGS_OFF}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_STATUS_HELP}</span>
                </td>
            </tr>
            <tr class="row2 setting_ssi_proxy">
                <td>{TXT_CACHE_SSI_TYPE}</td>
                <td>
                    <select name="cacheSsiType" data-id="ssi_proxy">
                        <option {SETTINGS_SSI_CACHE_TYPE_VARNISH} value="varnish">{TXT_CACHE_SSI_VARNISH}</option>
                        <option {SETTINGS_SSI_CACHE_TYPE_NGINX} value="nginx">{TXT_CACHE_SSI_NGINX}</option>
                    </select>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CACHE_SSI_HELP_TYPE}</span>
                </td>
            </tr>
            <tr class="setting_ssi_proxy">
                <td><label for="ssiProcessorIp">{TXT_CACHE_SSI_IP}</label></td>
                <td><input type="text" name="ssiProcessorIp" id="ssiProcessorIp" value="{SSI_PROCESSOR_CONFIG_IP}"></td>
            </tr>
            <tr class="setting_ssi_proxy">
                <td><label for="ssiProcessorPort">{TXT_CACHE_SSI_PORT}</label></td>
                <td><input type="text" name="ssiProcessorPort" id="ssiProcessorPort" value="{SSI_PROCESSOR_CONFIG_PORT}"></td>
            </tr>
        </table>
        <!-- BEGIN cache_submit_button -->
        <input type="submit" name="frmSettings_Submit" value="{TXT_SETTINGS_SAVE}">
        <!-- END cache_submit_button -->
    </form>
</div>
<div class="tab setTab_Caching2" data-tablist="default">
    <table class="adminlist splitview">
        <caption>{TXT_CACHE_CONTREXX_CACHING}</caption>
        <tr>
            <td>{TXT_STATS_CACHE_SITE_COUNT}</td>
            <td>{STATS_PAGE_FILE_COUNT}</td>
        </tr>
        <tr>
            <td>{TXT_STATS_FOLDERSIZE}</td>
            <td>{STATS_FOLDERSIZE_PAGES} kB</td>
        </tr>
    </table>
    <input type="button" name="frmEmpty_Submit" value="{TXT_EMPTY_BUTTON}" onclick="location.href = '/cadmin/Config/cache?{CSRF_PARAM}&tpl=empty&tab-default=setTab_Caching2&cache=cxPages'">
    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_EMPTY_DESC}</span>
    <table class="adminlist splitview">
        <caption>{TXT_CACHE_ESI_CACHING}</caption>
        <tr>
            <td>{TXT_STATS_CACHE_SITE_COUNT}</td>
            <td>{STATS_ESI_FILE_COUNT}</td>
        </tr>
        <tr>
            <td>{TXT_STATS_FOLDERSIZE}</td>
            <td>{STATS_FOLDERSIZE_ESI} kB</td>
        </tr>
    </table>
    <input type="button" name="frmEmpty_Submit" value="{TXT_EMPTY_BUTTON}" onclick="location.href = '/cadmin/Config/cache?{CSRF_PARAM}&tpl=empty&tab-default=setTab_Caching2&cache=cxEsi'">
    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_EMPTY_DESC_ESI}</span>
    <!-- BEGIN zendOpCachingStats -->
    <table class="adminlist">
        <caption>{TXT_CACHE_ZEND_OPCACHE}</caption>
        <tr>
            <td>{TXT_STATS_CACHE_SITE_COUNT}</td>
            <td>{STATS_OPCACHE_CACHE_SITE_COUNT}</td>
        </tr>
        <tr>
            <td>{TXT_STATS_CACHE_SIZE}</td>
            <td>{STATS_OPCACHE_SIZE} MB / {STATS_OPCACHE_MAX_SIZE} MB</td>
        </tr>
    </table>
    <input type="button" name="frmEmpty_Submit" value="{TXT_EMPTY_BUTTON}" onclick="location.href = '/cadmin/Config/cache?{CSRF_PARAM}&tpl=empty&tab-default=setTab_Caching2&cache=zendop'">
    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_EMPTY_DESC_ZEND_OP}</span>
    <!-- END zendOpCachingStats -->
    <!-- BEGIN memcachedCachingStats -->
    <table class="adminlist">
        <caption>{TXT_CACHE_MEMCACHED}</caption>
    </table>
    <input type="button" name="frmEmpty_Submit" value="{TXT_EMPTY_BUTTON}" onclick="location.href = '/cadmin/Config/cache?{CSRF_PARAM}&tpl=empty&tab-default=setTab_Caching2&cache=memcached'">
    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_EMPTY_DESC_MEMCACHED}</span>
    <!-- END memcachedCachingStats -->
</div>
<!-- END settings.html -->
