<label for="{TEMPLATEEDITOR_OPTION_NAME}">{TEMPLATEEDITOR_OPTION_HUMAN_NAME}</label>
<div class="image-list" id="image-list-{TEMPLATEEDITOR_OPTION_NAME}">
<!-- BEGIN images -->
<div class="image">
    <img src="{TEMPLATEEDITOR_OPTION_VALUE}" alt="{TEMPLATEEDITOR_OPTION_NAME}"
         id="{TEMPLATEEDITOR_OPTION_NAME}_{TEMPLATEEDITOR_OPTION_ID}_img"/>
    <div class="actions">
        <button class="remove-image button remove-image-{TEMPLATEEDITOR_OPTION_NAME}" data-id="{TEMPLATEEDITOR_OPTION_ID}">
            {TXT_CORE_MODULE_TEMPLATEEDITOR_REMOVE_PICTURE}
        </button>
        <button class="change-image button change-image-{TEMPLATEEDITOR_OPTION_NAME}" data-id="{TEMPLATEEDITOR_OPTION_ID}">
            {TXT_CORE_MODULE_TEMPLATEEDITOR_CHANGE_PICTURE}
        </button>
    </div>
    <input type="text" id="{TEMPLATEEDITOR_OPTION_NAME}_{TEMPLATEEDITOR_OPTION_ID}" class="{TEMPLATEEDITOR_OPTION_NAME}" data-id="{TEMPLATEEDITOR_OPTION_ID}"
           value="{TEMPLATEEDITOR_OPTION_VALUE}"/>
    <div class="error-box"></div>
</div>
<!-- END images -->
</div>
<div class="clearfix"></div>
{MEDIABROWSER_BUTTON}
<script>
    var template{TEMPLATEEDITOR_OPTION_NAME} = '<div class="image"><img src="" alt="{TEMPLATEEDITOR_OPTION_NAME}" id="" /> <div class="actions"> <button class="remove-image button remove-image-{TEMPLATEEDITOR_OPTION_NAME}" data-id=""> Entfernen </button> <button class="change-image button change-image-{TEMPLATEEDITOR_OPTION_NAME}" data-id="">Ändern </button> </div> <input type="text" id="" class="{TEMPLATEEDITOR_OPTION_NAME}" data-id="" value="" /> <div class="error-box"></div></div>';

    var lastId{TEMPLATEEDITOR_OPTION_NAME} = {TEMPLATEEDITOR_LASTID};

    var updateImage{TEMPLATEEDITOR_OPTION_NAME} = function () {
        var id = jQuery(this).data('id');
        cx.variables.get('jquery', 'mediabrowser')('#{MEDIABROWSER_ID}').trigger("click", {
            callback: function (callback) {
                if (callback.type == 'file') {
                    jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + id).val(callback.data[0].datainfo.filepath);
                    jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + id + '_img').attr('src', callback.data[0].datainfo.filepath);
                    jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + id ).trigger('change');
                }
            }
        });
    };

    jQuery('.change-image-{TEMPLATEEDITOR_OPTION_NAME}').click(updateImage{TEMPLATEEDITOR_OPTION_NAME});

    var removeImage{TEMPLATEEDITOR_OPTION_NAME} = function () {
        var id = jQuery(this).data('id');
        var parent = jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + id ).parent();
        parent.addClass('saving');
        updateOption('{TEMPLATEEDITOR_OPTION_NAME}', {url: '', id: jQuery(this).data('id'), action:'remove'}, function () {
            parent.removeClass('saving');
            parent.addClass('saved');
            setTimeout(function () {
                parent.removeClass('saved');
            }, 2000);
            parent.slideUp(function(){
                parent.remove();
            });
        })
    };

    jQuery('.remove-image-{TEMPLATEEDITOR_OPTION_NAME}').click(removeImage{TEMPLATEEDITOR_OPTION_NAME});

    var changeImage{TEMPLATEEDITOR_OPTION_NAME} = function () {
        var parent = jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + jQuery(this).data('id') ).parent();
        var id = jQuery(this).data('id');
        parent.addClass('saving');
        updateOption('{TEMPLATEEDITOR_OPTION_NAME}', {url: jQuery(this).val(), id: id}, function (response) {
            if (response.status == 'error'){
                parent.addClass('error');
                parent.find('.error-box').text(response.message).slideDown();
            }
            else {
                parent.find('.error-box').slideUp();
                parent.find('img').attr('src', response.data.urls[id]);
                parent.removeClass('saving');
                parent.addClass('saved');
                setTimeout(function () {
                    parent.removeClass('saved');
                }, 2000);
            }
        })
    };

    function callback_{TEMPLATEEDITOR_OPTION_NAME}(callback)
    {
        if (callback.type == 'file') {
            lastId{TEMPLATEEDITOR_OPTION_NAME}++;
            var newImage = jQuery(template{TEMPLATEEDITOR_OPTION_NAME});
            newImage.find('img').attr('src', callback.data[0].datainfo.filepath).attr('id', '{TEMPLATEEDITOR_OPTION_NAME}_'+lastId{TEMPLATEEDITOR_OPTION_NAME}+'_img');
            newImage.find('.remove-image-{TEMPLATEEDITOR_OPTION_NAME}').data('id', lastId{TEMPLATEEDITOR_OPTION_NAME}).click(removeImage{TEMPLATEEDITOR_OPTION_NAME});
            newImage.find('.change-image-{TEMPLATEEDITOR_OPTION_NAME}').data('id', lastId{TEMPLATEEDITOR_OPTION_NAME}).click(updateImage{TEMPLATEEDITOR_OPTION_NAME});
            newImage.find('input').val(callback.data[0].datainfo.filepath).data('id', lastId{TEMPLATEEDITOR_OPTION_NAME}).attr('id', '{TEMPLATEEDITOR_OPTION_NAME}_'+lastId{TEMPLATEEDITOR_OPTION_NAME});
            jQuery('#image-list-{TEMPLATEEDITOR_OPTION_NAME}').append(newImage);
            jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + lastId{TEMPLATEEDITOR_OPTION_NAME} ).change(changeImage{TEMPLATEEDITOR_OPTION_NAME});
            jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + lastId{TEMPLATEEDITOR_OPTION_NAME} ).trigger('change');
            jQuery('.options').animate({ scrollTop: (jQuery('#{TEMPLATEEDITOR_OPTION_NAME}_' + lastId{TEMPLATEEDITOR_OPTION_NAME}).offset().top)}, 2000);
        }
    }

    jQuery('.{TEMPLATEEDITOR_OPTION_NAME}').change(changeImage{TEMPLATEEDITOR_OPTION_NAME});
</script>
