<div id="shop">
    <!-- BEGIN core_message -->
    <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span><!-- END core_message --><!-- BEGIN shopConfirm -->
    <div class="order" id="shop_order">
        <form role="form" action="index.php?section=Shop&amp;cmd=confirm" name="shopForm" method="post">
            <div class="table-responsive">
                <table class="table" summary="" cellspacing="2">
                    <tr style="background: #F2F2F2;">
                        <th width="1%" nowrap="nowrap">{TXT_ID}</th>
                        <th width="95%" align="left">{TXT_PRODUCT}</th>
                        <th width="1%" nowrap="nowrap">{TXT_UNIT_PRICE}</th>
                        <th width="1%" nowrap="nowrap">{TXT_QUANTITY}</th>
                        <th width="1%" nowrap="nowrap" class="a_right">{TXT_TOTAL}</th>
                    </tr>
                    <!-- BEGIN shopCartRow -->
                    <tr class="row1">
                        <td nowrap="nowrap">{SHOP_PRODUCT_ID}</td>
                        <td>
                            {SHOP_PRODUCT_TITLE}
                            <!-- BEGIN attributes_OPTIONAL -->
                            <br />{SHOP_PRODUCT_OPTIONS}
                            <!-- END attributes_OPTIONAL -->
                        </td>
                        <td nowrap="nowrap">{SHOP_PRODUCT_ITEMPRICE} {SHOP_UNIT}</td>
                        <td nowrap="nowrap">{SHOP_PRODUCT_QUANTITY}</td>
                        <td nowrap="nowrap" style="text-align: right;">{SHOP_PRODUCT_PRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- END shopCartRow -->
                    <tr class="row3 active">
                        <td colspan="2">
                            {TXT_TOTALLY_GOODS}
                        </td>
                        <td colspan="2" valign="top" nowrap="nowrap">{SHOP_TOTALITEM} {TXT_PRODUCT_S}</td>
                        <td class="a_right">
                            {SHOP_PRODUCT_TOTAL_GOODS}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- BEGIN shopCouponTotal -->
                    <tr class="row3 active">
                        <td colspan="3">
                            {SHOP_DISCOUNT_COUPON_TOTAL}
                        </td>
                        <td>&nbsp;</td>
                        <td class="a_right">
                            {SHOP_DISCOUNT_COUPON_TOTAL_AMOUNT}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- END shopCouponTotal -->
                    <tr class="row3 active">
                        <td colspan="4" valign="top">{TXT_INTER_TOTAL}</td>
                        <td valign="top" nowrap="nowrap" style="text-align: right;">{SHOP_TOTALPRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- BEGIN shiprow -->
                    <tr class="row3 active" valign="top">
                        <td colspan="2">
                          {TXT_SHIPPING_METHOD}
                          <!-- BEGIN shipment_discount_applied_info -->
                          <span class="tooltip-trigger icon-info"></span>
                          <span class="tooltip-message">
                            {TXT_MODULE_SHOP_SHIPMENT_DISCOUNT_APPLIED_INFO}
                          </span>
                          <!-- END shipment_discount_applied_info -->
                          <!-- BEGIN shipment_discount_enabled_info -->
                          <span class="tooltip-trigger icon-info"></span>
                          <span class="tooltip-message">
                            {TXT_MODULE_SHOP_SHIPMENT_DISCOUNT_ENABLED_INFO}
                          </span>
                          <!-- END shipment_discount_enabled_info -->
                          <!-- BEGIN shipment_discount_disabled_info -->
                          <span class="tooltip-trigger icon-info"></span>
                          <span class="tooltip-message">
                            {TXT_MODULE_SHOP_SHIPMENT_DISCOUNT_DISABLED_INFO}
                          </span>
                          <!-- END shipment_discount_disabled_info -->
                        </td>
                        <td colspan="2">{SHOP_SHIPMENT}</td>
                        <td nowrap="nowrap" style="text-align: right;">{SHOP_SHIPMENT_PRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- END shiprow -->
                    <!-- BEGIN shop_payment -->
                    <tr class="row3 active" valign="top">
                        <td colspan="2">{TXT_PAYMENT_TYPE}</td>
                        <td colspan="2">{SHOP_PAYMENT}</td>
                        <td nowrap="nowrap" style="text-align: right;">{SHOP_PAYMENT_PRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- END shop_payment -->
                    <!-- BEGIN shopVatExcl -->
                    <tr class="row3 active" valign="top">
                        <td colspan="4">{TXT_TAX_PREFIX}</td>
                        <td nowrap="nowrap" style="text-align: right;">{TXT_TAX_PART} {SHOP_TAX_PRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- END shopVatExcl -->
                    <tr class="row3 active">
                        <td colspan="4" valign="top" nowrap="nowrap"><strong>{TXT_TOTAL_PRICE}</strong></td>
                        <td nowrap="nowrap" style="text-align: right;"><strong>{SHOP_GRAND_TOTAL} {SHOP_UNIT}</strong></td>
                    </tr>
                    <!-- BEGIN shopVatIncl -->
                    <tr class="row1" valign="top">
                        <td colspan="4">{TXT_TAX_PREFIX}</td>
                        <td nowrap="nowrap" style="text-align: right;">{TXT_TAX_PART} {SHOP_TAX_PRICE} {SHOP_UNIT}</td>
                    </tr>
                    <!-- END shopVatIncl -->
                </table>
            </div>
            <div class="table-responsive">
                <table class="order-address table" summary="" cellspacing="0">
                    <tr style="background: #F2F2F2;">
                        <th width="50%" align="left">{TXT_ADDRESS_CUSTOMER}</th>
                        <th width="50%" align="left">{TXT_SHIPPING_ADDRESS}</th>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <span>{SHOP_COMPANY}</span>
                            <span>{SHOP_GENDER} {SHOP_FIRSTNAME} {SHOP_LASTNAME}</span>
                            <span>{SHOP_ADDRESS}</span>
                            <span>{SHOP_ZIP} {SHOP_CITY}</span>
                            <span>{SHOP_COUNTRY}</span>
                            <span>{SHOP_PHONE}</span>
                            <span>{SHOP_FAX}</span>
                            <span>{SHOP_EMAIL}</span>
                        </td>
                        <td nowrap="nowrap" valign="top">
                            <!-- BEGIN shopShipmentAddress -->
                            <span>{SHOP_COMPANY2}</span>
                            <span>{SHOP_GENDER2} {SHOP_FIRSTNAME2} {SHOP_LASTNAME2}</span>
                            <span>{SHOP_ADDRESS2}</span>
                            <span>{SHOP_ZIP2} {SHOP_CITY2}</span>
                            <span>{SHOP_COUNTRY2}</span>
                            <span>{SHOP_PHONE}</span>
                            <span>{SHOP_FAX2}</span>
                            <span>{SHOP_EMAIL2}</span>
                            <!-- END shopShipmentAddress -->
                        </td>
                    </tr>
                </table>
            </div>
            <!-- BEGIN shopComment -->
            <table summary="" cellspacing="0">
                <tr class="row3 active" style="background:#F2F2F2 ">
                    <td colspan="2"><strong style="font-weight:bold" />{TXT_COMMENTS}<strong /></td>
                </tr>
                <tr class="row2">
                    <td colspan="2">{SHOP_CUSTOMERNOTE}</td>
                </tr>
            </table>
            <!-- END shopComment -->
            <input class="btn btn-default" type="submit" value="{TXT_ORDER_NOW}" name="process" />
        </form>
    </div>
    <!-- END shopConfirm --><!-- BEGIN shopProcess -->
    <div class="message">
        {TXT_ORDER_PREPARED}<br />
        {SHOP_PAYMENT_PROCESSING}
    </div>
    <!-- END shopProcess -->
</div>
