<div id="shop" class="container-fluid">
  <div class="row">
    <!-- BEGIN core_message -->
    <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
    <!-- END core_message -->
    <div class="menu">
      <form role="form" name="shopSearch" action="{NODE_SHOP}" method="post">
        <select class="form-control" name="catId" tabindex="2">
          {SHOP_CATEGORIES_MENUOPTIONS}
        </select>&nbsp;
        <input type="text" name="term" value="{SHOP_SEARCH_TERM}" tabindex="1" style="width: 190px;" />&nbsp;
        <input class="btn btn-default" type="submit" name="bsubmit" value="{TXT_SHOP_SEARCH}" />
      </form>
    </div>
    <!-- BEGIN categories -->
    <div class="categories row">
      <div class="container-fluid">
        <h2>{TXT_SHOP_CATEGORIES}</h2>
        <div class="row">
          <!-- BEGIN subCategoriesRow -->
          <!-- BEGIN subCategories -->
          <article class="col-md-4 info-item">
            <figure class="visual">
              <a href="{NODE_SHOP}?catId={SHOP_CATEGORY_ID}">
                <div class="categorie-image-wrapper">
                  <img class="center-block img-responsive" border="0" alt="{TXT_SHOP_GO_TO_CATEGORY}" src="{SHOP_CATEGORY_THUMBNAIL}" />
                </div>
                <h3>{SHOP_CATEGORY_NAME}</h3>
              </a>
            </figure>
          </article>
          <!-- END subCategories -->
          <br style="clear: both;" />
          <!-- END subCategoriesRow -->
        </div>
      </div>
    </div>
    <!-- END categories -->
    <!-- BEGIN products -->
    <div class="informations">
      <h2>{SHOP_PRODUCTS_IN_CATEGORY}</h2>
    </div>
    <!-- BEGIN shopProductRow -->
    <div class="product">
      <div class="row">
        <form role="form" id="{SHOP_PRODUCT_FORM_NAME}" name="{SHOP_PRODUCT_FORM_NAME}" action="{NODE_SHOP_CART}" method="post" {SHOP_FORM_ENCTYPE}>
          <input type="hidden" name="productId" value="{SHOP_PRODUCT_ID}" />
          <div class="container-fluid">
            <div class="row">
              <div class="images col-md-3">
                <!-- BEGIN productImage1 -->
                <a href="{SHOP_PRODUCT_THUMBNAIL_LINK_1}">
                  <img class="img-thumbnail" border="0" src="{SHOP_PRODUCT_THUMBNAIL_1}" alt="{TXT_SEE_LARGE_PICTURE}" />
                </a>
                <!-- END productImage1 -->
              </div>
              <div class="info col-md-9">
                <h3>{SHOP_PRODUCT_TITLE}</h3>
                <div class="short-description">
                  {SHOP_PRODUCT_DESCRIPTION}
                  <!-- BEGIN shopProductOptionsRow -->
                  <div class="shop_options">
                    {SHOP_PRODUCT_OPTIONS_TITLE}<br />
                    <div id="product_options_layer{SHOP_PRODUCT_ID}" style="display: none;">
                      <div class="shop_options_click">
                        <!-- BEGIN shopProductOptionsValuesRow -->
                        <strong>
                          {SHOP_PRODUCT_OPTIONS_NAME}
                          <!-- BEGIN product_attribute_mandatory -->
                          <span class="mandatory">&nbsp;*</span>
                          <!-- END product_attribute_mandatory -->
                        </strong><br />
                        {SHOP_PRODCUT_OPTION}
                        <!-- END shopProductOptionsValuesRow -->
                      </div>
                    </div>
                  </div>
                  <!-- END shopProductOptionsRow -->
                </div>
                <div class="details">
                  <button class="btn btn-primary details-button" type="button" onclick="location.href = '{SHOP_PRODUCT_DETAIL_URL}'">{TXT_SHOP_PRODUCT_DETAILS}</button>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="productOptionsUploaderId" value="{SHOP_PRODUCT_OPTIONS_UPLOADER_ID}"/>
          <div class="functions">
                        <button class="add-to-cart btn btn-primary" type="submit" onclick="{SHOP_PRODUCT_SUBMIT_FUNCTION}" name="{SHOP_PRODUCT_SUBMIT_NAME}">{TXT_ADD_TO_CARD}</button>
            <div class="price">
              <!-- BEGIN price -->
              <span itemprop="priceCurrency">{SHOP_PRODUCT_PRICE_UNIT}</span> <span class="shop-product-price" data-price="{SHOP_PRODUCT_PRICE}" itemprop="price">{SHOP_PRODUCT_PRICE}</span>
              <!-- END price -->
              <!-- BEGIN price_discount -->
              {SHOP_PRODUCT_DISCOUNTPRICE_TEXTBLOCK_1} <span class="shop-product-price" data-price="{SHOP_PRODUCT_PRICE}" itemprop="price">{SHOP_PRODUCT_PRICE}</span>
              <span class="discount">
                {SHOP_PRODUCT_DISCOUNTPRICE_TEXTBLOCK_2} <span itemprop="priceCurrency">{SHOP_PRODUCT_DISCOUNTPRICE_UNIT}</span> <span class="shop-product-discount-price" data-price="{SHOP_PRODUCT_DISCOUNTPRICE}" itemprop="price">{SHOP_PRODUCT_DISCOUNTPRICE}</span>
              </span>
              <!-- END price_discount -->
            </div>
            <!-- BEGIN orderQuantity -->
            <div class="order-quanity-container">
              <div class="input-group input-group-sm ">
                <span class="input-group-addon" id="sizing-addon3">{TXT_SHOP_ORDER_QUANTITY}</span>
                <input type="number" value="1" class="form-control min-order-quantity" name="orderQuanity" data-minimum-order-quantity="{SHOP_PRODUCT_MINIMUM_ORDER_QUANTITY}">
              </div>
              <div class="clearfix"></div>
              <span id="helpBlock" class="help-block">{TXT_SHOP_MINIMUM_ORDER_QUANTITY}: {SHOP_PRODUCT_MINIMUM_ORDER_QUANTITY}</span>
            </div>
            <!-- END orderQuantity -->
          </div>
        </form>
      </div>
    </div>
    <!-- END shopProductRow -->
    <!-- END products -->
    <!-- BEGIN no_product -->
    <div class="no_product">
      <h2>{TXT_SHOP_NO_PRODUCTS}</h2>
    </div>
    <!-- END no_product -->
    {SHOP_PRODUCT_OPTIONS_UPLOADER_CODE}
    <div class="paging">{SHOP_PRODUCT_PAGING}</div>
  </div>
</div>
