#group-0-spfTitle,
#group-0-dmarcTitle,
#group-0-dkimTitle {
    font-weight: bold;
    padding: 0px 2px;
    margin-top: 2em;
}

#group-0-spfTitle label,
#group-0-dmarcTitle label,
#group-0-dkimTitle label {
    width: inherit;
    padding-top: 2.5em;
}

#group-0-spfTitle label img,
#group-0-dmarcTitle label img,
#group-0-dkimTitle label img {
    height: var(--font-size);
    margin-left: .2em;
}

#form-0-dkimPublicKey,
#form-0-dkimDomainkey,
#group-0-dkimDomainkey .controls,
#group-0-dkimPublicKey .controls {
    display: flex;
    gap: .4em;
    align-items: center;
    border-top: 0;
    border-bottom: 0;
}

#form-0-spfRecord,
#form-0-spfRecord span,
#form-0-dkimRecord,
#form-0-dkimRecord span,
#form-0-dmarcRecord,
#form-0-dmarcRecord span {
    display: flex;
    flex-direction: column;
    gap: .4em;
}
#form-0-spfRecord span,
#form-0-dkimRecord span,
#form-0-dmarcRecord span {
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-smaller);
}
#form-0-spfState,
#form-0-dkimState,
#form-0-dmarcState {
    display: flex;
    flex-direction: column;
    gap: .4em;
    align-items: start;
}
.controls img {
    height: 1em;
}

#content:has(.breadcrumb) #form-0-spfRecord span,
#content:has(.breadcrumb) #form-0-dkimRecord span,
#content:has(.breadcrumb) #form-0-dmarcRecord span {
    font-size: var(--font-size-small);
}

#content:has(.breadcrumb) #group-0-spfTitle,
#content:has(.breadcrumb) #group-0-dmarcTitle,
#content:has(.breadcrumb) #group-0-dkimTitle {
    background-color: var(--blue);
    color: var(--white);
    height: var(--table-row-height);
    line-height: var(--table-row-height);
}

#content:has(.breadcrumb) #group-0-spfTitle label,
#content:has(.breadcrumb) #group-0-dmarcTitle label,
#content:has(.breadcrumb) #group-0-dkimTitle label {
    height: var(--table-row-height);
    padding-top: inherit;
}

#content:has(.breadcrumb) #group-0-spfTitle label img,
#content:has(.breadcrumb) #group-0-dmarcTitle label img,
#content:has(.breadcrumb) #group-0-dkimTitle label img {
    height: calc(var(--table-row-height) / 2);
    filter: brightness(0) invert(1);

}

#content:has(.breadcrumb) #vg-table-0 th:last-child {
    overflow: hidden;
}
#content:has(.breadcrumb) #vg-table-0 th:last-child a {
    width: 0;
    display: inline-block;
    margin-right: 1em;
    visibility: hidden;
}
#content:has(.breadcrumb) #vg-table-0 th:last-child a::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: "";
    background-image: url(/core/Html/View/Media/Add.png);
    visibility: visible;
}

#content:has(.breadcrumb) #form-0-overview table.adminlist th {
    background: transparent;
    color: inherit;
}
.controls table.adminlist {
    display: table;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray);
}
.controls table.adminlist th,
.controls table.adminlist td {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray);
}

.edit-actions {
    margin: 25px 0 0 0;
    display: flex;
    gap: .4em;
}

form.cx-ui > fieldset .group:has(.hidden) {
    display: none;
}
form[action*=TrackedSenderDomain] fieldset.actions [type=submit] {
    display: none;
}
input.usages-collapse {
    display: none;
}
input.usages-collapse + label:after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f0fe";
    cursor: pointer;
    color: var(--blue);
}
input.usages-collapse:checked + label {
    display: block;
}
input.usages-collapse:checked + label:after {
    content: "\f146";
}
input.error {
    border-color: var(--red);
}
