i.file-type-icon {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

i.file-type-icon.text::before {
    content: "\f15c"; /* fa-file-lines */
}
i.file-type-icon.pdf::before {
    content: "\f1c1"; /* fa-file-pdf */
}
i.file-type-icon.image::before {
    content: "\f1c5"; /* fa-file-image */
}
i.file-type-icon.video::before {
    content: "\f1c8"; /* fa-file-video */
}
i.file-type-icon.audio::before {
    content: "\f1c7"; /* fa-file-audio */
}
i.file-type-icon.presentation::before {
    content: "\f1c4"; /* fa-file-powerpoint */
}
i.file-type-icon.spreadsheed::before {
    content: "\f1c3"; /* fa-file-excel */
}
i.file-type-icon.textdocument::before {
    content: "\f1c2"; /* fa-file-word */
}
i.file-type-icon.webdocument::before {
    content: "\f1c9"; /* fa-file-code */
}
i.file-type-icon.folder::before {
    content: "\e185"; /* fa-folder-closed */
}
i.file-type-icon._blank::before {
    content: "\f15b"; /* fa-file */
}
