<!-- START shop_pricelist_details.html -->

<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=categories" title="{TXT_CATEGORIES}">{TXT_CATEGORIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelists" class="active" title="{TXT_PDF_OVERVIEW}">{TXT_PDF_OVERVIEW}</a></li>
  </ul>
</div>

<form method="post" name="form_pricelist" action="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelists">
  <input type="hidden" name="list_id" value="{SHOP_PRICELIST_ID}">
  <table class="adminlist splitview">
    <caption>{SHOP_PRICELIST_EDIT}</caption>
    <tr>
      <td>{TXT_PDF_LINK}</td>
      <td><a href="{SHOP_PRICELIST_LINK_PDF}" target="_blank">{SHOP_PRICELIST_LINK_PDF}</a></td>
    </tr>
    <tr>
      <td>{TXT_NAME}</td>
      <td><input type="text" name="name" value="{SHOP_PRICELIST_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_LANGUAGE}</td>
      <td><select name="lang_id">{SHOP_PRICELIST_LANGUAGE_MENUOPTIONS}</select></td>
    </tr>
    <tr>
      <td>{TXT_FRAME}</td>
      <td>
        <label>
          <input type="checkbox" name="border" value="1" {SHOP_PRICELIST_BORDER_CHECKED}>
          {TXT_DISPLAY}
        </label>
      </td>
    </tr>
    <tr>
      <td>{TXT_HEADER}</td>
      <td>
        <label>
          <input type="checkbox" name="header" value="1" onchange="toggle_header();" {SHOP_PRICELIST_HEADER_CHECKED}>
          {TXT_DISPLAY}
        </label>
      </td>
    </tr>
    <tr id="pricelist_header">
      <td></td>
      <td>
        <textarea name="header_left" rows="4">{SHOP_PRICELIST_HEADER_LEFT}</textarea>
        &nbsp;
        <textarea name="header_right" rows="4">{SHOP_PRICELIST_HEADER_RIGHT}</textarea>
      </td>
    </tr>
    <tr>
      <td>{TXT_FOOTER}</td>
      <td>
        <label>
          <input type="checkbox" name="footer" value="1" onchange="toggle_footer();" {SHOP_PRICELIST_FOOTER_CHECKED}>
          {TXT_DISPLAY}
        </label>
      </td>
    </tr>
    <tr id="pricelist_footer">
      <td></td>
      <td>
        <textarea name="footer_left" rows="4">{SHOP_PRICELIST_FOOTER_LEFT}</textarea>
        <textarea name="footer_right" rows="4">{SHOP_PRICELIST_FOOTER_RIGHT}</textarea>
        <p>{TXT_DATE}:&nbsp;<code>[DATE]</code></p>
        <p>{TXT_PAGENUMBER}:&nbsp;<code>[PAGENUMBER]</code></p>
      </td>
    </tr>
    <tr>
      <td>{TXT_SHOP_PRICELIST_CATEGORIES}</td>
      <td>
        <input type="checkbox" name="category_all" id="category_all" value="1" {SHOP_PRICELIST_CATEGORY_ALL_CHECKED}>
        <label for="category_all">{TXT_SHOP_PRICELIST_CATEGORIES_ALL}</label><br>
        <!-- BEGIN shop_category -->
        {SHOP_CATEGORY_LEVELSPACE}<input type="checkbox" name="category_id[]" id="category_id_{SHOP_CATEGORY_ID}" value="{SHOP_CATEGORY_ID}" {SHOP_CATEGORY_CHECKED}>
        <label for="category_id_{SHOP_CATEGORY_ID}">{SHOP_CATEGORY_NAME}</label><br>
        <!-- END shop_category -->
      </td>
    </tr>
  </table>
  <input type="submit" name="bsubmit" value="{TXT_STORE_PRODUCT_LIST}">
</form>
<script>
  // <![CDATA[
function toggle_header()
{
    var disp = (document.form_pricelist.header.checked ? "table-row" : "none");
    document.getElementById("pricelist_header").style.display = disp;
  }

function toggle_footer()
{
    var disp = (document.form_pricelist.footer.checked ? "table-row" : "none");
    document.getElementById("pricelist_footer").style.display = disp;
  }

function toggle_categories(status)
{
    var check = jQuery('#category_all:checked').length > 0;
  if(status && !check){
      return;
    }
    jQuery('input[name=category_id\\[\\]]').prop('checked', check);
  }

jQuery(document).ready(function($){
  $('input[name=category_id\\[\\]]').change(function(){
      var check = true;
    $('input[name=category_id\\[\\]]').each(function(){
      if(!$(this).is(":checked")){
          check = false;
        }
        $('#category_all').prop('checked', check);
      });
    });
  $('#category_all').change(function(){
      toggle_categories(false);
    });
  });
  toggle_header();
  toggle_footer();
  toggle_categories(true);
  // ]]>
</script>
<!-- END shop_pricelist_details.html -->
