<!-- START shop_product_catalog.html -->
<script>
  // <![CDATA[
  function deleteProduct(id)
{
    if (confirm('{TXT_CONFIRM_DELETE_PRODUCT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=delProduct&id="+id);
  }
  // ]]>
</script>
<form name="product_search" method="get" action="index.php">
  <input type="hidden" name="cmd" value="Shop">
  <input type="hidden" name="act" value="products">
  <div class="search-functions">
    <div>
      <input type="search" value="{SHOP_SEARCH_TERM}" name="searchterm" maxlength="255" placeholder="{TXT_SEARCH}">
      <input type="submit" name="submit_search" value="{TXT_SEARCH}">
    </div>
    <div>
      {SHOP_CATEGORY_MENU}
      <input type="checkbox" name="specialoffer" id="filter_specialoffer" value="1" onchange="this.form.submit()" {SHOP_FILTER_SPECIALOFFER}>
      <label for="filter_specialoffer">{TXT_VIEW_SPECIAL_OFFERS}</label>
    </div>
  </div>
</form>

<form name="product_list" method="post" action="index.php?cmd=Shop&amp;act=products">
  <table class="adminlist sortable">
    <caption>
      <div class="functions">
        <a href="/cadmin/Shop/products?tpl=manage" title="{TXT_ADD_PRODUCTS}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th class="{ORDER_DIR_ID}">{SHOP_HEADING_PRODUCT_ID}</th>
      <th class="{ORDER_DIR_ACTIVE}">{SHOP_HEADING_PRODUCT_ACTIVE}</th>
      <th class="{ORDER_DIR_ORD}">{SHOP_HEADING_PRODUCT_ORD}</th>
      <th><i class="fa-solid fa-house" title="{TXT_SHOP_SHOW_PRODUCT_ON_START_PAGE_TIP}"></i></th>
      <th class="{ORDER_DIR_NAME}">{SHOP_HEADING_PRODUCT_NAME}</th>
      <th class="{ORDER_DIR_CODE}">{SHOP_HEADING_PRODUCT_CODE}</th>
      <th class="{ORDER_DIR_DISCOUNTPRICE}" colspan="2">{SHOP_HEADING_PRODUCT_DISCOUNTPRICE}</th>
      <th class="{ORDER_DIR_NORMALPRICE}">{SHOP_HEADING_PRODUCT_NORMALPRICE}</th>
      <th class="{ORDER_DIR_RESELLERPRICE}">{SHOP_HEADING_PRODUCT_RESELLERPRICE}</th>
      <th>{TXT_SHOP_VAT_ABBREV}</th>
      <th class="{ORDER_DIR_DISTRIBUTION}">{SHOP_HEADING_PRODUCT_DISTRIBUTION}</th>
      <th class="{ORDER_DIR_STOCK}">{SHOP_HEADING_PRODUCT_STOCK}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN no_product -->
    <tr>
      <td colspan="14">{TXT_SHOP_PRODUCT_NONE_FOUND}</td>
    </tr>
    <!-- END no_product -->
    <!-- BEGIN productRow -->
    <tr class="{SHOP_ROWCLASS}">
      <td>
        {SHOP_PRODUCT_ID}
        <input type="hidden" name="product_id[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_ID}">
      </td>
      <td><a class="schedule_status {SHOP_PRODUCT_STATUS_CLASS}" href="javascript:void(0);" data-id="{SHOP_PRODUCT_ID}"></a></td>
      <td>
        <input type="number" name="ord[{SHOP_PRODUCT_ID}]" maxlength="5" value="{SHOP_SORT_ORDER}" class="compact">
        <input type="hidden" name="ordOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SORT_ORDER}">
      </td>
      <td>
        <input type="checkbox" name="shownonstartpage[{SHOP_PRODUCT_ID}]" value="1" {SHOP_SHOW_PRODUCT_ON_START_PAGE_CHECKED}>
        <input type="hidden" name="shownonstartpageOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SHOW_PRODUCT_ON_START_PAGE_OLD}">
      </td>
      <td><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}" title="{SHOP_PRODUCT_NAME}">{SHOP_PRODUCT_NAME}</a></td>
      <td>
        <input type="text" maxlength="255" name="identifier[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_CODE}" class="compact">
        <input type="hidden" name="identifierOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_CODE}">
      </td>
      <td><input type="checkbox" name="discount_active[{SHOP_PRODUCT_ID}]" value="1" {SHOP_PRODUCT_SPECIAL_OFFER}></td>
      <td>
        <input type="text" maxlength=10 name="discount_price[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_DISCOUNT}" class="compact">
        <input type="hidden" name="discountOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_DISCOUNT}">
        <input type="hidden" name="specialOfferOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SPECIAL_OFFER_VALUE_OLD}">
      </td>
      <td>
        <input type="text" name="price1[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE1}" maxlength="10" class="compact">
        <input type="hidden" name="price1Old[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE1}">
      </td>
      <td>
        <input type="text" name="price2[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE2}" maxlength="10" class="compact">
        <input type="hidden" name="price2Old[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE2}">
      </td>
      <td>
        {SHOP_PRODUCT_VAT_MENU}
        <input type="hidden" name="taxIdOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_VAT_ID}">
      </td>
      <td>{SHOP_DISTRIBUTION}</td>
      <td>
        <input type="number" name="stock[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_STOCK}" maxlength="5" class="compact">
        <input type="hidden" name="stockOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_STOCK}">
      </td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}&amp;new=1" title="{TXT_AS_TEMPLATE}"><i class="fa-regular fa-copy"></i></a>
        <!-- BEGIN product_language -->
        <a href="index.php?cmd=Shop&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}&amp;userFrontendLangId={SHOP_PRODUCT_LANGUAGE_ID}"><i class="fa-regular fa-pen-to-square"></i></a>
        <!-- END product_language -->
        <a href="javascript:deleteProduct('{SHOP_PRODUCT_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END productRow -->
  </table>
  <input type="hidden" name="localeId" value="{SHOP_PRODUCT_LOCALE_ID}">
  <input type="submit" name="bsubmit" value="{TXT_ACCEPT_CHANGES}">
  <div>{SHOP_PRODUCT_PAGING}</div>
</form>
<!-- END shop_product_catalog.html -->
