<!-- BEGIN shop_import.html -->
<script>//<![CDATA[
  function addPair() {
    var selectGiven = document.getElementById("given_field");
    var selectFile = document.getElementById("file_field");
    var selectLeft = document.getElementById("pairs_left");
    var selectRight = document.getElementById("pairs_right");
    if (selectGiven.selectedIndex >= 0 && selectFile.selectedIndex >= 0) {
    selectLeft[selectLeft.length] = new Option(selectFile[selectFile.selectedIndex].text,selectFile[selectFile.selectedIndex].value);
      selectRight[selectRight.length] = new Option(selectGiven[selectGiven.selectedIndex].text, selectGiven[selectGiven.selectedIndex].value);
    }
    resetHidden();
  }
  function removePair() {
    //  var selectGiven = document.getElementById("given_field");
    //  var selectFile = document.getElementById("file_field");
    var selectLeft = document.getElementById("pairs_left");
    var selectRight = document.getElementById("pairs_right");
    if (selectLeft.selectedIndex >= 0 || selectRight.selectedIndex >= 0) {
      selectLeft[selectLeft.selectedIndex] = null;
      selectRight[selectRight.selectedIndex] = null;
      selectLeft.selectedIndex = 0;
      selectRight.selectedIndex = 0;
    }
    resetHidden();
  }
  function removeCat() {
    var cats = document.getElementById("cats");
    if (cats.selectedIndex >= 0) {
      cats[cats.selectedIndex] = null;
      cats.selectedIndex = 0;
    }
    resetKat();
  }
  function addCat() {
    var selectFile = document.getElementById("file_field");
    var selectcats = document.getElementById("cats");
    if (selectFile.selectedIndex >= 0) {
      selectcats[selectcats.length] = new Option(
        selectFile[selectFile.selectedIndex].text,
        selectFile[selectFile.selectedIndex].value);
    }
    resetKat();
  }
  function resetKat() {
    var cats = document.getElementById("cats");
    var category = document.getElementById("category");
    var tmp = '';
    for (i = 0; i < cats.length; i++) {
      tmp += cats[i].value;
      tmp += ";";
    }
    category.value = tmp;
  }
  function resetHidden() {
    var selectLeft = document.getElementById("pairs_left");
    var selectRight = document.getElementById("pairs_right");
    var leftKeys = document.getElementById("pairs_left_keys");
    var rightKeys = document.getElementById("pairs_right_keys");
    var tmp = '';
    for (var i = 0; i < selectLeft.length; i++) {
      tmp +=
      (tmp == "" ? "" : ";")+
        selectLeft[i].value;
    }
    leftKeys.value = tmp;
    tmp = '';
    for (var i = 0; i < selectRight.length; i++) {
      tmp +=
      (tmp == "" ? "" : ";")+
        selectRight[i].value;
    }
    rightKeys.value = tmp;
  }
  function SaveImage() {
    if (document.getElementById("ImgName").value != "") {
      document.forms.frmSelectFields.submit();
    } else {
      alert("{TXT_SHOP_IMPORT_ENTER_TEMPLATE_NAME}");
    }
  }
  function MakeImport() {
    if (document.getElementById("importfile").value != '') {
    if (   document.getElementById("clearProducts").checked == false
        || (   document.getElementById("clearProducts").checked == true
          && confirm("{TXT_SHOP_IMPORT_WARNING}"))) {
        document.forms.frmImportProducts.submit();
      }
    } else {
      alert("{TXT_SHOP_IMPORT_SELECT_FILE_PLEASE}");
    }
  }
  function MakeImportCategories() {
    if (document.getElementById("importFileCategories").value != '') {
    if ((   document.getElementById("clearCategories").checked
        && confirm("{TXT_SHOP_IMPORT_CATEGORIES_WARNING}"))
        || !document.getElementById("clearCategories").checked) {
        document.forms.frmImportCategories.submit();
      }
    } else {
      alert("{TXT_SHOP_IMPORT_SELECT_FILE_PLEASE}");
    }
  }
  function DeleteImg(ImgID) {
    if (confirm("{TXT_SHOP_IMPORT_TEMPLATE_REALLY_DELETE}")) {
    window.location = 'index.php?cmd=Shop&{CSRF_PARAM}&act=import&deleteImg=1&img='+ImgID;
    }
  }
  function MakeExport(groupCode) {
    if (confirm("{TXT_SHOP_EXPORT_WARNING}")) {
    window.location = "index.php?cmd=Shop&{CSRF_PARAM}&act=import&group="+groupCode;
    }
  }
  var inputId, uploaderInputBox;
  function getUploader(e) { // e => jQuery element
    inputId = e.data('inputId');
    uploaderInputBox = cx.jQuery('#' + inputId);
    cx.jQuery('#importCsvUploader').trigger('click');
  }
  function importUploaderCallback(data) {
    if (typeof data[0] !== 'undefined') {
        var data       = data[0].split('/'),
            fileName   = data.pop();
      uploaderInputBox.val(fileName);
    }
  }
  //]]></script>

<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="import1" class="active" href="#">{TXT_SHOP_IMPORT_IMPORT}</a></li>
  <li style="display: none;"><a data-tablink="export" href="#">{TXT_SHOP_EXPORT_DATA}</a></li>
  <li style="display: none;"><a data-tablink="import2" href="#">SelectFields</a></li>
  <li style="display: none;"><a data-tablink="import3" href="#">Upload</a></li>
  <li><a data-tablink="import4" href="#">{TXT_SHOP_IMPORT_MANAGE_TEMPLATES}</a></li>
</ul>

<div class="tab import1" data-tablist="default">
  <form name="frmImportCategories" action="index.php?cmd=Shop&amp;act=import" method="post" enctype="multipart/form-data">
    <input type="hidden" name="ImportCategories" value="1">
    <table class="adminlist splitview">
      <caption>{TXT_SHOP_IMPORT_IMPORT_CATEGORIES}</caption>
      <tr>
        <td>{TXT_SHOP_IMPORT_FILE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_CATEGORIES_TIPS}</span></td>
        <td>
          <input type="text" name="csvFile" id="importFileCategories" autocomplete="off" size="50">
          <input type="button" onClick="getUploader(cx.jQuery(this));" data-input-id="importFileCategories" value="{TXT_SHOP_CHOOSE_FILE}">
          <input type="hidden" name="importCsvUploaderId" value="{SHOP_IMPORT_CSV_UPLOADER_ID}">
        </td>
      </tr>
      <tr>
        <td><label for='clearCategories'>{TXT_SHOP_CLEAR_DATABASE_BEFORE_IMPORTING_CATEGORIES}</label></td>
        <td><input type='checkbox' name='clearCategories' id='clearCategories' value='1'></td>
      </tr>
    </table>
    <input type="button" value="{TXT_SHOP_IMPORT_IMPORT}" onclick="MakeImportCategories();">
  </form>

  <!-- BEGIN import_products -->
  <form name="frmImportProducts" action="index.php?cmd=Shop&amp;act=import" method="post" enctype="multipart/form-data">
    <input type="hidden" name="importFileProducts" value="1">
    <table class="adminlist splitview">
      <caption>{TXT_SHOP_IMPORT_PRODUCTS}</caption>
      <tr>
        <td>{TXT_SHOP_IMPORT_SELECT_TEMPLATE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_CHOOSE_TEMPLATE_TIPS}</span></td>
        <td>{SHOP_IMPORT_TEMPLATE_MENU}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_IMPORT_FILE}</td>
        <td>
          <input type="text" name="csvFile" id="importfile" autocomplete="off" size="50">
          <input type="button" onClick="getUploader(cx.jQuery(this));" data-input-id="importfile" value="{TXT_SHOP_CHOOSE_FILE}">
          <input type="hidden" name="importCsvUploaderId" value="{SHOP_IMPORT_CSV_UPLOADER_ID}">
        </td>
      </tr>
      <tr>
        <td><label for='clearProducts'>{TXT_CLEAR_DATABASE_BEFORE_IMPORTING}</label></td>
        <td><input type='checkbox' name='clearProducts' id='clearProducts' value='1'></td>
      </tr>
    </table>
    <input type="button" value="{TXT_SHOP_IMPORT_IMPORT}" onclick="javascript:MakeImport();">
  </form>
  <!-- END import_products -->
  <!-- BEGIN import_products_no_template -->
  {TXT_SHOP_IMPORT_NO_TEMPLATE}
  <!-- END import_products_no_template -->
</div>

<!-- Begin FieldsSelect -->
<form name="frmSelectFields" action="index.php?cmd=Shop&amp;act=import" method="post">
  <input type="hidden" name="SaveImg" value="1">
  <input type="hidden" name="pairs_left_keys" id="pairs_left_keys" value="">
  <input type="hidden" name="pairs_right_keys" id="pairs_right_keys" value="">
  <input type="hidden" name="category" id="category" value="">
  <div class="tab import2" data-tablist="default">
    <table class="adminlist splitview">
      <caption>{TXT_SHOP_IMPORT_IMPORTTEMPLATE}</caption>
      <tr>
        <td>{TXT_SHOP_IMPORT_TEMPLATENAME}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_TEMPLATE_SAVE_TIPS}</span></td>
        <td><input type="text" name="ImgName" id="ImgName"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_IMPORT_ADD_FEW}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_ASSIGNMENT_TIPS}</span> / {TXT_SHOP_IMPORT_ADD_CATEGORY}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_CATEGORY_TIPS}</span></td>
        <td>
          <div class="multiselect">
            <div>
              {TXT_SHOP_IMPORT_TEXTFILE}<br>
              {FILE_FIELDS_LIST}
            </div>
            <div>
              <input type="button" value="{TXT_SHOP_IMPORT_ADD_FEW}" onclick="addPair();"><br>
              <input type="button" value="{TXT_SHOP_IMPORT_ADD_CATEGORY}" onclick="addCat();">
            </div>
            <div>
              {TXT_SHOP_IMPORT_DATABASE}<br>
              {DB_FIELDS_LIST}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_IMPORT_REMOVE_CATEGORY}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_CATEGORY_REMOVE_TIPS}</span></td>
        <td>
          <div class="multiselect">
            <div>
              <select name="cats" id="cats"></select>
            </div>
            <div>
              <input type="button" value="{TXT_SHOP_IMPORT_REMOVE_CATEGORY}" onclick="removeCat();">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_IMPORT_REMOVE_FEW}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_ASSIGNMENT_REMOVE_TIPS}</span></td>
        <td>
          <div class="multiselect">
            <div>
              <select name="fileList" id="pairs_left" size="15" onchange="document.getElementById('pairs_right')[this.selectedIndex].selected=true"></select>
            </div>
            <div>
              <input type="button" value="{TXT_SHOP_IMPORT_REMOVE_FEW}" onclick="removePair();">
            </div>
            <div>
              <select name="DbList" id="pairs_right" size="15" onchange="document.getElementById('pairs_left')[this.selectedIndex].selected=true"></select>
            </div>
        </td>
      </tr>
    </table>
    <input type="button" value="{TXT_SHOP_IMPORT_SAVE}" onclick="SaveImage();">
  </div>
</form>
<!-- End FieldsSelect -->
<div class="tab import4" data-tablist="default">
  <table class="adminlist">
    <caption>
      <div class="functions">
        <a id="import5" data-tablist="default" data-tablink="import5" href="#" title="{TXT_SHOP_IMPORT_MAKE_NEW_TEMPLATE}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>{TXT_SHOP_IMPORT_TEMPLATENAME}</th>
      <th>{TXT_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN imgRow -->
    <tr class="{CLASS_NAME}">
      <td>{IMG_NAME}</td>
      <td><a href="javascript:DeleteImg({IMG_ID});"><i class="fa-regular fa-trash-can"></i></a></td>
    </tr>
    <!-- END imgRow -->
  </table>
</div>
<div class="tab import5" data-tablist="default">
  <form name="frmUpload" enctype="multipart/form-data" action="index.php?cmd=Shop&amp;act=import" method="post">
    <input type="hidden" name="mode" value="ImportImg">
    <input type="hidden" name="SelectFields" value="1">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SHOP_IMPORT_MAKE_NEW_TEMPLATE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMPORT_CREATE_TEMPLATE_TIPS}</span></td>
        <td>
          <input type="text" id="tplFile" name="csvFile" autocomplete="off" size="50">
          <input type="button" onClick="getUploader(cx.jQuery(this));" data-input-id="tplFile" value="{TXT_SHOP_CHOOSE_FILE}">
          <input type="hidden" name="importCsvUploaderId" value="{SHOP_IMPORT_CSV_UPLOADER_ID}">
        </td>
      </tr>
    </table>
    <input type="submit" value="{TXT_SHOP_IMPORT_UPLOAD}">
  </form>
</div>

<div class="tab import3" data-tablist="default">
  {TXT_SHOP_IMPORT_NO_TEMPLATES_AVAILABLE}
</div>

<div class="tab export" data-tablist="default">
  <table class="adminlist">
    <caption>{TXT_SHOP_EXPORT}</caption>
    <!-- BEGIN groupRow -->
    <tr class="{CLASS_NAME}">
      <td><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{SHOP_EXPORT_GROUP}</span></td>
      <td><a href="#" title="{TXT_EXPORT}" onclick="javascript:MakeExport('{SHOP_EXPORT_GROUP_CODE}');"><i class="fa-solid fa-download"></i></a></td>
    </tr>
    <!-- END groupRow -->
  </table>
  <div class="infobox">{TXT_SHOP_TIP}</div>
  <div class="infobox">{TXT_SHOP_EXPORT_TIPS}</div>
</div>
{SHOP_IMPORT_CSV_UPLOADER_CODE}
<script>
  <!-- //
  {SELECT_LAYER_ONLOAD}
  {NO_FILES}
  // -->
</script>

<!-- END shop_import.html -->
