<!-- START shop_manufacturer.html -->
<script>
  // <![CDATA[
function shopCatDoAction(strForm, strCheckbox, objSelect, strAct)
{
    if (checkboxIsChecked(strForm, strCheckbox)) {
      switch (strAct) {
        case 'delete':
          if (confirm('{TXT_SHOP_CONFIRM_DELETE_MANUFACTURER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
            document.form_list.submit();
          }
          break;
      }
    } else {
      alert("{TXT_MAKE_SELECTION}");
    }
    objSelect.selectedIndex = 0;
  }

  function deleteManufacturer(manufacturer_id) {
    if (confirm('{TXT_SHOP_CONFIRM_DELETE_MANUFACTURER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=manufacturer&delete="+manufacturer_id);
    }
  }

  // ]]>
</script>

<!-- BEGIN manufacturerEdit -->
<form name="form_edit" method="post" action="index.php?cmd=Shop&amp;act=manufacturer">
  <input type="hidden" name="id" value="{SHOP_MANUFACTURER_ID}">
  <input type="hidden" name="localeId" value="{SHOP_MANUFACTURER_LOCALE_ID}">
  <table class="adminlist splitview">
    <caption>{SHOP_EDIT_MANUFACTURER}</caption>
    <tr>
      <td>{TXT_SHOP_MANUFACTURER_NAME}</td>
      <td><input type="text" name="name" maxlength="255" value="{SHOP_MANUFACTURER_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_SHOP_MANUFACTURER_URL}</td>
      <td><input type="url" name="url" maxlength="255" value="{SHOP_MANUFACTURER_URL}"></td>
    </tr>
  </table>
  <a class="button secondary" href="/cadmin/Shop/manufacturer">{TXT_CANCEL}</a>
  <input type="submit" name="bstore" value="{TXT_STORE}">
</form>
<!-- END manufacturerEdit -->
<!-- BEGIN manufacturerList -->
<form name="form_list" method="post" action="index.php?cmd=Shop&amp;act=manufacturer" onsubmit="return checkboxIsChecked('form_list','selected_manufacturer_id')">
  <table class="adminlist sortable">
    <caption>
      <div class="functions">
        <a href="/cadmin/Shop/manufacturer?id=0" title="{TXT_ADD}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th class="{ORDER_DIR_ID}">{SHOP_HEADER_ID}</th>
      <th class="{ORDER_DIR_NAME}">{SHOP_HEADER_NAME}</th>
      <th class="{ORDER_DIR_URL}">{SHOP_HEADER_URL}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN manufacturerRow -->
    <tr class="{SHOP_ROWCLASS}">
      <td>{SHOP_MANUFACTURER_ID}</td>
      <td><a href="index.php?cmd=Shop&amp;act=manufacturer&amp;id={SHOP_MANUFACTURER_ID}" title="{TXT_EDIT}">{SHOP_MANUFACTURER_NAME}</a></td>
      <td>{SHOP_MANUFACTURER_URL}</td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=manufacturer&amp;id={SHOP_MANUFACTURER_ID}" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deleteManufacturer('{SHOP_MANUFACTURER_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END manufacturerRow -->
  </table>
  {SHOP_MANUFACTURER_PAGING}
</form>
<!-- END manufacturerList -->

<!-- END shop_manufacturer.html -->
