<!-- START module_shop_discount_groups_article.html -->
<script>
  <!-- //
  function deleteGroup(groupId)
  {
    if (confirm('{TXT_SHOP_CONFIRM_DELETE_ARTICLE_GROUP}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
      window.location.href="index.php?{CSRF_PARAM}&cmd=Shop&act=products&tpl=groups&delete=1&id="+groupId;
  }
  // -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<form name="groupForm" method="post" action="/cadmin/Shop/products?tpl=groups" data-fixed-tablists="tab">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="tab">
    <div class="infobox">{SHOP_DISCOUNT_GROUP_ARTICLE_INFO_TXT}</div>
    <table class="adminlist">
      <caption>
        {TXT_SHOP_ARTICLE_GROUPS}
        <div class="functions">
          <a data-tablist="tab" data-tablink="edit" href="#" title="{TXT_ADD_OR_EDIT}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_SHOP_ARTICLE_GROUP_NAME}</th>
        <th>{TXT_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN shopGroup -->
      <tr class="{SHOP_ROW_STYLE}">
        <td><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=groups&amp;edit=1&amp;id={SHOP_GROUP_ID}&amp;tab-tab=edit" title="{TXT_EDIT}">{SHOP_GROUP_NAME}</a></td>
        <td>
          <a href="index.php?cmd=Shop&amp;act=products&amp;tpl=groups&amp;edit=1&amp;id={SHOP_GROUP_ID}&amp;tab-tab=edit" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:deleteGroup({SHOP_GROUP_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
      </tr>
      <!-- END shopGroup -->
    </table>
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab edit" data-tablist="tab">
    <table class="adminlist splitview">
      <caption>{TXT_SHOP_EDIT_ARTICLE_GROUP}</caption>
      <!-- BEGIN shopGroupName -->
      <tr class="{SHOP_ROW_STYLE}">
        <td>{TXT_SHOP_ARTICLE_GROUP_NAME}</td>
        <td>
          <input type="hidden" name="id" value="{SHOP_GROUP_ID_EDIT}">
          <input type="text" name="groupName" value="{SHOP_GROUP_NAME}">
        </td>
      </tr>
      <!-- END shopGroupName -->
    </table>
    <input type="hidden" name="localeId" value="{SHOP_GROUP_LOCALE_ID}">
    <input type="button" name="cancel" value="{TXT_SHOP_CANCEL}" onclick="window.location.href='index.php?{CSRF_PARAM}&cmd=Shop&amp;act=products&amp;tpl=groups';" class="secondary">
    <input type="submit" name="store" value="{TXT_STORE}">
  </div>
  <!-- end content2 div -->
</form>
<!-- END module_shop_discount_groups_article.html -->
