<!-- START shop_customers.html -->
<script>//<![CDATA[
  function deleteCustomer(customer_id) {
    if (confirm('{TXT_CONFIRM_DELETE_CUSTOMER}\n {TXT_ALL_ORDERS_WILL_BE_DELETED}\n {TXT_ACTION_IS_IRREVERSIBLE}'))
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=delcustomer&customer_id="+customer_id);
  }
  function toggleCustomer(id) {
    window.location.replace("index.php?{CSRF_PARAM}&cmd=Shop&act=customers&toggle_customer_id="+id);
  }
  function sendForm(letter) {
    document.shop_filter.listletter.value = letter;
    document.shop_filter.searchterm.value = "";
    document.shop_filter.submit();
  }
  function customersDoAction(strForm, strCheckbox, objSelect) {
    if (checkboxIsChecked(strForm, strCheckbox) == true) {
      switch (objSelect.value) {
        case 'activate':
          document.forms[strForm].action = "index.php?cmd=Shop&act=customer_activate";
          break;
        case 'deactivate':
          document.forms[strForm].action = "index.php?cmd=Shop&act=customer_deactivate";
          break;
        case 'delete':
          if (confirm('{TXT_CONFIRM_DELETE_CUSTOMER}\n {TXT_ALL_ORDERS_WILL_BE_DELETED}\n {TXT_ACTION_IS_IRREVERSIBLE}')) {
            document.forms[strForm].action = "index.php?cmd=Shop&act=delcustomer";
          }
          break;
      }
      document.forms[strForm].submit();
      return true;
    }
    alert("{TXT_MAKE_SELECTION}");
    objSelect.value = "";
  }
  //]]></script>
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=catalog" class="active" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=discounts" title="{TXT_SHOP_DISCOUNTS_CUSTOMER}">{TXT_SHOP_DISCOUNTS_CUSTOMER}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=groups" title="{TXT_SHOP_CUSTOMER_GROUPS}">{TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  </ul>
</div>
<form name="shop_filter" method="get" action="index.php">
  <div class="search-functions">
    <div>
      <input type="hidden" name="cmd" value="Shop">
      <input type="hidden" name="act" value="customers">
      <input type="search" name="searchterm" value="{SHOP_CUSTOMER_TERM}" maxlength="255">
      <input type="submit" name="bsubmit" value="{TXT_SEARCH}">
    </div>
    <div>
      <select name="customer_type" onchange="this.form.submit()">
        {SHOP_CUSTOMER_TYPE_MENUOPTIONS}
      </select>
      <select name="active" onchange="this.form.submit()">
        {SHOP_CUSTOMER_STATUS_MENUOPTIONS}
      </select>
    </div>
  </div>
  <div>{SHOP_LISTLETTER_LINKS}</div>
</form>
<!-- BEGIN shop_customers -->
<form name="shop_customers" method="post" action="index.php?cmd=Shop&amp;act=customers">
  <table class="adminlist sortable">
    <caption>
      <div class="functions">
        <a href="/cadmin/Shop/neweditcustomer" title="{TXT_ADD_NEW_CUSTOMER}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>#</th>
      <th class="{ORDER_DIR_ACTIVE}">{SHOP_HEADING_CUSTOMER_ACTIVE}</th>
      <th class="{ORDER_DIR_ID}">{SHOP_HEADING_CUSTOMER_ID}</th>
      <th class="{ORDER_DIR_EMAIL}">{SHOP_HEADING_CUSTOMER_EMAIL}</th>
      <th class="{ORDER_DIR_COMPANY}">{SHOP_HEADING_CUSTOMER_COMPANY}</th>
      <th class="{ORDER_DIR_FIRSTNAME}">{SHOP_HEADING_CUSTOMER_FIRSTNAME}</th>
      <th class="{ORDER_DIR_LASTNAME}">{SHOP_HEADING_CUSTOMER_LASTNAME}</th>
      <th class="{ORDER_DIR_ADDRESS}">{SHOP_HEADING_CUSTOMER_ADDRESS}</th>
      <th class="{ORDER_DIR_ZIP}">{SHOP_HEADING_CUSTOMER_ZIP}</th>
      <th class="{ORDER_DIR_CITY}">{SHOP_HEADING_CUSTOMER_CITY}</th>
      <th class="{ORDER_DIR_PHONE}">{SHOP_HEADING_CUSTOMER_PHONE}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN shop_customer -->
    <tr class="{SHOP_ROWCLASS}">
      <td><input type="checkbox" name="selected_customer_id[]" value="{SHOP_CUSTOMERID}"></td>
      <td>
        <span style="cursor: pointer;" onclick="toggleCustomer({SHOP_CUSTOMERID});">
          <img src="/core/Core/View/Media/icons/{SHOP_CUSTOMER_STATUS_IMAGE}" alt="{SHOP_CUSTOMER_ACTIVE}" title="{SHOP_CUSTOMER_ACTIVE}">
        </span>
      </td>
      <td>{SHOP_CUSTOMERID}</td>
      <td><a href="index.php?cmd=Shop&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMERID}" title="{TXT_VIEW_DETAILS}">{SHOP_EMAIL}</a></td>
      <td>{SHOP_COMPANY}</td>
      <td>{SHOP_FIRSTNAME}</td>
      <td>{SHOP_LASTNAME}</td>
      <td>{SHOP_ADDRESS}</td>
      <td>{SHOP_ZIP}</td>
      <td>{SHOP_CITY}</td>
      <td>{SHOP_PHONE}</td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=neweditcustomer&amp;customer_id={SHOP_CUSTOMERID}" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deleteCustomer('{SHOP_CUSTOMERID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END shop_customer -->
  </table>
  <ul class="bulk-functions">
    <li><a href="javascript:{}" onclick="changeCheckboxes('shop_customers','selected_customer_id[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a></li>
    <li><a href="javascript:{}" onclick="changeCheckboxes('shop_customers','selected_customer_id[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a></li>
    <li>
      <select name="multi_action" onchange="customersDoAction('shop_customers','selected_customer_id[]',this);">
        <option value="" selected="selected">{TXT_SELECT_ACTION}</option>
        <option value="activate">{TXT_SHOP_CUSTOMER_ACTIVATE}</option>
        <option value="deactivate">{TXT_SHOP_CUSTOMER_DEACTIVATE}</option>
        <option value="delete">{TXT_DELETE}</option>
      </select>
    </li>
  </ul>
</form>
<!-- END shop_customers -->
{SHOP_CUSTOMER_PAGING}
<!-- END shop_customers.html -->
