<!-- START module_shop_settings_vat.html -->
<script>
  // <![CDATA[
function deleteVat(vatId)
{
    if (confirm("{TXT_SHOP_VAT_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}"))
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=vat&vatid=" + vatId);
  }
function setVatAll()
{
    if (confirm("{TXT_SHOP_VAT_CONFIRM_SET_ALL}\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
      var vatId = document.forms.form_vat.vat_default_id.value;
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=vat&setVatAll=" + vatId);
    }
  }
function setVatUnset()
{
    if (confirm("{TXT_SHOP_VAT_CONFIRM_SET_UNSET}\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
      var vatId = document.forms.form_vat.vat_default_id.value;
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=vat&setVatUnset=" + vatId);
    }
  }
  // ]]>
</script>

<form name="form_vat" method="post" action="/cadmin/Shop/settings?tpl=vat" data-fixed-tablists="tab">
  <table class="adminlist splitview">
    <caption>{TXT_SHOP_VAT_DETAILS}</caption>
    <tr>
      <td>{TXT_SHOP_VAT_NUMBER}</td>
      <td colspan="2"><input type="text" name="vat_number" value="{SHOP_VAT_NUMBER}"></td>
    </tr>
    <tr>
      <td>{TXT_SHOP_VAT_DEFAULT}</td>
      <td>
        <select name="vat_default_id">
          {SHOP_VAT_DEFAULT_MENUOPTIONS}
        </select>
      </td>
      <td>
        <input type='button' name='buttonSetVatUnset' value="{TXT_SHOP_VAT_SET_UNSET}" onclick='javascript:setVatUnset()'>
        <input type='button' name='buttonSetVatAll' value="{TXT_SHOP_VAT_SET_ALL}" onclick='javascript:setVatAll()'>
      </td>
    </tr>
    <tr>
      <td>{TXT_SHOP_VAT_OTHER}</td>
      <td colspan="2">
        <select name="vat_other_id">
          {SHOP_VAT_OTHER_MENUOPTIONS}
        </select>
      </td>
    </tr>
  </table>
  <table class="adminlist splitview">
    <caption>{TXT_SHOP_VAT_ACTIVE}</caption>
    <tr>
      <th>&nbsp;</th>
      <th>{TXT_SHOP_VAT_CUSTOMER}</th>
      <th>{TXT_SHOP_VAT_RESELLER}</th>
    </tr>
    <tr>
      <td>{TXT_SHOP_VAT_COUNTRY_HOME}</td>
      <td>
        <input name="vat_enabled_home_customer" id="vat_enabled_home_customer" type="checkbox" onclick="swapBlock('vat_home_customer');" value="1" {SHOP_VAT_CHECKED_HOME_CUSTOMER}>
        <label for="vat_enabled_home_customer">{TXT_SHOP_VAT_ENABLED}</label>
        <div id="vat_home_customer" style="display: {SHOP_VAT_DISPLAY_HOME_CUSTOMER};">
          <select name="vat_included_home_customer">
            <option value="1" {SHOP_VAT_SELECTED_HOME_CUSTOMER_INCLUDED}>{TXT_SHOP_PRICES_VAT_INCLUDED}</option>
            <option value="0" {SHOP_VAT_SELECTED_HOME_CUSTOMER_EXCLUDED}>{TXT_SHOP_PRICES_VAT_EXCLUDED}</option>
          </select>
        </div>
      </td>
      <td>
        <input name="vat_enabled_home_reseller" id="vat_enabled_home_reseller" type="checkbox" onclick="swapBlock('vat_home_reseller');" value="1" {SHOP_VAT_CHECKED_HOME_RESELLER}>
        <label for="vat_enabled_home_reseller">{TXT_SHOP_VAT_ENABLED}</label>
        <div id="vat_home_reseller" style="display: {SHOP_VAT_DISPLAY_HOME_RESELLER};">
          <select name="vat_included_home_reseller">
            <option value="1" {SHOP_VAT_SELECTED_HOME_RESELLER_INCLUDED}>{TXT_SHOP_PRICES_VAT_INCLUDED}</option>
            <option value="0" {SHOP_VAT_SELECTED_HOME_RESELLER_EXCLUDED}>{TXT_SHOP_PRICES_VAT_EXCLUDED}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td>{TXT_SHOP_VAT_COUNTRY_FOREIGN}</td>
      <td>
        <input name="vat_enabled_foreign_customer" id="vat_enabled_foreign_customer" type="checkbox" onclick="swapBlock('vat_foreign_customer');" value="1" {SHOP_VAT_CHECKED_FOREIGN_CUSTOMER}>
        <label for="vat_enabled_foreign_customer">{TXT_SHOP_VAT_ENABLED}</label>
        <div id="vat_foreign_customer" style="display: {SHOP_VAT_DISPLAY_FOREIGN_CUSTOMER};">
          <select name="vat_included_foreign_customer">
            <option value="1" {SHOP_VAT_SELECTED_FOREIGN_CUSTOMER_INCLUDED}>{TXT_SHOP_PRICES_VAT_INCLUDED}</option>
            <option value="0" {SHOP_VAT_SELECTED_FOREIGN_CUSTOMER_EXCLUDED}>{TXT_SHOP_PRICES_VAT_EXCLUDED}</option>
          </select>
        </div>
      </td>
      <td>
        <input name="vat_enabled_foreign_reseller" id="vat_enabled_foreign_reseller" type="checkbox" onclick="swapBlock('vat_foreign_reseller');" value="1" {SHOP_VAT_CHECKED_FOREIGN_RESELLER}>
        <label for="vat_enabled_foreign_reseller">{TXT_SHOP_VAT_ENABLED}</label>
        <div id="vat_foreign_reseller" style="display: {SHOP_VAT_DISPLAY_FOREIGN_RESELLER};">
          <select name="vat_included_foreign_reseller">
            <option value="1" {SHOP_VAT_SELECTED_FOREIGN_RESELLER_INCLUDED}>{TXT_SHOP_PRICES_VAT_INCLUDED}</option>
            <option value="0" {SHOP_VAT_SELECTED_FOREIGN_RESELLER_EXCLUDED}>{TXT_SHOP_PRICES_VAT_EXCLUDED}</option>
          </select>
        </div>
      </td>
    </tr>
  </table>
  <div class="tab overview" data-tablist="tab">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="#" data-tablist="tab" data-tablink="create" title="{TXT_SHOP_VAT_NEW}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
      <tr>
        <th>{TXT_SHOP_VAT_CLASS}</th>
        <th>{TXT_SHOP_VAT_RATE}</th>
        <th>{TXT_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN vatRow -->
      <tr class="{SHOP_ROWCLASS}">
        <td><input type="text" name="vatclass[{SHOP_VAT_ID}]" value="{SHOP_VAT_CLASS}" maxlength="255"></td>
        <td><input type="text" name="vatrate[{SHOP_VAT_ID}]" value="{SHOP_VAT_RATE}" maxlength="6" class="compact">%</td>
        <td><a href="javascript:deleteVat({SHOP_VAT_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- END vatRow -->
    </table>

  </div>
  <div class="tab create" data-tablist="tab">
    <table class="adminlist splitview">
      <tr>
        <th>{TXT_SHOP_VAT_CLASS_NEW}</th>
        <th>{TXT_SHOP_VAT_RATE_NEW}</th>
      </tr>
      <tr>
        <td><input type="text" name="vatclassnew" value="" maxlength="255"></td>
        <td><input type="text" name="vatratenew" value="" maxlength="6">%</td>
      </tr>
    </table>
  </div>
  <input type="hidden" name="localeId" value="{SHOP_VAT_LOCALE_ID}">
  <input type="submit" name="bvat" value="{TXT_STORE}">
</form>
<!-- END module_shop_settings_vat.html -->
