<!-- START module_shop_settings_currency.html -->
<script>
  <!-- //
  function deleteCurrency(cId)
  {
    if (confirm('{TXT_CONFIRM_DELETE_CURRENCY}\n{TXT_ACTION_IS_IRREVERSIBLE}!'))
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=currency&currencyId="+cId);
  }
  
  {SHOP_CURRENCY_INCREMENT_JS_ARRAY}
  
  function updateCurrencyCode(selectElement)
  {
    var code = selectElement.value;
    var name = selectElement.options[selectElement.selectedIndex].text;
    // By default, the name is followed by the code in parentheses
    name = name.replace(/\s*\([A-Z]+\)$/, "");
    var increment = currency_increment[code];
  console.log("code "+code+", name: "+name+", increment: "+increment);
    document.getElementById("currencySymbolNew").value = code;
    document.getElementById("currencyNameNew").value = name;
    document.getElementById("currencyIncrementNew").value = increment;
  }
  
  function updateExchangeRates(selectedElement)
  {
    // The Currency ID
    var indexSelected = selectedElement.value;
    // The ID of the previous standard Currency.
    // This can only be determined if its rate is exactly 1.
    var indexStandard = -1;
    // The factor used to calculate the new exchange rates
    var standardFactor = document.getElementsByName("currencyRate["+indexSelected+"]")[0].value;
  //alert("standard factor: "+standardFactor);
    // If no standard factor can be determined, use 1.
    // This means that none of the rates are actually changed, except for
    // the new standard currency, whose rate is always set to 1.
    if (standardFactor <= 0) {
      standardFactor = 1;
    }
    // Find all input elements
    var arrInputElement = document.getElementsByTagName('input');
  //alert("element: "+arrInputElement+", length: "+arrInputElement.length);
    // Array to store all exchange rate elements,
    // except for the new standard currency.
    var arrRateElement = new Array();
    // Loop through the input elements
    for (var i = 0; i < arrInputElement.length; ++i) {
      var element = arrInputElement[i];
      // Skip non currency rate fields
      if (!element.name.match(/^currencyRate\[(\d+)\]/)) {
        continue;
      }
      // The index, aka Currency ID
      var index = RegExp.$1
      // Nothing to do for the new standard currency here.
      if (index == indexSelected) {
        continue;
      }
      // Any currency having a rate of 1 is considered as
      // being the previous standard.
      if (element.value == 1) {
        indexStandard = index;
  //alert("standard: i: "+i+", value: "+element.value);
      }
      // Remember those rate elements that need to be updated.
      arrRateElement.push(element);
  //alert("i: "+i+", rate: "+arrInputElement[i].value);
    }
    // Only if there was a previous standard currency with a rate of 1...
    if (indexStandard != -1) {
      for (var i = 0; i < arrRateElement.length; ++i) {
        element = arrRateElement[i];
        // ...update the other rates
        element.value = (element.value / standardFactor).toFixed(6);
      }
    }
    // Finally, set the new standard currency rate to 1.
    document.getElementsByName("currencyRate["+indexSelected+"]")[0].value = "1.000000";
    return true;
  }
  // -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<form name="shopForm" method="post" action="/cadmin/Shop/settings?tpl=currency" data-fixed-tablists="tab">
  <input type="hidden" name="localeId" value="{SHOP_CURRENCY_LOCALE_ID}">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="tab">
    <div class="infobox"><a href="https://www.xe.com/" target="_blank">{TXT_CURRENCY_CONVERTER}</a></div>
    <table class="adminlist">
       <caption>
        <div class="functions">
          <a data-tablist="tab" data-tablink="edit" href="#" title="{TXT_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_ID}</th>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_NAME}</th>
        <th>{TXT_CODE}</th>
        <th>{TXT_SYMBOL}</th>
        <th>{TXT_RATE}</th>
        <th>{TXT_SHOP_CURRENCY_INCREMENT}</th>
        <th>{TXT_STANDARD}</th>
        <th>{TXT_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN shopCurrency -->
      <tr class="{SHOP_CURRENCY_STYLE}">
        <td>{SHOP_CURRENCY_ID}</td>
        <td><input type="checkbox" name="currencyActive[{SHOP_CURRENCY_ID}]" value="1" {SHOP_CURRENCY_ACTIVE}></td>
        <td><input type="text" name="currencyName[{SHOP_CURRENCY_ID}]" value="{SHOP_CURRENCY_NAME}" maxlength="255"></td>
        <td><input name="currencyCode[{SHOP_CURRENCY_ID}]" type="text" value="{SHOP_CURRENCY_CODE}" size="15" maxlength="3" class="compact"></td>
        <td><input name="currencySymbol[{SHOP_CURRENCY_ID}]" type="text" value="{SHOP_CURRENCY_SYMBOL}" size="15" maxlength="20" class="compact"></td>
        <td><input type="text" name="currencyRate[{SHOP_CURRENCY_ID}]" value="{SHOP_CURRENCY_RATE}" size="6" maxlength="11" class="compact"></td>
        <td><input type="text" name="currencyIncrement[{SHOP_CURRENCY_ID}]" value="{SHOP_CURRENCY_INCREMENT}" size="4" maxlength="7" class="compact"></td>
        <td><input name="currencyDefault" type="radio" value="{SHOP_CURRENCY_ID}" {SHOP_CURRENCY_STANDARD} onchange="updateExchangeRates(this)"></td>
        <td><a href="javascript:deleteCurrency('{SHOP_CURRENCY_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- END shopCurrency -->
    </table>
    <input type="submit" name="currency" value="{TXT_STORE}">
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab edit" data-tablist="tab">
    <div class="infobox"><a href="https://www.xe.com/" target="_blank">{TXT_CURRENCY_CONVERTER}</a></div>
    <table class="adminlist no-functions">
      <tr>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_NAME}</th>
        <th>{TXT_CODE}</th>
        <th>{TXT_SYMBOL}</th>
        <th>{TXT_RATE}</th>
        <th>{TXT_SHOP_CURRENCY_INCREMENT}</th>
        <th>{TXT_STANDARD}</th>
      </tr>
      <tr>
        <td><input type="checkbox" name="currencyActiveNew" value="1" checked="checked"></td>
        <td><input type="text" name="currencyNameNew" id="currencyNameNew" value="" maxlength="255"></td>
        <td>
          <select name="currencyCodeNew" onchange="updateCurrencyCode(this)" class="compact">
            {SHOP_CURRENCY_NAME_MENUOPTIONS}
          </select>
        </td>
        <td><input name="currencySymbolNew" id="currencySymbolNew" type="text" value="" size="15" maxlength="20" class="compact"></td>
        <td><input type="text" name="currencyRateNew" value="1.0000" size="6" maxlength="11" class="compact"></td>
        <td><input type="text" name="currencyIncrementNew" id="currencyIncrementNew" value="0.01" size="4" maxlength="7" class="compact"></td>
        <td><input type="checkbox" name="currencyDefaultNew" value="1"></td>
      </tr>
    </table>
    <button class="secondary" type="button" onclick="cx.ui.tabs.select('tab')">{TXT_CANCEL}</button>
    <input type="submit" name="currency_add" value="{TXT_ADD}">
  </div>
  <!-- end content2 div -->
</form>
<!-- END module_shop_settings_currency.html -->
