<!-- START shop_order_details.html -->
<script>
<!--
function edit(order_id)
{
  window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=editorder&order_id="+order_id);
    }
  //-->
</script>
<table class="adminlist splitview">
  <caption>{TXT_ORDER}</caption>
  <tr>
    <td>{TXT_ORDERNUMBER}</td>
    <td>{SHOP_ORDERID}</td>
  </tr>
  <tr>
    <td>{TXT_ORDERDATE}</td>
    <td>{SHOP_DATE}</td>
  </tr>
  <tr>
    <td>{TXT_ORDER_SUM}</td>
    <td>{SHOP_ORDER_SUM}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <tr>
    <td>{TXT_ORDERSTATUS}</td>
    <td>{SHOP_ORDER_STATUS}</td>
  </tr>
  <tr>
    <td>{TXT_LAST_EDIT}</td>
    <td>{SHOP_LAST_MODIFIED}</td>
  </tr>
  <tr>
    <td>{TXT_BROWSER_LANGUAGE}</td>
    <td>{SHOP_CUSTOMER_LANG}</td>
  </tr>
</table>
<table class="adminlist splitview">
  <caption>{TXT_BILLING_ADDRESS}</caption>
  <tr>
    <td>{TXT_COMPANY}</td>
    <td><a href="index.php?cmd=Shop&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_COMPANY}</a></td>
  </tr>
  <tr>
    <td>{TXT_SHOP_TITLE}</td>
    <td>{SHOP_GENDER}</td>
  </tr>
  <tr>
    <td>{TXT_LAST_NAME}</td>
    <td><a href="index.php?cmd=Shop&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_LASTNAME}</a></td>
  </tr>
  <tr>
    <td>{TXT_FIRST_NAME}</td>
    <td><a href="index.php?cmd=Shop&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_FIRSTNAME}</a></td>
  </tr>
  <tr>
    <td>{TXT_ADDRESS}</td>
    <td>{SHOP_ADDRESS}</td>
  </tr>
  <tr>
    <td>{TXT_ZIP_CITY}</td>
    <td>{SHOP_ZIP}&nbsp;{SHOP_CITY}</td>
  </tr>
  <tr>
    <td>{TXT_COUNTRY}</td>
    <td>{SHOP_COUNTRY}</td>
  </tr>
  <tr>
    <td>{TXT_PHONE}</td>
    <td>{SHOP_PHONE}</td>
  </tr>
  <tr>
    <td>{TXT_FAX}</td>
    <td>{SHOP_FAX}</td>
  </tr>
  <tr>
    <td>{TXT_EMAIL}</td>
    <td><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=mail&amp;strTab=shopMailSend&amp;shopMailTo={SHOP_EMAIL}" title="{TXT_SEND_MAIL_TO_ADDRESS}">{SHOP_EMAIL}</a></td>
  </tr>
</table>
<table class="adminlist splitview">
  <caption>{TXT_SHIPPING_ADDRESS}</caption>
  <tr>
    <td>{TXT_COMPANY}</td>
    <td>{SHOP_SHIP_COMPANY}</td>
  </tr>
  <tr>
    <td>{TXT_SHOP_TITLE}</td>
    <td>{SHOP_SHIP_GENDER}</td>
  </tr>
  <tr>
    <td>{TXT_LAST_NAME}</td>
    <td>{SHOP_SHIP_LASTNAME}</td>
  </tr>
  <tr>
    <td>{TXT_FIRST_NAME}</td>
    <td>{SHOP_SHIP_FIRSTNAME}</td>
  </tr>
  <tr>
    <td>{TXT_ADDRESS}</td>
    <td>{SHOP_SHIP_ADDRESS}</td>
  </tr>
  <tr>
    <td>{TXT_ZIP_CITY}</td>
    <td>{SHOP_SHIP_ZIP}&nbsp;{SHOP_SHIP_CITY}</td>
  </tr>
  <tr>
    <td>{TXT_COUNTRY}</td>
    <td>{SHOP_SHIP_COUNTRY}</td>
  </tr>
  <tr>
    <td>{TXT_PHONE}</td>
    <td>{SHOP_SHIP_PHONE}</td>
  </tr>
  <tr>
    <td>{TXT_SHIPPING_METHOD}</td>
    <td>{SHOP_SHIPPING_TYPE}</td>
  </tr>
</table>
<table class="adminlist splitview">
  <!-- BEGIN shop_payment -->
  <caption>{TXT_PAYMENT_INFORMATIONS}</caption>
  <tr>
    <td>{TXT_PAYMENT_TYPE}</td>
    <td>{SHOP_PAYMENTTYPE}&nbsp;({SHOP_PAYMENT_HANDLER})</td>
  </tr>

  <!-- BEGIN creditCard -->
  <tr>
    <td>{TXT_CREDIT_CARD_OWNER}</td>
    <td>{SHOP_CCNAME}</td>
  </tr>
  <tr>
    <td>{TXT_CARD_NUMBER}</td>
    <td>{SHOP_CCNUMBER}</td>
  </tr>
  <tr>
    <td>{TXT_CVC_CODE}</td>
    <td>{SHOP_CVC_CODE}</td>
  </tr>
  <tr>
    <td>{TXT_EXPIRY_DATE}</td>
    <td>{SHOP_CCDATE}</td>
  </tr>
  <!-- END creditCard -->

  <!-- BEGIN lsv -->
  <tr>
    <td>{TXT_ACCOUNT_HOLDER}</td>
    <td>{SHOP_ACCOUNT_HOLDER}</td>
  </tr>
  <tr>
    <td>{TXT_ACCOUNT_BANK}</td>
    <td>{SHOP_ACCOUNT_BANK}</td>
  </tr>
  <tr>
    <td>{TXT_ACCOUNT_BLZ}</td>
    <td>{SHOP_ACCOUNT_BLZ}</td>
  </tr>
  <!-- END lsv -->
  <!-- END shop_payment -->
</table>
<table class="adminlist no-functions">
  <caption>{TXT_BILL}</caption>
  <tr>
    <td>{TXT_NUMBER}</td>
    <td>{TXT_PRODUCT_ID}</td>
    <td>{TXT_SHOP_PRODUCT_CUSTOM_ID}</td>
    <td>{TXT_PRODUCT_NAME}</td>
    <td>{TXT_WEIGHT}</td>
    <td>{TXT_PRODUCT_PRICE}</td>
    <td>{TXT_TAX_RATE}</td>
    <td>{TXT_SUM}</td>
  </tr>
  <!-- BEGIN order_item -->
  <tr class="{SHOP_ROWCLASS}">
    <td>{SHOP_QUANTITY}</td>
    <td>{SHOP_P_ID}</td>
    <td>{SHOP_PRODUCT_CODE}</td>
    <td>{SHOP_PRODUCT_NAME}</td>
    <td>{SHOP_PRODUCT_WEIGHT}</td>
    <td>{SHOP_PRODUCT_PRICE}{SHOP_CURRENCY}</td>
    <td>{SHOP_PRODUCT_TAX_RATE} / {SHOP_PRODUCT_TAX_AMOUNT}{SHOP_CURRENCY}</td>
    <td>{SHOP_PRODUCT_SUM}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <!-- END order_item -->

  <tr>
    <td colspan="8">&nbsp;</td>
  </tr>

  <!-- BEGIN coupon_row -->
  <tr>
    <td colspan="7" class="number">{TXT_SHOP_DISCOUNT} ({SHOP_COUPON_NAME}: {SHOP_COUPON_CODE})</td>
    <td>{SHOP_COUPON_AMOUNT}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <!-- END coupon_row -->

  <!-- BEGIN shopNetPrice -->
  <tr>
    <td colspan="6"></td>
    <td>{TXT_NET_PRICE}</td>
    <td>{SHOP_NET_PRICE}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <!-- END shopNetPrice -->
  <!-- BEGIN shopTaxPrice -->
  <tr>
    <td colspan="6">&nbsp;</td>
    <td>{SHOP_PART_TAX_PROCENTUAL}</td>
    <td>{SHOP_TAX_PRICE}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <!-- END shopTaxPrice -->
  <!-- BEGIN shopShipmentPrice -->
  <tr>
    <td colspan="6">&nbsp;</td>
    <td>{TXT_SHIPPING_PRICE}</td>
    <td>
      <!-- BEGIN coupon_shipment_info -->
      <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{SHOP_COUPON_SHIPMENT_TXT}</span>
      <!-- END coupon_shipment_info -->
      {SHOP_SHIPPING_PRICE}&nbsp;{SHOP_CURRENCY}
    </td>
  </tr>
  <!-- END shopShipmentPrice -->
  <!-- BEGIN shopPaymentPrice -->
  <tr>
    <td colspan="6">&nbsp;</td>
    <td>{TXT_PAYMENT_COSTS}</td>
    <td>{SHOP_PAYMENT_PRICE}&nbsp;{SHOP_CURRENCY}</td>
  </tr>
  <!-- END shopPaymentPrice -->
  <tr>
    <td colspan="6">&nbsp;</td>
    <td><strong>{TXT_TOTAL}</strong></td>
    <td><strong>{SHOP_ORDER_SUM}&nbsp;{SHOP_CURRENCY}</strong></td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
    <td>{TXT_TOTAL_WEIGHT}</td>
    <td>{SHOP_TOTAL_WEIGHT}</td>
  </tr>
</table>
<table class="adminlist no-functions">
  <caption>{TXT_CUSTOMER_REMARKS}</caption>
  <tr>
    <td>{SHOP_CUSTOMER_NOTE}</td>
  </tr>
</table>
<!-- BEGIN order_edit -->
<input type="button" name="editOrder" value="{TXT_EDIT}" onclick="edit({SHOP_ORDERID})">
<!-- END order_edit -->
<!-- BEGIN order_no_edit -->
{TXT_SHOP_ORDER_NOT_EDITABLE}
<!-- END order_no_edit -->
<!-- END shop_order_details.html -->
