<!-- START module_shop_settings_general.html -->
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="generalTab_content1" class="active" href="#">{TXT_GENERAL_SETTINGS}</a></li>
  <li><a data-tablink="generalTab_content3" href="#">{TXT_SHOP_IMAGE_SETTINGS}</a></li>
  <li><a data-tablink="generalTab_content4" href="#">{TXT_SHOP_SETTINGS_EXTENDED}</a></li>
</ul>
<form name="shopForm" method="post" action="index.php?cmd=Shop&amp;act=settings&amp;tpl=general">
  <!-- start content1 div -->
  <div class="tab generalTab_content1" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SHOP_EMAIL}</td>
        <td><input type="email" name="email" maxlength='255' value="{SHOP_CONTACT_EMAIL}"></td>
      </tr>
      <tr>
        <td>{TXT_CONFIRMATION_EMAILS}</td>
        <td><input type="text" name="email_confirmation" maxlength='255' value="{SHOP_CONFIRMATION_EMAILS}">
          ({TXT_SEPARATED_WITH_COMMAS})</td>
      </tr>
      <tr>
        <td>{TXT_CONTACT_COMPANY}</td>
        <td><input type="text" name="company" maxlength='255' value="{SHOP_CONTACT_COMPANY}"></td>
      </tr>
      <tr>
        <td>{TXT_CONTACT_ADDRESS}</td>
        <td><textarea cols="36" rows="5" name="address">{SHOP_CONTACT_ADDRESS}</textarea></td>
      </tr>
      <tr>
        <td>{TXT_PHONE_NUMBER}</td>
        <td><input type="text" name="telephone" maxlength='255' value="{SHOP_CONTACT_TEL}"></td>
      </tr>
      <tr>
        <td>{TXT_FAX_NUMBER}</td>
        <td><input type="text" name="fax" maxlength='255' value="{SHOP_CONTACT_FAX}"></td>
      </tr>
      <tr>
        <td>{TXT_COUNTRY}</td>
        <td>
          <select name="country_id">
            {SHOP_GENERAL_COUNTRY_MENUOPTIONS}
          </select>
        </td>
      </tr>
    </table>
  </div>
  <!-- end content1 div -->

  <!-- start content3 div -->
  <div class="tab generalTab_content3" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SHOP_THUMBNAIL_MAX_WIDTH}</td>
        <td>
          <input id="thumbnail_max_width" type="number" name="thumbnail_max_width" value="{SHOP_THUMBNAIL_MAX_WIDTH}" maxlength="3" class="compact">
          <label for="thumbnail_max_width">{TXT_PIXEL}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_THUMBNAIL_MAX_HEIGHT}</td>
        <td>
          <input id="thumbnail_max_height" type="number" name="thumbnail_max_height" value="{SHOP_THUMBNAIL_MAX_HEIGHT}" maxlength="3" class="compact">
          <label for="thumbnail_max_height">{TXT_PIXEL}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_THUMBNAIL_QUALITY}</td>
        <td>
          <input id="thumbnail_quality" type="number" name="thumbnail_quality" value="{SHOP_THUMBNAIL_QUALITY}" maxlength="3" class="compact" min="0" max="100">
          <label for="thumbnail_quality">%</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_IMAGE_PARSE_BEHAVIOUR}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_IMAGE_PARSE_BEHAVIOUR_TOOLTIP}</span>
        </td>
        <td>{SHOP_IMAGE_PARSE_BEHAVIOUR}</td>
      </tr>
      <tr>
        <td><label for="image_use_no_pictrue">{TXT_SHOP_IMAGE_USE_NO_PICTURE}</label>
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{SHOP_IMAGE_USE_NO_PICTURE_TOOLTIP_TXT}</span>
        </td>
        <td><input type="checkbox" name="image_use_no_pictrue" id="image_use_no_pictrue" value="1" {SHOP_IMAGE_USE_NO_PICTURE_CHECKED}></td>
      </tr>
    </table>
  </div>
  <!-- end content3 div -->

  <!-- start content4 div -->
  <div class="tab generalTab_content4" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SHOP_SETTING_GENDER_REQUIRED}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SETTING_GENDER_REQUIRED_TOOLTIP}</span>
        </td>
        <td><input type="checkbox" name="gender_required" value="1" {SHOP_GENDER_REQUIRED_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_WEIGHT_ENABLE}</td>
        <td><input type="checkbox" name="weight_enable" value="1" {SHOP_WEIGHT_ENABLE_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_ACTIVATE_PRODUCT_ATTRIBUTE_CHILDREN}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SETTING_ACTIVATE_PRODUCT_ATTRIBUTE_CHILDREN_TOOLTIP}</span>
        </td>
        <td><input type="checkbox" name="shop_activate_product_attribute_children" value="1" {SHOP_ACTIVATE_PRODUCT_ATTRIBUTE_CHILDREN_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_FORCE_SELECT_OPTION}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SETTING_FORCE_SELECT_OPTION_TOOLTIP}</span>
        </td>
        <td><input type="checkbox" name="shop_force_select_option" value="1" {SHOP_FORCE_SELECT_OPTION_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_VERIFY_ACCOUNT_EMAIL}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SETTING_VERIFY_ACCOUNT_EMAIL_TOOLTIP}</span>
        </td>
        <td><input type="checkbox" name="shop_verify_account_email" value="1" {SHOP_VERIFY_ACCOUNT_EMAIL_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_MODULE_SHOP_SETTING_ACCOUNT_SEND_LOGIN}
          <span class="tooltip-trigger icon-info"></span>
          <span class="tooltip-message">{TXT_MODULE_SHOP_SETTING_ACCOUNT_SEND_LOGIN_TOOLTIP}</span>
        </td>
        <td><input type="checkbox" name="shop_account_send_login" value="1" {SHOP_ACCOUNT_SEND_LOGIN_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_PRODUCT_SORTING}</td>
        <td><select name="product_sorting">{SHOP_PRODUCT_SORTING_MENUOPTIONS}</select></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SHOW_PRODUCTS_ON_START_PAGE}</td>
        <td><select name="show_products_default">{SHOP_SHOW_PRODUCTS_DEFAULT_OPTIONS}</select></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_CART_USE_JS}</td>
        <td>{SHOP_SETTING_CART_USE_JS}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_SHOPNAVBAR_ON_ALL_PAGES}</td>
        <td>{SHOP_SETTING_SHOPNAVBAR_ON_ALL_PAGES}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_ORDERITEMS_AMOUNT_MIN} ({SHOP_CURRENCY_CODE})
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_ORDERITEMS_AMOUNT_MIN_NOTE}</span>
        </td>
        <td><input type="text" name="orderitems_amount_min" maxlength='12' value="{SHOP_ORDERITEMS_AMOUNT_MIN}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_ORDERITEMS_AMOUNT_MAX} ({SHOP_CURRENCY_CODE})
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_ORDERITEMS_AMOUNT_MAX_NOTE}</span>
        </td>
        <td><input type="text" name="orderitems_amount_max" maxlength='12' value="{SHOP_ORDERITEMS_AMOUNT_MAX}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_REGISTER}</td>
        <td>{SHOP_SETTING_REGISTER}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_PRODUCTS_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_products_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_PRODUCTS_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_ORDERS_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_orders_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_ORDERS_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_CUSTOMERS_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_customers_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_CUSTOMERS_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_MANUFACTURERS_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_manufacturers_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_MANUFACTURERS_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_MAILTEMPLATE_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_mailtemplate_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_MAILTEMPLATE_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_COUPON_PER_PAGE_BACKEND}</td>
        <td><input type="number" name="numof_coupon_per_page_backend" maxlength='12' value="{SHOP_SETTING_NUMOF_COUPON_PER_PAGE_BACKEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_APPLY_COUPON_ON_SHIPMENT}</td>
        <td>{SHOP_SETTING_APPLY_COUPON_ON_SHIPMENT}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_USERGROUP_ID_CUSTOMER}
          <span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_SHOP_SETTING_HINT_USER}</span>
        </td>
        <td>{SHOP_SETTING_USERGROUP_ID_CUSTOMER}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_USERGROUP_ID_RESELLER}
          <span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_SHOP_SETTING_HINT_USER}</span>
        </td>
        <td>{SHOP_SETTING_USERGROUP_ID_RESELLER}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_USER_PROFILE_ATTRIBUTE_CUSTOMER_GROUP_ID}
          <span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_SHOP_SETTING_HINT_USER}</span>
        </td>
        <td>{SHOP_SETTING_USER_PROFILE_ATTRIBUTE_CUSTOMER_GROUP_ID}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_USER_PROFILE_ATTRIBUTE_NOTES}
          <span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_SHOP_SETTING_HINT_USER}</span>
        </td>
        <td>{SHOP_SETTING_USER_PROFILE_ATTRIBUTE_NOTES}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUMOF_PRODUCTS_PER_PAGE_FRONTEND}</td>
        <td><input type="number" name="numof_products_per_page_frontend" maxlength='12' value="{SHOP_SETTING_NUMOF_PRODUCTS_PER_PAGE_FRONTEND}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SETTING_NUM_CATEGORIES_PER_ROW}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SETTING_NUM_CATEGORIES_PER_ROW_TOOLTIP}</span>
        </td>
        <td><input type="number" name="num_categories_per_row" maxlength='12' value="{SHOP_SETTING_NUM_CATEGORIES_PER_ROW}" class="compact"></td>
      </tr>
    </table>
  </div>
  <!-- end content4 div -->
  <input type="submit" name="general" value="{TXT_STORE}">
</form>
<!-- END module_shop_settings_general.html -->
