<!-- START module_shop_discount_groups_count.html -->
<script>
  <!-- //
  function deleteDiscount(discountId)
  {
    if (confirm('{TXT_SHOP_CONFIRM_DELETE_DISCOUNT_GROUP}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
      window.location.href="index.php?cmd=Shop&{CSRF_PARAM}&act=products&tpl=discounts&deleteDiscount=1&id="+discountId;
  }
  function deleteDiscountRate(discountRateId)
  {
    if (confirm('{TXT_CONFIRM_DELETE_DISCOUNT_RATE}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
      window.location.href="index.php?cmd=Shop&{CSRF_PARAM}&act=products&tpl=discounts&deleteDiscountRate=1&id="+discountRateId;
  }
  // -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<form name="shopForm" method="post" action="/cadmin/Shop/products?tpl=discounts" data-fixed-tablists="tab">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="tab">
    <div class="infobox">{TXT_SHOP_DISCOUNT_COUNT_GROUPS_INFO}</div>
    <table class="adminlist">
      <caption>
        <div class="functions">
          <a data-tablist="tab" data-tablink="edit" href="#" title="{TXT_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_SHOP_DISCOUNT_GROUP_NAME}</th>
        <th>{TXT_SHOP_DISCOUNT_GROUP_UNIT}</th>
        <th>{TXT_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN discount -->
      <tr class="{SHOP_DISCOUNT_ROW_STYLE}">
        <td><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=discounts&amp;editDiscount=1&amp;id={SHOP_DISCOUNT_ID}&amp;tab-tab=edit" title="{TXT_EDIT}">{SHOP_DISCOUNT_GROUP_NAME}</a></td>
        <td>{SHOP_DISCOUNT_GROUP_UNIT}</td>
        <td>
          <a href="index.php?cmd=Shop&amp;act=products&amp;tpl=discounts&amp;editDiscount=1&amp;id={SHOP_DISCOUNT_ID}&amp;tab-tab=edit" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:deleteDiscount({SHOP_DISCOUNT_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
      </tr>
      <!-- END discount -->
    </table>
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab edit" data-tablist="tab">
    <table class="adminlist no-functions">
      <caption>{TXT_SHOP_EDIT_DISCOUNT_GROUP}</caption>
      <!-- BEGIN discountName -->
      <tr class="{SHOP_DISCOUNT_ROW_STYLE}">
        <td>{TXT_SHOP_DISCOUNT_GROUP_NAME}</td>
        <td>
          <input type="hidden" name="discountId" value="{SHOP_DISCOUNT_ID_EDIT}">
          <input type="text" name="discountGroupName" value="{SHOP_DISCOUNT_GROUP_NAME}">
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_GROUP_UNIT}</td>
        <td><input type="text" name="discountGroupUnit" value="{SHOP_DISCOUNT_GROUP_UNIT}"></td>
      </tr>
      <!-- END discountName -->
      <!-- BEGIN discountType -->
      <tr class="{SHOP_DISCOUNT_ROW_STYLE}">
        <td>{TXT_SHOP_DISCOUNT_GROUP_TYPE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_DISCOUNT_TYPE_TIP}</span></td>
        <td>{SHOP_DISCOUNT_GROUP_TYPE_OPTIONS}</td>
      </tr>
      <!-- END discountType -->
      <!-- BEGIN discountRate -->
      <tr class="{SHOP_DISCOUNT_ROW_STYLE}">
        <td>{TXT_SHOP_DISCOUNT_MIN_COUNT}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_DISCOUNT_COUNT_TIP}</span></td>
        <td>
          <input type="number" name="discountCount[{SHOP_DISCOUNT_RATE_INDEX}]" value="{SHOP_DISCOUNT_COUNT}" class="compact">
          {TXT_SHOP_DISCOUNT_RATE}
          <input type="text" name="discountRate[{SHOP_DISCOUNT_RATE_INDEX}]" value="{SHOP_DISCOUNT_RATE}" class="compact">%
        </td>
      </tr>
      <!-- END discountRate -->
    </table>
    <input type="hidden" name="localeId" value="{SHOP_DISCOUNT_LOCALE_ID}">
    <input type="button" name="discountCancel" value="{TXT_SHOP_CANCEL}" onclick="window.location.href='index.php?cmd=Shop&amp;{CSRF_PARAM}&amp;act=products&amp;tpl=discounts';" class="secondary">
    <input type="submit" name="discountStore" value="{TXT_STORE}">
  </div>
  <!-- end content2 div -->
</form>
<!-- END module_shop_discount_groups_count.html -->
