<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=catalog" class="active" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=discounts" title="{TXT_SHOP_DISCOUNTS_CUSTOMER}">{TXT_SHOP_DISCOUNTS_CUSTOMER}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=groups" title="{TXT_SHOP_CUSTOMER_GROUPS}">{TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  </ul>
</div>
<!-- START shop_customer_details.html -->
<form name="formCustomer" method="post" action="index.php?cmd=Shop&amp;act=neweditcustomer&amp;customer_id={SHOP_CUSTOMERID}">
  <table class="adminlist no-functions">
    <caption>{TXT_CUSTOMER_DATA}</caption>
    <tr>
      <td>{TXT_COMPANY}</td>
      <td>{SHOP_COMPANY}</td>
      <td>{TXT_SHOP_DISCOUNT_GROUP_CUSTOMER}</td>
      <td>{SHOP_DISCOUNT_GROUP_CUSTOMER}</td>
    </tr>
    <tr>
      <td>{TXT_SHOP_TITLE}</td>
      <td>{SHOP_GENDER}</td>
      <td>{TXT_CUSTOMER_NUMBER}</td>
      <td>{SHOP_CUSTOMERID}</td>
    </tr>
    <tr>
      <td>{TXT_LAST_NAME}</td>
      <td>{SHOP_LASTNAME}</td>
      <td>{TXT_CUSTOMER_TYP}</td>
      <td>{SHOP_IS_RESELLER}</td>
    </tr>
    <tr>
      <td>{TXT_FIRST_NAME}</td>
      <td>{SHOP_FIRSTNAME}</td>
      <td>{TXT_LOGIN_NAME}</td>
      <td>{SHOP_USERNAME}</td>
    </tr>
    <tr>
      <td>{TXT_ADDRESS}</td>
      <td>{SHOP_ADDRESS}</td>
      <td>{TXT_REGISTER_DATE}</td>
      <td>{SHOP_REGISTER_DATE}</td>
    </tr>
    <tr>
      <td>{TXT_ZIP_CITY}</td>
      <td>{SHOP_ZIP}&nbsp;/&nbsp;{SHOP_CITY}</td>
      <td>{TXT_CUSTOMER_STATUS}</td>
      <td>{SHOP_CUSTOMER_STATUS}</td>
    </tr>
    <tr>
      <td>{TXT_COUNTRY}</td>
      <td>{SHOP_COUNTRY}</td>
      <td>{TXT_SHOP_BIRTHDAY}</td>
      <td>{SHOP_CUSTOMER_BIRTHDAY}</td>
    </tr>
    <tr>
      <td>{TXT_PHONE}</td>
      <td>{SHOP_PHONE}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{TXT_FAX}</td>
      <td>{SHOP_FAX}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{TXT_EMAIL}</td>
      <td><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=mail&amp;strTab=shopMailSend&shopMailTo={SHOP_EMAIL}" title="{TXT_SEND_MAIL_TO_ADDRESS}">{SHOP_EMAIL}</a></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <table class="adminlist no-functions">
    <caption>{TXT_ORDERS}</caption>
    <tr>
      <td>{TXT_ORDERNUMBER}</td>
      <td>{TXT_DATE}</td>
      <td>{TXT_ORDERSTATUS}</td>
      <td>{TXT_ORDER_SUM}</td>
    </tr>
    <!-- BEGIN orderRow -->
    <tr class="{SHOP_ROWCLASS}">
      <td>
        <a href="index.php?cmd=Shop&amp;act=orderdetails&amp;order_id={SHOP_ORDER_ID}" title="{TXT_VIEW_DETAILS}">
          {SHOP_ORDER_ID}
        </a>
      </td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=orderdetails&amp;order_id={SHOP_ORDER_ID}" title="{TXT_VIEW_DETAILS}">
          {SHOP_ORDER_DATE}
        </a>
      </td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=orderdetails&amp;order_id={SHOP_ORDER_ID}" title="{TXT_VIEW_DETAILS}">
          {SHOP_ORDER_STATUS}
        </a>
      </td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=orderdetails&amp;order_id={SHOP_ORDER_ID}" title="{TXT_VIEW_DETAILS}">
          {SHOP_ORDER_SUM}
        </a>
      </td>
    </tr>
    <!-- END orderRow -->
  </table>
  <table class="adminlist splitview">
    <caption>{TXT_MORE_INFORMATIONS}</caption>
    <tr>
      <td>{TXT_REMARK}</td>
      <td>{SHOP_COMPANY_NOTE}</td>
    </tr>
  </table>
  <input type="submit" name="shopEditCustomer" value="{TXT_EDIT_CUSTOMER}">
</form>
<!-- END shop_customer_details.html -->
