<!-- START module_shop_settings_shipment.html -->
<script>
  // <![CDATA[
function delete_shipper(sid)
{
    if (confirm('{TXT_CONFIRM_DELETE_SHIPPER}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=shipment&delete_shipper_id="+sid);
  }
function delete_shipment(cid)
{
    if (confirm('{TXT_CONFIRM_DELETE_SHIPMENT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=shipment&delete_shipment_id="+cid);
  }
  // ]]>
</script>

<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->

<form name="shopForm" method="post" action="/cadmin/Shop/settings?tpl=shipment" data-fixed-tablists="tab">
  <input type="hidden" name="localeId" value="{SHOP_SHIPPING_LOCALE_ID}">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="tab">
    <table class="adminlist">
      <caption>
        <div class="functions">
          <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <!-- BEGIN shopShipper -->
      <tr>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_SHIPPING_METHOD}</th>
        <th>{TXT_ZONE}</th>
        <th>{TXT_SHIPPING_MAX_WEIGHT}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MAX_WEIGHT_TIP}</span></th>
        <th>{TXT_FREE_OF_CHARGE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FREE_OF_CHARGE_TIP}</span></th>
        <th>{TXT_SHIPPING_FEE}</th>
        <th>&nbsp;</th>
      </tr>
      <tr class="{SHOP_SHIPMENT_STYLE}">
        <td><input type="checkbox" name="active[{SHOP_SHIPPER_ID}]" value="1" {SHOP_SHIPPER_STATUS}></td>
        <td>{SHOP_SHIPPER_NAME}</td>
        <td>{SHOP_ZONE_SELECTION}</td>
        <td colspan="3"></td>
        <td><a href="javascript:delete_shipper({SHOP_SHIPPER_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- BEGIN shopShipment -->
      <tr class="{SHOP_SHIPMENT_STYLE}">
        <td></td>
        <td><input type="hidden" name="sid[{SHOP_SHIPMENT_ID}]" value="{SHOP_SHIPPER_ID}"></td>
        <td></td>
        <td><input type="text" name="max_weight[{SHOP_SHIPMENT_ID}]" value="{SHOP_SHIPMENT_MAX_WEIGHT}" size="15" maxlength="50" class="compact"></td>
        <td><input type="text" name="free_from[{SHOP_SHIPMENT_ID}]" value="{SHOP_SHIPMENT_PRICE_FREE}" size="15" maxlength="50" class="compact">{SHOP_CURRENCY}</td>
        <td><input type="text" name="fee[{SHOP_SHIPMENT_ID}]" value="{SHOP_SHIPMENT_COST}" size="15" maxlength="50" class="compact"> {SHOP_CURRENCY}</td>
        <td><a href="javascript:delete_shipment({SHOP_SHIPMENT_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- END shopShipment -->
      <tr>
        <td></td>
        <td colspan="2">{TXT_SHOP_SHIPMENT_NEW}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_SHIPMENT_NEW_TIP}</span></td>
        <td><input type="text" name="max_weight_new[{SHOP_SHIPPER_ID}]" value="0 g" size="15" maxlength="50" class="compact"></td>
        <td><input type="text" name="free_from_new[{SHOP_SHIPPER_ID}]" value="0.00" size="15" maxlength="50" class="compact">{SHOP_CURRENCY}</td>
        <td><input type="text" name="fee_new[{SHOP_SHIPPER_ID}]" value="0.00" size="15" maxlength="50" class="compact">{SHOP_CURRENCY}</td>
        <td></td>
      </tr>
      <!-- END shopShipper -->
      <!-- BEGIN shopShipperEmpty -->
      <tr>
          <td>{TXT_SHOP_DATABASE_INFORMATION_NO_RECORDS}</td>
      </tr>
      <!-- END shopShipperEmpty -->
    </table>
    <!-- BEGIN shopShipmentSubmit -->
    <input type="submit" name="bshipment" value="{TXT_STORE}">
    <!-- END shopShipmentSubmit -->
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab add" data-tablist="tab">
    <table class="adminlist no-functions">
      <tr>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_SHIPPING_METHOD}</th>
        <th>{TXT_ZONE}</th>
      </tr>
      <tr>
        <td><input type="checkbox" name="active_new" value="1" checked="checked"></td>
        <td><input type="text" name="name_new" value="" size="15" maxlength="50"></td>
        <td>{SHOP_ZONE_SELECTION_NEW}</td>
      </tr>
    </table>
    <button class="secondary" type="button" onclick="cx.ui.tabs.select('tab')">{TXT_CANCEL}</button>
    <input type="submit" name="bshipper_add" value="{TXT_ADD}">
  </div>
  <!-- end content2 div -->
</form>
<!-- END module_shop_settings_shipment.html -->
