<!-- start module_shop_statistic.html -->
<table class="adminlist splitview">
  <!-- BEGIN no_order -->
  <tr>
    <td colspan="4">{TXT_SHOP_STATISTIC_NO_ORDER}</td>
  </tr><!-- END no_order --><!-- BEGIN statistic -->
  <tr>
    <td>{TXT_TOTAL_TURNOVER}</td>
    <td>{SHOP_TOTAL_SUM}</td>
  </tr>
  <tr>
    <td>{TXT_BEST_MONTH}</td>
    <td>{SHOP_MONTH} ({SHOP_MONTH_SUM})</td>
  </tr>
  <tr>
    <td>{TXT_TOTAL_ORDERS}</td>
    <td>{SHOP_TOTAL_ORDERS}</td>
  </tr>
  <tr>
    <td>{TXT_TOTAL_SOLD_ARITCLES}</td>
    <td>{SHOP_SOLD_ARTICLES}</td>
  </tr>
</table>
<form name="frmShopStatistic" method="post" action="index.php?cmd=Shop&amp;act=statistics">
  <table class="adminlist splitview">
    <tr>
      <th>{TXT_SELECT_STATISTIC}</th>
      <th>{TXT_PERIOD}</th>
    </tr>
    <tr>
      <td>
        <select name="selectstats">
          <option value="1" {SHOP_ORDERS_SELECTED}>{TXT_ORDERS}</option>
          <option value="2" {SHOP_ARTICLES_SELECTED}>{TXT_COUNT_ARTICLES}</option>
          <option value="3" {SHOP_CUSTOMERS_SELECTED}>{TXT_CUSTOMERS_PARTNERS}</option>
        </select>
      </td>
      <td>
        {TXT_FROM}
        <select name="startmonth" class="compact">
          {SHOP_START_MONTH}
        </select>
        <select name="startyear" class="compact">
          {SHOP_START_YEAR}
        </select>
        {TXT_TO}
        <select name="stopmonth" class="compact">
          {SHOP_END_MONTH}
        </select>
        <select name="stopyear" class="compact">
          {SHOP_END_YEAR}
        </select>
        <input type="submit" name="submitdate" value="{TXT_PERFORM}">
      </td>
    </tr>
  </table>
</form>
<table class="adminlist no-functions">
  <tr>
    <th>{TXT_COLUMN_1_DESC}</th>
    <th>{TXT_COLUMN_2_DESC}</th>
    <th>{TXT_COLUMN_3_DESC}</th>
    <th>{TXT_ORDER_SUM}</th>
  </tr><!-- BEGIN statisticRow -->
  <tr class="{SHOP_ROWCLASS}">
    <td>{SHOP_COLUMN_1}</td>
    <td>{SHOP_COLUMN_2}</td>
    <td>{SHOP_COLUMN_3}</td>
    <td>{SHOP_COLUMN_4}</td>
  </tr><!-- END statisticRow -->
  <tr class="{SHOP_ROWCLASS}">
    <td>{TXT_SUM}</td>
    <td>{SHOP_SUM_COLUMN_2}</td>
    <td>{SHOP_SUM_COLUMN_3}</td>
    <td>{SHOP_SUM_COLUMN_4}</td>
  </tr><!-- END statistic -->
</table>
{SHOP_STATISTIC_PAGING}
<!-- end module_shop_statistic.html -->
