<!-- start module_shop_settings_payment.html -->
<script>
  // <![CDATA[
function deletePayment(pId)
{
    if (confirm('{TXT_CONFIRM_DELETE_PAYMENT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=payment&delete_payment="+pId);
  }
  // ]]>
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<div class="infobox">{TXT_SHOP_PAYMENT_POSTFINANCE_ONLY_FOR_SWITZERLAND}</div>
<ul class="tabmenu" data-tablist="tab">
  <li><a data-tablink="overview" class="active" href="#">{TXT_PAYMENT_TYPES}</a></li>
  <li><a data-tablink="handler" href="#">{TXT_PAYMENT_HANDLER}</a></li>
</ul>
<form name="shopForm" method="post" action="/cadmin/Shop/settings?tpl=payment" data-fixed-tablists="paytype">
  <input type="hidden" name="localeId" value="{SHOP_PAYMENT_LOCALE_ID}">
  <div class="tab overview" data-tablist="tab">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="paytype">
    <table class="adminlist">
      <caption>
        <div class="functions">
          <a data-tablist="paytype" data-tablink="add" href="#" title="{TXT_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_PAYMENT_TYPE}</th>
        <th>{TXT_FEE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_PAYMENT_FEE_INFO}</span></th>
        <th>{TXT_FREE_OF_CHARGE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FREE_OF_CHARGE_TIP}</span></th>
        <th>{TXT_HANDLER}</th>
        <th>{TXT_ZONE}</th>
        <th>{TXT_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN shopPayment -->
      <tr class="{SHOP_PAYMENT_STYLE}">
        <td><input type="checkbox" name="active[{SHOP_PAYMENT_ID}]" value="1" {SHOP_PAYMENT_STATUS}></td>
        <td><input name="name[{SHOP_PAYMENT_ID}]" type="text" value="{SHOP_PAYMENT_NAME}" size="30" maxlength="50"></td>
        <td class="shop_payment_fee">
          <input type="text" name="fee[{SHOP_PAYMENT_ID}]" value="{SHOP_PAYMENT_COST}" size="6" maxlength="50" class="compact">
          <select name="fee_type[{SHOP_PAYMENT_ID}]" class="compact">
            <option value="fix" <!-- BEGIN shopPaymentFeeFix -->
              selected="selected"
              <!-- END shopPaymentFeeFix -->>
              {SHOP_PAYMENT_CURRENCY}
            </option>
            <option value="percent" <!-- BEGIN shopPaymentFeePercent -->
              selected="selected"
              <!-- END shopPaymentFeePercent -->>
              {TXT_SHOP_PERCENTAGE}
            </option>
          </select>
        </td>
        <td><input type="text" name="free_from[{SHOP_PAYMENT_ID}]" value="{SHOP_PAYMENT_COST_FREE_SUM}" size="15" maxlength="50" class="compact"></td>
        <td>
          <select name="processor_id[{SHOP_PAYMENT_ID}]" class="compact">
            {SHOP_PAYMENT_HANDLER_MENUOPTIONS}
          </select>
        </td>
        <td>{SHOP_ZONE_SELECTION}</td>
        <td><a href="javascript:deletePayment('{SHOP_PAYMENT_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- END shopPayment -->
    </table>
    <input type="submit" name="bpayment" value="{TXT_STORE}">
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab add" data-tablist="paytype">
    <table class="adminlist no-functions">
      <tr>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_PAYMENT_TYPE}</th>
        <th>{TXT_FEE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_PAYMENT_FEE_INFO}</span></th>
        <th>{TXT_FREE_OF_CHARGE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FREE_OF_CHARGE_TIP}</span></th>
        <th>{TXT_HANDLER}</th>
        <th>{TXT_ZONE}</th>
      </tr>
      <tr>
        <td><input type="checkbox" name="active_new" value="1" checked="checked"></td>
        <td><input name="name_new" type="text" value="" size="30" maxlength="50"></td>
        <td class="shop_payment_fee">
          <input type="text" name="fee_new" value="0.00" size="6" maxlength="50" class="compact">
          <select name="fee_type_new" class="compact">
            <option value="fix" selected="selected">
              {SHOP_PAYMENT_CURRENCY}
            </option>
            <option value="percent">
              {TXT_SHOP_PERCENTAGE}
            </option>
          </select>
        </td>
        <td><input type="text" name="free_from_new" value="0.00" size="15" maxlength="50" class="compact"></td>
        <td>
          <select name="processor_id_new" class="compact">
            {SHOP_PAYMENT_HANDLER_MENUOPTIONS_NEW}
          </select>
        </td>
        <td>{SHOP_ZONE_SELECTION_NEW}</td>
      </tr>
    </table>
    <button class="secondary" type="button" onclick="cx.ui.tabs.select('paytype')">{TXT_CANCEL}</button>
    <input type="submit" name="payment_add" value="{TXT_ADD}">
  </div>
  <!-- end content2 div -->
  </div>

  <!-- start content3 div -->
  <div class="tab handler" data-tablist="tab">
    <table class="adminlist splitview">
      <tr>
        <th>{TXT_NAME}</th>
        <th>{TXT_STATEMENT}</th>
        <th>{TXT_ACTIVE}</th>
      </tr>
      <tr>
        <td>{TXT_SHOP_PAYMENT_PAYREXX}</td>
        <td>
          <label for="payrexx_swapper">{TXT_SHOP_EDIT}</label>
          <input id="payrexx_swapper" type="checkbox" onclick="swapBlock('payrexx');">
          <div id="payrexx" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_SHOP_PAYMENT_PAYREXX_INSTANCE_NAME}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_PAYMENT_PAYREXX_INSTANCE_NAME_HINT}</span></td>
                <td><input type="text" name="payrexx_instance_name" value="{SHOP_PAYREXX_INSTANCE_NAME}" maxlength="50"></td>
              </tr>
              <tr>
                <td>
                  {TXT_SHOP_PAYMENT_PAYREXX_DOMAIN_NAME}
                  <span class="tooltip-trigger icon-info"></span>
                  <span class="tooltip-message">
                    {TXT_SHOP_PAYMENT_PAYREXX_DOMAIN_NAME_HINT}
                  </span>
                </td>
                <td><input type="text" name="payrexx_domain_name" value="{SHOP_PAYREXX_DOMAIN_NAME}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_PAYMENT_PAYREXX_API_SECRET}</td>
                <td><input type="text" name="payrexx_api_secret" value="{SHOP_PAYREXX_API_SECRET}" maxlength="50"></td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="payrexx_active" value="1" {SHOP_PAYREXX_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_YELLOWPAY_POSTFINANCE}</td>
        <td>
          <label for="postfinance_swapper">{TXT_SHOP_EDIT}</label>
          <input name="postfinance_swapper" id="postfinance_swapper" type="checkbox" onclick="swapBlock('postfinance');" value="1">
          <div id="postfinance" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_SHOP_YELLOWPAY_PSPID}</td>
                <td><input type="text" name="postfinance_shop_id" value="{SHOP_YELLOWPAY_SHOP_ID}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_IN}</td>
                <td><input type="text" name="postfinance_hash_signature_in" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_IN}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}</td>
                <td><input type="text" name="postfinance_hash_signature_out" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_AUTORIZATION}</td>
                <td>
                  <select name="postfinance_authorization_type">
                    {SHOP_YELLOWPAY_AUTHORIZATION_TYPE_OPTIONS}
                  </select>
                </td>
              </tr>
              <tr>
                <td>{TXT_SHOP_YELLOWPAY_USE_TESTSERVER}</td>
                <td><input id="postfinance_use_testserver" type="checkbox" name="postfinance_use_testserver" value="1" {SHOP_YELLOWPAY_USE_TESTSERVER_CHECKED}></td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="postfinance_active" value="1" {SHOP_YELLOWPAY_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_SAFERPAY_JSON}</td>
        <td><label for="saferpay_json_swapper">{TXT_SHOP_EDIT}</label>
          <input name="saferpay_json_swapper" id="saferpay_json_swapper" type="checkbox" onclick="swapBlock('saferpay_json');" value="1">
          <div id="saferpay_json" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_SAFERPAY_JSON_ACCOUNT_ID}</td>
                <td><input type="text" name="saferpay_json_id" value="{SHOP_SAFERPAY_JSON_ID}" maxlength="60"></td>
              </tr>
              <tr>
                <td>{TXT_TERMINAL_ID}</td>
                <td><input type="text" name="saferpay_json_terminal_id" value="{SHOP_SAFERPAY_JSON_TERMINAL_ID}" maxlength="60"></td>
              </tr>
              <tr>
                <td>{TXT_USERNAME}</td>
                <td><input type="text" name="saferpay_json_user" value="{SHOP_SAFERPAY_JSON_USER}" maxlength="60"></td>
              </tr>
              <tr>
                <td>{TXT_PASSWORD}</td>
                <td><input type="text" name="saferpay_json_pass" value="{SHOP_SAFERPAY_JSON_PASS}" maxlength="60"></td>
              </tr>
              <tr>
                <td>{TXT_USE_TEST_ACCOUNT}</td>
                <td><input type="checkbox" name="saferpay_json_use_test_account" value="1" {SHOP_SAFERPAY_JSON_TEST_STATUS}></td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="saferpay_json_active" value="1" {SHOP_SAFERPAY_JSON_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_PAYPAL}</td>
        <td><label for="paypal_swapper">{TXT_SHOP_EDIT}</label>
          <input name="paypal_swapper" id="paypal_swapper" type="checkbox" onclick="swapBlock('paypal');" value="1">
          <div id="paypal" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_PAYPAL_EMAIL_ACCOUNT}</td>
                <td><input type="text" name="paypal_account_email" value="{SHOP_PAYPAL_EMAIL}" maxlength="254"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_PAYPAL_DEFAULT_CURRENCY}</td>
                <td>
                  <select name="paypal_default_currency">
                    {SHOP_PAYPAL_DEFAULT_CURRENCY_MENUOPTIONS}
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="paypal_active" value="1" {SHOP_PAYPAL_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_PAYMENT_LSV}</td>
        <td></td>
        <td><input type="checkbox" name="payment_lsv_active" value="1" {SHOP_PAYMENT_LSV_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DATATRANS}{SAFERPAY_EXPERIMENTAL}</td>
        <td>
          <label for="datatrans_swapper">{TXT_SHOP_EDIT}</label>
          <input name="datatrans_swapper" id="datatrans_swapper" type="checkbox" onclick="swapBlock('datatrans');" value="1">
          <div id="datatrans" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_SHOP_DATATRANS_MERCHANT_ID}</td>
                <td><input type="text" name="datatrans_merchant_id" value="{SHOP_DATATRANS_MERCHANT_ID}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_AUTHORIZATION}</td>
                <td>
                  <select name="datatrans_request_type">
                    {SHOP_DATATRANS_AUTHORIZATION_TYPE_OPTIONS}
                  </select>
                </td>
              </tr>
              <tr>
                <td>{TXT_SHOP_DATATRANS_USE_TESTSERVER}</td>
                <td>
                  <input id="datatrans_use_testserver_yes" type="radio" name="datatrans_use_testserver" value="1" {SHOP_DATATRANS_USE_TESTSERVER_YES_CHECKED}>
                  <label for="datatrans_use_testserver_yes">{TXT_SHOP_YES}</label>
                  <input id="datatrans_use_testserver_no" type="radio" name="datatrans_use_testserver" value="0" {SHOP_DATATRANS_USE_TESTSERVER_NO_CHECKED}>
                  <label for="datatrans_use_testserver_no">{TXT_SHOP_NO}</label>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="datatrans_active" value="1" {SHOP_DATATRANS_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_SHOP_POSTFINANCE_MOBILE}{SAFERPAY_EXPERIMENTAL}</td>
        <td>
          <label for="postfinance_mobile_swapper">{TXT_SHOP_EDIT}</label>
          <input name="postfinance_mobile_swapper" id="postfinance_mobile_swapper" type="checkbox" onclick="swapBlock('postfinance_mobile');" value="1">
          <div id="postfinance_mobile" style="display: none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_SHOP_POSTFINANCE_MOBILE_WEBUSER}</td>
                <td><input type="text" name="postfinance_mobile_webuser" value="{SHOP_POSTFINANCE_MOBILE_WEBUSER}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_POSTFINANCE_MOBILE_SIGN}</td>
                <td><input type="text" name="postfinance_mobile_sign" value="{SHOP_POSTFINANCE_MOBILE_SIGN}" maxlength="50"></td>
              </tr>
              <tr>
                <td>{TXT_SHOP_POSTFINANCE_MOBILE_IJUSTWANTTOTEST}</td>
                <td><input type="checkbox" id="postfinance_mobile_ijustwanttotest_yes" name="postfinance_mobile_ijustwanttotest" value="1" {SHOP_POSTFINANCE_MOBILE_IJUSTWANTTOTEST_CHECKED}></td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="postfinance_mobile_status" value="1" {SHOP_POSTFINANCE_MOBILE_STATUS}></td>
      </tr>
      <tr>
        <td>{TXT_SAFERPAY}{SAFERPAY_EXPERIMENTAL}</td>
        <td><label for="safperpay_swapper">{TXT_SHOP_EDIT}</label>
          <input name="safperpay_swapper" id="safperpay_swapper" type="checkbox" onclick="swapBlock('safperpay');" value="1">
          <div id="safperpay" style="display:none;">
            <table class="adminlist splitview">
              <tr>
                <td>{TXT_ACCOUNT_ID}</td>
                <td><input type="text" name="saferpay_id" value="{SHOP_SAFERPAY_ID}" maxlength="60"></td>
              </tr>
              <tr>
                <td>{TXT_USE_TEST_ACCOUNT}</td>
                <td><input type="checkbox" name="saferpay_use_test_account" value="1" {SHOP_SAFERPAY_TEST_STATUS}></td>
              </tr>
              <tr>
                <td>{TXT_FINALIZE_PAYMENT}</td>
                <td><input type="checkbox" name="saferpay_finalize_payment" value="1" {SHOP_SAFERPAY_FINALIZE_PAYMENT}></td>
              </tr>
              <tr>
                <td>{TXT_INDICATE_PAYMENT_WINDOW_AS}</td>
                <td>
                  <select name="saferpay_window_option" id="saferpay_window_option">
                    {SHOP_SAFERPAY_WINDOW_MENUOPTIONS}
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td><input type="checkbox" name="saferpay_active" value="1" {SHOP_SAFERPAY_STATUS}></td>
      </tr>
    </table>
    <input type="submit" name="bpayment" value="{TXT_STORE}">
  </div>
  <!-- end content3 div -->

</form>
<!-- end module_shop_settings_payment.html -->
