<!-- START shop_pricelist_overview.html -->
<script>
  <!-- //
  function deleteList(plid)
  {
    if (confirm('{TXT_DELETE_PRICELIST_MSG}')) {
      window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=categories&tpl=pricelists&delete_list_id="+plid);
    }
  }
  
  // -->
</script>

<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=categories" title="{TXT_CATEGORIES}">{TXT_CATEGORIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelists" class="active" title="{TXT_PDF_OVERVIEW}">{TXT_PDF_OVERVIEW}</a></li>
  </ul>
</div>

<!-- BEGIN shop_pricelist_overview -->
<form name="form_pricelist" method="post" action="index.php?cmd=Shop&amp;act=pricelists">
  <table class="adminlist">
    <caption>
      <div class="functions">
         <a href="/cadmin/Shop/categories?tpl=pricelist_edit&list_id" title="{TXT_MAKE_NEW_PRICELIST}">
            <i class="fa-solid fa-plus"></i>
         </a>
      </div>
    </caption>
    <!-- BEGIN shop_pricelist_header -->
    <tr>
      <th>{TXT_ID}</th>
      <th>{TXT_NAME}</th>
      <th>{TXT_PDF_LINK}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- END shop_pricelist_header -->
    <!-- BEGIN shop_pricelist -->
    <tr class="{SHOP_PRICELIST_ROWCLASS}">
      <td>{SHOP_PRICELIST_ID}</td>
      <td><a href="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelist_edit&amp;list_id={SHOP_PRICELIST_ID}" target="_self" title="{TXT_EDIT}">{SHOP_PRICELIST_NAME}</a></td>
      <td>{SHOP_PRICELIST_LINK_PDF}</td>
      <td>
        <a href="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelist_edit&amp;list_id={SHOP_PRICELIST_ID}" target="_self" title="{TXT_EDIT}">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <a href="javascript:deleteList({SHOP_PRICELIST_ID})" target="_self" title="{TXT_DELETE}">
          <i class="fa-regular fa-trash-can"></i>
        </a>
      </td>
    </tr>
    <!-- END shop_pricelist -->
    <!-- BEGIN shop_pricelist_noentry -->
    <tr>
        <td>{TXT_SHOP_DATABASE_INFORMATION_NO_RECORDS}</td>
    </tr>
    <!-- END shop_pricelist_noentry -->
  </table>
</form>
<!-- END shop_pricelist_overview -->
<!-- END shop_pricelist_overview.html -->
