<!-- START shop_categories.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=categories" class="active" title="{TXT_CATEGORIES}">{TXT_CATEGORIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=categories&amp;tpl=pricelists" title="{TXT_PDF_OVERVIEW}">{TXT_PDF_OVERVIEW}</a></li>
  </ul>
</div>
<div class="tab overview" data-tablist="tab">
  <form name="selectCat" method="post" action="index.php?cmd=Shop&amp;act=categories">
    <input type="hidden" name="delete_products" id="shop_delete_products" value="0">
    <table class="adminlist">
      <caption>
          <div class="functions">
              <a data-tablist="tab" data-tablink="edit" href="#" title="{TXT_SHOP_CATEGORY_ADD_OR_EDIT}">
                  <i class="fa-solid fa-plus"></i>
              </a>
          </div>
      </caption>
      <tr>
        <th>{TXT_ID}</th>
        <th>{TXT_ACTIVE}</th>
        <th>{TXT_SEQUENCE}</th>
        <th>{TXT_NAME}</th>
        <th>{TXT_ACTION}</th>
      </tr>
      <!-- BEGIN category_row -->
      <tr class="{SHOP_ROWCLASS}">
        <td><input type="hidden" value="{SHOP_CATEGORY_ID}" name="update_category_id[]">{SHOP_CATEGORY_ID}</td>
        <td>
          <span style="cursor: pointer;" onclick="toggleCategory({SHOP_CATEGORY_ID});">
            <img src="/core/Core/View/Media/icons/{SHOP_CATEGORY_ACTIVE_PICTURE}" alt="{SHOP_CATEGORY_ACTIVE}" title="{SHOP_CATEGORY_ACTIVE}">
          </span>
        </td>
        <td><input type="number" name="ord[{SHOP_CATEGORY_ID}]" value="{SHOP_CATEGORY_ORD}" maxlength="4" class="compact"></td>
        <td>{SHOP_CATEGORY_LEVELSPACE}<a href="index.php?cmd=Shop&amp;act=categories&amp;category_id={SHOP_CATEGORY_ID}&amp;userFrontendLangId={SHOP_CATEGORY_LANGUAGE_ID}&tab-tab=edit" title="{SHOP_CATEGORY_LANGUAGE_EDIT}">{SHOP_CATEGORY_NAME}</a></td>
        <td>
          <input type="hidden" value="{SHOP_CATEGORY_ORD}" name="ord_old[{SHOP_CATEGORY_ID}]">
          <a href="index.php?cmd=Shop&amp;act=products&amp;category_id={SHOP_CATEGORY_ID}" title="{TXT_PREVIEW}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          <a href="index.php?cmd=Shop&amp;act=categories&amp;category_id={SHOP_CATEGORY_ID}&amp;userFrontendLangId={SHOP_CATEGORY_LANGUAGE_ID}&tab-tab=edit" title="{SHOP_CATEGORY_LANGUAGE_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:deleteCategory('{SHOP_CATEGORY_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
      </tr><!-- END category_row -->
    </table>
    <input type="hidden" name="localeId" value="{SHOP_CATEGORY_LOCALE_ID}">
    <input type="submit" name="bcategories" value="{TXT_ACCEPT_CHANGES}">
  </form>
</div>

<!-- BEGIN category_edit -->
<div class="tab edit" data-tablist="tab">
  <form name="categoryForm" method="post" action="index.php?cmd=Shop&amp;act=categories">
    <input type="hidden" name="localeId" value="{SHOP_CATEGORY_LOCALE_ID}">
    <input type="hidden" name="category_id" value="{SHOP_CATEGORY_ID}">
    <table class="adminlist splitview">
      <caption>{TXT_ADD_NEW_SHOP_GROUP}</caption>
      <tr>
        <td><label for="active">{TXT_ACTIVE}</label></td>
        <td><input type="checkbox" id="active" name="active" value="1" {SHOP_CATEGORY_ACTIVE_CHECKED}></td>
      </tr>
      <tr>
        <td><label for="name">{TXT_NAME}</label></td>
        <td><input type="text" id="name" name="name" maxlength="255" value="{SHOP_CATEGORY_NAME}"></td>
      </tr>
      <tr>
        <td><label for="parent_id">{TXT_SHOP_CATEGORY_PARENT}</label></td>
        <td>
          <select id="parent_id" name="parent_id">
            <option value="0">{TXT_NEW_MAIN_ARTICLE_GROUP}</option>
            {SHOP_CATEGORY_MENUOPTIONS}
          </select>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_CATEGORY_IMAGE}</td>
        <td>
            {SHOP_CATEGORY_IMAGE}
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_CATEGORY_SHORT_DESCRIPTION}</td>
        <td>{SHOP_CATEGORY_SHORT_DESCRIPTION}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_CATEGORY_DESCRIPTION}</td>
        <td>{SHOP_CATEGORY_DESCRIPTION}</td>
      </tr>
    </table>
    <input type="button" name="bcancel" value="{TXT_SHOP_CANCEL}" onclick="cancelEdit();" class="secondary">
    <input type="submit" name="bcategory" value="{TXT_STORE}">
  </form>
</div>
<!-- END category_edit -->
<script>
  // <![CDATA[
  function deleteCategory(id) {
    if (confirm('{TXT_SHOP_CONFIRM_DELETE_CATEGORY}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
      var delAssociatedProducts = cx.ui.confirm('{TXT_SHOP_CONFIRM_DELETE_ASSOCIATED_PRODUCTS}');
      window.location.replace("index.php?{CSRF_PARAM}&cmd=Shop&act=categories&delete_category_id="+id+"&delete_products="+(delAssociatedProducts ? '1' : '0'));
    }
  }
  function toggleCategory(id) {
    window.location.replace("index.php?{CSRF_PARAM}&cmd=Shop&act=categories&toggle_category_id="+id);
  }
  function shopCatDoAction(strForm, strCheckbox, objSelect, strAct) {
    if (checkboxIsChecked(strForm, strCheckbox)) {
      switch (strAct) {
        case 'del':
          if (confirm('{TXT_SHOP_CONFIRM_DELETE_CATEGORIES}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
            var delAssociatedProducts = cx.ui.confirm('{TXT_SHOP_CONFIRM_DELETE_ASSOCIATED_PRODUCTS}');
            jQuery('#shop_delete_products').val(delAssociatedProducts ? '1' : '0');
            //          document.forms[strForm].action = "index.php?cmd=Shop&act=categories";
            document.forms[strForm].submit();
          }
          break;
      }
    } else {
      alert("{TXT_MAKE_SELECTION}");
    }
    objSelect.value = 0;
  }
  function cancelEdit() {
    window.location.replace("index.php?{CSRF_PARAM}&cmd=Shop&act=categories");
  }
  // ]]></script>
<!-- END shop_categories.html -->
