<!-- START module_shop_discount_coupon.html -->
<div class="tab overview" data-tablist="tab">
  <table class="adminlist sortable">
    <caption>
      <div class="functions">
        <a data-tablist="tab" data-tablink="edit" href="#" title="{TXT_SHOP_DISCOUNT_COUPON_ADD_OR_EDIT}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th class="{ORDER_DIR_CODE}">{HEADER_SHOP_DISCOUNT_COUPON_CODE}</th>
      <th class="{ORDER_DIR_START_TIME}">{HEADER_SHOP_DISCOUNT_COUPON_START_TIME}</th>
      <th class="{ORDER_DIR_END_TIME}">{HEADER_SHOP_DISCOUNT_COUPON_END_TIME}</th>
      <th class="{ORDER_DIR_MINIMUM_AMOUNT_CURRENCY}">{HEADER_SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT_CURRENCY}</th>
      <th class="{ORDER_DIR_RATE}">{HEADER_SHOP_DISCOUNT_COUPON_RATE}</th>
      <th class="{ORDER_DIR_AMOUNT_CURRENCY}">{HEADER_SHOP_DISCOUNT_COUPON_AMOUNT_CURRENCY}</th>
      <th class="{ORDER_DIR_USES}">{HEADER_SHOP_DISCOUNT_COUPON_USES}</th>
      <th class="{ORDER_DIR_SCOPE}">{HEADER_SHOP_DISCOUNT_COUPON_SCOPE}</th>
      <th class="{ORDER_DIR_CUSTOMER}">{HEADER_SHOP_DISCOUNT_COUPON_CUSTOMER}</th>
      <th class="{ORDER_DIR_PRODUCT}">{HEADER_SHOP_DISCOUNT_COUPON_PRODUCT}</th>
      <th class="{ORDER_DIR_PAYMENT}">{HEADER_SHOP_DISCOUNT_COUPON_PAYMENT}</th>
      <th>{TXT_SHOP_DISCOUNT_COUPON_URI}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_DISCOUNT_COUPON_URI_HINT_TEXT}</span></th>
      <th>{TXT_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN shopDiscountCouponView -->
    <tr>
      <td>{SHOP_DISCOUNT_COUPON_CODE}</td>
      <td>{SHOP_DISCOUNT_COUPON_START_TIME}</td>
      <td>{SHOP_DISCOUNT_COUPON_END_TIME}</td>
      <td>{SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT}</td>
      <td>{SHOP_DISCOUNT_COUPON_RATE}</td>
      <td>{SHOP_DISCOUNT_COUPON_AMOUNT}</td>
      <td>{SHOP_DISCOUNT_COUPON_USES}</td>
      <td>{SHOP_DISCOUNT_COUPON_SCOPE}</td>
      <td>{SHOP_DISCOUNT_COUPON_CUSTOMER}</td>
      <td>{SHOP_DISCOUNT_COUPON_PRODUCT}</td>
      <td>{SHOP_DISCOUNT_COUPON_PAYMENT}</td>
      <td>{SHOP_DISCOUNT_COUPON_URI_INPUT}</td>
      <td>
        <a href="/cadmin/Shop/settings?tpl=coupon&edit={SHOP_DISCOUNT_COUPON_ID}&tab-tab=edit"><i class="fa-regular fa-pen-to-square" title="{TXT_CORE_HTML_EDIT}"></i></a>
        <a href="javascript:void(0);" onclick="delete_coupon('{SHOP_DISCOUNT_COUPON_ID}');"><i class="fa-regular fa-trash-can" title="{TXT_CORE_HTML_DELETE}"></i></a>
      </td>
    </tr>
    <!-- END shopDiscountCouponView -->
  </table>
  {SHOP_PAGING}
</div>
<div class="tab edit" data-tablist="tab">
  <form name="couponForm" method="post" action="/cadmin/Shop/settings?tpl=coupon" data-fixed-tablists="tab">
    <input type="hidden" name="edit" value="{SHOP_DISCOUNT_COUPON_INDEX}">
    <!-- BEGIN shopDiscountCouponEdit -->
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_CODE}</td>
        <td>{SHOP_DISCOUNT_COUPON_CODE}{SHOP_DISCOUNT_COUPON_CODE_CREATE}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_START_TIME}</td>
        <td>{SHOP_DISCOUNT_COUPON_START_TIME}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_END_TIME}</td>
        <td>{SHOP_DISCOUNT_COUPON_END_TIME}{SHOP_DISCOUNT_COUPON_END_TIME_UNLIMITED}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT_CURRENCY}</td>
        <td>{SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_TYPE}</td>
        <td>{SHOP_DISCOUNT_COUPON_TYPE}</td>
      </tr>
      <tr id="coupon_type_rate_row" style="display: none;">
        <td>{TXT_SHOP_DISCOUNT_COUPON_RATE}</td>
        <td>{SHOP_DISCOUNT_COUPON_RATE}</td>
      </tr>
      <tr id="coupon_type_amount_row" style="display: none;">
        <td>{TXT_SHOP_DISCOUNT_COUPON_AMOUNT_CURRENCY}</td>
        <td>{SHOP_DISCOUNT_COUPON_AMOUNT}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_DISCOUNTS_SALE_NOTE_TITLE}{TXT_SHOP_DISCOUNTS_SALE_NOTE_TEXT}{TXT_SHOP_DISCOUNTS_MULTIPLE_VAT_NOTE_TITLE}{TXT_SHOP_DISCOUNTS_MULTIPLE_VAT_NOTE_TEXT}</span>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_USES}</td>
        <td>{SHOP_DISCOUNT_COUPON_USES}{SHOP_DISCOUNT_COUPON_USES_UNLIMITED}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_SCOPE}</td>
        <td>
          {SHOP_DISCOUNT_COUPON_GLOBALLY}
          {SHOP_DISCOUNT_COUPON_PER_CUSTOMER}
          <div id="customer_widget" style="display: {SHOP_DISCOUNT_COUPON_CUSTOMER_WIDGET_DISPLAY}">
            <input class="live-search-user-id" name="customer_id" id="customer_id" value="{SHOP_DISCOUNT_COUPON_CUSTOMER_ID}">
            <input class="live-search-user-name" name="customer_name" id="customer_name" value="{SHOP_DISCOUNT_COUPON_CUSTOMER_NAME}">
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_PRODUCT}</td>
        <td>{SHOP_DISCOUNT_COUPON_PRODUCT}</td>
      </tr>
      <tr>
        <td>{TXT_SHOP_DISCOUNT_COUPON_PAYMENT}</td>
        <td>{SHOP_DISCOUNT_COUPON_PAYMENT}</td>
      </tr>
    </table>
    <!-- END shopDiscountCouponEdit -->
    <input type="button" name="bcancel" value="{TXT_SHOP_CANCEL}" onclick="location.href='index.php?cmd=Shop&amp;act=settings&amp;tpl=coupon&amp;{CSRF_PARAM}';" class="secondary">
    <input type="submit" name="bsubmit" value="{TXT_STORE}">
  </form>
</div>
<script>// <[CDATA[
  function delete_coupon(index) {
    if (confirm("{TXT_SHOP_DISCOUNT_COUPON_DELETE_CONFIRM}\n\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
      window.location.replace(
        "index.php?{CSRF_PARAM}&cmd=Shop&act=settings&tpl=coupon&delete="+index);
    }
  }
cx.ready(function() {
    var $ = cx.jQuery;
    $("#end_time_unlimited").change(function() {
      if ($("#end_time_unlimited").is(":checked")) {
        $("#end_date").attr("disabled", true);
        $("#end_date").val("");
      } else {
        $("#end_date").attr("disabled", false);
        $("#end_date").datepicker({
          // TODO: Maybe have to set the default again here?
          //        defaultDate: "'.
          //            ($objCouponEdit->end_time()
          //              ? date(ASCMS_DATE_FORMAT_DATE, $objCouponEdit->end_time())
          //              : date(ASCMS_DATE_FORMAT_DATE)).'"
        });
      }
    }).change();
    var uses = $("#uses").val();
    $("#unlimited").change(function() {
      if ($("#unlimited").is(":checked")) {
        uses = $("#uses").val();
        $("#uses").attr("disabled", true).val("");
      } else {
        $("#uses").attr("disabled", false).val(uses);
      }
    }).change();
    var element = $("#customer_widget").find("input[name=customer_id]");
    var customer_id = element.val();
    $("[name=global_or_customer]").change(function() {
      if ($("#global").is(":checked")) {
        customer_id = element.val();
        element.val("0");
        $("#customer_widget").hide();
      } else {
        element.val(customer_id);
        $("#customer_widget").show();
      }
    }).change();
    $("#coupon_type-1").click(function() {
      change_type("rate")
    });
    $("#coupon_type-2").click(function() {
      change_type("amount")
    });
    function change_type(selected) {
      var display_rate = "table-row";
      var display_amount = "none";
      switch (selected) {
        case "amount":
          display_rate = "none";
          display_amount = "table-row";
      }
      $("#coupon_type_rate_row").css("display", display_rate);
      $("#coupon_type_amount_row").css("display", display_amount);
    };
    change_type("{SHOP_DISCOUNT_COUPON_TYPE_SELECTED}");
  });
  // ]]>
</script>
<!-- END module_shop_discount_coupon.html -->
