<!-- START module_shop_settings_zones.html -->
<script>
  //<![CDATA[
function submit_form()
{
    for (var zoneId = 0; zoneId < document.shopForm.elements['zone_list[]'].length; ++zoneId) {
    for (var i = document.shopForm.elements['selected_countries['+document.forms["shopForm"].elements["zone_list[]"].options[zoneId].value+'][]'].length-1; i >= 0; --i) {
      document.shopForm.elements['selected_countries['+document.forms["shopForm"].elements["zone_list[]"].options[zoneId].value+'][]'].options[i].selected=true;
      }
    for (var i = document.shopForm.elements['country_list['+document.forms["shopForm"].elements["zone_list[]"].options[zoneId].value+'][]'].length-1; i >= 0; --i) {
      document.shopForm.elements['country_list['+document.forms["shopForm"].elements["zone_list[]"].options[zoneId].value+'][]'].options[i].selected=true;
      }
      document.shopForm.elements['zone_list[]'].options[zoneId].selected = true;
    }
    return true;
  }

function sortSelect(obj)
{
    var o = new Array();
    if (obj.options == null) return;
    for (var i = 0; i < obj.options.length; ++i) {
    o[o.length] = new Option( obj.options[i].text, obj.options[i].value, obj.options[i].defaultSelected, obj.options[i].selected);
    }
    if (o.length == 0) return;
    o = o.sort(
    function(a,b) {
      if ((a.text+"") < (b.text+"")) return -1;
      if ((a.text+"") > (b.text+"")) return 1;
        return 0;
      }
    );
    for (var i = 0; i < o.length; ++i) {
      obj.options[i] = new Option(o[i].text, o[i].value, o[i].defaultSelected, o[i].selected);
    }
  }

function moveSelectedOptions(from, to)
{
    // Move them over
    for (var i = 0; i < from.options.length; ++i) {
      var o = from.options[i];
      if (o.selected) {
      to.options[to.options.length] = new Option( o.text, o.value, false, false);
      }
    }
    // Delete the original
  for (var i = from.options.length-1; i >= 0; --i) {
      var o = from.options[i];
      if (o.selected) {
        from.options[i] = null;
      }
    }
    if (arguments.length < 3 || arguments[2] == true) {
      sortSelect(from);
      sortSelect(to);
    }
    from.selectedIndex = -1;
    to.selectedIndex = -1;
  }

function moveAllOptions(from, to)
{
    // Move them over
    for (var i = 0; i < from.options.length; ++i) {
      var o = from.options[i];
    to.options[to.options.length] = new Option( o.text, o.value, false, false);
    }
    // Delete them from original
  for (var i = from.options.length-1; i >= 0; --i) {
      var o = from.options[i];
      from.options[i] = null;
    }
    if (arguments.length < 3 || arguments[2] == true) {
      sortSelect(from);
      sortSelect(to);
    }
    from.selectedIndex = -1;
    to.selectedIndex = -1;
  }

function selectZone()
{
    var anz = 0;
    for (var i = 0; i < document.shopForm.elements['zone_list[]'].length; ++i) {
      if (document.shopForm.elements['zone_list[]'].options[i].selected == true) {
        ++anz;
      }
    }
    if (anz == 1) {
      for (var i = 0; i < document.shopForm.elements['zone_list[]'].length; ++i) {
        if (document.shopForm.elements['zone_list[]'].options[i].selected == true) {
        swapBlockStatus(document.forms['shopForm'].elements['zone_list[]'].options[i].value,1);
        } else {
        swapBlockStatus(document.forms['shopForm'].elements['zone_list[]'].options[i].value,0);
        }
      }
    }
  }

function deleteZone(zId)
{
    if (confirm('{TXT_CONFIRM_DELETE_ZONE}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=settings&tpl=zones&delete_zone_id="+zId);
  }

function add_zone()
{
  for (var i = document.shopForm.elements['selected_countries[]'].length-1; i >= 0; --i) {
      document.shopForm.elements['selected_countries[]'].options[i].selected = true;
    }
    return true;
  }
  //]]>
</script>
<form name="shopForm" method="post" action="/cadmin/Shop/settings?tpl=zones" data-fixed-tablists="tab">
  <input type="hidden" name="localeId" value="{SHOP_ZONE_LOCALE_ID}">
  <!-- start content1 div -->
  <div class="tab overview" data-tablist="tab">
    <table class="adminlist splitview">
      <caption>
        <div class="functions">
          <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <td>{TXT_ZONES}</td>
        <td>
          <select name="zone_list[]" multiple="multiple" size="5" onchange="selectZone();">
            {SHOP_ZONES_OPTIONS}
          </select>
        </td>
      </tr>
    </table>
    <!-- BEGIN shopZones -->
    <div id="{SHOP_ZONE_ID}" class="switchzone" style="{SHOP_ZONE_DISPLAY_STYLE}">
      <table class="adminlist splitview">
        <tr>
          <td>{TXT_ZONE_NAME}</td>
          <td><input type="text" name="zone_name[{SHOP_ZONE_ID}]" value="{SHOP_ZONE_NAME}">{TXT_ACTIVE}<input type="checkbox" name="zone_active[{SHOP_ZONE_ID}]" value="1" {ZONE_ACTIVE_STATUS}></td>
          <td><a href="javascript:deleteZone('{SHOP_ZONE_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        <tr>
          <td>{TXT_ZONES}</td>
          <td colspan="2">
            <div class="multiselect">
              <div>
                {TXT_SELECTED_COUNTRIES}<br>
                <select name="selected_countries[{SHOP_ZONE_ID}][]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['selected_countries[{SHOP_ZONE_ID}][]'],this.form['country_list[{SHOP_ZONE_ID}][]'])">
                  {SHOP_ZONE_SELECTED_COUNTRIES_OPTIONS}
                </select>
              </div>
              <div>
                <input type="button" title="{TXT_ADD_ALL}" name="add_all" value="&lt;&lt;" onclick="moveAllOptions(this.form['country_list[{SHOP_ZONE_ID}][]'],this.form['selected_countries[{SHOP_ZONE_ID}][]'])">
                <input type="button" title="{TXT_ADD_SELECTION}" name="add" value="&lt;" onclick="moveSelectedOptions(this.form['country_list[{SHOP_ZONE_ID}][]'],this.form['selected_countries[{SHOP_ZONE_ID}][]'])">
                <input type="button" title="{TXT_REMOVE_SELECTION}" name="remove" value="&gt;" onclick="moveSelectedOptions(this.form['selected_countries[{SHOP_ZONE_ID}][]'],this.form['country_list[{SHOP_ZONE_ID}][]'])">
                <input type="button" title="{TXT_REMOVE_ALL}" name="remove_all" value="&gt;&gt;" onclick="moveAllOptions(this.form['selected_countries[{SHOP_ZONE_ID}][]'],this.form['country_list[{SHOP_ZONE_ID}][]'])">
              </div>
              <div>
                {TXT_AVAILABLE_COUNTRIES}<br>
                <select name="country_list[{SHOP_ZONE_ID}][]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['country_list[{SHOP_ZONE_ID}][]'],this.form['selected_countries[{SHOP_ZONE_ID}][]'])">
                  {SHOP_COUNTRY_LIST_OPTIONS}
                </select>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- END shopZones -->
    <input type="submit" name="bzones" value="{TXT_STORE}" onclick="submit_form();">
  </div>
  <!-- end content1 div -->

  <!-- start content2 div -->
  <div class="tab add" data-tablist="tab">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_ZONE_NAME}</td>
        <td><input type="text" name="zone_name_new" value="">{TXT_ACTIVE}<input type="checkbox" name="zone_active_new" value="1" checked="checked"></td>
      </tr>
      <tr>
        <td>{TXT_DELIVERY_COUNTRIES}</td>
        <td>
          <div class="multiselect">
            <div>
              {TXT_SELECTED_COUNTRIES}<br>
              <select name="selected_countries[]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['selected_countries[]'],this.form['country_list[]'])"></select>
            </div>
            <div>
              <input type="button" title="{TXT_ADD_ALL}" name="add_all" value="&lt;&lt;" onclick="moveAllOptions(this.form['country_list[]'],this.form['selected_countries[]'])">
              <input type="button" title="{TXT_ADD_SELECTION}" name="add" value="&lt;" onclick="moveSelectedOptions(this.form['country_list[]'],this.form['selected_countries[]'])">
              <input type="button" title="{TXT_REMOVE_SELECTION}" name="remove" value="&gt;" onclick="moveSelectedOptions(this.form['selected_countries[]'],this.form['country_list[]'])">
              <input type="button" title="{TXT_REMOVE_ALL}" name="remove_all" value="&gt;&gt;" onclick="moveAllOptions(this.form['selected_countries[]'],this.form['country_list[]'])">
            </div>
            <div>
              {TXT_AVAILABLE_COUNTRIES}<br>
              <select name="country_list[]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['country_list[]'],this.form['selected_countries[]'])">
                {SHOP_ZONE_COUNTRY_LIST}
              </select>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <button class="secondary" type="button" onclick="cx.ui.tabs.select('tab')">{TXT_CANCEL}</button>
    <input type="submit" name="zones_new" value="{TXT_ADD}" onclick="add_zone();">
  </div>
  <!-- end content2 div -->
</form>
<!-- END module_shop_settings_zones.html -->
