<!-- START module_shop_discount_customer.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=catalog" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=discounts" class="active" title="{TXT_SHOP_DISCOUNTS_CUSTOMER}">{TXT_SHOP_DISCOUNTS_CUSTOMER}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=groups" title="{TXT_SHOP_CUSTOMER_GROUPS}">{TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  </ul>
</div>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<form name="shopForm" method="post" action="index.php?cmd=Shop&amp;act=customers&amp;tpl=discounts">
  <table class="adminlist no-functions">
    <!-- BEGIN customer_group_header -->
    <tr>
      <td></td>
      <!-- BEGIN customer_group_header_column -->
      <td>{SHOP_CUSTOMER_GROUP_NAME}<a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=groups&amp;edit=1&amp;id={SHOP_CUSTOMER_GROUP_ID}&amp;tab=edit" title="{TXT_EDIT}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
      <!-- END customer_group_header_column -->
    </tr>
    <!-- END customer_group_header -->

    <!-- BEGIN article_group_row -->
    <tr class="{SHOP_DISCOUNT_ROW_STYLE}">
      <td>{SHOP_ARTICLE_GROUP_NAME}<a href="index.php?cmd=Shop&amp;act=products&amp;tpl=groups&amp;edit=1&amp;id={SHOP_ARTICLE_GROUP_ID}&amp;tab=edit" title="{TXT_EDIT}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
      <!-- BEGIN discount_column -->
      <td><input type="text" maxlength="6" name="discountRate[{SHOP_CUSTOMER_GROUP_ID}][{SHOP_ARTICLE_GROUP_ID}]" value="{SHOP_DISCOUNT_RATE}" class="compact">&nbsp;%</td>
      <!-- END discount_column -->
    </tr>
    <!-- END article_group_row -->

  </table>
  <input type="submit" name="store" value="{TXT_STORE}">
</form>
<!-- END module_shop_discount_customer.html -->
