<!-- START module_shop_settings_countries.html -->
<script>
  // <![CDATA[
cx.ready(function() {
    cx.jQuery("form.countries").submit(function(e) {
        for (var i = document.shopForm.elements['list1[]'].length-1; i >= 0; --i) {
        document.shopForm.elements['list1[]'].options[i].selected = true;
      }
        for (var i=document.shopForm.elements['list2[]'].length-1; i >= 0; --i) {
        document.shopForm.elements['list2[]'].options[i].selected = true;
      }
      return true;
    });
  });

function sortSelect(obj)
{
    var o = new Array();
    if (obj.options == null) return;
    for (var i = 0; i < obj.options.length; ++i) {
      o[o.length] = new Option(obj.options[i].text, obj.options[i].value, obj.options[i].defaultSelected, obj.options[i].selected);
    }
    if (o.length == 0) return;
    o = o.sort(
    function(a,b) {
      if ((a.text+"") < (b.text+"")) return -1;
      if ((a.text+"") > (b.text+"")) return 1;
        return 0;
      }
    );

    for (var i = 0; i < o.length; ++i) {
      obj.options[i] = new Option(o[i].text, o[i].value, o[i].defaultSelected, o[i].selected);
    }
  }

function moveSelectedOptions(from, to)
{
    // Move them over
    for (var i = 0; i < from.options.length; ++i) {
      var o = from.options[i];
      if (o.selected) {
        to.options[to.options.length] = new Option(o.text, o.value, false, false);
      }
    }
    // Delete them from original
  for (var i = from.options.length-1; i >= 0; --i) {
      var o = from.options[i];
      if (o.selected) {
        from.options[i] = null;
      }
    }
    if (arguments.length < 3 || arguments[2] == true) {
      sortSelect(from);
      sortSelect(to);
    }
    from.selectedIndex = -1;
    to.selectedIndex = -1;
  }

function moveAllOptions(from, to)
{
    // Move them over
    for (var i = 0; i < from.options.length; ++i) {
      var o = from.options[i];
      to.options[to.options.length] = new Option(o.text, o.value, false, false);
    }
    // Delete them from original
  for (var i = from.options.length-1; i >= 0; --i) {
      var o = from.options[i];
      from.options[i] = null;
    }
    if (arguments.length < 3 || arguments[2] == true) {
      sortSelect(from);
      sortSelect(to);
    }
    from.selectedIndex = -1;
    to.selectedIndex = -1;
  }
  // ]]>
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="countriesTab_content1" class="active" href="#">{TXT_DELIVERY_COUNTRIES}</a></li>
</ul>
<form name="shopForm" class="countries" method="post" action="index.php?cmd=Shop&amp;act=settings&amp;tpl=countries">
  <!-- start content1 div -->
  <div class="tab countriesTab_content1" data-tablist="default">
    <div class="infobox">{TXT_SELECT_SEVERAL_COUNTRIES}</div>
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_SELECT_COUNTRIES}</td>
        <td>
          <div class="multiselect">
            <div>
              {TXT_DISPLAY_IT_IN_THE_SHOP}<br>
              <select name="list1[]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['list1[]'],this.form['list2[]'])">
                <!-- BEGIN shop_selected_countries -->
                <option value="{SHOP_COUNTRY_ID}">{SHOP_COUNTRY_NAME}</option>
                <!-- END shop_selected_countries -->
              </select>
            </div>
            <div>
              <input type="button" title="{TXT_REMOVE_ALL}" name="remove_all" value="&lt;&lt;" onclick="moveAllOptions(this.form['list2[]'],this.form['list1[]'])">
              <input type="button" title="{TXT_REMOVE_SELECTION}" name="remove" value="&lt;" onclick="moveSelectedOptions(this.form['list2[]'],this.form['list1[]'])">
              <input type="button" title="{TXT_ADD_SELECTION}" name="add" value="&gt;" onclick="moveSelectedOptions(this.form['list1[]'],this.form['list2[]'])">
              <input type="button" title="{TXT_ADD_ALL}" name="add_all" value="&gt;&gt;" onclick="moveAllOptions(this.form['list1[]'],this.form['list2[]'])">
            </div>
            <div>
              {TXT_DONT_DISPLAY_IT_IN_THE_SHOP}<br>
              <select name="list2[]" multiple="multiple" size="15" ondblclick="moveSelectedOptions(this.form['list2[]'],this.form['list1[]'])">
                <!-- BEGIN shop_not_selected_countries -->
                <option value="{SHOP_COUNTRY_ID}">{SHOP_COUNTRY_NAME}</option>
                <!-- END shop_not_selected_countries -->
              </select>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- end content1 div -->
  <input type="submit" name="countries" value="{TXT_STORE}">
</form>
<!-- END module_shop_settings_countries.html -->
