<!-- start shop_orders.html -->
<script>//<![CDATA[
  var shopOrder = {
    jq: cx.jQuery,
    deletedStatus: [2, 3],
    isStockIncreasable: function(oldStatus, newStatus) {
      return    this.jq.inArray(parseInt(oldStatus), this.deletedStatus) == -1
        && this.jq.inArray(parseInt(newStatus), this.deletedStatus) != -1
        && confirm('{TXT_SHOP_CONFIRM_RESET_STOCK}');
    },
    isStockDecreasable: function(oldStatus, newStatus) {
      return     this.jq.inArray(parseInt(oldStatus), this.deletedStatus) != -1
        && this.jq.inArray(parseInt(newStatus), this.deletedStatus) == -1
        && confirm('{TXT_SHOP_CONFIRM_REDUCE_STOCK}');
    }
  };
  function shopOrdersDoAction(strForm, strCheckbox, objSelect, strAct) {
    if (checkboxIsChecked(strForm, strCheckbox) == true) {
      switch (strAct) {
        case 'del':
          if (confirm('{TXT_CONFIRM_DELETE_ORDER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
            var stockUpdate = false;
            if (confirm('{TXT_SHOP_CONFIRM_RESET_STOCK}')) {
              stockUpdate = true;
            }
            document.forms[strForm].action = "{SHOP_ACTION_URI}&{CSRF_PARAM}&act=delorder" + (stockUpdate ? '&stock_update=1' : '');
            document.forms[strForm].submit();
          }
          break;
      }
    } else {
      alert("{TXT_MAKE_SELECTION}");
    }
    objSelect.value = 0;
  }
  function sendForm(letter) {
    document.forms.search_orders.listletter.value = letter;
    document.forms.search_orders.searchterm.value = "";
    document.forms.search_orders.submit();
  }
  function changeOrderStatus(order_id, status, new_status) {
    if (confirm('{TXT_CONFIRM_CHANGE_STATUS}')) {
      var strURI = "{SHOP_ACTION_URI}&{CSRF_PARAM}&act=orders&order_id="+order_id+"&changeOrderStatus="+new_status;
      if (new_status == 4
        //     || new_status == 1
        //     || new_status == 5
        //     || new_status == 6
      ) {
        if (confirm('{SHOP_SEND_TEMPLATE_TO_CUSTOMER}')) {
          strURI += "&sendMail=1";
        }
      }
      if (   shopOrder.isStockIncreasable(status, new_status)
        || shopOrder.isStockDecreasable(status, new_status)) {
        strURI += '&stock_update=1';
      }

      window.location.replace(strURI);
    } else {
      document.getElementById("order_status-"+order_id).setAttribute("value", status);
    }
  }
  !(function($) {
    $(function() {
      $('form[name="form_orders"]').delegate('.delete-order', 'click', function(){
        var order = $(this).data('order');
        if (confirm('{TXT_CONFIRM_DELETE_ORDER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
          var stockUpdate = false;
          if (shopOrder.isStockIncreasable(order.status, 2)) {
            stockUpdate = true;
          }
          window.location.replace("{SHOP_ACTION_URI}&{CSRF_PARAM}&act=delorder&order_id=" + order.id + (stockUpdate ? '&stock_update=1' : ''));
        }
      });
    });
  })(cx.jQuery);
  //]]></script>
<form name="search_orders" method="post" action="{SHOP_ACTION_URI_SEARCH_ENCODED}&amp;act=orders">
  <div class="search-functions">
    <div>
      <input type="search" name="searchterm" maxlength="255" value="{SHOP_SEARCH_TERM}" placeholder="{TXT_SEARCH}">
      <input type="submit" name="searchOrders" value="{TXT_SEARCH}">
      <input type="checkbox" {SHOP_SHOW_PENDING_ORDERS_CHECKED} id="show_pending_orders" name="show_pending_orders" onchange="document.forms.search_orders.submit();">
      <label for="show_pending_orders">{TXT_SHOP_SHOW_PENDING_ORDERS}</label>
    </div>
    <div>
      <select name="customer_type" onchange="this.form.submit()">
        {SHOP_CUSTOMER_TYPE_MENUOPTIONS}
      </select>
      <select name="status" onchange="this.form.submit()">
        {SHOP_ORDER_STATUS_MENUOPTIONS}
      </select>
    </div>
  </div>
  <div>{SHOP_LISTLETTER_LINKS}</div>
</form>
<!-- BEGIN orderTable -->
<form name="form_orders" method="post" action="{SHOP_ACTION_URI_ENCODED}&amp;act=orders">
  <table class="adminlist sortable">
    <tr>
      <th>#</th>
      <th class="{ORDER_DIR_ID}">{SHOP_HEADER_ID}</th>
      <th class="{ORDER_DIR_DATE_TIME}">{SHOP_HEADER_DATE_TIME}</th>
      <th class="{ORDER_DIR_STATUS}">{SHOP_HEADER_STATUS}</th>
      <th class="{ORDER_DIR_CUSTOMER_NAME}">{SHOP_HEADER_CUSTOMER_NAME}</th>
      <th>{SHOP_HEADER_NOTES}</th>
      <th class="{ORDER_DIR_SUM}">{SHOP_HEADER_SUM}</th>
      <th>{TXT_ACTION}</th>
    </tr><!-- BEGIN orderRow -->
    <tr class="{SHOP_ROWCLASS}">
      <td><input type="checkbox" name="selectedOrderId[]" value="{SHOP_ORDERID}"></td>
      <td>{SHOP_ORDERID}</td>
      <td>{SHOP_DATE}</td>
      <td>{SHOP_ORDER_STATUS}</td>
      <td>{SHOP_NAME}</td>
      <td>{SHOP_TIP_LINK}</td>
      <td>{SHOP_ORDER_SUM}{SHOP_CURRENCY}</td>
      <td>
        <a href="{SHOP_ACTION_URI_ENCODED}&amp;act=orderdetails&amp;order_id={SHOP_ORDERID}" title="{TXT_VIEW_DETAILS}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a href="{SHOP_ACTION_URI_ENCODED}&amp;act=editorder&amp;order_id={SHOP_ORDERID}" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a class='delete-order' data-order='{"id":"{SHOP_ORDERID}","status": "{SHOP_ORDER_STATUS_ID}"}' href="javascript:void(0)" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr><!-- END orderRow --><!-- BEGIN no_order -->
    <tr class="{SHOP_ROWCLASS}">
      <td colspan="8">
        {SHOP_ORDER_NONE_FOUND}
      </td>
    </tr><!-- END no_order -->
  </table>
  <ul class="bulk-functions">
    <li><a href="javascript:{}" onclick="changeCheckboxes('form_orders','selectedOrderId[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a></li>
    <li><a href="javascript:{}" onclick="changeCheckboxes('form_orders','selectedOrderId[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a></li>
    <li>
      <select name="multi_action" onchange="shopOrdersDoAction('form_orders','selectedOrderId[]',this,this.value)">
        <option value="0" selected="selected">{TXT_SELECT_ACTION}:</option>
        <option value="del">{TXT_DELETE}</option>
      </select>
    </li>
  </ul>
</form>
{SHOP_ORDER_PAGING}
<!-- END orderTable -->
<!-- end shop_orders.html -->
