<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=catalog" class="active" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=discounts" title="{TXT_SHOP_DISCOUNTS_CUSTOMER}">{TXT_SHOP_DISCOUNTS_CUSTOMER}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=customers&amp;tpl=groups" title="{TXT_SHOP_CUSTOMER_GROUPS}">{TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  </ul>
</div>
<!-- START shop_customer_edit.html -->
<form name="formCustomer" method="post" action="index.php?cmd=Shop&amp;act=neweditcustomer">
  <table class="adminlist no-functions">
    <caption>{TXT_CUSTOMER_DATA}</caption>
    <tr>
      <td>{TXT_CUSTOMER_NUMBER}</td>
      <td colspan="3">
        <input type="hidden" name="customer_id" value="{SHOP_CUSTOMERID}">
        {SHOP_CUSTOMERID}
      </td>
    </tr>
    <tr>
      <td>{TXT_COMPANY}</td>
      <td><input type="text" name="company" value="{SHOP_COMPANY}"></td>
      <td>{TXT_SHOP_DISCOUNT_GROUP_CUSTOMER}</td>
      <td>
        <select name="customer_group_id">
          {SHOP_DISCOUNT_GROUP_CUSTOMER_MENUOPTIONS}
        </select>
      </td>
    </tr>
    <tr>
      <td>{TXT_SHOP_TITLE}</td>
      <td>
        <select name="gender">
          {SHOP_GENDER_MENUOPTIONS}
        </select>
      </td>
      <td>{TXT_CUSTOMER_TYP}</td>
      <td>
        <select name="customer_type">
          {SHOP_CUSTOMER_TYPE_MENUOPTIONS}
        </select>
      </td>
    </tr>
    <tr>
      <td>{TXT_LAST_NAME}</td>
      <td><input type="text" name="lastname" value="{SHOP_LASTNAME}"></td>
      <td>{TXT_LOGIN_NAME}</td>
      <td><input type="text" name="username" value="{SHOP_USERNAME}"></td>
    </tr>
    <tr>
      <td>{TXT_FIRST_NAME}</td>
      <td><input type="text" name="firstname" value="{SHOP_FIRSTNAME}"></td>
      <td>{TXT_RESET_PASSWORD}</td>
      <td><input type="text" name="password" value="{SHOP_PASSWORD}"></td>
    </tr>
    <tr>
      <td>{TXT_ADDRESS}</td>
      <td><input type="text" name="address" value="{SHOP_ADDRESS}"></td>
      <td>{TXT_REGISTER_DATE}</td>
      <td>{SHOP_REGISTER_DATE}</td>
    </tr>
    <tr>
      <td>{TXT_ZIP_CITY}</td>
      <td>
        <input type="text" name="zip" value="{SHOP_ZIP}" maxlength="10" class="compact">
        <input type="text" name="city" value="{SHOP_CITY}">
      </td>
      <td>{TXT_CUSTOMER_STATUS}</td>
      <td>
        <select name="active">
          {SHOP_CUSTOMER_ACTIVE_MENUOPTIONS}
        </select>
      </td>
    </tr>
    <tr>
      <td>{TXT_COUNTRY}</td>
      <td>
        <select name="country_id">
          {SHOP_COUNTRY_MENUOPTIONS}
        </select>
      </td>
      <td>{TXT_SHOP_BIRTHDAY}</td>
      <td><input type="text" name="shop_customer_birthday" value="{SHOP_CUSTOMER_BIRTHDAY}" class="datepicker-field" autocomplete="off"></td>
    </tr>
    <tr>
      <td>{TXT_PHONE}</td>
      <td><input type="text" name="phone" value="{SHOP_PHONE}"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{TXT_EMAIL}</td>
      <td><input type="email" name="email" value="{SHOP_EMAIL}"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{TXT_FAX}</td>
      <td><input type="text" name="fax" value="{SHOP_FAX}"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{TXT_REMARK}</td>
      <td><textarea name="companynote" rows="10" cols="80">{SHOP_COMPANY_NOTE}</textarea></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <input type="submit" name="store" value="{TXT_SAVE_CHANGES}">
  <input type="checkbox" name="sendlogindata" id="sendlogindata" value="checkbox" {SHOP_SEND_LOGING_DATA_STATUS}>
  <label for="sendlogindata">{TXT_SEND_LOGIN_DATA}</label>
</form>
<!-- END shop_customer_edit.html -->
