<!-- START shop_settings.html -->
<script>
  // <![CDATA[
function swapBlockStatus(id, status)
{
    if (status) {
      document.getElementById(id).style.display = 'block';
    } else {
      document.getElementById(id).style.display = 'none';
    }
  }

function swapBlock(div)
{
    displayType = (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
    document.getElementById(div).style.display = displayType;
  }
  // ]]>
</script>
<div id="subnavbar_level2">
  <ul>
      <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=general" class="{MODULE_SHOP_SUBNAV_GENERAL}" title="{TXT_GENERAL}">{TXT_GENERAL}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=vat" class="{MODULE_SHOP_SUBNAV_VAT}" title="{TXT_SHOP_VAT}">{TXT_SHOP_VAT}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=currency" class="{MODULE_SHOP_SUBNAV_CURRENCY}" title="{TXT_CURRENCIES}">{TXT_CURRENCIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=payment" class="{MODULE_SHOP_SUBNAV_PAYMENT}" title="{TXT_PAYMENT_TYPES}">{TXT_PAYMENT_TYPES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=shipment" class="{MODULE_SHOP_SUBNAV_SHIPMENT}" title="{TXT_SHIPPING_METHODS}">{TXT_SHIPPING_METHODS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=countries" class="{MODULE_SHOP_SUBNAV_COUNTRIES}" title="{TXT_DELIVERY_COUNTRIES}">{TXT_DELIVERY_COUNTRIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=zones" class="{MODULE_SHOP_SUBNAV_ZONES}" title="{TXT_ZONES}">{TXT_ZONES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=mail" class="{MODULE_SHOP_SUBNAV_MAIL}" title="{TXT_MAIL_TEMPLATES}">{TXT_MAIL_TEMPLATES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=coupon" class="{MODULE_SHOP_SUBNAV_COUPON}" title="{TXT_SHOP_DISCOUNT_COUPON_CODES}">{TXT_SHOP_DISCOUNT_COUPON_CODES}</a></li>
  </ul>
</div>
{SHOP_SETTINGS_FILE}
<!-- END shop_settings.html -->
