<!-- START shop_products.html -->
<script>
  // <![CDATA[
function swapBlockStatus(div, status)
{
    if (status == 1) {
    document.getElementById( div ).style.display ='block';
    } else {
    document.getElementById( div ).style.display ='none';
    }
  }

function swapBlock(div)
{
    displayType =
      (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
    document.getElementById(div).style.display = displayType;
  }
  // ]]>
</script>
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=catalog" class="{MODULE_SHOP_SUBNAV_CATALOG}" title="{TXT_PRODUCT_CATALOG}">{TXT_PRODUCT_CATALOG}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=attributes" class="{MODULE_SHOP_SUBNAV_ATTRIBUTES}" title="{TXT_PRODUCT_CHARACTERISTICS}">{TXT_PRODUCT_CHARACTERISTICS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=discounts" class="{MODULE_SHOP_SUBNAV_DISCOUNTS}" title="{TXT_SHOP_DISCOUNT_COUNT_GROUPS}">{TXT_SHOP_DISCOUNT_COUNT_GROUPS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=groups" class="{MODULE_SHOP_SUBNAV_GROUPS}" title="{TXT_SHOP_ARTICLE_GROUPS}">{TXT_SHOP_ARTICLE_GROUPS}</a></li>
  </ul>
</div>
{SHOP_PRODUCTS_FILE}
<!-- END shop_products.html -->
