<!-- START log.html -->
<form name="form_logs" method="post" action="index.php?cmd=SystemLog">
    <div class="search-functions">
        <div>
            <input type="search" name="term" value="{LOG_SEARCHTERM}" placeholder="{TXT_SEARCH}">
            <input type="submit" name="submit" value="{TXT_SEARCH}">
        </div>
    </div>
</form>
<table class="adminlist">
    <caption>{TXT_SYSTEM_LOGS}</caption>
    <tr>
        <th>{TXT_LOGTIME}</th>
        <th>{TXT_USER_NAME}</th>
        <th>{TXT_HOSTNAME}</th>
        <th>{TXT_IP_ADDRESS}</th>
        <th>{TXT_BROWSERLANGUAGE}</th>
        <th>{TXT_USERAGENT}</th>
    </tr>
    <!-- BEGIN logRow -->
    <tr class="{LOG_ROWCLASS}">
        <td>{LOG_TIME}</td>
        <td><a href="index.php?cmd=SystemLog&amp;user={LOG_USERID}">{LOG_USERNAME}</a></td>
        <td>{LOG_REMOTE_HOST}</td>
        <td>{LOG_REMOTE_ADDR}</td>
        <td>{LOG_USERLANGUAGE}</td>
        <td><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{LOG_USERAGENT}</span></td>
    </tr>
    <!-- END logRow -->
</table>
{LOG_PAGING}
<!-- END log.html -->
