<!-- START coreModule_frontendEditing_toolbar.html -->
<div id="fe_toolbar" style="display: none;">
    <div id="fe_toolbar_logo"></div>
    <div id="fe_toolbar_tab"></div>
    <div id="fe_metanavigation">
        <div id="fe_history" class="fe_anchor fe_toggle">
            <a href="#" title="{TXT_FRONTEND_EDITING_HISTORY}">&nbsp;</a>

            <div class="fe_arrow fe_toggle"></div>
            <div class="fe_box fe_toggle"></div>
        </div>
        <a class="backend" href="{LINK_CM}" title="{TXT_FRONTEND_EDITING_TOOLBAR_OPEN_CM}">&nbsp;</a>
        <a class="profile" href="{LINK_PROFILE}" title="{LOGGED_IN_USER}">&nbsp;</a>
        <a class="logout" href="{LINK_LOGOUT}" title="{TXT_LOGOUT}">&nbsp;</a>
    </div>
    <div id="fe_toolbar_actions">
        <a href="#" id="fe_toolbar_startEditMode" class="fe_button"></a>
        <a href="#" id="fe_toolbar_savePage" class="fe_button"></a>
        <a href="#" id="fe_toolbar_publishPage" class="fe_button"></a>
        <a href="#" id="fe_toolbar_saveBlock" class="fe_button">{TXT_FRONTEND_EDITING_TOOLBAR_SAVE_BLOCK}</a>
        <div id="fe_state_wrapper">
            <div id="fe_state_icon"></div>
            <div id="fe_state_text"></div>
        </div>
    </div>
    <!-- add MediaBrowser used for image&link handling of Wysiwyg editor -->
    {MEDIABROWSER_BUTTON_CKEDITOR}
</div>
<!-- END core_module_frontendEditing_toolbar.html -->
