<!-- start mailtemplate_edit.html -->
<!-- BEGIN showTabs -->
<ul class="tabmenu" data-tablist="tab">
    <li>
        <a href="#" data-tablink="overview">{TXT_CORE_MAILTEMPLATE_TAB_EDIT}</a>
    </li>
    <li>
        <a href="#" data-tablink="placeholders">{TXT_CORE_MAILTEMPLATE_PLACEHOLDER}</a>
    </li>
</ul>
<!-- END showTabs -->
<form class="tab overview" data-tablist="tab" name="form_mailtemplate_edit" method="post" action="{URI_BASE}">
  <div class="infobox">{TXT_CORE_MAILTEMPLATE_NOTE_PLACEHOLDERS}</div>
  <table class="adminlist splitview">
    <caption>{CORE_MAILTEMPLATE_EDIT_TITLE}</caption>
    <!-- BEGIN core_mailtemplate_section -->
    <!-- BEGIN core_mailtemplate_section_row -->
    <tr>
      <td colspan="2">{MAILTEMPLATE_SECTION}</td>
    </tr>
    <!-- END core_mailtemplate_section_row -->
    <!-- BEGIN core_mailtemplate_row -->
    <tr class="row{MAILTEMPLATE_ROWCLASS}">
      <td>
        {MAILTEMPLATE_NAME}
        <!-- BEGIN core_mailtemplate_value_note -->
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{MAILTEMPLATE_VALUE_NOTE}</span>
        <!-- END core_mailtemplate_value_note -->
      </td>
      <td>{MAILTEMPLATE_VALUE}</td>
    </tr>
    <!-- END core_mailtemplate_row -->
    <!-- BEGIN core_mailtemplate_special -->
    <tr class="row{MAILTEMPLATE_ROWCLASS}">
      <td colspan="2">{MAILTEMPLATE_SPECIAL}</td>
    </tr>
    <!-- END core_mailtemplate_special -->
    <!-- END core_mailtemplate_section -->
    <tr>
      <td>{TXT_CORE_MAILTEMPLATE_TO_TEST}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CORE_MAILTEMPLATE_TESTMAIL_NOTE}</span></td>
      <td><input type="text" name="to_test" value="{CORE_MAILTEMPLATE_TO_TEST}"></td>
    </tr>
  </table>
  <!-- BEGIN core_mailtemplate_hidden -->
  {MAILTEMPLATE_HIDDEN}
  <!-- END core_mailtemplate_hidden -->
  <input type="button" name="bcancel" value="{TXT_CORE_MAILTEMPLATE_CANCEL}" onclick="location.href='{URI_BASE}&{CSRF_PARAM}';" class="secondary">
  <input type="submit" name="bsubmit" value="{TXT_CORE_MAILTEMPLATE_STORE}">
</form>
<div class="tab placeholders" data-tablist="tab">
    <!-- BEGIN core_mailtemplate_key -->
    <table class="adminlist splitview">
        <caption>{TXT_CORE_MAILTEMPLATE_PLACEHOLDER_KEY}: {CORE_MAILTEMPLATE_KEY}</caption>
        <!-- BEGIN core_mailtemplate_placeholder -->
        <tr>
            <td>{TXT_CORE_MAILTEMPLATE_PLACEHOLDER_DESCRIPTION}</td>
            <td><code>{CORE_MAILTEMPLATE_PLACEHOLDER}</code></td>
        </tr>
        <!-- END core_mailtemplate_placeholder -->
    </table>
    <!-- END core_mailtemplate_key -->
</div>
<!-- end mailtemplate_edit.html -->
