<!-- start mailtemplate_overview.html -->
<table class="adminlist sortable">
  <caption>
      <div class="functions">
          <a href="{URI_EDIT}&amp;key=" title="{TXT_CORE_MAILTEMPLATE_NEW}">
              <i class="fa-solid fa-plus"></i>
          </a>
      </div>
  </caption>
  <tr>
    <th class="{ORDER_DIR_NAME}">{CORE_MAILTEMPLATE_NAME}</th>
    <th class="{ORDER_DIR_KEY}">{CORE_MAILTEMPLATE_KEY}</th>
    <!-- BEGIN core_mailtemplate_language_header -->
    <th>{MAILTEMPLATE_LANGUAGE_HEADER}</th>
    <!-- END core_mailtemplate_language_header -->
    <th class="{ORDER_DIR_HTML}">{CORE_MAILTEMPLATE_HTML}</th>
    <th class="{ORDER_DIR_PROTECTED}">{CORE_MAILTEMPLATE_PROTECTED}</th>
    <th>{TXT_CORE_MAILTEMPLATE_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN core_mailtemplate_row -->
  <tr class="row{MAILTEMPLATE_ROWCLASS}">
    <td>{MAILTEMPLATE_NAME}</td>
    <td><code>{MAILTEMPLATE_KEY}</code></td>
    <!-- BEGIN core_mailtemplate_language_column -->
    <td>
        <a href="{MAILTEMPLATE_LANGUAGE_LINK}" title="{MAILTEMPLATE_LANGUAGE_TITLE}">
            <!-- BEGIN core_mailtemplate_language_link_add -->
                <i class="fa-solid fa-plus" title="{MAILTEMPLATE_LANGUAGE_TITLE}"></i>
            <!-- END core_mailtemplate_language_link_add -->
            <!-- BEGIN core_mailtemplate_language_link_edit -->
                <i class="fa-regular fa-pen-to-square" title="{MAILTEMPLATE_LANGUAGE_TITLE}"></i>
            <!-- END core_mailtemplate_language_link_edit -->
        </a>
    </td>
    <!-- END core_mailtemplate_language_column -->
    <td>{MAILTEMPLATE_HTML}</td>
    <td>{MAILTEMPLATE_PROTECTED}</td>
    <td>
      <div style="text-align: right;">
          <a href="{MAILTEMPLATE_COPY_URL}">
              <i class="fa-regular fa-copy" title="{TXT_CORE_HTML_COPY}"></i>
          </a>
          <a href="{MAILTEMPLATE_EDIT_URL}">
              <i class="fa-regular fa-pen-to-square" title="{TXT_CORE_HTML_EDIT}"></i>
          </a>
          <!-- BEGIN core_mailtemplate_delete -->
          <a href="javascript:void(0);" onclick="if(confirm('{TXT_CORE_MAILTEMPLATE_DELETE_CONFIRM}')){window.location.href = '{MAILTEMPLATE_DELETE_URL}';}">
              <i class="fa-regular fa-trash-can" title="{TXT_CORE_HTML_DELETE}"></i>
          </a>
          <!-- END core_mailtemplate_delete -->
      </div>
    </td>
  </tr>
  <!-- END core_mailtemplate_row -->
</table>
{PAGING}
<!-- end mailtemplate_overview.html -->
