<!-- start module_downloads_groups.html -->
<script>
    // <![CDATA[
function downloadsDeleteGroup(id,name)
{
        strMsg = '{DOWNLOADS_CONFIRM_DELETE_GROUP_TXT}';
    if (confirm(strMsg.replace('%s', name)+'\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
        window.location.href = 'index.php?cmd=Downloads&{CSRF_PARAM}&act=delete_group&id='+id
        +'&group_sort={DOWNLOADS_GROUP_GROUP_SORT}'
        +'&group_by={DOWNLOADS_GROUP_GROUP_SORT_BY}'
        +'&group_pos={DOWNLOADS_GROUP_GROUP_OFFSET}';
        }
    }

function downloadsGroupDoAction(action)
{
        if (checkboxIsChecked('downloads_group_form', 'downloads_group_id[]')) {
            if (confirm('{DOWNLOADS_CONFIRM_DELETE_GROUPS_TXT}')) {
                document.getElementById('downloads_group_form').submit(); return true;
            }
        }
    document.getElementById('downloads_group_select_action').value=0;
    }
    // ]]>
</script>

<form name="downloads_group_form" id="downloads_group_form" action="index.php?cmd=Downloads&amp;act=groups&amp;group_sort={DOWNLOADS_GROUP_GROUP_SORT}&amp;group_by={DOWNLOADS_GROUP_GROUP_SORT_BY}&amp;group_pos={DOWNLOADS_GROUP_GROUP_OFFSET}" method="post">
    <table class="adminlist sortable">
        <caption>
            <div class="functions">
                <a href="/cadmin/Downloads/group" title="{TXT_DOWNLOADS_ADD_GROUP}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <!-- BEGIN downloads_group_data -->
        <tr>
            <th class="sortable {DOWNLOADS_SORT_DIR_ID}"><a href="index.php?cmd=Downloads&amp;act=groups&amp;group_sort={DOWNLOADS_GROUP_SORT_ID}&amp;group_by=id" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_GROUP_SORT_ID_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_STATUS}"><a href="index.php?cmd=Downloads&amp;act=groups&amp;group_sort={DOWNLOADS_GROUP_SORT_STATUS}&amp;group_by=is_active" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_GROUP_SORT_STATUS_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_NAME}"><a href="index.php?cmd=Downloads&amp;act=groups&amp;group_sort={DOWNLOADS_GROUP_SORT_NAME}&amp;group_by=name" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_GROUP_SORT_NAME_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_PLACEHOLDER}"><a href="index.php?cmd=Downloads&amp;act=groups&amp;group_sort={DOWNLOADS_GROUP_SORT_PLACEHOLDER}&amp;group_by=placeholder" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_GROUP_SORT_PLACEHOLDER_LABEL}</a></th>
            <th>{TXT_DOWNLOADS_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN downloads_group_list -->
        <tr class="{DOWNLOADS_GROUP_ROW_CLASS}">
            <td><code>{DOWNLOADS_GROUP_ID}</code></td>
            <td>
                <a href="index.php?cmd=Downloads&amp;act=switch_group_status&amp;id={DOWNLOADS_GROUP_ID}&amp;group_sort={DOWNLOADS_GROUP_GROUP_SORT}&amp;group_by={DOWNLOADS_GROUP_GROUP_SORT_BY}&amp;group_pos={DOWNLOADS_GROUP_GROUP_OFFSET}" title="{DOWNLOADS_GROUP_SWITCH_STATUS_DESC}">
                    <img src="/core/Core/View/Media/icons/{DOWNLOADS_GROUP_STATUS_LED}" alt="{DOWNLOADS_GROUP_SWITCH_STATUS_IMG_DESC}" width="13" height="13">
                </a>
            </td>
            <td>
                <a href="index.php?cmd=Downloads&amp;act=group&amp;id={DOWNLOADS_GROUP_ID}" title="{TXT_DOWNLOADS_EDIT}">{DOWNLOADS_GROUP_NAME}</a>
            </td>
            <td><code>[[{DOWNLOADS_GROUP_PLACEHOLDER}]]</code></td>
            <td>
                <a href="index.php?cmd=Downloads&amp;act=group&amp;id={DOWNLOADS_GROUP_ID}&amp;group_sort={DOWNLOADS_GROUP_GROUP_SORT}&amp;group_by={DOWNLOADS_GROUP_GROUP_SORT_BY}&amp;group_pos={DOWNLOADS_GROUP_GROUP_OFFSET}" title="{TXT_DOWNLOADS_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:void(0);" onclick="downloadsDeleteGroup({DOWNLOADS_GROUP_ID},'{DOWNLOADS_GROUP_NAME_JS}')" title="{TXT_DOWNLOADS_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END downloads_group_list -->
    </table>
    {DOWNLOADS_GROUP_PAGING}
    <!-- END downloads_group_data -->
    <!-- BEGIN downloads_group_no_data -->
    <table class="adminlist">
        <tr>
            <td>{TXT_DOWNLOADS_NO_GROUPS_AVAILABLE}</td>
        </tr>
        <!-- END downloads_group_no_data -->
    </table>
</form>
<!-- end module_downloads_groups.html -->
