<script>
    /* <!CDATA[[ */
    function downloadsDeleteCategory(id,name,hasSubcategories)
{
        strMsg = '{DOWNLOADS_CONFIRM_DELETE_CATEGORY_TXT}';
        if (confirm(strMsg.replace('%s', '„'+name+'“')+'\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
            subcategories = hasSubcategories && confirm('{TXT_DOWNLOADS_DELETE_SUBCATEGORIES}');
            window.location.href = 'index.php?cmd=Downloads&{CSRF_PARAM}&act=delete_category&parent_id={DOWNLOADS_CATEGORY_ID}&id='+id
                +'&subcategories='+subcategories
                +'&category_sort={DOWNLOADS_CATEGORY_CATEGORY_SORT}'
                +'&category_by={DOWNLOADS_CATEGORY_CATEGORY_SORT_BY}'
                +'&download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}'
                +'&download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}'
                +'&category_pos={DOWNLOADS_CATEGORY_CATEGORY_OFFSET}'
                +'&download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}';
        }
    }
    function downloadsUpdateSortOrder(event,elForm,idMultiAction)
{
        if (event.which && event.which == 13 || event.which == 1 || event.keyCode == 13 || event.keyCode == 1) {
            document.getElementById(idMultiAction).value = 'order';
            elForm.submit();
        }
    }

    function downloadsCategoryDoAction(action)
{
        if (action == 'order' || checkboxIsChecked('downloads_category_form', 'downloads_category_id[]')) {
            if (action == 'order' || confirm('{DOWNLOADS_CONFIRM_DELETE_CATEGORIES_TXT}\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
                if (action == 'delete' && confirm('{TXT_DOWNLOADS_DELETE_SUBCATEGORIES_MULTI}')) {
                    document.getElementById('downloads_category_delete_recursive').value = '1';
                }
                document.getElementById('downloads_category_form').submit(); return true;
            }
        }
        document.getElementById('downloads_category_select_action').value=0;
    }
    /* ]]> */
</script>

<form action="index.php" method="get">
    <div class="search-functions">
        <div>
            <input type="hidden" name="cmd" value="Downloads">
            <input type="hidden" name="act" value="downloads">
            <input type="search" class="search" name="search_term" placeholder="{TXT_DOWNLOADS_SEARCH_DOWNLOAD}" value="{DOWNLOADS_SEARCH_TERM}">
            <input type="submit" value="{TXT_DOWNLOADS_SEARCH}">
        </div>
        <div>
            {DOWNLOADS_CATEGORY_MENU}
        </div>
    </div>
</form>

<form name="downloads_category_form" id="downloads_category_form" action="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_ID}&amp;category_sort={DOWNLOADS_CATEGORY_CATEGORY_SORT}&amp;category_by={DOWNLOADS_CATEGORY_CATEGORY_SORT_BY}&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;category_pos={DOWNLOADS_CATEGORY_CATEGORY_OFFSET}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" method="post">
    <input type="hidden" name="downloads_category_delete_recursive" id="downloads_category_delete_recursive" value="0">
    <table class="adminlist sortable">
        <caption>
            {TXT_DOWNLOADS_ALL_CATEGORIES}
            {TXT_DOWNLOADS_CATEGORIES}
            {TXT_DOWNLOADS_CATEGORIES_OF_CATEGORY}
            <!-- BEGIN downloads_category_frontend_link -->
            <a href="{DOWNLOADS_CATEGORY_FRONTEND_URI}" title="{TXT_DOWNLOADS_OPEN_CATEGORY_FRONTEND}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            <!-- END downloads_category_frontend_link -->
        </caption>
        <!-- BEGIN downloads_category_data -->
        <tr>
            <!-- BEGIN downloads_category_select_label -->
            <th>#</th>
            <!-- END downloads_category_select_label -->
            <th class="sortable {DOWNLOADS_SORT_DIR_ID}"><a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_SORT_PARENT_ID}&amp;category_sort={DOWNLOADS_CATEGORY_SORT_ID}&amp;category_by=id&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_CATEGORY_SORT_ID_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_STATUS}"><a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_SORT_PARENT_ID}&amp;category_sort={DOWNLOADS_CATEGORY_SORT_STATUS}&amp;category_by=is_active&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_CATEGORY_SORT_STATUS_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_ORDER}"><a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_SORT_PARENT_ID}&amp;category_sort={DOWNLOADS_CATEGORY_SORT_ORDER}&amp;category_by=order&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_CATEGORY_SORT_ORDER_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_NAME}"><a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_SORT_PARENT_ID}&amp;category_sort={DOWNLOADS_CATEGORY_SORT_NAME}&amp;category_by=name&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_CATEGORY_SORT_NAME_LABEL}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_DESCRIPTION}"><a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_SORT_PARENT_ID}&amp;category_sort={DOWNLOADS_CATEGORY_SORT_DESCRIPTION}&amp;category_by=description&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_CATEGORY_SORT_DESCRIPTION_LABEL}</a></th>
            <th>{TXT_DOWNLOADS_OWNER}</th>
            <th>{TXT_DOWNLOADS_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN downloads_category_list -->
        <tr class="{DOWNLOADS_CATEGORY_ROW_CLASS}">
            <!-- BEGIN downloads_category_checkbox -->
            <td><input type="checkbox" name="downloads_category_id[]" value="{DOWNLOADS_CATEGORY_ID}"></td>
            <!-- END downloads_category_checkbox -->
            <td><code>{DOWNLOADS_CATEGORY_ID}</code></td>
            <td>
                <!-- BEGIN downloads_category_status_link_open -->
                <a href="index.php?cmd=Downloads&amp;act=switch_category_status&amp;parent_id={DOWNLOADS_CATEGORY_PARENT_ID}&amp;id={DOWNLOADS_CATEGORY_ID}&amp;category_sort={DOWNLOADS_CATEGORY_CATEGORY_SORT}&amp;category_by={DOWNLOADS_CATEGORY_CATEGORY_SORT_BY}&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;category_pos={DOWNLOADS_CATEGORY_CATEGORY_OFFSET}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{DOWNLOADS_CATEGORY_SWITCH_STATUS_DESC}">
                    <!-- END downloads_category_status_link_open -->
                    <img src="/core/Core/View/Media/icons/{DOWNLOADS_CATEGORY_STATUS_LED}" alt="{DOWNLOADS_CATEGORY_SWITCH_STATUS_IMG_DESC}" width="13" height="13">
                    <!-- BEGIN downloads_category_status_link_close -->
                </a>
                <!-- END downloads_category_status_link_close -->
            </td>
            <td>
                <!-- BEGIN downloads_category_orderbox -->
                <input name="downloads_category_order[{DOWNLOADS_CATEGORY_ID}]" maxlength="5" value="{DOWNLOADS_CATEGORY_ORDER}" type="text" onkeypress="downloadsUpdateSortOrder(event,this.form,'downloads_category_select_action')" class="compact">
                <!-- END downloads_category_orderbox -->
                <!-- BEGIN downloads_category_no_orderbox -->
                {DOWNLOADS_CATEGORY_ORDER}
                <!-- END downloads_category_no_orderbox -->
            </td>
            <td>
                <!-- BEGIN downloads_category_protected -->
                <i class="fa-solid fa-lock" title="{DOWNLOADS_CATEGORY_NAME}"></i>
                <!-- END downloads_category_protected -->
                <!-- BEGIN downloads_category_unprotected -->
                <i class="fa-solid fa-lock-open" title="{DOWNLOADS_CATEGORY_NAME}"></i>
                <!-- END downloads_category_unprotected -->
                <!-- BEGIN downloads_category_name_link_open -->
                <a href="index.php?cmd=Downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_ID}" title="{DOWNLOADS_OPEN_CATEGORY_DESC}">
                    <!-- END downloads_category_name_link_open -->
                    {DOWNLOADS_CATEGORY_NAME} ({DOWNLOADS_CATEGORY_DOWNLOADS_COUNT})
                    <!-- BEGIN downloads_category_name_link_close -->
                </a>
                <!-- END downloads_category_name_link_close -->
            </td>
            <td>{DOWNLOADS_CATEGORY_DESCRIPTION}</td>
            <td>{DOWNLOADS_CATEGORY_AUTHOR}</td>
            <td>
                <!-- BEGIN downloads_category_function_modify_link -->
                <a href="index.php?cmd=Downloads&amp;act=category&amp;parent_id={DOWNLOADS_CATEGORY_PARENT_ID}&amp;id={DOWNLOADS_CATEGORY_ID}&amp;category_sort={DOWNLOADS_CATEGORY_CATEGORY_SORT}&amp;category_by={DOWNLOADS_CATEGORY_CATEGORY_SORT_BY}&amp;download_sort={DOWNLOADS_CATEGORY_DOWNLOAD_SORT}&amp;download_by={DOWNLOADS_CATEGORY_DOWNLOAD_BY}&amp;category_pos={DOWNLOADS_CATEGORY_CATEGORY_OFFSET}&amp;download_pos={DOWNLOADS_CATEGORY_DOWNLOAD_OFFSET}" title="{TXT_DOWNLOADS_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <!-- END downloads_category_function_modify_link -->
                <!-- BEGIN downloads_category_function_no_modify_link -->
                <i class="fa-solid fa-ban" title="{TXT_DOWNLOADS_NO_PERMISSION_TO_MODIFY}"></i>
                <!-- END downloads_category_function_no_modify_link -->
                <!-- BEGIN downloads_category_function_delete_link -->
                <a href="javascript:void(0);" onclick="downloadsDeleteCategory({DOWNLOADS_CATEGORY_ID},'{DOWNLOADS_CATEGORY_NAME_JS}',{DOWNLOADS_CATEGORY_HAS_SUBCATEGORIES})" title="{TXT_DOWNLOADS_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                <!-- END downloads_category_function_delete_link -->
                <!-- BEGIN downloads_category_function_no_delete_link -->
                <i class="fa-solid fa-ban" title="{TXT_DOWNLOADS_NO_PERMISSION_TO_MODIFY}"></i>
                <!-- END downloads_category_function_no_delete_link -->
            </td>
        </tr>
        <!-- END downloads_category_list -->
    </table>
    <!-- BEGIN downloads_category_action_dropdown -->
    <ul class="bulk-functions">
        <li><a href="javascript:void(0);" onclick="changeCheckboxes('downloads_category_form','downloads_category_id[]',true); return false;" title="{TXT_DOWNLOADS_CHECK_ALL}">{TXT_DOWNLOADS_CHECK_ALL}</a></li>
        <li><a href="javascript:void(0);" onclick="changeCheckboxes('downloads_category_form','downloads_category_id[]',false); return false;" title="{TXT_DOWNLOADS_UNCHECK_ALL}">{TXT_DOWNLOADS_UNCHECK_ALL}</a></li>
        <li>
            <select name="downloads_category_select_action" id="downloads_category_select_action" onchange="downloadsCategoryDoAction(this.value)">
                <option value="0" selected="selected">{TXT_DOWNLOADS_SELECT_ACTION}</option>
                <option value="order">{TXT_DOWNLOADS_ORDER}</option>
                <option value="delete">{TXT_DOWNLOADS_DELETE}</option>
            </select>
        </li>
    </ul>
    <!-- END downloads_category_action_dropdown -->
    <input type="button" value="{TXT_SAVE_CHANGES_CATEGORIES}" onclick="downloadsUpdateSortOrder(event, this.form, 'downloads_category_select_action')">
    {DOWNLOADS_CATEGORY_PAGING}
    <!-- END downloads_category_data -->
    <!-- BEGIN downloads_category_no_data -->
    <table class="adminlist">
        <tr>
            <td>{TXT_DOWNLOADS_NO_CATEGORIES_AVAILABLE}</td>
        </tr>
    </table>
    <!-- END downloads_category_no_data -->
</form>
