<!-- start module_downloads_downloads_overview.html -->
<script>
    // <![CDATA[
    function downloadsDeleteDownload(id, name)
{
        strMsg = '{DOWNLOADS_CONFIRM_DELETE_DOWNLOAD_TXT}';
        if (confirm(strMsg.replace('%s', name)+'\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
            window.location.href = 'index.php?cmd=Downloads&act=delete_download&id='+id+'&csrf={CSRF_KEY}';
        }
    }

    function downloadsDownloadDoAction(action)
{
        if (action == 'order' || checkboxIsChecked('downloads_download_form', 'downloads_download_id[]')) {
            if (action == 'order' || confirm('{DOWNLOADS_CONFIRM_DELETE_DOWNLOADS_TXT}\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
                document.getElementById('downloads_download_form').submit();
                return true;
            }
        }
        document.getElementById('downloads_download_select_action').value=0;
    }

    function downloadsUpdateSortOrder(event,elForm,idMultiAction)
{
        if (event.which && event.which == 13 || event.which == 1 || event.keyCode == 13 || event.keyCode == 1) {
            document.getElementById(idMultiAction).value = 'order';
            elForm.submit();
        }
    }
    // ]]>
</script>
<form action="index.php" method="get">
    <div class="search-functions">
        <div>
            <input type="hidden" name="cmd" value="Downloads">
            <input type="hidden" name="act" value="downloads">
            <input type="search" class="search" name="search_term" placeholder="{TXT_DOWNLOADS_SEARCH_DOWNLOAD}" value="{DOWNLOADS_SEARCH_TERM}">
            <input type="submit" value="{TXT_DOWNLOADS_SEARCH}">
        </div>
        <div>
            {DOWNLOADS_CATEGORY_MENU}
        </div>
    </div>
</form>

<form name="downloads_download_form" id="downloads_download_form" action="index.php?cmd=Downloads&amp;act=downloads" method="post">
    <table class="adminlist sortable">
        <caption>
            {TXT_DOWNLOADS_DOWNLOADS}
            <div class="functions">
                <a href="/cadmin/Downloads/download" title="{TXT_DOWNLOADS_ADD_DOWNLOAD}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <!-- BEGIN downloads_download_data -->
        <tr>
            <th>#</th>
            <th class="sortable {DOWNLOADS_SORT_DIR_ID}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_ID}&amp;by=id" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_ID}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_STATUS}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_STATUS}&amp;by=is_active" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_STATUS}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_ORDER}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_ORDER}&amp;by=order" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_ORDER}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_NAME}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_NAME}&amp;by=name" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_NAME}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_DESCRIPTION}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_DESCRIPTION}&amp;by=description" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_DESCRIPTION}</a></th>
            <th>{TXT_DOWNLOADS_OWNER}</th>
            <th class="sortable {DOWNLOADS_SORT_DIR_DOWNLOADED}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_DOWNLOADED}&amp;by=download_count" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_DOWNLOADED}</a></th>
            <th class="sortable {DOWNLOADS_SORT_DIR_VIEWED}"><a href="index.php?cmd=Downloads&amp;act=downloads&amp;sort={DOWNLOADS_SORT_VIEWED}&amp;by=views" title="{TXT_DOWNLOADS_CHANGE_SORT_DIRECTION}">{DOWNLOADS_VIEWED}</a></th>
            <th>{TXT_DOWNLOADS_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN downloads_download_list -->
        <tr class="{DOWNLOADS_DOWNLOAD_ROW_CLASS}">
            <td><!-- BEGIN downloads_download_checkbox --><input type="checkbox" name="downloads_download_id[]" value="{DOWNLOADS_DOWNLOAD_ID}"><!-- END downloads_download_checkbox --></td>
            <td><code>{DOWNLOADS_DOWNLOAD_ID}</code></td>
            <td>
                <!-- BEGIN downloads_download_status_link_open -->
                <a href="index.php?cmd=Downloads&amp;act=switch_download_status&amp;id={DOWNLOADS_DOWNLOAD_ID}" title="{DOWNLOADS_DOWNLOAD_SWITCH_STATUS_DESC}">
                    <!-- END downloads_download_status_link_open -->
                    <img src="/core/Core/View/Media/icons/{DOWNLOADS_DOWNLOAD_STATUS_LED}" alt="{DOWNLOADS_DOWNLOAD_SWITCH_STATUS_IMG_DESC}" width="13" height="13">
                    <!-- BEGIN downloads_download_status_link_close -->
                </a>
                <!-- END downloads_download_status_link_close -->
            </td>
            <td>
                <!-- BEGIN downloads_download_order_modify -->
                <input name="downloads_download_order[{DOWNLOADS_DOWNLOAD_ID}]" maxlength="5" value="{DOWNLOADS_DOWNLOAD_ORDER}" type="number" onkeypress="downloadsUpdateSortOrder(event,this.form,'downloads_download_select_action')" class="compact">
                <!-- END downloads_download_order_modify -->
                <!-- BEGIN downloads_download_order_no_modify -->
                {DOWNLOADS_DOWNLOAD_ORDER}
                <!-- END downloads_download_order_no_modify -->
            </td>
            <td>
                <!-- BEGIN downloads_download_modify_link_open -->
                <a href="index.php?cmd=Downloads&amp;act=download&amp;id={DOWNLOADS_DOWNLOAD_ID}" title="{TXT_DOWNLOADS_EDIT}">
                    <!-- END downloads_download_modify_link_open -->
                    {DOWNLOADS_DOWNLOAD_NAME}
                    <!-- BEGIN downloads_download_modify_link_close -->
                </a>
                <!-- END downloads_download_modify_link_close -->
            </td>
            <td>{DOWNLOADS_DOWNLOAD_DESCRIPTION}</td>
            <td>{DOWNLOADS_DOWNLOAD_OWNER}</td>
            <td>{DOWNLOADS_DOWNLOAD_DOWNLOADED}</td>
            <td>{DOWNLOADS_DOWNLOAD_VIEWED}</td>
            <td>
                <!-- BEGIN downloads_download_function_download -->
                <a href="index.php?cmd=Downloads&amp;act=get&amp;id={DOWNLOADS_DOWNLOAD_ID}" title="{DOWNLOADS_DOWNLOAD_SOURCE}" target="_blank"><img src="{DOWNLOADS_DOWNLOAD_DOWNLOAD_ICON}" alt="{DOWNLOADS_DOWNLOAD_SOURCE}" width="16" height="16"></a>
                <!-- END downloads_download_function_download -->
                <!-- BEGIN downloads_download_no_function_download -->
                <i class="fa-solid fa-ban" title="{TXT_DOWNLOADS_NO_PERMISSION_TO_DOWNLOAD}"></i>
                <!-- END downloads_download_no_function_download -->
                <!-- BEGIN downloads_download_functions -->
                <a href="index.php?cmd=Downloads&amp;act=download&amp;id={DOWNLOADS_DOWNLOAD_ID}" title="{TXT_DOWNLOADS_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:void(0);" onclick="downloadsDeleteDownload({DOWNLOADS_DOWNLOAD_ID},'{DOWNLOADS_DOWNLOAD_NAME_JS}')" title="{TXT_DOWNLOADS_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                <!-- END downloads_download_functions -->
                <!-- BEGIN downloads_download_no_functions -->
                <i class="fa-solid fa-ban" title="{TXT_DOWNLOADS_NO_PERMISSION_TO_MODIFY}"></i>
                <!-- END downloads_download_no_functions -->
            </td>
        </tr>
        <!-- END downloads_download_list -->
    </table>
    <ul class="bulk-functions">
        <li><a href="javascript:void(0);" onclick="changeCheckboxes('downloads_download_form','downloads_download_id[]',true); return false;" title="{TXT_DOWNLOADS_CHECK_ALL}">{TXT_DOWNLOADS_CHECK_ALL}</a></li>
        <li><a href="javascript:void(0);" onclick="changeCheckboxes('downloads_download_form','downloads_download_id[]',false); return false;" title="{TXT_DOWNLOADS_UNCHECK_ALL}">{TXT_DOWNLOADS_UNCHECK_ALL}</a></li>
        <li>
            <select name="downloads_download_select_action" id="downloads_download_select_action" onchange="downloadsDownloadDoAction(this.value)">
                <option value="0" selected="selected">{TXT_DOWNLOADS_SELECT_ACTION}</option>
                <!-- BEGIN downloads_download_change_order_action -->
                <option value="order">{TXT_DOWNLOADS_ORDER}</option>
                <!-- END downloads_download_change_order_action -->
                <option value="delete">{TXT_DOWNLOADS_DELETE}</option>
            </select>
        </li>
    </ul>
    <input type="button" value="{TXT_SAVE_CHANGES}" onclick="downloadsUpdateSortOrder(event, this.form, 'downloads_download_select_action')">
    {DOWNLOADS_DOWNLOAD_PAGING}
    <!-- END downloads_download_data -->
    <!-- BEGIN downloads_download_no_data -->
    <table class="adminlist">
        <tr>
            <td>{TXT_DOWNLOADS_NO_DOWNLOADS_ENTERED}</td>
        </tr>
        <!-- END downloads_download_no_data -->
    </table>
</form>
<!-- end module_downloads_downloads_overview.html -->
