<!-- start module_downloads_settings.html -->
<script>
    // <![CDATA[
    function downloadsSelectAllOptions(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = true;
        }
    }

    function downloadsDeselectAllOptions(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = false;
        }
    }

    function downloadsSelectAll()
    {
        downloadsSelectAllOptions(document.getElementById('downloads_settings_associate_user_to_groups_associated_groups'))
    }

    function downloadsAddOptionToList(from, dest)
    {
        if (from.selectedIndex < 0) {
            if (from.options[0] != null) {
                from.options[0].selected = true;
            }
            from.focus();
            return false;
        } else {
            for (var i=0; i<from.length; i++) {
                if (from.options[i].selected && !from.options[i].disabled) {
                    dest.options[dest.length] = new Option(from.options[i].text, from.options[i].value, false, false);
                }
            }
            for (var i=from.length-1; i>=0; i--) {
                if (from.options[i].selected && !from.options[i].disabled) {
                    from.options[i] = null;
                }
            }
        }
    }

    function downloadsRemoveOptionFromList(from,dest)
    {
        if (dest.selectedIndex < 0) {
            if (dest.options[0] != null) {
                dest.options[0].selected = true;
            }
            dest.focus();
            return false;
        } else {
            for (var i=0; i<dest.options.length; i++) {
                if (dest.options[i].selected && !dest.options[i].disabled) {
                    from.options[from.options.length] = new Option(dest.options[i].text, dest.options[i].value, false, false);
                }
            }
            for (var i=dest.options.length-1; i>=0; i--) {
                if (dest.options[i].selected && !dest.options[i].disabled) {
                    dest.options[i] = null;
                }
            }
        }
    }
    $J(document).ready(function() {
        $J('input[name="downloads_setting_auto_naming"]').change(function() {
            if ($J('input[name="downloads_setting_auto_naming"]:checked').val() === 'on') {
                $J('#downloads_pretty_format').show();
            } else {
                $J('#downloads_pretty_format').hide();
            }
        });
        $J('input[name="downloads_setting_auto_naming"]').trigger('change');
    });
    // ]]>
</script>

<form name="downloads_settings_form" id="downloads_settings_form" action="{DOWNLOADS_SETTINGS_SUBMIT_URL}" method="post" onsubmit="downloadsSelectAll(); return true;">
    <!-- BEGIN section_sorting -->
    <div class="tab downloadsTab_settingsSorting" data-tablist="default">
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_SETTINGS_OPTION_SORTING_DESC}</caption>
            <tr>
                <td>{TXT_DOWNLOADS_SETTINGS_OPTION_DOWNLOADS}</td>
                <td>
                    <select name="downloads_settings_sorting_downloads">
                        <!-- BEGIN downloads_settings_sorting_dropdown_downloads -->
                        <option value="{DOWNLOADS_SETTINGS_DROPDOWN_OPTION_VALUE}" {DOWNLOADS_SETTINGS_DROPDOWN_SELECTED_OPTION}>{DOWNLOADS_SETTINGS_DROPDOWN_OPTION_NAME}
                        </option>
                        <!-- END downloads_settings_sorting_dropdown_downloads -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_SETTINGS_OPTION_CATEGORIES}</td>
                <td>
                    <select name="downloads_settings_sorting_categories">
                        <!-- BEGIN downloads_settings_sorting_dropdown_categories -->
                        <option value="{DOWNLOADS_SETTINGS_DROPDOWN_OPTION_VALUE}" {DOWNLOADS_SETTINGS_DROPDOWN_SELECTED_OPTION}>{DOWNLOADS_SETTINGS_DROPDOWN_OPTION_NAME}
                        </option>
                        <!-- END downloads_settings_sorting_dropdown_categories -->
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_sorting -->
    <!-- BEGIN section_display -->
    <div id="settingsListing" class="downloadsTab">
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_OVERVIEW_PAGE}</caption>
            <tr>
                <td>{TXT_DOWNLOADS_COL_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_COL_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_col_count" value="{DOWNLOADS_SETTINGS_COL_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_SUBCAT_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_SUBCAT_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_subcat_count" value="{DOWNLOADS_SETTINGS_SUBCAT_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_LIST_DOWNLOADS_CURRENT_LANG}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_LIST_DOWNLOADS_CURRENT_LANG_DESC}</span></td>
                <td><input type="checkbox" name="downloads_settings_list_downloads_current_lang" {DOWNLOADS_SETTINGS_LIST_DOWNLOADS_CURRENT_LANG} value="1"></td>
            </tr>
        </table>
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_BLOCKS}</caption>
            <tr>
                <td>{TXT_DOWNLOADS_MOST_VIEWED_FILE_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_MOST_VIEWED_FILE_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_most_viewed_file_count" value="{DOWNLOADS_SETTINGS_MOST_VIEWED_FILE_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_MOST_DOWNLOADED_FILE_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_MOST_DOWNLOADED_FILE_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_most_downloaded_file_count" value="{DOWNLOADS_SETTINGS_MOST_DOWNLOADED_FILE_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_MOST_POPULAR_FILE_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_MOST_POPULAR_FILE_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_most_popular_file_count" value="{DOWNLOADS_SETTINGS_MOST_POPULAR_FILE_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_NEWEST_FILE_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_NEWEST_FILE_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_newest_file_count" value="{DOWNLOADS_SETTINGS_NEWEST_FILE_COUNT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_UPDATE_FILE_COUNT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_UPDATE_FILE_COUNT_DESC}</span></td>
                <td><input type="number" name="downloads_settings_updated_file_count" value="{DOWNLOADS_SETTINGS_UPDATED_FILE_COUNT}" class="compact"></td>
            </tr>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_display -->
    <!-- BEGIN section_search -->
    <div class="tab downloadsTab_settingsSearch" data-tablist="default">
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_INTEGRATE_INTO_SEARCH_COMPONENT}</caption>
            <tr>
                <td><label for="downloads_settings_integrate_into_search_component">{TXT_DOWNLOADS_INTEGRATE_INTO_SEARCH_COMPONENT_TXT}</label></td>
                <td><input type="checkbox" name="downloads_settings_integrate_into_search_component" id="downloads_settings_integrate_into_search_component" {DOWNLOADS_SETTINGS_INTEGRATE_INTO_SEARCH_COMPONENT} value="1"></td>
            </tr>
            <tr>
                <td><label>{TXT_DOWNLOADS_SEARCH_LINK_METHOD}</label></td>
                <td>
                    <select name="downloads_settings_global_search_linking">
                        {DOWNLOADS_SETTINGS_SEARCH_LINK_OPTIONS}
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_search -->
    <!-- BEGIN section_statistics -->
    <div class="tab downloadsTab_settingsStatistics" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_DOWNLOADS_NEW_FILE_TIME_LIMIT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_NEW_FILE_TIME_LIMIT_DESC}&nbsp;{TXT_DOWNLOADS_SECONDS_COMB_EXAMPLES}</span></td>
                <td><input type="number" name="downloads_settings_new_file_time_limit" value="{DOWNLOADS_SETTINGS_NEW_FILE_TIME_LIMIT}" class="compact"></td>
            </tr>
            <tr>
                <td>{TXT_DOWNLOADS_UPDATED_FILE_TIME_LIMIT}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_UPDATED_FILE_TIME_LIMIT_DESC}&nbsp;{TXT_DOWNLOADS_SECONDS_COMB_EXAMPLES}</span></td>
                <td><input type="number" name="downloads_settings_updated_file_time_limit" value="{DOWNLOADS_SETTINGS_UPDATEDED_FILE_TIME_LIMIT}" class="compact"></td>
            </tr>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_statistics -->
    <!-- BEGIN section_attributes -->
    <div class="tab downloadsTab_settingsAttributes" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_DOWNLOADS_ATTRIBUTES_DESC}</td>
                <td>
                    <input type="checkbox" name="downloads_settings_attribute_metakeys" id="downloads_settings_attribute_metakeys" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_METAKEYS_CHECKED}><label for="downloads_settings_attribute_metakeys">{TXT_DOWNLOADS_METAKEYS}</label><br>
                    <input type="checkbox" name="downloads_settings_attribute_size" id="downloads_settings_attribute_size" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_SIZE_CHECKED}><label for="downloads_settings_attribute_size">{TXT_DOWNLOADS_SIZE}</label><br>
                    <input type="checkbox" name="downloads_settings_attribute_license" id="downloads_settings_attribute_license" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_LICENSE_CHECKED}><label for="downloads_settings_attribute_license">{TXT_DOWNLOADS_LICENSE}</label><br>
                    <input type="checkbox" name="downloads_settings_attribute_version" id="downloads_settings_attribute_version" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_VERSION_CHECKED}><label for="downloads_settings_attribute_version">{TXT_DOWNLOADS_VERSION}</label><br>
                    <input type="checkbox" name="downloads_settings_attribute_author" id="downloads_settings_attribute_author" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_AUTHOR_CHECKED}><label for="downloads_settings_attribute_author">{TXT_DOWNLOADS_AUTHOR}</label><br>
                    <input type="checkbox" name="downloads_settings_attribute_website" id="downloads_settings_attribute_website" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_WEBSITE_CHECKED}><label for="downloads_settings_attribute_website">{TXT_DOWNLOADS_WEBSITE}</label>
                </td>
            </tr>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_attributes -->
    <!-- BEGIN section_automation -->
    <div class="tab downloadsTab_settingsInterfaces" data-tablist="default">
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_USER_ADMIN}</caption>
            <tr>
                <td>{TXT_DOWNLOADS_AUTOMATIC_CATEGORY_CREATION}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_DOWNLOADS_AUTOMATIC_CATEGORY_CREATION_DESC}</span></td>
                <td>
                    <div class="multiselect">
                        <div>
                            {TXT_DOWNLOADS_AVAILABLE_USER_GROUPS}<br>
                            <select name="downloads_settings_associate_user_to_groups_not_associated_groups[]" id="downloads_settings_associate_user_to_groups_not_associated_groups" size="15" multiple="multiple">
                                {DOWNLOADS_SETTINGS_NOT_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="javascript:void(0);" onclick="downloadsSelectAllOptions(document.getElementById('downloads_settings_associate_user_to_groups_not_associated_groups'))" title="{TXT_DOWNLOADS_CHECK_ALL}">{TXT_DOWNLOADS_CHECK_ALL}</a><br>
                            <a href="javascript:void(0);" onclick="downloadsDeselectAllOptions(document.getElementById('downloads_settings_associate_user_to_groups_not_associated_groups'))" title="{TXT_DOWNLOADS_UNCHECK_ALL}">{TXT_DOWNLOADS_UNCHECK_ALL}</a>
                        </div>
                        <div>
                            <input type="button" value="&lt;&lt;" name="removeOption" onclick="downloadsRemoveOptionFromList(document.getElementById('downloads_settings_associate_user_to_groups_not_associated_groups'), document.getElementById('downloads_settings_associate_user_to_groups_associated_groups'))">
                            <input type="button" value="&gt;&gt;" name="addOption" onclick="downloadsAddOptionToList(document.getElementById('downloads_settings_associate_user_to_groups_not_associated_groups'), document.getElementById('downloads_settings_associate_user_to_groups_associated_groups'))">
                        </div>
                        <div>

                            {TXT_DOWNLOADS_ASSIGNED_USER_GROUPS}<br>
                            <select name="downloads_settings_associate_user_to_groups_associated_groups[]" id="downloads_settings_associate_user_to_groups_associated_groups" size="15" multiple="multiple">
                                {DOWNLOADS_SETTINGS_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="javascript:void(0);" onclick="downloadsSelectAllOptions(document.getElementById('downloads_settings_associate_user_to_groups_associated_groups'))" title="{TXT_DOWNLOADS_CHECK_ALL}">{TXT_DOWNLOADS_CHECK_ALL}</a><br>
                            <a href="javascript:void(0);" onclick="downloadsDeselectAllOptions(document.getElementById('downloads_settings_associate_user_to_groups_associated_groups'))" title="{TXT_DOWNLOADS_UNCHECK_ALL}">{TXT_DOWNLOADS_UNCHECK_ALL}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="adminlist splitview">
            <caption>{TXT_DOWNLOADS_SETTINGS_ASSET_SELECTION}</caption>
            <tr>
                <td>{TXT_DOWNLOADS_SETTINGS_AUTO_NAMING}</td>
                <td>
                    <input type="radio" name="downloads_setting_auto_naming" id="auto_naming_off" value="off" {DOWNLOADS_SETTINGS_AUTO_NAMING_DISABLE_CHECKED}>
                    <label for="auto_naming_off">{TXT_DOWNLOADS_SETTINGS_AUTO_NAMING_DISABLE}</label><br>
                    <input type="radio" name="downloads_setting_auto_naming" id="auto_naming_on" value="on" {DOWNLOADS_SETTINGS_AUTO_NAMING_ENABLE_CHECKED}>
                    <label for="auto_naming_on">{TXT_DOWNLOADS_SETTINGS_AUTO_NAMING_ENABLE}</label>
                    <div id="downloads_pretty_format">
                        <input type="text" name="downloads_setting_pretty_format" value="{DOWNLOADS_SETTINGS_PRETTY_FORMAT}" placeholder="#Search#Replace#">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_DOWNLOADS_SETTINGS_PRETTY_FORMAT_TOOLTIP}</span>
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}">
    </div>
    <!-- END section_automation -->
</form>
<!-- BEGIN section_mailtemplates -->
<div class="tab downloadsTab_settingsEmailTemplates" data-tablist="default">
    {DOWNLOADS_EMAIL_TEMPLATE_SETTINGS}
</div>
<!-- END section_mailtemplates -->
<!-- end module_downloads_settings.html -->
