<!-- START search.html -->
<!-- BEGIN search_results_comment -->
<div class="infobox">{TXT_SEARCH_RESULTS_COMMENT}</div>
<!-- END search_results_comment -->
<!-- BEGIN search_no_term -->
<div class="infobox">{TXT_SEARCH_NO_TERM}</div>
<!-- END search_no_term -->
<!-- BEGIN search_no_results -->
<div class="infobox">{TXT_SEARCH_NO_RESULTS}</div>
<!-- END search_no_results -->
<table class="adminlist">
    <tr>
        <th>{TXT_SEARCH_TITLE}</th>
        <th>{TXT_SEARCH_CONTENT_TITLE}</th>
        <th>{TXT_SEARCH_SLUG}</th>
        <th>{TXT_SEARCH_LANG}</th>
        <th>{TXT_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN search_result_row -->
    <tr>
        <td>{SEARCH_RESULT_TITLE}</td>
        <td>{SEARCH_RESULT_CONTENT_TITLE}</td>
        <td>{SEARCH_RESULT_SLUG}</td>
        <td>{SEARCH_RESULT_LANG}</td>
        <td>
            <a href="{SEARCH_RESULT_FRONTEND_LINK}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            <a href="{SEARCH_RESULT_BACKEND_LINK}"><i class="fa-regular fa-pen-to-square"></i></a>
        </td>
    </tr>
    <!-- END search_result_row -->
</table>
{SEARCH_PAGING}
<!-- END search.html -->
