<!-- START module_newsletter_user_feedback.html -->
<table class="adminlist splitview">
  <caption>{TXT_NEWSLETTER_USER_FEEDBACK_TITLE}</caption>
  <tr>
    <th>{TXT_NEWSLETTER_CAMPAIGN}</th>
    <th>{TXT_NEWSLETTER_LINK_TITLE}</th>
    <th>{TXT_NEWSLETTER_LINK_SOURCE}</th>
  </tr>
  <!-- BEGIN link_list -->
  <tr class="{NEWSLETTER_RECIPIENT_ROW_CLASS}">
    <td>{NEWSLETTER_EMAIL}</td>
    <td>{NEWSLETTER_LINK_TITLE}</td>
    <td><a href="{NEWSLETTER_LINK_URL}" title="{TXT_NEWSLETTER_OPEN_LINK_IN_NEW_TAB}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>{NEWSLETTER_LINK_URL}</a></td>
  </tr>
  <!-- END link_list -->
  <!-- BEGIN link_list_empty -->
  <tr>
    <td colspan="3">{NEWSLETTER_USER_NO_FEEDBACK}</td>
  </tr>
  <!-- END link_list_empty -->
</table>
<form>
  <input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=Newsletter&amp;{CSRF_PARAM}&amp;act=users'">
</form>
{NEWSLETTER_LINKS_PAGING}
<!-- END module_newsletter_user_feedback.html -->
