<!-- START module_newsletter_user_import.html -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="zoneTab_Content1" class="active" href="#">{TXT_ENTER_EMAIL_ADDRESS}</a></li>
  <li><a data-tablink="zoneTab_Content2" href="#">{TXT_NEWSLETTER_IMPORT_FROM_FILE}</a></li>
</ul>
<div class="tab zoneTab_Content1" data-tablist="default">
  <form name="importuser" action="?cmd=Newsletter&amp;act=users&amp;tpl=import" method="post">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_NEWSLETTER_IMPORT_ADDRESSES}</td>
        <td><textarea name="Emails" rows="15"></textarea></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_LIST}</td>
        <td>{NEWSLETTER_CATEGORY_MENU}</td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_CONSENT_CONFIRM_IMPORT}</td>
        <td><input type="checkbox" name="consentConfirm" id="consentConfirm" value="1"></td>
      </tr>
    </table>
    <input type="submit" name="newsletter_import_plain" value="{TXT_IMPORT}">
  </form>
</div>
<div class="tab zoneTab_Content2" data-tablist="default">
  {NEWSLETTER_IMPORT_FRAME}
</div>
<!-- END module_newsletter_user_import.html -->
