<!-- start module_newsletter_list_edit.html -->
<form action="index.php?cmd=Newsletter&amp;act=lists&amp;tpl=edit&amp;id={NEWSLETTER_LIST_ID}" method="post">
  <table class="adminlist splitview">
    <caption>{NEWSLETTER_LIST_TITLE}</caption>
    <tr>
      <td>{TXT_NEWSLETTER_STATUS}</td>
      <td><input type="checkbox" value="1" name="newsletter_list_status" id="newsletter_list_status" {NEWSLETTER_LIST_STATUS}><label for="newsletter_list_status">{TXT_NEWSLETTER_VISIBLE}</label></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_NAME}</td>
      <td><input type="text" size="70" name="newsletter_list_name" value="{NEWSLETTER_LIST_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_NOTIFICATION_SEND_BY_UNSUBSCRIBE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_SEPARATE_MULTIPLE_VALUES_BY_COMMA}</span></td>
      <td><input type="text" size="70" value="{NEWSLETTER_NOTIFICATION_MAIL}" name="newsletter_notification_mail" id="newsletter_notification_mail"></td>
    </tr>
  </table>
  <input type="button" onclick="window.location.href='index.php?cmd=Newsletter&{CSRF_PARAM}&amp;act=lists'" name="back" value="{TXT_NEWSLETTER_BACK}" class="secondary">
  <input type="submit" name="save" value="{TXT_NEWSLETTER_SAVE}">
</form>
<!-- end module_newsletter_list_edit.html -->
