<!-- START module_newsletter_mail_send.html -->
<form name="NewsletterTest" action="index.php?cmd=Newsletter&amp;act=sendMail&amp;id={NEWSLETTER_MAIL_ID}{NEWSLETTER_TESTMAIL_SENT}" method="post">
  <div class="infobox">{TXT_NEWSLETTER_NOTICE}&nbsp;{TXT_NEWSLETTER_SEND_TESTMAIL_FIRST}</div>
  <div class="infobox">{TXT_MODULE_NEWSLETTER_NOTE_PRIVACY}</div>

  <table class="adminlist splitview">
    <caption>{TXT_SEND_TEST_EMAIL}</caption>
    <tr>
      <td>{TXT_NEWSLETTER_NOTICE_TESTMAIL}</td>
      <td><input type="text" name="newsletter_test_mail" value="{NEWSLETTER_MAIL_TEST_EMAIL}" maxlength="200"></td>
    </tr>
  </table>
  <input type="submit" name="newsletter_mail_send_test" value="{TXT_NEWSLETTER_SEND_TEST}">
  <!-- BEGIN bulkSend -->
  <div class="infobox">
    {TXT_MODULE_NEWSLETTER_NOTE_DSG_TEXT_1}
    &quot;<i class="fa-regular fa-paper-plane"></i>{TXT_MODULE_NEWSLETTER_NOTE_DSG_CONSENT}&quot;
    {TXT_MODULE_NEWSLETTER_NOTE_DSG_TEXT_2}
    <a href="/cadmin/Newsletter/lists">{TXT_NEWSLETTER_LISTS}</a>
    {TXT_MODULE_NEWSLETTER_NOTE_DSG_TEXT_3}
  </div>
  <!-- BEGIN newsletter_mail_list_required -->
  <div class="alertbox">{TXT_NEWSLETTER_MAIL_LIST_REQUIRED_TXT}</div>
  <input type="submit" name="newsletter_mail_edit" value="{TXT_NEWSLETTER_MODIFY_EMAIL}">
  <!-- END newsletter_mail_list_required -->
  <!-- BEGIN newsletter_mail_send_status -->
  <table class="adminlist splitview">
    <caption>{TXT_NEWSLETTER_SEND}</caption>
    <tr>
      <td>{TXT_NEWSLETTER_SUBJECT}</td>
      <td>{NEWSLETTER_MAIL_SUBJECT}</td>
    </tr>
    <tr id="newsletter_send_info" style="display:{NEWSLETTER_MAIL_SEND_INFO_DISPLAY}">
      <td>{TXT_NEWSLETTER_MAILS_SENT}</td>
      <td>
        <div style="display:block">
          <div id="newsletter_sent_count" style="display:inline;">{NEWSLETTER_SENDT}</div>
          &nbsp;/&nbsp;{NEWSLETTER_MAIL_USERES}
        </div>
        </div>
        <div style="color: red;">{TXT_SENDING}</div>
      </td>
    </tr>
  </table>
  <!-- BEGIN newsletter_mail_send_button -->
  <input type="button" value="{TXT_NEWSLETTER_SEND}" id="newsletter_send_button" onclick="newsletterToggleSend()" style="display:{NEWSLETTER_MAIL_SEND_BUTTON_DISPLAY}">
  <!-- END newsletter_mail_send_button -->
  <!-- BEGIN newsletter_mail_sent_status -->
  <div id="newsletter_sent_status" class="okbox" style="display:{NEWSLETTER_MAIL_SENT_STATUS_DISPLAY}">
    {NEWSLETTER_MAIL_SENT_STATUS}</div>
  <!-- END newsletter_mail_sent_status -->


  <!-- END newsletter_mail_send_status -->
  <!-- END bulkSend -->
  <input type="hidden" name="{NEWSLETTER_TESTMAIL_SENT2}" value="1">
</form>


<script>
  // <![CDATA[
  var newsletterSendStatus = false;
  var newsletterSendRunning = false;
  var newsletterCycleTime = 0;
  var newsletterCycleStartTime = 0;
  var newsletterCycleAmount = 0;
  var newsletterSentCountBeforeCycle = {NEWSLETTER_SENDT};
  var newsletterSentCountGuess = {NEWSLETTER_SENDT};
  var newsletterCycleSpeed = 500;
  var newsletterCycleIncrement = 1;
  var newsletterTotalEmailAmount = {NEWSLETTER_MAIL_USERES};

  function newsletterToggleSend() {
    newsletterSendStatus = !newsletterSendStatus;

    if (newsletterSendStatus) {
      $J('#newsletter_send_button').attr('value', cx.variables.get('TXT_NEWSLETTER_STOP_SEND', 'Newsletter/lang'));
      $J('#newsletter_statusbar .ui-progressbar-value').css({'background-image': 'url(/modules/Newsletter/View/Media/loadingAnimation.gif)'});
      newsletterSend();
      newsletterSendRunning = true;
      setTimeout(newsletterAnimateCycle, newsletterCycleSpeed)
    } else {
      $J('#newsletter_send_button').attr('value', cx.variables.get('TXT_NEWSLETTER_SEND_STOPPING', 'Newsletter/lang'));
      $J('#newsletter_send_button').attr('disabled', 'disabled');
    }
  }

  function newsletterSend()
  {
    if (!newsletterSendStatus) return;

    newsletterCycleStartTime = (new Date()).getTime();

    $J.ajax({
      url: 'index.php?cmd=Newsletter&act=send&standalone=true&id={NEWSLETTER_MAIL_ID}',
      data: {id: {NEWSLETTER_MAIL_ID}, send: 1},
      type: 'POST',
      dataType: 'json',
      success: function(data){
        if (data.sentComplete) {
          newsletterSendStatus = false;
        }

        //check to prevent bug that progressbar gets to 0 when we finish and wait for result
                if(data.count > 0 && data.progressbarStatus > 0) {
          $J('#newsletter_sent_count').html(data.count);
                    $J('#newsletter_statusbar').progressbar({value:data.progressbarStatus});
        }
        if (newsletterSendStatus) {
          newsletterCycleAmount = data.count - newsletterSentCountBeforeCycle;
          newsletterSentCountBeforeCycle = parseInt(data.count, 10);
          newsletterSentCountGuess = parseInt(data.count, 10);
          newsletterCycleTime = (new Date()).getTime() - newsletterCycleStartTime;
          newsletterCycleIncrement = newsletterCycleAmount / newsletterCycleTime * newsletterCycleSpeed;

          newsletterSend();
        } else {
          newsletterSendRunning = false;

          // show sent complete info
          if (data.sentComplete) {
            $J('#newsletter_send_button').hide();
            $J('#newsletter_send_info').hide();
            $J('#newsletter_sent_status').html(data.message);
            $J('#newsletter_sent_status').show();
          }

          $J('#newsletter_statusbar .ui-progressbar-value').css({'background-image': ''});
          $J('#newsletter_send_button').attr('value', cx.variables.get('TXT_NEWSLETTER_SEND', 'Newsletter/lang'));
          $J('#newsletter_send_button').removeAttr('disabled');
        }
      }
    });
  }

  function newsletterAnimateCycle()
  {
    if (!newsletterSendRunning || newsletterTotalEmailAmount <= newsletterSentCountGuess) return;

    newsletterSentCountGuess += newsletterCycleIncrement;
    $J('#newsletter_sent_count').html(Math.floor(newsletterSentCountGuess));
    $J('#newsletter_statusbar').progressbar({value:Math.round(100/newsletterTotalEmailAmount*newsletterSentCountGuess)});
    setTimeout(newsletterAnimateCycle, newsletterCycleSpeed)
  }

  cx.ready(function(){$J('#newsletter_statusbar').progressbar({value:{NEWSLETTER_PROGRESSBAR_STATUS}})});
  // ]]
</script>
<!-- END module_newsletter_mail_send.html -->
