<!-- START module_newsletter_mail_edit.html -->
<script>
  // <![CDATA[
newsletterAttachmentNr = {NEWSLETTER_MAIL_ATTACHMENT_NR};


  /**
   * Check if the text content is empty and show a warning if so
   */
var checkTextContent = function() {
    var area = document.getElementById('newsletter_mail_text_content');
    if (area.value == '') {
      return confirm('{TXT_NEWSLETTER_CONFIRM_EMPTY_TEXT}');
    }
    return true;
  }

  function newsletterDelAttachment(attachmentNr) {
  document.getElementById('newsletter_attachment_frame').removeChild(document.getElementById('newsletter_attachment_box_'+attachmentNr));
    noAttachments = true;
    for (i = 0; i < document.getElementById('newsletter_attachment_frame').childNodes.length; i++) {
      if (document.getElementById('newsletter_attachment_frame').childNodes[i].nodeType == 1) {
        noAttachments = false;
        break;
      }
    }
    if (noAttachments) {
      document.getElementById('newsletter_attachment_frame').style.display = 'none';
    }
  }

  function mediaBrowserCallback(data) {
  if (data.type=="file") {
      var url = data.data[0].datainfo.filepath;

      newsletterAttachmentNr++;

      elDiv = document.createElement('div');
    elDiv.setAttribute('id', 'newsletter_attachment_box_'+newsletterAttachmentNr);

      elInput = document.createElement('input');
      elInput.setAttribute('type', 'hidden');
    elInput.setAttribute('name', 'newsletter_mail_attachment['+newsletterAttachmentNr+']');
      elInput.setAttribute('value', url);

      fileRegExp = /.+\/(.+)$/;
      fileRegExp.exec(url);
      elTxt = document.createTextNode(RegExp.$1);

      elALink = document.createElement('a');
      elALink.setAttribute('href', url);
      elALink.setAttribute('target', '_blank');
      elALink.setAttribute('title', '{TXT_NEWSLETTER_DISPLAY_FILE}');
      elALink.appendChild(elTxt);

      elImg = document.createElement('i');
      elImg.setAttribute('class', 'fa-regular fa-trash-can');
      elImg.setAttribute('title', '{TXT_NEWSLETTER_REMOVE_FILE}');
      elImg.setAttribute('width', '17');
      elImg.setAttribute('height', '17');
      elImg.setAttribute('border', '0');

      elADel = document.createElement('a');
    elADel.setAttribute("href", "javascript:newsletterDelAttachment('"+newsletterAttachmentNr+"')");
      elADel.setAttribute('title', '{TXT_NEWSLETTER_REMOVE_FILE}');
      elADel.appendChild(elImg);

      elDiv.appendChild(elInput);
      elDiv.appendChild(elALink);
      elDiv.appendChild(elADel);

      document.getElementById('newsletter_attachment_frame').appendChild(elDiv);

      if (document.getElementById('newsletter_attachment_frame').style.display = 'none') {
        document.getElementById('newsletter_attachment_frame').style.display = 'block';
      }
    }
  }

$J(document).ready(function() {
    $J("#newsletter_mail_crm_memberships").chosen();
    $J("#newsletter_mail_crm_filter_memberships_include").chosen();
    $J("#newsletter_mail_crm_filter_memberships_exclude").chosen();
  });

cx.ready(function(){
    const updateSmtpServer = function() {
        document.querySelector('.senderAddress').dataset.smtpServerId = this.value;
    }
    const smtpServer = document.querySelector('[name=newsletter_mail_smtp_account]');
    smtpServer.addEventListener('input', updateSmtpServer);
    smtpServer.dispatchEvent(new InputEvent('input'));
})
  // ]]>
</script>
<form action="index.php?cmd=Newsletter&amp;act=editMail&amp;sendMail={NEWSLETTER_MAIL_SEND}&amp;id={NEWSLETTER_MAIL_ID}" id="newsletter_mail_form" enctype="multipart/form-data" method="post" onsubmit="return checkTextContent()">
  <table class="adminlist splitview">
    <caption>{NEWSLETTER_MAIL_EDIT_TITLE}</caption>
    <tr>
      <td>{TXT_NEWSLETTER_SUBJECT}</td>
      <td><input type="text" name="newsletter_mail_subject" value="{NEWSLETTER_MAIL_SUBJECT}" maxlength="255"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_TEMPLATE}</td>
      <td>{NEWSLETTER_MAIL_TEMPLATE_MENU}</td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_SENDER} {TXT_NEWSLETTER_EMAIL}</td>
      <td><input type="email" name="newsletter_mail_sender_mail" value="{NEWSLETTER_MAIL_SENDER_MAIL}" maxlength="255" class="senderAddress" data-sender-validation="strict"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_SENDER}&nbsp;{TXT_NEWSLETTER_NAME}</td>
      <td><input type="text" name="newsletter_mail_sender_name" value="{NEWSLETTER_MAIL_SENDER_NAME}" maxlength="255"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_REPLY_ADDRESS}</td>
      <td><input type="email" name="newsletter_mail_sender_reply" value="{NEWSLETTER_MAIL_REPLY}" maxlength="255"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_EMAIL_ACCOUNT}</td>
      <td>{NEWSLETTER_MAIL_SMTP_SERVER}</td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_PRIORITY}</td>
      <td>{NEWSLETTER_MAIL_PRIORITY_MENU}</td>
    </tr>
    <tr>
      <td>
        {TXT_NEWSLETTER_ASSOCIATED_LISTS}
        <!-- BEGIN associatedListToolTip -->
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}</span>
        <!-- END associatedListToolTip -->
      </td>
      <td>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_list_0 -->
          <input type="checkbox" name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]" id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}" value="1" {NEWSLETTER_LIST_ASSOCIATED}>
          {NEWSLETTER_LIST_NAME}<a href="index.php?cmd=Newsletter&amp;act=users&amp;list={NEWSLETTER_LIST_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
          <!-- END newsletter_mail_associated_list_0 -->
        </div>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_list_1 -->
          <input type="checkbox" name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]" id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}" value="1" {NEWSLETTER_LIST_ASSOCIATED}>
          {NEWSLETTER_LIST_NAME}<a href="index.php?cmd=Newsletter&amp;act=users&amp;list={NEWSLETTER_LIST_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
          <!-- END newsletter_mail_associated_list_1 -->
        </div>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_list_2 -->
          <input type="checkbox" name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]" id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}" value="1" {NEWSLETTER_LIST_ASSOCIATED}>
          {NEWSLETTER_LIST_NAME}<a href="index.php?cmd=Newsletter&amp;act=users&amp;list={NEWSLETTER_LIST_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
          <!-- END newsletter_mail_associated_list_2 -->
        </div>
      </td>
    </tr>

    <!-- BEGIN deliver_user_recipients -->
    <tr>
      <td>
        {TXT_NEWSLETTER_ASSOCIATED_GROUPS}
        <!-- BEGIN associatedGroupToolTipBeforeSend -->
        <span class="icon-warning tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS_SEND}</span>
        <!-- END associatedGroupToolTipBeforeSend -->
        <!-- BEGIN associatedGroupToolTipAfterSent -->
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}</span>
        <!-- END associatedGroupToolTipAfterSent -->
      </td>
      <td>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_group_0 -->
          <input type="checkbox" name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]" id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}" value="1" {NEWSLETTER_GROUP_ASSOCIATED}>
          {NEWSLETTER_GROUP_NAME}<a href="index.php?cmd=Access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
          <!-- END newsletter_mail_associated_group_0 -->
        </div>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_group_1 -->
          <input type="checkbox" name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]" id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}" value="1" {NEWSLETTER_GROUP_ASSOCIATED}>
          {NEWSLETTER_GROUP_NAME}<a href="index.php?cmd=Access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
          <!-- END newsletter_mail_associated_group_1 -->
        </div>
        <div class="col-3-layout">
          <!-- BEGIN newsletter_mail_associated_group_2 -->
          <input type="checkbox" name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]" id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}" value="1" {NEWSLETTER_GROUP_ASSOCIATED}>
          {NEWSLETTER_GROUP_NAME}<a href="index.php?cmd=Access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}" target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          <!-- END newsletter_mail_associated_group_2 -->
        </div>
      </td>
    </tr>
    <!-- END deliver_user_recipients -->

    <!-- BEGIN deliver_crm_recipients -->
    <tr>
      <td>
        {TXT_NEWSLETTER_CRM_MEMBERSHIP}
        <!-- BEGIN crmMembershipAssociatedToolTipBeforeSend -->
        <span class="icon-warning tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS_SEND}</span>
        <!-- END crmMembershipAssociatedToolTipBeforeSend -->
        <!-- BEGIN crmMembershipAssociatedToolTipAfterSend -->
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}</span>
        <!-- END crmMembershipAssociatedToolTipAfterSend -->
      </td>
      <td>
        <select tabindex="7" data-placeholder="{TXT_NEWSLETTER_CHOOSE_CRM_MEMBERSHIPS}" name="newsletter_mail_crm_memberships[associate][]" id="newsletter_mail_crm_memberships" multiple autocomplete="off" {NEWSLETTER_LIST_DISABLED}>
          <!-- BEGIN crmMembership -->
          <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}</option>
          <!-- END crmMembership -->
        </select>
      </td>
    </tr>
    <!-- END deliver_crm_recipients -->

    <!-- BEGIN use_crm_filter -->
    <tr>
      <td>
        {TXT_NEWSLETTER_CRM_MEMBERSHIP_FILTER}
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">
          <!-- BEGIN crmMembershipFilterToolTipBeforeSend -->{TXT_NEWSLETTER_CRM_MEMBERSHIP_FILTER_TOOLTIP}<!-- END crmMembershipFilterToolTipBeforeSend -->
          <!-- BEGIN crmMembershipFilterToolTipAfterSent -->{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}<!-- END crmMembershipFilterToolTipAfterSent -->
        </span>
      </td>
      <td>
        {TXT_NEWSLETTER_CRM_MEMBERSHIP_INCLUDE_TXT}<br>
        <select tabindex="7" data-placeholder="{TXT_NEWSLETTER_CHOOSE_CRM_MEMBERSHIPS}" name="newsletter_mail_crm_filter_memberships[include][]" id="newsletter_mail_crm_filter_memberships_include" multiple autocomplete="off" {NEWSLETTER_LIST_DISABLED}>
          <!-- BEGIN crmMembershipFilterInclude -->
          <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}</option>
          <!-- END crmMembershipFilterInclude -->
        </select><br>
        {TXT_NEWSLETTER_CRM_MEMBERSHIP_EXCLUDE_TXT}<br>
        <select tabindex="7" data-placeholder="{TXT_NEWSLETTER_CHOOSE_CRM_MEMBERSHIPS}" name="newsletter_mail_crm_filter_memberships[exclude][]" id="newsletter_mail_crm_filter_memberships_exclude" multiple autocomplete="off" {NEWSLETTER_LIST_DISABLED}>
          <!-- BEGIN crmMembershipFilterExclude -->
          <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}</option>
          <!-- END crmMembershipFilterExclude -->
        </select>
      </td>
    </tr>
    <!-- END use_crm_filter -->
    <tr>
      <td>{TXT_NEWSLETTER_ATTACH}</td>
      <td>
        <div id="newsletter_attachment_frame" style="display:{NEWSLETTER_MAIL_ATTACHMENT_BOX};">
          <!-- BEGIN newsletter_mail_attachment_list -->
          <div id="newsletter_attachment_box_{NEWSLETTER_MAIL_ATTACHMENT_NR}">
            <input type="hidden" name="newsletter_mail_attachment[{NEWSLETTER_MAIL_ATTACHMENT_NR}]" value="{NEWSLETTER_MAIL_ATTACHMENT_URL}">
            <a href="{NEWSLETTER_MAIL_ATTACHMENT_URL}" title="{TXT_NEWSLETTER_DISPLAY_FILE}" target="_blank">{NEWSLETTER_MAIL_ATTACHMENT_NAME}</a>
            <a href="javascript:newsletterDelAttachment({NEWSLETTER_MAIL_ATTACHMENT_NR})" title="{TXT_NEWSLETTER_REMOVE_FILE}"><i class="fa-regular fa-trash-can"></i></a>
          </div>
          <!-- END newsletter_mail_attachment_list -->
        </div>
        {NEWSLETTER_ATTACH_FILE}
      </td>
    </tr>
  </table>
  <ul class="tabmenu" data-tablist="default">
    <!-- BEGIN newsletter_mail_html_content -->
    <li><a data-tablink="newsletterTab_htmlContent" class="active" href="#">{TXT_NEWSLETTER_HTML_UC}</a></li>
    <!-- END newsletter_mail_html_content -->
    <li><a data-tablink="newsletterTab_placeholders" href="#">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</a></li>
  </ul>
  <div class="tab newsletterTab_htmlContent" data-tablist="default">
    <table class="adminlist">
      <tr class="reset">
        <td>{NEWSLETTER_MAIL_HTML_CONTENT}</td>
      </tr>
    </table>
  </div>
  <div class="tab newsletterTab_placeholders" data-tablist="default">
    <table class="adminlist splitview">
      <caption>{TXT_NEWSLETTER_GENERAL}</caption>
      <tr>
        <td>{TXT_NEWSLETTER_SUBJECT}</td>
        <td><code>[[subject]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_DATE}</td>
        <td><code>[[date]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_DISPLAY_IN_BROWSER_LINK}</td>
        <td><code>[[display_in_browser_url]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_MODIFY_PROFILE}, Link<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
        <td><code>[[profile_setup]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_MODIFY_PROFILE}, URL<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
        <td><code>[[profile_setup_url]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_UNSUBSCRIBE}, Link<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
        <td><code>[[unsubscribe]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_UNSUBSCRIBE}, URL<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
        <td><code>[[unsubscribe_url]]</code></td>
      </tr>
    </table>
    <table class="adminlist splitview">
      <caption>{TXT_NEWSLETTER_USER_DATA}</caption>
      <tr>
        <td>{TXT_NEWSLETTER_EMAIL_ADDRESS}</td>
        <td><code>[[email]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_SEX}</td>
        <td><code>[[sex]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_SALUTATION}</td>
        <td><code>[[salutation]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_TITLE}</td>
        <td><code>[[title]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_FIRSTNAME}</td>
        <td><code>[[firstname]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_LASTNAME}</td>
        <td><code>[[lastname]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_POSITION}</td>
        <td><code>[[position]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_COMPANY}</td>
        <td><code>[[company]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_INDUSTRY_SECTOR}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[industry_sector]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_ADDRESS}</td>
        <td><code>[[address]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_CITY}</td>
        <td><code>[[city]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_ZIP}</td>
        <td><code>[[zip]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_COUNTRY}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[country]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_PHONE}</td>
        <td><code>[[phone_office]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_PHONE_PRIVATE}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[phone_private]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_PHONE_MOBILE}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[phone_mobile]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_FAX}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[fax]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_BIRTHDAY}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        <td><code>[[birthday]]</code></td>
      </tr>
      <tr>
        <td>{TXT_NEWSLETTER_WEBSITE}</td>
        <td><code>[[website]]</code></td>
      </tr>
    </table>
  </div>
  <input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=Newsletter&amp;{CSRF_PARAM}&amp;act=mails'" class="secondary">
  <input type="submit" value="{TXT_NEWSLETTER_SAVE}" name="newsletter_mail_save">
</form>
<!-- END module_newsletter_mail_edit.html -->
