<!-- START module_newsletter_user_email_feedback.html -->
<table class="adminlist splitview">
  <caption>{TXT_NEWSLETTER_USER_FEEDBACK_TITLE}</caption>
  <tr>
    <td>{TXT_NEWSLETTER_LINK_TITLE}</td>
    <td>{TXT_NEWSLETTER_LINK_SOURCE}</td>
  </tr>
  <!-- BEGIN link_list -->
  <tr class="{NEWSLETTER_RECIPIENT_ROW_CLASS}">
    <td>{NEWSLETTER_LINK_TITLE}</td>
    <td><a href="{NEWSLETTER_LINK_URL}" title="{TXT_OPEN_LINK_IN_NEW_TAB}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>{NEWSLETTER_LINK_URL}</a></td>
  </tr>
  <!-- END link_list -->
  <!-- BEGIN link_list_empty -->
  <tr>
    <td colspan="2">{NEWSLETTER_USER_NO_FEEDBACK}</td>
  </tr>
  <!-- END link_list_empty -->
</table>
{NEWSLETTER_LINKS_PAGING}
<form>
  <input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=Newsletter&amp;{CSRF_PARAM}&amp;act=feedback&amp;link_id={NEWSLETTER_LINK_ID}'">
</form>
<!-- END module_newsletter_user_email_feedback.html -->
