<!-- START module_newsletter_templates.html -->
<script>
    // <![CDATA[
    function newsletterDeleteTpl(tplId, tplName)
    {
        strConfirm = '{TXT_NEWSLETTER_CONFIRM_DELETE_TEMPLATE}';
        if(confirm(strConfirm.replace('%s', tplName)+'\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}'))
            window.location.href = "index.php?cmd=Newsletter&{CSRF_PARAM}&act=Settings&tpl=Tpldel&id="+tplId;
    }
    // ]]>
</script>
<table class="adminlist">
    <caption>
        <div class="functions">
            <a href="/cadmin/Newsletter/Settings?tpl=Tpledit" title="{TXT_TEMPLATE_ADD_NEW_TEMPLATE}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </caption>
    <tr>
        <th>{TXT_NEWSLETTER_ID_UC}</th>
        <th>{TXT_NEWSLETTER_NAME}</th>
        <th>{TXT_NEWSLETTER_DESCRIPTION}</th>
        <th>{TXT_NEWSLETTER_TYPE}</th>
        <th>{TXT_NEWSLETTER_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN templates_row -->
    <tr class="{NEWSLETTER_TEMPLATE_ROW_CLASS}">
        <td>{NEWSLETTER_TEMPLATE_ID}</td>
        <td>{NEWSLETTER_TEMPLATE_NAME}</td>
        <td>{NEWSLETTER_TEMPLATE_DESCRIPTION}</td>
        <td>{NEWSLETTER_TEMPLATE_TYPE}</td>
        <td>
            <a href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Tpledit&amp;id={NEWSLETTER_TEMPLATE_ID}" title="{TXT_NEWSLETTER_MODIFY_TEMPLATE}"><i class="fa-regular fa-pen-to-square"></i></a>
            <!-- BEGIN newsletter_template_delete -->
            <a href="javascript:void(0);" onclick="newsletterDeleteTpl('{NEWSLETTER_TEMPLATE_ID}', '{NEWSLETTER_TEMPLATE_NAME_JS}')" title="{TXT_NEWSLETTER_DELETE_TEMPLATE}"><i class="fa-regular fa-trash-can"></i></a>
            <!-- END newsletter_template_delete -->
            <!-- BEGIN newsletter_templalte_spacer -->
            <i class="fa-solid fa-ban"></i>
            <!-- END newsletter_templalte_spacer -->
        </td>
    </tr>
    <!-- END templates_row -->
</table>
<!-- END module_newsletter_templates.html -->
