<!-- START module_newsletter_user_overview.html -->
<script>
    cx.ready(function() {
        for (el of document.querySelectorAll(".vg-function-status")) {
            // drop VG's click event listener
            el.replaceWith(el.cloneNode(true));
        }
        document.querySelector(".vg-add").href = "/cadmin/Newsletter/users?tpl=edit&csrf=" + cx.variables.get('csrf', 'contrexx');
        cx.bind("deleteAll", function(elements) {
            if (!elements || !elements.length) {
                return;
            }
            if (confirm("{TXT_NEWSLETTER_CONFIRM_DELETE_SELECTED_RECIPIENTS}\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}")) {
                const form = document.getElementById("newsletter_user_bulkdelete");
                for (let i = 0; i < elements.length; i++) {
                    const input = document.createElement("input");
                    input.type = "hidden";
                    input.name = "userid[]";
                    input.value = elements[i];
                    form.appendChild(input);
                }
                HTMLFormElement.prototype.submit.call(form);
            }
        }, "Newsletter");
    });
    function DeleteUser(UserID, email, UserType) {
        strConfirmMsg = "{TXT_NEWSLETTER_CONFIRM_DELETE_RECIPIENT_OF_ADDRESS}";
        if (confirm(strConfirmMsg.replace("%s", email) + "\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}")) {
            document.location.href = "index.php?cmd=Newsletter&act=users&delete=1&{CSRF_PARAM}&id=" + UserID + "&type=" + UserType;
        }
    }
    function confirmDeleteInactive() {
        return confirm("{TXT_NEWSLETTER_REALLY_DELETE_ALL_INACTIVE}\n{TXT_ACTION_IS_IRREVERSIBLE}");
    }
</script>
<form method="get" action="/cadmin/Newsletter/users">
    <div class="search-functions">
        <div>
            <input type="search" id="newsletterRecipientSearchKeyword" name="keyword" value="{KEYWORD}" maxlength="255" placeholder="{TXT_SEARCH}">
            {SELECTLIST_FIELDS}
            <input type="submit" value="{TXT_SEARCH}">
        </div>
        <div>
            {NEWSLETTER_LIST_MENU}
            {SELECTLIST_STATUS}
            {SELECTLIST_CONSENT}
        </div>
    </div>
</form>
{EMAIL_CODE_CHECK}
<div id="recipientList">
    <a href="/cadmin/Newsletter/deleteInactive" onclick="return confirmDeleteInactive();" title="{TXT_NEWSLETTER_DELETE_ALL_INACTIVE}">{TXT_NEWSLETTER_DELETE_ALL_INACTIVE}</a>
    {ENTRIES}
    {PAGING}
    <form id="newsletter_user_bulkdelete" action="index.php?cmd=Newsletter&amp;act=users&amp;bulkdelete=1" method="post"></form>
</div>
<!-- END module_newsletter_user_overview.html -->
