<!-- START module_newsletter_link_feedback.html -->
<table class="adminlist splitview">
  <caption>{TXT_NEWSLETTER_LINK_FEEDBACK}</caption>
  <tr>
    <td>{TXT_NEWSLETTER_RECIPIENT}</td>
    <td>{TXT_NEWSLETTER_FEEDBACK_CLICKS}</td>
    <td>{TXT_NEWSLETTER_FUNCTIONS}</td>
  </tr>
  <!-- BEGIN recipient_list -->
  <tr class="{NEWSLETTER_RECIPIENT_ROW_CLASS}">
    <td>{NEWSLETTER_RECIPIENT_NAME}</td>
    <td>
      <a href="index.php?cmd=Newsletter&act=feedback&link_id={NEWSLETTER_LINK_ID}&recipient_id={USER_ID}&recipient_type={USER_TYPE}" title="{TXT_NEWSLETTER_RECIPIENT_FEEDBACK_ANALYZE_DETAIL}">{NEWSLETTER_RECIPIENT_FEEDBACK}%
        ({NEWSLETTER_RECIPIENT_CLICKS})</a>
    </td>
    <td>
      <a href="index.php?cmd=Newsletter&act=feedback&link_id={NEWSLETTER_LINK_ID}&recipient_id={USER_ID}&recipient_type={USER_TYPE}" title="{TXT_NEWSLETTER_RECIPIENT_FEEDBACK_ANALYZE_DETAIL}"><i class="fa-solid fa-magnifying-glass-chart"></i></a>
      <!-- BEGIN newsletter_user_type -->
      <a href="index.php?cmd=Newsletter&amp;act=users&amp;tpl=edit&amp;id={USER_ID}" title="{TXT_NEWSLETTER_MODIFY_RECIPIENT}"><i class="fa-regular fa-pen-to-square"></i></a>
      <!-- END newsletter_user_type -->
      <!-- BEGIN access_user_type -->
      <a href="index.php?cmd=Access&act=user&tpl=modify&id={USER_ID}" title="{TXT_NEWSLETTER_MODIFY_RECIPIENT}"><i class="fa-regular fa-pen-to-square"></i></a>
      <!-- END access_user_type -->
    </td>
  </tr>
  <!-- END recipient_list -->
</table>
<form>
  <input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=Newsletter&amp;{CSRF_PARAM}&amp;act=feedback&id={NEWSLETTER_EMAIL_ID}'">
</form>
{NEWSLETTER_RECIPIENTS_PAGING}
<!-- END module_newsletter_link_feedback.html -->
