<a href="index.php?cmd=Newsletter&act=users&tpl=edit&copy=1&id={EDIT_ID}" title="{TXT_NEWSLETTER_COPY_RECIPIENT}"><i class="fa-regular fa-copy"></i></a>
<!-- BEGIN editNewsletter -->
<a href="index.php?cmd=Newsletter&act=users&tpl=edit&id={EDIT_ID}" title="{TXT_NEWSLETTER_MODIFY_RECIPIENT}"><i class="fa-regular fa-pen-to-square"></i></a>
<!-- END editNewsletter -->
<!-- BEGIN editAccess -->
<a href="index.php?cmd=Access&act=user&tpl=modify&id={EDIT_ID}&source=newsletter" title="{TXT_NEWSLETTER_MODIFY_RECIPIENT}"><i class="fa-regular fa-pen-to-square"></i></a>
<!-- END editAccess -->
<a href="javascript:void(0)" onclick="DeleteUser({EDIT_ID},'{MAIL}','{TYPE}')" title="{TXT_NEWSLETTER_DELETE_RECIPIENT}"><i class="fa-regular fa-trash-can"></i></a>
