<!-- start module_newsletter_lists.html -->
<script>
  // <![CDATA[
  function deleteList(listId, listName) {
    strConfirmTxt = '{TXT_NEWSLETTER_CONFIRM_DELETE_LIST}';
  if (confirm(strConfirmTxt.replace('%s', listName)+'\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}')) {
    window.location.href = "index.php?cmd=Newsletter&{CSRF_PARAM}&act=deleteList&id="+listId;
    }
  }

  function flushList(listId, listName) {
    strConfirmTxt = '{TXT_NEWSLETTER_CONFIRM_FLUSH_LIST}';
  if (confirm(strConfirmTxt.replace('%s', listName)+'\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}')) {
    window.location.href = "index.php?cmd=Newsletter&{CSRF_PARAM}&act=flushList&id="+listId;
    }
  }

  function changeListStatus(listId, listName) {
    strConfirmTxt = '{TXT_NEWSLETTER_CONFIRM_CHANGE_LIST_STATUS}';
    if (confirm(strConfirmTxt.replace('%s', listName))) {
    window.location.href = 'index.php?cmd=Newsletter&{CSRF_PARAM}&act=changeListStatus&id='+listId;
    }
  }

function MultiAction(){
  with (document.listslist){
      switch (listslist_MultiAction.value) {
        case 'delete':
          if (confirm('{TXT_CONFIRM_DELETE_DATA}')) {
            submit();
          }
          break;
        default: //do nothing
      }
    }
  }
  // ]]>
</script>
<form name="listslist" action="?cmd=Newsletter&amp;act=lists&amp;bulkdelete=1" method="post">
  <table class="adminlist">
    <caption>
      <div class="functions">
        <a href="/cadmin/Newsletter/users?tpl=export&amp;listId=0" title="{TXT_NEWSLETTER_EXPORT_ALL_LISTS}">
          <i class="fa-solid fa-file-export"></i>
        </a>
        <a href="/cadmin/Newsletter/lists?tpl=edit&amp;id=0" title="{TXT_NEWSLETTER_ADD_NEW_LIST}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>{TXT_NEWSLETTER_ID_UC}</th>
      <th>{TXT_NEWSLETTER_STATUS}</th>
      <th>{TXT_NEWSLETTER_NAME}</th>
      <th>{TXT_NEWSLETTER_RECIPIENTS}</th>
      <th>{TXT_NEWSLETTER_LAST_EMAIL}</th>
      <th>{TXT_NEWSLETTER_NOTIFY_ON_UNSUBSCRIBE}</th>
      <th>{TXT_NEWSLETTER_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN newsletter_lists -->
    <tr class="{NEWSLETTER_ROW_CLASS}">
      <td>{NEWSLETTER_LIST_ID}</td>
      <td><a href="javascript:void(0);" onclick="changeListStatus({NEWSLETTER_LIST_ID}, '{NEWSLETTER_LIST_NAME}')" title="{NEWSLETTER_LIST_STATUS_MSG}"><img src="/core/Core/View/Media/icons/{NEWSLETTER_LIST_STATUS_IMG}" alt="{NEWSLETTER_LIST_STATUS_MSG}"></a></td>
      <td><a href="index.php?cmd=Newsletter&amp;act=lists&amp;tpl=edit&amp;id={NEWSLETTER_LIST_ID}" title="{TXT_NEWSLETTER_MODIFY}">{NEWSLETTER_LIST_NAME}</a></td>
      <td>{NEWSLETTER_LIST_RECIPIENT}</td>
      <td>
        <!-- BEGIN newsletter_list_last_mail -->
        <a href="index.php?cmd=Newsletter&amp;act=showMail&amp;id={NEWSLETTER_LAST_MAIL_ID}" title="{TXT_NEWSLETTER_SHOW_LAST_SENT_EMAIL}">{NEWSLETTER_LIST_LAST_MAIL}</a>
        <!-- END newsletter_list_last_mail -->
        <!-- BEGIN newsletter_list_no_last_mail -->
        <a href="index.php?cmd=Newsletter&amp;act=editMail&amp;id=0" title="{TXT_NEWSLETTER_CREATE_NEW_EMAIL}">-</a>
        <!-- END newsletter_list_no_last_mail -->
      </td>
      <td>{NEWSLETTER_NOTIFICATION_EMAIL}</td>
      <td>
        <a href="index.php?cmd=Newsletter&amp;act=users&amp;tpl=export&amp;listId={NEWSLETTER_LIST_ID}" title="{TXT_EXPORT}"><i class="fa-solid fa-file-export"></i></a>
        <a href="javascript:void(0);" onclick="if (confirm('{TXT_NEWSLETTER_CONSENT_MAIL_SEND}?')) { document.location='index.php?cmd=Newsletter&amp;act=lists&amp;tpl=consentMail&amp;id={NEWSLETTER_LIST_ID}&{CSRF_PARAM}'; }" title="{TXT_NEWSLETTER_CONSENT_MAIL_SEND}"><i class="fa-regular fa-paper-plane"></i></a>
        <a href="index.php?cmd=Newsletter&amp;act=gethtml&amp;id={NEWSLETTER_LIST_ID}" title="{TXT_NEWSLETTER_GENERATE_HTML_SOURCE_CODE}"><i class="fa-solid fa-code"></i></a>
        <a href="index.php?cmd=Newsletter&amp;act=lists&amp;tpl=edit&amp;id={NEWSLETTER_LIST_ID}" title="{TXT_NEWSLETTER_MODIFY}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:void(0);" onclick="flushList({NEWSLETTER_LIST_ID}, '{NEWSLETTER_LIST_NAME}');" title="{TXT_NEWSLETTER_FLUSH}"><i class="fa-solid fa-recycle"></i></a>
        <a href="javascript:void(0);" onclick="deleteList({NEWSLETTER_LIST_ID}, '{NEWSLETTER_LIST_NAME}');" title="{TXT_NEWSLETTER_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END newsletter_lists -->
    <!-- BEGIN newsletter_no_lists -->
    <tr>
      <td colspan="7">{TXT_NEWSLETTER_NO_LISTS}</td>
    </tr>
    <!-- END newsletter_no_lists -->
  </table>
</form>
<!-- end module_newsletter_lists.html -->
