<!-- START module_newsletter_list_sourcecode.html -->
<table class="adminlist">
  <caption>{TXT_NEWSLETTER_GENERATE_HTML_SOURCE_CODE}</caption>
  <tr>
    <td><textarea rows="30" name="newsletter_html_code" style="width: 100%;">{NEWSLETTER_HTML_CODE}</textarea></td>
  </tr>
</table>
<form action="index.php?cmd=Newsletter&amp;act=lists" method="post">
  <input type="submit" value="{TXT_NEWSLETTER_BACK}">
</form>
<!-- END module_newsletter_list_sourcecode.html -->
