<!-- START module_newsletter_template_edit.html -->
<script>
  function newsImportDirectoryDisplay(selected) {
  if (selected.value == 'news')
  {
      document.getElementById('newsImportDirectory').style.display = 'table-row-group';
      document.getElementById('emailDirectory1').style.display = 'none';
      document.getElementById('emailDirectory2').style.display = 'none';
      CKEDITOR.instances.template_edit_html.config.fullPage = false;
    } else {
      document.getElementById('newsImportDirectory').style.display = 'none';
      document.getElementById('emailDirectory1').style.display = 'table-row-group';
      document.getElementById('emailDirectory2').style.display = 'table-row-group';
      CKEDITOR.instances.template_edit_html.config.fullPage = true;
    }
  }
</script>
<form action="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Tpledit&amp;id={NEWSLETTER_TEMPLATE_ID}" method="post">
  <table class="adminlist splitview">
    <caption>{NEWSLETTER_TEMPLATE_TITLE_TEXT}</caption>
    <tr>
      <td>{TXT_NEWSLETTER_NAME}</td>
      <td><input type="text" name="template_edit_name" id="template_edit_name" value="{NEWSLETTER_TEMPLATE_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_TYPE}</td>
      <td>
        <select name="template_edit_type" onchange="newsImportDirectoryDisplay(this)">
          {NEWSLETTER_TEMPLATE_TYPE_MENU}
        </select>
      </td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_DESCRIPTION}</td>
      <td><textarea name="template_edit_description" id="template_edit_description">{NEWSLETTER_TEMPLATE_DESCRIPTION}</textarea></td>
    </tr>
  </table>
  <ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="newsletterTab_template_form" class="active" href="#">{TXT_NEWSLETTER_HTML_TEMPLATE}</a></li>
    <li><a data-tablink="newsletterTab_template_info" href="#">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</a></li>
  </ul>
  <div class="tab newsletterTab_template_form" data-tablist="default">
    <table class="adminlist">
      <tr>
        <td>{NEWSLETTER_TEMPLATE_HTML}</td>
      </tr>
    </table>
  </div>
  <div class="tab newsletterTab_template_info" data-tablist="default">
    <table class="adminlist splitview">
      <tbody id="emailDirectory2" style="display:{NEWSLETTER_TEMPLATE_NEWS_EMAIL_DIRECTORY_DISPLAY}">
        <caption>{TXT_NEWSLETTER_GENERAL}</caption>
        <tr>
          <td>{TXT_NEWSLETTER_CONTENT}</td>
          <td><code>[[content]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_SUBJECT}</td>
          <td><code>[[subject]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_DATE}</td>
          <td><code>[[date]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_DISPLAY_IN_BROWSER_LINK}</td>
          <td><code>[[display_in_browser_url]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_PROFILE_SETUP}, Link<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
          <td><code>[[profile_setup]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_PROFILE_SETUP}, URL<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
          <td><code>[[profile_setup_url]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_UNSUBSCRIBE}, Link<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
          <td><code>[[unsubscribe]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_UNSUBSCRIBE}, URL<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
          <td><code>[[unsubscribe_url]]</code></td>
        </tr>
      </tbody>
    </table>
    <table class="adminlist splitview">
      <tbody id="emailDirectory1" style="display:{NEWSLETTER_TEMPLATE_NEWS_EMAIL_DIRECTORY_DISPLAY}">
        <caption>{TXT_NEWSLETTER_USER_DATA}</caption>
        <tr>
          <td>{TXT_NEWSLETTER_EMAIL_ADDRESS}</td>
          <td><code>[[email]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_URI}</td>
          <td><code>[[uri]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_TITLE}</td>
          <td><code>[[title]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_SEX}</td>
          <td><code>[[sex]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_LASTNAME}</td>
          <td><code>[[lastname]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_FIRSTNAME}</td>
          <td><code>[[firstname]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_ADDRESS}</td>
          <td><code>[[address]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_ZIP}</td>
          <td><code>[[zip]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_CITY}</td>
          <td><code>[[city]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_COUNTRY}</td>
          <td><code>[[country]]</code><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_PHONE}</td>
          <td><code>[[phone_office]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_BIRTHDAY}</td>
          <td><code>[[birthday]]</code><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_FOR_CRM}</span></td>
        </tr>
      </tbody>
    </table>
    <table class="adminlist splitview">
      <tbody id="newsImportDirectory" style="display:{NEWSLETTER_TEMPLATE_NEWS_IMPORT_DIRECTORY_DISPLAY}">
        <caption>{TXT_NEWSLETTER_NEWS_IMPORT}</caption>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_DATE}</td>
          <td><code>[[NEWS_DATE]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_LONG_DATE}</td>
          <td><code>[[NEWS_LONG_DATE]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_TITLE}</td>
          <td><code>[[NEWS_TITLE]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_URL}</td>
          <td><code>[[NEWS_URL]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_IMAGE_PATH}</td>
          <td><code>[[NEWS_IMAGE_PATH]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_TEASER_TEXT}</td>
          <td><code>[[NEWS_TEASER_TEXT]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_TEXT}</td>
          <td><code>[[NEWS_TEXT]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_AUTHOR}</td>
          <td><code>[[NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_CATEGORY_NAME}</td>
          <td><code>[[NEWS_CATEGORY_NAME]]</code></td>
        </tr>
        <tr>
          <td>{TXT_NEWSLETTER_NEWS_TYPE_NAME}</td>
          <td><code>[[NEWS_TYPE_NAME]]</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <input type="button" onclick="window.location.href='index.php?cmd=Newsletter&{CSRF_PARAM}&amp;act=Settings&amp;tpl=Templates'" value="{TXT_NEWSLETTER_BACK}" class="secondary">
  <input type="submit" name="newsletter_template_save" value="{TXT_NEWSLETTER_SAVE}">
</form>
<!-- END module_newsletter_template_edit.html -->
