<!-- START module_newsletter_mails.html -->
<script>
    // <![CDATA[
    function newsletterDeleteMail(id){
        if (confirm('{TXT_NEWSLETTER_CONFIRM_DELETE_MAIL}\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}')) {
            document.location.href = 'index.php?cmd=Newsletter&{CSRF_PARAM}&act=deleteMail&id='+id;
        }
    }

    function newsletterMailDoAction(action) {
        for (i = 0; i < document.getElementById('newsletter_mail_selection').elements.length; i++) {
            if (document.getElementById('newsletter_mail_selection').elements[i].name == 'newsletter_mail_selected[]' && document.getElementById('newsletter_mail_selection').elements[i].checked == true) {
                if (confirm('{TXT_NEWSLETTER_CONFIRM_DELETE_CHECKED_EMAILS}\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}')) {
                    document.getElementById('newsletter_mail_selection').submit();
                    return true;
                }
                break;
            }
        }
        document.getElementById('newsletter_select_action').value=0;
    }
    // ]]>
</script>
<form action="index.php?cmd=Newsletter&amp;act=deleteMail" name="newsletter_mail_selection" id="newsletter_mail_selection" method="post">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/Newsletter/editMail?edit=0" title="{TXT_NEWSLETTER_CREATE_NEW_EMAIL}">
                    <i class="fa-solid fa-plus"></i>
                </a>
                <!-- BEGIN newsletter_news -->
                <a href="/cadmin/Newsletter/news" title="{TXT_NEWSLETTER_NEWS}">
                    <i class="fa-solid fa-newspaper"></i>
                </a>
                <!-- END newsletter_news -->
            </div>
        </caption>
        <tr>
            <th>{TXT_NEWSLETTER_NAME_OF_EMAIL_CAMPAIGN}</th>
            <th>{TXT_NEWSLETTER_DATE}</th>
            <th>&nbsp;</th>
            <th>{TXT_NEWSLETTER_SENT}</th>
            <!-- BEGIN newsletter_stats -->
            <th>{TXT_NEWSLETTER_STATS}</th>
            <!-- END newsletter_stats -->
            <th>{TXT_NEWSLETTER_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN newsletter_list -->
        <tr class="{NEWSLETTER_MAIL_ROW_CLASS}">
            <td><a href="index.php?cmd=Newsletter&amp;act=editMail&amp;id={NEWSLETTER_MAIL_ID}">{NEWSLETTER_MAIL_SUBJECT}</a></td>
            <td>{NEWSLETTER_MAIL_DATE}</td>
            <td><a href="index.php?cmd=Newsletter&amp;act=sendMail&amp;id={NEWSLETTER_MAIL_ID}" title="{TXT_NEWSLETTER_SEND_EMAIL}">{TXT_NEWSLETTER_SEND_EMAIL}</a></td>
            <td>{NEWSLETTER_MAIL_COUNT} / {NEWSLETTER_MAIL_USERS}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{NEWSLETTER_MAIL_SENT_DATE}</span></td>
            <!-- BEGIN newsletter_stats_entry -->
            <td>
                <!-- BEGIN newsletter_mail_feedback_link -->
                <a href="index.php?cmd=Newsletter&amp;act=feedback&amp;id={NEWSLETTER_MAIL_ID}" title="{NEWSLETTER_FEEDBACK_OVERVIEW}"><i class="fa-solid fa-chart-simple"></i>{NEWSLETTER_MAIL_FEEDBACK}</a>
                <!-- END newsletter_mail_feedback_link -->
                <!-- BEGIN newsletter_mail_feedback_empty -->
                <i class="fa-solid fa-minus"></i>
                <!-- END newsletter_mail_feedback_empty -->
            </td>
            <!-- END newsletter_stats_entry -->
            <td>
                <a href="index.php?cmd=Newsletter&amp;act=copyMail&amp;id={NEWSLETTER_MAIL_ID}" title="{TXT_NEWSLETTER_COPY_EMAIL}"><i class="fa-regular fa-copy"></i></a>
                <a href="index.php?cmd=Newsletter&amp;act=editMail&amp;id={NEWSLETTER_MAIL_ID}" title="{TXT_NEWSLETTER_MODIFY_EMAIL}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:newsletterDeleteMail({NEWSLETTER_MAIL_ID});" title="{TXT_NEWSLETTER_DELETE_EMAIL}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END newsletter_list -->
    </table>
</form>
{NEWSLETTER_MAILS_PAGING}
<!-- END module_newsletter_mails.html -->
