<!-- START module_newsletter_user_export_list.html -->
<table class="adminlist">
  <tr>
    <th>{TXT_TITLE}</th>
  </tr>
  <tr>
    <td><textarea name="exportlist" id="newsletter_exportlist" style="width:100%;" rows="30">{USER_LIST}</textarea></td>
  </tr>
</table>
<input onclick="document.getElementById('newsletter_exportlist').focus();document.getElementById('newsletter_exportlist').select()" type="button" value="{TXT_SELECT_ALL}">
<!-- END module_newsletter_user_export_list.html -->
