<!-- START module_newsletter_email_feedback.html -->
<table class="adminlist splitview">
  <caption>{TXT_NEWSLETTER_EMAIL_FEEDBACK}</caption>
  <tr>
    <td>{TXT_NEWSLETTER_FEEDBACK_RECIPIENTS}</td>
    <td>{TXT_NEWSLETTER_LINK_TITLE}</td>
  </tr>
  <!-- BEGIN link_list -->
  <tr class="{NEWSLETTER_LINK_ROW_CLASS}">
    <td>{NEWSLETTER_MAIL_USERS} ({NEWSLETTER_LINK_FEEDBACK}%)</td>
    <td>{NEWSLETTER_LINK_URL}<a href="{NEWSLETTER_LINK_URL}" title="{TXT_NEWSLETTER_OPEN_LINK_IN_NEW_TAB}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
  </tr>
  <!-- END link_list -->
</table>
<form>
  <input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=Newsletter&amp;{CSRF_PARAM}&amp;act=mails'">
</form>
{NEWSLETTER_LINKS_PAGING}
<!-- END module_newsletter_email_feedback.html -->
