<!-- START module_newsletter_user_export.html -->
{JAVASCRIPTCODE}
<form name="exportuser" action="index.php?cmd=Newsletter&amp;act=users&amp;tpl=export" method="post">
  <table class="adminlist splitview">
    <caption>{TXT_TITLE}</caption>
    <tr>
      <td><label for="a">{TXT_EMAIL_ADDRESS}</label></td>
      <td><input id="a" type="checkbox" name="email" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="b">{TXT_USER_TITLE}</label></td>
      <td><input id="b" type="checkbox" name="title" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="c">{TXT_LASTNAME}</label></td>
      <td><input id="c" type="checkbox" name="lastname" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="d">{TXT_FIRSTNAME}</label></td>
      <td><input id="d" type="checkbox" name="firstname" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="e">{TXT_COMPANY}</label></td>
      <td><input id="e" type="checkbox" name="company" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="f">{TXT_NEWSLETTER_ADDRESS}</label></td>
      <td><input id="f" type="checkbox" name="address" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="g">{TXT_ZIP}</label></td>
      <td><input id="g" type="checkbox" name="zip" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="h">{TXT_CITY}</label></td>
      <td><input id="h" type="checkbox" name="city" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="i">{TXT_COUNTRY}</label></td>
      <td><input id="i" type="checkbox" name="country" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="j">{TXT_PHONE}</label></td>
      <td><input id="j" type="checkbox" name="phone_office" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td><label for="k">{TXT_BIRTHDAY}</label></td>
      <td><input id="k" type="checkbox" name="birthday" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td>{TXT_ACTIVE}</td>
      <td><input type="checkbox" name="active" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td>{TXT_OPEN_ISSUE}</td>
      <td><input type="checkbox" name="inactive" checked="checked" value="1"></td>
    </tr>
    <tr>
      <td>{TXT_NEWSLETTER_CATEGORYS}</td>
      <td>{CATEGORY_VALUES}</td>
    </tr>
    <tr>
      <td>{TXT_CHOOSE_SEPERATOR}</td>
      <td><select name="separetor">
          <option value=",">,</option>
          <option value=";">;</option>
          <option value="/">/</option>
          <option value="-">-</option>
        </select></td>
    </tr>
  </table>
  <input type="submit" name="newsletter_user_export" value="{TXT_EXPORT}">
</form>
<!-- END module_newsletter_user_export.html -->
