<!-- START newsletter_news.html -->
<script>
<!--
  
  var previewNewsletter = function(text){
    var elements = document.getElementById('newsLetterNews').elements;
    var checked = 0;
      for(var i = 0; i < elements.length; i++) {
      if(elements[i].checked)
        checked++;
    }
    if(checked > 0){
        document.getElementById("newsLetterNews").action = "/cadmin/Newsletter/newspreview";
      return true;
    }
    else {
      return false;
    }
  }
  
  //adds the datetimepicker to the date fields
  cx.ready(function() {
      var dpOptions = {
          dateFormat: 'dd.mm.yy',
          timeFormat: 'hh:mm',
      onClose: function() {
        document.forms["newsLetterNews"].submit()
      }
      };
  
      $J('input[name=newsDate]').datetimepicker(dpOptions);
  
  }, true);
  
  function CategorySelect(t) {
    var elements = document.getElementById('newsLetterNews').elements;
    var id = 'tr' + t.id.match(/(\d+)/)[1];
      for(var i = 0; i < elements.length; i++) {
      if(elements[i].id == id) {
        elements[i].checked = t.checked;
        if(t.checked) {
          elements[i].parentNode.parentNode.setAttribute("class", "row1");
          elements[i].parentNode.parentNode.style.display = "table-row";
        }
        else {
          elements[i].parentNode.parentNode.style.display = "none";
          elements[i].parentNode.parentNode.setAttribute("class", "row2");
        }
      }
    }
    if(t.checked)
      t.parentNode.parentNode.setAttribute("class", "row1");
    else
      t.parentNode.parentNode.setAttribute("class", "row2");
  }
  
  function NewsSelect(t) {
    if(t.checked)
      t.parentNode.parentNode.setAttribute("class", "row1");
    else
      t.parentNode.parentNode.setAttribute("class", "row2");
    var news = new Array();
    var elements = document.getElementById('newsLetterNews').elements;
    var checked = 0;
      for(var i = 0; i < elements.length; i++) {
      if(elements[i].id == t.id) {
        if(elements[i].checked)
          checked++;
        news.push(elements[i]);
      }
    }
    var id = "cat" + t.id[2];
    var category = document.getElementById(id);
    if(checked == 0) {
      for(var i = 0; i < news.length; i++) {
        news[i].parentNode.parentNode.style.display = "none";
        news[i].parentNode.parentNode.setAttribute("class", "row2");
      }
      category.parentNode.parentNode.setAttribute("class", "row2");
      category.checked = false;
    }
  }
  
  // -->
</script>

<form id="newsLetterNews" name="form" method="get" action="/cadmin/Newsletter/news">
  <table class="adminlist splitview">
    <caption>{TXT_NEWS_IMPORT}</caption>
    <tr>
      <td>{TXT_DATE_SINCE}</td>
      <td><input type="text" name="newsDate" value="{NEWS_CREATE_DATE}"></td>
    </tr>
    <tr>
      <td>{TXT_SELECTED_MESSAGES}</td>
      <td>
        <table class="adminlist">
          <!-- BEGIN news_list -->
          <!-- BEGIN news_category -->
          <tr>
            <th><input type="checkbox" id="cat{NEWS_CATEGORY_ID}" onchange="CategorySelect(this);" checked></th>
            <th colspan="2"><i class="fa-solid fa-folder-tree"></i>{NEWS_CATEGORY_NAME}</th>
          </tr>
          <!-- END news_category -->
          <!-- BEGIN news_message -->
          <tr>
            <td><input type="checkbox" id="tr{NEWS_CATEGORY_ID}" onchange="NewsSelect(this);" name="selectedNews[{NEWS_CATEGORY_ID}][]" value="{NEWS_ID}" checked></td>
            <td>
              <p>{NEWS_TITLE}</p>
              <p>{NEWS_TEASER_TEXT}</p>
            </td>
            <td>
                <!-- BEGIN news_image -->
                <img src="{NEWS_IMAGE_PATH}" alt="{NEWS_IMAGE_PATH}" height="100">
                <!-- END news_image -->
            </td>
          </tr>
          <!-- END news_message -->
          <!-- END news_list -->
        </table>
        {NEWS_EMPTY_LIST}
      </td>
    </tr>
  </table>
  <a href="/cadmin/Newsletter" class="button secondary">{TXT_CANCEL}</a>
  <input type="submit" accesskey="c" onclick="return previewNewsletter();" name="NewsletterFromNews" value="{TXT_NEXT}">
</form>

<!-- END newsletter_news.html -->
