<!-- START newsletter_config_html.html -->
<form name="generate" action="" method="post">
  <table class="adminlist splitview">
    <tr>
      <td>{TXT_PLACEHOLDER}</td>
      <td><code>[[NEWSLETTER_BLOCK]]</code></td>
    </tr>
    <tr>
        <td>{TXT_HTML}</td>
      <td><pre><code id="html_code">{HTML_CODE}</code></pre></td>
    </tr>
  </table>
  {TXT_NO_CATEGORIES}
</form>
<!-- END newsletter_config_html.html -->
