<!-- START newsletter_news_preview.html -->
<script>
<!--
  var createNewsletter = function(text){
      document.getElementById("newsletter_mail_form").method = "post";
      document.getElementById("newsletter_mail_form").action = "/cadmin/Newsletter/editMail";
      return true;
  }
  
  function refreshIframe() {
    const url = new URL("/cadmin/Newsletter/newspreview?view=iframe", window.location);
    const urlParams = new URLSearchParams(url.search);
    urlParams.set("csrf", cx.variables.get('csrf', 'contrexx'));
    urlParams.set("selected", '{NEWSLETTER_SELECTED_NEWS}');
    urlParams.set("emailtemplate", document.getElementById('newsletter_mail_template').value);
    urlParams.set("importtemplate", document.getElementById('newsletter_import_template').value);
    url.search = urlParams;
    document.getElementById("newsPreview").src = url;
  }
  
  cx.jQuery(document).ready(function() {
    refreshIframe();
    document.getElementById("newsletter_mail_template").addEventListener("change", function() {
        refreshIframe();
    });
    document.getElementById("newsletter_import_template").addEventListener("change", function() {
        refreshIframe();
    });
  });
  
  // -->
</script>
<form id="newsletter_mail_form" name="form" method="get" action="/cadmin/Newsletter/newspreview">
  <table class="adminlist splitview">
    <caption>{TXT_NEWS_PREVIEW}</caption>
    <tr>
      <td>{TXT_EMAIL_LAYOUT}</td>
      <td>{NEWSLETTER_MAIL_TEMPLATE_MENU}</td>
    </tr>
    <tr>
      <td>{TXT_IMPORT_LAYOUT}</td>
      <td>{NEWSLETTER_IMPORT_TEMPLATE_MENU}</td>
    </tr>
    <tr>
      <td colspan="2"><iframe id="newsPreview" name="newsPreview" src="/cadmin/Newsletter/newspreview?view=iframe" height="700"></iframe></td>
    </tr>
  </table>
  <input type="hidden" name="selected" value='{NEWSLETTER_SELECTED_NEWS}' />
  <a href="/cadmin/Newsletter/news" class="button secondary">{TXT_BACK}</a>
  <input type="submit" accesskey="c" onclick="return createNewsletter();" name="NewsletterFromNews" value="{TXT_CREATE_EMAIL}" />
</form>
<!-- END newsletter_news_preview.html -->
