<!-- START module_mediadir_settings_modify_mask.html -->
<form name="maskModfyForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=masks" method="post">
    <input name="maskId" type="hidden" value="{MEDIADIR_MASK_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_PAGE_TITLE}</caption>
        <tr>
            <td><label for="maskTitle">{TXT_MEDIADIR_TITLE}</label></td>
            <td><input name="maskTitle" id="maskTitle" type="text" value="{MEDIADIR_MASK_TITLE}"></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <!-- BEGIN mediadirFormList -->
        <tr>
            <td>{TXT_MEDIADIR_FORM_TEMPLATE}</td>
            <td><select name="maskForm">{MEDIADIR_MASK_FORMS}</select></td>
        </tr>
        <!-- END mediadirFormList -->
        <!-- BEGIN mediadirInputfieldList -->
        <tr>
            <th>{TXT_MEDIADIR_INPUTFIELD}</th>
            <th>{TXT_MEDIADIR_STATUS}</th>
        </tr>
        <!-- BEGIN mediadirInputfield -->
        <tr class="{MEDIADIR_INPUTFIELD_ROW_CLASS}">
            <td><label for="maskInputfields[]_{MEDIADIR_INPUTFIELD_ID}">{MEDIADIR_INPUTFIELD_NAME}</label></td>
            <td><input name="maskInputfields[]" type="checkbox" value="{MEDIADIR_INPUTFIELD_ID}" id="maskInputfields[]_{MEDIADIR_INPUTFIELD_ID}" {MEDIADIR_INPUTFIELD_CHECKED}></td>
        </tr>
        <!-- END mediadirInputfield -->
        <!-- END mediadirInputfieldList -->
    </table>
    <a href="/cadmin/MediaDir/settings?tpl=masks" class="button secondary">{TXT_CANCEL}</a>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- module_mediadir_settings_modify_mask.html -->
