<tr class="{MEDIADIR_SETTINGS_INPUTFIELD_ROW_CLASS}" id="inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID}">
    <!-- BEGIN mediadirInputfield -->
    <td>
        <input name="inputfieldOrder[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" type="hidden" value="{MEDIADIR_SETTINGS_INPUTFIELD_ORDER}" onfocus="this.select();">
        <a href="#" id="" title=""><i class="fa-solid fa-up-long"></i></a>
        <a href="#" id="" title=""><i class="fa-solid fa-down-long"></i></a>
    </td>
    <td><input name="inputfieldId[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" type="hidden" value="{MEDIADIR_SETTINGS_INPUTFIELD_ID}"><code>{MEDIADIR_SETTINGS_INPUTFIELD_ID}</code></td>
    <td>
        <div id="inputfieldName_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
            <input name="inputfieldName[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][0]" maxlength="255" type="text" style="width: 200px;" value="{MEDIADIR_SETTINGS_INPUTFIELD_NAME_MASTER}">
        </div>
        <div id="inputfieldName_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
            <!-- BEGIN mediadirInputfieldNameList -->
            <input name="inputfieldName[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][{MEDIADIR_INPUTFIELD_NAME_LANG_ID}]" maxlength="255" type="text" style="width: 200px; padding-left: 30px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{MEDIADIR_INPUTFIELD_NAME_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{MEDIADIR_INPUTFIELD_NAME_LANG_NAME}" value="{MEDIADIR_SETTINGS_INPUTFIELD_NAME}">
            <!-- END mediadirInputfieldNameList -->
        </div>
    </td>
    <td>
        <select name="inputfieldType[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 140px">
            {MEDIADIR_SETTINGS_INPUTFIELD_TYPE}
        </select>
    </td>
    <td>
        <select name="inputfieldShow[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 120px">
            {MEDIADIR_SETTINGS_INPUTFIELD_SHOW}
        </select>
    </td>
    <td>
        <div id="inputfieldDefaultvalue_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
            <input name="inputfieldDefaultvalue[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][0]" type="text" style="width: 200px;" value="{MEDIADIR_SETTINGS_INPUTFIELD_DEFAULTVALUE_MASTER}">
        </div>
        <div id="inputfieldDefaultvalue_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
            <!-- BEGIN mediadirInputfieldDefaultvalueList -->
            <input name="inputfieldDefaultvalue[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_ID}]" type="text" style="width: 200px; padding-left: 21px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_NAME}" value="{MEDIADIR_SETTINGS_INPUTFIELD_DEFAULTVALUE}">
            <!-- END mediadirInputfieldDefaultvalueList -->
        </div>
    </td>
    <td>
        <div id="inputfieldInfo_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
            <input name="inputfieldInfo[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][0]" type="text" style="width: 200px;" value="{MEDIADIR_SETTINGS_INPUTFIELD_INFO_MASTER}">
        </div>
        <div id="inputfieldInfo_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
            <!-- BEGIN mediadirInputfieldInfoList -->
            <input name="inputfieldInfo[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][{MEDIADIR_INPUTFIELD_INFO_LANG_ID}]" type="text" style="width: 200px; padding-left: 21px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{MEDIADIR_INPUTFIELD_INFO_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{MEDIADIR_INPUTFIELD_INFO_LANG_NAME}" value="{MEDIADIR_SETTINGS_INPUTFIELD_INFO}">
            <!-- END mediadirInputfieldInfoList -->
        </div>
    </td>
    <td>
        <select name="inputfieldVerification[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 120px">
            {MEDIADIR_SETTINGS_INPUTFIELD_VERIFICATION}
        </select>
    </td>
    <td><input name="inputfieldMustfield[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" {MEDIADIR_SETTINGS_INPUTFIELD_MUSTFIELD} type="checkbox" value="1"></td>
    <td><input name="inputfieldExpSearch[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" {MEDIADIR_SETTINGS_INPUTFIELD_EXP_SEARCH} type="checkbox" value="1"></td>
    <td>
        <div id="inputfieldLanguages_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
            <a id="inputfieldExpand_{MEDIADIR_SETTINGS_INPUTFIELD_ID}" href="javascript:ExpandMinimizeInputfields('inputfieldName', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}'); ExpandMinimizeInputfields('inputfieldDefaultvalue', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}'); ExpandMinimizeInputfields('inputfieldLanguages', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}'; ExpandMinimizeInputfields('inputfieldInfo', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}');">Übersetzung</a>
        </div>
        <div id="inputfieldLanguages_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
            <!-- BEGIN mediadirInputfieldLanguagesList -->
            {MEDIADIR_INPUTFIELD_LANG_NAME}<br>{MEDIADIR_INPUTFIELD_MINIMIZE}
            <!-- END mediadirInputfieldLanguagesList -->
        </div>
        <a href="javascript:removeInputfield('{MEDIADIR_SETTINGS_INPUTFIELD_ID}');" id="inputfieldDelete_{MEDIADIR_SETTINGS_INPUTFIELD_ID}" title="{TXT_MEDIADIR_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
    </td>
    <!-- END mediadirInputfield -->

    <!-- BEGIN mediadirSelector -->
    <td>
        <input name="selectorOrder[{MEDIADIR_SETTINGS_SELECTOR_ID}]" type="hidden" value="{MEDIADIR_SETTINGS_SELECTOR_ORDER}" onfocus="this.select();">
        <a href="javascript:saveInputfield(function() { moveInputfield('{MEDIADIR_SETTINGS_INPUTFIELD_FORM_ID}', '{MEDIADIR_SETTINGS_SELECTOR_ID}', '1') });" id="" title=""><i class="fa-solid fa-up-long"></i></a>
        <a href="javascript:saveInputfield(function() { moveInputfield('{MEDIADIR_SETTINGS_INPUTFIELD_FORM_ID}', '{MEDIADIR_SETTINGS_SELECTOR_ID}', '2') });" id="" title=""><i class="fa-solid fa-down-long"></i></a>
    </td>
    <td><input name="selectorId[{MEDIADIR_SETTINGS_SELECTOR_ID}]" type="hidden" value="{MEDIADIR_SETTINGS_SELECTOR_ID}"><code>{MEDIADIR_SETTINGS_SELECTOR_ID}</code></td>
    <td colspan="7">{MEDIADIR_SETTINGS_SELECTOR_NAME}</td>
    <td><input name="selectorExpSearch[{MEDIADIR_SETTINGS_SELECTOR_ID}]" {MEDIADIR_SETTINGS_SELECTOR_EXP_SEARCH} type="checkbox" value="1"></td>
    <!-- END mediadirSelector -->
</tr>
