<!-- START module_mediadir_modify_category.html -->
<script>
    //<![CDATA[
    var mediaBrowseInputBox;
var mediaBrowserCallback = function(data) {
    if (data.type=="file") {
            var path = data.data[0].datainfo.filepath;
            mediaBrowseInputBox.val(path);
        }
    };
$J(function(){
   $J('.mediabrowser-button').click(function(){
            var inputId = $J(this).data('inputId');
            mediaBrowseInputBox = $J('#' + inputId);
        });
    });
    //]]>
</script>
<form name="categoryModfyForm" action="index.php?cmd={MODULE_NAME}&act=modify_category" method="post">
    <input name="categoryId" type="hidden" value="{MEDIADIR_CATEGORY_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_PAGE_TITLE}</caption>
        <tr>
            <td>{TXT_MEDIADIR_CATEGORY}</td>
            <td>
                <select name="categoryPosition">
                    <option value="0">{TXT_MEDIADIR_NEW_CATEGORY}</option>
                    {MEDIADIR_CATEGORIES_DROPDOWN_OPTIONS}
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_PICTURE}</td>
            <td>
                {MEDIADIR_CATEGORY_PICTURE_THUMB}
                <input type="text" name="categoryImage" value="{MEDIADIR_CATEGORY_PICTURE}" id="categoryImage2">
                {MEDIADIR_CATEGORY_IMAGE_BROWSE}
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SHOW_SUBCATEGORIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SHOW_SUBCATEGORIES_INFO}</span></td>
            <td>
                <input type="radio" name="categoryShowSubcategories" id="categoryShowSubcategoriesOn" value="1" {MEDIADIR_CATEGORY_SHOW_SUBCATEGORIES_ON}><label for="categoryShowSubcategoriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="categoryShowSubcategories" id="categoryShowSubcategoriesOff" value="0" {MEDIADIR_CATEGORY_SHOW_SUBCATEGORIES_OFF}><label for="categoryShowSubcategoriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SHOW_ENTRIES}</td>
            <td>
                <input type="radio" name="categoryShowEntries" id="categoryShowEntriesOn" value="1" {MEDIADIR_CATEGORY_SHOW_ENTRIES_ON}><label for="categoryShowEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="categoryShowEntries" id="categoryShowEntriesOff" value="0" {MEDIADIR_CATEGORY_SHOW_ENTRIES_OFF}><label for="categoryShowEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_VISIBLE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_VISIBLE_CATEGORY_INFO}</span></td>
            <td>
                <input type="radio" name="categoryActive" id="categoryActiveOn" value="1" {MEDIADIR_CATEGORY_ACTIVE_ON}><label for="categoryActiveOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="categoryActive" id="categoryActiveOff" value="0" {MEDIADIR_CATEGORY_ACTIVE_OFF}><label for="categoryActiveOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
    </table>
    <ul class="tabmenu" data-tablist="default">
        <!-- BEGIN mediadirCategoryLanguages -->
        <li><a data-tablink="cateogryLanguage_{MEDIADIR_CATEGORY_LANG_ID}_desc" class="{MEDIADIR_CATEGORY_LANG_TAB_CLASS}" href="#">{MEDIADIR_CATEGORY_LANG_NAME}</a></li>
        <!-- END mediadirCategoryLanguages -->
    </ul>
    <!-- BEGIN mediadir_category_name_and_description -->
    <div class="tab cateogryLanguage_{MEDIADIR_CATEGORY_LANG_ID}_desc" data-tablist="default">
        <table class="adminlist splitview">
            <caption>{TXT_MEDIADIR_CATEGORY_DETAILS}</caption>
            <tr>
                <td>{TXT_MEDIADIR_NAME}</td>
                <td><input name="categoryName[{MEDIADIR_CATEGORY_LANG_ID}]" type="text" value="{MEDIADIR_CATEGORY_NAME}"></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_META_DESCRIPTION}</td>
                <td><textarea name="categoryMetaDesc[{MEDIADIR_CATEGORY_LANG_ID}]" maxlength="160">{MEDIADIR_CATEGORY_META_DESCRIPTION}</textarea></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_DESCRIPTION}</td>
                <td>{MEDIADIR_CATEGORY_DESCRIPTION}</td>
            </tr>
        </table>
    </div>
    <!-- END mediadir_category_name_and_description -->
    <a href="/cadmin/MediaDir?tab-default=MediaDirTab_categories" class="button secondary">{TXT_CANCEL}</a>
    <input type="submit" name="submitCategoryModfyForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_modify_category.html -->
