<!-- START module_mediadir_settings_masks.html -->
<script>
    //<![CDATA[
function deleteMask(maskId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&act=settings&tpl=delete_mask&{CSRF}&id="+maskId);
        }
    }

var switchState = function(id, obj, action, type)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'switchState', id : id, state : action, type : type}).success(function() {
            if (action) {
                path = '/core/Core/View/Media/icons/status_green.gif';
                action = 0;
            } else {
                path = '/core/Core/View/Media/icons/status_red.gif';
                action = 1;
            }
            cx.jQuery(obj).children('img:first').attr('src', path);
        cx.jQuery(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
        });
    }
    //]]>
</script>

<form id="settingsMasksForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=masks" method="post">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/MediaDir/settings?tpl=modify_mask" title="{TXT_MEDIADIR_NEW_EXPORT_MASK}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_MEDIADIR_STATUS}</th>
            <th>{TXT_MEDIADIR_TITLE}</th>
            <th>{TXT_MEDIADIR_FORM_TEMPLATE}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirMaskList -->
        <tr class="{MEDIADIR_MASK_ROW_CLASS}">
            <td><a href="javascript: void(0);" onclick="switchState({MEDIADIR_MASK_ID}, this, {MEDIADIR_MASK_SWITCH_STATUS}, 'mask')"><img src="{MEDIADIR_MASK_STATUS}" alt="" title=""></a></td>
            <td><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_mask&amp;id={MEDIADIR_MASK_ID}" target="_self" title="{MEDIADIR_MASK_TITLE} {TXT_EDIT}">{MEDIADIR_MASK_TITLE}</a></td>
            <td>{MEDIADIR_MASK_FORM}</td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_mask&amp;id={MEDIADIR_MASK_ID}" target="_self" title="{MEDIADIR_MASK_TITLE} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteMask('{MEDIADIR_MASK_ID}');" title="{MEDIADIR_MASK_TITLE} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirMaskList -->

        <!-- BEGIN mediadirMaskNoEntries -->
        <tr>
            <td colspan="4">{TXT_MEDIADIR_NO_ENTRIES_FOUND}</td>
        </tr>
        <!-- END mediadirMaskNoEntries -->
    </table>
</form>
<!-- END module_mediadir_settings_masks.html -->
