<!-- START module_mediadir_settings_global.html -->
<form id="settingsLevelsCategoriesForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=levels_categories" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_SETTINGS_CATEGORIES}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowCategories" value="1" {MEDIADIR_SETTINGS_CATEGORY_SHOW_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowCategories" value="0" {MEDIADIR_SETTINGS_CATEGORY_SHOW_OFF}>{TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_DESC}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_DESC_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowCategoryDescription" value="1" {MEDIADIR_SETTINGS_CATEGORY_DESC_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowCategoryDescription" value="0" {MEDIADIR_SETTINGS_CATEGORY_DESC_OFF}>{TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_IMG}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_IMG_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowCategoryImage" value="1" {MEDIADIR_SETTINGS_CATEGORY_IMG_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowCategoryImage" value="0" {MEDIADIR_SETTINGS_CATEGORY_IMG_OFF}>{TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_CATEGORY_ORDER}</td>
            <td>
                <select name="settingsCategoryOrder">
                    {MEDIADIR_SETTINGS_CATEGORY_ORDER}
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_NUM_CATEGORIES_PER_GROUP}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_NUM_CATEGORIES_PER_GROUP_INFO}</span></td>
            <td>
                <table class="adminlist splitview">
                    <tr>
                        <th>{TXT_MEDIADIR_SETTINGS_COMMUNITY_GROUP}</th>
                        <th>{TXT_MEDIADIR_SETTINGS_NUM}</th>
                    </tr>
                    <!-- BEGIN communityGroupCategoryList -->
                    <tr>
                        <td>{MEDIADIR_SETTINGS_NUM_CATEGORIES_GROUP_NAME}</td>
                        <td><input type="text" name="settingsNumCategories[{MEDIADIR_SETTINGS_NUM_CATEGORIES_GROUP_ID}]" value="{MEDIADIR_SETTINGS_NUM_CATEGORIES}" class="compact"></td>
                    </tr>
                    <!-- END communityGroupCategoryList -->
                </table>
            </td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_SETTINGS_LEVELS}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_LEVELS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_LEVELS_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowLevels" value="1" {MEDIADIR_SETTINGS_LEVELS_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowLevels" value="0" {MEDIADIR_SETTINGS_LEVELS_OFF}> {TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_LEVEL_DESC}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_LEVEL_DESC_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowLevelDescription" value="1" {MEDIADIR_SETTINGS_LEVEL_DESC_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowLevelDescription" value="0" {MEDIADIR_SETTINGS_LEVEL_DESC_OFF}>{TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_LEVEL_IMG}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_LEVEL_IMG_INFO}</span></td>
            <td><label><input type="radio" name="settingsShowLevelImage" value="1" {MEDIADIR_SETTINGS_LEVEL_IMG_ON}>{TXT_MEDIADIR_ACTIVATE}</label><label><input type="radio" name="settingsShowLevelImage" value="0" {MEDIADIR_SETTINGS_LEVEL_IMG_OFF}>{TXT_MEDIADIR_DEACTIVATE}</label></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LEVEL_ORDER}</td>
            <td>
                <select name="settingsLevelOrder">
                    {MEDIADIR_SETTINGS_LEVEL_ORDER}
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_NUM_LEVELS_PER_GROUP}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_NUM_LEVELS_PER_GROUP_INFO}</span></td>
            <td>
                <table class="adminlist splitview">
                    <tr>
                        <th>{TXT_MEDIADIR_SETTINGS_COMMUNITY_GROUP}</th>
                        <th>{TXT_MEDIADIR_SETTINGS_NUM}</th>
                    </tr>
                    <!-- BEGIN communityGroupLevelList -->
                    <tr>
                        <td>{MEDIADIR_SETTINGS_NUM_LEVELS_GROUP_NAME}</td>
                        <td><input type="text" name="settingsNumLevels[{MEDIADIR_SETTINGS_NUM_LEVELS_GROUP_ID}]" value="{MEDIADIR_SETTINGS_NUM_LEVELS}" class="compact"></td>
                    </tr>
                    <!-- END communityGroupLevelList -->
                </table>
            </td>
        </tr>
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_global.html -->
