<!-- START module_mediadir_interfaces_export.html -->
<script>
    function moveElement(from, dest, add, remove) {
        if (from.selectedIndex < 0) {
            if (from.options[0] != null) from.options[0].selected = true;
            from.focus();
            return false;
        } else {
            for (i = 0; i < from.length; ++i) {
                if (from.options[i].selected) {
                    dest.options[dest.options.length] = new Option(from.options[i].text, from.options[i].value, false, false);
                }
            }
            for (i = from.options.length-1; i >= 0; --i) {
                if (from.options[i].selected) {
                    from.options[i] = null;
                }
            }
        }
    }

    function selectAll(control){
        for (i = 0; i < control.length; ++i) {
            control.options[i].selected = true;
        }
    }

    function deselectAll(control){
        for (i = 0; i < control.length; ++i) {
            control.options[i].selected = false;
        }
    }
</script>
<form name="interfacesExportForm" action="index.php?cmd={MODULE_NAME}&act=interfaces&tpl=export&amp;step=exportCSV" onsubmit="{MEDIADIR_FORM_ONSUBMIT}" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_EXPORT}</caption>
        <tr>
            <td>{TXT_MEDIADIR_EXPORT_FORMAT}</td>
            <td><select name="step">
                    <option value="exportCSV">CSV (Comma Separated Values)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_FORM_TEMPLATE}</td>
            <td><select name="interfacesExportForm">{MEDIADIR_INTERFACES_EXPORT_FORMS}</select></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_EXPORT_MASK}</td>
            <td><select name="interfacesExportMask">{MEDIADIR_INTERFACES_EXPORT_MASKS}</select></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_CATEGORIES}</td>
            <td>
                <div class="multiselect mediadirSelector">
                    <div class="mediadirSelectorLeft">
                        <select id="deselectedCategories" name="interfacesExportDeselectedCategories[]" size="15" multiple="multiple">
                            {MEDIADIR_INTERFACES_EXPORT_DESELECTED_CATEGORIES}
                        </select>
                    </div>
                    <div class="mediadirSelectorCenter">
                        <input value=" &lt;&lt; " name="removeElement" onclick="moveElement(document.interfacesExportForm.elements['selectedCategories'],document.interfacesExportForm.elements['deselectedCategories'],removeElement,addElement);" type="button">
                        <input value=" &gt;&gt; " name="addElement" onclick="moveElement(document.interfacesExportForm.elements['deselectedCategories'],document.interfacesExportForm.elements['selectedCategories'],addElement,removeElement);" type="button">
                    </div>
                    <div class="mediadirSelectorRight">
                        <select id="selectedCategories" name="interfacesExportSelectedCategories[]" size="15" multiple="multiple">
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <!-- BEGIN mediadirInterfacesExportSelectLevels -->
        <tr>
            <td>{TXT_MEDIADIR_LEVELS}</td>
            <td>
                <div class="multiselect mediadirSelector">
                    <div class="mediadirSelectorLeft">
                        <select id="deselectedLevels" name="interfacesExportDeselectedLevels[]" size="15" multiple="multiple">
                            {MEDIADIR_INTERFACES_EXPORT_DESELECTED_LEVELS}
                        </select>
                    </div>
                    <div class="mediadirSelectorCenter">
                        <input value=" &lt;&lt; " name="removeElement" onclick="moveElement(document.interfacesExportForm.elements['selectedLevels'],document.interfacesExportForm.elements['deselectedLevels'],removeElement,addElement);" type="button">
                        <input value=" &gt;&gt; " name="addElement" onclick="moveElement(document.interfacesExportForm.elements['deselectedLevels'],document.interfacesExportForm.elements['selectedLevels'],addElement,removeElement);" type="button">
                    </div>
                    <div class="mediadirSelectorRight">
                        <select id="selectedLevels" name="interfacesExportSelectedLevels[]" size="15" multiple="multiple">
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <!-- END mediadirInterfacesExportSelectLevels -->
    </table>
    <input type="submit" name="submitInterfacesForm" value="{TXT_MEDIADIR_DO_EXPORT}">
</form>
<!-- END module_mediadir_interfaces_export.html -->
