<!-- START module_mediadir_settings_mails.html -->
<script>
    //<![CDATA[
function deleteTemplate(templateId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&act=settings&tpl=delete_template&{CSRF}&id="+templateId);
        }
    }

var switchState = function(id, obj, action, type)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'switchState', id : id, state : action, type : type}).success(function() {
            if (action) {
                path = cx.variables.get('basePath', 'contrexx') + 'core/Core/View/Media/icons/status_green.gif';
                action = 0;
            } else {
                path = cx.variables.get('basePath', 'contrexx') + 'core/Core/View/Media/icons/status_red.gif';
                action = 1;
            }
            cx.jQuery(obj).children('img:first').attr('src', path);
        cx.jQuery(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
        });
    }
    //]]>
</script>
<form id="settingsMailsForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=mails" method="post">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/MediaDir/settings?tpl=modify_mail" title="{TXT_MEDIADIR_NEW_MAIL_TEMPLATE}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_MEDIADIR_STATUS}</th>
            <th>{TXT_MEDIADIR_TITLE}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
            <th>{TXT_MEDIADIR_LANG}</th>
            <th>{TXT_MEDIADIR_DEFAULT}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirMailTemplateList -->
        <tr class="{MEDIADIR_TEMPLATE_ROW_CLASS}">
            <td><a href="javascript: void(0);" onclick="switchState({MEDIADIR_TEMPLATE_ID}, this, {MEDIADIR_TEMPLATE_SWITCH_STATUS}, 'mail_template')"><img src="{MEDIADIR_TEMPLATE_STATUS}" alt="" title=""></a></td>
            <td><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_mail&amp;id={MEDIADIR_TEMPLATE_ID}" target="_self" title="{MEDIADIR_TEMPLATE_TITLE} {TXT_EDIT}">{MEDIADIR_TEMPLATE_TITLE}</a></td>
            <td>{MEDIADIR_TEMPLATE_ACTION}</td>
            <td>{MEDIADIR_TEMPLATE_LANG}</td>
            <td><input type="radio" onclick="submit();" name="{MEDIADIR_TEMPLATE_DEFAULT_NAME}" value="{MEDIADIR_TEMPLATE_ID}" {MEDIADIR_TEMPLATE_DEFAULT}></td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_mail&amp;id={MEDIADIR_TEMPLATE_ID}" target="_self" title="{MEDIADIR_TEMPLATE_TITLE} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteTemplate('{MEDIADIR_TEMPLATE_ID}');" title="{MEDIADIR_TEMPLATE_TITLE} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirMailTemplateList -->

        <!-- BEGIN mediadirMailTemplateNoEntries -->
        <tr>
            <td colspan="6">{TXT_MEDIADIR_NO_ENTRIES_FOUND}</td>
        </tr>
        <!-- END mediadirMailTemplateNoEntries -->
    </table>
</form>
<!-- END module_mediadir_settings_mails.html -->
