<!-- START module_mediadir_manage_comments.html -->
<script>
    // <![CDATA[

    function deleteComment(commentId, entryId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={MODULE_NAME}&act=delete_comment&id="+entryId+"&cid="+commentId);
        }
    }


    function commentsAreChecked(fieldName, objForm)
{
        x = 0;
        for (i = 0; i < objForm.elements.length; ++i) {
            e = objForm.elements[i];
            if (e.name == fieldName && e.checked == true) return true;
        }
        return false;
    }

    function commentsDoAction(formId, objSelect, entryId)
{
        objForm = document.getElementById(formId);

        if (commentsAreChecked("commentsFormSelected[]", objForm) == true) {
            switch(objSelect.value) {
                case "delete_comment":
                    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                        actionValue = "index.php?cmd={MODULE_NAME}&act=delete_comment&id="+entryId;
                    }
                    break
            }

            if(actionValue != '') {
                objForm.action = actionValue;
                objForm.submit();
            }
        } else {
            alert("{TXT_MEDIADIR_MAKE_SELECTION}");
        }

        objSelect.value = "0";
    }

    // ]]>
</script>
<form id="manageCommentsForm" action="index.php?cmd={MODULE_NAME}&act=comments" method="post">
    <table class="adminlist">
        <caption>{TXT_MEDIADIR_PAGE_TITLE}</caption>
        <tr>
            <th>#</th>
            <th>{TXT_MEDIADIR_NAME}</th>
            <th>{TXT_MEDIADIR_COMMENT}</th>
            <th>{TXT_MEDIADIR_DATE}</th>
            <th>{TXT_MEDIADIR_ADDED_BY}</th>
            <th>{TXT_MEDIADIR_IP}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirEntryComments -->
        <tr class="{MEDIADIR_ENTRY_COMMENT_ROW_CLASS}">
            <td><input type="checkbox" name="commentsFormSelected[]" value="{MEDIADIR_ENTRY_COMMENT_ID}">
            <td>{MEDIADIR_ENTRY_COMMENT_NAME}</td>
            <td>{MEDIADIR_ENTRY_COMMENT_COMMENT}</td>
            <td>{MEDIADIR_ENTRY_COMMENT_DATE}</td>
            <td>{MEDIADIR_ENTRY_COMMENT_ADDED_BY}</td>
            <td>{MEDIADIR_ENTRY_COMMENT_IP}</td>
            <td><a href="javascript:deleteComment('{MEDIADIR_ENTRY_COMMENT_ID}', '{MEDIADIR_ENTRY_COMMENT_ENTRY_ID}');" title="{MEDIADIR_ENTRY_COMMENT_NAME} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        <!-- END mediadirEntryComments -->
    </table>
    <ul class="bulk-functions">
        <li><a href="javascript:{void(0)};" onclick="changeCheckboxes('manageCommentsForm','commentsFormSelected[]',true); return false;">{TXT_SELECT_ALL}</a></li>
        <li><a href="javascript:{void(0)};" onclick="changeCheckboxes('manageCommentsForm','commentsFormSelected[]',false); return false;">{TXT_DESELECT_ALL}</a></li>
        <li>
            <select name="selectAction" onchange="commentsDoAction('manageCommentsForm', this, '{MEDIADIR_ENTRY_ID}');">
                <option value="0" selected="selected">{TXT_SELECT_ACTION}</option>
                <option value="delete_comment">{TXT_DELETE_ALL}</option>
            </select>
        </li>
    </ul>
</form>
<!-- END module_mediadir_manage_comments.html -->
