
<!-- START module_mediadir_interfaces.html -->
<!--not yet implemented <div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={MODULE_NAME}&amp;act=interfaces&amp;tpl=export" title="{TXT_MEDIADIR_EXPORT}">{TXT_MEDIADIR_EXPORT}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&amp;act=interfaces&amp;tpl=import" title="{TXT_MEDIADIR_IMPORT}">{TXT_MEDIADIR_IMPORT}</a></li>
    </ul>
</div> -->
{MEDIADIR_INTERFACES_CONTENT}
<!-- END module_mediadir_interfaces.html -->
