<!-- START module_mediadir_settings_classfication.html -->
<form id="settingsFilesForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=classification" method="post">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_CLASSIFICATION_POINTS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_CLASSIFICATION_POINTS_INFO}</span></td>
            <td><input name="settingsClassificationPoints" type="number" class="compact" value="{MEDIADIR_SETTINGS_CLASSIFICATION_POINTS}"></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_INFO}</span></td>
            <td>
                <select name="settingsClassificationSearch" class="compact">
                    <option value="1" {MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_FROM}>
                        {TXT_MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_FROM}</option>
                    <option value="2" {MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_TO}>
                        {TXT_MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_TO}</option>
                    <option value="3" {MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_EXACT}>
                        {TXT_MEDIADIR_SETTINGS_CLASSIFICATION_SEARCH_EXACT}</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_classification.html -->
