<!-- START module_mediadir_settings_modify_mail.html -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="mailTab_template" class="active" href="#">{TXT_MEDIADIR_PAGE_TITLE}</a></li>
    <li><a data-tablink="mailTab_placeholders" href="#">{TXT_MEDIADIR_PLACEHOLDER}</a></li>
</ul>
<div class="tab mailTab_template" data-tablist="default">
    <form name="mailModfyForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=mails" method="post">
        <input name="templateId" type="hidden" value="{MEDIADIR_TEMPLATE_ID}">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_MEDIADIR_TITLE}</td>
                <td><input name="templateTitle" type="text" value="{MEDIADIR_TEMPLATE_TITLE}"></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_ACTION}</td>
                <td>
                    <select name="templateAction">
                        {MEDIADIR_TEMPLATE_ACTION}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_LANG}</td>
                <td>
                    <select name="templateLang">
                        {MEDIADIR_TEMPLATE_LANG}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_RECIPIENTS}</td>
                <td><input name="templateRecipients" type="text" value="{MEDIADIR_TEMPLATE_RECIPIENTS}"></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_CONTENT}</td>
                <td><textarea name="templateContent" rows="15">{MEDIADIR_TEMPLATE_CONTENT}</textarea></td>
            </tr>
        </table>
        <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
    </form>
</div>
<div class="tab mailTab_placeholders" data-tablist="default">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_MEDIADIR_USERNAME}</td>
            <td><code>[[USERNAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_FIRSTNAME}</td>
            <td><code>[[FIRSTNAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_LASTNAME}</td>
            <td><code>[[LASTNAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_TITLE}</td>
            <td><code>[[TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_LINK}</td>
            <td><code>[[LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_URL}</td>
            <td><code>[[URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_DATE}</td>
            <td><code>[[DATE]]</code></td>
        </tr>
    </table>
</div>
<!-- module_mediadir_settings_modify_mail.html -->
