<!-- START module_mediadir_manage_entries.html -->
<script>
    // <![CDATA[
    function deleteEntry(entryId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry&id="+entryId+"{MEDIADIR_SEARCH_TERM_PARAMETER}");
        }
    }

    function entriesAreChecked(fieldName, objForm)
{
        x = 0;
        for (i = 0; i < objForm.elements.length; ++i) {
            e = objForm.elements[i];
            if (e.name == fieldName && e.checked == true) return true;
        }
        return false;
    }

    function entriesDoAction(formId, objSelect)
{
        objForm = document.getElementById(formId);

        if (entriesAreChecked("entriesFormSelected[]", objForm) == true) {
            switch (objSelect.value) {
                case "delete_entry":
                    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                        actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry";
                    }
                    break
                case "move_entry":
                    actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=move_entry";
                    break
                case "restore_voting":
                    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                        actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=restore_voting";
                    }
                    break
                case "restore_comments":
                    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                        actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=restore_comments";
                    }
                    break
            }

            if (actionValue != '') {
                objForm.action = actionValue;
                objForm.submit();
            }
        } else {
            alert("{TXT_MEDIADIR_MAKE_SELECTION}");
        }

        objSelect.value = "0";
    }

    var switchState = function(id, obj, action, type)
{
        cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'switchState', id : id, state : action, type : type}).success(function() {
            if (action) {
                path = '/core/Core/View/Media/icons/status_green.gif';
                action = 0;
            } else {
                path = '/core/Core/View/Media/icons/status_red.gif';
                action = 1;
            }
            cx.jQuery(obj).children('img:first').attr('src', path);
            cx.jQuery(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
        });
    }

    cx.jQuery(document).ready(function(){
        cx.jQuery('#submit-search').click(function(e){
            searchEntries(e);
        });
    });

    var searchEntries = function (event) {
        event.preventDefault();
        formId = '';
        levelId = '';
        catId = '';
        if(cx.jQuery('select[name="form_id"]').length>0){
            formId = '&form_id='+cx.jQuery('select[name="form_id"]').val();
        }
        if(cx.jQuery('select[name="level_id"]').length>0){
            levelId = '&level_id='+cx.jQuery('select[name="level_id"]').val();
        }
        if(cx.jQuery('select[name="cat_id"]').length>0){
            catId = '&cat_id='+cx.jQuery('select[name="cat_id"]').val();
        }
        cx.jQuery('#search_mediadir').attr('action', cx.jQuery('#search_mediadir').attr('action') + catId+formId+levelId).submit();
    }
    // ]]>
</script>
<form id="search_mediadir" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=entries">
    <div class="search-functions">
        <div>
            <input type="search" name="term" placeholder="{MEDIADIR_SEARCH_TERM}" onfocus="if(this.value=='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'}" class="search">
            <input type="submit" name="Submit" id="submit-search" value="{TXT_SEARCH}">
        </div>
        <div>
            <!-- BEGIN mediadirFormDropdown -->
            <select name="form_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_FORMS}</option>{MEDIADIR_FORMS_DROPDOWN_OPTIONS}
            </select>
            <!-- END mediadirFormDropdown -->
            <!-- BEGIN mediadirLevelDropdown -->
            <select name="level_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_LEVELS}</option>{MEDIADIR_LEVELS_DROPDOWN_OPTIONS}
            </select>
            <!-- END mediadirLevelDropdown -->
            <select name="cat_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_CATEGORIES}</option>{MEDIADIR_CATEGORIES_DROPDOWN_OPTIONS}
            </select>
        </div>
    </div>
</form>
<form id="manageEntriesForm" action="index.php?cmd={MODULE_NAME}&act=entries" method="post">
    <table class="adminlist">
        <caption>
            {TXT_MEDIADIR_PAGE_TITLE}
            <div class="functions">
                <a href="/cadmin/MediaDir/modify_entry" title="{TXT_MEDIADIR_ADD_ENTRY}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th colspan="2">#</th>
            <th>{TXT_MEDIADIR_STATUS}</th>
            <th>{TXT_MEDIADIR_NAME}</th>
            <th>{TXT_MEDIADIR_FORM}</th>
            <th>{TXT_MEDIADIR_DATE}</th>
            <th>{TXT_MEDIADIR_AUTHOR}</th>
            <!-- BEGIN mediadirTableHeaderVotes -->
            <th>{TXT_MEDIADIR_VOTING}</th>
            <!-- END mediadirTableHeaderVotes -->
            <!-- BEGIN mediadirTableHeaderComments -->
            <th>{TXT_MEDIADIR_COMMENTS}</th>
            <!-- END mediadirTableHeaderComments -->
            <th>{TXT_MEDIADIR_HITS}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirEntryList -->
        <tr class="{MEDIADIR_ROW_CLASS}">
            <td><input type="checkbox" name="entriesFormSelected[]" value="{MEDIADIR_ENTRY_ID}"></td>
            <td>{MEDIADIR_ENTRY_ORDER}</td>
            <td><a href="javascript: void(0);" onclick="switchState({MEDIADIR_ENTRY_ID}, this, {MEDIADIR_ENTRY_SWITCH_STATUS}, 'entry')"><img src="{MEDIADIR_ENTRY_STATUS}" alt="" title=""></a></td>
            <td><a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{MEDIADIR_ENTRY_NAME} {TXT_EDIT}">{MEDIADIR_ENTRY_TITLE_FORMATTED}</a></td>
            <td>{MEDIADIR_ENTRY_FORM}</td>
            <td>{MEDIADIR_ENTRY_VALIDATE_DATE}</td>
            <td>{MEDIADIR_ENTRY_AUTHOR}</td>
            <!-- BEGIN mediadirEntryVotes -->
            <td>{MEDIADIR_ENTRY_VOTES}</td>
            <!-- END mediadirEntryVotes -->
            <!-- BEGIN mediadirEntryComments -->
            <td><a href="index.php?cmd={MODULE_NAME}&act=comments&id={MEDIADIR_ENTRY_ID}">{MEDIADIR_ENTRY_COMMENTS}</a></td>
            <!-- END mediadirEntryComments -->
            <td>{MEDIADIR_ENTRY_HITS}</td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}&amp;copy" title="{MEDIADIR_ENTRY_NAME} {TXT_COPY}"><i class="fa-regular fa-copy"></i></a>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" title="{MEDIADIR_ENTRY_NAME} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteEntry('{MEDIADIR_ENTRY_ID}');" title="{MEDIADIR_ENTRY_NAME} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirEntryList -->
        <!-- BEGIN noEntriesFound -->
        <tr>
            <td colspan="11">{TXT_MEDIADIR_NO_ENTRIES_FOUND}</td>
        </tr>
        <!-- END noEntriesFound -->
        <!-- BEGIN mediadirEntriesSaveOrder -->
        <tr>
            <td colspan="11"><input type="submit" name="submitEntriesOrderForm" value="{TXT_MEDIADIR_SUBMIT}"></td>
        </tr>
        <!-- END mediadirEntriesSaveOrder -->
    </table>
    <!-- BEGIN mediadirEntriesSelectAction -->
    <ul class="bulk-functions">
        <li><a href="javascript:{void(0)};" onclick="changeCheckboxes('manageEntriesForm','entriesFormSelected[]',true); return false;">{TXT_SELECT_ALL}</a></li>
        <li><a href="javascript:{void(0)};" onclick="changeCheckboxes('manageEntriesForm','entriesFormSelected[]',false); return false;">{TXT_DESELECT_ALL}</a></li>
        <li>
            <select name="selectAction" onchange="entriesDoAction('manageEntriesForm', this);">
                <option value="0" selected="selected">{TXT_SELECT_ACTION}</option>
                <option value="delete_entry">{TXT_DELETE_ALL}</option>
                <option value="restore_voting">{TXT_MEDIADIR_RESTORE_VOTING_ALL}</option>
                <option value="restore_comments">{TXT_MEDIADIR_RESTORE_COMMENTS_ALL}</option>
            </select>
        </li>
    </ul>
    <!-- END mediadirEntriesSelectAction -->
    {MEDIADIR_PAGING}
</form>
<!-- END module_mediadir_manage_entries.html -->
