<!-- START module_marketplace_settings_forms.html -->
<script>
    //<![CDATA[
function deleteForm(formId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_FORM_DEL_INFO}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&act=settings&tpl=delete_form&{CSRF}&id="+formId);
        }
    }

var switchState = function(id, obj, action, type)
{
        $J.ajax({
            type: 'get',
        url:  'index.php?cmd={MODULE_NAME}&act=switchState',
            data: {
            id:    id,
                state: action,
            type:  type
            },
        success: function() {
                if (action) {
                    path = cx.variables.get('basePath', 'contrexx') + 'core/Core/View/Media/icons/status_green.gif';
                    action = 0;
                } else {
                    path = cx.variables.get('basePath', 'contrexx') + 'core/Core/View/Media/icons/status_red.gif';
                    action = 1;
                }
                $J(obj).children('img:first').attr('src', path);
            $J(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
            }
        });
    }
    //]]>
</script>

<form id="settingsFormsForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=forms" method="post">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/MediaDir/settings?tpl=modify_form" title="{TXT_MEDIADIR_NEW_FORM_TEMPLATE}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_MEDIADIR_ID}</th>
            <th>{TXT_MEDIADIR_STATUS}</th>
            <th>{TXT_MEDIADIR_ORDER}</th>
            <th>{TXT_MEDIADIR_TITLE}</th>
            <th>{TXT_MEDIADIR_DESCRIPTION}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirFormTemplateList -->
        <tr class="{MEDIADIR_FORM_ROW_CLASS}">
            <td><code>{MEDIADIR_FORM_ID}</code></td>
            <td><a href="javascript: void(0);" onclick="switchState({MEDIADIR_FORM_ID}, this, {MEDIADIR_FORM_SWITCH_STATUS}, 'form_template')"><img src="{MEDIADIR_FORM_STATUS}" alt="" title=""></a></td>
            <td><input name="formsOrder[{MEDIADIR_FORM_ID}]" class="compact" type="number" value="{MEDIADIR_FORM_ORDER}" onfocus="this.select();"></td>
            <td><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_form&amp;id={MEDIADIR_FORM_ID}" target="_self" title="{MEDIADIR_FORM_TITLE} {TXT_EDIT}">{MEDIADIR_FORM_TITLE}</a></td>
            <td>{MEDIADIR_FORM_DESCRIPTION}</td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_form&amp;id={MEDIADIR_FORM_ID}" target="_self" title="{MEDIADIR_FORM_TITLE} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteForm('{MEDIADIR_FORM_ID}');" title="{MEDIADIR_FORM_TITLE} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirFormTemplateList -->

        <!-- BEGIN mediadirFormTemplateNoEntries -->
        <tr>
            <td colspan="6">{TXT_MEDIADIR_NO_ENTRIES_FOUND}</td>
        </tr>
        <!-- END mediadirFormTemplateNoEntries -->
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_forms.html -->
