<!-- START module_mediadir_settings.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=entries" class="{MODULE_MEDIADIR_SUBNAV_ENTRIES}" title="{TXT_MEDIADIR_ENTRIES}">{TXT_MEDIADIR_ENTRIES}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=levels_categories" class="{MODULE_MEDIADIR_SUBNAV_LEVELS_CATEGORIES}" title="{TXT_MEDIADIR_GLOBAL}">{TXT_MEDIADIR_LEVELS_AND_CATEGORIES}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=forms" class="{MODULE_MEDIADIR_SUBNAV_FORMS}" title="{TXT_MEDIADIR_FORMS}">{TXT_MEDIADIR_FORMS}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=mails" class="{MODULE_MEDIADIR_SUBNAV_MAILS}" title="{TXT_MEDIADIR_MAIL_TEMPLATES}">{TXT_MEDIADIR_MAIL_TEMPLATES}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=files" class="{MODULE_MEDIADIR_SUBNAV_FILES}" title="{TXT_MEDIADIR_PICS_AND_FILES}">{TXT_MEDIADIR_PICS_AND_FILES}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=map" class="{MODULE_MEDIADIR_SUBNAV_MAP}" title="{TXT_MEDIADIR_GOOGLE}">{TXT_MEDIADIR_GOOGLE}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=votes" class="{MODULE_MEDIADIR_SUBNAV_VOTES}" title="{TXT_MEDIADIR_COMMENTS_AND_VOTING}">{TXT_MEDIADIR_COMMENTS_AND_VOTING}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=classification" class="{MODULE_MEDIADIR_SUBNAV_CLASSIFICATION}" title="{TXT_MEDIADIR_CLASSIFICATION}">{TXT_MEDIADIR_CLASSIFICATION}</a></li>
    <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=masks" class="{MODULE_MEDIADIR_SUBNAV_MASKS}" title="{TXT_MEDIADIR_EXPORT_MASKS}">{TXT_MEDIADIR_EXPORT_MASKS}</a></li>
  </ul>
</div>
{MEDIADIR_SETTINGS_CONTENT}
<!-- END module_mediadir_settings.html -->
