<!-- START module_mediadir_settings_map.html -->
<form id="settingsMapForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=map" method="post">
    <table class="adminlist splitview">
        <!-- BEGIN mediadirGoogleMap -->
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_GOOGLE_MAP_TYPE}</td>
            <td><select name="settingsGoogleMapType">{MEDIADIR_SETTINGS_GOOGLE_MAP_TYPE}</select></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_GOOGLE_START_POSITION}</td>
            <td>
                {MEDIADIR_SETTINGS_GOOGLE_START_POSITION}
                <p>Google Maps API-Schlüssel<a href="/cadmin/Config/?tab-list0=setting_tab-6" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </td>
        </tr>
        <!-- END mediadirGoogleMap -->
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_map.html -->
