<!-- START module_mediadir_modify_level.html -->
<script>
    //<![CDATA[
    var mediaBrowseInputBox;
var mediaBrowserCallback = function(data) {
    if (data.type=="file") {
            var path = data.data[0].datainfo.filepath;
            mediaBrowseInputBox.val(path);
        }
    };
$J(function(){
   $J('.mediabrowser-button').click(function(){
            var inputId = $J(this).data('inputId');
            mediaBrowseInputBox = $J('#' + inputId);
        });
    });
    //]]>
</script>
<form name="levelModfyForm" action="index.php?cmd={MODULE_NAME}&act=modify_level" method="post">
    <input name="levelId" type="hidden" value="{MEDIADIR_LEVEL_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_PAGE_TITLE}</caption>
        <tr>
            <td>{TXT_MEDIADIR_LEVEL}</td>
            <td>
                <select name="levelPosition">
                    <option value="0">{TXT_MEDIADIR_NEW_LEVEL}</option>
                    {MEDIADIR_LEVELS_DROPDOWN_OPTIONS}
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_PICTURE}</td>
            <td>
                {MEDIADIR_LEVEL_PICTURE_THUMB}
                <input type="text" name="levelImage" value="{MEDIADIR_LEVEL_PICTURE}" id="levelImage2">
                {MEDIADIR_LEVEL_IMAGE_BROWSE}
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SHOW_CATEGORIES}</td>
            <td>
                <input type="radio" name="levelShowCategories" id="levelShowCategoriesOn" value="1" {MEDIADIR_LEVEL_SHOW_CATEGORIES_ON}><label for="levelShowCategoriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="levelShowCategories" id="levelShowCategoriesOff" value="0" {MEDIADIR_LEVEL_SHOW_CATEGORIES_OFF}><label for="levelShowCategoriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SHOW_ENTRIES}</td>
            <td>
                <input type="radio" name="levelShowEntries" id="levelShowEntriesOn" value="1" {MEDIADIR_LEVEL_SHOW_ENTRIES_ON}><label for="levelShowEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="levelShowEntries" id="levelShowEntriesOff" value="0" {MEDIADIR_LEVEL_SHOW_ENTRIES_OFF}><label for="levelShowEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_MEDIADIR_VISIBLE}
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_VISIBLE_LEVEL_INFO}</span>
            </td>
            <td>
                <input type="radio" name="levelActive" id="levelActiveOn" value="1" {MEDIADIR_LEVEL_ACTIVE_ON}><label for="levelActiveOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="levelActive" id="levelActiveOff" value="0" {MEDIADIR_LEVEL_ACTIVE_OFF}><label for="levelActiveOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
    </table>
    <ul class="tabmenu" data-tablist="default">
        <!-- BEGIN mediadirLevelLanguages -->
        <li><a data-tablink="levelLanguage_{MEDIADIR_LEVEL_LANG_ID}_desc" class="{MEDIADIR_LEVEL_LANG_TAB_CLASS}" href="#">{MEDIADIR_LEVEL_LANG_NAME}</a></li>
        <!-- END mediadirLevelLanguages -->
    </ul>
    <!-- BEGIN mediadir_level_name_and_description -->
    <div class="tab levelLanguage_{MEDIADIR_LEVEL_LANG_ID}_desc" data-tablist="default">
        <table class="adminlist splitview">
            <caption>{TXT_MEDIADIR_LEVEL_DETAILS}</caption>
            <tr>
                <td>{TXT_MEDIADIR_NAME}</td>
                <td><input name="levelName[{MEDIADIR_LEVEL_LANG_ID}]" type="text" value="{MEDIADIR_LEVEL_NAME}"></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_META_DESCRIPTION}</td>
                <td><textarea name="levelMetaDesc[{MEDIADIR_LEVEL_LANG_ID}]" maxlength="160">{MEDIADIR_LEVEL_META_DESCRIPTION}</textarea></td>
            </tr>
            <tr>
                <td>{TXT_MEDIADIR_DESCRIPTION}</td>
                <td>{MEDIADIR_LEVEL_DESCRIPTION}</td>
            </tr>
        </table>
    </div>
    <!-- END mediadir_level_name_and_description -->
    <a href="/cadmin/MediaDir?tab-default=MediaDirTab_levels" class="button secondary">{TXT_CANCEL}</a>
    <input type="submit" name="submitLevelModfyForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_modify_level.html -->
