<!-- START module_mediadir_overview.html -->
<script>
    //<![CDATA[
    function deleteEntry(entryId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry&id="+entryId);
        }
    }

    function deleteCategory(catId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_category&id="+catId);
        }
    }

    function deleteLevel(levelId)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_level&id="+levelId);
        }
    }

    function entriesAreChecked(fieldName, objForm)
{
        x = 0;
        for (i = 0; i < objForm.elements.length; ++i) {
            e = objForm.elements[i];
            if (e.name == fieldName && e.checked == true) return true;
        }
        return false;
    }

    function entriesDoAction(formId, objSelect)
{
        objForm = document.getElementById(formId);

        if (entriesAreChecked("entriesFormSelected[]", objForm) == true) {
            switch (objSelect.value) {
                case "delete_entry":
                    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                        actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry";
                    }
                    break
                case "confirm_entry":
                    actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=confirm_entry";
                    break
            }

            if (actionValue != '') {
                objForm.action = actionValue;
                objForm.submit();
            }
        } else {
            alert("{TXT_MEDIADIR_MAKE_SELECTION}");
        }

        objSelect.value = "0";
    }

    var switchState = function(id, obj, action, type)
{
        cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'switchState', id : id, state : action, type : type}).success(function() {
            if (action) {
                if (type == 'entry') {
                    path = '/core/Core/View/Media/icons/status_green.gif';
                } else {
                    path = "/core/Core/View/Media/icons/folder_on.gif";
                }
                action = 0;
            } else {
                if (type == 'entry') {
                    path = '/core/Core/View/Media/icons/status_red.gif';
                } else {
                    path = "/core/Core/View/Media/icons/folder_off.gif";
                }
                action = 1;
            }

            cx.jQuery(obj).children('img:first').attr('src', path);
            cx.jQuery(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
        });
    }

    cx.jQuery(document).ready(function(){
        cx.jQuery('#submit-search').click(function(e){
            searchEntries(e);
        });
    });

    var searchEntries = function (event) {
        event.preventDefault();
        formId = '';
        levelId = '';
        catId = '';
        if(cx.jQuery('select[name="form_id"]').length>0){
            formId = '&form_id='+cx.jQuery('select[name="form_id"]').val();
        }
        if(cx.jQuery('select[name="level_id"]').length>0){
            levelId = '&level_id='+cx.jQuery('select[name="level_id"]').val();
        }
        if(cx.jQuery('select[name="cat_id"]').length>0){
            catId = '&cat_id='+cx.jQuery('select[name="cat_id"]').val();
        }
        cx.jQuery('#search_mediadir').attr('action', cx.jQuery('#search_mediadir').attr('action') + catId+formId+levelId).submit();
    }

    //]]>
</script>
<form id="search_mediadir" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=entries">
    <div class="search-functions">
        <div>
            <input type="search" name="term" placeholder="{TXT_MEDIADIR_ID_OR_SEARCH_TERM}" onfocus="if(this.value=='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'}" class="search">
            <input type="submit" id="submit-search" name="Submit" value="{TXT_SEARCH}">
        </div>
        <div>
            <!-- BEGIN mediadirFormDropdown -->
            <select name="form_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_FORMS}</option>{MEDIADIR_FORMS_DROPDOWN_OPTIONS}
            </select>
            <!-- END mediadirFormDropdown -->
            <!-- BEGIN mediadirLevelDropdown -->
            <select name="level_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_LEVELS}</option>{MEDIADIR_LEVELS_DROPDOWN_OPTIONS}
            </select>
            <!-- END mediadirLevelDropdown -->
            <select name="cat_id" onchange="this.form.submit()">
                <option value="0">{TXT_MEDIADIR_ALL_CATEGORIES}</option>{MEDIADIR_CATEGORIES_DROPDOWN_OPTIONS}
            </select>
        </div>
    </div>
</form>
<!-- BEGIN confirmBlock -->
<form id="confirmForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=confirm_entry">
    <table class="adminlist">
        <caption>{TXT_CONFIRM_LIST}</caption>
        <tr>
            <th>{TXT_MEDIADIR_NAME}</th>
            <th>{TXT_MEDIADIR_FORM}</th>
            <th>{TXT_MEDIADIR_DATE}</th>
            <th>{TXT_MEDIADIR_AUTHOR}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirConfirmList -->
        <tr class="{MEDIADIR_ROW_CLASS}">
            <td><a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_VIEW}">{MEDIADIR_ENTRY_TITLE_FORMATTED}</a></td>
            <td>{MEDIADIR_ENTRY_FORM}</td>
            <td>{MEDIADIR_ENTRY_CREATE_DATE}</td>
            <td>{MEDIADIR_ENTRY_AUTHOR}</td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=confirm_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_CONFIRM}"><i class="fa-solid fa-check"></i></a>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteEntry('{MEDIADIR_ENTRY_ID}');" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirConfirmList -->
    </table>
</form>
<!-- END confirmBlock -->
<form id="latestForm" method="post">
    <table class="adminlist">
        <caption>
            {TXT_LATEST_ENTRIES}
            <div class="functions">
                <a href="/cadmin/MediaDir/modify_entry" title="{TXT_MEDIADIR_ADD_ENTRY}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_MEDIADIR_STATUS}</th>
            <th>{TXT_MEDIADIR_NAME}</th>
            <th>{TXT_MEDIADIR_FORM}</th>
            <th>{TXT_MEDIADIR_DATE}</th>
            <th>{TXT_MEDIADIR_AUTHOR}</th>
            <th>{TXT_MEDIADIR_HITS}</th>
            <th>{TXT_MEDIADIR_ACTION}</th>
        </tr>
        <!-- BEGIN mediadirLatestList -->
        <tr class="{MEDIADIR_ROW_CLASS}">
            <td><a href="javascript: void(0);" onclick="switchState({MEDIADIR_ENTRY_ID}, this, {MEDIADIR_ENTRY_SWITCH_STATUS}, 'entry')"><img src="{MEDIADIR_ENTRY_STATUS}" alt="" title=""></a></td>
            <td><a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_EDIT}">{MEDIADIR_ENTRY_TITLE_FORMATTED}</a></td>
            <td>{MEDIADIR_ENTRY_FORM}</td>
            <td>{MEDIADIR_ENTRY_VALIDATE_DATE}</td>
            <td>{MEDIADIR_ENTRY_AUTHOR}</td>
            <td>{MEDIADIR_ENTRY_HITS}</td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteEntry('{MEDIADIR_ENTRY_ID}');" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediadirLatestList -->
        <!-- BEGIN noEntriesFound -->
        <tr>
            <td colspan="7">{TXT_MEDIADIR_NO_ENTRIES_FOUND}</td>
        </tr>
        <!-- END noEntriesFound -->
    </table>
</form>
<!-- BEGIN tabMenu -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="{MODULE_NAME}Tab_levels" href="#" {TAB_LEVELS_ACTIVE}>{TXT_LEVELS}</a></li>
    <li><a data-tablink="{MODULE_NAME}Tab_categories" {TAB_CATEGORIES_ACTIVE} href="#">{TXT_CATEGORIES}</a></li>
</ul>
<!-- END tabMenu -->
<!-- BEGIN levelsTab -->
<div class="tab {MODULE_NAME}Tab_levels" data-tablist="default">
    <form id="levelForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=order_level">
        <table class="adminlist">
            <tr>
                <th>{TXT_MEDIADIR_ORDER}</th>
                <th>
                    {TXT_MEDIADIR_NAME}
                    <a href="index.php?cmd={MODULE_NAME}&amp;exp_level=all" title="{TXT_EXPAND_LINK}"><i class="fa-regular fa-square-plus"></i></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;exp_level=0" title="{TXT_COLLAPS_LINK}"><i class="fa-regular fa-square-minus"></i></a>
                </th>
                <th>{TXT_MEDIADIR_ACTION}</th>
            </tr>
            <!-- BEGIN mediadirLevelsList -->
            <tr class="{MEDIADIR_LEVEL_ROW_CLASS}">
                <td><input name="levelOrder[{MEDIADIR_LEVEL_ID}]" type="number" value="{MEDIADIR_LEVEL_ORDER}" onfocus="this.select();" class="compact"></td>
                <td>
                    {MEDIADIR_LEVEL_ICON}
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_level&amp;id={MEDIADIR_LEVEL_ID}" target="_self" title="{MEDIADIR_LEVEL_NAME} {TXT_EDIT}">{MEDIADIR_LEVEL_NAME}</a>
                    ({MEDIADIR_LEVEL_NUM_ENTRIES})
                </td>
                <td>
                    <a href="javascript: void(0);" onclick="switchState({MEDIADIR_LEVEL_ID}, this, {MEDIADIR_LEVEL_VISIBLE_STATE_ACTION}, 'level')"><img src="/core/Core/View/Media/icons/folder_{MEDIADIR_LEVEL_VISIBLE_STATE_IMG}.gif" alt="{MEDIADIR_LEVEL_NAME}" title="{MEDIADIR_LEVEL_NAME}"></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=entries&amp;level_id={MEDIADIR_LEVEL_ID}" title="{MEDIADIR_LEVEL_NAME} - {MEDIADIR_LEVEL_DESCRIPTION_ESCAPED}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_level&amp;id={MEDIADIR_LEVEL_ID}" target="_self" title="{MEDIADIR_LEVEL_NAME} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="javascript:deleteLevel('{MEDIADIR_LEVEL_ID}');" title="{MEDIADIR_LEVEL_NAME} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END mediadirLevelsList -->
            <!-- BEGIN noLevelsFound -->
            <tr>
                <td colspan="3">{TXT_MEDIADIR_NO_LEVELS_FOUND}</td>
            </tr>
            <!-- END noLevelsFound -->
        </table>
        <input type="submit" value="{TXT_MEDIADIR_SUBMIT}" name="submit_order_level">
        <input type="button" onclick="location.href='?cmd={MODULE_NAME}&amp;act=modify_level&amp;{CSRF}'" value="{TXT_ADD_LEVEL}" name="add_level">
    </form>
</div>
<!-- END levelsTab -->
<div class="tab {MODULE_NAME}Tab_categories" data-tablist="default">
    <form id="categoryForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=order_category">
        <table class="adminlist">
            <!-- BEGIN mediadirCategoriesCaption -->
            <caption>{TXT_CATEGORIES}</caption>
            <!-- END mediadirCategoriesCaption -->
            <tr>
                <th>{TXT_MEDIADIR_ORDER}</th>
                <th>
                    {TXT_MEDIADIR_NAME}
                    <a href="index.php?cmd={MODULE_NAME}&amp;tab-default=MediaDirTab_categories&amp;exp_cat=all" title="{TXT_EXPAND_LINK}"><i class="fa-regular fa-square-plus"></i></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;tab-default=MediaDirTab_categories&amp;exp_cat=0" title="{TXT_EXPAND_LINK}"><i class="fa-regular fa-square-minus"></i></a>
                </th>
                <th>{TXT_MEDIADIR_ACTION}</th>
            </tr>
            <!-- BEGIN mediadirCategoriesList -->
            <tr class="{MEDIADIR_CATEGORY_ROW_CLASS}">
                <td><input name="catOrder[{MEDIADIR_CATEGORY_ID}]" type="number" value="{MEDIADIR_CATEGORY_ORDER}" onfocus="this.select();" class="compact"></td>
                <td>
                    {MEDIADIR_CATEGORY_ICON}
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_category&amp;id={MEDIADIR_CATEGORY_ID}" target="_self" title="{MEDIADIR_CATEGORY_NAME} {TXT_EDIT}">{MEDIADIR_CATEGORY_NAME}</a>
                    ({MEDIADIR_CATEGORY_NUM_ENTRIES})
                </td>
                <td>
                    <a href="javascript: void(0);" onclick="switchState({MEDIADIR_CATEGORY_ID}, this, {MEDIADIR_CATEGORY_VISIBLE_STATE_ACTION}, 'category')"><img src="/core/Core/View/Media/icons/folder_{MEDIADIR_CATEGORY_VISIBLE_STATE_IMG}.gif" alt="{MEDIADIR_CATEGORY_NAME}" title="{MEDIADIR_CATEGORY_NAME}"></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=entries&amp;cat_id={MEDIADIR_CATEGORY_ID}" title="{MEDIADIR_CATEGORY_NAME} - {MEDIADIR_CATEGORY_DESCRIPTION_ESCAPED}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_category&amp;id={MEDIADIR_CATEGORY_ID}" target="_self" title="{MEDIADIR_CATEGORY_NAME} {TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="javascript:deleteCategory('{MEDIADIR_CATEGORY_ID}');" title="{MEDIADIR_CATEGORY_NAME} {TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END mediadirCategoriesList -->
            <!-- BEGIN noCategoriesFound -->
            <tr>
                <td colspan="3">{TXT_MEDIADIR_NO_CATEGORIES_FOUND}</td>
            </tr>
            <!-- END noCategoriesFound -->
        </table>
        <input type="submit" value="{TXT_MEDIADIR_SUBMIT}" name="submit_order_category">
        <input type="button" onclick="location.href='?cmd={MODULE_NAME}&amp;act=modify_category&amp;{CSRF}'" value="{TXT_ADD_CATEGORY}" name="add_category">
    </form>
</div>
<!-- END module_mediadir_overview.html -->
