<!-- START module_mediadir_settings_files.html -->
<form id="settingsFilesForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=files" method="post">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_THUMB_SIZE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_THUMB_SIZE_INFO}</span></td>
            <td><input name="settingsThumbSize" type="number" class="compact" value="{MEDIADIR_SETTINGS_THUMB_SIZE}">{TXT_MEDIADIR_PIXEL}</td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_IMAGE_FILESIZE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_IMAGE_FILESIZE_INFO}</span></td>
            <td><input name="settingsImageFilesize" type="number" class="compact" value="{MEDIADIR_SETTINGS_IMAGE_FILESIZE}">{TXT_MEDIADIR_KB}</td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ENCRYPT_FILENAME}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_ENCRYPT_FILENAME_INFO}</span></td>
            <td>
                <input type="radio" name="settingsEncryptFilenames" id="settingsEncryptFilenames_on" value="1" {MEDIADIR_SETTINGS_ENCRYPT_FILENAMES_ON}>
                <label for="settingsEncryptFilenames_on">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsEncryptFilenames" id="settingsEncryptFilenames_off" value="0" {MEDIADIR_SETTINGS_ENCRYPT_FILENAMES_OFF}>
                <label for="settingsEncryptFilenames_off">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_files.html -->
