<!-- START module_mediadir_settings_comments_votes.html -->
<script>
    // <![CDATA[

function restoreData(type)
{
        if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=settings&tpl=votes&restore="+type);
        }
    }
    // ]]>
</script>
<form id="settingsVotesForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=votes" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_VOTES}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ALLOW_VOTES}</td>
            <td>
                <input type="radio" name="settingsAllowVotes" id="settingsAllowVotes_on" value="1" {MEDIADIR_SETTINGS_ALLOW_VOTES_ON}>
                <label for="settingsAllowVotes_on">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAllowVotes" id="settingsAllowVotes_off" value="0" {MEDIADIR_SETTINGS_ALLOW_VOTES_OFF}>
                <label for="settingsAllowVotes_off">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_VOTE_ONLY_COMMUNITY}</td>
            <td>
                <input type="radio" name="settingsVoteOnlyCommunity" id="settingsVoteOnlyCommunity_on" value="1" {MEDIADIR_SETTINGS_VOTE_ONLY_COMMUNITY_ON}>
                <label for="settingsVoteOnlyCommunity_on">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsVoteOnlyCommunity" id="settingsVoteOnlyCommunity_off" value="0" {MEDIADIR_SETTINGS_VOTE_ONLY_COMMUNITY_OFF}>
                <label for="settingsVoteOnlyCommunity_off">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_DELETE_ALL_VOTES}</td>
            <td><input onclick="restoreData('voting');" name="settingsDeleteAllVotes" type="button" value="{TXT_MEDIADIR_DELETE}"></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_COMMENTS}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ALLOW_COMMENTS}</td>
            <td>
                <input type="radio" name="settingsAllowComments" id="settingsAllowComments_on" value="1" {MEDIADIR_SETTINGS_ALLOW_COMMENTS_ON}>
                <label for="settingsAllowComments_on">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAllowComments" id="settingsAllowComments_off" value="0" {MEDIADIR_SETTINGS_ALLOW_COMMENTS_OFF}>
                <label for="settingsAllowComments_off">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_COMMENT_ONLY_COMMUNITY}</td>
            <td>
                <input type="radio" name="settingsCommentOnlyCommunity" id="settingsCommentOnlyCommunity_on" value="1" {MEDIADIR_SETTINGS_COMMENT_ONLY_COMMUNITY_ON}>
                <label for="settingsCommentOnlyCommunity_on">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsCommentOnlyCommunity" id="settingsCommentOnlyCommunity_off" value="0" {MEDIADIR_SETTINGS_COMMENT_ONLY_COMMUNITY_OFF}>
                <label for="settingsCommentOnlyCommunity_off">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_DELETE_ALL_COMMENTS}</td>
            <td><input onclick="restoreData('comments');" name="settingsDeleteAllComments" type="button" value="{TXT_MEDIADIR_DELETE}"></td>
        </tr>
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END module_mediadir_settings_comments_votes.html -->
