<!-- START module_mediadir_settings_entries.html -->
<style>
    /* this is a hack to make to tooltip of the legacy option wider */
    .legacy-note.tooltip-message.top {
    max-width:500px;
    }
</style>
<script>
function toggleDisplayDourationType(){
        elmSelect = document.getElementById('durationType');
        elmLayer = document.getElementById('durationTypePeriod');

    if(elmSelect.value == 1) {
            elmLayer.style.display = 'none';
        } else {
            elmLayer.style.display = 'inline';
        }
    }

function toggleDisplayDourationNotification(){
        elmSelect = document.getElementById('durationNotification');
        elmLayer = document.getElementById('durationNotificationValue');
        elmInput = document.getElementById('settingsEntryDisplaydurationNotification');

    if(elmSelect.value == 0) {
            elmLayer.style.display = 'none';
            elmInput.value = 0;
        } else {
            elmLayer.style.display = 'inline';
        }
    }

    function toggleLatestEntriesInOverview() {
        var toggleStatus = $J('input[name="showLatestEntriesInOverview"]:checked').val();

        $J('tr.overviewEntriesCnt').hide();
        if (toggleStatus == 1) {
            $J('tr.overviewEntriesCnt').show();
        }
    }

    function toggleLatestEntriesInWebdesignTpl() {
        var toggleStatus = $J('input[name="showLatestEntriesInWebdesignTmpl"]:checked').val();

        $J('tr.webdesignEntriesCnt').hide();
        if (toggleStatus == 1) {
            $J('tr.webdesignEntriesCnt').show();
        }
    }

$J(document).ready(function(){
        toggleLatestEntriesInOverview();
        toggleLatestEntriesInWebdesignTpl();
    });
</script>


<form id="settingsEntriesForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=entries" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_GLOBAL}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_CONFIRM_NEW_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_CONFIRM_NEW_ENTRIES_INFO}</span></td>
            <td>
                <input type="radio" name="settingsConfirmNewEntries" id="settingsConfirmNewEntriesOn" value="1" {MEDIADIR_SETTINGS_CONFIRM_NEW_ENTRIES_ON}>
                <label for="settingsConfirmNewEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsConfirmNewEntries" id="settingsConfirmNewEntriesOff" value="0" {MEDIADIR_SETTINGS_CONFIRM_NEW_ENTRIES_OFF}>
                <label for="settingsConfirmNewEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_CONFIRM_UPDATED_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_CONFIRM_UPDATED_ENTRIES_INFO}</span></td>
            <td>
                <input type="radio" name="settingsConfirmUpdatedEntries" id="settingsConfirmUpdatedEntriesOn" value="1" {MEDIADIR_SETTINGS_CONFIRM_UPDATED_ENTRIES_ON}>
                <label for="settingsConfirmUpdatedEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsConfirmUpdatedEntries" id="settingsConfirmUpdatedEntriesOff" value="0" {MEDIADIR_SETTINGS_CONFIRM_UPDATED_ENTRIES_OFF}>
                <label for="settingsConfirmUpdatedEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ALLOW_ADD_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_ALLOW_ADD_ENTRIES_INFO}</span></td>
            <td>
                <input type="radio" name="settingsAllowAddEntries" id="settingsAllowAddEntriesOn" value="1" {MEDIADIR_SETTINGS_ALLOW_ADD_ENTRIES_ON}>
                <label for="settingsAllowAddEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAllowAddEntries" id="settingsAllowAddEntriesOff" value="0" {MEDIADIR_SETTINGS_ALLOW_ADD_ENTRIES_OFF}>
                <label for="settingsAllowAddEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ADD_ONLY_COMMUNITY}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_ADD_ONLY_COMMUNITY_INFO}</span></td>
            <td>
                <input type="radio" name="settingsAddEntriesOnlyCommunity" id="settingsAddEntriesOnlyCommunityOn" value="1" {MEDIADIR_SETTINGS_ADD_ONLY_COMMUNITY_ON}>
                <label for="settingsAddEntriesOnlyCommunityOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAddEntriesOnlyCommunity" id="settingsAddEntriesOnlyCommunityOff" value="0" {MEDIADIR_SETTINGS_ADD_ONLY_COMMUNITY_OFF}>
                <label for="settingsAddEntriesOnlyCommunityOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ALLOW_EDIT_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_ALLOW_EDIT_ENTRIES_INFO}</span></td>
            <td>
                <input type="radio" name="settingsAllowEditEntries" id="settingsAllowEditEntriesOn" value="1" {MEDIADIR_SETTINGS_ALLOW_EDIT_ENTRIES_ON}>
                <label for="settingsAllowEditEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAllowEditEntries" id="settingsAllowEditEntriesOff" value="0" {MEDIADIR_SETTINGS_ALLOW_EDIT_ENTRIES_OFF}>
                <label for="settingsAllowEditEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ALLOW_DEL_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_ALLOW_DEL_ENTRIES_INFO}</span></td>
            <td>
                <input type="radio" name="settingsAllowDelEntries" id="settingsAllowDelEntriesOn" value="1" {MEDIADIR_SETTINGS_ALLOW_DEL_ENTRIES_ON}>
                <label for="settingsAllowDelEntriesOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsAllowDelEntries" id="settingsAllowDelEntriesOff" value="0" {MEDIADIR_SETTINGS_ALLOW_DEL_ENTRIES_OFF}>
                <label for="settingsAllowDelEntriesOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ENTRIEY_INDIVIDUAL_ORDER}</td>
            <td>
                <input type="radio" name="settingsIndividualEntryOrder" id="settingsIndividualEntryOrderOn" value="1" {MEDIADIR_SETTINGS_ENTRIEY_INDIVIDUAL_ORDER_ON}>
                <label for="settingsIndividualEntryOrderOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsIndividualEntryOrder" id="settingsIndividualEntryOrderOff" value="0" {MEDIADIR_SETTINGS_ENTRIEY_INDIVIDUAL_ORDER_OFF}>
                <label for="settingsIndividualEntryOrderOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_NUM_ENTRIES_PER_GROUP}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_NUM_ENTRIES_PER_GROUP_INFO}</span></td>
            <td>
                <table class="adminlist splitview">
                    <tr>
                        <th>{TXT_MEDIADIR_SETTINGS_COMMUNITY_GROUP}</th>
                        <th>{TXT_MEDIADIR_SETTINGS_NUM}</th>
                    </tr>
                    <!-- BEGIN communityGroupList -->
                    <tr>
                        <td>{MEDIADIR_SETTINGS_NUM_ENTRIES_GROUP_NAME}</td>
                        <td><input type="text" name="settingsNumEntries[{MEDIADIR_SETTINGS_NUM_ENTRIES_GROUP_ID}]" value="{MEDIADIR_SETTINGS_NUM_ENTRIES}" class="compact"></td>
                    </tr>
                    <!-- END communityGroupList -->
                </table>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_PAGING_NUM_ENTRIES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_PAGING_NUM_ENTRIES_INFO}</span></td>
            <td><input name="settingsPagingNumEntries" type="number" class="compact" value="{MEDIADIR_SETTINGS_PAGING_NUM_ENTRIES}"></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_DISPLAYDURATION}</td>
            <td>
                <select id="durationType" name="settingsEntryDisplaydurationType" onchange="toggleDisplayDourationType();">
                    <option value="1" {MEDIADIR_SETTINGS_DISPLAYDURATION_SELECT_ALWAYS}>
                        {TXT_MEDIADIR_DISPLAY_DURATION_ALWAYS}</option>
                    <option value="2" {MEDIADIR_SETTINGS_DISPLAYDURATION_SELECT_PERIOD}>
                        {TXT_MEDIADIR_DISPLAY_DURATION_PERIOD}</option>
                </select>
                <span id="durationTypePeriod" style="display:{MEDIADIR_SETTINGS_DISPLAYDURATION_SHOW_PERIOD};">
                    <input type="number" name="settingsEntryDisplaydurationValue" value="{MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE}" class="compact">
                    <select name="settingsEntryDisplaydurationValueType">
                        <option value="1" {MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_DAY}>
                            {TXT_MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_DAY}</option>
                        <option value="2" {MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_MONTH}>
                            {TXT_MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_MONTH}</option>
                        <option value="3" {MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_YEAR}>
                            {TXT_MEDIADIR_SETTINGS_DISPLAYDURATION_VALUE_TYPE_YEAR}</option>
                    </select>
                </span>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_NOTIFICATION_DISPLAYDURATION}</td>
            <td>
                <select id="durationNotification" name="durationNotification" onchange="toggleDisplayDourationNotification();">
                    <option value="0" {MEDIADIR_SETTINGS_DISPLAYDURATION_NOTIFICATION_OFF}>{TXT_MEDIADIR_DEACTIVATE}
                    </option>
                    <option value="1" {MEDIADIR_SETTINGS_DISPLAYDURATION_NOTIFICATION_ON}>{TXT_MEDIADIR_ACTIVATE}
                    </option>
                </select>
                <span id="durationNotificationValue" style="display:{MEDIADIR_SETTINGS_DISPLAYDURATION_NOTIFIVATION_SHOW_DAYBEFORE};">
                    <input type="number" id="settingsEntryDisplaydurationNotification" name="settingsEntryDisplaydurationNotification" value="{MEDIADIR_SETTINGS_DISPLAYDURATION_NOTIFICATION_VALUE}" class="compact">
                    {TXT_MEDIADIR_SETTINGS_DISPLAYDURATION_NOTIFICATION_DAYSBEFOR}
                </span>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LINK_GLOBAL_SEARCH_TO_CATEGORY_AND_LEVEL}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_GLOBAL_SEARCH_CATEGORY_AND_LEVEL_INFO}</span></td>
            <td>
                <input type="radio" name="globalSearchLinkCategoryAndLevel" id="globalSearchLinkCategoryAndLevelOn" value="1" {MEDIADIR_SETTINGS_GLOBAL_SEARCH_CATEGORY_AND_LEVEL_ON}>
                <label for="globalSearchLinkCategoryAndLevelOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="globalSearchLinkCategoryAndLevel" id="globalSearchLinkCategoryAndLevelOff" value="0" {MEDIADIR_SETTINGS_GLOBAL_SEARCH_CATEGORY_AND_LEVEL_OFF}>
                <label for="globalSearchLinkCategoryAndLevelOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_LANGUAGES}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_SHOW_ENTRIES_IN_ALL_LANG}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_SHOW_ENTRIES_IN_ALL_LANG_INFO}</span></td>
            <td>
                <input type="radio" name="settingsShowEntriesInAllLang" id="settingsShowEntriesInAllLangOn" value="1" {MEDIADIR_SETTINGS_SHOW_ENTRIES_IN_ALL_LANG_ON}>
                <label for="settingsShowEntriesInAllLangOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsShowEntriesInAllLang" id="settingsShowEntriesInAllLangOff" value="0" {MEDIADIR_SETTINGS_SHOW_ENTRIES_IN_ALL_LANG_OFF}>
                <label for="settingsShowEntriesInAllLangOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_MULTILANG_FRONTEND}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_MULTILANG_FRONTEND_INFO}</span></td>
            <td>
                <input type="radio" name="settingsFrontendUseMultilang" id="settingsFrontendUseMultilangOn" value="1" {MEDIADIR_SETTINGS_MULTILANG_FRONTEND_ON}>
                <label for="settingsFrontendUseMultilangOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsFrontendUseMultilang" id="settingsFrontendUseMultilangOff" value="0" {MEDIADIR_SETTINGS_MULTILANG_FRONTEND_OFF}>
                <label for="settingsFrontendUseMultilangOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_TRANSLATION_STATUS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_SETTINGS_TRANSLATION_STATUS_INFO}</span></td>
            <td>
                <input type="radio" name="settingsTranslationStatus" id="settingsTranslationStatusOn" value="1" {MEDIADIR_SETTINGS_TRANSLATION_STATUS_ON}>
                <label for="settingsTranslationStatusOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="settingsTranslationStatus" id="settingsTranslationStatusOff" value="0" {MEDIADIR_SETTINGS_TRANSLATION_STATUS_OFF}>
                <label for="settingsTranslationStatusOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_ACTIVE_LANGUAGES}</td>
            <td>
                <!-- BEGIN activeLanguageList -->
                <input type="checkbox" name="settingsActiveLanguages[]" id="settingsActiveLanguages{MEDIADIR_SETTINGS_ACTIVE_LANG_ID}" value="{MEDIADIR_SETTINGS_ACTIVE_LANG_ID}" {MEDIADIR_SETTINGS_ACTIVE_LANG_STATUS}>
                <label for="settingsActiveLanguages{MEDIADIR_SETTINGS_ACTIVE_LANG_ID}">{MEDIADIR_SETTINGS_ACTIVE_LANG_NAME}</label><br>
                <!-- END activeLanguageList -->
            </td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{MEDIADIR_LATEST_ENTRIES_FRONTEND}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LIST_LATEST_ENTRIES_IN_OVERVIEW_SECTION}</td>
            <td>
                <input id="listEntriesOverviewOn" name="showLatestEntriesInOverview" type="radio" {MEDIADIR_SETTINGS_LIST_ENTRIES_OVERVIEW_ON} value="1" onclick="toggleLatestEntriesInOverview();">
                <label for="listEntriesOverviewOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input id="listEntriesOverviewOff" name="showLatestEntriesInOverview" type="radio" {MEDIADIR_SETTINGS_LIST_ENTRIES_OVERVIEW_OFF} value="0" onclick="toggleLatestEntriesInOverview();">
                <label for="listEntriesOverviewOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr class="overviewEntriesCnt">
            <td>{TXT_MEDIADIR_SETTINGS_NUM_ENTRIES_TO_LIST}</td>
            <td><input name="settingsLatestNumOverview" type="number" class="compact" value="{MEDIADIR_SETTINGS_LATEST_NUM_OVERVIEW}"></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LIST_LATEST_ENTRIES_IN_WEBDESIGN_TEMPLATE}</td>
            <td>
                <input id="lstEntriesWebdesignTmplOn" name="showLatestEntriesInWebdesignTmpl" type="radio" {MEDIADIR_SETTINGS_LIST_ENTRIES_WEBDESIGN_TEMPLATE_ON} value="1" onclick="toggleLatestEntriesInWebdesignTpl();">
                <label for="lstEntriesWebdesignTmplOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input id="lstEntriesWebdesignTmplOff" name="showLatestEntriesInWebdesignTmpl" type="radio" {MEDIADIR_SETTINGS_LIST_ENTRIES_WEBDESIGN_TEMPLATE_OFF} value="0" onclick="toggleLatestEntriesInWebdesignTpl();">
                <label for="lstEntriesWebdesignTmplOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr class="webdesignEntriesCnt">
            <td>{TXT_MEDIADIR_SETTINGS_NUM_ENTRIES_TO_LIST}</td>
            <td><input name="settingsLatestNumHeadlines" type="number" class="compact" value="{MEDIADIR_SETTINGS_LATEST_NUM_HEADLINES}"></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LATEST_NUM_FRONTEND}</td>
            <td><input name="settingsLatestNumFrontend" type="number" class="compact" value="{MEDIADIR_SETTINGS_LATEST_NUM_FRONTEND}"></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{MEDIADIR_LATEST_ENTRIES_BACKEND}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_LATEST_NUM_BACKEND}</td>
            <td><input name="settingsLatestNumBackend" type="number" class="compact" value="{MEDIADIR_SETTINGS_LATEST_NUM_BACKEND}"></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_POPULAR_HITS}</caption>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_POPULAR_NUM_FRONTEND}</td>
            <td><input name="settingsPopularNumFrontend" type="number" class="compact" value="{MEDIADIR_SETTINGS_POPULAR_NUM_FRONTEND}"></td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_SETTINGS_POPULAR_NUM_RESTORE}</td>
            <td><input name="settingsPopularNumRestore" type="number" class="compact" value="{MEDIADIR_SETTINGS_POPULAR_NUM_RESTORE}"></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_MEDIADIR_BEHAVIOR}</caption>
        <tr>
            <td>{TXT_MEDIADIR_PRETTY_URLS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_PRETTY_URLS_INFO}</span></td>
            <td>
                <input type="radio" name="usePrettyUrls" id="usePrettyUrlsOn" value="1" {MEDIADIR_SETTINGS_PRETTY_URLS_ON}>
                <label for="usePrettyUrlsOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="usePrettyUrls" id="usePrettyUrlsOff" value="0" {MEDIADIR_SETTINGS_PRETTY_URLS_OFF}>
                <label for="usePrettyUrlsOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_MEDIADIR_LEGACY_BEHAVIOR}<span class="tooltip-trigger icon-info"></span><span class="legacy-note tooltip-message">{TXT_MEDIADIR_LEGACY_BEHAVIOR_INFO}</span></td>
            <td>
                <input type="radio" name="legacyBehavior" id="legacyBehaviorOn" value="1" {MEDIADIR_SETTINGS_LEGACY_BEHAVIOR_ON}>
                <label for="legacyBehaviorOn">{TXT_MEDIADIR_ACTIVATE}</label>
                <input type="radio" name="legacyBehavior" id="legacyBehaviorOff" value="0" {MEDIADIR_SETTINGS_LEGACY_BEHAVIOR_OFF}>
                <label for="legacyBehaviorOff">{TXT_MEDIADIR_DEACTIVATE}</label>
            </td>
        </tr>
    </table>
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}">
</form>
<!-- END modulemediadir_settings_entries.html -->
