<!-- BEGIN entity_view -->
{ENTITY_VIEW}
<!-- END entity_view -->
<!-- BEGIN edit_buttons -->
<div class="edit-actions">
    <a href="/cadmin/NetManager/TrackedSenderDomain" class="button secondary">
        {TXT_CORE_NETMANAGER_BACK}
    </a>
    <a href="#" data-action="refresh-dns-record" data-id="{ENTITY_ID}" class="button">
        {TXT_CORE_NETMANAGER_REFRESH_SHORT}
    </a>
</div>
<!-- END edit_buttons -->
