<!-- START module_block_categories.html -->
<script>
  //<![CDATA[
  function deleteCategory(catId){
    if(confirm('{TXT_BLOCK_OPERATION_IRREVERSIBLE}'))
      window.location.replace("{DIRECORY_INDEX}?cmd=Block&act=deleteCategory&id="+catId+'&{CSRF_PARAM}');
  }
  //]]>
</script>
<!-- BEGIN viewShowCategories -->
<div id="divManage" class="categories">
  <form name="frmShowCategories" method="post" action="">
    <table class="adminlist">
      <caption>
        <div class="functions">
          <a href="/cadmin/Block/addCategory" title="{TXT_BLOCK_CATEGORIES_ADD}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_BLOCK_NAME}</th>
        <th>{TXT_BLOCK_PLACEHOLDER}</th>
        <th>{TXT_BLOCK_SEPERATOR}</th>
        <th>{TXT_BLOCK_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN showCategories -->
      <tr class="{BLOCK_CATEGORY_ROWCLASS}">
        <td>{BLOCK_CATEGORY_LEVEL_SHIFT}<a href="{DIRECTORY_INDEX}?cmd=Block&amp;act=editCategory&amp;id={BLOCK_CATEGORY_ID}" target="_self" title="{TXT_BLOCK_OVERVIEW_IMGALT_EDIT}">{BLOCK_CATEGORY_NAME}</a></td>
        <td><code>[[{BLOCK_CATEGORY_PLACEHOLDER}]]</code></td>
        <td>{BLOCK_CATEGORY_SEPERATOR}</td>
        <td>
          <a href="{DIRECTORY_INDEX}?cmd=Block&amp;act=editCategory&amp;id={BLOCK_CATEGORY_ID}" target="_self" title="{TXT_BLOCK_OVERVIEW_IMGALT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <!-- BEGIN deleteCategory -->
          <a href="javascript:deleteCategory({BLOCK_CATEGORY_ID});" target="_self" title="{TXT_BLOCK_OVERVIEW_IMGALT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
          <!-- END deleteCategory -->
          <!-- BEGIN deleteCategoryEmpty -->
          <i class="fa-solid fa-ban"></i>
          <!-- END deleteCategoryEmpty -->
        </td>
      </tr>
      <!-- END showCategories -->
      <!-- BEGIN noCategories -->
      <tr>
        <td colspan="4">{TXT_BLOCK_NO_CATEGORIES_FOUND}</td>
      </tr>
      <!-- END noCategories -->
    </table>
  </form>
</div>
<!-- END viewShowCategories -->

<!-- BEGIN viewAddCategory -->
<div id="divAdd" class="categories">
  <form name="frmCategory" method="post" action="{DIRECTORY_INDEX}?cmd=Block&amp;act=categories">
    <table class="adminlist splitview">
      <caption>{TXT_BLOCK_CATEGORIES_ADD}</caption>
      <tr>
        <td>{TXT_BLOCK_NAME}</td>
        <td><input type="text" name="frmCategoryName" value="" maxlength="255"></td>
      </tr>
      <tr>
        <td>{TXT_BLOCK_PARENT}</td>
        <td>
          <select name="frmCategoryParent">
            <option value="0">{TXT_BLOCK_NONE}</option>
            {BLOCK_CATEGORIES_PARENT_DROPDOWN}
          </select>
        </td>
      </tr>
      <tr>
        <td>{TXT_BLOCK_CATEGORY_SEPERATOR}</td>
        <td><input type="text" name="frmCategorySeperator" value="{BLOCK_CATEGORY_SEPERATOR}" maxlength="255"></td>
      </tr>
    </table>
    <input type="submit" value="{TXT_BLOCK_SAVE}" name="frmCategorySubmit">
  </form>
</div>
<!-- END viewAddCategory -->

<!-- END module_block_categories.html -->
