<!-- START module_block_settings.html -->
<form name="blockSettingsForm" action="index.php?cmd=Block&amp;act=settings" method="post">
  <table class="adminlist splitview">
    <tr>
      <td>{TXT_BLOCK_USE_BLOCK_SYSTEM}</td>
      <td><input type="checkbox" name="blockUseBlockSystem" value="1" {BLOCK_USE_BLOCK_SYSTEM}></td>
    </tr>
    <tr>
      <td>{TXT_BLOCK_USE_BLOCK_RANDOM}</td>
      <td><input type="checkbox" name="blockUseBlockRandom" value="1" {BLOCK_USE_BLOCK_RANDOM}></td>
    </tr>
    <tr>
      <td>{TXT_BLOCK_GLOBAL_SEPERATOR}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_BLOCK_GLOBAL_SEPERATOR_INFO}</span></td>
      <td><input type="text" name="blockSettings[blockGlobalSeperator]" value="{BLOCK_GLOBAL_SEPERATOR}" size="30"></td>
    </tr>
    <tr>
      <td>{TXT_BLOCK_MARK_PARSED_BLOCK}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_BLOCK_MARK_PARSED_BLOCK_INFO}</span></td>
      <td><input type="checkbox" name="blockSettings[markParsedBlock]" value="1" {BLOCK_MARK_PARSED_BLOCK}></td>
    </tr>
  </table>
  <input type="submit" name="saveSettings" value="{TXT_BLOCK_SAVE}">
</form>
<!-- END module_block_settings.html -->
