<!-- START module_block_categories_edit.html -->
<form name="frmEditCategory" method="post" action="{DIRECTORY_INDEX}?cmd=Block&amp;act=categories">
  <table class="adminlist splitview">
    <caption>{TXT_BLOCK_CATEGORIES_EDIT}</caption>
    <tr>
      <td>{TXT_BLOCK_NAME}</td>
      <td><input type="text" name="frmCategoryName" value="{BLOCK_CATEGORY_NAME}" maxlength="255"></td>
    </tr>
    <tr>
      <td>{TXT_BLOCK_PARENT}</td>
      <td>
        <select name="frmCategoryParent">
          <option value="0">{TXT_BLOCK_NONE}</option>
          {BLOCK_CATEGORIES_PARENT_DROPDOWN}
        </select>
      </td>
    </tr>
    <tr>
      <td>{TXT_BLOCK_CATEGORY_SEPERATOR}</td>
      <td><input type="text" name="frmCategorySeperator" value="{BLOCK_CATEGORY_SEPERATOR}" maxlength="255"></td>
    </tr>
  </table>
  <input type="hidden" value="{BLOCK_CATEGORY_ID}" name="frmCategoryId">
  <input type="button" value="{TXT_BLOCK_BACK}" name="frmCategoryBack" onclick="location.href='{DIRECTORY_INDEX}?cmd=Block&amp;act=categories&{CSRF_PARAM}'" class="secondary">
  <input type="submit" value="{TXT_BLOCK_SAVE}" name="frmCategorySubmit">
</form>
<!-- END module_block_categories_edit.html -->
