<!-- START module_block_overview.html -->
<script>
  // <![CDATA[
function blockDeleteBlock(blockId, blockName)
{
    strConfirmMsg = '{TXT_BLOCK_CONFIRM_DELETE_BLOCK}';
  if (confirm(strConfirmMsg.replace('%s', blockName)+'\n{TXT_BLOCK_OPERATION_IRREVERSIBLE}')) {
      window.location.href = '{DIRECTORY_INDEX}?cmd=Block&act=del&blockId=' + blockId + '&catId={BLOCK_FILTER_CATEGORY_ID}&{CSRF_PARAM}';
    }
  }
  // ]]>
</script>
<style>
  img.inclusion {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  img.inclusion.active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
</style>
<form name="frmBlocks" method="post" action="{DIRECTORY_INDEX}?cmd=Block&amp;catId={BLOCK_FILTER_CATEGORY_ID}">
  <table class="adminlist">
    <caption>
      <div class="functions">
        <a href="/cadmin/Block/modify" title="{TXT_BLOCK_ADD_BLOCK}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>{TXT_BLOCK_STATUS}</th>
      <th>{TXT_BLOCK_ORDER}</th>
      <th>{TXT_BLOCK_NAME}</th>
      <th>
        <select name="blockCategory" onchange="location.href='{DIRECTORY_INDEX}?cmd=Block&catId='+this.options[this.options.selectedIndex].value+'&{CSRF_PARAM}'">
          <option value="0">{TXT_BLOCK_CATEGORIES_ALL}</option>
          {BLOCK_CATEGORIES_DROPDOWN}
        </select>
      </th>
      <th>{TXT_BLOCK_LANGUAGE}</th>
      <th>{TXT_BLOCK_PLACEHOLDER}</th>
      <th>{TXT_BLOCK_INCLUSION}</th>
      <th>{TXT_BLOCK_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN blockBlockList -->
    <tr class="{BLOCK_ROW_CLASS}">
      <td>{BLOCK_STATUS}</td>
      <td><input type="number" maxlength="5" value="{BLOCK_ORDER}" name="displayorder[{BLOCK_ID}]" class="compact"></td>
      <td><a href="index.php?cmd=Block&amp;act=modify&amp;blockId={BLOCK_ID}&amp;catId={BLOCK_CATEGORY_ID}" title="{BLOCK_MODIFY}">{BLOCK_NAME}</a></td>
      <td>{BLOCK_CATEGORY_NAME}</td>
      <td>{BLOCK_LANGUAGES_NAME}</td>
      <td><code>[[{BLOCK_PLACEHOLDER}]]</code><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{BLOCK_PLACEHOLDER_INFO}</span></td>
      <td>
        <img src="/modules/Block/View/Media/Global.png" width="16" height="16" alt="Global" class="{BLOCK_GLOBAL_CLASS}  inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_GLOBAL_INFO}</span>
        <img src="/modules/Block/View/Media/Shuffle1.png" width="16" height="16" alt="random 1" class="{BLOCK_RANDOM_1_CLASS}  inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_RANDOM_1_INFO}</span>
        <img src="/modules/Block/View/Media/Shuffle2.png" width="16" height="16" alt="random 2" class="{BLOCK_RANDOM_2_CLASS} inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_RANDOM_2_INFO}</span>
        <img src="/modules/Block/View/Media/Shuffle3.png" width="16" height="16" alt="random 3" class="{BLOCK_RANDOM_3_CLASS} inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_RANDOM_3_INFO}</span>
        <img src="/modules/Block/View/Media/Shuffle4.png" width="16" height="16" alt="random 4" class="{BLOCK_RANDOM_4_CLASS} inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_RANDOM_4_INFO}</span>
        <img src="/modules/Block/View/Media/Location.png" width="16" height="16" alt="Location" class="{BLOCK_TARGETING_CLASS}  inclusion tooltip-trigger"><span class="tooltip-message">{BLOCK_TARGETING_INFO}</span>
      </td>
      <td>
        <a href="index.php?cmd=Block&amp;act=copy&amp;blockId={BLOCK_ID}&amp;catId={BLOCK_CATEGORY_ID}" title="{BLOCK_COPY}"><i class="fa-regular fa-copy"></i></a>
        <a href="index.php?cmd=Block&amp;act=modify&amp;blockId={BLOCK_ID}&amp;catId={BLOCK_CATEGORY_ID}" title="{BLOCK_MODIFY}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:{void(0)};" onclick="blockDeleteBlock({BLOCK_ID}, '{BLOCK_NAME}')" title="{BLOCK_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END blockBlockList -->
  </table>
  <input type="submit" value="{TXT_SAVE_CHANGES}" name="displaysubmit">
</form>
<!-- END module_block_overview.html -->
