{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        :root {
            --primary-color: #0469b2;
            --primary-color-darkest: #000000;   /* link hover, text color */
            --primary-color-darker: #007bff;    /* links */
            --primary-color-darken: #444444;    /* border */
            --primary-color-lighten: #444444;   /* table separator, code border */
            --primary-color-lighter: #dddddd;   /* background */
        }
        .phpdocumentor-sidebar__category:nth-child(2),
        #packages {
            display: none;
        }
        .phpdocumentor-title__link {
            background-image: url(https://media.cloudrexx.com/images/logos/v1.0.0/cloudrexx_schwarz.svg);
            content: "";
            background-size: auto;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            line-height: 0;
            font-size: 0;
            width: 100%;
            color: transparent;
        }
    </style>
{% endblock %}
