#content form.cx-ui .error,
.cx-ui form.cx-ui .error {
    color: red;
    border-color: red;
}

form.cx-ui {
    float: none;
    clear: both;
    display: block;
    width: 100%;
}

form.cx-ui .sourcecode pre {
    margin: 0px;
    height: 300px;
    width: 100%;
}

/*Changes for Row sorting functionality in ViewGenerator*/

table.adminlist.sortable tr.row2,
table.adminlist.sortable tr.row1 {
    /*background: none;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.adminlist.sortable .drag-drop-handle {
    cursor: pointer;
    display: inline-block;
}

table.adminlist .drag-drop-header {
    font-weight: 1000;
    font-size: 16px;
    width: 13px;
    display: inline-block;
    padding-left: 3px;
}

body.loading {
    cursor: wait !important;
}

.loading table.adminlist.sortable tr.row2,
.loading table.adminlist.sortable tr.row1 {
    cursor: not-allowed;
}

.loading table.adminlist.sortable tr.row2,
.loading table.adminlist.sortable tr.row1 {
    opacity: 0.6;
}

table.sortable .sorter-loading {
    background-image: url(../../../../core_modules/News/View/Media/loading.gif) !important;
}

ul.vg-alphabeticalSearch {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

ul.vg-alphabeticalSearch li a:before {
    content: "[";
    font-weight: normal;
    padding-right: 0.3em;
}

ul.vg-alphabeticalSearch li {
    padding-left: 5px;
}

ul.vg-alphabeticalSearch li.selected {
    font-weight: bold;
}

ul.vg-alphabeticalSearch li a:after {
    content: "]";
    font-weight: normal;
    padding-left: 0.3em;
}

table.adminlist .vg-function-status::before {
    cursor: pointer;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f057"; /* fa-circle-xmark */
    color: var(--red);
}
table.adminlist .vg-function-status.active::before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f058"; /* fa-circle-check */
    color: var(--green);
}

table.adminlist .vg-function-status.loading::before {
    cursor: wait;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f110"; /* fa-spinner */
    color: var(--darkgray);
}
