#content_security_message {
    max-width: 40%;
    min-width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--header-height) + 20vh);
}

#content_security_message div.two-columns {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#abort::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* fa-solid */
    content: "\f00d"; /* fa-xmark */
    color: var(--white);
    margin: var(--icon-spacing);
}

#continue::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* fa-solid */
    content: "\f00c"; /* fa-check */
    color: var(--white);
    margin: var(--icon-spacing);
}