<!-- START import_fileselect.html -->
<script type="text/javascript">
/* <![CDATA[ */
    function importUploaderCallback(callback) {
        if (typeof callback[0] !== 'undefined') {
            var uploaderField = $J('#importfile'),
                data       = callback[0].split('/'),
                fileName   = data.pop();
            uploaderField.val(fileName);
        }
    }
    $J(function(){
        $J('.uploader-button, .uploader-modal button.btn').click(function() {
            return false;
        });
    });
/* ]]> */
</script>

<form action="{IMPORT_ACTION}" method="post" enctype="multipart/form-data">
	<div class="infobox">{TXT_HELP}</div>
	<table class="adminlist splitview">
		<tr>
			<td>{TXT_CHOOSE_FILE}</td>
			<td><input type="text" name="importfile" value="" id="importfile" autocomplete="off" onfocus="this.select();">{IMPORT_UPLOADER_BUTTON}</td>
		</tr>
		<tr style="display: none;" id="csv_separator">
			<td>{TXT_SEPARATOR}</td>
			<td><input type="text" name="import_options_csv_separator" value=";" class="compact"><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_DESC_DELIMITER}</span></td>
		</tr>
		<tr style="display: none;" id="csv_enclosure">
			<td>{TXT_ENCLOSURE}</td>
			<td><input type="text" name="import_options_csv_enclosure" maxlength="1" value="&quot;" class="compact"><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_DESC_ENCLOSURE}</span></td>
		</tr>
		<!-- BEGIN additional -->
		<tr>
			<td>{IMPORT_ADD_NAME}</td>
			<td>{IMPORT_ADD_VALUE}<!-- BEGIN additional_tooltip --> <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{IMPORT_ADD_HELP}</span><!-- END additional_tooltip --></td>
		</tr>
		<!-- END additional -->
	</table>


<input type="hidden" value="{IMPORT_UPLOADER_ID}" name="importUploaderId">
<input type="submit" value="{TXT_IMPORT}" name="imported">
</form>
<!-- END import_fileselect.html -->
