*:has(>.senderAddress) {
    display: flex;
    align-items: center;
    height: 100%;
}
*:has(>.senderAddress) .label + span {
    margin-left: .5em;
    font-size: var(--font-size-smaller);
}
*:has(>.senderAddress) .label,
*:has(>.senderAddress) a {
    font-size: var(--font-size-smaller);
    display: flex;
    align-items: center;
    gap: .4em;
}
*:has(>.senderAddress) a {
    margin: var(--icon-spacing);
}
*:has(>.senderAddress) a img {
    height: 1em;
}
