<div id="mediadir">
    {MEDIADIR_JAVASCRIPT}
    <!-- BEGIN mediadirEntryOkMessage -->
    Eintrag erfolgreich gespeichert.
    <!-- END mediadirEntryOkMessage -->
    <!-- BEGIN mediadirEntrySaveOnlyMessage -->
    Ihr Eintrawurde erfolgreich gespeichert, ist aber noch nicht öffentlich einsehbar.<br />Um Ihr Eintragzu veröffentlichen, müssen Sie vor dem Speichervorgang die Option <strong>Freigeben</strong> auswählen.
    <!-- END mediadirEntrySaveOnlyMessage -->
    <!-- BEGIN mediadirEntryReadyToConfirmMessage -->
    Ihr Eintragwurde erfolgreich gespeichert und wird nun von der Administration geprüft.<br />Nach erfolgter Prüfung wird Ihr Eintrag öffentlich einsehbar sein.<br />Bitte beachten Sie dass die Prüfung einige Zeit in Anspruch nehmen kann.
    <!-- END mediadirEntryReadyToConfirmMessage -->
    <!-- BEGIN mediadirEntryErrMessage -->
    Bein Speichern trat ein Fehler auf. Bitte versuchen sie es erneut.
    <!-- END mediadirEntryErrMessage -->
    <!-- BEGIN mediadirEntryModifyForm -->
    <form enctype="multipart/form-data" method="post" onsubmit="{MEDIADIR_FORM_ONSUBMIT}" action="index.php?section=MediaDir&amp;cmd=add" name="entryModfyForm">
        <div class="table-responsive">
            <!-- BEGIN mediadirForms -->
            <table class="table" style="min-width: 400px;">
                <!-- BEGIN mediadirFormList -->
                <tr>
                    <td style="width: 1%;"><input type="radio" name="selectedFormId" value="{TXT_MEDIADIR_FORM_ID}" onclick="document.entryModfyForm.submit();"></td>
                    <td style="width: 30%;">{TXT_MEDIADIR_FORM_IMAGE_THUMB}</td>
                    <td style="width: 69%;"><h2>{TXT_MEDIADIR_FORM_TITLE}</h2>{TXT_MEDIADIR_FORM_DESCRIPTION}</td>
                </tr>
                <!-- END mediadirFormList -->
            </table>
            <!-- END mediadirForms -->
        </div>
        <!-- BEGIN mediadirInputfields -->
        <input type="hidden" value="{MEDIADIR_ENTRY_ID}" name="entryId" />
        <input type="hidden" value="{MEDIADIR_FORM_ID}" name="formId" />
        <input type="hidden" value="{MEDIADIR_UPLOADER_ID}" name="uploaderId" />
        <!-- BEGIN mediadirInputfieldElement -->
        <!-- BEGIN mediadirInputfieldList -->
        <p><label>{TXT_MEDIADIR_INPUTFIELD_NAME}</label>{MEDIADIR_INPUTFIELD_FIELD}</p>
        <!-- END mediadirInputfieldList -->
        <!-- BEGIN mediadirTranslationStatus -->
        <p>
            <label>{TXT_MEDIADIR_TRANSLATION_STATUS}</label>
            <span id="mediadirInputfield_TranslationStatus_list" style="display: block;">
                <!-- BEGIN mediadirTranslationLangList -->
                <input class="marketplaceInputfieldCheckbox" name="translationStatus[]" id="mediadirInputfield_TranslationStatus" value="{MEDIADIR_TRANSLATION_LANG_ID}" type="checkbox" {MEDIADIR_TRANSLATION_LANG_STATUS} />&nbsp;{TXT_MEDIADIR_TRANSLATION_LANG_NAME}<br>
                <!-- END mediadirTranslationLangList -->
            </span>
        </p>
        <!-- END mediadirTranslationStatus -->
        <!-- END mediadirInputfieldElement -->
        {MEDIADIR_READY_TO_CONFIRM}
        <!-- BEGIN mediadirCaptcha -->
        <label>{TXT_MODULE_CAPTCHA}</label>
        {MODULE_CAPTCHA_CODE}
        <!-- END mediadirCaptcha -->
        <p><input type="submit" class="btn btn-default" value="{TXT_MEDIADIR_SUBMIT}" name="submitEntryModfyForm" /></p>
        <div style="display: none;" class="text-danger" id="mediadirErrorMessage"><p>{TXT_MEDIADIR_PLEASE_CHECK_INPUT}</p></div>
        <!-- END mediadirInputfields -->
    </form>
    {MEDIADIR_UPLOADER_CODE}
    <!-- END mediadirEntryModifyForm -->
</div>
