<!-- START themes_create.html -->
<script>
document.addEventListener('DOMContentLoaded', (e) => {
    document.querySelector('input[name=dirName]').addEventListener(
        'change',
        (e) => {
            document.querySelector('input[name=dbName]').value = e.target.value;
        }
    );
});
</script>

<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=ViewManager&amp;act=templates" title="{TXT_THEMES_EDIT}">{TXT_THEMES_EDIT}</a></li>
        <li><a class="active" href="index.php?cmd=ViewManager&amp;act=newDir" title="{TXT_THEMES_CREATE}">{TXT_THEMES_CREATE}</a></li>
    <!-- BEGIN view_manager_import_navigation -->
    <li><a href="index.php?cmd=ViewManager&amp;act=import" title="{TXT_THEME_IMPORT}">{TXT_THEME_IMPORT}</a></li>
    <!-- END view_manager_import_navigation -->
  </ul>
</div>

<form name="create_dir" method="post" action="{CREATE_DIR_ACTION}">
  <table class="adminlist splitview">
    <caption>{TXT_NEW_DIRECTORY}</caption>
    <tr>
      <td>{TXT_DB_NAME}</td>
      <td><input type="text" name="dbName"></td>
    </tr>
    <tr>
      <td>{TXT_DIR_NAME}</td>
      <td>{TXT_DESCRIPTION}<input type="text" name="dirName"></td>
    </tr>
    <tr>
      <td>{TXT_FROM_TEMPLATE}</td>
      <td>
        <select name="fromTheme" size="1">
          <option value="" selected>-</option>{THEMES_TEMPLATE_MENU}
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="{TXT_CREATE}">
</form>
<!-- END themes_create.html -->
