<!-- START themes_content.html -->
<script>
    <!-- // confirm delete page

    $J(document).ready(function() {
        $J('.js-tree li a').bind('click', function(event) {
            var target = $J( event.target );
            if (target.is("img.theme_action_img")) {
                return false;
            }
            if ($J(this).hasClass('folder')) { // reload the theme page when user clicks the file
                return;
            }

            document.querySelector("#themesForm [name=themesPage]").value = $J(this).attr('data-rel');
            cx.vm.reloadThemesPage();
        });
        $J(".js-tree")
            .bind("loaded.jstree", function (event, data) {
                $J('.js-tree li > ins.jstree-icon').each(function(index, node) {
                    if (!$J(node).closest('li').find('> .jstree-wrapper').length) {
                        $wrap = $J('<div class="jstree-wrapper">');
                        $J(node).before($wrap);
                    }
                });
                if ($J(event.currentTarget).hasClass('theme-files')) {

                    $J(event.currentTarget).find('li a').each(function(key, val) {
                        var editImg;

                        if (!$J(this).hasClass('protected')) {
                            if ($J.inArray( $J.trim($J(this).text()), ['module', 'core', 'core_module'] ) === -1) {
                                editImg = $J('<span>')
                                            .addClass('theme_action rename')
                                            .html("<i class='fa-regular fa-pen-to-square'></i>")
                                            .click(function(e){
                                                e.stopPropagation();
                                                cx.vm.renameFile($J(this));
                                            });
                            }

                            var deleteImg = $J('<span>')
                                            .addClass('theme_action delete')
                                            .html("<i class='fa-regular fa-trash-can'></i>")
                                            .click(function() {
                                                cx.vm.deleteFiles($J(this));
                                                return false;
                                            });
                            $J(this).append(editImg);
                            $J(this).append(deleteImg);
                        }
                        if ($J(this).hasClass('reset')) {
                            var resetImg = $J('<span>')
                                            .addClass('theme_action reset')
                                            .html("<i class='fa-solid fa-clock-rotate-left'></i>")
                                            .click(function() {
                                                cx.vm.resetFiles($J(this));
                                            });
                            $J(this).append(resetImg);
                        }
                        $J(this).hover(
                            function() {
                                $J(this).closest('li').find('> .jstree-wrapper').addClass('hover');
                                $J(this).find('.theme_action').show();
                            }, function() {
                                $J(this).closest('li').find('> .jstree-wrapper').removeClass('hover');
                                $J(this).find('.theme_action').hide();
                            }
                        );
                    });
                    $J(window).trigger('resize');
                }
                const activeFileEl = document.getElementById("activeFile");
                if (activeFileEl) {
                    window.setTimeout(
                        function() {
                            activeFileEl.scrollIntoView({
                                behavior: "smooth",
                                block: "center",
                            });
                        },
                        200
                    );
                }
            })
            .jstree({
                "ui": {
                    "initially_select": ["activeFolder"]
                },
                "core": {
                    "animation": 1,
                    "initially_open": ["activeFolder"]
                }
            }).delegate(".jstree-open>a", "click.jstree", function(event) {
                $J.jstree._reference(this).close_node(this, false, false);
            }).delegate(".jstree-closed>a", "click.jstree", function(event) {
                $J.jstree._reference(this).open_node(this, false, false);
            });
    });

    function validateFileEncoding() {
        let url = new URL(document.location);
        url.pathname = url.pathname.replace("templates", "update");
        document.getElementById("theme_content").action = url.toString();
        if (!cx.variables.get('fileEncodingIsInvalid', 'ViewManager')) {
            return true;
        }

        return cx.ui.confirm('{VIEWMANAGER_STORE_INVALID_ENCODING}', 'warning');
    }
    // -->
</script>
<style>
    input{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .jstree-container .jstree ins {
        width: 11px;
    }
    .jstree-container .jstree ul li > ins {
        display: none;
    }
    .jstree-container .jstree-leaf a > ins {
        background-position: -39px 0;
    }
    .js-tree {
        width: auto;
        padding: 0 .4em;
    }
    .js-tree.jstree-focused {
        background: transparent;
    }
    .jstree li {
        float: none;
        display: block;
        line-height: 31px;
        white-space: nowrap;
        margin-left: 18px;
    }
    .jstree-container .js-tree > ul {
        position: relative;
    }

    li.jstree-open > ul {
        display: block;
        clear: both;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        margin-top: 0;
    }
    .jstree ul, .jstree li {
        display: block;
        list-style-type: none;
        padding: 0;
    }
    .js-tree .jstree-icon {
        clear: none;
        cursor: pointer;
        float: left;
        position: relative;
        margin-right: 0 !important;
    }
    .jstree-closed a .jstree-icon {
        display: block;
    }
    .jstree-default a .jstree-icon {
        background-position: -59px 0;
    }
    .jstree-open>a>.jstree-icon {
        background-position: -76px 0;
    }
    li.jstree-closed, li.jstree-leaf {
        height: 25px;
    }
    .jstree a {
        display: flex;
        gap: 3px;
        justify-content: flex-start;
        align-items: center;
        float: none;
        padding-left: 0;
        text-indent: 0;
        height: 24px;
    }
    .js-tree .jstree-wrapper.hover {
        background-color: #FFFFD6;
    }
    .jstree #activeFile, #activeFolder{
        color: #1a74bd;
        cursor: pointer;
        font-weight: bold;
    }

    .theme_action.rename {
        right: 18px;
    }
    .theme_action{
        float: right;
        position: absolute;
        right: 0;
        display: none;
    }
    .theme_action.delete>i {
        color: var(--red);
    }

    .js-tree ul {
        margin: 0;
    }
    .js-tree .jstree-wrapper {
        position: absolute;
        right: 0;
        height: 30px;
        z-index: auto;
        width: 100%;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    .instances_table {
        display: flex;
        gap: 1em;
        margin: 1em 0;
        align-items: stretch;
        flex-grow: 1;
        height: 100%;
        min-height: 200px;
    }

    :not(.instance_table ~ .instance_table).instance_table {
        min-width: 400px;
        max-width: 20%;
    }

    .instance_table:last-child {
        width: 70%;
    }

    .instance_table form {
        width: 100%;
        height: 100%;
    }

    .tabmenu {
        margin-top: 1em;
    }

    #themesForm {
        display: flex;
        flex-direction: column;
    }

    #themesForm .tab {
        overflow-y: scroll;
        flex-grow: 1;
        border: 1px solid var(--gray);
        padding: 0 0.4em;
    }

    #load-lock {
        position: absolute;
        opacity: 0.5;
        background-color: white;
        display: none;
        z-index: 500;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: #444;
    }

    #theme_content {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    #editor.fullScreen-editor {
        margin-top: 0;
    }

    #editor {
        height: 100%;
        font-size: 13px;
    }

    .content_image {
        margin-top: 15px;
        font-size: 13px;
    }

    .editor-area {
        flex-grow: 1;
    }

    table.adminlist tr td.editor-area .alertbox {
        margin-top: 15px;
        font-weight: bold;
    }

    .ace_editor {
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        width: 80%;
        position: relative !important
    }

    .fullScreen .fullScreen-editor{
        height: auto!important;
        width: auto!important;
        border: 0;
        margin: 0;
        position: fixed !important;
        /* This should be more if some maintenance or info bar is shown */
        top: var(--header-height);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1001
    }

    .fullScreen {
        overflow: hidden
    }
</style>

<div class="instances_table">
    <div class="instance_table">
        <form id="themesForm" name="themesForm" action="/cadmin/ViewManager/templates" method="get">
            <div>
                <select name="themes" size="0">
                    {THEMES_MENU}
                </select>
                <a href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" class="themePreview"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
            <ul class="tabmenu" data-tablist="default">
                <li>
                    <a href="#" data-tablink="files">
                        {TXT_FILES}
                    </a>
                </li>
                <li>
                    <a href="#" data-tablink="templates">
                        {TXT_DESIGN_APPLICATION_TEMPLATE}
                    </a>
                </li>
            </ul>
            <div class="tab files adminlist" data-tablist="default">
                <div class="caption">
                    <div class="functions">
                        <a href="javascript:void(0);" class="file new" title="{TXT_THEME_NEW_FILE}">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </a>
                        <a href="javascript:void(0);" class="folder new" title="{TXT_THEME_NEW_FOLDER}">
                            <i class="fa-solid fa-folder-plus"></i>
                        </a>
                        <!-- BEGIN view_manager_import_navigation -->
                        <a href="/cadmin/ViewManager/import" title="{TXT_THEME_IMPORT}">
                            <i class="fa-solid fa-file-import"></i>
                        </a>
                        <!-- END view_manager_import_navigation -->
                        <a href="/cadmin/ViewManager/newDir" title="{TXT_THEMES_CREATE}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="jstree-container">
                    <div class="js-tree theme-files">
                        {THEME_FILES_TAB}
                    </div>
                </div><br>
                <input type="hidden" name="themesPage" id="themesPage" value="{THEMES_SELECTED_PAGENAME}">
            </div>
            <div class="tab templates adminlist" data-tablist="default">
                <div class="caption">
                    <div class="functions">
                        <!-- BEGIN view_manager_import_navigation -->
                        <a href="/cadmin/ViewManager/import" title="{TXT_THEME_IMPORT}">
                            <i class="fa-solid fa-file-import"></i>
                        </a>
                        <!-- END view_manager_import_navigation -->
                        <a href="/cadmin/ViewManager/newDir" title="{TXT_THEMES_CREATE}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="jstree-container">
                    <div class="js-tree">
                        {THEME_OVERRIDE_TAB}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- BEGIN theme_editor -->
    <form class="instance_table" name="themesForm2" id="theme_content" method="post" action="/cadmin/ViewManager/update" onsubmit="return validateFileEncoding()">
        {TXT_THEME_EDIT_FILE}: {THEME_EDIT_PATH}
        <div class="editor-area">
            <input type="hidden" name="themes" value="{THEME_SELECTED_THEME}">
            <input type="hidden" name="themesPage" value="{THEMES_SELECTED_PAGENAME}">
            <textarea id="editorContent" name="content" style="display: none;">{CONTENT_HTML}</textarea>

            <!-- BEGIN viewmanager_invalid_encoding -->
            <div class="alertbox">{VIEWMANAGER_INVALID_FILE_ENCODING}</div>
            <!-- END viewmanager_invalid_encoding -->

            <!-- BEGIN template_content -->
            <pre id="editor" style="width:100%;">{CONTENT_HTML}</pre>
            <!-- END template_content -->

            <!-- BEGIN template_image -->
            <div class="content_image"><img src="{THEMES_CONTENT_IMAGE_PATH}" alt="image"></div>
            <!-- END template_image -->
        </div>
        <div>
            <!-- BEGIN file_actions_bottom -->
            <input type="hidden" value='{THEME_IS_APPLICATION}' name="is_application">
            <input type="reset" value='{TXT_RESET}' name="Reset">
            <input type=button value='{TXT_SELECT_ALL}' class="select_all">
            <!-- BEGIN file_editor_fullscreen -->
            <input type="button" title="{TXT_THEME_FULLSCREEN_INFO}" class="fullscreen" value="{TXT_THEME_FULLSCREEN}">
            <!-- END file_editor_fullscreen -->
            <input type="submit" value='{TXT_STORE}' name="Submit">
            <!-- END file_actions_bottom -->
        </div>
    </form>
    <!-- END theme_editor -->
</div>
<!-- END themes_content.html -->
