<!-- start skins_settings.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=ViewManager&amp;act=settings" class="{CORE_VIEWMANAGER_SUBNAV_MANAGE}" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=ViewManager&amp;act=settings&amp;tpl=examples" class="{CORE_VIEWMANAGER_SUBNAV_EXAMPLES}" title="{TXT_CORE_PLACEHOLDERS}">{TXT_CORE_PLACEHOLDERS}</a></li>
  </ul>
</div>
{SETTINGS_CONTENT}
<!-- end skins_settings.html -->
