<!-- START themes_activate.html -->
<form name="themesFormAssign" method="post" action="index.php?cmd=ViewManager&amp;act=settings&amp;tpl=activate">
    <table class="adminlist no-functions">
        <caption>{TXT_ACTIVATE_DESIGN}</caption>
        <tr>
            <th>{TXT_ID}</th>
            <th>{TXT_LANGUAGE}</th>
            <th>{TXT_ACTIVE_TEMPLATE}</th>
            <th>{TXT_ACTIVE_MOBILE_TEMPLATE}</th>
            <th>{TXT_ACTIVE_PRINT_TEMPLATE}</th>
            <th>{TXT_ACTIVE_PDF_TEMPLATE}</th>
            <th>{TXT_ACTIVE_APP_TEMPLATE}</th>
        </tr>
        <!-- BEGIN themesLangRow -->
        <tr class="{THEMES_ROWCLASS}">
            <td><code>{THEMES_LANG_ID}</code></td>
            <td>{THEMES_LANG_NAME}&nbsp;|&nbsp;{THEMES_LANG_SHORTNAME}</td>
            <td>
                <select name="themesId[{THEMES_LANG_ID}]">
                    {THEMES_TEMPLATE_MENU}
                </select>
            </td>
            <td>
                <select name="mobileThemesId[{THEMES_LANG_ID}]">
                    {THEMES_MOBILE_TEMPLATE_MENU}
                </select>
            </td>
            <td>
                <select name="printThemesId[{THEMES_LANG_ID}]">
                    {THEMES_PRINT_TEMPLATE_MENU}
                </select>
            </td>
            <td>
                <select name="pdfThemesId[{THEMES_LANG_ID}]">
                    {THEMES_PDF_TEMPLATE_MENU}
                </select>
            </td>
            <td>
                <select name="appThemesId[{THEMES_LANG_ID}]">
                    {THEMES_APP_TEMPLATE_MENU}
                </select>
            </td>
        </tr>
        <!-- END themesLangRow -->
    </table>
    <input type="submit" name="submit" value="{TXT_SAVE}">
</form>
<!-- END themes_activate.html -->
