<!-- START skins_examples.html -->
<div id="placeholder-list">
    <div class="infobox">{TXT_PLACEHOLDER_DIRECTORY_DESCRIPTION}</div>
    <table class="adminlist splitview">
        <tr>
            <th>{TXT_PLACEHOLDER_DIRECTORY}</th>
            <th>{TXT_REPLACEMENT_LIST}</th>
        </tr>
        <tr>
            <td>{TXT_FILES}</td>
            <td>
                <code>[[JAVASCRIPT_FILE]]</code><br>
                <code>[[BUILDIN_STYLE_FILE]]</code><br>
                <code>[[CONTENT_FILE]]</code><br>
                <code>[[NAVBAR_FILE]]</code><br>
                <code>[[SUBNAVBAR_FILE]]</code><br>
                <code>[[SHOPNAVBAR_FILE]]</code><br>
                <code>[[SIDEBAR_FILE]]</code><br>
                <code>[[EVENTS_FILE]]</code><br>
                <code>[[HEADLINES_FILE]]</code><br>
                <code>[[JAVASCRIPT]]</code>
            </td>
        </tr>
        <tr>
            <td>{TXT_CONTENTS}</td>
            <td>
                <code>[[TITLE]]</code><br>
                <code>[[GLOBAL_TITLE]]</code><br>
                <code>[[METATITLE]]</code><br>
                <code>[[NAVTITLE]]</code><br>
                <code>[[METAKEYS]]</code><br>
                <code>[[METADESC]]</code><br>
                <code>[[METAIMAGE]]</code><br>
                <code>[[METAROBOTS]]</code><br>
                <code>[[NAVTREE]]</code><br>
                <code>[[ONLINE_USERS]]</code><br>
                <code>[[PARSING_TIME]]</code><br>
                <code>[[PAGE_URL]]</code><br>
                <code>[[CURRENT_URL]]</code><br>
                <code>[[RANDOM]]</code><br>
                <code>[[VERSION]]</code><br>
                <code>[[ACTIVE_LANGUAGE_NAME]]</code><br>
                <code>[[CHARSET]]</code><br>
                <code>[[CSS_NAME]]</code><br>
                <code>[[COUNTER]]</code><br>
                <code>[[CONTENT_TITLE]]</code><br>
                <code>[[CONTENT_TEXT]]</code><br>
                <code>[[DATE]]</code><br>
                <code>[[TIME]]</code><br>
                <code>[[LANGUAGE_NAVBAR]]</code><br>
                <code>[[LOGGING_STATUS]]</code><br>
                <code>[[XING_SHARE]]</code><br>
                <code>[[FACEBOOK_LIKE_IFRAME]]</code><br>
                <code>[[GOOGLE_PLUSONE]]</code><br>
                <code>[[GOOGLE_ANALYTICS]]</code>
            </td>
        </tr>
        <tr>
            <td>{TXT_CONTACT}</td>
            <td>
                <code>[[CONTACT_EMAIL]]</code><br>
                <code>[[CONTACT_COMPANY]]</code><br>
                <code>[[CONTACT_ADDRESS]]</code><br>
                <code>[[CONTACT_ZIP]]</code><br>
                <code>[[CONTACT_PLACE]]</code><br>
                <code>[[CONTACT_COUNTRY]]</code><br>
                <code>[[CONTACT_PHONE]]</code><br>
                <code>[[CONTACT_FAX]]</code><br>
                <code>[[CONTACT_NAME]]</code>
            </td>
        </tr>
        <tr>
            <td>{TXT_CHANNELS}</td>
            <td>
                <code>[[STANDARD_URL]]</code>
                <a href="{CONTREXX_BASE_URL}?smallscreen=0" target="_blank">{CONTREXX_BASE_URL}?smallscreen=0</a><br>
                <code>[[MOBILE_URL]]</code>
                <a href="{CONTREXX_BASE_URL}?smallscreen=1" target="_blank">{CONTREXX_BASE_URL}?smallscreen=1</a><br>
                <code>[[PRINT_URL]]</code>
                <a href="{CONTREXX_BASE_URL}?printview=1" target="_blank">{CONTREXX_BASE_URL}?printview=1</a><br>
                <code>[[PDF_URL]]</code>
                <a href="{CONTREXX_BASE_URL}?pdfview=1" target="_blank">{CONTREXX_BASE_URL}?pdfview=1</a><br>
                <code>[[APP_URL]]</code>
                <a href="{CONTREXX_BASE_URL}?appview=1" target="_blank">{CONTREXX_BASE_URL}?appview=1</a>
            </td>
        </tr>
        <tr>
            <td>{TXT_MODULE_URLS}</td>
            <td>
                <code>[[NODE_AGB]]</code><br>
                <code>[[NODE_HOME]]</code><br>
                <code>[[NODE_IMPRINT]]</code><br>
                <code>[[NODE_LOGIN]]</code><br>
                <code>[[NODE_NEWS]]</code><br>
                <code>[[NODE_PRIVACY]]</code><br>
                <code>[[NODE_SITEMAP]]</code><br>
                <code>[[NODE_SEARCH]]</code>
            </td>
        </tr>
    </table>
</div>
<!-- END skins_examples.html -->
