<!-- BEGIN overview -->
<h1>{TXT_CORE_MODULE_DATAACCESS_CONGRATULATIONS}</h1>
<p>{TXT_CORE_MODULE_DATAACCESS_SUCCESSFUL_CREATION}</p>
<p>{TXT_CORE_MODULE_DATAACCESS_EXAMPLE_TEMPLATE}</p>
<!-- END overview -->
<!-- BEGIN entity_view -->
{ENTITY_VIEW}
<!-- END entity_view -->
<!-- BEGIN mailing -->
{MAILING}
<!-- END mailing -->
