<div id="splash">
    <div id="splash-text">
        <h1>{TXT_CORE_MODULE_DATAACCESS}</h1>
        <p>{TXT_CORE_MODULE_DATAACCESS_DESCRIPTION}</p>
        <!-- BEGIN component_introduction_image -->
        <img src="{COMPONENT_INTRODUCTION_IMAGE_SRC}" alt="{COMPONENT_INTRODUCTION_IMAGE_SRC}">
        <!-- END component_introduction_image -->
        <p>{TXT_CORE_MODULE_DATAACCESS_INTRODUCTION}</p>
    </div>
    <!-- BEGIN component_docs -->
    <div id="splash-docs" class="box">
        <h2>{TXT_CORE_CORE_DOCUMENTATION}</h2>
        <ul>
            <!-- BEGIN component_docs_enduser -->
            <li>
                <a href="{COMPONENT_ENDUSER_DOCUMENTATION_URL}" target="_blank">
                    {TXT_CORE_CORE_ENDUSER_DOCUMENTATION}
                </a>
            </li>
            <!-- END component_docs_enduser -->
            <!-- BEGIN component_docs_developer -->
            <li>
                <a href="{COMPONENT_DEVELOPER_DOCUMENTATION_URL}" target="_blank">
                    {TXT_CORE_CORE_DEVELOPER_DOCUMENTATION}
                </a>
            </li>
            <!-- END component_docs_developer -->
        </ul>
        <div class="icon"></div>
    </div>
    <!-- END component_docs -->
</div>
