<div id="newsletter">
  <!-- BEGIN messages -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
  <!-- END messages -->
  <!-- BEGIN confirmation -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('form#subscribe').submit();
    });
  </script>
  <form id="subscribe" action="#" method="post" style="display: none;">
    <input type="hidden" name="email" value="" />
   <input type="hidden" name="code" value="" />
   <input type="hidden" name="category" value="" />
    <!-- The submit button won't be included on automatic submission -->
    <input type="hidden" name="subscribe" />
  </form>
  <script>
    // Prepare the form *before* DOMContentLoaded
    (() => {
      // Parameters without value are added to the object as empty strings
      const parameters = Object.fromEntries(
        new URLSearchParams(location.search)
      );
      document.querySelector('form#subscribe').setAttribute(
        'action',
        location.origin + location.pathname
      );
      document.querySelector('input[name=email]').setAttribute(
        'value',
        parameters.email
      );
      document.querySelector('input[name=code]').setAttribute(
        'value',
        parameters.code
      );
      document.querySelector('input[name=category]').setAttribute(
        'value',
        parameters.category ?? ''
      );
    })();
  </script>
  <!-- END confirmation -->
</div>
