<div id="newsletter">
  <!-- BEGIN messages -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
  <!-- END messages -->
  <!-- BEGIN autoSubmit -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('form#unsubscribe').submit();
    });
  </script>
  <p>{TXT_MODULE_NEWSLETTER_UNSUBSCRIBE_PROCESSING}</p>
  <!-- END autoSubmit -->
  <!-- BEGIN manualSubmit -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('form#unsubscribe').style.display = '';
    });
  </script>
  <p>{TXT_MODULE_NEWSLETTER_UNSUBSCRIBE_INFO}</p>
  <!-- END manualSubmit -->
  <!-- BEGIN confirmation -->
  <form id="unsubscribe" action="#" method="post" style="display: none;">
    <input type="hidden" name="mail" value="" />
    <input type="hidden" name="code" value="" />
    <!-- The submit button won't be included on automatic submission -->
    <input type="hidden" name="unsubscribe" />
    <input type="submit" name="unsubscribe"
           value="{TXT_MODULE_NEWSLETTER_UNSUBSCRIBE_CONFIRM}" />
  </form>
  <script>
    // Prepare the form *before* DOMContentLoaded
    (() => {
      // Parameters without value are added to the object as empty strings
      const parameters = Object.fromEntries(
        new URLSearchParams(location.search)
      );
      document.querySelector('form#unsubscribe').setAttribute(
        'action',
        location.origin + location.pathname
      );
      document.querySelector('input[name=mail]').setAttribute(
        'value',
        parameters.mail
      );
      document.querySelector('input[name=code]').setAttribute(
        'value',
        parameters.code
      );
    })();
  </script>
  <!-- END confirmation -->
</div>
