<div id="cookie-note">
    <p>{TXT_PRIVACY_COOKIE_NOTE_TEXT}</p>
    <p>
        {TXT_PRIVACY_COOKIE_NOTE_PRE_LINK}
        <a href="{NODE_PRIVACY}">{TXT_PRIVACY_COOKIE_NOTE_LINK}</a>
        {TXT_PRIVACY_COOKIE_NOTE_POST_LINK}
    </p>
    <button type="button" id="cookie-note-ok">{TXT_PRIVACY_COOKIE_NOTE_BUTTON}</button>
</div>

