<!-- START gallery_settings.html -->
<form name="newcat" method="post" action="?cmd=Gallery&amp;act=save_settings">
  <table class="adminlist splitview">
    <caption>{TXT_TITLE}</caption>
    <tr>
      <td>{TXT_SETTINGS_IMAGENAME_SHOW}</td>
      <td><input type="checkbox" name="show_names" value="on" {SETTINGS_VALUE_SHOW_NAMES}></td>
    </tr>
    <tr>
      <td>{TXT_GALLERY_SHOW_FILE_NAME}</td>
      <td>
        <input type="checkbox" id="show_file_name" name="show_file_name" value="on" {SETTINGS_VALUE_SHOW_FILE_NAME}>
      </td>
    </tr>
    <tr data-depends="show_file_name">
      <td>{TXT_SETTINGS_IMAGENAME_EXT_SHOW}</td>
      <td>
        <input type="checkbox" name="show_ext" value="on" {SETTINGS_VALUE_SHOW_EXT}>
      </td>
    </tr>
    <tr>
      <td>{TXT_IMAGE_SIZE_SHOW}</td>
      <td><input type="checkbox" name="show_image_size" value="on" {SETTINGS_VALUE_SHOW_IMAGE_SIZE}></td>
    </tr>
    <!-- new -->
    <tr>
      <td>{TXT_SETTINGS_HEADER_TYPE}</td>
      <td>
        <input id="header_type_hierarchy" type="radio" name="header_type" value="hierarchy" {SETTINGS_VALUE_HEADER_HIERARCHY}>
        <label for="header_type_hierarchy">{TXT_SETTINGS_HEADER_HIERARCHY}</label><br>
        <input id="header_type_flat" type="radio" name="header_type" value="flat" {SETTINGS_VALUE_HEADER_FLAT}>
        <label for="header_type_flat">{TXT_SETTINGS_HEADER_FLAT}</label>
      </td>
    </tr>
    <!-- new -->
    <tr>
      <td>{TXT_SETTINGS_COMMENTS_SHOW}</td>
      <td><input type="checkbox" name="show_comments" value="on" {SETTINGS_VALUE_SHOW_COMMENTS}></td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_VOTING_SHOW}</td>
      <td><input type="checkbox" name="show_voting" value="on" {SETTINGS_VALUE_SHOW_VOTING}></td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_LAST_SHOW}</td>
      <td><input type="checkbox" name="show_latest" value="on" {SETTINGS_VALUE_SHOW_LATEST}></td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_RANDOM_SHOW}</td>
      <td><input type="checkbox" name="show_random" value="on" {SETTINGS_VALUE_SHOW_RANDOM}></td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_VALIDATION_TYPE}</td>
      <td>
        <input id="validation_standard_type_all" type="radio" name="validation_standard_type" value="all" {SETTINGS_VALUE_VALIDATION_TYPE_ALL}>
        <label for="validation_standard_type_all">{TXT_SETTINGS_VALIDATION_ALL}</label>
        <input id="validation_show_limit" type="number" name="validation_show_limit" value="{SETTINGS_VALUE_VALIDATION_SHOW_LIMIT}" class="compact">
        <label for="validation_show_limit">{TXT_SETTINGS_VALIDATION_LIMIT}</label><br>
        <input id="validation_standard_type_single" type="radio" name="validation_standard_type" value="single" {SETTINGS_VALUE_VALIDATION_TYPE_SINGLE}>
        <label for="validation_standard_type_single">{TXT_SETTINGS_VALIDATION_SINGLE}</label>
      </td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_THUMB_TYPE}</td>
      <td>
        <input id="standard_size_type_abs" type="radio" name="standard_size_type" value="abs" {SETTINGS_VALUE_THUMB_TYPE_ABS}>
        <label for="standard_size_type_abs">{TXT_SETTINGS_THUMB_ABS}:</label>
        <input id="standard_width_abs" type="number" name="standard_width_abs" value="{SETTINGS_VALUE_STANDARD_WIDTH_ABS}" class="compact">
        <label for="standard_width_abs">{TXT_SETTINGS_THUMB_ABS_WIDTH}</label>
        <input id="standard_height_abs" type="number" name="standard_height_abs" value="{SETTINGS_VALUE_STANDARD_HEIGHT_ABS}" class="compact">
        <label for="standard_height_abs">{TXT_SETTINGS_THUMB_ABS_HEIGHT}</label><br>
        <input id="standard_size_type_proz" type="radio" name="standard_size_type" value="proz" {SETTINGS_VALUE_THUMB_TYPE_PROZ}>
        <label for="standard_size_type_proz">{TXT_SETTINGS_THUMB_PROZ}:</label>
        <input id="standard_size_proz_desc" type="number" name="standard_size_proz" value="{SETTINGS_VALUE_STANDARD_SIZE_PROZ}" class="compact">
        <label for="standard_size_proz_desc">{TXT_SETTINGS_THUMB_PROZ_DESC}</label>
      </td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_QUALITY}</td>
      <td>
        <input id="standard_quality" type="number" name="standard_quality" value="{SETTINGS_VALUE_STANDARD_QUALITY}" class="compact">
        <label for="standard_quality">{TXT_STANDARD_QUALITY_UPLOADED_PICS}</label><br>
        <input id="quality" type="number" name="quality" value="{SETTINGS_VALUE_QUALITY}" class="compact" min="1" max="100">
        <label for="quality">{TXT_GALLERY_QUALITY}</label>
      </td>
    </tr>
    <tr>
      <td>{TXT_GALLERY_SETTINGS_POPUP_ENABLED}</td>
      <td>
        <input type="checkbox" id="enable_popups" name="enable_popups" value="on" {SETTINGS_VALUE_ENABLE_POPUPS}>
      </td>
    </tr>
    <tr data-depends="enable_popups">
      <td>{TXT_GALLERY_SETTINGS_POPUP_MODE}</td>
      <td>
        <input id="slide_show" type="radio" name="slide_show" value="slideshow" {SETTINGS_VALUE_SLIDE_SHOW}>
        <label for="slide_show">{TXT_GALLERY_SLIDE_SHOW}:</label>
        <input id="slide_show_seconds" type="number" name="slide_show_seconds" value="{SETTINGS_VALUE_SLIDE_SHOW_SECONDS}" class="compact">
        <label for="slide_show_seconds">{TXT_GALLERY_SLIDE_SHOW_SECONDS}</label><br>
        <input id="single_image_view" type="radio" name="slide_show" value="normal" {SETTINGS_VALUE_NORMAL_VIEW}>
        <label for="single_image_view">{TXT_GALLERY_SINGLE_IMAGE_VIEW}</label>
      </td>
    </tr>
    <tr>
      <td>{TXT_GALLERY_SETTINGS_IMAGE_WIDTH}</td>
      <td>
        <input id="image_width" type="number" name="image_width" value="{SETTINGS_VALUE_IMAGE_WIDTH}" class="compact">
        <label for="image_width">{TXT_GALLERY_PIXEL}</label></td>
    </tr>
    <tr>
      <td>{TXT_GALLERY_SETTINGS_PAGING}</td>
      <td><input type="number" name="paging" value="{SETTINGS_VALUE_PAGING}" class="compact"></td>
    </tr>
  </table>
  <input type="submit" value="{TXT_BUTTON_SUBMIT}">
</form>
<!-- END gallery_settings.html -->
