<!-- START gallery_overview.html -->
<script>
  // <![CDATA[
  function deleteCategory(catId){
    if(confirm('{TXT_DELETE_CATEGORY_MSG}'))
      window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=delete_category&id="+catId);
  }

  function finishedGalleryUpload(response) {
    if (response.length < 1) return;
    document.location.href = "/cadmin/Gallery/validate_form?csrf=" + cx.variables.get("csrf", "contrexx");
  }
  // ]]>
</script>
<form name="frmShowGallery" method="post" action="?cmd=Gallery&amp;act=sort_categories">
  <table class="adminlist">
      <caption>
          <div class="functions">
              <a href="/cadmin/Gallery/import_picture" title="{TXT_GALLERY_MENU_IMPORT}">
                  <i class="fa-solid fa-file-import"></i>
              </a>
              <!-- BEGIN upload -->
              {COMBO_UPLOADER_CODE}
              <!-- END upload -->
              <a href="/cadmin/Gallery/new_cat" title="{TXT_GALLERY_MENU_NEW_CATEGORY}">
                  <i class="fa-solid fa-plus"></i>
              </a>
          </div>
      </caption>
    <tr>
      <th>{TXT_STATUS}</th>
      <th>{TXT_GALLERY_ORDER}</th>
      <th>{TXT_NAME}</th>
      <th>{TXT_DESC}</th>
      <th>{TXT_IMAGECOUNT}</th>
      <th>{TXT_SPACE}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN showCategories -->
    <tr class="row{OVERVIEW_ROWCLASS}">
      <td><a href="?cmd=Gallery&amp;act=activate_category&amp;id={OVERVIEW_ID}" target="_self"><img src="/core/Core/View/Media/icons/{OVERVIEW_ICON}.gif" alt=""></a></td>
      <td><input type="number" name="sortingSystem{OVERVIEW_ID}" value="{OVERVIEW_SORTING}" maxlength="5" class="compact"></td>
      <td>{OVERVIEW_SUBCATEGORY}<a href="?cmd=Gallery&amp;act=cat_details&amp;id={OVERVIEW_ID}">{OVERVIEW_NAME}</a></td>
      <td>{OVERVIEW_DESCRIPTION}</td>
      <td>{OVERVIEW_COUNT_IMAGES}</td>
      <td>{OVERVIEW_IMAGE_SIZE} kB</td>
      <td>
        <div {OVERVIEW_ACTION_DISPLAY}>
          <a href="?cmd=Gallery&amp;act=edit_category&amp;id={OVERVIEW_ID}" target="_self" title="{TXT_IMG_EDIT_ALT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:deleteCategory({OVERVIEW_ID});" target="_self" title="{TXT_IMG_DEL_ALT}"><i class="fa-regular fa-trash-can"></i></a>
        </div>
      </td>
    </tr>
    <!-- END showCategories -->
  </table>
  <input type="submit" value="{TXT_BUTTON_SAVESORT}">
</form>
<!-- END gallery_overview.html -->
