<!-- START gallery_edit_image.html -->
<script>
  function deleteComment(cId)
{
    if(confirm('{TXT_COMMENT_DELETE_JS}'))
    {
      window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=delete_comment&id={VALUE_ID}&comId="+cId);
    }
  }
  function deleteVote(vId)
{
    if(confirm('{TXT_VOTING_DELETE_JS}'))
    {
      window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=delete_vote&id={VALUE_ID}&voteId="+vId);
    }
  }
  function selectCommentMultiAction()
{
    with (document.frmShowComments)
  {
      switch (frmShowComments_MultiAction.value) {
        case 'delete':
          if (confirm('{TXT_COMMENT_DELETE_ALL_JS}')) {
            submit();
          }
          break;
        default: //do nothing

      }
    }
  }
  function selectVotingMultiAction()
{
    with (document.frmShowVotes)
  {
      switch (frmShowVotes_MultiAction.value) {
        case 'delete':
          if (confirm('{TXT_COMMENT_DELETE_ALL_JS}')) {
            submit();
          }
          break;
        default: //do nothing

      }
    }
  }
  function showOrHide(strElement) {
    if (document.getElementById(strElement).style.display == 'none') {
      document.getElementById(strElement).style.display = 'block';
    } else {
      document.getElementById(strElement).style.display = 'none';
    }
  }
  function copyText(strType) {
    for (var h=0; h < document.forms.length;h++) {
      for (var i=0; i < document.forms[h].elements.length;i++) {
        //read out all form-elements with the loop
        if(document.forms[h].elements[i].name.search(strType) != -1) {
          if (strType == 'pictureDesc_') {
            document.forms[h].elements[i].value = document.editImage.pictureLinkName.value;
          } else {
            document.forms[h].elements[i].value = document.editImage.pictureName.value;
          }
        }
      }
    }
  }
</script>

<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="editImageTab_Settings" href="#">{TXT_TAB_SETTINGS}</a></li>
  <!-- BEGIN tabComment -->
  <li><a data-tablink="editImageTab_Comments" href="#">{TXT_TAB_COMMENTS}</a></li>
  <!-- END tabComment -->
  <!-- BEGIN tabVoting -->
  <li><a data-tablink="editImageTab_Votes" href="#">{TXT_TAB_VOTES}</a></li>
  <!-- END tabVoting -->
</ul>
<div class="tab editImageTab_Settings" data-tablist="default">
  <form name="editImage" method="post" action="?cmd=Gallery&amp;act=update_picture&amp;id={VALUE_ID}">
    <table class="adminlist splitview">
      <caption>{TXT_TITLE}</caption>
      <tr>
        <td>{TXT_IMAGENAME}</td>
        <td>
          <input name="pictureName" type="text" onchange="copyText('pictureName_');" value="{VALUE_NAME}" size="100" maxlength="255">
          <a href="javascript:showOrHide('divLang_Name');">{TXT_EXTENDED}</a>
          <div id="divLang_Name" style="display: none;">
            <!-- BEGIN showNameFields -->
            <input id="pictureName_{NAMEFIELDS_LID}" name="pictureName_{NAMEFIELDS_LID}" type="text" value="{NAMEFIELDS_VALUE}" size="100">
            <label for="pictureName_{NAMEFIELDS_LID}">{NAMEFIELDS_LANGUAGE}</label><br>
            <!-- END showNameFields -->
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_IMAGELINKNAME}</td>
        <td>
          <input name="pictureLinkName" type="text" onchange="copyText('pictureDesc_');" value="{VALUE_LINKNAME}" size="100"><span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_LINKNAME_HELP}</span>
          <a href="javascript:showOrHide('divLang_Desc');">{TXT_EXTENDED}</a>
          <div id="divLang_Desc" style="display: none;">
            <!-- BEGIN showDescFields -->
            <input id="pictureDesc_{DESCFIELDS_LID}" name="pictureDesc_{DESCFIELDS_LID}" type="text" value="{DESCFIELDS_VALUE}" size="100">
            <label for="pictureDesc_{DESCFIELDS_LID}">{DESCFIELDS_LANGUAGE}</label><br>
            <!-- END showDescFields -->
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_IMAGELINK}</td>
        <td><input type="text" name="pictureLink" value="{VALUE_LINK}" size="100"><span class="tooltip-trigger icon-warning"></span><span class="tooltip-message">{TXT_LINKNAME_HELP}</span></td>
      </tr>
      <!-- BEGIN showImageSize -->
      <tr>
        <td>{TXT_SIZESHOW}</td>
        <td><input type="checkbox" name="pictureSizeShow" {VALUE_SIZESHOW_CHECKED}></td>
      </tr>
      <!-- END showImageSize -->
      <tr>
        <td colspan="2"><img src="{VALUE_THUMB_PATH}" alt=""></td>
      </tr>
    </table>
    <input type="submit" value="{TXT_BUTTON_SUBMIT}">
  </form>
</div>

<div class="tab editImageTab_Comments" data-tablist="default">
  <form name="frmShowComments" method="POST" action="?cmd=Gallery&amp;act=comment_actions&amp;tab-default=editImageTab_Comments&amp;id={VALUE_ID}">
    <table class="adminlist">
      <caption>{COMMENTS_COUNT} {TXT_COMMENT_TITLE}</caption>
      <!-- BEGIN showComments -->
      <tr class="row{COMMENTS_ROWCLASS}">
        <td><input type="checkbox" name="selectedCommentsId[]" id="selectedCommentsId" value="{COMMENTS_ID}"></td>
        <td>{COMMENTS_DATE}</td>
        <td>{COMMENTS_IP}</td>
        <td>{COMMENTS_NAME}</td>
        <td><a href="mailto:{COMMENTS_EMAIL}">{COMMENTS_EMAIL}</a></td>
        <td><a href="{COMMENTS_WWW}" target="_blank">{COMMENTS_WWW}</a></td>
        <td>{COMMENTS_TEXT}</td>
        <td>
          <a href="?cmd=Gallery&amp;act=edit_comment&amp;id={COMMENTS_ID}" target="_self" title="{TXT_COMMENT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:deleteComment({COMMENTS_ID})" target="_self" title="{TXT_COMMENT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
      </tr>
      <!-- END showComments -->
    </table>
    <ul class="bulk-functions">
      <li><a href="#" onclick="changeCheckboxes('frmShowComments','selectedCommentsId[]',true); return false;">{TXT_COMMENT_SELECT_ALL}</a></li>
      <li><a href="#" onclick="changeCheckboxes('frmShowComments','selectedCommentsId[]',false); return false;">{TXT_COMMENT_DESELECT_ALL}</a></li>
      <li>
        <select name="frmShowComments_MultiAction" onchange="selectCommentMultiAction();">
          <option value="0">{TXT_COMMENT_SELECT_ACT}</option>
          <option value="delete">{TXT_COMMENT_DELETE_ALL}</option>
        </select>
      </li>
    </ul>
  </form>
</div>

<div class="tab editImageTab_Votes" data-tablist="default">
  <form name="frmShowVotes" method="POST" action="?cmd=Gallery&amp;act=voting_actions&amp;tab-default=editImageTab_Votes&amp;id={VALUE_ID}">
    <table class="adminlist">
      <caption>{VOTING_COUNT} {TXT_VOTING_TITLE}, &Oslash; {VOTING_AVERAGE}</caption>
      <!-- BEGIN showVotes -->
      <tr class="row{VOTES_ROWCLASS}">
        <td><input type="checkbox" name="selectedVotesId[]" id="selectedVotesId" value="{COMMENTS_ID}"></td>
        <td>{VOTES_DATE}</td>
        <td>{VOTES_IP}</td>
        <td>{VOTES_MARK}</td>
        <td><a href="javascript:deleteVote({VOTES_ID})" target="_self" title="{TXT_VOTING_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
      </tr>
      <!-- END showVotes -->
    </table>
    <ul class="bulk-functions">
      <li><a href="#" onclick="changeCheckboxes('frmShowVotes','selectedVotesId[]',true); return false;">{TXT_COMMENT_SELECT_ALL}</a></li>
      <li><a href="#" onclick="changeCheckboxes('frmShowVotes','selectedVotesId[]',false); return false;">{TXT_COMMENT_DESELECT_ALL}</a></li>
      <li>
        <select name="frmShowVotes_MultiAction" onchange="selectVotingMultiAction();">
          <option value="0">{TXT_COMMENT_SELECT_ACT}</option>
          <option value="delete">{TXT_COMMENT_DELETE_ALL}</option>
        </select>
      </li>
    </ul>
  </form>
  {VOTING_PAGING}
</div>
<!-- END gallery_edit_image.html -->
