<!-- START gallery_category_details.html -->
<script>
  // <![CDATA[
  function resetPicture(picId) {
    if(confirm('{TXT_RESET_PICTURE}')) {
      window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=reset_picture&gid={CATEGORY_ID}&id="+picId);
    }
  }
  function deletePicture(picId) {
    if(confirm('{TXT_DELETE_PICTURE}')) {
      window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=delete_picture&gid={CATEGORY_ID}&id="+picId);
    }
  }
  function selectMultiAction()
  {
    with (document.frmShowImages)
    {
      switch (frmShowImages_MultiAction.value) {
        case 'activate':
          submit();
          break;
        case 'deactivate':
          submit();
          break;
        case 'reset':
          submit();
          break;
        case 'delete':
          if (confirm('{TXT_DELETE_PICTURE_ALL}')) {
            submit();
          }
          break;
        case 'move':
          if (frmShowImages_MultiAction_Move.disabled == true) {
            frmShowImages_MultiAction_Move.disabled = false;
          } else {
            if (frmShowImages_MultiAction_Move.value != '' &&
              frmShowImages_MultiAction_Move.value != 0) {
              submit();
            }
          }
          break;
        default: //do nothing

      }
    }
  }
  function openWindow(theURL,winName,features) {
    window.open(theURL,winName,features);
  }

  function finishedGalleryUpload(response) {
    if (response.length < 1) return;
    document.location.href = "/cadmin/Gallery/validate_form?csrf=" + cx.variables.get("csrf", "contrexx");
  }
  // ]]>
</script>
<form name="frmShowImages" method="post" action="?cmd=Gallery&amp;act=category_actions&amp;catid={CATEGORY_ID}">
  <table class="adminlist">
    <caption>
      {CATEGORY_NAME}
      <div class="functions">
        <!-- BEGIN upload -->
        {COMBO_UPLOADER_CODE}
        <!-- END upload -->
      </div>
    </caption>
    <tr>
      <th colspan="2">&nbsp;</th>
      <th colspan="2">{TXT_TITLE_ORDER}</th>
      <th>{TXT_TITLE_ATTR}</th>
      <th>{TXT_TITLE_CATEGORY}</th>
      <th>{TXT_TITLE_ACTION}</th>
    </tr>
    <!-- BEGIN showImages -->
    <tr class="{IMAGES_ROWCLASS}">
      <td><input type="checkbox" name="selectedImageId[]" value="{IMAGES_ID}"></td>
      <td><a href="?cmd=Gallery&amp;act=activate_picture&amp;gid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self"><img src="/core/Core/View/Media/icons/{IMAGES_ACTIVE_ICON}" alt="{TXT_ACTIVATE_PICTURE}" title="{TXT_ACTIVATE_PICTURE}"></a></td>
      <td><input type="text" name="sortingSystem{IMAGES_CATTYPE}{IMAGES_ID}" value="{IMAGES_SORTING}" maxlength="5" size="5" class="compact"></td>
      <td><a rel="shadowbox[{CATEGORY_ID}_1];options={{SLIDE_SHOW_OPTION_VALUE}}" title="{IMAGES_TITLE_LINE_NAME}" href="{IMAGE_ORIG_PATH}"><img src="{IMAGES_THUMB_PATH}?{CLEAR_IMAGE_CATCH}" alt="{IMAGES_NAME}" title="{IMAGES_NAME}"></a></td>
      <td>
        {TXT_TITLE_NAME}: <strong>{IMAGES_NAME}</strong><br>
        {TXT_LAST_EDIT}: <strong>{IMAGES_LASTEDIT}</strong><br>
        {TXT_ORIG_CAPT}: <strong>{IMAGES_ORIG_RESO}</strong>, <strong>{IMAGES_ORIG_SIZE}kB</strong><br>
        {TXT_THUMB_CAPT}: <strong>{IMAGES_THUMB_RESO}</strong>, <strong>{IMAGES_THUMB_SIZE}kB</strong><br>
        {TXT_THUMB_QUALITY_CAPT}: <strong>{IMAGES_TYPE_SIZE}</strong><br>
        {TXT_TITLE_OTHER}: <strong><a href="?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}&amp;tab-default=editImageTab_Comments" target="_self">{IMAGES_COMMENT_COUNT}</a></strong> <strong><a href="?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}&amp;tab-default=editImageTab_Votes" target="_self">{IMAGES_VOTING_COUNT}{IMAGES_VOTING_AVERAGE}</a></strong>
      </td>
      <td>
        <select name="newCategory{IMAGES_ID}" {CAT_DROPDOWN_DISABLED} onchange="window.location='?cmd=Gallery&{CSRF_PARAM}&amp;act=change_category_picture&amp;id={IMAGES_ID}&amp;catid='+this.options[this.selectedIndex].value">
          <!-- BEGIN showCategories -->
          <option value="{CAT_DROPDOWN_VALUE}" {CAT_DROPDOWN_SELECTED}>{CAT_DROPDOWN_INDENT}{CAT_DROPDOWN_NAME}</option>
          <!-- END showCategories -->
        </select>
      </td>
      <td>
        {IMAGES_HIDE_LINKICON_S}
        <i class="fa-solid fa-earth-europe"></i>
        {IMAGES_HIDE_LINKICON_E}
        <a rel="shadowbox[{CATEGORY_ID}_2];options={{SLIDE_SHOW_OPTION_VALUE}}" title="{IMAGES_NAME}" href="{IMAGE_ORIG_PATH}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a href="javascript:resetPicture({IMAGES_ID})" target="_self" title="{TXT_IMG_RESET_ALT}"><i class="fa-solid fa-clock-rotate-left"></i></a>
        <a href="?cmd=Gallery&amp;act=category_picture&amp;gid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self" title="{TXT_SET_CATIMG}"><i class="fa-regular fa-image"></i></a>
        <a href="index.php?cmd=Gallery&amp;act=rotate_picture&amp;catid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self" title="{TXT_IMG_ROTATE_ALT}"><i class="fa-solid fa-arrow-turn-down"></i></a>
        <a href="index.php?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}" target="_self" title="{TXT_IMG_EDIT_ALT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deletePicture({IMAGES_ID})" target="_self" title="{TXT_IMG_DELETE_ALT}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END showImages -->
  </table>
  <input type="submit" name="sorting" value="{TXT_BUTTON_SAVESORT}">
  <ul class="bulk-functions">
    <li><a href="#" onclick="changeCheckboxes('frmShowImages','selectedImageId[]',true); return false;">{TXT_SELECT_ALL}</a></li>
    <li><a href="#" onclick="changeCheckboxes('frmShowImages','selectedImageId[]',false); return false;">{TXT_DESELECT_ALL}</a></li>
    <li>
      <select name="frmShowImages_MultiAction" onchange="selectMultiAction();">
        <option value="0">{TXT_SUBMIT_SELECT}</option>
        <option value="delete">{TXT_SUBMIT_DELETE}</option>
        <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
        <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
        <option value="reset">{TXT_SUBMIT_RESET}</option>
        <option value="move">{TXT_SUBMIT_MOVE}</option>
      </select>
    </li>
    <li>
      <select name="frmShowImages_MultiAction_Move" onchange="selectMultiAction();" disabled="disabled">
        <!-- BEGIN showCategoriesMultiAction -->
        <option value="{CAT_DROPDOWN_VALUE}" {CAT_DROPDOWN_SELECTED}>{CAT_DROPDOWN_INDENT}{CAT_DROPDOWN_NAME}</option>
        <!-- END showCategoriesMultiAction -->
      </select>
    </li>
  </ul>
</form>
{GALLERY_PAGING}
<!-- END gallery_category_details.html -->
