<!-- START module_gallery_import_pictures.html -->
<script>
function importSelectAll(e)
{
    if(e.checked)
    {  // check all
        var ml  = document.fileList;
      var len = ml.elements.length;
      for(var i = 0; i < len; i++)
      {
          var e = ml.elements[i];
          if(e.name == "formSelected[]")
          {
            e.checked = true;
          }
      }
  }
  else
  {  // uncheck all
      var ml  = document.fileList;
      var len = ml.elements.length;
      for(var i = 0; i < len; i++)
      {
          var e = ml.elements[i];
          if(e.name == "formSelected[]")
          {
            e.checked = false;
          }
      }
  }
}

function importIsChecked(fieldName)
{
    var x = 0;
    for(var i = 0; i < document.fileList.elements.length; i++)
    {
        var e = document.fileList.elements[i];
        if(e.name == fieldName && e.checked == true)
        {
            x++;
        }
    }
    if(x > 0)
    {
        return true;
    }
    else
    {
        return false;
    }
}

function importDoAction()
{
    if(importIsChecked("formSelected[]") == true)
    {
      if(document.fileList.selectAction.value == "import")
      {
          document.fileList.action = "index.php?cmd=Gallery&act=importFromFolder";
          document.fileList.submit();
      }
        if(document.fileList.selectAction.value == "delete")
      {
          document.fileList.action = "index.php?cmd=Gallery&act=deleteImportPicture";
          document.fileList.submit();
      }
    }
    else
    {
        alert("{TXT_IMPORT_MAKE_SELECTION}");
    }

    document.fileList.selectAction.value = "0";
}

function deletePicture(pic)
{
    if(confirm('{TXT_IMPORT_DELETE_PICTURE}'))
    {
        window.location.replace("index.php?cmd=Gallery&{CSRF_PARAM}&act=deleteImportPicture&pic="+pic);
    }
}

function openWindow(theURL,winName,features)
  {
    window.open(theURL,winName,features);
  }
</script>
<div class="infobox">{TXT_MAX_PICTURES}</div>
<form name="fileList" method="post" action="index.php?cmd=Gallery&act=import_picture">
    <table class="adminlist">
        <caption><a href="{IMPORT_IMAGE_TREE_NAV_MAIN_HREF}">{IMPORT_IMAGE_TREE_NAV_MAIN}</a></caption>
        <tr>
            <th><input type="checkbox" name="toggleAll" title="Select or deselect all messages" onclick="importSelectAll(this);"></th>
            <th>{TXT_FILENAME}{IMPORT_IMAGE_NAME_ICON}</th>
            <th>{TXT_FILESIZE}{IMPORT_IMAGE_SIZE_ICON}</th>
            <th>{TXT_FILETYPE}{IMPORT_IMAGE_TYPE_ICON}</th>
            <th>{TXT_GALLERY_CAT_DETAILS_ACTION}</th>
        </tr>

        <!-- BEGIN importDirectoryTree -->
        <tr>
            <td>{IMPORT_IMAGE_CHECKBOX}</td>
            <td><a href="javascript:openWindow('{IMPORT_IMAGE_PATH}&{CSRF_PARAM}','','width={IMPORT_IMAGE_WIDTH},height={IMPORT_IMAGE_HEIGHT}')">{IMPORT_IMAGE_NAME}</a> {IMPORT_IMAGE_NAME_ATTRIBUT}</td>
            <td>{IMPORT_IMAGE_SIZE} Bytes</td>
            <td>{IMPORT_IMAGE_TYP}-Datei</td>
            <td><a href="javascript:deletePicture('{IMPORT_IMAGE_NAME}')" target="_self"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        <!-- END importDirectoryTree -->
        <!-- BEGIN importEmptyDirectory -->
        <tr>
            <td colspan="5">{TXT_IMPORT_IMAGE_DIR_EMPTY}</td>
        </tr>
        <!-- END importEmptyDirectory -->
    </table>
    <!-- BEGIN importSelectAction -->
    <select name="selectAction" onchange="importDoAction();">
        <option value="0" selected="selected">{TXT_IMPORT_IMAGE_SELECT_ACTION}</option>
        <option value="import">{TXT_IMPORT_IMAGE_IMPORT}</option>
        <option value="delete">{TXT_IMPORT_IMAGE_DELETE}</option>
    </select>
    <!-- END importSelectAction -->
</form>
<!-- END module_gallery_import_pictures.html -->
