<!-- START gallery_new_category.html -->
<script>
  function disableCategorySelection()
{
    document.newcat.select_category_id.disabled = true;
  }

  function enableCategorySelection()
{
    document.newcat.select_category_id.disabled = false;
  }
  function showOrHide(strElement)
{
    if (document.getElementById(strElement).style.display == 'none') {
      document.getElementById(strElement).style.display = 'block';
    } else {
      document.getElementById(strElement).style.display = 'none';
    }
  }
  function copyText(strType)
{
    for (var h=0; h < document.forms.length;h++) {
      for (var i=0; i < document.forms[h].elements.length;i++) {
        //read out all form-elements with the loop
        if(document.forms[h].elements[i].name.search(strType) != -1) {
          if (strType == 'category_name_') {
            document.forms[h].elements[i].value = document.newcat.category_name.value;
          } else {
            document.forms[h].elements[i].value = document.newcat.category_desc.value;
          }
        }
      }
    }
  }

  /*
      Show or hide the access boxes
  */
  var swapAccessMapping = function(type, showOrHide)
{
    $J('#' + type + 'GroupMapping').toggle(showOrHide);
  }

  /*
      Add an entry to the assigned groups box
  */
  var addToList = function(src, dst)
{
    var sBox = document.getElementById(src);
    var dBox = document.getElementById(dst);
    if (sBox.selectedIndex > -1) {
      // if nothing is selected the index is -1
      var cur_group = sBox.options[sBox.selectedIndex];
      sBox.removeChild(cur_group);
      dBox.appendChild(cur_group);
    }
  }

  /*
      Make the whole list selected before submitting
  */
  var selectWholeList = function(boxName)
{
    var box = document.getElementById(boxName);
    for(var i = 0;i < box.length;i++) {
      box.options[i].selected = true;
    }
  }

  var pre_submit = function()
{
    selectWholeList('existingFrontendGroups');
    selectWholeList('assignedFrontendGroups');
    selectWholeList('existingBackendGroups');
    selectWholeList('assignedBackendGroups');
  }

</script>
<form name="newcat" method="post" action="?cmd=Gallery&amp;act={FORM_ACT}&amp;id={VALUE_ID}">
  <div id="generalTab" class="category">
    <table class="adminlist splitview">
      <caption>{TXT_TAB_GENERAL}</caption>
      <tr>
        <td>{TXT_STATUS}</td>
        <td>
          <input type="radio" name="category_status" value="1" {VALUE_STATE_ON} id="category_status_on"><label for="category_status_on">{TXT_STATUS_ON}</label>
          <input type="radio" name="category_status" value="0" {VALUE_STATE_OFF} id="category_status_off"><label for="category_status_off">{TXT_STATUS_OFF}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_NAME}</td>
        <td>
          <input type="text" name="category_name" onchange="copyText('category_name_');" value="{VALUE_NAME}">
          <a href="javascript:showOrHide('divLang_Name');">{TXT_EXTENDED}</a>
          <div id="divLang_Name" style="display: none;">
            <!-- BEGIN showNameFields -->
            <input id="category_name_{NAMEFIELDS_LID}" name="category_name_{NAMEFIELDS_LID}" type="text" value="{NAMEFIELDS_VALUE}">
            <label for="category_name_{NAMEFIELDS_LID}">{NAMEFIELDS_LANGUAGE}</label><br>
            <!-- END showNameFields -->
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_DESCRIPTION}</td>
        <td>
          <textarea name="category_desc" onchange="copyText('category_desc_');" rows="10">{VALUE_DESC}</textarea>
          <a href="javascript:showOrHide('divLang_Desc');">{TXT_EXTENDED}</a>
          <div id="divLang_Desc" style="display: none;">
            <!-- BEGIN showDescFields -->
            <textarea id="category_desc_{DESCFIELDS_LID}" name="category_desc_{DESCFIELDS_LID}" rows="10">{DESCFIELDS_VALUE}</textarea>
            <label for="category_desc_{DESCFIELDS_LID}">{DESCFIELDS_LANGUAGE}</label><br>
            <!-- END showDescFields -->
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_CATEGORYTYPE}</td>
        <td>
          <input type="radio" name="category_type" value="main" onclick="disableCategorySelection()" {VALUE_TYPE_MAIN} id="category_type_main">
          <label for="category_type_main">{TXT_CATEGORYTYPE_NEW}</label><br>
          <input type="radio" name="category_type" value="sub" onclick="enableCategorySelection()" {VALUE_TYPE_SUB} id="category_type_sub">
          <label for="category_type_sub">{TXT_CATEGORYTYPE_SUB}</label>
          <select name="select_category_id" {CAT_DROPDOWN_DISABLED}>
            <!-- BEGIN showCategories -->
            <option value="{CAT_DROPDOWN_VALUE}" {CAT_DROPDOWN_SELECTED}>{CAT_DROPDOWN_INDENT}{CAT_DROPDOWN_NAME}</option>
            <!-- END showCategories -->
          </select>
        </td>
      </tr>
      <tr>
        <td>{TXT_COMMENT}</td>
        <td>
          <input type="radio" name="category_comment" value="1" {VALUE_COMMENT_ON} id="category_comment_on"><label for="category_comment_on">{TXT_STATUS_ON}</label>
          <input type="radio" name="category_comment" value="0" {VALUE_COMMENT_OFF} id="category_comment_off"><label for="category_comment_off">{TXT_STATUS_OFF}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_VOTING}</td>
        <td>
          <input type="radio" name="category_voting" value="1" {VALUE_VOTING_ON} id="category_voting_on"><label for="category_voting_on">{TXT_STATUS_ON}</label>
          <input type="radio" name="category_voting" value="0" {VALUE_VOTING_OFF} id="category_voting_off"><label for="category_voting_off">{TXT_STATUS_OFF}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_FRONTEND_ACCESS}</td>
        <td>
          <input type="radio" id="radioPublicAccessFrontend" name="category_protected_frontend" value="0" {PUBLIC_ACCESS_CHECKED_FRONTEND} onclick="swapAccessMapping('frontend', false)">
          <label for="radioPublicAccessFrontend">{TXT_PUBLIC_ACCESS}</label><br>
          <input type="radio" id="radioRestrictedAccessFrontend" name="category_protected_frontend" value="1" {RESTRICTED_ACCESS_CHECKED_FRONTEND} onclick="swapAccessMapping('frontend', true)">
          <label for="radioRestrictedAccessFrontend">{TXT_RESTRICTED_ACCESS}</label>
          <div id="frontendGroupMapping" style="display: {FRONTEND_MAPPING_DISPLAY}" class="multiselect">
            <div>
              <select size="15" multiple="multiple" name="existingFrontendGroups[]" id="existingFrontendGroups">{VALUE_FRONTEND_EXISTING_GROUPS}</select>
            </div>
            <div>
              <input type="button" value="&lt;&lt;" name="removeuser" onclick="addToList('assignedFrontendGroups', 'existingFrontendGroups');">
              <input type="button" value="&gt;&gt;" name="adduser" onclick="addToList('existingFrontendGroups','assignedFrontendGroups');">
            </div>
            <div>
              <select size="15" multiple="multiple" name="assignedFrontendGroups[]" id="assignedFrontendGroups">{VALUE_FRONTEND_ASSIGNED_GROUPS}</select>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_BACKEND_ACCESS}</td>
        <td>
          <input type="radio" id="radioPublicAccessBackend" name="category_protected_backend" value="0" {PUBLIC_ACCESS_CHECKED_BACKEND} onclick="swapAccessMapping('backend', false)">
          <label for="radioPublicAccessBackend">{TXT_NO_RESTRICTIONS}</label><br>
          <input type="radio" id="radioRestrictedAccessBackend" name="category_protected_backend" value="1" {RESTRICTED_ACCESS_CHECKED_BACKEND} onclick="swapAccessMapping('backend', true)">
          <label for="radioRestrictedAccessBackend">{TXT_RESTRICTED_ACCESS_BACKEND}</label>
          <div id="backendGroupMapping" style="display: {BACKEND_MAPPING_DISPLAY}" class="multiselect">
            <div>
              <select size="15" multiple="multiple" name="existingBackendGroups[]" id="existingBackendGroups">{VALUE_BACKEND_EXISTING_GROUPS}</select>
            </div>
            <div>
              <input type="button" value="&lt;&lt;" name="removeuser" onclick="addToList('assignedBackendGroups', 'existingBackendGroups');">
              <input type="button" value="&gt;&gt;" name="adduser" onclick="addToList('existingBackendGroups','assignedBackendGroups');">
            </div>
            <div>
              <select size="15" multiple="multiple" name="assignedBackendGroups[]" id="assignedBackendGroups">{VALUE_BACKEND_ASSIGNED_GROUPS}</select>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <input type="submit" value="{TXT_BUTTON_SUBMIT}" onclick="pre_submit()">
</form>
<!-- END gallery_edit_category.html -->
