<!-- START gallery_validate_main.html -->
<script>
    <!--
    function loadPage(type){
      window.location = "?cmd=Gallery&{CSRF_PARAM}&act=validate_form&type="+type;
    }
-->
</script>
<table class="adminlist">
    <caption>{VALIDATE_NOTVALIDATEDPICS} {TXT_NOTVALIDATED}</caption>
    <tr>
        <td>
            <input type="radio" name="select_Method" id="select_Method_single" value="single" {VALIDATE_METHOD_SINGLE_SELECTED} onclick="loadPage(this.value)">
            <label for="select_Method_single">{TXT_VALIDATE_METHOD_SINGLE}</label><br>
            <input type="radio" name="select_Method" id="select_Method_all" value="all" {VALIDATE_METHOD_ALL_SELECTED} onclick="loadPage(this.value)">
            <label for="select_Method_all">{TXT_VALIDATE_METHOD_ALL}</label>
        </td>
    </tr>
</table>
{VALIDATE_SHOWDETAILS}
<!-- END gallery_validate_main.html -->
