<!-- START gallery_edit_comment.html -->
<form name="frmEditComment" method="post" action="?cmd=Gallery&amp;act=save_comment">
  <input type="hidden" name="frmEditComment_Id" value="{VALUE_COMMENT_EDIT_ID}">
  <input type="hidden" name="frmEditComment_PicId" value="{VALUE_COMMENT_EDIT_PICID}">
  <table class="adminlist">
    <caption>{TXT_COMMENT_EDIT_TITLE}</caption>
    <tr>
      <td>{TXT_COMMENT_EDIT_DATE}</td>
      <td>{VALUE_COMMENT_EDIT_DATE}</td>
    </tr>
    <tr>
      <td>{TXT_COMMENT_EDIT_IP}</td>
      <td>{VALUE_COMMENT_EDIT_IP}</td>
    </tr>
    <tr>
      <td>{TXT_COMMENT_EDIT_NAME}</td>
      <td><input type="text" name="frmEditComment_Name" value="{VALUE_COMMENT_EDIT_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_COMMENT_EDIT_EMAIL}</td>
      <td><input type="text" name="frmEditComment_Email" value="{VALUE_COMMENT_EDIT_EMAIL}"></td>
    </tr>
    <tr>
      <td>{TXT_COMMENT_EDIT_HOMEPAGE}</td>
      <td><input type="text" name="frmEditComment_Homepage" value="{VALUE_COMMENT_EDIT_HOMEPAGE}"></td>
    </tr>
    <tr>
      <td>{TXT_COMMENT_EDIT_TEXT}</td>
      <td><textarea name="frmEditComment_Text">{VALUE_COMMENT_EDIT_TEXT}</textarea></td>
    </tr>
  </table>
  <input type="submit" name="frmEditComment_Submit" value="{TXT_COMMENT_EDIT_SUBMIT}">
</form>
<!-- END gallery_edit_comment.html -->
