<div class="login-content">
    <div class="row">
        <div id="access" class="container-fluid">
            <div id="right-login" class="col-md-6 col-sm-12 col-xs-12">
                <div id="login">
                    <!-- BEGIN login_status_message -->
                    <p class="login-error-msg text-danger">{LOGIN_STATUS_MESSAGE}</p>
                    <!-- END login_status_message -->
                    <form role="form" method="post" action="{NODE_LOGIN}" name="loginForm">
                        <input type="hidden" value="{LOGIN_REDIRECT}" name="redirect" />
                        <p><label for="USERNAME">{TXT_EMAIL}</label><input id="USERNAME" name="USERNAME" value="" placeholder="{TXT_EMAIL}" type="text"></p>
                        <p><label for="PASSWORD">{TXT_PASSWORD}</label><input id="PASSWORD" name="PASSWORD" value="" placeholder="{TXT_PASSWORD}" type="password"></p>
                        <!-- BEGIN captcha -->
                        <p><label for="coreCaptchaCode">{TXT_CORE_CAPTCHA}</label>{CAPTCHA_CODE}</p>
                        <!-- END captcha -->
                        <p>
                            <input class="btn btn-default" type="submit" name="login" value="{TXT_LOGIN}" />
                            <span class="checkbox">
                                <label for="remember_me" class="remember_me">
                                    <input type="checkbox" value="1" name="remember_me" class="remember_me" id="remember_me" />
                                    {TXT_LOGIN_REMEMBER_ME}
                                </label>
                            </span>
                        </p>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <div class="login-bottom">
                    <div class="col-md-6 col-md-offset-6">
                        <a href="{NODE_LOGIN_LOSTPW}" class="lostpw btn btn-link">{TXT_PASSWORD_LOST}</a>
                        <a href="{NODE_ACCESS_SIGNUP}" class="register btn btn-link">{TXT_CORE_SIGN_UP}</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
