[data-md-color-scheme="clx"] {
    --md-primary-fg-color: #000000de;
    --md-code-bg-color: #f5f7fa !important;
    --md-code-fg-color: #c7254e !important;
}
.md-typeset table:not([class]) {
    border: 0;
    border-collapse: collapse;
}
.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    border: .05rem solid var(--md-typeset-table-color);
}
.md-typeset table:not([class]) td.header {
    font-weight: 700;
    min-width: 5rem;
    padding: .9375em 1.25em;
    vertical-align: top
}
.md-grid {
    max-width: initial;
}
.md-typeset {
    font-size: .7rem;
    line-height: 1.5;
}
.md-typeset h2 {
    font-weight: 400;
}
.md-typeset ul li {
    margin-bottom: 0.1em;
}
.md-typeset ol li {
    margin-bottom: 0.1em;
}
.md-typeset code {
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}
.md-typeset table.highlighttable code {
    border-radius: inherit;
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
}
.hidden {
    display: none;
}
.note.admonition,
.warning.admonition {
    font-style: normal;
    padding-bottom: 0.6rem;
}
.note .admonition-title,
.warning .admonition-title {
    display: block;
    margin-bottom: 0.6rem;
}
