<div class="paging">
    <span class="buttons">
        <a class="button navigation secondary first" title="{TXT_JUMP_TO_FIRST_TITLE}" href="{JUMP_TO_FIRST_URL}"></a>
        <a class="button navigation secondary previous" title="{TXT_JUMP_TO_PREVIOUS_TITLE}" href="{JUMP_TO_PREVIOUS_URL}"></a>
        <!-- BEGIN pagebutton -->
            <!-- BEGIN page -->
                <a class="button navigation<!-- BEGIN active --> active<!-- END active --><!-- BEGIN inactive --> secondary<!-- END inactive -->" href="{PAGE_URL}">{PAGE_NUMBER}</a>
            <!-- END page -->
            <!-- BEGIN skip -->
                <span class="skip">
                    <b>...</b>
                </span>
            <!-- END skip -->
        <!-- END pagebutton -->
        <a class="button navigation secondary next" title="{TXT_JUMP_TO_NEXT_TITLE}" href="{JUMP_TO_NEXT_URL}"></a>
        <a class="button navigation secondary last" title="{TXT_JUMP_TO_LAST_TITLE}" href="{JUMP_TO_LAST_URL}"></a>
    </span>
    <span>
        {TXT_PAGING_PAGE}
        &nbsp;
        <input type="number" min="1" max="{TOTAL_PAGE_COUNT}" data-entries-per-page="{ENTRIES_PER_PAGE}" data-url="{SPRINTF_URL}" size="{PAGE_STRLEN_PLUS_1}" value="{CURRENT_PAGE}">
        &nbsp;
        von {TOTAL_PAGE_COUNT}
    </span>
    <span>
        {TXT_ENTITY_NAME}&nbsp;{OFFSET} - {OFFSET_PLUS_PAGING_SIZE} {TXT_PAGING_OUT_OF} {TOTAL_ENTITY_COUNT}
    </span>
</div>
