<!-- START module_manager.html -->
<script>
  <!-- // confirm delete variable
  function deleteVariable(id)
  {
      if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE} {TXT_ATTENTION_SYSTEM_FUNCTIONALITY_AT_RISK}'))
          window.location.replace("index.php?cmd=ComponentManager&{CSRF_PARAM}&act=del&maduleId="+id);
  }
  // -->
</script>
<style>
  table.adminlist tr.highlighted {
    display: none;
  }
</style>
<form name="moduleManagerForm" method="post" action="?cmd=ComponentManager&amp;act={MODULE_ACTION}">
  <table class="adminlist componentList">
    <tr>
      <th>{TXT_NAME}</th>
      <th>{TXT_DESCRIPTION}</th>
      <th>{TXT_INSTALL_MODULE}</th>
      <th>{TXT_REMOVE_MODULE}</th>
    </tr>
    <!-- BEGIN moduleRow -->
    <tr class="{MODULE_ROWCLASS}">
      <td>{MODULE_NAME}</td>
      <td>{MODULE_DESCRIPTON}</td>
      <td>{MODULE_INSTALL}</td>
      <td>{MODULE_REMOVE}</td>
    </tr>
    <!-- END moduleRow -->
  </table>
  <input type="submit" name="Submit" value="{TXT_ACCEPT_CHANGES}">
</form>
<!-- END module_manager.html -->
