<script>
    cx.ready(function () {
        var dpOptions = {
            dateFormat:'dd.mm.yy',
            timeFormat:'hh:mm'
        };

        $J('input[name=expirationDate]').datetimepicker(dpOptions);

        $J('input.expiration').change(function() {
            checkForExpirationDate();
        });
        checkForExpirationDate();

        function checkForExpirationDate() {
            if ($J('input.expiration').attr('checked')) {
                $J('.expirationDate').hide();
            } else {
                $J('.expirationDate').show();
            }
        }
    }, true);
</script>

<form action="{FORM_ACTION}" method="{FORM_METHOD}">
    <table class="adminlist splitview">
        <tr>
            <td>{FILESHARING_STATUS}</td>
            <td>{FILE_STATUS} <a href="{FILE_STATUS_SWITCH_HREF}">{FILE_STATUS_SWITCH}</a></td>
        </tr>
    <!-- BEGIN not_shared -->
    </table>
    <!-- END not_shared -->
    <!-- BEGIN shared -->
        <tr>
            <td>{FILESHARING_DOWNLOAD_LINK}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{FILESHARING_DOWNLOAD_LINK_INFO}</span></td>
            <td><a target="_blank" href="{FILE_DOWNLOAD_LINK_HREF}">{FILE_DOWNLOAD_LINK_HREF}</a></td>
        </tr>
        <tr>
            <td>{FILESHARING_DELETE_LINK}</td>
            <td><a target="_blank" href="{FILE_DELETE_LINK_HREF}">{FILE_DELETE_LINK_HREF}</a></td>
        </tr>
        <tr>
            <td>{FILESHARING_EXPIRATION}</td>
            <td><input type="checkbox" class="expiration" name="expiration" value="1" {FILESHARING_EXPIRATION_CHECKED}></td>
        </tr>
        <tr class="expirationDate">
            <td>{FILESHARING_NEVER}</td>
            <td><input type="text" class="expirationDate" name="expirationDate" value="{FILESHARING_EXPIRATION_DATE}"></td>
        </tr>
    </table>
    <input type="submit" name="saveExpiration" value="{FILESHARING_SAVE}">
    <!-- END shared -->
</form>
<!-- BEGIN filesharing_send -->
<form action="{FORM_ACTION}" method="{FORM_METHOD}">
    <table class="adminlist splitview">
        <caption>{FILESHARING_SEND_MAIL}</caption>
        <tr>
            <td>{FILESHARING_EMAIL}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_MAILTEMPLATE_NOTE_TO}</span></td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>{FILESHARING_SUBJECT}</td>
            <td><input type="text" name="subject"></td>
        </tr>
        <tr>
            <td>{FILESHARING_MESSAGE}</td>
            <td><textarea name="message" placeholder="{FILESHARING_MESSAGE_INFO}" rows="10"></textarea></td>
        </tr>
    </table>
    <input type="submit" name="shareFiles" value="{FILESHARING_SEND}">
</form>
<!-- END filesharing_send -->
