<!-- BEGIN module_filesharing_settings.html -->
<script>
    function SelectAllGroups(link) {
        cx.jQuery(link).siblings(".group_list").find("option").attr("selected", "selected");
        return false;
    };

    function DeselectAllGroups(link) {
        cx.jQuery(link).siblings(".group_list").find("option").removeAttr("selected");
        return false;
    };

    function MoveRight(button) {
        var right = cx.jQuery(button).parent().parent().find(".group_list:last");
        cx.jQuery(button).parent().parent().find(".group_list:first").find("option:selected").appendTo(right);
        return false;
    };

    function MoveLeft(button) {
        var left = cx.jQuery(button).parent().parent().find(".group_list:first");
        cx.jQuery(button).parent().parent().find(".group_list:last").find("option:selected").appendTo(left);
        return false;
    };

    function BeforeSubmit() {
        cx.jQuery(".group_div").find(".group_list:first").find("option:selected").removeAttr("selected").end().end()
            .find(".group_list:last").find("option").attr("selected", "selected");
    }

</script>
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="messageTab_information" class="active" href="#">{FILESHARING_INFO}</a></li>
    <li><a data-tablink="messageTab_mailtemplates" href="#">{FILESHARING_MAIL_TEMPLATES}</a></li>
    <li><a data-tablink="messageTab_security" href="#">{TXT_FILESHARING_SECURITY}</a></li>
</ul>
<div class="tab messageTab_information" data-tablist="default">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_FILESHARING_APPLICATION_NAME}</td>
            <td>{FILESHARING_APPLICATION_NAME}</td>
        </tr>
        <tr>
            <td>{TXT_FILESHARING_DESCRIPTION}</td>
            <td>{FILESHARING_DESCRIPTION}</td>
        </tr>
        <tr>
            <td>{TXT_FILESHARING_MANUAL}</td>
            <td>{FILESHARING_MANUAL}</td>
        </tr>
    </table>
</div>
<div class="tab messageTab_mailtemplates" data-tablist="default">
    <!-- BEGIN filesharing_email_template -->
    <form action="index.php?cmd=Media&amp;archive=FileSharing&amp;act=settings" method="post" name="settings">
        <table class="adminlist splitview">
            <caption>{LANG_NAME}</caption>
            <tr>
                <td>{TXT_MAIL_SUBJECT}</td>
                <td><input type="text" name="filesharingMail[{LANG}][subject]" value="{FILESHARING_MAIL_SUBJECT}"></td>
            </tr>
            <tr>
                <td>{TXT_MAIL_CONTENT}</td>
                <td><textarea name="filesharingMail[{LANG}][content]" rows="10">{FILESHARING_MAIL_CONTENT}</textarea></td>
            </tr>
        </table>
        <!-- END filesharing_email_template -->
        <input type="submit" value="{TXT_BUTTON_SAVE}" name="save_settings">
    </form>
</div>
<div class="tab messageTab_security" data-tablist="default">
    <!-- BEGIN filesharing_security -->
    <form action="index.php?cmd=Media&amp;archive=FileSharing&amp;act=settings" method="post" name="settings">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_FILESHARING_SECURITY_INFO}</td>
                <td>
                    <input id="filesharingManageOn" type="radio" name="filesharingSettingsPermission" value="on" {FILESHARING_ALLOW_USER_UPLOAD_ON}>
                    <label for="filesharingManageOn">{TXT_MEDIA_ADDING_ALLOWED_FOR_ALL}</label><br>
                    <input id="filesharingManageOff" type="radio" name="filesharingSettingsPermission" value="off" {FILESHARING_ALLOW_USER_UPLOAD_OFF}>
                    <label for="filesharingManageOff">{TXT_MEDIA_ADDING_DENIED_FOR_ALL}</label><br>
                    <input id="filesharingManageGroup" type="radio" name="filesharingSettingsPermission" value="1" {FILESHARING_ALLOW_USER_UPLOAD_GROUP}>
                    <label for="filesharingManageGroup">{TXT_MEDIA_ADDING_ALLOWED_FOR_GROUP}</label>
                    <div class="multiselect group_div" id="filesharingSettingsGroupList" data-depends="filesharingManageGroup">
                        <div><br>
                            {TXT_MEDIA_AVAILABLE_USER_GROUPS}<br>
                            <select class='group_list' name="filesharing_access_not_associated_groups[]" id="filesharing_access_not_associated_groups" size="15" multiple="multiple">
                                {FILESHARING_ACCESS_NOT_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                        <div>
                            <input type="button" value="&lt;&lt;" name="removeOption" onclick="return MoveLeft(this);">
                            <input type="button" value="&gt;&gt;" name="addOption" onclick="return MoveRight(this);">
                        </div>
                        <div><br>
                            {TXT_MEDIA_ASSIGNED_USER_GROUPS}<br>
                            <select class='group_list' name="filesharing_access_associated_groups[]" id="filesharing_access_associated_groups" size="15" multiple="multiple">
                                {FILESHARING_ACCESS_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <!-- END filesharing_security -->
        <input type="submit" value="{TXT_BUTTON_SAVE}" name="save_settings" onclick="BeforeSubmit();">
    </form>
</div>
<!-- END module_filesharing_settings.html -->
