<div id="calendar" class="container-fluid">
    <div class="row">
        <!-- BEGIN calendar_event_registration_list_empty -->
        <div>
            Zur Veranstaltung <i>{CALENDAR_EVENT_TITLE}</i> vom {CALENDAR_EVENT_START_DATE} sind keine Anmeldungen eingegangen.
        </div>
        <!-- END calendar_event_registration_list_empty -->
        <!-- BEGIN calendar_event_registration_list_reg -->
        <div>
            Folgende Anmeldungen zur Veranstaltung <i>{CALENDAR_EVENT_TITLE}</i> vom {CALENDAR_EVENT_START_DATE} sind eingegangen:
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <!-- BEGIN calendar_event_registration_list_reg_field_labels -->
                        <th>{CALENDAR_EVENT_REGISTRATION_LIST_REG_FIELD_LABEL}</th>
                        <!-- END calendar_event_registration_list_reg_field_labels -->
                    </tr>
                    <!-- BEGIN calendar_event_registration_list_reg_entry -->
                    <tr>
                        <!-- BEGIN calendar_event_registration_list_reg_entry_field -->
                        <td>{CALENDAR_EVENT_REGISTRATION_LIST_REG_ENTRY_FIELD_VALUE}</td>
                        <!-- END calendar_event_registration_list_reg_entry_field -->
                    </tr>
                    <!-- END calendar_event_registration_list_reg_entry -->
                </tbody>
            </table>
        </div>
        <!-- END calendar_event_registration_list_reg -->
        <!-- BEGIN calendarEventRegistration -->
        <div class="registration">Weiter zur {CALENDAR_EVENT_REGISTRATION_LINK}</div>
        <!-- END calendarEventRegistration -->
    </div>
</div>
<div class="back"><a href="javascript:history.back()">{TXT_CALENDAR_BACK}</a></div>
