<nav class="sidebar">
    {V2}
    <!-- BEGIN navigation_dropdown -->
    <ul class="navigation sidebar-list nav navbar-nav">
        <!-- BEGIN level_1 -->
        <li class="level-1 {STYLE} {CSS_NAME}">
            <a class="{STYLE} {CSS_NAME}" href="{URL}" target="{TARGET}" title="{NAME}">{NAME}</a>{SUB_MENU}
        </li>
        <!-- END level_1 -->
        <!-- BEGIN level_2 -->
        <li class="level-2 {STYLE} {CSS_NAME}">
            <a class="{STYLE} {CSS_NAME}" href="{URL}" target="{TARGET}" title="{NAME}">{NAME}</a>{SUB_MENU}
        </li>
        <!-- END level_2 -->
        <!-- BEGIN level_3 -->
        <li class="level-3 {STYLE} {CSS_NAME}">
            <a class="{STYLE} {CSS_NAME}" href="{URL}" target="{TARGET}" title="{NAME}">{NAME}</a>{SUB_MENU}
        </li>
        <!-- END level_3 -->
    </ul>
    <!-- END navigation_dropdown -->
</nav>
