<script>
    function switchNavigation(entry) {
        const open = !entry.classList.contains("active");
        for (element of document.querySelectorAll(".navigation_level_1 li,.navigation_level_2")) {
            element.classList.remove("active");
            element.classList.add("inactive");
        }
        if (open) {
            entry.classList.remove("inactive");
            entry.classList.add("active");
            const subEntryId = entry.parentElement.id.replace(/_1_/, "_2_");
            document.getElementById(subEntryId).classList.remove("inactive");
            document.getElementById(subEntryId).classList.add("active");
        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        const activeMenu = document.querySelector(".navigation_level_2.active li");
        if (!activeMenu) {
            return;
        }
        activeMenu.scrollIntoView({
            block: "center",
        });
    });
</script>

<!-- BEGIN navigationGroup -->
<ul id="navigation_level_1_{NAVIGATION_GROUP_ID}" class="navigation_level_1 {NAVIGATION_GROUP_SPACER}">
    <li class="{NAVIGATION_GROUP_CLASS}" onclick="switchNavigation(this);">
        <span class="icon_2">
            <i class="active {NAVIGATION_GROUP_ICON}"></i>
            <i class="inactive {NAVIGATION_GROUP_ICON_INACTIVE}"></i>
        </span>
        <span class="name">{NAVIGATION_GROUP_NAME}</span>
    </li>
</ul>
<ul id="navigation_level_2_{NAVIGATION_GROUP_ID}" class="navigation_level_2 {NAVIGATION_GROUP_CLASS}">
    <!-- BEGIN navigationRow -->
    <li class="{CSS_CLASS}">
        <a href="{TARGET_URL}" title="{LINK_TITLE}" target="{TARGET_WINDOW}">
            {TARGET_NAME}
        </a>
    </li>
    <!-- END navigationRow -->
</ul>
<!-- END navigationGroup -->
