<!-- START content_master.html -->

<!-- BEGIN frontend_language_menu -->
<div id="language_selection">{FRONTEND_LANG_MENU}</div>
<!-- END frontend_language_menu -->
<div id="subnavbar_level1">
    <nav>{CONTENT_NAVIGATION}</nav>
</div>
<!-- BEGIN legacy_frontend_language_menu -->
<div id="language_selection" class="legacy">{LEGACY_FRONTEND_LANG_MENU}</div>
<!-- END legacy_frontend_language_menu -->

{CONTENT_STATUS_MESSAGE}
{ADMIN_CONTENT}
<!-- END content_master.html -->
