<!-- START content_master.html -->

<div id="subnavbar_level1">
    <nav>{CONTENT_NAVIGATION}</nav>
</div>
<div id="language_selection">{FRONTEND_LANG_MENU}</div>

{CONTENT_STATUS_MESSAGE}
{ADMIN_CONTENT}
<!-- END content_master.html -->
