<!-- BEGIN tab_entry -->
<a href="{HREF}" title="{TITLE}" <!-- BEGIN tab_active -->class="active"<!-- END tab_active -->>{TITLE}</a>
<!-- END tab_entry -->
<!-- BEGIN subnav -->
<div id="subnavbar_level2">
  <ul>
    <!-- BEGIN subnav_entry -->
    <li><a href="{HREF}" title="{TITLE}"<!-- BEGIN subnav_active --> class="active"<!-- END subnav_active -->>{TITLE}</a></li>
    <!-- END subnav_entry -->
  </ul>
</div>
<!-- END subnav -->
