<!-- START StyleGuide.html -->

<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="styleguide_format" href="#">Allgemein</a></li>
    <li><a data-tablink="styleguide_navi" href="#">Navigation</a></li>
    <li><a data-tablink="styleguide_content" href="#">Inhalte</a></li>
    <li><a data-tablink="styleguide_element" href="#">Elemente</a></li>
    <li><a data-tablink="styleguide_buttons" href="#">Buttons</a></li>
    <li><a data-tablink="styleguide_table" href="#">Listen</a></li>
    <li><a data-tablink="styleguide_messages" href="#">Meldungen</a></li>
    <li><a data-tablink="styleguide_icons" href="#">Icons</a></li>
    <li><a data-tablink="styleguide_color" href="#">Farben</a></li>
    <li><a data-tablink="styleguide_terms" href="#">Terminologie</a></li>
</ul>


<div class="tab styleguide_format" data-tablist="default">
    <h2>Allgemeine Infos</h2>
    <h3>Fokus</h3>
    <ul>
        <li>Weniger klicken, mehr scrollen.</li>
        <li>Übersichtliche Darstellung, einheitliches Produktdesign.</li>
        <li>So viel wie nötig, so wenig wie möglich.</li>
        <li>Klare Formulierungen, Icons verwenden wo sinnvoll.</li>
        <li>Platz ausnutzen, unterschiedliche Skalierungen prüfen, Normalfall ist 1920 x 1080 Pixel.</li>
        <li>Vorlagen bei mehrfach verwendeten Elementen schaffen.</li>
    </ul>
    <h3>Formatierungen</h3>
    <ul>
        <li>Die regulär eingesetzte Schriftfamilie ist <i>Roboto</i>.</li>
        <li>Die für <code>Monospace</code> eingesetzte Schriftfamilie ist <i>Roboto Mono</i>.</li>
        <li>Der Zeilenabstand ist 1.5 und mit der Variable <code>--line-height</code> verfügbar.</li>
        <li>Die reguläre Schriftdicke ist 400 und mit der Variable <code>--font-weight</code> verfügbar.</li>
        <li>Die fettgedruckte Schriftdicke ist 500 und mit der Variable <code>--font-weight-bold</code> verfügbar.</li>
        <li>Weitere Formatierungsoptionen sind:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td><code>&lt;p&gt;</code></td>
            <td>
                <p>Das Element definiert einen Abschnitt oder Absatz.</p>
            </td>
        </tr>
        <tr>
            <td><code>&lt;a&gt;</code></td>
            <td><a href="#">Das Element definiert einen verlinkten Text.</a></td>
        </tr>
        <tr>
            <td><code>&lt;code&gt;</code></td>
            <td><code>Das Element definiert einen codierten Text.</code></td>
        </tr>
        <tr>
            <td><code>&lt;pre&gt;&lt;code&gt;</code></td>
            <td>
                <pre><code>Das Element definiert einen codierten Text<br>als Block.</code></pre>
            </td>
        </tr>
        <tr>
            <td><code>&lt;b&gt;</code></td>
            <td><b>Das Element definiert einen fetten Text ohne zusätzliche Bedeutung.</b></td>
        </tr>
        <tr>
            <td><code>&lt;strong&gt;</code></td>
            <td><strong>Das Element definiert einen Text von hoher Wichtigkeit.</strong></td>
        </tr>
        <tr>
            <td><code>&lt;i&gt;</code></td>
            <td><i>Das Element definiert einen hervorgehobenen Eigen- oder Elementnamen.</i></td>
        </tr>
        <tr>
            <td><code>&lt;em&gt;</code></td>
            <td><em>Das Element definiert einen stark betonten Text.</em></td>
        </tr>
        <tr>
            <td><code>&lt;small&gt;</code></td>
            <td><small>Das Element definiert einen kleineren Text.</small></td>
        </tr>
        <tr>
            <td><code>&lt;mark&gt;</code></td>
            <td><mark>Das Element definiert einen markierten Text.</mark></td>
        </tr>
        <tr>
            <td><code>&lt;del&gt;</code></td>
            <td><del>Das Element definiert einen gelöschten Text.</del></td>
        </tr>
        <tr>
            <td><code>&lt;ins&gt;</code></td>
            <td><ins>Das Element definiert einen eingefügten Text.</ins></td>
        </tr>
        <tr>
            <td><code>&lt;sub&gt;</code></td>
            <td><sub>Das Element definiert einen tiefgestellten Text.</sub></td>
        </tr>
        <tr>
            <td><code>&lt;sup&gt;</code></td>
            <td><sup>Das Element definiert einen hochgestellten Text.</sup></td>
        </tr>
        <tr>
            <td><code>&lt;u&gt;</code></td>
            <td><u>Das Element definiert einen unterstrichenen Text.</u></td>
        </tr>
        <tr>
            <td><code>&lt;span class="experimental"&gt;</code></td>
            <td>Das Element definiert ein Beta-Feature. <span class="experimental"></span></td>
        </tr>
    </table>
    <h3>Überschriften</h3>
    <ul>
        <li>Verwende Überschriften wo sinnvoll und beachte dabei die Semantik.</li>
    </ul>
    <table class="adminlist no-functions">
        <tr>
            <td>
                <h1>Heading 1</h1>
            </td>
            <td>
                <h2>Heading 2</h2>
            </td>
            <td>
                <h3>Heading 3</h3>
            </td>
            <td>
                <h4>Heading 4</h4>
            </td>
            <td>
                <h5>Heading 5</h5>
            </td>
            <td>
                <h6>Heading 6</h6>
            </td>
        </tr>
    </table>
    <h3>Tooltip</h3>
    <ul>
        <li>Verwende den Tooltip bei einem 2-Spalten-Layout im Normalfall auf der linken Seite.</li>
        <li>Beispiel:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td>Anzahl Einträge pro Seite<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">Mit dieser Angabe können Sie definieren, wie viele Einträge oder Suchergebnisse pro Seite angezeigt werden sollen.</span></td>
            <td><input type="number" class="compact" value="100" min="1" max="200"></td>
        </tr>
    </table>
</div>

<div class="tab styleguide_navi" data-tablist="default">
    <h2>Verwendung der Navigation</h2>
    <h3>Metanavigation</h3>
    <ul>
        <li>Die Navi im Header (blau/weiss) wird Metanavigation genannt.</li>
        <li>Die Navi ist horizontal angeordnet und sticky. Dementsprechend sind nur relevante, Anwendungsübergreifende Informationen dargestellt.</li>
        <li>Die Navi kann mit der ID <code>#metanavigation</code> angesprochen werden.</li>
    </ul>
    <h3>Hauptnavigation</h3>
    <ul>
        <li>Die Navi links an der Seite wird Hauptnavigtion genannt.</li>
        <li>Die Navi ist vertikal angeordnet und scrollbar.</li>
        <li>Die Navi ist zweigeteilt. Im oberen Teil sind Grundfunktionen wie der Content Manager oder die Administration vorhanden. Im unteren Teil werden alle aktiven Anwendungen aufgeführt.</li>
        <li>Die Navi hat <u>immer</u> 2 Levels.</li>
        <li>Die Navi kann mit der ID <code>#mainnav</code> angesprochen werden.</li>
        <li>Anwendungen (component type: <code>module</code>) werden alle im ersten Level der Hauptnavigation geführt. Menüpunkte werden alle im zweiten Level der Hauptnavigation geführt.</li>
        <li>Die Navi hat immer nur ein Menüpunkt aufgeklappt.</li>
    </ul>
    <h3>Unternavigation</h3>
    <ul>
        <li>Die Navi im Arbeitsbereich wird Unternavigation genannt.</li>
        <li>Die Navi ist horizontal angeordnet und nicht sticky.</li>
        <li>Die Navi hat <u>maximal zwei</u> Levels.</li>
        <li>Die Navi kann mit der ID <code>#subnavbar_level1</code> oder <code>#subnavbar_level2</code> angesprochen werden.</li>
    </ul>
</div>


<div class="tab styleguide_content" data-tablist="default">
    <h2>Inhalte</h2>
    <h3>Tabs</h3>
    <ul>
        <li>Die verschiedenen Ansichten im Arbeitsbereich werden mit Tabs umgesetzt.</li>
        <li>Tabs sind horizontal angeordnet und nicht sticky.</li>
        <li>Tabs haben <u>ein</u> Level.</li>
        <li>Auf einer Seite kann es eine beliebige Anzahl an Tab-Gruppen geben.</li>
        <li>Bei einem Tabwechsel gehen die Inhalte nicht verloren. Gespeichert wird einmal über alle Tabs hinweg.</li>
        <li>Wechsle auf ein bestimmtes Tab, indem du in der URL den Parameter <code>&lt;tablist&gt;=&lt;tabname&gt;</code> angibst.</li>
        <li>Beispiel:</li>
    </ul>
    <pre><code>&lt;ul class="tabmenu" data-tablist="tablist_name"&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt&lt;a data-tablink="tablink_name1" href="#"&gtTab 1&lt;/a&gt&lt;/li&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt&lt;a data-tablink="tablink_name2" href="#"&gtTab 2&lt;/a&gt&lt;/li&gt
&lt;/ul&gt
&lt;div class="tab tablink_name1" data-tablist="tablist_name"&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gtTab 1&lt;/p&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="tab tablink_name2" data-tablist="tablist_name"&gt
&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gtTab 2&lt;/p&gt
&lt;/div&gt</code></pre>

    <ul class="tabmenu" data-tablist="tablist_name">
        <li><a data-tablink="tablink_name1" href="#">Tab 1</a></li>
        <li><a data-tablink="tablink_name2" href="#">Tab 2</a></li>
    </ul>
    <div class="tab tablink_name1" data-tablist="tablist_name">
        <p>Tab 1</p>
    </div>
    <div class="tab tablink_name2" data-tablist="tablist_name">
        <p>Tab 2</p>
    </div>
</div>


<div class="tab styleguide_element" data-tablist="default">
    <h2>Verwendung von Elementen</h2>
    <ul>
        <li>Wähle wann immer möglich die nativen Elemente von HTML5.</li>
        <li>Verwende <code>&lt;input type="radio"&gt;</code> falls die Option <u>genau</u> zwei Möglichkeiten hat, also z.B. bei Ein/Aus oder Aktiviert/Deaktiviert.</li>
        <li>Verwende <code>&lt;select&gt;&lt;/select&gt;</code> falls die Option <u>mehr als</u> zwei Möglichkeiten hat.</li>
        <li>Verwende bei Bedarf folgende Elemente:</li>
    </ul>

    <h3>Formelemente</h3>
    <table class="adminlist splitview">
        <tr>
            <td><code>&lt;form&gt;&lt;/form&gt;</code></td>
            <td>
                <form>Form</form>
            </td>
        </tr>
        <tr>
            <td><label for="input"><code>&lt;input&gt;</code></label></td>
            <td><input id="input"></td>
        </tr>
        <tr>
            <td><label for="textarea"><code>&lt;textarea&gt;&lt;/textarea&gt;</code></label></td>
            <td><textarea id="textarea"></textarea></td>
        </tr>
        <tr>
            <td><code>&lt;label&gt;&lt;/label&gt;</code></td>
            <td><label>Label</label></td>
        </tr>
        <tr>
            <td><code>&lt;fieldset&gt;&lt;/fieldset&gt;</code></td>
            <td>
                <fieldset>Fieldset</fieldset>
            </td>
        </tr>
        <tr>
            <td><code>&lt;legend&gt;&lt;/legend&gt;</code></td>
            <td>
                <legend>Legend</legend>
            </td>
        </tr>
        <tr>
            <td><label for="select"><code>&lt;select&gt;&lt;/select&gt;</code></label></td>
            <td><select id="select"></select></td>
        </tr>
        <tr>
            <td><code>&lt;optgroup&gt;&lt;/optgroup&gt;</code></td>
            <td>
                <optgroup>Optgroup</optgroup>
            </td>
        </tr>
        <tr>
            <td><code>&lt;option&gt;&lt;/option&gt;</code></td>
            <td>
                <option>Option</option>
            </td>
        </tr>
        <tr>
            <td><code>&lt;button&gt;&lt;/button&gt;</code></td>
            <td><button>Button</button></td>
        </tr>
        <tr>
            <td><code>&lt;datalist&gt;&lt;/datalist&gt;</code></td>
            <td><datalist>Datalist</datalist></td>
        </tr>
        <tr>
            <td><code>&lt;output&gt;&lt;/output&gt;</code></td>
            <td><output>Output</output></td>
        </tr>
        <tr>
            <td><label for="meter"><code>&lt;meter&gt;&lt;/meter&gt;</code></label></td>
            <td><meter id="meter" value="0.6"></meter></td>
        </tr>
        <tr>
            <td><label for="progress"><code>&lt;progress&gt;&lt;/progress&gt;</code></label></td>
            <td><progress id="progress" value="32" max="100"></progress></td>
        </tr>
    </table>

    <h3>Eingabetypen</h3>
    <table class="adminlist splitview">
        <tr>
            <td><code>&lt;input type="button"&gt;</code></td>
            <td><input type="button" value="Button"></td>
        </tr>
        <tr>
            <td><label for="input_checkbox"><code>&lt;input type="checkbox"&gt;</code></label></td>
            <td><input type="checkbox" id="input_checkbox"></td>
        </tr>
        <tr>
            <td><label for="input_color"><code>&lt;input type="color"&gt;</code></label></td>
            <td><input type="color" id="input_color"></td>
        </tr>
        <tr>
            <td><label for="input_date"><code>&lt;input type="date"&gt;</code></label></td>
            <td><input type="date" id="input_date"></td>
        </tr>
        <tr>
            <td><label for="input_datetime"><code>&lt;input type="datetime-local"&gt;</code></label></td>
            <td><input type="datetime-local" id="input_datetime"></td>
        </tr>
        <tr>
            <td><label for="input_email"><code>&lt;input type="email"&gt;</code></label></td>
            <td><input type="email" id="input_email"></td>
        </tr>
        <tr>
            <td><label for="input_file"><code>&lt;input type="file"&gt;</code></label></td>
            <td><input type="file" id="input_file"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="hidden"</td>
            <td><input type="hidden"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="image"</td>
            <td><input type="image"></td>
        </tr>
        <tr>
            <td><label for="input_month"><code>&lt;input type="month"&gt;</code></label></td>
            <td><input type="month" id="input_month"></td>
        </tr>
        <tr>
            <td><label for="input_number"><code>&lt;input type="number"&gt;</code></label></td>
            <td><input type="number" id="input_number"></td>
        </tr>
        <tr>
            <td><label for="input_password"><code>&lt;input type="password"&gt;</code></label></td>
            <td><input type="password" id="input_password"></td>
        </tr>
        <tr>
            <td><label for="input_radio"><code>&lt;input type="radio"&gt;</code></label></td>
            <td><input type="radio" id="input_radio"></td>
        </tr>
        <tr>
            <td><label for="input_range"><code>&lt;input type="range"&gt;</code></label></td>
            <td><input type="range" id="input_range"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="reset"</td>
            <td><input type="reset"></td>
        </tr>
        <tr>
            <td><label for="input_search"><code>&lt;input type="search"&gt;</code></label></td>
            <td><input type="search" id="input_search"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="submit"</td>
            <td><input type="submit"></td>
        </tr>
        <tr>
            <td><label for="input_tel"><code>&lt;input type="tel"&gt;</code></label></td>
            <td><input type="tel" id="input_tel"></td>
        </tr>
        <tr>
            <td><label for="input_text"><code>&lt;input type="text"&gt;</code></label></td>
            <td><input type="text" id="input_text"></td>
        </tr>
        <tr>
            <td><label for="input_time"><code>&lt;input type="time"&gt;</code></label></td>
            <td><input type="time" id="input_time"></td>
        </tr>
        <tr>
            <td><label for="input_url"><code>&lt;input type="url"&gt;</code></label></td>
            <td><input type="url" id="input_url"></td>
        </tr>
        <tr>
            <td><label for="input_week"><code>&lt;input type="week"&gt;</code></label></td>
            <td><input type="week" id="input_week"></td>
        </tr>
    </table>
</div>



<div class="tab styleguide_buttons" data-tablist="default">
    <h2>Verwendung von Buttons</h2>
    <h3>Varianten</h3>
    <ul>
        <li>Häufig verwendete Buttons sind <code>Abbrechen</code>, <code>Speichern</code>, <code>Zurück</code> und <code>Durchsuchen</code>.</li>
        <li>Falls mehrere Buttons verwendet sind, setze den Button <code>Speichern</code> an letzter Stelle.</li>
        <li>Standarmässig stehen folgende Varianten zur Verfügung:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td><code>&lt;button&gt;Button&lt;/button&gt;</code></td>
            <td><button>Button</button></td>
        </tr>
        <tr>
            <td><code>&lt;a href="#" class="button"&gt;Button&lt;/a&gt;</code></td>
            <td><a href="#" class="button">Button</a></td>
        </tr>
        <tr>
            <td><code>&lt;input type="button" value="Button"&gt;</code></td>
            <td><input type="button" value="Button"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="reset"&gt;</code></td>
            <td><input type="reset"></td>
        </tr>
        <tr>
            <td><code>&lt;input type="submit"&gt;</code></td>
            <td><input type="submit"></td>
        </tr>
    </table>
    <h3>Varianten falls inaktiv</h3>
    <ul>
        <li><code>Disabled</code> stehen folgende Varianten zur Verfügung:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td><code>&lt;button disabled&gt;Button&lt;/button&gt;</code></td>
            <td><button disabled>Button</button></td>
        </tr>
        <tr>
            <td><code>&lt;a href="#" class="button disabled"&gt;Button&lt;/a&gt;</code></td>
            <td><a href="#" class="button disabled">Button</a></td>
        </tr>
        <tr>
            <td><code>&lt;input type="button" value="Button" disabled&gt;</code></td>
            <td><input type="button" value="Button" disabled></td>
        </tr>
        <tr>
            <td><code>&lt;input type="reset" disabled&gt;</code></td>
            <td><input type="reset" disabled></td>
        </tr>
        <tr>
            <td><code>&lt;input type="submit" disabled&gt;</code></td>
            <td><input type="submit" disabled></td>
        </tr>
    </table>
</div>


<div class="tab styleguide_table" data-tablist="default">
    <h2>Auflistung von Einträgen <u>mit</u> Funktionen</h2>
    <ul>
        <li>Verwende die Klasse <code>adminlist</code> für eine Standard-Ansicht, welche als letzte Spalte <i>Funktionen</i> hat.</li>
        <li>Verlinke den Namen des Eintrages, um in die Edit-Ansicht zu gelangen.</li>
        <li>Beispiel:</li>
    </ul>
    <pre><code>&lt;table class="adminlist"&gt;
    &lt;caption&gt;Caption&lt;/caption&gt;
    &lt;tr&gt;
        &lt;th&gt;Name&lt;/th&gt;
        &lt;th&gt;Header 2&lt;/th&gt;
        &lt;th&gt;Header 3&lt;/th&gt;
        &lt;th&gt;Funktionen&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;a href="#"&gt;Cell 1&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;Cell 2&lt;/td&gt;
        &lt;td&gt;Cell 3&lt;/td&gt;
        &lt;td&gt;&lt;a href="#"&gt;&lt;i class="fa-regular fa-copy"&gt;&lt;/i&gt;&lt;/a&gt;&lt;a href="#"&gt;&lt;i class="fa-regular fa-pen-to-square"&gt;&lt;/i&gt;&lt;/a&gt;&lt;a href="#"&gt;&lt;i class="fa-regular fa-trash-can"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
    <table class="adminlist">
        <caption>Caption</caption>
        <tr>
            <th>Name</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Funktionen</th>
        </tr>
        <tr>
            <td><a href="#">Cell 1</a></td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td><a href="#"><i class="fa-regular fa-copy"></i></a><a href="#"><i class="fa-regular fa-pen-to-square"></i></a><a href="#"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
    </table>

    <h2>Auflistung von Einträgen <u>ohne</u> Funktionen</h2>
    <ul>
        <li>Verwende die Klasse <code>adminlist</code> und <code>no-functions</code> für eine Standard-Ansicht ohne Funktionen.</li>
        <li>Beispiel:</li>
    </ul>
    <pre><code>&lt;table class="adminlist no-functions"&gt;
    &lt;caption&gt;Caption&lt;/caption&gt;
    &lt;tr&gt;
        &lt;th&gt;Header 1&lt;/th&gt;
        &lt;th&gt;Header 2&lt;/th&gt;
        &lt;th&gt;Header 3&lt;/th&gt;
        &lt;th&gt;Header 4&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;Cell 1&lt;/td&gt;
        &lt;td&gt;Cell 2&lt;/td&gt;
        &lt;td&gt;Cell 3&lt;/td&gt;
        &lt;td&gt;Cell 4&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
    <table class="adminlist no-functions">
        <caption>Caption</caption>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
        </tr>
    </table>

    <h2>2-Spalten-Layout</h2>
    <ul>
        <li>Verwende die Klassen <code>adminlist</code> und <code>splitview</code> bei einem 2-Spalten-Layout.</li>
        <li>Die Aufteilung der Spalten ist ca. 1 zu 2.</li>
        <li>Beispiel:</li>
    </ul>
    <pre><code>&lt;table class="adminlist splitview"&gt
    &lt;caption&gtCaption&lt;/caption&gt
    &lt;tr&gt
        &lt;th&gtHeader 1&lt;/th&gt
        &lt;th&gtHeader 2&lt;/th&gt
    &lt;/tr&gt
    &lt;tr&gt
        &lt;td&gtCell 1&lt;/td&gt
        &lt;td&gtCell 2&lt;/td&gt
    &lt;/tr&gt
&lt;/table&gt</code></pre>
    <table class="adminlist splitview">
        <caption>Caption</caption>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
        </tr>
    </table>
</div>

<div class="tab styleguide_messages" data-tablist="default">
    <h2>Verwendung von Meldungen</h2>
    <h3>Infobox</h3>
    <ul>
        <li>Verwende <code>&lt;div class="infobox"&gt;&lt;/div&gt;</code> für zusätzliche Informationen, Tipps und wichtige Bemerkungen.</li>
        <li>Beispiel:</li>
    </ul>
    <div class="infobox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et euismod nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor massa, nec semper lorem quam in massa.</div>
    <h3>Warningbox</h3>
    <ul>
        <li>Verwende <code>&lt;div class="warningbox"&gt;&lt;/div&gt;</code> bei einer Warnung.</li>
        <li>Beispiel:</li>
    </ul>
    <div class="warningbox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et euismod nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor massa, nec semper lorem quam in massa.</div>
    <h3>Alertbox</h3>
    <ul>
        <li>Verwende <code>&lt;div class="alertbox"&gt;&lt;/div&gt;</code> bei einer Fehlermeldung.</li>
        <li>Beispiel:</li>
    </ul>
    <div class="alertbox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et euismod nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor massa, nec semper lorem quam in massa.</div>
    <h3>Okbox</h3>
    <ul>
        <li>Verwende <code>&lt;div class="okbox"&gt;&lt;/div&gt;</code> bei einer Erfolgsmeldung.</li>
        <li>Beispiel:</li>
    </ul>
    <div class="okbox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et euismod nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor massa, nec semper lorem quam in massa.</div>
</div>

<div class="tab styleguide_icons" data-tablist="default">
    <h2>Verwendung von Icons</h2>
    <ul>
        <li>Verwende alle Icons von <a href="https://fontawesome.com/search?m=free&o=r" target="_blank">Font Awesome 6 Free</a>. Die frei erhältliche Bibliothek ist bereits eingebunden.</li>
        <li>Verwende die Variable <code>--icon-spacing</code> um den korrekten Abstand je Icon zu setzen.</li>
        <li>Standardmässig ist die Schrifticke <code>regular</code> gesetzt. Verwende wann immer möglich diese Schriftdicke.</li>
        <li>Alternativ steht die Schriftdicke <code>solid</code> zur Verfügung. Verwende diese Schriftdicke, falls du mit <code>regular</code> kein passendes Icon findest.</li>
        <li>Verwende die Icons <i class="fa-regular fa-copy"></i> <i class="fa-regular fa-pen-to-square"></i> <i class="fa-regular fa-trash-can"></i> in der aufgeführten Reihenfolge.</li>
        <li>Ein klickbares Icon ist immer blau z.B. <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>. Eine Ausnahme bilden hier die klickbaren Icons <a href="#"><i class="fa-regular fa-trash-can"></i></a> und <a href="#"><i class="fa-solid fa-recycle"></i></a>, welche rot dargestellt werden.</li>
        <li>Beispiele:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td>Tooltip</td>
            <td><i class="fa-regular fa-circle-question"></i></td>
        </tr>
        <tr>
            <td>Ansicht maximieren</td>
            <td><i class="fa-regular fa-square-plus"></i></td>
        </tr>
        <tr>
            <td>Ansicht minimieren</td>
            <td><i class="fa-regular fa-square-minus"></i></td>
        </tr>

        <tr>
            <td>Verlinkung in neuer Ansicht öffnen</td>
            <td><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
        </tr>
        <tr>
            <td>Eintrag hinzufügen / Anmelden / Neu</td>
            <td><i class="fa-solid fa-plus"></i></td>
        </tr>
        <tr>
            <td>Eintrag verstecken</td>
            <td><i class="fa-regular fa-eye"></i></td>
        </tr>
        <tr>
            <td>Eintrag anzeigen</td>
            <td><i class="fa-regular fa-eye-slash"></i></td>
        </tr>
        <tr>
            <td>Eintrag deaktivieren</td>
            <td><i class="fa-regular fa-circle-check"></i></td>
        </tr>
        <tr>
            <td>Eintrag aktivieren</td>
            <td><i class="fa-regular fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>Eintrag kopieren</td>
            <td><i class="fa-regular fa-copy"></i></td>
        </tr>
        <tr>
            <td>Eintrag bearbeiten / Detailansicht öffnen</td>
            <td><i class="fa-regular fa-pen-to-square"></i></td>
        </tr>
        <tr>
            <td>Inhalte eines Eintrages löschen</td>
            <td><i class="fa-solid fa-recycle"></i></td>
        </tr>
        <tr>
            <td>Eintrag löschen</td>
            <td><i class="fa-regular fa-trash-can"></i></td>
        </tr>
        <tr>
            <td>Eintrag wiederherstellen / zurücksetzen</td>
            <td><i class="fa-solid fa-clock-rotate-left"></i></td>
        </tr>
        <tr>
            <td>Verzeichnis erstellen</td>
            <td><i class="fa-solid fa-folder-plus"></i></td>
        </tr>
        <tr>
            <td>Datei hochladen</td>
            <td><i class="fa-solid fa-upload"></i></td>
        </tr>
        <tr>
            <td>Datei herunterladen</td>
            <td><i class="fa-solid fa-download"></i></td>
        </tr>
        <tr>
            <td>Datei importieren</td>
            <td><i class="fa-solid fa-file-import"></i></td>
        </tr>
        <tr>
            <td>Datei exportieren</td>
            <td><i class="fa-solid fa-file-export"></i></td>
        </tr>
    </table>
</div>

<div class="tab styleguide_color" data-tablist="default">
    <h2>Eingesetzte Farben</h2>
    <ul>
        <li>Folgende Farben sind als CSS-Variablen verfügbar:</li>
    </ul>
    <table class="adminlist splitview">
        <tr>
            <td><code>--black</code></td>
            <td style="background-color: var(--black);"><code>#000000</code></td>
        </tr>
        <tr>
            <td><code>--darkgray</code></td>
            <td style="background-color: var(--darkgray);"><code>#333333</code></td>
        </tr>
        <tr>
            <td><code>--gray</code></td>
            <td style="background-color: var(--gray);"><code>#DDDDDD</code></td>
        </tr>
        <tr>
            <td><code>--lightgray</code></td>
            <td style="background-color: var(--lightgray);"><code>#F2F2F2</code></td>
        </tr>
        <tr>
            <td><code>--darkwhite</code></td>
            <td style="background-color: var(--darkwhite);"><code>#F9F9F9</code></td>
        </tr>
        <tr>
            <td><code>--white</code></td>
            <td style="background-color: var(--white);"><code>#FFFFFF</code></td>
        </tr>
        <tr>
            <td><code>--red</code></td>
            <td style="background-color: var(--red);"><code>#E40000</code></td>
        </tr>
        <tr>
            <td><code>--lightred</code></td>
            <td style="background-color: var(--lightred);"><code>#E4000044</code></td>
        </tr>
        <tr>
            <td><code>--green</code></td>
            <td style="background-color: var(--green);"><code>#7FC600</code></td>
        </tr>
        <tr>
            <td><code>--lightgreen</code></td>
            <td style="background-color: var(--lightgreen);"><code>#7FC60033</code></td>
        </tr>
        <tr>
            <td><code>--blue</code></td>
            <td style="background-color: var(--blue);"><code>#0469B2</code></td>
        </tr>
        <tr>
            <td><code>--lightblue</code></td>
            <td style="background-color: var(--lightblue);"><code>#0469B222</code></td>
        </tr>
        <tr>
            <td><code>--orange</code></td>
            <td style="background-color: var(--orange);"><code>#FF8C00</code></td>
        </tr>
        <tr>
            <td><code>--lightorange</code></td>
            <td style="background-color: var(--lightorange);"><code>#FF8C0044</code></td>
        </tr>
        <tr>
            <td><code>--yellow</code></td>
            <td style="background-color: var(--yellow);"><code>#FFFF40</code></td>
        </tr>
        <tr>
            <td><code>--lightyellow</code></td>
            <td style="background-color: var(--lightyellow);"><code>#FFFF4033</code></td>
        </tr>

    </table>
</div>


<div class="tab styleguide_terms" data-tablist="default">
    <h2>Verwendung von Begriffen</h2>
    <ul>
        <li>Verwende bitte genderneutrale Begriffe.</li>
        <li>Setze wenn möglich folgende Vorgaben um:</li>
    </ul>
    <table class="adminlist no-functions">
        <tr>
            <th>Begriff DE</th>
            <th>Begriff EN</th>
            <th>Nicht verwenden</th>
        </tr>
        <tr>
            <td>Anwendung</td>
            <td>App</td>
            <td>Modul, Component</td>
        </tr>
        <tr>
            <td>Passwort</td>
            <td>Password</td>
            <td>Kennwort, Schlüsselwort, Passphrase</td>
        </tr>
        <tr>
            <td>Backend</td>
            <td>Backend</td>
            <td>Adminkonsole, Administrationskonsole</td>
        </tr>
        <tr>
            <td>Frontend</td>
            <td>Frontend</td>
            <td>Website-Ansicht, Webansicht</td>
        </tr>
        <tr>
            <td>Frontend-Sprache</td>
            <td>Frontend-Language</td>
            <td>Website-Sprache</td>
        </tr>
        <tr>
            <td>Icon</td>
            <td>Icon</td>
            <td>Symbol, Figur</td>
        </tr>
        <tr>
            <td>Theme</td>
            <td>Theme</td>
            <td>Design, Layout, Template, Webdesign Template</td>
        </tr>
        <tr>
            <td>Kundencenter</td>
            <td>Customer Center</td>
            <td>Customer Panel, MY, Admin</td>
        </tr>
    </table>
</div>

<!-- END StyleGuide.html -->
