<!-- start login_reset_password.html -->
{JAVASCRIPT}
<script>
/* <![CDATA[ */
cx.jQuery(document).ready(function() {
    cx.jQuery('form').submit(function(e) {
        if (cx.jQuery('#password2').val() == '') {
            cx.jQuery('#password2').addClass('error').focus();
            cx.jQuery('#no_password_2').show();
            e.preventDefault();
        } else {
            cx.jQuery('#password2').removeClass('error');
            cx.jQuery('#no_password_2').hide();
        }

        if (cx.jQuery('#password').val() == '') {
            cx.jQuery('#password').addClass('error').focus();
            cx.jQuery('#no_password_1').show();
            e.preventDefault();
        } else {
            cx.jQuery('#password').removeClass('error');
            cx.jQuery('#no_password_1').hide();
        }
    });
});
/* ]]> */
</script>

<div id="content_login_center" class="password_reset">
    <div id="content_login">
        <h1>{TITLE}</h1>

        <!-- BEGIN error_message -->
        <div class="alertbox">{LOGIN_ERROR_MESSAGE}</div>
        <!-- END error_message -->
        <!-- BEGIN success_message -->
        <div class="okbox">{LOGIN_SUCCESS_MESSAGE}</div>
        <!-- END success_message -->

        <!-- BEGIN login_reset_password -->
        <form method="post" action="index.php?cmd=Login&amp;act=resetpw">
            <input type="hidden" name="restore_key" value="{LOGIN_RESTORE_KEY}">
            <input type="hidden" name="email" value="{LOGIN_EMAIL}">
            <div>
                {TXT_LOGIN_SET_PASSWORD_TEXT}
            </div>
            <div>{TXT_LOGIN_EMAIL}: {LOGIN_EMAIL}</div>
            <div>
                <div class="error" id="no_password_1" style="display: none;">{TXT_LOGIN_ENTER_A_NEW_PASSWORD}</div>
                <label for="password">{TXT_LOGIN_PASSWORD} {TXT_LOGIN_PASSWORD_MINIMAL_CHARACTERS}:</label>
                <input tabindex="1" type="password" value="" name="PASSWORD" id="password">
            </div>
            <div>
                <div class="error" id="no_password_2" style="display: none;">{TXT_LOGIN_CONFIRM_NEW_PASSWORD}</div>
                <label for="password2">{TXT_LOGIN_VERIFY_PASSWORD}:</label>
                <input tabindex="2" type="password" value="" name="password2" id="password2">
            </div>
            <div>
                <input tabindex="3" type="submit" value="{TXT_LOGIN_SET_NEW_PASSWORD}" name="reset_password">
                <input tabindex="4" type="button" value="{TXT_LOGIN_BACK_TO_LOGIN}" onclick="window.location.href='/cadmin/'">
            </div>
        </form>
        <!-- END login_reset_password -->

        <!-- BEGIN back_to_login -->
        <div>
            <input tabindex="1" type="button" value="{TXT_LOGIN_GO_TO_BACKEND}" onclick="window.location.href='/cadmin/'">
        </div>
        <!-- END back_to_login -->
    </div>
</div>
<!-- end login_reset_password.html -->
