<!-- start login_lostpw.html -->
{JAVASCRIPT}
<script>
    /* <![CDATA[ */
cx.jQuery(document).ready(function() {
    cx.jQuery('form').submit(function(e) {
            if (cx.jQuery('#email').val() == '') {
                cx.jQuery('#email').addClass('error').focus();
                cx.jQuery('#no_email').show();
                e.preventDefault();
            }
        });
    });
    /* ]]> */
</script>

<div id="content_login_center" class="password_lost">
    <div id="content_login">
        <h1>{TXT_LOGIN_RESET_PASSWORD}</h1>

        <!-- BEGIN error_message -->
        <div class="alertbox">{LOGIN_ERROR_MESSAGE}</div>
        <!-- END error_message -->
        <!-- BEGIN success_message -->
        <div class="okbox">{LOGIN_SUCCESS_MESSAGE}</div>
        <!-- END success_message -->

        <!-- BEGIN login_lost_password -->
        <form method="post" action="index.php?cmd=Login&amp;act=lostpw" id="asdf">
            <p>{TXT_LOGIN_LOST_PASSWORD}</p>
            <div class="error" id="no_email" style="display: none;">{TXT_LOGIN_ENTER_A_EMAIL}</div>
            <input type="email" name="email" id="email" placeholder="{TXT_LOGIN_EMAIL}">
            <input type="submit" name="restore_pw" value="{TXT_LOGIN_RESET_PASSWORD}">
            <hr>
            <a href="index.php?cmd=Login">&laquo;&nbsp;{TXT_LOGIN_BACK_TO_LOGIN}</a>
        </form>
        <!-- END login_lost_password -->

        <!-- BEGIN back_to_login -->
        <input type="button" value="{TXT_LOGIN_BACK_TO_LOGIN}" onclick="window.location.href='/cadmin/'">
        <!-- END back_to_login -->
    </div>
</div>
<!-- end login_lostpw.html -->
