<!-- START login.html -->
<div id="content_login_center">
    <div id="content_login" class="login">
        <form method="post" action="index.php" name="login_form" onsubmit="return ValidateForm(this)">
            <h1>{TXT_LOGIN_LOGIN}</h1>
            <input type="hidden" name="redirect" value="{REDIRECT_URL}">
            <script>
                /* <![CDATA[ */
                form_submitted = false;
            function ValidateForm(form)
            {
                    if (form.USERNAME.value == '') {
                        if (form.USERNAME.focus)
                            form.USERNAME.focus();
                        document.getElementById('no_username').style.display = 'block';
                        document.getElementById('username').className = 'error';
                        form_submitted = false;
                    } else {
                        document.getElementById('no_username').style.display = 'none';
                        document.getElementById('username').className = '';
                    }
                    if (form.hash.value == '') {
                        if (form.hash.focus && form_submitted == true)
                            form.hash.focus();
                        document.getElementById('no_password').style.display = 'block';
                        document.getElementById('password').className = 'error';
                        form_submitted = false;
                    } else {
                        document.getElementById('no_password').style.display = 'none';
                        document.getElementById('password').className = '';
                    }
                    var isCaptchaOk = true;
                {CAPTCHA_VALIDATION_CODE}
                    document.getElementById('no_captcha_code').style.display = 'none';
                    if (!isCaptchaOk) {
                        if (form.coreCaptchaCode) {
                            if (form.coreCaptchaCode.focus && form_submitted == true) {
                                form.coreCaptchaCode.focus();
                            }
                            document.getElementById('coreCaptchaCode').className = 'error';
                        }
                        document.getElementById('no_captcha_code').style.display = 'block';
                        form_submitted = false;
                } else if (form.coreCaptchaCode){
                        document.getElementById('coreCaptchaCode').className = '';
                    }

                    if (!form_submitted) {
                        return false;
                    }
                    //form.PASSWORD.value=MD5(form.hash.value)
                form.PASSWORD.value=form.hash.value;
                form.hash.value='';
                    return true;
                }
                /* ]]> */
            </script>
            <!-- BEGIN error_message -->
            <div class="alertbox">{LOGIN_ERROR_MESSAGE}</div>
            <!-- END error_message -->
            <div class="error" id="no_username" style="display: none;">{TXT_LOGIN_ENTER_A_LOGIN}</div>
            <input tabindex="1" type="text" name="USERNAME" value="" id="username" placeholder="{TXT_LOGIN_USERNAME}">
            <div class="error" id="no_password" style="display: none;">{TXT_LOGIN_ENTER_A_PASSWORD}</div>
            <input tabindex="2" type="password" name="hash" value="" id="password" placeholder="{TXT_LOGIN_PASSWORD}">
            <input type="hidden" name="PASSWORD" value="">
            <div class="error" id="no_captcha_code" style="display: none;">{TXT_LOGIN_ENTER_CAPTCHA}</div>
            <!-- BEGIN captcha -->
            {CAPTCHA_CODE}
            <!-- END captcha -->
            <div class="two-columns">
                <div>
                    <input tabindex="3" type="checkbox" value="1" name="remember_me" id="remember_me">
                    <label for="remember_me">{TXT_LOGIN_REMEMBER_ME}</label>
                </div>
                <input tabindex="4" type="submit" name="submit_button" value="{TXT_LOGIN_LOGIN}" onclick="if(this.disabled || typeof(this.disabled)=='boolean') this.disabled=true ; form_submitted_test=form_submitted ; form_submitted=true ; form_submitted=(!form_submitted_test || confirm('Are you sure you want to submit this form again?')) ; if(this.disabled || typeof(this.disabled)=='boolean') this.disabled=false ; sub_form='' ; return true">
            </div>
            <hr>
            <div class="two-columns">
                <a tabindex="5" href="{FRONTEND_LINK}" title="{TXT_FRONTEND_LINK}">&laquo;&nbsp;{TXT_FRONTEND_LINK}</a>
                <a tabindex="6" href="index.php?cmd=Login&amp;act=lostpw">{TXT_LOGIN_PASSWORD_LOST}</a>
            </div>

            <script>
                /* <![CDATA[ */
                if (document.login_form.USERNAME.focus)
                    document.login_form.USERNAME.focus();
                /* ]]> */
            </script>
        </form>
    </div>
</div>
<!-- END login.html -->
