<!-- START module_calendar_categories.html -->
<script>
    //<![CDATA[
function deleteCategory(categoryId)
{
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={CALENDAR_MODULE_NAME}&act=categories&delete="+categoryId+"&{CALENDAR_CSRF}");
        }
    }

function elementIsChecked(fieldName)
{
        var x = 0;
    for(var i = 0; i < document.formCategoryList.elements.length; i++) {
            var e = document.formCategoryList.elements[i];
        if(e.name == fieldName && e.checked == true) {
                x++;
            }
        }

    if(x > 0) {
            return true;
        } else {
            return false;
        }
    }

function selectMultiAction()
{
    if(elementIsChecked("selectedCategoryId[]") == true)
    {
        if(document.formCategoryList.formCategoryList_MultiAction.value == "delete") {
            if(confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
                    document.formCategoryList.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=categories&multi=delete&{CALENDAR_CSRF}";
                    document.formCategoryList.submit();
                }
            }
        if(document.formCategoryList.formCategoryList_MultiAction.value == "activate") {
                document.formCategoryList.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=categories&multi=activate&{CALENDAR_CSRF}";
                document.formCategoryList.submit();
            }
        if(document.formCategoryList.formCategoryList_MultiAction.value == "deactivate") {
                document.formCategoryList.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=categories&multi=deactivate&{CALENDAR_CSRF}";
                document.formCategoryList.submit();
            }
        } else {
            alert("{TXT_CALENDAR_MAKE_SELECTION}");
        }

        document.formCategoryList.formCategoryList_MultiAction.value = "0";
    }

    //]]>
</script>
<form name="formCategoryList" id="formCategoryList" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=categories" method="post">
    <table class="adminlist">
        <caption>
            {TXT_CALENDAR_CATEGORIES}
            <div class="functions">
                <a href="/cadmin/Calendar/categories?tpl=modify_category" title="{TXT_CALENDAR_INSERT_CATEGORY}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_CALENDAR_STATUS}</th>
            <th>{TXT_CALENDAR_SORT}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th>{TXT_CALENDAR_EVENTS}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CALENDAR_COUNT_WITHOUT_SERIES}</span></th>
            <th>{TXT_CALENDAR_ACTION}</th>
        </tr>
        <!-- BEGIN categoryList -->
        <tr class="{CALENDAR_CATEGORY_ROW}">
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=categories&amp;switch_status={CALENDAR_CATEGORY_ID}"><img src="/core/Core/View/Media/icons/led_{CALENDAR_CATEGORY_LED}.gif" alt="{CALENDAR_CATEGORY_STATUS}" title="{CALENDAR_CATEGORY_STATUS}"></a></td>
            <td><input type="number" maxlength="3" name="categoryOrder[{CALENDAR_CATEGORY_ID}]" value="{CALENDAR_CATEGORY_SORT}" class="compact"></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=categories&amp;tpl=modify_category&amp;id={CALENDAR_CATEGORY_ID}" target="_self" title="{CALENDAR_CATEGORY_TITLE} {TXT_CATEGORY_EDIT}">{CALENDAR_CATEGORY_TITLE}</a></td>
            <td>{CALENDAR_CATEGORY_EVENTS}</td>
            <td>
                <a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=categories&amp;tpl=modify_category&amp;id={CALENDAR_CATEGORY_ID}" target="_self" title="{TXT_CALENDAR_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteCategory('{CALENDAR_CATEGORY_ID}');" title="{TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END categoryList -->

        <!-- BEGIN emptyCategoryList -->
        <tr>
            <td colspan="4">{TXT_CALENDAR_NO_CATEGORIES_FOUND}</td>
        </tr>
        <!-- END emptyCategoryList -->
    </table>
    <input type="submit" name="submitCategoryList" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_categories.html -->
