<!-- START module_calendar_settings_mails.html -->
<script>
    //<![CDATA[
function deleteTemplate(templateId)
{
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=mails&delete="+templateId+"&{CALENDAR_CSRF}");
        }
    }
    //]]>
</script>
<form id="formSettingsMail" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=mails" method="post">
    <input name="submitSettingsMail" type="hidden" value="1">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/Calendar/settings?tpl=modify_mail" title="{TXT_CALENDAR_NEW_MAIL_TEMPLATE}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_CALENDAR_STATUS}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th>{TXT_CALENDAR_ACTION}</th>
            <th>{TXT_CALENDAR_LANG}</th>
            <th>{TXT_CALENDAR_DEFAULT}</th>
            <th>{TXT_CALENDAR_ACTION}</th>
        </tr>
        <!-- BEGIN templateList -->
        <tr class="{CALENDAR_TEMPLATE_ROW}">
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=mails&amp;switch_status={CALENDAR_TEMPLATE_ID}"><img src="/core/Core/View/Media/icons/led_{CALENDAR_TEMPLATE_STATUS}.gif" alt="" title=""></a></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=modify_mail&amp;id={CALENDAR_TEMPLATE_ID}" target="_self" title="{CALENDAR_TEMPLATE_TITLE} {TXT_EDIT}">{CALENDAR_TEMPLATE_TITLE}</a></td>
            <td>{CALENDAR_TEMPLATE_ACTION}</td>
            <td>{CALENDAR_TEMPLATE_LANG}</td>
            <td><input type="radio" onclick="submit();" name="{CALENDAR_TEMPLATE_DEFAULT_NAME}" value="{CALENDAR_TEMPLATE_ID}" {CALENDAR_TEMPLATE_DEFAULT}></td>
            <td>
                <a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=modify_mail&amp;id={CALENDAR_TEMPLATE_ID}" target="_self" title="{CALENDAR_TEMPLATE_TITLE} {TXT_CALENDAR_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteTemplate('{CALENDAR_TEMPLATE_ID}');" title="{CALENDAR_TEMPLATE_TITLE} {TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END templateList -->

        <!-- BEGIN emptyTemplateList -->
        <tr>
            <td colspan="6">{TXT_CALENDAR_NO_TEMPLATES_FOUND}</td>
        </tr>
        <!-- END emptyTemplateList -->
    </table>
</form>
<!-- END module_calendar_settings_mails.html -->
