<!-- START module_calendar_settings_modify_host.html -->
<script>
  function formCheck()
  {
        /*if(document.formModifyCategory.name.value == "")
        {
            alert("{TXT_CALENDAR_FORMCHECK_NAME}");
          document.formModifyCategory.name.focus();
            return false;
        }*/
        return true;
    }
</script>

<form action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts" name="formModifyHost" method="post" onsubmit="return formCheck();">
    <input type="hidden" name="id" value="{CALENDAR_HOST_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_CALENDAR_HOST}</caption>
        <tr>
            <td>{TXT_CALENDAR_HOST_TITLE}</td>
            <td><input name="title" type="text" maxlength="255" value="{CALENDAR_HOST_TITLE}"></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_HOST_URI}</td>
            <td><input name="uri" type="text" value="{CALENDAR_HOST_URI}"></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_HOST_CATEGORY}</td>
            <td>{CALENDAR_HOST_CATEGORY}</td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_HOST_KEY}</td>
            <td><input name="key" type="text" maxlength="255" value="{CALENDAR_HOST_KEY}">{TXT_CALENDAR_HOST_KEY_AUTOGEN_IF_EMPTY}</td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_HOST_STATUS}</td>
            <td><input name="status" type="checkbox" value="1" {CALENDAR_HOST_STATUS}></td>
        </tr>
    </table>
    <input type="submit" name="submitModifyHost" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_settings_modify_host.html -->
