<!-- START module_calendar_settings_form.html -->
<script>
var lastId      = {CALENDAR_INPUTFIELD_LAST_ID};
var lastRow     = {CALENDAR_INPUTFIELD_LAST_ROW};
var BlankField  = '';

function appendField(){
        lastId = lastId + 1;

    if(lastRow == 'row1') {
            lastRow = 'row2';
        } else {
            lastRow = 'row1';
        }

        var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, lastId);
        var tmpBlankField2 = tmpBlankField1.replace(/FIELD_ROW/g, lastRow);

        $J('#inputfields').append(tmpBlankField2);
    $J('#inputfield_'+lastId).css('display', 'none');
    $J('#inputfield_'+lastId).fadeIn("slow");
    }

function deleteField(fieldId){
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
        $J('#inputfield_'+fieldId).fadeOut("slow", function(){ $J('#inputfield_'+fieldId).remove();});
        }
    }

    function ExpandMinimize(toggle, id) {

        if (toggle != "lang_name") {
        var masterValue = $J("tr#inputfield_"+id+" .lang_"+toggle+"_master").val();
        $J("tr#inputfield_"+id+" #inputfield_"+id+"_"+toggle+"_Expanded input").each(function(){
                if ($J(this).val() == '') {
                    $J(this).val(masterValue);
                }
            });
        }

        elm1 = document.getElementById('inputfield_' + id + '_' + toggle + '_Minimized');
        elm2 = document.getElementById('inputfield_' + id + '_' + toggle + '_Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
    }
$J(function(){
        calendarLoadFormFields();
    });
    function calendarLoadFormFields() {
    var formData = {CALENDAR_FORM_DATA};
        BlankField = $J("#blankField").html();

    $J(formData).each(function(index, data){
            $J('#inputfields').append(getField(data));
        });
    }
    function getField(data) {
        var decodeHtml = function (html) {
            var txt = document.createElement('textarea');
            txt.innerHTML = html;
            return txt.value;
        };
        var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, data.id);
        tmpBlankField1 = tmpBlankField1.replace(/FIELD_ROW/g, data.row);
        $field = $J(tmpBlankField1);
        $field.find('.lang_name_master').val(decodeHtml(data.name_master));
        $field.find('.sort_order').val(data.order);
        $field.find('.sort_order').val(data.order);
        $field.find('.field_type').val(data.type);
        $field.find('.lang_default_value_master').val(decodeHtml(data.default_value_master));
        if (data.required == '1') {
            $field.find('.field_req').attr('checked', 'checked');
        }
        $field.find('.field_afflications').val(data.affiliation);

        var lang_name = $J.parseJSON(data.field_value);
    $J.each(lang_name, function(index, value){
        $field.find('.inputNamefield_'+index).val(decodeHtml(value));
        });

        var lang_default_value = $J.parseJSON(data.default_field_value);
    $J.each(lang_default_value, function(index, value){
        $field.find('.inputDefaultfield_'+index).val(decodeHtml(value));
        });

        changeFieldType($field);

        return $field;
    }
    function changeFieldType(container) {
    switch(container.find('.field_type').val()) {
            case 'fieldset':
                container.find(".field_req").attr('disabled', 'disabled').hide();
            case 'agb':
                container.find(".field_afflications").attr('disabled', 'disabled').hide();
                container.find(".col_default_value :input").attr('disabled', 'disabled').hide();
                break;
            default:
                container.find(".field_req").removeAttr('disabled').show();
                container.find(".field_afflications").removeAttr('disabled').show();
                container.find(".col_default_value :input").removeAttr('disabled').show();
                break;
        }
    }
</script>
<script id="blankField" type="jquery/tmpl">
    <tr class="FIELD_ROW" id="inputfield_FIELD_ID">
    <td><code>FIELD_ID</code></td>
    <td><input class="sort_order compact" name="inputfield[FIELD_ID][order]" type="number" value="99" onfocus="this.select();" class="compact"></td>
    <td>
            <div id="inputfield_FIELD_ID_name_Minimized" style="display: block;">
            <input class='lang_name_master' name="inputfield[FIELD_ID][name][0]" maxlength="255" type="text" value="">
            </div>
            <div id="inputfield_FIELD_ID_name_Expanded" style="display: none;">
                <!-- BEGIN inputfieldNameList -->
            <input class="inputNamefield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][name][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="255" type="text" style="padding-left: 30px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value=""><br>
                <!--  END inputfieldNameList -->
            </div>
        </td>
    <td>
        <select onChange="changeFieldType($J(this).closest('#inputfield_FIELD_ID'));" class="field_type" name="inputfield[FIELD_ID][type]">
            <optgroup label="{TXT_CALENDAR_FIELDS}">
                <!-- BEGIN inputfieldTypes -->
                <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
                <!-- END inputfieldTypes -->
            </optgroup>
            <optgroup label="{TXT_CALENDAR_REGISTRATION_DATA}">
                <!-- BEGIN inputRegfieldTypes -->
                <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
                <!-- END inputRegfieldTypes -->
            </optgroup>
        </select>
    </td>
    <td class="col_default_value">
        <div id="inputfield_FIELD_ID_default_value_Minimized" style="display: block;">
            <input class="lang_default_value_master" name="inputfield[FIELD_ID][default_value][0]" maxlength="16777215" type="text" value="">
        </div>
        <div id="inputfield_FIELD_ID_default_value_Expanded" style="display: none;">
            <!-- BEGIN inputfieldDefaultValueList -->
            <input class="inputDefaultfield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][default_value][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="16777215" type="text" style="padding-left: 30px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value="{CALENDAR_INPUTFIELD_DEFAULT_VALUE}"><br>
            <!-- END inputfieldDefaultValueList -->
        </div>
    </td>
    <td><input class="field_req" name="inputfield[FIELD_ID][required]" type="checkbox" value="1"></td>
    <td>
        <!-- select class="field_afflications" name="inputfield[FIELD_ID][affiliation]">
            <!-- BEGIN fieldAfflications -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END fieldAfflications -->
        </select -->
    </td>
    <td>
        <div id="inputfield_FIELD_ID_lang_name_Minimized" style="display: {CALENDAR_DISPLAY_EXPAND};">
            <a href="javascript:ExpandMinimize('name', 'FIELD_ID'); ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');">{TXT_CALENDAR_EXPAND}</a>
        </div>
        <div id="inputfield_FIELD_ID_lang_name_Expanded" style="display: none;">
            <div class="pull-left>
            <!-- BEGIN inputfieldLanguagesList -->
            {CALENDAR_INPUTFIELD_LANG_NAME}<br>
            <!-- END inputfieldLanguagesList -->
        </div>
            <a class="pull-left href="javascript:ExpandMinimize('name', 'FIELD_ID');ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');">{TXT_CALENDAR_MINIMIZE}</a>
        </div>
    </td>
    <td><a href="javascript::void(0);" onclick="deleteField(FIELD_ID);" title="{TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
</tr>
</script>
<form name="formModifyForm" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=forms">
    <input name="formId" type="hidden" value="{CALENDAR_FORM_ID}">
    <table id="form" class="adminlist splitview">
        <caption>{TXT_CALENDAR_REGISTRATION_FORM_TITLE}</caption>
        <tr>
            <td>{TXT_CALENDAR_TITLE}</td>
            <td><input name="formTitle" maxlength="255" type="text" value="{CALENDAR_FORM_TITLE}"></td>
        </tr>
    </table>
    <table id="inputfields" class="adminlist">
        <tr>
            <th>ID</th>
            <th>{TXT_CALENDAR_SORT}</th>
            <th>{TXT_CALENDAR_FIELD_NAME}</th>
            <th>{TXT_CALENDAR_FIELD_TYPE}</th>
            <th>{TXT_CALENDAR_DEFAULT_VALUES}</th>
            <th>{TXT_CALENDAR_FIELD_REQUIRED}</th>
            <th colspan="2">{TXT_CALENDAR_ACTIONS}</th>
        </tr>
    </table>
    <input type="button" onclick="appendField();" name="newInputfiels" value="{TXT_CALENDAR_NEW_INPUTFIELD}">
    <input type="submit" name="submitModifyForm" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_settings_form.html -->
