<!-- START module_calendar_settings_forms.html -->
<script>
    //<![CDATA[
function deleteForm(formId)
{
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=forms&delete="+formId+"&{CALENDAR_CSRF}");
        }
    }
    //]]>
</script>
<form id="formSettingsForm" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=forms" method="post">
    <input name="submitSettingsMail" type="hidden" value="1">
    <table class="adminlist">
        <caption>
            <div class="functions">
                <a href="/cadmin/Calendar/settings?tpl=modify_form" title="{TXT_CALENDAR_NEW_REGISTRATION_FORM}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </caption>
        <tr>
            <th>{TXT_CALENDAR_STATUS}</th>
            <th>{TXT_CALENDAR_SORTING}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th>{TXT_CALENDAR_ACTION}</th>
        </tr>
        <!-- BEGIN formList -->
        <tr class="{CALENDAR_FORM_ROW}">
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=forms&amp;switch_status={CALENDAR_FORM_ID}"><img src="/core/Core/View/Media/icons/led_{CALENDAR_FORM_STATUS}.gif" alt="" title=""></a></td>
            <td><input type="number" maxlength="3" name="formOrder[{CALENDAR_FORM_ID}]" value="{CALENDAR_FORM_SORT}" class="compact"></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=modify_form&amp;id={CALENDAR_FORM_ID}" target="_self" title="{CALENDAR_FORM_TITLE} {TXT_EDIT}">{CALENDAR_FORM_TITLE}</a></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=modify_form&amp;copy={CALENDAR_FORM_ID}" target="_self" title="{CALENDAR_FORM_TITLE} {TXT_CALENDAR_COPY}"><i class="fa-regular fa-copy"></i></a><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&tpl=modify_form&amp;id={CALENDAR_FORM_ID}" target="_self" title="{CALENDAR_FORM_TITLE} {TXT_CALENDAR_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a><a href="javascript:deleteForm('{CALENDAR_FORM_ID}');" title="{CALENDAR_FORM_TITLE} {TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        <!-- END formList -->

        <!-- BEGIN emptyFormList -->
        <tr>
            <td colspan="4">{TXT_CALENDAR_NO_FORMS_FOUND}</td>
        </tr>
        <!-- END emptyFormList -->
    </table>
    <input type="submit" name="submitSettingsForms" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_settings_forms.html -->
