<!-- START module_calendar_settings_general.html -->
<script>
    {CALENDAR_SETTING_INFO_JS}
$J(function(){
   $J("input[name='settings[headlinesStatus]']").click(function(){
            showOrHideHeadLines($J(this).val());
        });
        showOrHideHeadLines($J("input[name='settings[headlinesStatus]']:checked").val());

        $addEventFrontend = $J("select[name='settings[addEventsFrontend]']");
   $addEventFrontend.change(function(){
            showOrHideFrSubmission($J(this).val());
        });
        showOrHideFrSubmission($addEventFrontend.val());

   $J("input[name='settings[placeData]']").click(function(){
            showOrHideMediaDirForm('placeData', 'placeDataForm');
        });
   $J("input[name='settings[placeDataHost]']").click(function(){
            showOrHideMediaDirForm('placeDataHost', 'placeDataHostForm');
        });
        showOrHideMediaDirForm('placeData', 'placeDataForm');
        showOrHideMediaDirForm('placeDataHost', 'placeDataHostForm');
    });
    function showOrHideMediaDirForm(dataField, formField) {
   inputVal = $J("input[name='settings["+dataField+"]']:checked").val();

        if (parseInt(inputVal) > 1) {
        $J("select[name='settings["+formField+"]']").closest('tr').show();
        $J("input[name='settings["+dataField+"]']").closest('tr').addClass('no-border');
        } else {
        $J("select[name='settings["+formField+"]']").closest('tr').hide();
        $J("input[name='settings["+dataField+"]']").closest('tr').removeClass('no-border');
        }
    }
    function showOrHideFrSubmission(inputVal) {
        if (parseInt(inputVal)) {
            $J("input[name='settings[confirmFrontendEvents]']").closest('tr').show();
        } else {
            $J("input[name='settings[confirmFrontendEvents]']").closest('tr').hide();
        }
    }
    function showOrHideHeadLines(inputVal) {
        if (inputVal == '1') {
            $J("input[name='settings[headlinesNum]']").closest('tr').show();
            $J("select[name='settings[headlinesCategory]']").closest('tr').show();
        } else {
            $J("input[name='settings[headlinesNum]']").closest('tr').hide();
            $J("select[name='settings[headlinesCategory]']").closest('tr').hide();
        }
    }
</script>
<form name="formSettingsGeneral" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings">
    <!--  BEGIN sectionList -->
    <table class="adminlist splitview">
        <caption>{TXT_CALENDAR_SECTION_NAME}</caption>
        <!--  BEGIN settingsList -->
        <tr class="{CALENDAR_SETTING_ROW} {CALENDAR_SETTING_NAME}">
            <td>{TXT_CALENDAR_SETTING_NAME}</td>
            <td>{CALENDAR_SETTING_VALUE}{CALENDAR_SETTING_INFO}</td>
        </tr>
        <!-- END settingsList -->
    </table>
    <!-- END sectionList -->
    <input type="submit" name="submitSettingsGeneral" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_settings_general.html -->
