<!-- START module_calendar_settings_modify_mail.html -->
<script>
    $J(function(){
        $J(".tmpl-action").change(function(){
            $J("tr.placeholder").hide();
            $J("tr.placeholder-all").css('display', 'table-row');
           $J("tr.placeholder-"+$J(this).val()).css('display', 'table-row');
        });
        $J(".tmpl-action").trigger("change");
    });
</script>
<form action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=mails" name="formModifyMail" method="post" onsubmit="return formCheck();">
    <input name="id" type="hidden" value="{CALENDAR_TEMPLATE_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_CALENDAR_MAIL_TEMPLATE_TITLE}</caption>
        <tr>
            <td>{TXT_CALENDAR_MAIL_ACTION}</td>
            <td><select name="action" class="tmpl-action">{CALENDAR_TEMPLATE_ACTION}</select></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_MAIL_LANG}</td>
            <td><select name="lang">{CALENDAR_TEMPLATE_LANG}</select></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_MAIL_RECIPIENTS}</td>
            <td><input name="recipients" type="text" value="{CALENDAR_TEMPLATE_RECIPIENTS}"></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_MAIL_TITLE}</td>
            <td><input name="title" type="text" value="{CALENDAR_TEMPLATE_TITLE}"></td>
        </tr>
    </table>
    <ul class="tabmenu" data-tablist="default">
        <li><a data-tablink="mailTab_contentHTML" class="active" href="#">{TXT_CALENDAR_MAIL_HTML}</a></li>
        <li><a data-tablink="mailTab_contentText" href="#">{TXT_CALENDAR_MAIL_TEXT}</a></li>
        <li><a data-tablink="mailTab_placeHolders" href="#">{TXT_CALENDAR_MAIL_PLACEHOLDER}</a></li>
    </ul>
    <div class="tab mailTab_contentHTML" data-tablist="default">
        <table class="adminlist">
            <tr>
                <td>{CALENDAR_TEMPLATE_CONTENT_HTML}</td>
            </tr>
        </table>
    </div>
    <div class="tab mailTab_contentText" data-tablist="default">
        <table class="adminlist">
            <tr>
                <td><textarea name="content_text" style="width: 100%;" rows="30">{CALENDAR_TEMPLATE_CONTENT_TEXT}</textarea></td>
            </tr>
        </table>
    </div>
    <div class="tab mailTab_placeHolders" data-tablist="default">
        <table class="adminlist splitview">
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_PLACEHOLDER_ID}</td>
                <td><code>[[ID]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_TITLE}</td>
                <td><code>[[TITLE]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_START_DATE}</td>
                <td><code>[[START_DATE]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_START_DATE_SHORT}</td>
                <td><code>[[START_DATE_SHORT]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_END_DATE}</td>
                <td><code>[[END_DATE]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_END_DATE_SHORT}</td>
                <td><code>[[END_DATE_SHORT]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_LINK_ATTACHMENT}</td>
                <td><code>[[LINK_ATTACHMENT]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_LINK_EVENT}</td>
                <td><code>[[LINK_EVENT]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_LINK_REGISTRATION}</td>
                <td><code>[[LINK_REGISTRATION]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_USERNAME}</td>
                <td><code>[[USERNAME]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_SALUTATION}</td>
                <td><code>[[SALUTATION]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_FIRSTNAME}</td>
                <td><code>[[FIRSTNAME]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_LASTNAME}</td>
                <td><code>[[LASTNAME]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-all">
                <td>{TXT_CALENDAR_URL}</td>
                <td><code>[[URL]]</code></td>
            </tr>
            <tr class="placeholder placeholder-all">
                <td>{TXT_CALENDAR_DATE}</td>
                <td><code>[[DATE]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_TYPE}</td>
                <td><code>[[REGISTRATION_TYPE]]</code></td>
            </tr>
            <tr class="placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_SALUTATION}</td>
                <td><code>[[REGISTRATION_SALUTATION]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_FIRSTNAME}</td>
                <td><code>[[REGISTRATION_FIRSTNAME]]</code></td>
            </tr>
            <tr class="placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_LASTNAME}</td>
                <td><code>[[REGISTRATION_LASTNAME]]</code></td>
            </tr>
            <tr class="row2 placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_EMAIL}</td>
                <td><code>[[REGISTRATION_EMAIL]]</code></td>
            </tr>
            <tr class="placeholder placeholder-2 placeholder-3">
                <td>{TXT_CALENDAR_REGISTRATION_DATA}</td>
                <td><code>[[REGISTRATION_DATA]]</code></td>
            </tr>
        </table>
    </div>
    <input type="submit" name="submitModifyMail" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- module_calendar_settings_modify_mail.html -->
