<!-- START module_calendar_overview.html -->
<script>
    // <![CDATA[
    function deleteNote(noteId)
{
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={CALENDAR_MODULE_NAME}&delete="+noteId+"&{CALENDAR_CSRF}");
        }
    }
    // ]]>
</script>
<form action="index.php?cmd={CALENDAR_MODULE_NAME}" method="post" name="formEventSearch">
    <div class="search-functions">
        <div>
            <input type="search" name="term" placeholder="{TXT_SEARCH}">
            <input type="submit" value="{TXT_SEARCH}" name="search">
        </div>
        <div>
            <select name="categoryId" onchange="this.form.submit()">{CALENDAR_CATEGORIES}</select>
            <input type="checkbox" onchange="this.form.submit()" id="list_filter" name="list" value="all" {CALENDAR_FILTER_ALL}>
            <label for="list_filter">{TXT_CALENDAR_ALL_EVENTS}</label>
            <span class="tooltip-trigger icon-info"></span>
            <span class="tooltip-message" style="visibility: visible; position: absolute; top: 50.75px; left: 66px; display: none;">{TXT_CALENDAR_FILTER_ALL_INFO}</span>
        </div>
    </div>
</form>
<!-- BEGIN showConfirmList -->
<form name="formEventConfirmList" method="post" action="">
    <table class="adminlist">
        <caption>{TXT_CALENDAR_CONFIRMLIST}</caption>
        <tr>
            <th>{TXT_CALENDAR_DATE}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th><!-- BEGIN txt_languages_block_confirm_list -->{TXT_CALENDAR_LANGUAGES}<!-- END txt_languages_block_confirm_list --></th>
            <th>{TXT_CALENDAR_CATEGORY}</th>
            <th>{TXT_CALENDAR_ACTION}</th>
        </tr>
        <!-- BEGIN eventConfirmList -->
        <tr class="{CALENDAR_EVENT_ROW}">
            <td>{CALENDAR_EVENT_DATE}</td>
            <td><a href="{CALENDAR_EVENT_EDIT_LINK}">{CALENDAR_EVENT_TITLE}</a></td>
            <td>{CALENDAR_EVENT_LANGUAGES}</td>
            <td>{CALENDAR_EVENT_CATEGORY}</td>
            <td>
                <a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;confirm={CALENDAR_EVENT_ID}" title="{TXT_CALENDAR_CONFIRM}"><i class="fa-solid fa-check"></i></a>
                <a href="javascript:deleteNote('{CALENDAR_EVENT_ID}');" title="{TXT_CALENADR_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END eventConfirmList -->
    </table>
</form>
<!-- END showConfirmList -->
<form name="formEventList" method="post" action="">
    <table class="adminlist">
        <caption>
            {TXT_CALENDAR_EVENTS}
            <div class="functions">
                <!-- BEGIN eventAdd -->
                <a href="/cadmin/Calendar/modify_event" title="{TXT_CALENDAR_NEW_EVENT}">
                    <i class="fa-solid fa-plus"></i>
                </a>
                <!-- END eventAdd -->
            </div>
        </caption>
        <tr>
            <th>{TXT_CALENDAR_STATUS}</th>
            <th>{TXT_CALENDAR_DATE}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th><!-- BEGIN txt_languages_block -->{TXT_CALENDAR_LANGUAGES}<!-- END txt_languages_block --></th>
            <th>{TXT_CALENDAR_CATEGORY}</th>
            <th>{TXT_CALENDAR_SERIES}</th>
            <th>{TXT_CALENDAR_RE_DEREGISTRATIONS}</th>
            <th>{TXT_CALENDAR_DEREGISTRATIONS}</th>
            <th>{TXT_CALENDAR_WAITLIST}</th>
            <th>{TXT_CALENDAR_ACTION}</th>
        </tr>
        <!-- BEGIN eventList -->
        <tr class="{CALENDAR_EVENT_ROW}">
            <td><a href="#" onclick="toggleStatus(this, 'event', {CALENDAR_EVENT_ID});"><img src="/core/Core/View/Media/icons/led_{CALENDAR_EVENT_LED}.gif" alt="{CALENDAR_EVENT_STATUS}" title="{CALENDAR_EVENT_STATUS}"></a></td>
            <td>{CALENDAR_EVENT_DATE}</td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=modify_event&amp;id={CALENDAR_EVENT_ID}">{CALENDAR_EVENT_TITLE}</a></td>
            <td>{CALENDAR_EVENT_LANGUAGES}</td>
            <td>{CALENDAR_EVENT_CATEGORY}</td>
            <td>{CALENDAR_EVENT_SERIES}</td>
            <td>{CALENDAR_EVENT_COUNT_REG}<a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=event_registrations&amp;tpl=r&amp;id={CALENDAR_EVENT_ID}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
            <td>{CALENDAR_EVENT_COUNT_SIGNOFF}<a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=event_registrations&amp;tpl=d&amp;id={CALENDAR_EVENT_ID}&amp;tab-default=regTab_deregistration" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
            <td>{CALENDAR_EVENT_COUNT_WAITLIST}<a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=event_registrations&amp;tpl=w&amp;id={CALENDAR_EVENT_ID}&amp;tab-default=regTab_waitlist" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
            <td>
                <a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=modify_registration&amp;event_id={CALENDAR_EVENT_ID}" title="{TXT_CALENDAR_ADD_REGISTRATION}"><i class="fa-solid fa-plus"></i></a>
                <a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;export={CALENDAR_EVENT_ID}&amp;date={CALENDAR_EVENT_REGISTRATION_START_TIMESTAMP}" title="{TXT_CALENDAR_EXPORT_ICAL_FORMAT}"><i class="fa-solid fa-download"></i></a>
                <a href="{CALENDAR_EVENT_COPY_LINK}" title="{TXT_CALENDAR_COPY}"><i class="fa-regular fa-copy"></i></a>
                <a href="{CALENDAR_EVENT_EDIT_LINK}" title="{TXT_CALENDAR_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="javascript:deleteNote('{CALENDAR_EVENT_ID}');" title="{TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END eventList -->
        <!-- BEGIN emptyEventList -->
        <tr>
            <td colspan="10">{TXT_CALENDAR_NO_EVENTS}</td>
        </tr>
        <!-- END emptyEventList -->
    </table>
    {CALENDAR_PAGING}
</form>
<!-- END module_calendar_overview.html -->
