<!-- START module_calendar_modify_registration.html -->
<form action="index.php?cmd={CALENDAR_MODULE_NAME}&act=modify_registration&event_id={CALENDAR_EVENT_ID}&amp;rid={CALENDAR_REGISTRATION_ID}&{CALENDAR_CSRF}" id="formModifyRegistration" name="formModifyRegistration" method="post">
    <input type="hidden" name="regid" value="{CALENDAR_REGISTRATION_ID}">
    <input type="hidden" name="regtpl" value="{CALENDAR_REGISTRATION_TPL}">
    <input type="hidden" name="type" value="{CALENDAR_REGISTRATION_TYPE}">
    <input type="hidden" name="id" value="{CALENDAR_EVENT_ID}">
    <input type="hidden" name="form" value="{CALENDAR_FORM_ID}">
    <input type="hidden" name="date" value="{CALENDAR_EVENT_DATE}">
    <table class="adminlist splitview">
        <caption>{TXT_CALENDAR_REGISTRATION_TITLE}</caption>
        <!-- BEGIN calendar_registration_inputfield -->
        <tr class="{CALENDAR_ROW}">
            <td>{CALENDAR_REGISTRATION_INPUTFIELD_NAME} {CALENDAR_REGISTRATION_INPUTFIELD_REQUIRED}</td>
            <td>{CALENDAR_REGISTRATION_INPUTFIELD_VALUE}</td>
        </tr>
        <!-- END calendar_registration_inputfield -->
        <tr>
            <td>
                <label for="sendMailConfirm">{TXT_CALENDAR_SEND_MAIL_CONFIRM}</label>
                <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{CALENDAR_SEND_MAIL_CONFIRM_TOOLTIP}</span>
            </td>
            <td><input type="checkbox" value="1" name="sendMailConfirm" id="sendMailConfirm" {CALENDAR_SEND_MAIL}></td>
        </tr>
        <tr>
            <td>{TXT_CALENDAR_REGISTRAR}</td>
            <td><input class="live-search-user-id" name="userid" value="{CALENDAR_USER_ID}"></td>
        </tr>
    </table>
    <input type="button" onClick="window.history.back();" value="{TXT_CALENDAR_BACK}" class="secondary">
    <input type="submit" name="submitModifyRegistration" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_modify_registration.html -->
