<!-- START module_calendar_event_registrations.html -->
<style>
    .export_options,
    .export_options > label {
        width: 100%;
        float: left;
    }
    .export_options input {
        outline: none;
    }
</style>
<script>
    // <![CDATA[
    function selectMultiAction(containerForm) {
        if (containerForm.find('.selectedRegistrationId:checked').length)
        {
            if (containerForm.find('.registrationAction').val() == "delete") {
                containerForm.attr("action", "index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations&tpl={CALENDAR_EVENT_TPL}&id={CALENDAR_EVENT_ID}&multi=delete&{CALENDAR_CSRF}");
                containerForm.submit();
            }
            tpl = containerForm.find('.registrationMove').val();
            if (tpl == 'r' || tpl == 'd' || tpl == 'w') {
                containerForm.attr("action", "index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations&tpl="+ tpl +"&id={CALENDAR_EVENT_ID}&multi="+ tpl +"&{CALENDAR_CSRF}");
                containerForm.submit();
            }
        } else {
            alert("{TXT_CALENDAR_MAKE_SELECTION}");
        }

        containerForm.find(".multiAction").val(0);
    }

    function changeCalendarCheckboxes(objForm, inputCheckbox, do_check)
    {
        if ($J("form#"+objForm).length) {
            $form = $J("form#"+objForm);

            if (do_check) {
                $form.find("input.selectedRegistrationId").attr("checked", "checked");
            } else {
                $form.find("input.selectedRegistrationId").removeAttr("checked");
            }
        }
    }
    $J(function(){
        $J(".delete_registration").click(function(){
            if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
                return true;
            }
            return false;
        });
        $J('.regTab .registration-date-filter').change(function(){
            var selectedDateFilter = $J(this).val();
            var url = "index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations&tpl=" + $J('.registration-tab .active').data('registrationType') + "&id={CALENDAR_EVENT_ID}&date=" + selectedDateFilter + '&csrf=' + cx.variables.get('csrf', 'contrexx');
            window.location.replace(url);
        });
        cx.jQuery('.export_csv').click(function() {
            cx.jQuery('.csv-file').attr('checked', 'checked');
            cx.jQuery('.csv-excel-file').removeAttr('checked');

            var fileFormat = Cookies.get('format');
            if (fileFormat && fileFormat === 'export_csv_excel') {
                cx.jQuery('.csv-excel-file').attr('checked', 'checked');
                cx.jQuery('.csv-file').removeAttr('checked');
            }
            var exportDialog = cx.ui.dialog({
                width: 520,
                title: '{TXT_CALENDAR_EXPORT_TITLE}',
                content: cx.jQuery( ".exportContainer" ).html(),
                autoOpen: false,
                buttons: {
                    "{TXT_CALENDAR_EXPORT_CANCEL}" : function() {
                        cx.jQuery(this).dialog("close");
                    },
                    "{TXT_CALENDAR_EXPORT_EXPORT}": function() {
                        var exportFormat = cx.jQuery('input[name=export]:checked').val();
                        var url = "index.php?cmd={CALENDAR_MODULE_NAME}&act=export_registrations&id={CALENDAR_EVENT_ID}&format=" + exportFormat + "&{CALENDAR_CSRF}";
                        Cookies.set("format", exportFormat);
                        window.location.href = url;
                        cx.jQuery(this).dialog("close");
                    }
                },
                close: function() {
                    cx.jQuery(this).dialog("close");
                }
            });
            exportDialog.open();
        });
    });
    // ]]>
</script>
<div class="exportContainer" style="display: none;">
    <div class="export_options">
        <span>{TXT_CALENDAR_EXPORT_SUB_TITLE}</span>
        <label><input type="radio" name="export" value="export_csv" class="csv-file">{TXT_CALENDAR_EXPORT_CSV}</label>
        <label><input type="radio" name="export" value="export_csv_excel" class="csv-excel-file">{TXT_CALENDAR_EXPORT_CSV_FOR_MS_EXCEL}</label>
    </div>
</div>

<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="regTab_registration" href="#">{TXT_CALENDAR_REGISTRATIONS}</a></li>
    <li><a data-tablink="regTab_deregistration" href="#">{TXT_CALENDAR_DEREGISTRATIONS}</a></li>
    <li><a data-tablink="regTab_waitlist" href="#">{TXT_CALENDAR_WAITLIST}</a></li>
</ul>
<!-- BEGIN calendar_event_registration_container -->
<div class="tab regTab_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}" data-tablist="default">
    <form id="form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}" class="formRegistrationList" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations">
        <table class="adminlist">
            <caption>
                <div class="functions">
                    <a href="javascript:{}" class="export_csv" title="{TXT_CALENDAR_EXPORT}"><i class="fa-solid fa-file-export"></i> {TXT_CALENDAR_EXPORT}</a>
                    <a href='index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=add_registration&amp;event_id={CALENDAR_EVENT_ID}' title="{TXT_CALENDAR_ADD}"><i class="fa-solid fa-plus"></i> {TXT_CALENDAR_ADD}</a>
                </div>
            </caption>
            <!-- BEGIN calendar_event_registration_list -->
            <tr>
                <!-- BEGIN calendar_event_registration_list_field_labels -->
                <th {CALENDAR_REG_COL_ATTRIBUTES}>{CALENDAR_EVENT_REGISTRATION_LIST_FIELD_LABEL}</th>
                <!-- END calendar_event_registration_list_field_labels -->
            </tr>

            <!-- BEGIN calendar_event_registration_list_entry -->
            <tr class="{CALENDAR_REGISTRATION_ROW}">
                <!-- BEGIN calendar_event_registration_list_entry_field -->
                <td>{CALENDAR_EVENT_REGISTRATION_LIST_ENTRY_FIELD_VALUE}</td>
                <!-- END calendar_event_registration_list_entry_field -->
            </tr>
            <!-- END calendar_event_registration_list_entry -->

        </table>
        <ul class="bulk-functions">
            <li><a href="javascript:void(0);" onclick="changeCalendarCheckboxes('form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}', 'selectedRegistrationId', true); return false;">{TXT_SELECT_ALL}</a></li>
            <li><a href="javascript:void(0);" onclick="changeCalendarCheckboxes('form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}', 'selectedRegistrationId', false); return false;">{TXT_DESELECT_ALL}</a></li>
            <li>
                <select class="multiAction registrationAction" name="registrationAction" onchange="selectMultiAction($J(this).closest('form'));">
                    <option value="0">{TXT_SUBMIT_SELECT}</option>
                    <option value="delete">{TXT_SUBMIT_DELETE}</option>
                </select>
            </li>
            <li>
                <select class="multiAction registrationMove" name="registrationMove" onchange="selectMultiAction($J(this).closest('form'));">
                    <option value="0">{TXT_SUBMIT_MOVE}</option>
                    <option value="r">{TXT_CALENDAR_REGISTRATIONS}</option>
                    <option value="d">{TXT_CALENDAR_DEREGISTRATIONS}</option>
                    <option value="w">{TXT_CALENDAR_WAITLIST}</option>
                </select>
            </li>
        </ul>
        <!-- END calendar_event_registration_list -->
        <table class="adminlist">
            <!-- BEGIN calendar_event_registration_list_empty -->
            <tr>
                <td colspan="10">{TXT_CALENDAR_NO_REGISTRATIONS}</td>
            </tr>
            <!-- END calendar_event_registration_list_empty -->
        </table>
    </form>
</div>
<!-- END calendar_event_registration_container -->
<!-- END module_calendar_event_registrations.html -->
