<!-- START module_calendar_settings.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=general" class="{MODULE_CALENDAR_SUBNAV_GENERAL}" title="{TXT_CALENDAR_GLOBAL}">{TXT_CALENDAR_GLOBAL}</a></li>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=forms" class="{MODULE_CALENDAR_SUBNAV_FORMS}" title="{TXT_CALENDAR_REGISTRATION_FORMS}">{TXT_CALENDAR_REGISTRATION_FORMS}</a></li>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=mails" class="{MODULE_CALENDAR_SUBNAV_MAILS}" title="{TXT_CALENDAR_MAIL_TEMPLATES}">{TXT_CALENDAR_MAIL_TEMPLATES}</a></li>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=date" class="{MODULE_CALENDAR_SUBNAV_DATE}" title="{TXT_CALENDAR_DATE_DISPLAY}">{TXT_CALENDAR_DATE_DISPLAY}</a></li>
    </ul>
</div>
{CALENDAR_SETTINGS_CONTENT}
<!-- END module_calendar_settings.html -->
