<!-- START module_calendar_settings_hosts.html -->
<script>
    //<![CDATA[
    function deleteHost(hostId)
{
        if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
            window.location.replace("index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts&delete="+hostId+"&{CALENDAR_CSRF}");
        }
    }

    function elementIsChecked(fieldName)
{
        var x = 0;
        for(var i = 0; i < document.formSettingsHosts.elements.length; i++) {
            var e = document.formSettingsHosts.elements[i];
            if(e.name == fieldName && e.checked == true) {
                x++;
            }
        }

        if(x > 0) {
            return true;
        } else {
            return false;
        }
    }

    function selectMultiAction()
{
        if(elementIsChecked("selectedHostId[]") == true)
    {
            if(document.formSettingsHosts.formSettingsHosts_MultiAction.value == "delete") {
                if(confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
                    document.formSettingsHosts.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts&multi=delete&{CALENDAR_CSRF}";
                    document.formSettingsHosts.submit();
                }
            }
            if(document.formSettingsHosts.formSettingsHosts_MultiAction.value == "activate") {
                document.formSettingsHosts.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts&multi=activate&{CALENDAR_CSRF}";
                document.formSettingsHosts.submit();
            }
            if(document.formSettingsHosts.formSettingsHosts_MultiAction.value == "deactivate") {
                document.formSettingsHosts.action = "index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts&multi=deactivate&{CALENDAR_CSRF}";
                document.formSettingsHosts.submit();
            }
        } else {
            alert("{TXT_CALENDAR_MAKE_SELECTION}");
        }

        document.formSettingsHosts.formSettingsHosts_MultiAction.value = "0";
    }
    //]]>

    Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
    {CALENDAR_SETTING_INFO_JS}

</script>


<form name="formSettingsHosts" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=hosts">
    <table class="adminlist">
        <caption>{TXT_CALENDAR_ADDED_HOSTS}</caption>
        <tr>
            <th>#</th>
            <th>{TXT_CALENDAR_STATUS}</th>
            <th>{TXT_CALENDAR_TITLE}</th>
            <th>{TXT_CALENDAR_URI}</th>
            <th>{TXT_CALENDAR_CATEGORY}</th>
            <th>{TXT_CALENDAR_KEY}</th>
            <th>{TXT_CALENDAR_ACTIONS}</th>
        </tr>
        <!--  BEGIN hostList -->
        <tr class="{CALENDAR_HOST_ROW}">
            <td><input type="checkbox" name="selectedHostId[]" id="selectedHostId" value="{CALENDAR_HOST_ID}"></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=hosts&amp;switch_status={CALENDAR_HOST_ID}"><img src="/core/Core/View/Media/icons/led_{CALENDAR_HOST_LED}.gif" alt="{CALENDAR_HOST_STATUS}" title="{CALENDAR_HOST_STATUS}"></a></td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=modify_host&amp;id={CALENDAR_HOST_ID}">{CALENDAR_HOST_TITLE}</a></td>
            <td><a href="{CALENDAR_HOST_URI}" target="_blank">{CALENDAR_HOST_URI}</a></td>
            <td>{CALENDAR_HOST_CATEGORY}</td>
            <td>{CALENDAR_HOST_KEY}</td>
            <td><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=modify_host&amp;id={CALENDAR_HOST_ID}" target="_self" title="{CALENDAR_HOST_TITLE} {TXT_CALENDAR_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a><a href="javascript:deleteHost('{CALENDAR_HOST_ID}');" title="{CALENDAR_HOST_TITLE} {TXT_CALENDAR_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        <!-- END hostList -->

        <!-- BEGIN emptyHostList -->
        <tr>
            <td colspan="7"><i>{TXT_CALENDAR_NO_HOSTS_FOUND}</i></td>
        </tr>
        <!-- END emptyHostList -->
    </table>
    <ul class="bulk-functions">
        <li><a href="#" onclick="changeCheckboxes('formSettingsHosts','selectedHostId',true); return false;">{TXT_SELECT_ALL}</a></li>
        <li><a href="#" onclick="changeCheckboxes('formSettingsHosts','selectedHostId',false); return false;">{TXT_DESELECT_ALL}</a></li>
        <li>
            <select name="formSettingsHosts_MultiAction" onchange="selectMultiAction();">
                <option value="0">{TXT_SUBMIT_SELECT}</option>
                <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
                <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
                <option value="delete">{TXT_SUBMIT_DELETE}</option>
            </select>
        </li>
    </ul>
    <!--  BEGIN sectionList -->
    <table class="adminlist splitview">
        <caption>{TXT_CALENDAR_SECTION_NAME}</caption>
        <!--  BEGIN settingsList -->
        <tr class="{CALENDAR_SETTING_ROW}">
            <td>{TXT_CALENDAR_SETTING_NAME}</td>
            <td>{CALENDAR_SETTING_VALUE}{CALENDAR_SETTING_INFO}</td>
        </tr>
        <!-- END settingsList -->
    </table>
    <!-- END sectionList -->
    <input type="button" name="newHost" onclick="location.href='index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=modify_host&amp;{CALENDAR_CSRF}'" value="{TXT_CALENDAR_INSERT_HOST}">
    <input type="submit" name="submitSettingsHosts" value="{TXT_CALENDAR_SAVE}">
</form>
<!-- END module_calendar_settings_hosts.html -->
