<h2>Profildaten</h2>
<ul>
    <li><a href="index.php?section=Access&amp;cmd=settings_profiledata">Profil und Kontaktdaten anpassen / erfassen</a></li>
    <li><a href="index.php?section=Access&amp;cmd=settings_avatar">Profilbild &auml;ndern</a></li>
</ul>
