<div class="row">
    <div id="access" class="container-fluid">
        <div class="regForm col-md-12 col-sm-12 col-xs-12">
            <!-- BEGIN access_signup_form -->
            <p>{TXT_ACCESS_SIGNUP_INTRODUCTION}</p>
            <div class="text-danger">{ACCESS_SIGNUP_MESSAGE}</div>
            <form class="resetForm" role="form" action="{NODE_ACCESS_SIGNUP}" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{ACCESS_IMAGE_UPLOADER_ID}" name="access_image_uploader_id" />
                <fieldset><legend>{TXT_ACCESS_PERSONAL_DATA}</legend>
                    <!-- BEGIN access_profile_attribute_gender -->
                    <p><label>{ACCESS_PROFILE_ATTRIBUTE_GENDER_DESC}</label>{ACCESS_PROFILE_ATTRIBUTE_GENDER}</p>
                    <!-- END access_profile_attribute_gender -->
                    <!-- BEGIN access_profile_attribute_firstname -->
                    <p><label>{ACCESS_PROFILE_ATTRIBUTE_FIRSTNAME_DESC}</label>{ACCESS_PROFILE_ATTRIBUTE_FIRSTNAME}</p>
                    <!-- END access_profile_attribute_firstname -->
                    <!-- BEGIN access_profile_attribute_lastname -->
                    <p><label>{ACCESS_PROFILE_ATTRIBUTE_LASTNAME_DESC}</label>{ACCESS_PROFILE_ATTRIBUTE_LASTNAME}</p>
                    <!-- END access_profile_attribute_lastname -->
                </fieldset>
                <fieldset><legend>{TXT_ACCESS_ACCOUNT_DATA}</legend>
                    <!-- BEGIN access_user_email -->
                    <p><label>{ACCESS_USER_EMAIL_DESC}</label>{ACCESS_USER_EMAIL}
                        <span style="display: block;">{TXT_ACCESS_PROVIDE_VALID_EMAIL}</span></p>
                    <!-- END access_user_email -->
                    <!-- BEGIN access_logindata -->
                    <!-- BEGIN access_user_username -->
                        <p><label>{ACCESS_USER_USERNAME_DESC}</label>{ACCESS_USER_USERNAME}<span style="display: block;">{TXT_ACCESS_SET_USERNAME}</span></p>
                    <!-- END access_user_username --><!-- BEGIN access_user_password -->
                    <p><label>{ACCESS_USER_PASSWORD_DESC}</label>{ACCESS_USER_PASSWORD}<span style="display: block;">{TXT_ACCESS_SET_PASSWORD}</span></p>
                    <!-- END access_user_password --><!-- BEGIN access_user_password_confirmed -->
                    <p><label>{ACCESS_USER_PASSWORD_CONFIRMED_DESC}</label>{ACCESS_USER_PASSWORD_CONFIRMED}<span style="display: block;">{TXT_ACCESS_CONFIRM_PASSWORD_DESC}</span></p>
                    <!-- END access_user_password_confirmed -->
                    <!-- END access_logindata -->
                </fieldset>
                <fieldset><legend>{TXT_ACCESS_ADDITIONAL_DATA}</legend>
                    <p><label>{ACCESS_USER_FRONTEND_LANGUAGE_DESC}</label>{ACCESS_USER_FRONTEND_LANGUAGE}</p>
                    <p><b>{TXT_ACCESS_NOTE}:</b><br />{TXT_ACCESS_ADDITIONAL_DATA_DESC}</p>
                    <!-- BEGIN access_captcha -->
                    <p><label>{TXT_ACCESS_CAPTCHA}</label>{ACCESS_CAPTCHA_CODE}</p>
                    <!-- END access_captcha -->
                </fieldset>
                <!-- BEGIN access_newsletter -->
                <fieldset><legend>{TXT_ACCESS_NEWSLETTER_SUBSCRIPTION}</legend>
                    <!-- BEGIN access_newsletter_list -->
                    <p>
                        <span class="checkbox">
                            <label for="access_user_newsletters-{ACCESS_NEWSLETTER_ID}">
                                <input type="checkbox" name="access_user_newsletters[]" id="access_user_newsletters-{ACCESS_NEWSLETTER_ID}" value="{ACCESS_NEWSLETTER_ID}"{ACCESS_NEWSLETTER_SELECTED} />
                                {ACCESS_NEWSLETTER_NAME}
                            </label>
                        </span>
                    </p>
                    <!-- END access_newsletter_list -->
                </fieldset>
                <!-- END access_newsletter -->
                <!-- BEGIN access_tos -->
                <fieldset>
                    <legend>{TXT_ACCESS_TERMS}</legend>
                    <div>
                        <label>{TXT_ACCESS_TOS}</label>{ACCESS_TOS}</div>
                </fieldset>
                <!-- END access_tos -->
                <p>{ACCESS_SIGNUP_BUTTON}</p>
            </form>
            <!-- END access_signup_form -->
            <!-- BEGIN access_signup_store_success -->
            <div class="text-success">{ACCESS_SIGNUP_MESSAGE}</div>
            <!-- END access_signup_store_success -->
            <!-- BEGIN access_signup_store_error -->
            <div class="text-danger">{ACCESS_SIGNUP_MESSAGE}</div>
            <!-- END access_signup_store_error -->
            <!-- BEGIN access_signup_confirm_success -->
            <div class="text-success">{ACCESS_SIGNUP_MESSAGE}</div>
            <!-- END access_signup_confirm_success -->
            <!-- BEGIN access_signup_confirm_error -->
            <div class="text-danger">{ACCESS_SIGNUP_MESSAGE}</div>
            <!-- END access_signup_confirm_error -->
            <!-- BEGIN access_signup_confirm -->
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    document.querySelector('form#confirm').submit();
                });
            </script>
            <form id="confirm" action="#" method="post" style="display: none;">
                <input type="hidden" name="u" value="" />
                <input type="hidden" name="k" value="" />
                <!-- The submit button won't be included on automatic submission -->
                <input type="hidden" name="confirm" />
            </form>
            <script>
                // Prepare the form *before* DOMContentLoaded
                (() => {
                    // Parameters without value are added to the object as empty strings
                    const parameters = Object.fromEntries(
                        new URLSearchParams(location.search)
                    );
                    document.querySelector('form#confirm').setAttribute(
                        'action',
                        location.origin + location.pathname
                    );
                    document.querySelector('input[name=u]').setAttribute(
                        'value',
                        parameters.u
                    );
                    document.querySelector('input[name=k]').setAttribute(
                        'value',
                        parameters.k
                    );
                })();
            </script>
            <!-- END access_signup_confirm -->
            {ACCESS_JAVASCRIPT_FUNCTIONS}
            {ACCESS_IMAGE_UPLOADER_CODE}
        </div>
    </div>
</div>
