a.news_category_switch::before {
    font-family: "Font Awesome 6 Free";
    content: "\f06e"; /* fa-eye */
    color: var(--blue);	
    margin: var(--icon-spacing);
}
a.news_category_switch.hidden::before {
    content: "\f070"; /* fa-eye-slash */
}
