.imagesContainer img {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin: 5px;
    width: 200px;
    vertical-align: middle;
}

.imagesContainer .galleryImageVisible {
    opacity: 1;
}

.confirmImages {
    display: none;
}
