<div class="contact row form-group">
    <label for="contactFormFieldId_{CONTACT_FORM_FIELD_ID}">{CONTACT_FORM_FIELD_LABEL}<!-- BEGIN contact_form_field_required --> <strong class="is_required">*</strong><!-- END contact_form_field_required --></label>
    <input class="contactFormClass_datetime datetime" type="text"
        name="contactFormField_{CONTACT_FORM_FIELD_ID}"
        id="contactFormFieldId_{CONTACT_FORM_FIELD_ID}" value="{CONTACT_FORM_FIELD_VALUE}" />
</div>
