<!-- START settings_image.html -->
<style>
    #content #thumbnail-generator-button {
        text-shadow: none;
        color: #000;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all;
        padding: 20px 35px;
        font-size: 16px;
        background: #e7e7e7 url('/core_modules/MediaBrowser/View/Media/Icons/refreshFolder.png') no-repeat 10px 50% ;
        background-size: 20px;
    }

    #content #thumbnail-generator-button:hover {
        background-color: #cfcfcf;
    }
</style>

<script>
    var template = '{CONFIG_THUMBNAIL_NEW_TEMPLATE}';

    function deleteThumbnail(entryId) {
        bootbox.confirm("{TXT_IMAGE_THUMBNAILS_DELETE}", function (result) {
            if (result) {
                window.location.replace("index.php?cmd=Config&{TXT_IMAGE_CSRF}&act=thumbnail&deleteid=" + entryId);
            }
        });
    }

    function regenerateThumbnails() {

        var refreshId;
        var key = Math.random().toString(36).substr(2, 5);
        cx.jQuery.get('index.php?cmd=Config&act=generateThumbnail&key=' + key, function (progress) {
            cx.jQuery('.progress-bar').css('width','100%');
            clearInterval(refreshId);

            cx.jQuery(refreshModal).modal('hide');
            bootbox.dialog({
                title: "Generierung fertig.",
                message: "Alle Vorschaubilder wurden generiert.",
                buttons: {
                    success: {
                        label: "Okay",
                        className: "btn-success",
                        callback: function () {

                        }
                    }
                },
                onEscape : function(){
                    cx.jQuery(refreshModal).modal('hide');
                }
            });
        });

        var refreshModal =  bootbox.dialog({
            title: "Vorschaubilder neu generieren",
            message: '<div class="progress  thumbnails-generator">' +
                '<div class="progress-bar progress-bar-striped active" style="width: 0%;">' +
                '<span class="sr-only">60% Complete</span>' +
                '</div></div>',
            buttons: {
                danger: {
                    label: "Abbrechen",
                    className: "btn-danger",
                    callback: function () {
                        clearInterval(refreshId);
                    }
                }
            }
        });

        refreshId = function()
        {
            cx.jQuery.get('/tmp/public/progress'+key+'.txt', function(progress)
            {
                cx.jQuery('.progress-bar').css('width',progress+'%');

                cx.jQuery('.thumbnails-generator .progress-bar').text( parseInt(progress)+'%');
                if(progress >= 100)
                {
                    cx.jQuery('.thumbnails-generator').removeClass('active');
                    cx.jQuery('.thumbnails-generator').removeClass('progress-striped');
                    cx.jQuery('.thumbnails-generator .progress-bar').text('Complete');
                    clearTimeout(refreshId);
                }
                else {
                    setTimeout(refreshId, 500);
                }
            });
        };
        setTimeout(refreshId, 500);
    }

    function editThumbnail(entryId, name, size) {
        var dialog = bootbox.dialog({
            title: "{TXT_IMAGE_THUMBNAILS_NEW}",
            message: template,
            className: "edit-thumbnail-modal",
            buttons: {
                success: {
                    label: "{TXT_SAVE}",
                    className: "btn-success",
                    callback: function () {
                        cx.jQuery('.edit-thumbnail-modal form[name=settings_image]').submit();
                    }
                },
                danger: {
                    label: "Abbrechen",
                    className: "btn-danger",
                    callback: function () {

                    }
                }
            },
            show: false
        });
        cx.jQuery(dialog).on('show.bs.modal', function (e) {
            cx.jQuery('.edit-thumbnail-modal input[name=id]').val(entryId);
            cx.jQuery('.edit-thumbnail-modal input[name=name]').val(name);
            cx.jQuery('.edit-thumbnail-modal input[name=size]').val(size);
        });

        cx.jQuery(dialog).modal('show');
    }
</script>

<form name="settings_image" method="post" action="index.php?cmd=Config&amp;act=image">
    <table class="adminlist splitview">
        <caption>{TXT_IMAGE_TITLE}</caption>
        <tr style="display: none">
            <td>{TXT_IMAGE_COMPRESSION}</td>
            <td>
                <select name="image_compression">
                    <!-- BEGIN settings_image_compression_options -->
                    <option value="{IMAGE_COMPRESSION_VALUE}" {OPTION_SELECTED}>{IMAGE_COMPRESSION_NAME}</option>
                    <!-- END settings_image_compression_options -->
                </select>&nbsp;%
            </td>
        </tr>
    </table>
    <!--<input type="submit" value="{TXT_SAVE}" name="submit">-->
    <a class="button" onclick="javascript:regenerateThumbnails()" id="thumbnail-generator-button">{TXT_IMAGE_THUMBNAILS_RELOAD}</a>
</form>
<table class="adminlist" style="display: none">
    <caption>{TXT_IMAGE_THUMBNAILS}</caption>
    <tr>
        <th>{TXT_IMAGE_THUMBNAILS_ID}</th>
        <th>{TXT_IMAGE_THUMBNAILS_NAME}</th>
        <th>{TXT_IMAGE_THUMBNAILS_SIZE}</th>
        <th>{TXT_SETTINGS_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN settings_image_thumbnails_list -->
    <tr>
        <td><code>{IMAGE_THUMBNAIL_ID}</code></td>
        <td>{IMAGE_THUMBNAIL_NAME}</td>
        <td>Maximal {IMAGE_THUMBNAIL_SIZE}px</td>
        <td>
            <a target="_self" title="" onclick="javascript:editThumbnail({IMAGE_THUMBNAIL_ID}, '{IMAGE_THUMBNAIL_NAME}', {IMAGE_THUMBNAIL_SIZE})">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <a target="_self" title="" onclick="javascript:deleteThumbnail({IMAGE_THUMBNAIL_ID})">
                <i class="fa-regular fa-trash-can"></i>
            </a>
        </td>
    </tr>
    <!-- END settings_image_thumbnails_list -->
</table>
<!--<a class="button" onclick="javascript:editThumbnail('', '', 0)">{TXT_IMAGE_THUMBNAILS_NEW}</a>-->
<!-- END settings_image.html -->