<!-- start settings_smtp.html -->
<script>
  // <[[CDATA
function settingsSmtpDeleteAccount(id,name)
{
    strMsg = '{TXT_SETTINGS_CONFIRM_DELETE_ACCOUNT}';
  if  (confirm(strMsg.replace('%s', name)+'\n{TXT_SETTINGS_OPERATION_IRREVERSIBLE}')) {
    window.location.href = 'index.php?cmd=Config&{CSRF_PARAM}&act=smtp&tpl=delete&id='+id;
      return true;
    }
    return false;
  }
  // ]]>
</script>
<table class="adminlist">
  <caption>
    <div class="functions">
      <a href="/cadmin/Config/smtp?tpl=modify" title="{TXT_SETTINGS_ADD_NEW_SMTP_ACCOUNT}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </caption>
  <tr>
    <th>{TXT_SETTINGS_ACCOUNT}</th>
    <th>{TXT_SETTINGS_HOST}</th>
    <th>{TXT_SETTINGS_USERNAME}</th>
    <th>{TXT_SETTINGS_STANDARD}</th>
    <th>{TXT_SETTINGS_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN settings_smtp_accounts -->
  <tr class="row{SETTINGS_ROW_CLASS_ID}">
    <td>{SETTINGS_SMTP_ACCOUNT}</td>
    <td>{SETTINGS_SMTP_HOST}</td>
    <td>{SETTINGS_SMTP_USERNAME}</td>
    <td><input type="radio" name="settings_smtp_default" onclick="window.location.href='?cmd=Config&{CSRF_PARAM}&amp;act=smtp&amp;tpl=default&amp;id={SETTINGS_SMTP_ACCOUNT_ID}'" value="{SETTINGS_SMTP_ACCOUNT_ID}" {SETTINGS_SMTP_DEFAULT} {SETTINGS_SMTP_OPTION_DISABLED}></td>
    <td>
      <!-- BEGIN settings_smtp_account_functions -->
      <a href="?cmd=Config&amp;act=smtp&amp;tpl=modify&amp;id={SETTINGS_SMTP_ACCOUNT_ID}" title="{TXT_SETTINGS_MODFIY}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="javascript:settingsSmtpDeleteAccount({SETTINGS_SMTP_ACCOUNT_ID},'{SETTINGS_SMTP_ACCOUNT_JS}')" title="{TXT_SETTINGS_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      <!-- END settings_smtp_account_functions -->
    </td>
  </tr>
  <!-- END settings_smtp_accounts -->
</table>
<!-- end settings_smtp.html -->
