<!-- start settings_smtp_modify.html -->
<form action="?cmd=Config&amp;act=smtp&amp;tpl=modify&amp;id={SETTINGS_SMTP_ID}" method="post">
  <table class="adminlist splitview">
    <caption>{SETTINGS_SMTP_TITLE}</caption>
    <tr>
      <td>{TXT_SETTINGS_ACCOUNT}</td>
      <td><input type="text" name="settings_smtp_account" value="{SETTINGS_SMTP_ACCOUNT}" maxlength="50"></td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_SMTP_SERVER}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_SMTP_HOSTNAME_TXT}</span></td>
      <td>
        <input type="text" name="settings_smtp_hostname" value="{SETTINGS_SMTP_HOST}" maxlength="255" placeholder="{TXT_SETTINGS_HOST}"><br>
        <input type="number" name="settings_smtp_port" value="{SETTINGS_SMTP_PORT}" class="compact" placeholder="{TXT_SETTINGS_PORT}">
      </td>
    </tr>
    <tr>
      <td>{TXT_SETTINGS_AUTHENTICATION}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SETTINGS_SMTP_AUTHENTICATION_TXT}</span></td>
      <td>
        <input type="text" name="settings_smtp_username" value="{SETTINGS_SMTP_USERNAME}" maxlength="255" placeholder="{TXT_SETTINGS_USERNAME}"><br>
        <input type="password" name="settings_smtp_password" autocomplete="new-password" value="{SETTINGS_SMTP_PASSWORD}" maxlength="255" placeholder="{TXT_SETTINGS_PASSWORD}">
      </td>
    </tr>
  </table>
  <input type="button" value="{TXT_SETTINGS_BACK}" onclick="window.location.href='?cmd=Config&{CSRF_PARAM}&amp;act=smtp'" class="secondary">
  <input type="submit" value="{TXT_SETTINGS_SAVE}" name="settings_smtp_save">
</form>
<!-- end settings_smtp_modify.html -->