.dropDownDialog {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 150;
    margin-left: calc(var(--navigation-width) * -1);
    margin-top: var(--header-height);
}
.dropDownDialog div.dropDownContent {
    padding-right: 3px;
}
.dropDownDialog a.dropDownItem {
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 11px;
    padding: 3px 0 3px 3px;
    text-decoration: none;
    width: 100%;
}
.crm-deleteLink::before, .crm_deleteLink_address::before {
    font-family: "Font Awesome 6 Free";
    content: "\f2ed"; /* fa-trash-can */
    color: var(--red);	
    margin-left: .3em;
    cursor: pointer;
}
.crm-addNewLink::before, .crm_addNewLink_address::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* fa-solid */
    content: "\2b"; /* fa-plus */
    color: var(--blue);	
    margin-left: .3em;
    cursor: pointer;
}
.not_primary_field::before, .not_primary_field_address::before {
    font-family: "Font Awesome 6 Free";
    content: "\f058"; /* fa-circle-check */
    color: var(--blue);	
    margin-left: .3em;
    cursor: pointer;
}
.primary_field::before, .primary_field_address::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* fa-solid */
    content: "\f058"; /* fa-circle-check */
    color: var(--blue);	
    margin-left: .3em;
    cursor: pointer;
}

/*
* Customer
*/
#addContact, #addWebsite {
    background-image: url("../../../../core/Core/View/Media/icons/icon-user-add.png");
    background-position: left top;
    padding-left: 20px;
    background-repeat: no-repeat;
    font-size: 11px;
    text-align: right;
    float: right;
    border-bottom: 1px dotted #BBB;
    margin-top: 2px;
    height: 17px;
}
.clear {clear: both;float: none;}
#access .input-addcontact {width: 156px !important;}
#access select.input-addcontact {width: 158px !important;}
#contactsContainer {
    float: left;
    width: 100%;
}
#websiteContainer {
    float: left;
    width: 100%;
}
.spacing{float: left;width: 1%;}
.delete-customer::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f057"; /* fa-circle-xmark */
    color: var(--blue);
    margin: var(--icon-spacing);
    cursor: pointer;
}

#content .chzn-container {
    float: left;
    height: auto;
    z-index: 1;
    width: 262px !important;
}
.contact_user_container .error {
    color: red;
}
.contact_user_container .success {
    color: green;
}
.email_list, .phone_list, .website_list, .social_list {
    background-color: #fff;
    border: 1px solid #BBB;
    float: left;
    width: 260px;
}
.website_list_container, .social_list_container {
    float: left;
    width: 100%;
}
#content .email_list_container .email_list input.mInput,
#content .website_list_container .website_list input.mInput,
#content .social_list_container .social_list input.mInput,
#content .phone_list_container .phone_list input.mInput {
    border: medium none;
    width: 100%;
    float: left;
}
#content .email_list_container .email_list input.mInput:focus,
#content .website_list_container .website_list input.mInput:focus,
#content .social_list_container .social_list input.mInput:focus,
#content .phone_list_container .phone_list input.mInput:focus {
    outline: none;
}

#content .website_list_container .website_list a,
#content .social_list_container .social_list a,
#content .email_list_container .email_list a,
#content .phone_list_container .phone_list a {
    text-align: left;
    border-bottom: 1px solid #A49191;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
    width: 65px;
    height: 19px;
    cursor: pointer;
}
#emailContainer,
#phoneContainer,
#websiteContainer,
#socialContainer {
    display: flex;
    flex-direction: column;
}
