.crm-watermark {
    color: #AAAAAA;
}
.crm-companyInfoCardLink::before {
    font-family: "Font Awesome 6 Free";
    content: "\f1ad"; /* fa-building */
    color: var(--blue);
}
.ui-autocomplete-loading {
    background: white url('../../../../core/Core/View/Media/icons/ui-anim_basic_16x16.gif') right center no-repeat;
}
input#importfile {
    position: absolute;
    left: -5000px; /** move out of the screen */
}
.warning {
    display: none;
}
#content input.disabled {
    background: #ccc;
}
.clear{clear: both;}
#Import .ui-state-highlight{background: #DFF0FE;display: none;}
#Import .ui-state-error{background: #FEC9CF;display: none;}
table#mapCSVColumn thead tr td {padding: 10px;}
table#mapCSVColumn tbody tr.not_match {background-color: var(--lightyellow);}
.arrow-down-task {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    border-top-color: #777777;
    border-bottom-color: #777777;
    margin-left: 2px;
    margin-top: 5px;
}
#notesCategoriesPanel a span, .CategoriesDropDownPanel a span {
    padding-left: 46px;
}
.notesDiv {
    padding-left: 50px;
    min-height: 40px;
}
tr.task_expired {
    background-color: var(--lightyellow);
}
.task_status_wrapper {
    width: 55px;
    margin: 0 auto;
}
#notesCategoriesPanel a, .CategoriesDropDownPanel a, #taskStatusPanel a {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 2px;
    color: #444;
}
#notesCategoriesPanel a:hover, .CategoriesDropDownPanel a:hover, #taskStatusPanel a {
    background-color: #F2F2F2;
}
#notesCategoriesPanel, .CategoriesDropDownPanel {
    width: 262px;
    background: #fff;
    border: 1px solid #C7C7C7;
    z-index: 1000;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#contact-details tr td {
    border: 0px none;
}
#profile-photo h4{
    margin: 5px 0;
}
#formerr, #newContact {
    display: none;
}
.advanced-search {
    font-size: var(--font-size-small);
}
/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.sort_order_icon { position: relative;top: 7px; cursor: pointer;margin-right: 15px;}
#ajaxMessageDiv {
    width: 100px;position:fixed;left: 45%;background-color: #ccc;padding: 10px;font-size: 14px;top: 0;
}
#ajaxMessageDiv:hover{
    background-color: #D0D0A8;
}

.document-txt::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f15c"; /* fa-file-lines */
}

.document-img::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f1c5"; /* fa-file-image */
}

.document-csv::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f56e"; /* fa-file-export */
}
 
.document-doc::before,
.document-docx::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f1c2"; /* fa-file-word */
}

.document-pdf::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f1c1"; /* fa-file-pdf */
}

.document-xls::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f1c3"; /* fa-file-excel */
}

.nowrap {white-space: nowrap;}
progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 1.8em;
  border: 1px solid #0063a6;
  background: #fff;
}
progress::-moz-progress-bar { background: #0063a6; }

#personPopupContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 20000;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}
