<script>
    var inputFileds = [0];
    var defaultLang = '{DEFAULT_LANG_ID}';
    function ExpandMinimize(toggle){
        elm1 = document.getElementById('Inputfield_' + toggle + '_Minimized');
        elm2 = document.getElementById('Inputfield_' + toggle + '_Expanded');

        activeLang = new Array({LANG_ARRAY});

        elmMaster = document.getElementById('Inputfield_' + toggle + '_0');
        elmDefault = document.getElementById('Inputfield_' + toggle + '_' + defaultLang);

        for(i=0;i<activeLang.length;i++) {
            elmCurrent = document.getElementById('Inputfield_' + toggle + '_' + activeLang[i]);
            if(elmCurrent.value == '') {
                elmCurrent.value = elmMaster.value;
            }
        }

        if(elm1.style.display=='block') {
            elmDefault.value = elmMaster.value;
        } else {
            elmMaster.value = elmDefault.value;
        }

        elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
        elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
    }
    $J(function(){
        $J("input").keyup(function () {
            $J(this).css("border","1px solid #0A50A1");
        });
        $J("#industry_types").submit(function(){
            $J.each(inputFileds, function(i, val){
                if ($J("#Inputfield_"+val+"_Minimized").is(":visible")){
                   $J("#Inputfield_"+val+"_"+defaultLang).val($J("#Inputfield_"+val+"_0").val());
                }
            });
            //alert("test");
             $J("input, select").css("border","1px solid #0A50A1");
             var errors =new  Array();
            var errChk;


            if ($J.trim($J("#Inputfield_0_"+defaultLang).val()) == "") {
                errChk = 1;

                $J("input[id^=Inputfield_0_]").each(function(){
                    if ($J.trim($J(this).val()) == "")
                       $J(this).css('border','1px solid red');
                });
            }
            if ( errChk == 1) {
                $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}");
                $J('#formerr').css('display','block');
                return false;
            } else {
                return true;
            }
            //return false;
        });
    });
</script>
<div>
    <div id="formerr" class="alertbox"></div>
    <form id="industry_types" action="" method="post">
        <table class="adminlist splitview">
            <caption>{TXT_TITLE_MODIFY_INDUSTRY}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="activeStatus" value="active" {CRM_ACTIVATED_VALUE}></td>
            </tr>
            <tr>
                <td>{TXT_CRM_NAME}</td>
                <td>
                    <div id="Inputfield_0_Minimized" style="display: block; ">
                        <input type="text" name="Inputfield[0]" id="Inputfield_0_0" value="{CRM_INDUSTRY_NAME_DEFAULT_VALUE}" onfocus="this.select();"><a href="javascript:ExpandMinimize('0');">{TXT_CRM_MORE}</a>
                    </div>
                    <div id="Inputfield_0_Expanded" style="display: none; ">
                        <!-- BEGIN industryTypeNames -->
                        <!-- BEGIN minimize -->
                        <a href="javascript:ExpandMinimize('0');">{TXT_CRM_MINIMIZE}</a><br>
                        <!-- END minimize -->
                        <input type="text" name="Inputfield[{LANG_ID}]" id="Inputfield_0_{LANG_ID}" value="{CRM_INDUSTRY_NAME_VALUE}" style="padding-left: 30px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{LANG_SHORT_NAME}.gif') no-repeat 3px 3px;" onfocus="this.select();">{LANG_LONG_NAME}<br>
                        <!-- END industryTypeNames -->
                    </div>
                </td>
            </tr>
            <tr>
                <td>{TXT_CRM_PARENT_INDUSTRY_TYPE}</td>
                <td>
                    <select name='parentId'>
                        <option value='0'> -- {TXT_CRM_NEW_INDUSTRY_TYPE} -- </option>
                        {CRM_PARENT_INDUSTRY_DROPDOWN}
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="sortingNumber" id="sortingNumber" value="{CRM_SORTINGNUMBER}">
        <input type="button" name="back_button" value="{TXT_CRM_BACK}" onClick="window.location.replace('index.php?cmd={MODULE_NAME}&act=settings&tpl=industry&{CSRF_PARAM}');" class="secondary">
        <input type="submit" name="save_entry" value="{TXT_CRM_SAVE}">
    </form>
</div>
