<script>
    $J(function(){
        $J('#term').data('holder',$J('#term').attr('placeholder'));

        $J('#term').focusin(function(){
            $J(this).attr('placeholder','');
        });
        $J('#term').focusout(function(){
            $J(this).attr('placeholder',$J(this).data('holder'));
        });
        $J("#multiAction").change(function(){

            if ($J(".entrySelection:checked").length <= 0 && $J(this).val() != 0) {
                alert('{TXT_SELECT_ENTRIES}');
                return
            }
            if ($J(this).val() == "delete") {
                if(confirm('{TXT_CRM_CONFIRM_DELETE_ENTRY}'))
                    $J("#dealsOverview").submit();
                else
                    return;

            }
            if ($J(this).val() != 0)
                $J("#dealsOverview").submit();
        });
        $J(".deleteEntry").click(function(){
            $elm  = $J(this);
            en_id = $J(this).attr('rel').split('_')[1]
            if (confirm ("{TXT_CRM_CONFIRM_DELETE_ENTRY}")) {
                $J.ajax({
                    url     : './index.php?cmd={MODULE_NAME}&act=deals&actionType=deletedeals&ajax=1&id='+en_id,
                    type    : 'POST',
                    success : function(msg){
                        $elm.closest("tr").remove();
                        fadeOkbox('{TXT_CRM_ENTRY_DELETED_SUCCESS}');
                    }
                });
            }
        });
    });
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function getOkBox(mes) {
        return '<div class="okbox">' + mes + '</div>';
    }
    function fadeOkbox(msg) {
        $J('.okbox').remove();
        $J('table#subnavbar_level1').after(getOkBox(msg));
        setTimeout(function () {
            $J('.okbox').fadeOut('slow');
        }, 6000);
    }
</script>
<div id="deals">
    <form action="" name="search-opportunity" id="search-opportunity">
        <input type="hidden" name="cmd" value="Crm">
        <input type="hidden" name="act" value="deals">
        <div class="search-functions">
            <div>
                <input type="search" placeholder="{TXT_CRM_ENTER_SEARCH_TERM}" name="term" id="term" value="{CRM_DEALS_SEARCH_TERM}">
                <input type="submit" value="{TXT_CRM_SEARCH}">
            </div>
        </div>
    </form>
    <form action="" method="post" name="dealsOverview" id="dealsOverview">
        <table class="adminlist sortable" id="entryList">
            <caption>
                {TXT_CRM_DEALS_OVERVIEW}
                <div class="functions">
                    <a href="/cadmin/Crm/deals?tpl=manage" title="{TXT_CRM_DEALS_CREATE}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </caption>
            <tr>
                <th>#</th>
                <th class="sortable {ORDER_DIR_TITLE}"><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_NAME_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_TITLE}</a></th>
                <th>{TXT_CRM_DEALS_PERCENTAGE}</th>
                <th class="sortable {ORDER_DIR_QUOTED_PRICE}"><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_PRICE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_QUOTED_PRICE}</a></th>
                <th class="sortable {ORDER_DIR_CUSTOMER_NAME}"><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_CUSTOMER_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_CUSTOMER_NAME}</a></th>
                <th class="sortable {ORDER_DIR_RESPONSIBLE}"><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_RESPONSIBLE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_RESPONSIBLE}</a></th>
                <th class="sortable {ORDER_DIR_DUE_DATE}"><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_DUE_DATE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_DUE_DATE}</a></th>
                <th>{TXT_CRM_FUNCTIONS}</th>
            </tr>
            <!-- BEGIN dealsNoRecords -->
            <tr>
                <td colspan="8">{TXT_NO_RECORDS_FOUND}</td>
            </tr>
            <!-- END dealsNoRecords -->
            <!-- BEGIN dealsEntries -->
            <tr class="{ROW_CLASS}" id="entry_{ENTRY_ID}">
                <td><input type="checkbox" name="dealsEntry[]" class="entrySelection" value="{ENTRY_ID}"></td>
                <td>{CRM_DEALS_TITLE}</td>
                <td><progress max='100' value='{CRM_DEALS_PERCENTAGE}' title="{CRM_DEALS_PERCENTAGE} %"><span>{CRM_DEALS_PERCENTAGE}</span></progress></td>
                <td>{CRM_DEALS_QUOTED_PRICE}</td>
                <td>{CRM_CONTACT_NAME}</td>
                <td>{CRM_DEALS_CONTACT_NAME}</td>
                <td>{CRM_DEALS_DUE_DATE}</td>
                <td>
                    <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="?cmd={MODULE_NAME}&act=deals&tpl=manage&id={ENTRY_ID}{CRM_REDIRECT_LINK}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a title="{TXT_CRM_IMAGE_DELETE}" rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END dealsEntries -->
        </table>
        <ul class="bulk-functions">
            <li><a href="#" onclick="changeCheckboxes('dealsOverview','dealsEntry[]',true); return false;">{TXT_CRM_SELECT_ALL}</a></li>
            <li><a href="#" onclick="changeCheckboxes('dealsOverview','dealsEntry[]',false); return false;">{TXT_CRM_REMOVE_SELECTION}</a></li>
            <li>
                <select name="actionType" id="multiAction">
                    <option value="0">{TXT_CRM_SELECT_ACTION}</option>
                    <option value="delete">{TXT_CRM_DELETE_SELECTED}</option>
                </select>
            </li>
        </ul>
    </form>
    {ENTRIES_PAGING}
</div>
