{PM_SETTINGS_CURRENCY_JAVASCRIPT}
<script>
    $J(document).ready(function(){
        $J("#browse").click(function(){
            $J("#notesUploader").trigger('click');
        });
    });
    function confirmSubmit()
    {
        if (confirm("{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}"))
            return true ;
        else
            return false ;
    }
</script>
<div id="formerr" class="alertbox"></div>
<form action="index.php?cmd=Crm&act=settings&tpl=notes&chg=1" method="post" name="notes">
    <div class="tab overview" data-tablist="tab">
        <input type="hidden" name="ischecked" value="0">
        <table class="adminlist sortable">
            <caption>
                <div class="functions">
                    <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_NOTES_TYPES}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </caption>
            <tr>
                <th>{TXT_CRM_TITLE_STATUS}</th>
                <th class="sortable {ORDER_DIR_SORTING}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=notes&sortf=1&sorto={TXT_ORDER}">{TXT_CRM_SORTING}</a></th>
                <th class="sortable {ORDER_DIR_NAME}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=notes&sortf=0&sorto={TXT_ORDER}">{TXT_CRM_NAME}</a></th>
                <th>{TXT_CRM_ICON}</th>
                <th>{TXT_CRM_FUNCTIONS}</th>
            </tr>
            <!-- BEGIN users -->
            <tr class="{TXT_ROW}">
                <td><a href="?cmd=Crm&act=noteschangestatus&ids={TXT_NOTES_ID}&stat={TXT_NOTES_STATVAL}"><img src="/core/Core/View/Media/icons/led_{TXT_NOTES_STATUS}.gif" alt=""></a></td>
                <td><input type="hidden" name="form_id[]" value="{TXT_NOTES_ID}"><input type="number" name="form_pos[]" value="{TXT_NOTES_SORTING}" class="compact"></td>
                <td><a href="?cmd=Crm&amp;act=settings&amp;tpl=notes&amp;fn=editnotestype&amp;id={TXT_NOTES_ID}">{TXT_NOTES_NAME}</a></td>
                <td><img src="{TXT_NOTES_ICON}" alt="{TXT_NOTES_ICON}"></td>
                <td>
                    <a title="Edit" href="?cmd=Crm&amp;act=settings&amp;tpl=notes&amp;fn=editnotestype&id={TXT_NOTES_ID}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <!-- BEGIN noteDeleteIcon -->
                    <a title="Delete" onclick="return confirmSubmit();" href="?cmd=Crm&act=settings&tpl=notes&idr={TXT_NOTES_ID}"><i class="fa-regular fa-trash-can"></i></a>
                    <!-- END noteDeleteIcon -->
                </td>
            </tr>
            <!-- END users -->
        </table>
        <input type="submit" name="notes_save" value="{TXT_CRM_SAVE}">
    </div>
    <div class="tab add" data-tablist="tab">
        <table class="adminlist splitview">
            <caption>{TXT_CRM_ADD_NOTES_TYPES}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="status" value="1" checked></td>
            <tr>
                <td>{TXT_CRM_NAME}</td>
                <td><input type="text" name="name" id="name" value="{TXT_STATUSNAME}"></td>
            </tr>
            <tr>
                <td>{TXT_CRM_ICON}</td>
                <td>
                    <input type="text" name="icon" id="icon" value="">
                    <input type="button" id="browse" value="{TXT_BROWSE}">
                </td>
            </tr>
        </table>
        <a class="button secondary" href="/cadmin/Crm/settings?tpl=notes">{TXT_CANCEL}</a>
        <input type="submit" name="save" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
    </div>
</form>
{COMBO_UPLOADER_CODE_NOTES}
<script>
    function notesCallbackJs(callback) {
        $J.getJSON( '{REDIRECT_URL}', function( data ) {
            $J.each(data, function(key, val) {
                var file = val.fileName;
                if ($J.trim(file) != '') {
                    $J('#icon').val(file);
                }
            });
        });
    }
</script>
