<!-- START module_crm_interface.html -->
<table class="adminlist">
    <tr>
        <th>{TXT_CRM_EXPORT_INFO}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
    </tr>
    <tr>
        <td>{TXT_CRM_EXPORT_CUSTOMER_CSV}</td>
        <td><a title="CSV Export" target="_self" href="index.php?cmd=Crm&amp;act=settings&amp;tpl=interface&amp;subTpl=exportcsv"><i class="fa-solid fa-file-export"></i></td>
    </tr>
    <tr>
        <td>{TXT_CRM_EXPORT_ACTIVE_CUSTOMER}</td>
        <td><a title="CSV Export" target="_self" href="index.php?cmd=Crm&amp;act=settings&amp;tpl=interface&amp;subTpl=exportcsv&amp;process=active"><i class="fa-solid fa-file-export"></i></td>
    </tr>
    <tr>
        <td>{TXT_CRM_EXPORT_COMPANY}</td>
        <td><a title="CSV Export" target="_self" href="index.php?cmd=Crm&amp;act=settings&amp;tpl=interface&amp;subTpl=exportcsv&amp;process=1"><i class="fa-solid fa-file-export"></i></td>
    </tr>
    <tr>
        <td>{TXT_CRM_EXPORT_PERSON}</td>
        <td><a title="CSV Export" target="_self" href="index.php?cmd=Crm&amp;act=settings&amp;tpl=interface&amp;subTpl=exportcsv&amp;process=2"><i class="fa-solid fa-file-export"></i></td>
    </tr>
</table>
<!-- END module_crm_interface.html -->
