<!-- BEGIN skipAjaxBlock -->
<table class="adminlist">
    <caption>{TXT_CRM_TASK}</caption>
    <tr>
        <th>{TXT_CRM_TASK_STATUS}</th>
        <th>{TXT_CRM_TASK_TITLE}</th>
        <th>{TXT_CRM_CUSTOMER_NAME}</th>
        <th>{TXT_CRM_TASK_RESPONSIBLE}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
    </tr>
    <!-- END skipAjaxBlock -->
    <!-- BEGIN noRecords -->
    <tr>
        <td colspan="5">{TXT_NO_RECORDS_FOUND}</td>
    </tr>
    <!-- END noRecords -->
    <!-- BEGIN showTask -->
    <tr class="{CRM_TASK_EXPIRED_CLASS} {TXT_ROW}">
        <td><span style="cursor: pointer;" rel="task_{CRM_TASK_ID}" task_status="{TXT_STATUS}" onclick="showTaskStatusPanel(this);"><img src="/core/Core/View/Media/icons/{CRM_TASK_TYPE_ACTIVE}" alt="status"></span></td>
        <td>
            <img src="{CRM_TASKICON}" alt="{CRM_TASKICON}">
            <div>{CRM_TASKTITLE}</div>
            <div>{CRM_DUEDATE}</div>
        </td>
        <td><a href="./index.php?cmd={MODULE_NAME}&amp;act=customers&amp;tpl=showcustdetail&id={CRM_TASK_CUSTOMER_ID}" title="{CRM_CUSTOMERNAME}">{CRM_CUSTOMERNAME}</a></td>
        <td>{CRM_ADDEDBY}</td>
        <td>
            <!-- BEGIN task_edit_block -->
            <a href="index.php?cmd={MODULE_NAME}&amp;act=task&amp;tpl=modify&{CSRF_PARAM}&amp;id={CRM_TASK_ID}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
            <!-- END task_edit_block -->
            <!-- BEGIN task_delete_block -->
            <a onclick="return confirmTaskDelete();" href="./index.php?cmd={MODULE_NAME}&act=task&tpl=deleteTask&{CSRF_PARAM}&id={CRM_TASK_ID}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            <!-- END task_delete_block -->
        </td>
    </tr>
    <!-- END showTask -->
    <!-- BEGIN skipAjaxBlock1 -->
</table>
<input type="button" name="{TXT_CRM_ADD_TASK}" value="{TXT_CRM_ADD_TASK}" onclick="window.location='./index.php?cmd=Crm&act=task&tpl=modify&customerId={CRM_CUSTOMER_ID}{CRM_REDIRECT_LINK}&csrf='+cx.variables.get('csrf', 'contrexx')">
<!-- END skipAjaxBlock1 -->
