<!-- BEGIN skipAjaxBlock -->
<div id="message">
    <table class="adminlist">
        <tr>
            <th>{TXT_CRM_SHOW_COMMENT_HISTORY}</th>
        </tr>
    </table>
    <table id="notesTab" class="adminlist">
        <tr>
            <th>{TXT_CRM_COMMENT_TITLE}</th>
            <th>{TXT_CRM_NOTES_TYPE}</th>
            <th>{TXT_CRM_ADDED_BY}</th>
            <th>{TXT_CRM_LAST_UPDATED_BY}</th>
            <th>{TXT_CRM_DUE_DATE}</th>
            <th>{TXT_CRM_TASK_FUNCTIONS}</th>
        </tr>
        <!-- END skipAjaxBlock -->
        <!-- BEGIN noNotesEntries -->
        <tr>
            <td colspan="6">{TXT_CRM_NO_RECORDS_FOUND}</td>
        </tr>
        <!-- END noNotesEntries -->
        <!-- BEGIN showComment -->
        <tr class="{ENTRY_ROWCLASS}" {TXT_SHOWTASK_STYLESHEET}>
            <td><img src="{CRM_NOTES_TYPE_ICON}" alt="{CRM_NOTES_TYPE}"></td>
            <td>{CRM_NOTES_TYPE}</td>
            <td>{CRM_ADDED_USER}{CRM_COMMENT_ADDEDDATETIME}</td>
            <td>
                <div>{CRM_UPDATED_USER}</div>
                <div>{CRM_COMMENT_UPDATEDDATETIME}</div>
            </td>
            <td>{CRM_COMMENT_DATE}</td>
            <td>
                <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" href="index.php?cmd={MODULE_NAME}&amp;act=customers&tpl=addnote&{CSRF_PARAM}&id={TXT_COMMENT_ID}&cust_id={TXT_CUST_ID}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a title="{TXT_CRM_IMAGE_DELETE}" target="_self" href="javascript:deleteCommentEntry({TXT_COMMENT_ID},{TXT_CUST_ID});"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="6">{TXT_CRM_COMMENT_DESCRIPTION}</td>
        </tr>
        <!-- END showComment -->

        <!-- BEGIN skipAjaxBlock1 -->
    </table>
    <input onclick="window.location='./index.php?cmd={MODULE_NAME}&act=customers&tpl=addnote&cust_id={CRM_CUST_ID}&csrf='+cx.variables.get('csrf', 'contrexx')" type="button" name="{TXT_CRM_ADD_NOTE}" value="{TXT_CRM_ADD_NOTE}">
</div>
<!-- END skipAjaxBlock1 -->
