<!-- START module_crm_settings.html -->
<script>
    $J(function(){
        $J("#create_user_account").click(function(){
            if ($J(this).is(":checked")) {
                $J("tr.user_account").show();
            } else {
                $J("tr.user_account").hide();
            }
        });
        if ($J("#create_user_account").is(":checked")) {
            $J("tr.user_account").show();
        } else {
            $J("tr.user_account").hide();
        }
    });
</script>
<div id="crm">
    <form method="post">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_CRM_DEFAULT_COUNTRY}</td>
                <td>
                    <select name="default_country_value" id="default_country_value">
                        <option value="">{TXT_CRM_SELECT_COUNTRY}</option>
                        <!-- BEGIN default_country -->
                        <option value="{CRM_DEFAULT_COUNTRY_ID}" {CRM_DEFAULT_COUNTRY_SELECTED}>
                            {CRM_DEFAULT_COUNTRY_NAME}</option>
                        <!-- END default_country -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>{TXT_CRM_CREATE_ACCOUNT_USER}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CRM_CREATE_ACCOUNT_USER_TIP}</span></td>
                <td><input type="checkbox" id="create_user_account" name="create_user_account" value="1" {CRM_CREATE_ACCOUNT_USER}></td>
            </tr>
            <tr class="user_account">
                <td>{TXT_CRM_ACCOUNT_ARE_MANTATORY}</td>
                <td><input type="checkbox" id="user_account_mantatory" name="user_account_mantatory" value="1" {CRM_ACCOUNT_MANTATORY}></td>
            </tr>
            <tr class="user_account">
                <td>{TXT_CRM_DEFAULT_USER_GROUP}</td>
                <td>
                    <select name="default_user_group">
                        <!-- BEGIN userGroup -->
                        <option value="{CRM_GROUP_VALUE}" {CRM_USER_GROUP_SELECTED}>{CRM_GROUP_NAME}</option>
                        <!-- END userGroup -->
                    </select>

                </td>
            </tr>
            <tr class="row2 user_account">
                <td>{TXT_CRM_FRONTEND}</td>
                <td>
                    <select name="default_language_frontend">
                        <!-- BEGIN langFrontend -->
                        <option value="{CRM_LANG_VALUE}" {CRM_LANG_SELECTED}>{CRM_LANG_NAME}</option>
                        <!-- END langFrontend -->
                    </select>
                </td>
            </tr>
            <tr class="row2 user_account">
                <td>{TXT_CRM_BACKEND}</td>
                <td>
                    <select name="default_language_backend">
                        <!-- BEGIN langBackend -->
                        <option value="{CRM_LANG_VALUE}" {CRM_LANG_SELECTED}>{CRM_LANG_NAME}</option>
                        <!-- END langBackend -->
                    </select>
                </td>
            </tr>
            <tr class="row2 user_account">
                <td>{TXT_CRM_PROFILE_ATTRIBUT_INDUSTRY_TYPE}</td>
                <td>{CRM_PROFILE_ATTRIBUT_INDUSTRY_TYPE_DROPDOWN}</td>
            </tr>
            <tr class="row2 user_account">
                <td>{TXT_CRM_PROFILE_ATTRIBUT_COMPANY_SIZE}</td>
                <td>{CRM_PROFILE_ATTRIBUT_COMPANY_SIZE_DROPDOWN}</td>
            </tr>
            <tr class="row2 user_account">
                <td>{TXT_CRM_PROFILE_ATTRIBUT_CUSTOMER_TYPE}</td>
                <td>{CRM_PROFILE_ATTRIBUT_CUSTOMER_TYPE_DROPDOWN}</td>
            </tr>
            <tr>
                <td>{TXT_CRM_CONTACT_AMOUNT_ENABLED}</td>
                <td><input type="checkbox" id="contact_amount_enabled" name="contact_amount_enabled" value="1" {CRM_CONTACT_AMOUNT_ENABLED}></td>
            </tr>
            <tr>
                <td>{TXT_CRM_EMPLOYEE} {TXT_CRM_EMP_DEFAULT_USER_GROUP}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CRM_SETTINGS_EMP_TOOLTIP}</span></td>
                <td>
                    <select name="emp_default_user_group">
                        <!-- BEGIN empUserGroup -->
                        <option value="{CRM_GROUP_VALUE}" {CRM_USER_GROUP_SELECTED}>{CRM_GROUP_NAME}</option>
                        <!-- END empUserGroup -->
                    </select>
                    <!-- BEGIN insufficient-warning -->
                    <div class="warningbox">{CRM_INSUFFICIENT_WARNING}</div>
                    <!-- END insufficient-warning -->
                </td>
            </tr>
        </table>
        <input type="submit" value="{TXT_CRM_SAVE}" name="save">
    </form>
</div>
<!-- END module_crm_settings.html -->
