{CUSTOMER_TYPES_JAVASCRIPT}
<div id="formerr" class="alertbox"></div>
<div id="editCustomersTypes" class="Entries" style="display: block;">
    <form name="customerTypes" method="post" action="">
        <table class="adminlist splitview">
            <caption>{TXT_CRM_EDIT_CUSTOMER_TYPE}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="activeStatus" value="active" {TXT_ACTIVATED_VALUE}></td>
            <tr>
                <td>{TXT_CRM_LABEL}</td>
                <td><input type="text" name="label" value="{TXT_LABEL_VALUE}"></td>
            </tr>
        </table>
        <input type="hidden" name="sortingNumber" id="sortingNumber" value="{CRM_CUSTOMER_TYPE_SORTING_NUMBER}">
        <input type="hidden" name="customer_type_id" value="{TXT_CUSTOMER_TYPE_ID}">
        <input type="button" name="back_button" value="{TXT_CRM_BACK}" onClick="window.location.replace('index.php?cmd={MODULE_NAME}&act=settings&tpl=customertypes&{CSRF_PARAM}');" class="secondary">
        <input type="submit" name="customer_type_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
    </form>
</div>
