<script>
    var contactType = '{CRM_CONTACT_TYPE}';
    var emailCount  = {CRM_INPUT_COUNT};
    var assignedId  = [{CRM_CONTACTS_ASSIGNED}];
</script>
<div class="dropDownDialog" id="WebsiteCategoriesPanel" style="position: absolute;">
    <div class="dropDownContent">
        <!-- BEGIN contactWebsiteOptions -->
        <a class="dropDownItem" category="0">{TXT_CRM_HOME}</a>
        <a class="dropDownItem" category="1">{TXT_CRM_WORK}</a>
        <a class="dropDownItem" category="2">{TXT_CRM_OTHERS}</a>
        <!-- END contactWebsiteOptions -->
        <!-- BEGIN companyWebsiteOptions -->
        <a class="dropDownItem" category="3">{TXT_CRM_BUSINESS1}</a>
        <a class="dropDownItem" category="4">{TXT_CRM_BUSINESS2}</a>
        <a class="dropDownItem" category="5">{TXT_CRM_BUSINESS3}</a>
        <!-- END companyWebsiteOptions -->
    </div>
</div>
<div id="SocialCategoriesPanel" class="dropDownDialog">
    <div class="dropDownContent">
        <!-- BEGIN socialOption -->
        <a class="dropDownItem" category="{SOCIAL_OPTION_ID}">{SOCIAL_OPTION_NAME}</a>
        <!-- END socialOption -->
    </div>
</div>
<div class="dropDownDialog" id="EmailCategoriesPanel" style="position: absolute;">
    <div class="dropDownContent">
        <a class="dropDownItem" category="0">{TXT_CRM_HOME}</a>
        <a class="dropDownItem" category="1">{TXT_CRM_WORK}</a>
        <a class="dropDownItem" category="2">{TXT_CRM_OTHERS}</a>
    </div>
</div>
<div class="dropDownDialog" id="PhoneCategoriesPanel" style="position: absolute;">
    <div class="dropDownContent">
        <a class="dropDownItem" category="0">{TXT_CRM_HOME}</a>
        <a class="dropDownItem" category="1">{TXT_CRM_WORK}</a>
        <a class="dropDownItem" category="2">{TXT_CRM_MOBILE}</a>
        <a class="dropDownItem" category="3">{TXT_CRM_FAX}</a>
        <a class="dropDownItem" category="4">{TXT_CRM_DIRECT}</a>
        <a class="dropDownItem" category="5">{TXT_CRM_OTHERS}</a>
    </div>
</div>
<div id='loading'></div>
<div id="newContact" class="alertbox" style="display:none;"></div>
<form id="access" name="newContact" onsubmit="membershipSelectAll()" method="post">
    <div id="edit_contact">
        <!-- BEGIN crmLastUpdate -->
        <div class="infobox">
            {TXT_CRM_LASTUPDATE} {CRM_UPDATED_DATE}
        </div>
        <!-- END crmLastUpdate -->
        <div id="contact_form">
            <div id="newContact" style="display:none;background-color: #FFCCCC;border: 1px solid;color: #FF0000;font-size: 12px;line-height: 14px;padding: 5px;"></div>
            <div id="profile" class="contact">
                <!-- BEGIN contactBlock -->
                <ul class="tabmenu" data-tablist="default">
                    <li><a data-tablink="Entries_ShowProfile" class="active" href="#">{TXT_CRM_PROFILE}</a></li>
                    <!-- BEGIN show-account-details -->
                    <li><a data-tablink="Entries_ShowAccount" class="inactive" href="#">{TXT_CRM_ACCOUNT}</a></li>
                    <!-- END show-account-details -->
                </ul>
                <div class="tab Entries_ShowProfile" data-tablist="default">
                    <table class="adminlist splitview">
                        <tr>
                            <td><span class="customerTypeRow">{TXT_CRM_CUSTOMERID}</span></td>
                            <td><input class="customerTypeRow compact" type="text" value="{CRM_CUSTOMERID}" name="customerId" id="customerId"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_TITLE_LANGUAGE}</td>
                            <td>
                                <select id="language" name="contact_language">
                                    <option value="">--{TXT_CRM_TITLE_SELECT_LANGUAGE}--</option>
                                    <!-- BEGIN showAddtionalContactLanguages2 -->
                                    <option {TXT_LANG_SELECT} value="{TXT_LANG_ID}">{TXT_LANG_NAME}</option>
                                    <!-- END showAddtionalContactLanguages2 -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_SALUTATION}</td>
                            <td>
                                <select id="salutation" name="salutation">
                                    <!-- BEGIN crmContactSalutationOptions -->
                                    <option {SALUTATION_SELECT} value="{SALUTATION_ID}">{TXT_SALUTATION_NAME}</option>
                                    <!-- END crmContactSalutationOptions -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_TITLE}</td>
                            <td><input type="text" id="contact_title" name="contact_title" value="{CRM_CONTACT_TITLE}"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_NAME}</td>
                            <td><input type="text" id="companyName" name="companyName" value="{CRM_COMPANY_NAME}"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_FAMILY_NAME}</td>
                            <td><input type="text" id="family_name" name="family_name" value="{TXT_CON_FAMILY}"></td>
                        </tr>
                        <tr>
                            <td>{TXT_COMPANY_NAME}</td>
                            <td>
                                <input type="hidden" id="companyId" name="company" value="{CRM_CONTACT_COMPANY_ID}">
                                <input type="text" id="company" class="selectCustomer" placeholder="{TXT_CRM_FIND_COMPANY_BY_NAME}" value="{CRM_CONTACT_COMPANY}">
                                <span class="delete-customer"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_ROLE}</td>
                            <td><input type="text" id="contact_role" name="contact_role" value="{TXT_CON_ROLE}"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_EMAIL}</td>
                            <td>
                                <div id="emailContainer">
                                    <div class="email_list_container" style="display: none !important;">
                                        <div class="email_list">
                                            <input class="mInput" type="text" value="{TXT_SESSION_SECONDARYEMAIL}">
                                            <a onclick="showEmailCategoriesPanel(this);">{TXT_CRM_EMAIL_DEFAULT_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="email" title="Delete" class="crm-deleteLink"></a>
                                            <a name="email" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="email" title="Add email" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN contactEmailContainer -->
                                    <div class="email_list_container">
                                        <div class="email_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_EMAIL_NAME}" value="{CRM_CONTACT_EMAIL}">
                                            <a onclick="showEmailCategoriesPanel(this);">{CRM_EMAIL_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="email" title="Delete" class="crm-deleteLink"></a>
                                            <a name="email" title="Mark as primary" class="is_primary {CRM_CONTACT_EMAIL_PRIMARY}"></a>
                                            <a name="email" title="Add email" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END contactEmailContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_PHONE}</td>
                            <td>
                                <div id="phoneContainer">
                                    <div class="phone_list_container" style="display: none !important;">
                                        <div class="phone_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showphoneCategoriesPanel(this);">{TXT_CRM_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="phone" title="Delete" class="crm-deleteLink"></a>
                                            <a name="phone" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="phone" title="Add phone" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN contactPhoneContainer -->
                                    <div class="phone_list_container">
                                        <div class="phone_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_PHONE_NAME}" value="{CRM_CONTACT_PHONE}">
                                            <a onclick="showphoneCategoriesPanel(this);">{CRM_PHONE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="phone" title="Delete" class="crm-deleteLink"></a>
                                            <a name="phone" title="Mark as primary" class="is_primary {CRM_CONTACT_PHONE_PRIMARY}"></a>
                                            <a name="phone" title="Add phone" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END contactPhoneContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_WEBSITE}</td>
                            <td>
                                <div id="websiteContainer">
                                    <div class="website_list_container" style="display: none !important;">
                                        <div class="website_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showwebsiteProfilesPanel(this);" class="category">{TXT_CRM_PROFILE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="website" title="Delete" class="crm-deleteLink"></a>
                                            <a name="website" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="website" title="Add website" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN contactwebsiteContainer -->
                                    <div class="website_list_container">
                                        <div class="website_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_WEBSITE_NAME}" value="{CRM_CONTACT_WEBSITE}">
                                            <a onclick="showwebsiteProfilesPanel(this);" class="category">{CRM_WEBSITE_PROFILE}</a>
                                        </div>
                                        <div>
                                            <a name="website" title="Delete" class="crm-deleteLink"></a>
                                            <a name="website" title="Mark as primary" class="is_primary {CRM_CONTACT_WEBSITE_PRIMARY}"></a>
                                            <a name="website" title="Add website" class="crm-addNewLink"></a>
                                            <input type="hidden" name="{CRM_CONTACT_WEB_ID_NAME}" value="{CRM_CONTACT_WEB_ID}">
                                        </div>
                                    </div>
                                    <!-- END contactwebsiteContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_SOCIAL_NETWORK}</td>
                            <td>
                                <div class="multiple_input" id="socialContainer">
                                    <div class="social_list_container" style="display: none !important;">
                                        <div class="social_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showsocialProfilesPanel(this);" class="category">{TXT_CRM_SOCIAL_PROFILE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="social" title="Delete" class="crm-deleteLink"><i class="fa-regular fa-trash-can"></i></a>
                                            <a name="social" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="social" title="Add website" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN contactSocialLinkContainer -->
                                    <div class="social_list_container">
                                        <div class="social_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_SOCIAL_NAME}" value="{CRM_CONTACT_SOCIAL}">
                                            <a onclick="showsocialProfilesPanel(this);" class="category">{CRM_SOCIAL_PROFILE}</a>
                                        </div>
                                        <div>
                                            <a name="social" title="Delete" class="crm-deleteLink"></a>
                                            <a name="social" title="Mark as primary" class="is_primary {CRM_CONTACT_SOCIAL_PRIMARY}"></a>
                                            <a name="social" title="Add social link" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END contactSocialLinkContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_DESCRIPTION}</td>
                            <td><textarea class="notes" name="notes" rows="5">{CRM_CONTACT_NOTES}</textarea></td>
                        </tr>
                        <tr>
                            <td><span class="customerTypeRow">{TXT_CRM_CUSTOMERTYPE}</span></td>
                            <td>
                                <select class="customerTypeRow" name="customer_type" id="customer_type">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    <!-- BEGIN contactCustomerTypes -->
                                    <option value="{CRM_CUSTOMER_TYPE_ID}" {CRM_CUSTOMER_TYPE_SELECTED}>
                                        {CRM_CUSTOMER_TYPE}</option>
                                    <!-- END contactCustomerTypes -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_MEMBERSHIP}</td>
                            <td>
                                <select data-placeholder="{TXT_CRM_CHOOSE_MEMBERSHIPS}" name="assigned_memberships[]" id="assigned_memberships" size="1" multiple>
                                    <!-- BEGIN contactMembership -->
                                    <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}
                                    </option>
                                    <!-- END contactMembership -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="customerTypeRow">{TXT_CRM_CURRENCY}</span></td>
                            <td><select class="customerTypeRow" name="currency" id="currency">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    <!-- BEGIN contactCurrency -->
                                    <option value="{CRM_CURRENCYID}" {CRM_CURRENCY_SELECTED}>{CRM_CURRENCYNAME}</option>
                                    <!-- END contactCurrency -->
                                </select>
                            </td>
                        </tr>
                        <!-- BEGIN customeramount2 -->
                        <tr>
                            <td>{TXT_CRM_AMOUNT}</td>
                            <td><input type="text" id="contact_amount" name="contact_amount" value="{CRM_CONTACT_AMOUNT}"></td>
                        </tr>
                        <!-- END customeramount2 -->
                        <tr>
                            <td>{TXT_CRM_GENDER}</td>
                            <td>
                                <select id="contact_gender" name="contact_gender">
                                    <option value="">{TXT_CRM_NOT_SPECIFIED}</option>
                                    <option value="1" {CRM_GENDER_FEMALE_SELECTED}>{TXT_CRM_GENDER_FEMALE}</option>
                                    <option value="2" {CRM_GENDER_MALE_SELECTED}>{TXT_CRM_GENDER_MALE}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div id="addressContainer">
                        <div class="address_list_container" style="display: none;">
                            <div class="address_list">
                                <table class="adminlist splitview">
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <a title="Delete" class="crm_deleteLink_address"></a>
                                                <a title="Primary" class="is_primary_address not_primary_field_address crm-AddressPrimary"></a>
                                                <a title="Add new address" class="crm_addNewLink_address crm-AddressAdd"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESSTYPE}</td>
                                        <td>
                                            <select class="contactType">
                                                <!-- BEGIN additionaladdressType -->
                                                <option value="{CRM_ADDRESS_TYPE}" {CRM_ADDRESS_TYPE_SELECTED}>{CRM_ADDRESS_TYPE_NAME}
                                                </option>
                                                <!-- END additionaladdressType -->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESS}</td>
                                        <td><textarea class="contactAddress" rows="4"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ZIP_CODE}</td>
                                        <td><input class="contactZip" type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_CITY}</td>
                                        <td><input class="contactCity" type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_STATE}</td>
                                        <td><input class="contactState " type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_COUNTRY}</td>
                                        <td>
                                            <select class="cCountry">
                                                <option value="">{TXT_CRM_SELECT_COUNTRY}</option>
                                                <!-- BEGIN additionalcrmCountry -->
                                                <option value="{CRM_COUNTRY}" {CRM_COUNTRY_SELECTED}>
                                                    {CRM_COUNTRY}</option>
                                                <!-- END additionalcrmCountry -->
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- BEGIN contactAddressContainer -->
                        <div class="address_list_container">
                            <div class="address_list">
                                <table class="adminlist splitview">
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <a title="Delete" class="crm_deleteLink_address"></a>
                                                <a title="Primary" class="is_primary_address {CRM_CONTACT_ADDRESS_PRIMARY}"></a>
                                                <a title="Add new address" class="crm_addNewLink_address crm-AddressAdd"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESSTYPE}</td>
                                        <td>
                                            <select name="{CRM_CONTACT_ADDR_TYPE_NAME}" class="contactType">
                                                <!-- BEGIN addressType -->
                                                <option value="{CRM_ADDRESS_TYPE}" {CRM_ADDRESS_TYPE_SELECTED}>{CRM_ADDRESS_TYPE_NAME}
                                                </option>
                                                <!-- END addressType -->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESS}</td>
                                        <td><textarea class="contactAddress" name="{CRM_CONTACT_ADDRESS_NAME}" rows="4">{CRM_CONTACT_ADDRESS_VALUE}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ZIP_CODE}</td>
                                        <td><input class="contactZip" type="text" name="{CRM_CONTACT_ZIP_NAME}" value="{CRM_CONTACT_ZIP_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_CITY}</td>
                                        <td><input class="contactCity" type="text" name="{CRM_CONTACT_CITY_NAME}" value="{CRM_CONTACT_CITY_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_STATE}</td>
                                        <td><input class="contactState " type="text" name="{CRM_CONTACT_STATE_NAME}" value="{CRM_CONTACT_STATE_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_COUNTRY}</td>
                                        <td>
                                            <select name="{CRM_CONTACT_COUNTRY_NAME}" class="cCountry">
                                                <option value="">{TXT_CRM_SELECT_COUNTRY}</option>
                                                <!-- BEGIN crmCountry -->
                                                <option value="{CRM_COUNTRY}" {CRM_COUNTRY_SELECTED}>
                                                    {CRM_COUNTRY}</option>
                                                <!-- END crmCountry -->
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- END contactAddressContainer -->
                    </div>
                </div>
                <div class="tab Entries_ShowAccount" data-tablist="default">
                    <table class="adminlist splitview">
                        <tr class="contact_user_container">
                            <!-- BEGIN contactUserName -->
                            <td>{TXT_CRM_ACCOUNT_EMAIL}&nbsp;{CRM_ACCOUNT_MANTORY}</td>
                            <td>
                                <input class="live-search-user-id" id="contactId" type="hidden" name="contactId" value="{CRM_CONTACT_USER_ID}">
                                <input class="live-search-user-name" id="contactEmail" type="hidden" name="contactEmail" value="{CRM_CONTACT_ACCOUNT_USERNAME}">
                                <input type="hidden" id="contact_email" name="contact_email" value="{CRM_CONTACT_USERNAME}">
                            </td>
                            <!-- END contactUserName -->
                            <!-- BEGIN emptyContactUserName -->
                            <td></td>
                            <!-- END emptyContactUserName -->
                        </tr>
                        <tr class="row2 showAccountDetail" {CRM_CONTACT_SHOW_PASSWORD}>
                            <!-- BEGIN contactPassword -->
                            <td>{TXT_CRM_ACCOUNT_PASSWORD}&nbsp;{CRM_ACCOUNT_MANTORY}</td>
                            <td>
                                <input type="text" name="contact_password" autocomplete="off" id="contact_password" class="{CRM_ACCOUNT_MANTORY_CLASS}" value="{CRM_CONTACT_RANDOM_PASSWORD}">
                                <!-- BEGIN contactSendNotification --><input type="checkbox" id="send_account_notification" name="send_account_notification" value="1">&nbsp;{TXT_CRM_SEND_LOGIN_DETAILS}
                                <!-- END contactSendNotification -->
                            </td>
                            <!-- END contactPassword -->
                            <!-- BEGIN emptyContactPassword -->
                            <td></td>
                            <!-- END emptyContactPassword -->
                        </tr>
                    </table>
                </div>
                <!-- END contactBlock -->
                <!-- BEGIN customerBlock -->
                <ul class="tabmenu" data-tablist="customer">
                    <li><a data-tablink="Entries_ShowCustomerProfile" class="active" href="#">{TXT_CRM_COMPANY_NAME}</a></li>
                    <li><a data-tablink="Entries_ShowCustomerPersons" class="inactive" href="#">{TXT_CRM_EMPLOYEE}</a></li>
                </ul>
                <div class="tab Entries_ShowCustomerProfile" data-tablist="customer">
                    <table class="adminlist splitview">
                        <tr>
                            <td>{TXT_CRM_CUSTOMERID}</td>
                            <td><input class="compact" type="text" value="{CRM_CUSTOMERID}" name="customerId" id="customerId"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_TITLE_LANGUAGE}</td>
                            <td>
                                <select id="" name="contact_language">
                                    <option value="">--{TXT_CRM_TITLE_SELECT_LANGUAGE}--</option>
                                    <!-- BEGIN showAddtionalContactLanguages1 -->
                                    <option {TXT_LANG_SELECT} value="{TXT_LANG_ID}">{TXT_LANG_NAME}</option>
                                    <!-- END showAddtionalContactLanguages1 -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_COMPANY_NAME}</td>
                            <td><input type="text" name="companyName" id="companyName" value="{CRM_COMPANY_NAME}"></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_EMAIL}</td>
                            <td>
                                <div id="emailContainer">
                                    <div class="email_list_container" style="display: none !important;">
                                        <div class="email_list">
                                            <input class="mInput" type="text" value="{TXT_SESSION_SECONDARYEMAIL}">
                                            <a onclick="showEmailCategoriesPanel(this);">{TXT_CRM_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="email" title="Delete" class="crm-deleteLink"></a>
                                            <a name="email" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="email" title="Add email" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN customerEmailContainer -->
                                    <div class="email_list_container">
                                        <div class="email_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_EMAIL_NAME}" value="{CRM_CONTACT_EMAIL}">
                                            <a onclick="showEmailCategoriesPanel(this);">{CRM_EMAIL_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="email" title="Delete" class="crm-deleteLink"></a>
                                            <a name="email" title="Mark as primary" class="is_primary {CRM_CONTACT_EMAIL_PRIMARY}"></a>
                                            <a name="email" title="Add email" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END customerEmailContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_PHONE}</td>
                            <td>
                                <div id="phoneContainer">
                                    <div class="phone_list_container" style="display: none !important;">
                                        <div class="phone_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showphoneCategoriesPanel(this);">{TXT_CRM_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="phone" title="Delete" class="crm-deleteLink"></a>
                                            <a name="phone" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="phone" title="Add phone" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN customerPhoneContainer -->
                                    <div class="phone_list_container">
                                        <div class="phone_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_PHONE_NAME}" value="{CRM_CONTACT_PHONE}">
                                            <a onclick="showphoneCategoriesPanel(this);">{CRM_PHONE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="phone" title="Delete" class="crm-deleteLink"></a>
                                            <a name="phone" title="Mark as primary" class="is_primary {CRM_CONTACT_PHONE_PRIMARY}"></a>
                                            <a name="phone" title="Add phone" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END customerPhoneContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_WEBSITE}</td>
                            <td>
                                <div id="websiteContainer">
                                    <div class="website_list_container" style="display: none !important;">
                                        <div class="website_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showwebsiteProfilesPanel(this);" class="category">{TXT_CRM_PROFILE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="website" title="Delete" class="crm-deleteLink"></a>
                                            <a name="website" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="website" title="Add website" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN customerwebsiteContainer -->
                                    <div class="website_list_container">
                                        <div class="website_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_WEBSITE_NAME}" value="{CRM_CONTACT_WEBSITE}">
                                            <a onclick="showwebsiteProfilesPanel(this);" class="category">{CRM_WEBSITE_PROFILE}</a>
                                        </div>
                                        <div>
                                            <a name="website" title="Delete" class="crm-deleteLink"></a>
                                            <a name="website" title="Mark as primary" class="is_primary {CRM_CONTACT_WEBSITE_PRIMARY}"></a>
                                            <a name="website" title="Add website" class="crm-addNewLink"></a>
                                            <input type="hidden" name="{CRM_CONTACT_WEB_ID_NAME}" value="{CRM_CONTACT_WEB_ID}">
                                        </div>
                                    </div>
                                    <!-- END customerwebsiteContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_SOCIAL_NETWORK}</td>
                            <td>
                                <div id="socialContainer">
                                    <div class="social_list_container" style="display: none !important;">
                                        <div class="social_list">
                                            <input class="mInput" type="text" value="">
                                            <a onclick="showsocialProfilesPanel(this);" class="category">{TXT_CRM_SOCIAL_PROFILE_OPTION}</a>
                                        </div>
                                        <div>
                                            <a name="social" title="Delete" class="crm-deleteLink"></a>
                                            <a name="social" title="Mark as primary" class="is_primary not_primary_field"></a>
                                            <a name="social" title="Add website" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- BEGIN customerSocialLinkContainer -->
                                    <div class="social_list_container">
                                        <div class="social_list">
                                            <input class="mInput" type="text" name="{CRM_CONTACT_SOCIAL_NAME}" value="{CRM_CONTACT_SOCIAL}">
                                            <a onclick="showsocialProfilesPanel(this);" class="category">{CRM_SOCIAL_PROFILE}</a>
                                        </div>
                                        <div>
                                            <a name="social" title="Delete" class="crm-deleteLink"></a>
                                            <a name="social" title="Mark as primary" class="is_primary {CRM_CONTACT_SOCIAL_PRIMARY}"></a>
                                            <a name="social" title="Add social link" class="crm-addNewLink"></a>
                                        </div>
                                    </div>
                                    <!-- END customerSocialLinkContainer -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_DESCRIPTION}</td>
                            <td><textarea class="notes" name="notes" rows="5">{CRM_CONTACT_NOTES}</textarea></td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_CUSTOMERTYPE}</td>
                            <td>
                                <select name="customer_type" id="customer_type">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    <!-- BEGIN customerTypes -->
                                    <option value="{CRM_CUSTOMER_TYPE_ID}" {CRM_CUSTOMER_TYPE_SELECTED}>
                                        {CRM_CUSTOMER_TYPE}</option>
                                    <!-- END customerTypes -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_MEMBERSHIP}</td>
                            <td>
                                <select data-placeholder="{TXT_CRM_CHOOSE_MEMBERSHIPS}" name="assigned_memberships[]" id="assigned_memberships" size="1" multiple>
                                    <!-- BEGIN assignedGroup -->
                                    <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}
                                    </option>
                                    <!-- END assignedGroup -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{TXT_CRM_CURRENCY}</td>
                            <td>
                                <select name="currency" id="currency">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    <!-- BEGIN currency -->
                                    <option value="{CRM_CURRENCYID}" {CRM_CURRENCY_SELECTED}>{CRM_CURRENCYNAME}</option>
                                    <!-- END currency -->
                                </select>
                            </td>
                        </tr>
                        <!-- BEGIN customeramount1 -->
                        <tr>
                            <td>{TXT_CRM_AMOUNT}</td>
                            <td><input type="text" id="contact_amount" name="contact_amount" value="{CRM_CONTACT_AMOUNT}"></td>
                        </tr>
                        <!-- END customeramount1 -->
                        <tr>
                            <td>{TXT_CRM_INDUSTRY_TYPE}</td>
                            <td>
                                <select name="industryType" id="industryType">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    {CRM_INDUSTRY_DROPDOWN}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span>{TXT_CRM_COMPANY_SIZE}</span></td>
                            <td><select name="companySize" id="companySize">
                                    <option value="">--{TXT_CRM_PLEASE_SELECT}--</option>
                                    <!-- BEGIN companySize -->
                                    <option value="{CRM_COMPANY_SIZE_ID}" {CRM_COMPANY_SIZE_SELECTED}>{CRM_COMPANY_SIZE}
                                    </option>
                                    <!-- END companySize -->
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div id="addressContainer">
                        <div class="address_list_container" style="display: none;">
                            <div class="address_list">
                                <table class="adminlist splitview">
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <a title="Delete" class="crm_deleteLink_address"></a>
                                                <a title="Primary" class="is_primary_address not_primary_field_address crm-AddressPrimary"></a>
                                                <a title="Add new address" class="crm_addNewLink_address crm-AddressAdd"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESSTYPE}</td>
                                        <td>
                                            <select class="contactType">
                                                <!-- BEGIN customerAdditionaladdressType -->
                                                <option value="{CRM_ADDRESS_TYPE}" {CRM_ADDRESS_TYPE_SELECTED}>{CRM_ADDRESS_TYPE_NAME}
                                                </option>
                                                <!-- END customerAdditionaladdressType -->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESS}</td>
                                        <td><textarea class="contactAddress" rows="4"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ZIP_CODE}</td>
                                        <td><input class="contactZip" type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_CITY}</td>
                                        <td><input class="contactCity" type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_STATE}</td>
                                        <td><input class="contactState " type="text" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_COUNTRY}</td>
                                        <td>
                                            <select class="cCountry">
                                                <option value="">{TXT_CRM_SELECT_COUNTRY}</option>
                                                <!-- BEGIN customerAdditionalcrmCountry -->
                                                <option value="{CRM_COUNTRY}" {CRM_COUNTRY_SELECTED}>
                                                    {CRM_COUNTRY}</option>
                                                <!-- END customerAdditionalcrmCountry -->
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- BEGIN customerAddressContainer -->
                        <div class="address_list_container">
                            <div class="address_list">
                                <table class="adminlist splitview">
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <a title="Delete" class="crm_deleteLink_address"></a>
                                                <a title="Primary" class="is_primary_address {CRM_CONTACT_ADDRESS_PRIMARY}"></a>
                                                <a title="Add new address" class="crm_addNewLink_address crm-AddressAdd"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESSTYPE}</td>
                                        <td>
                                            <select name="{CRM_CONTACT_ADDR_TYPE_NAME}" class="contactType">
                                                <!-- BEGIN customerAddressType -->
                                                <option value="{CRM_ADDRESS_TYPE}" {CRM_ADDRESS_TYPE_SELECTED}>{CRM_ADDRESS_TYPE_NAME}
                                                </option>
                                                <!-- END customerAddressType -->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ADDRESS}</td>
                                        <td><textarea class="contactAddress" name="{CRM_CONTACT_ADDRESS_NAME}" rows="4">{CRM_CONTACT_ADDRESS_VALUE}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_ZIP_CODE}</td>
                                        <td><input class="contactZip" type="text" name="{CRM_CONTACT_ZIP_NAME}" value="{CRM_CONTACT_ZIP_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_CITY}</td>
                                        <td><input class="contactCity" type="text" name="{CRM_CONTACT_CITY_NAME}" value="{CRM_CONTACT_CITY_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_STATE}</td>
                                        <td><input class="contactState " type="text" name="{CRM_CONTACT_STATE_NAME}" value="{CRM_CONTACT_STATE_VALUE}"></td>
                                    </tr>
                                    <tr>
                                        <td>{TXT_CRM_COUNTRY}</td>
                                        <td>
                                            <select name="{CRM_CONTACT_COUNTRY_NAME}" class="cCountry">
                                                <option value="">{TXT_CRM_SELECT_COUNTRY}</option>
                                                <!-- BEGIN customerCrmCountry -->
                                                <option value="{CRM_COUNTRY}" {CRM_COUNTRY_SELECTED}>
                                                    {CRM_COUNTRY}</option>
                                                <!-- END customerCrmCountry -->
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- END customerAddressContainer -->
                    </div>
                </div>
                <!-- END customerBlock -->
                <div class="tab Entries_ShowCustomerPersons" data-tablist="customer">
                    <!-- BEGIN customerAdditionalBlock -->
                    <div id="contactsContainer">
                        <table id="contacts" class="adminlist splitview">
                            <tr>
                                <td colspan="2">
                                    <div id="contactContainer">
                                        <div class="newContactFrom" style="display: none;">
                                            <table class="adminlist splitview">
                                                <caption>{TXT_CRM_ADD_CONTACT}</caption>
                                                <tr>
                                                    <td><input type="text" class="input-addcontact crm-watermark" id="firstname" name="firstname" placeholder="Name"></td>
                                                    <td><input type="text" class="input-addcontact crm-watermark" id="familyname" name="familyname" placeholder="Family name"></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="input-addcontact crm-watermark" id="email" placeholder="Email (Work)"></td>
                                                    <td>
                                                        <select name="language" id="language" class="input-addcontact">
                                                            <!-- BEGIN ContactLanguages -->
                                                            <option value="{TXT_LANG_ID}">{TXT_LANG_NAME}</option>
                                                            <!-- END ContactLanguages -->
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                            <input type="button" id="contactCancel" value="{TXT_CANCEL}" class="secondary">
                                            <input type="button" id="contactSave" value="{BTN_SAVE}">
                                        </div>
                                        <div class="exContactSelect">
                                            <span class="searchContacts"></span>
                                            <input id="selectContact" type="text" name="contact" class="crm-watermark" placeholder="{TXT_CRM_FIND_CONTACT_BY_NAME}">
                                            {TXT_CRM_SELECT_FROM_CONTACTS}
                                        </div>
                                        <div class="newContactSelecter" style="display: none;">
                                            <div class="noMatch infobox">{TXT_CRM_NO_MATCHES}<a class="addNewContact" href="javascript:void(0)">{TXT_CRM_ADD_NEW}</a></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- BEGIN customerContacts -->
                            <tr class="{ROW_CLASS}">
                                <td><input type="hidden" id="contact_{CRM_CONTACT_ID}" name="companyContacts[]" value="{CRM_CONTACT_ID}">{CRM_CONTACT_NAME}</td>
                                <td><a class="removeContact_{CRM_CONTACT_ID}" href="javascript:void(0)"><i class="fa-regular fa-trash-can"></i></a></td>
                            </tr>
                            <!-- END customerContacts -->
                        </table>
                    </div>
                    <!-- END customerAdditionalBlock -->
                </div>
            </div>
        </div>
        <input type="hidden" name="save_contact" value="Save">
        <input type="hidden" class="input-addcontact" name="customer_id" id="customer_id" value="{CRM_CONTACT_ID}">
        <input type="hidden" name="redirect" value="{CRM_REDIRECT_LINK}">
        <input type="submit" onClick="return checkaddContact()" name="save_contact" value="{TXT_CRM_SAVE_CONTACT}">
    </div>

</form>
<div class="clear"></div>