<!-- BEGIN skipAjaxBlock -->
<table class="adminlist">
    <tr>
        <th>{TXT_CRM_DEALS_OVERVIEW} {TXT_CRM_OF_CONTACTS}</th>
    </tr>
</table>
<table id="dealsTab" class="adminlist sortedTable">
    <tr>
        <th>{TXT_CRM_DEALS_TITLE}</th>
        <th>{TXT_CRM_DEALS_CUSTOMER_NAME}</th>
        <th>{TXT_CRM_DEALS_RESPONSIBLE}</th>
        <th>{TXT_CRM_DEALS_DUE_DATE}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
    </tr>
    <!-- END skipAjaxBlock -->
    <!-- BEGIN noDealsEntries -->
    <tr>
        <td colspan="5">{TXT_CRM_NO_RECORDS_FOUND}</td>
    </tr>
    <!-- END noDealsEntries -->
    <!-- BEGIN showDeals -->
    <tr class="{ROW_CLASS}" id="entry_{ENTRY_ID}">
        <td>{CRM_DEALS_TITLE}</td>
        <td>{CRM_CONTACT_NAME}</td>
        <td>{CRM_DEALS_CONTACT_NAME}</td>
        <td>{CRM_DEALS_DUE_DATE}</td>
        <td>
            <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="./index.php?cmd={MODULE_NAME}&{CSRF_PARAM_CRM}&act=deals&tpl=manage&id={ENTRY_ID}{CRM_REDIRECT_LINK}"><i class="fa-regular fa-pen-to-square"></i></a>
            <a rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
    </tr>
    <!-- END showDeals -->
    <!-- BEGIN skipAjaxBlock1 -->
</table>
<input type="button" name="{TXT_CRM_ADD_OPPURTUNITY}" value="{TXT_CRM_ADD_OPPURTUNITY}" onclick="window.location='./index.php?cmd=Crm&act=deals&tpl=manage&{CSRF_PARAM}&customer={CRM_CUSTOMER_ID}{CRM_REDIRECT_LINK}&csrf='+cx.variables.get('csrf', 'contrexx')">
<!-- END skipAjaxBlock1 -->
