<script>
    function htmlEncode(value) {
        if (value) {
                return cx.jQuery('<div />').text(value).html();
        } else {
            return '';
        }
    }

    function htmlDecode(value) {
        if (value) {
                return $('<div />').html(value).text();
        } else {
            return '';
        }
    }

        $J(function() {
            $J('.changestatus').click(function(e) {
            var $elm = $J(this);
            url = $elm.attr("href");
                $J.get(url, function(data) {
                image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
                $elm.find('img').attr('src', '/core/Core/View/Media/icons/' + image);
                fadeOkbox('{TXT_CRM_STATUS_SUCCESSFULLY_CHANGED}');
            });
            e.preventDefault();
        });
        $J(".deleteEntry").click(function() {
            $elm = $J(this);
            en_id = $J(this).attr('rel').split('_')[1]
            if (confirm("{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}")) {
                $J.ajax({
                    url: './index.php?cmd={MODULE_NAME}&act=settings&tpl=opstages&actionType=deletestage&ajax=1&id=' + en_id,
                    type: 'POST',
                        success: function(msg) {
                        $elm.closest("tr").remove();
                        fadeOkbox('{TXT_CRM_DELETE_MESSAGE}');
                    }
                });
            }
        });
        $J(".editEntry ").click(function() {

            en_id = $J(this).attr('rel').split('_')[1];
            $J(".entry_" + en_id + "_hidden").show();
            $J(".entry_" + en_id + "_text").hide();

            $J(this).hide();
            $J(".entry_" + en_id + "_save").show();

        });
        $J(".saveEntry").click(function() {
            var $elm = $J(this);
            form_value = $J("#stage_entries").serialize();

            $J.ajax({
                url: './index.php?cmd={MODULE_NAME}&act=settings&tpl=opstages&fn=modify&ajax=1',
                type: 'POST',
                data: form_value,
                    success: function(result) {
                    en_id = $elm.attr('rel').split('_')[1];
                    $J(".entry_" + en_id + "_hidden").hide();
                        $J(".entry_" + en_id + "_hidden").each(function() {
                        $J(this).next().html(htmlEncode($J(this).val()));
                    });
                    $J(".entry_" + en_id + "_text").show();

                    $elm.hide();
                    $J(".entry_" + en_id + "_edit").show();
                    fadeOkbox('{TXT_CRM_EDIT_MESSAGE}');
                }
            });
        });
    });
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
        }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">' + mes + '..</div>';
    }
    function fadeOkbox(msg) {
            $J('.okbox').html(msg);
            $J('.okbox').fadeIn('slow');
            setTimeout(function() {
                $J('.okbox').fadeOut('slow');
        }, 6000);
    }
    function checkValidations() {
        var errChk;
            $J("input , select").css("border","1px solid #0A50A1");
        if (document.getElementById('label').value.trim() == '') {
            errChk = 1;
            $J('#label').css('border', '1px solid red');
        }

        if (document.getElementById('stage').value.trim() == '') {
            errChk = 1;
            $J('#stage').css('border', '1px solid red');
        } else if (!/^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/.test($J("#stage").val())) {
            errChk = 1;
            $J("#stage").val("");
            $J('#stage').css('border', '1px solid red');
        }

        if (errChk == 1) {
            $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}");
            $J('#formerr').css('display', 'block');
            return false;
        } else {
            return true;
        }
    }
</script>

<div id="stage_page">
    <div class="okbox" style="display:none;"></div>
    <div id="formerr" class="alertbox"></div>
    <div class="tab overview" data-tablist="tab">
        <form id="stage_entries" name="stage_overview_entries" action="/cadmin/Crm/settings?tpl=opstages" data-fixed-tablists="tab" method="post">
            <table class="adminlist" id="entryList">
                <caption>
                    <div class="functions">
                        <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_STAGE}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </caption>
                <tr>
                    <th>{TXT_STATUS}</th>
                    <th>{TXT_CRM_SORTING}</th>
                    <th>{TXT_CRM_LABEL}</th>
                    <th>{TXT_CRM_DEALS_STAGE}</th>
                    <th>{TXT_CRM_FUNCTIONS}</th>
                </tr>
                <!-- BEGIN stageEntries -->
                <tr class="{ROW_CLASS}" id="entry_{ENTRY_ID}">
                    <td><a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=opstages&actionType=changestatus&id={ENTRY_ID}" class="changestatus"><img src="{CRM_STAGE_STATUS}" alt="{CRM_STAGE_STATUS}"></a></td>
                    <td><input type="number" name="sorting[{ENTRY_ID}]" value="{CRM_SORTING}" class="compact"></td>
                    <td><input type="text" style="display:none" class="entry_{ENTRY_ID}_hidden" name="label[{ENTRY_ID}]" value="{CRM_LABEL}"><span class="entry_{ENTRY_ID}_text">{CRM_LABEL}</span></td>
                    <td><input type="text" style="display:none;" class="entry_{ENTRY_ID}_hidden small compact" name="rate[{ENTRY_ID}]" value="{CRM_STAGE}"><span class="entry_{ENTRY_ID}_text">{CRM_STAGE}</span></td>
                    <td>
                        <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="javascript:void(0);"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a title="{TXT_IMAGE_SAVE}" target="_self" style="display: none;" rel="entry_{ENTRY_ID}_save" class="entry_{ENTRY_ID}_save saveEntry" href="javascript:void(0);"><i class="fa-regular fa-floppy-disk"></i></a>
                        <a title="{TXT_CRM_IMAGE_DELETE}" rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                <!-- END stageEntries -->
            </table>
            <input type="submit" name="save_entries" value="{TXT_CRM_SAVE}">
        </form>
    </div>
    <div class="tab add" data-tablist="tab">
        <form action="/cadmin/Crm/settings?tpl=opstages" data-fixed-tablists="tab" method="post" name="add_stage" id="add_stage">
            <table class="adminlist splitview">
                <caption>{TXT_CRM_ADD_STAGE}</caption>
                <tr>
                    <td>{TXT_ACTIVE}</td>
                    <td><input type="checkbox" {CRM_STAGE_CHECKED} name="status" value="1"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_LABEL}</td>
                    <td><input type="text" name="label" id="label" value="{CRM_STAGE_LABEL}"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_DEALS_STAGE}</td>
                    <td><input type="text" name="stage" id="stage" value="{CRM_STAGE_VALUE}"></td>
                </tr>
            </table>
            <a class="button secondary" href="/cadmin/Crm/settings?tpl=opstages">{TXT_CANCEL}</a>
            <input type="submit" name="add_stage" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
        </form>
    </div>
</div>
