<!-- START module_crm_settings_task.html -->
<script>
    $J(function(){
        $J('.changestatus').click(function(e){
            var $elm = $J(this);
            url = $elm.attr("href");
            $J.get(url, function(data) {
                image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
                $elm.find('img').attr('src', '/core/Core/View/Media/icons/'+image);
                fadeOkbox('{TXT_CRM_STATUS_SUCCESSFULLY_CHANGED}');
            });
            e.preventDefault();
        });
    });
    function fadeOkbox(msg) {
        $J('#okbox').html(msg);
        $J('#okbox').fadeIn('slow');
        setTimeout(function () {
            $J('#okbox').fadeOut('slow');
        }, 6000);
    }

    function fadeAlertbox(msg) {
        $J('.alertbox').html(msg);
        $J('.alertbox').fadeIn('slow');
        setTimeout(function () {
            $J('.alertbox').fadeOut('slow');
        }, 6000);
    }
    function deleteEntry(entryId) {
        if(confirm('{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}')) {
            $J.ajax({
                url: 'index.php?cmd={MODULE_NAME}&{CSRF_PARAM}&ajax=1&act=settings&tpl=tasktypes&actionType=deletecatalog&taskTypeId='+entryId
            }).done(function(msg){
                fadeOkbox(msg);
                $J("#entry_"+entryId).remove();
            });
        }
    }
</script>
<div id="formerr" class="alertbox"></div>
<div style="display: none;" class="okbox"></div>
<div class="tab overview" data-tablist="tab">
    <form id="taskTypeOverview" method="post" action="" name="taskTypeOverview">
        {CRM_TASK_TYPES_TABLE_FILE}
        <input type="submit" name="actionType" value="{TXT_CRM_SAVE}">
    </form>
</div>
<div class="tab add" data-tablist="tab">
    {CRM_TASK_TYPES_MODIFY_FILE}
</div>
<!-- START module_crm_settings_task.html -->
