<!--script src="lib/javascript/set_checkboxes.js"></script -->
{PM_SETTINGS_CURRENCY_JAVASCRIPT}
<div id="formerr" class="alertbox"></div>
<div class="tab overview" data-tablist="tab">
    <form name="frmShowCurrencyEntries" method="post" action="">
        <table class="adminlist sortable">
            <caption>
                <div class="functions">
                    <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_CURRENCY}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </caption>
            <tr>
                <th>{TXT_CRM_TITLE_STATUS}</th>
                <th class="sortable {ORDER_DIR_SORTING}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=currency{PM_CURRENCY_ORDER_SORT}">{TXT_CRM_SORTING}</a></th>
                <th class="sortable {ORDER_DIR_NAME}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=currency{PM_CURRENCY_NAME_SORT}">{TXT_CRM_NAME}</a></th>
                <th>{TXT_CRM_DEFAULT}</th>
                <th>{TXT_CRM_FUNCTIONS}</th>
            </tr>
            <!-- BEGIN currency_entries -->
            <tr class="{ENTRY_ROWCLASS}">
                <td><a href='?index.php&cmd={MODULE_NAME}&act=settings&tpl=currencyChangeStatus&id={TXT_CURRENCY_ID}&status={TXT_CURRENCY_ACTIVE}'><img src="{TXT_CURRENCY_ACTIVE_IMAGE}" title="{TXT_CURRENCY_ACTIVE_TITLE}" alt="{TXT_CURRENCY_ACTIVE_TITLE}"></a></td>
                <td><input type="hidden" name="form_id[]" value="{TXT_CURRENCY_ID}"><input type="number" name="form_pos[]" value="{TXT_CURRENCY_POS}" class="compact"></td>
                <td><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=currency&amp;fn=editcurrency&amp;id={TXT_CURRENCY_ID}&amp;pos={ENTRY_PAGING}" target="_self" title="{TXT_CURRENCY_NAME}">{TXT_CURRENCY_NAME}</a></td>
                <td><input type="radio" name="default" value="{TXT_CURRENCY_ID}" {TXT_CURRENCY_DEFAULT}></td>
                <td>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=currency&amp;fn=editcurrency&amp;id={TXT_CURRENCY_ID}&amp;pos={ENTRY_PAGING}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="javascript:deleteEntry({TXT_CURRENCY_ID});" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END currency_entries -->

            <!-- BEGIN showNoEntries -->
            <tr>
                <td colspan="5">{TXT_CRM_CONTAINS_NO_RECORDS}</td>
            </tr>
            <!-- END showNoEntries -->
        </table>
        <input type="submit" name="currencyfield_submit" id="currency_submit" value="{TXT_CRM_SAVE}">
    </form>
</div>
{ENTRIES_PAGING}
<div class="tab add" data-tablist="tab">
    <form name="addcurrency" method="post" action="">
        <table class="adminlist splitview">
            <caption>{TXT_CRM_ADD_CURRENCY}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="activeStatus" value="active" checked></td>
            </tr>
            <tr>
                <td>{TXT_CRM_NAME}</td>
                <td><input type="text" name="name" id="name" value="{TXT_STATUSNAME}"></td>
            </tr>
        </table>
        <input type="hidden" name="currency_id" value="{TXT_CURRENCY_ID}">
        <a class="button secondary" href="/cadmin/Crm/settings?tpl=currency">{TXT_CANCEL}</a>
        <input type="submit" name="currency_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
    </form>
</div>
