<script>
    /* <![CDATA[ */
    var $J = jQuery.noConflict();
    $J(document).ready(function () {
        $J(".delete-customer").click(function(){
            $J(".selectCustomer").val('');
            $J("#customerId").val('0');
        });
        $J("input").keyup(function () {
            $J(this).css("border","1px solid #0A50A1");
        });
        $J("select, #target_date, #completedDate, #followUpDate").change(function () {
            $J(this).css("border","1px solid #0A50A1");
        });

        var cache = {},
            lastXhr;
        $J( "#customer_name" ).autocomplete({
            minLength: 1,
            source: function( request, response ) {
                var term = request.term;
                if ( term in cache ) {
                    response( cache[ term ] );
                    return;
                }

                lastXhr = $J.getJSON( "./index.php?cmd={MODULE_NAME}&act=getcustomers", request, function( data, status, xhr ) {
                    cache[ term ] = data;
                    if ( xhr === lastXhr ) {
                        response( data );
                    }
                });
            },
            select: function(event, ui) {
                $J('#customerId').val(ui.item.id);
            }
        });
    });
    function changeCustomer(customerId, customerName) {
        $J('#customerId').val(customerId);
        $J('#customer_name').val(customerName);

        // trigger the change event to update the customer contact option
        $J('#customer_name').trigger('change');
    }
    /* ]]> */
</script>
<script>
    var logged_in_user = {CRM_LOGGED_USER_ID};
    cx.ready(function() {
        var dpOptions = {
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            onSelect: function(dateText, inst) {
                // adjust start or end date to avoid an invalid date range
                var startDate = $J('input[name=date]').datetimepicker('getDate');

                if ($J(this).attr('name') == 'date') {
                    $J('input[name=date]').datetimepicker('setDate', dateText);
                }
            }
        };

        $J('input[name=date]').datetimepicker(dpOptions);

    }, true);
    $J(function(){
        if ($J('#assigned_to').val() == 0 || $J('#assigned_to').val() == logged_in_user) {
            $J('#notify').attr('disabled', 'disabled');
        }
        $J('#assigned_to').change(function(){
            if ($J(this).val() == 0 || $J(this).val() == logged_in_user) {
                $J('#notify').removeAttr('checked');
                $J('#notify').attr('disabled', 'disabled');
            } else {
                $J('#notify').removeAttr('disabled');
            }
        });
    });

    function checkValidations() {
        $J("input, select").css("border","1px solid #0A50A1");
        var errors =new  Array();
        var errChk;
        if(document.getElementById("taskTitle").value.trim() == "") {
            errChk = 1;
            document.getElementById("taskTitle").style.border = "1px solid red";
        }
        if(document.getElementById("taskType").value.trim() == "") {
            errChk = 1;
            document.getElementById("taskType").style.border = "1px solid red";
        }
        if(document.getElementById("customerId").value == "0") {
            errChk = 1;
            document.getElementById("customer_name").style.border = "1px solid red";
        }
        return showErrors(errors, errChk);
    }

    function showErrors(errors,  errChk) {
        if ( errors.length >= 1 || errChk == 1) {
            if (errChk == 1 && errors.length >= 1) {
                errString = errors.join('<br />');
                $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}<br />"+errString);
            } else if (  errors.length >= 1) {
                errString = errors.join('<br />');
                $J('#formerr').html(errString);
            } else if (errChk == 2){
                $J('#formerr').html("Task title already exists!");
            }else {
                $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}");
            }
            $J('#formerr').css('display','block');
            //\$j('#formerr').html(errString);
            return false;
        } else {
            $J('#formerr').html('');
            $J('#formerr').css('display', 'none');
            return true;
        }
    }
</script>
<div id="formerr" class="alertbox"></div>
<form action="/cadmin/Crm/task?tpl=modify" method="post" id="addTask" name="form1">
    <table class="adminlist splitview">
        <caption>{TXT_CRM_ADD_TASK}</caption>
        <tr>
            <td>{TXT_CRM_TASK_TITLE}</td>
            <td><input type="text" value="{CRM_TASKTITLE}" name="taskTitle" id="taskTitle"></td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_TYPE}</td>
            <td>
                <select name="taskType" id="taskType">
                <!-- BEGIN Tasktype -->
                    <option <!-- BEGIN task_type_selected -->selected <!-- END task_type_selected -->value="{TXT_TASKTYPE_ID}">{TXT_TASKTYPE_NAME}</option>
                <!-- END Tasktype -->
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_CRM_CUSTOMER_NAME}</td>
            <td>
                <!-- cutomer name fetched from AJAX request -->
                <input type="hidden" name="customerId" id="customerId" value="{CRM_CUSTOMER_ID}">
                <input type="text" name="customer_name" placeholder="{TXT_CRM_FIND_COMPANY_BY_NAME}" class="selectCustomer" id="customer_name" value="{CRM_CUSTOMER_NAME}" size="15"><span class="delete-customer"></span>
            </td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_DUE_DATE}</td>
            <td><input type="text" name="date" id="mydate" size="30" value="{CRM_DUE_DATE}"></td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_RESPONSIBLE}</td>
            <td>
                <select name="assignedto" id="assigned_to">
                    <option value="0">--{TXT_CRM_SELECT_MEMBER_NAME}--</option>
                    <!-- BEGIN Members -->
                    <option value="{TXT_USER_MEMBERID}" {TXT_SELECTED}>{TXT_USER_MEMBERNAME}</option>
                    <!-- END Members -->
                </select>
                <input type="checkbox" name="notify" id="notify" value="1"><label for="notify">{TXT_CRM_NOTIFY}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_DESCRIPTION}</td>
            <td>{CRM_TASK_DESC}</td>
        </tr>
    </table>
    <input type="hidden" value="{CRM_TASK_ID}" name="id">
    <input type="button" value="{TXT_CRM_BACK}" onclick="window.location='{CRM_BACK_LINK}&csrf='+cx.variables.get('csrf', 'contrexx')" class="secondary">
    <input type="submit" name="addtask" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
</form>
