<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings" class="{OVERVIEW_ACTIVE}" title="{TXT_CRM_GENERAL}">{TXT_CRM_GENERAL}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=membership" class="{MEMBERSHIP_ACTIVE}" title="{TXT_CRM_CUSTOMER_MEMBERSHIP}">{TXT_CRM_CUSTOMER_MEMBERSHIP}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=customertypes" class="{CUSTOMERTYPES_ACTIVE}" title="{TXT_CRM_CUSTOMER_TYPES}">{TXT_CRM_CUSTOMER_TYPES}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=industry" class="{INDUSTRY_ACTIVE}" title="{TXT_CRM_CUSTOMER_INDUSTRY}">{TXT_CRM_CUSTOMER_INDUSTRY}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize" class="{COMPANYSIZE_ACTIVE}" title="{TXT_CRM_COMPANY_SIZE}">{TXT_CRM_COMPANY_SIZE}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=currency" class="{CURRENCY_ACTIVE}" title="{TXT_CRM_CURRENCY}">{TXT_CRM_CURRENCY}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=tasktypes" class="{TASKTYPES_ACTIVE}" title="{TXT_CRM_TASK_TYPES}">{TXT_CRM_TASK_TYPES}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=notes" class="{NOTES_ACTIVE}" title="{TXT_CRM_NOTES}">{TXT_CRM_NOTES}</a></li>
        <!--<li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=successrate" class="{SUCCESSRATE_ACTIVE}" title="{TXT_CRM_SUCCESS_RATE}">{TXT_CRM_SUCCESS_RATE}</a></li>-->
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=opstages" class="{OPSTAGES_ACTIVE}" title="{TXT_CRM_DEALS_STAGES}">{TXT_CRM_DEALS_STAGES}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=interface" class="{INTERFACE_ACTIVE}" title="{TXT_CRM_IMPORT_NAME}">{TXT_CRM_IMPORT_NAME}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=interface&subTpl=export" class="{INTERFACE_EXPORT_ACTIVE}" title="{TXT_CRM_EXPORT_NAME}">{TXT_CRM_EXPORT_NAME}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=mail" class="{MAIL_ACTIVE}" title="{TXT_CRM_MAIL_TEMPLATE}">{TXT_CRM_MAIL_TEMPLATE}</a></li>
    </ul>
</div>
{CRM_SETTINGS_FILE}
{CRM_MAIL_SETTINGS_FILE}
