<!-- START module_blog_entries.html -->
<!--script src="lib/javascript/set_checkboxes.js"></script -->
{CUSTOMER_TYPES_JAVASCRIPT}
<div style="clear:both;"></div>
<div id="formerr" class="alertbox"></div>
<div class="tab overview" data-tablist="tab">
    <form name="frmShowCustomerEntries" method="post" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=customertypes">
        <table class="adminlist sortable">
            <caption>
                <div class="functions">
                    <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_CUSTOMER_TYPES}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </caption>
            <tr>
                <th>{TXT_CRM_TITLE_STATUS}</th>
                <th class="sortable {ORDER_DIR_SORTING}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=customertypes{PM_CUSTOMER_ORDER_SORT}">{TXT_CRM_SORTING}</a></th>
                <th class="sortable {ORDER_DIR_LABEL}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=customertypes{PM_CUSTOMER_LABEL_SORT}">{TXT_CRM_LABEL}</a></th>
                <th>{TXT_CRM_DEFAULT}</th>
                <th>{TXT_CRM_FUNCTIONS}</th>
            </tr>

            <!-- BEGIN showEntries -->
            <tr class="{ENTRY_ROWCLASS}">
                <td><a href='?index.php&cmd={MODULE_NAME}&act=settings&tpl=customerTypeChangeStatus&id={TXT_CUSTOMER_TYPE_ID}&status={TXT_CUSTOMER_ACTIVE}'><img src="{TXT_PROJECT_ACTIVE_IMAGE}" title="{TXT_PROJECT_ACTIVE_TITLE}" alt="{TXT_PROJECT_ACTIVE_TITLE}"></a></td>
                <td>
                    <input type="hidden" name="form_id[]" value="{TXT_CUSTOMER_TYPE_ID}">
                    <input type="number" name="form_pos[]" value="{TXT_CUSTOMER_POS_SORT}" class="compact">
                </td>
                <td><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=customertypes&amp;fn=editCustomerTypes&amp;id={TXT_CUSTOMER_TYPE_ID}&amp;pos={ENTRY_PAGING}" target="_self" title="{TXT_CUSTOMER_TYPE_LABEL}">{TXT_CUSTOMER_TYPE_LABEL}</a></td>
                <td><input type="radio" name="default" value="{TXT_CUSTOMER_TYPE_ID}" {TXT_DEFAULT_STATUS_CHECKED}></td>
                <td>
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=customertypes&amp;fn=editCustomerTypes&amp;id={TXT_CUSTOMER_TYPE_ID}&amp;pos={ENTRY_PAGING}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="javascript:deleteEntry({TXT_CUSTOMER_TYPE_ID});" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END showEntries -->
            <!-- BEGIN showNoEntries -->
            <tr>
                <td colspan="5">{TXT_CRM_CONTAINS_NO_RECORDS}</td>
            </tr>
            <!-- END showNoEntries -->
        </table>
        <input type="submit" name="customer_submit" value="{TXT_CRM_SAVE}">
    </form>
</div>
{ENTRIES_PAGING}
<div class="tab add" data-tablist="tab">
    <form name="customerTypes" method="post" action="">
        <table class="adminlist splitview">
            <caption>{TXT_CRM_ADD_CUSTOMER_TYPES}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="activeStatus" value="active" {CRM_CUSTOMER_TYPE_CHECKED}></td>
            </tr>
            <tr>
                <td>{TXT_CRM_LABEL}</td>
                <td><input type="text" name="label" id="label" value="{TXT_CUSTOMERGIVENLABEL}"></td>
            </tr>
        </table>
        <input type="hidden" name="customer_type_id" value="{TXT_CUSTOMER_TYPE_ID}">
        <a class="button secondary" href="/cadmin/Crm/settings?tpl=customertypes">{TXT_CANCEL}</a>
        <input type="submit" name="customer_type_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
    </form>
    {ENTRIES_PAGING}
</div>
<!-- END module_partners_entries.html -->
