{CURRENCY_JAVASCRIPT}
<div id="formerr" class="alertbox"></div>
<div id="editcurrencys" class="Entries" style="display: block;">
    <form name="currency" method="post" action="">
        <table class="adminlist splitview">
            <caption>{TXT_CRM_EDIT_CURRENCY}</caption>
            <tr>
                <td>{TXT_CRM_TITLEACTIVE}</td>
                <td><input type="checkbox" name="activeStatus" value="active" {TXT_ACTIVATED_VALUE}></td>
            </tr>
            <tr>
                <td>{TXT_CRM_NAME}</td>
                <td><input type="text" name="name" id="name" value="{TXT_NAME_VALUE}"></td>
            </tr>
        </table>
        <input type="hidden" name="sortingNumber" id="sortingNumber" value="{TXT_SORTINGNUMBER}">
        <input type="hidden" name="currencyid" value="{TXT_CURRENCY_ID}">
        <input type="button" name="back_button" value="{TXT_CRM_BACK}" onClick="window.location.replace('index.php?cmd={MODULE_NAME}&act=settings&tpl=currency&{CSRF_PARAM}');" class="secondary">
        <input type="submit" name="currency_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidationsEdit();">
    </form>
</div>
