<script>
    function confirmSubmit()
    {
        if (confirm('{TXT_CRM_DELETE_CONFIRM}'))
            return true ;
        else
            return false ;
    }
    function showTaskStatusPanel(switcherUI) {
        _changeTaskStatus(switcherUI, $J(switcherUI).attr("task_status"));
    }
    var _changeTaskStatus = function(Obj, task_status) {
        var taskId = $J(Obj).attr('rel').split('_')[1];

        $J.ajax({
            url: '/cadmin/Crm/task?tpl=cstatus',
            type: "POST",
            dataType: "json",
            data: {id: taskId,status: task_status},
            success: function(json) {
                if (json['error']) {
                    fadeAlertbox(json['error']);
                } else if (json['success']) {
                    $J(Obj).find("img").attr('src', json['status_img']);
                    $J(Obj).attr('task_status', json['task'].taskStatus);
                    fadeOkbox(json['status_msg']);
                }
            }
        });
    };
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function fadeOkbox(msg) {
        $J('.okbox').html(msg);
        $J('.okbox').fadeIn('slow');
        setTimeout(function () {
            $J('.okbox').fadeOut('slow');
        }, 9000);
    }
    function fadeAlertbox(msg) {
        $J('.alertBox-new').html(msg);
        $J('.alertBox-new').fadeIn('slow');
        setTimeout(function () {
            $J('.alertBox-new').fadeOut('slow');
        }, 6000);
    }
</script>
<div class="okbox" style="display:none;"></div>
<div class="alertbox" style="display:none;"></div>
<form action="" method="get" name="searchtask" id="searchtask">
    <div class="search-functions">
        <div>
            <input type="hidden" name="cmd" value="{MODULE_NAME}">
            <input type="hidden" name="act" value="task">
            <input type="search" placeholder="{TXT_CRM_ENTER_SEARCH_TERM}" name="searchTitle" id="searchTitle" size="30" value="{TXT_SEARCH_VALUE}">
            <input type="submit" value="{TXT_CRM_SEARCH}" title="{TXT_CRM_SEARCH}">
        </div>
        <div>
            <select class="searchForm" name="searchType" id="task_type" onchange="this.form.submit()">
                <option value="">{TXT_CRM_FILTER_TASK_TYPE}</option>
                <!-- BEGIN tastType -->
                <option value="{CRM_TASK_ID}" {TXT_TASK_SELECTED}>{TXT_TASK_NAME}</option>
                <!-- END tastType -->
            </select>
            {TXT_CRM_FILTER_STATUS}:
            <label><input type="checkbox" name="status[]" value="0" class="searchForm" onchange="this.form.submit()" {CRM_TASK_STATUS_OPEN}>{TXT_CRM_TASK_STATUS_OPEN}</label>
            <label><input type="checkbox" name="status[]" value="1" class="searchForm" onchange="this.form.submit()" {CRM_TASK_STATUS_COMPLETED}>{TXT_CRM_TASK_STATUS_COMPLETED}</label>
        </div>
    </div>
</form>
{TASKS}
