<tr>
    <td><input type="hidden" id="contact_{CRM_CONTACT_ID}" name="companyContacts[]" value="{CRM_CONTACT_ID}">{CRM_CONTACT_NAME}</td>
    <td><a class="removeContact_{CRM_CONTACT_ID}" href="javascript:void(0)"><i class="fa-regular fa-trash-can"></i></a></td>
</tr>
