<script>
    $J(function(){
        $J("#addTasktype").submit(function(){
            var errChk;
            if ($J.trim($J("#type_name").val()) == '') {
                errChk = 1;
                $J("#type_name").css('border','1px solid red');
            }

            if (errChk == 1) {
                $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}");
                $J('#formerr').css('display','block');
                return false;
            } else {
                return true;
            }
        });
        $J("#browse").click(function(){
            $J("#taskUploader").trigger('click');
        });
    });
</script>
<div id="formerr" style="display: none;"></div>
<form method="post" id="addTasktype">
    <table class="adminlist splitview">
        <caption>{TXT_CRM_ADD_TASK_TYPE}</caption>
        <tr>
            <td>{TXT_CRM_TASK_TYPE_ACTIVE}</td>
            <td><input type="checkbox" name="active" value="1" {CRM_TASK_TYPE_ADD_ACTIVE}></td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_TYPE_NAME}</td>
            <td><input type="text" name="name" id="type_name" value="{CRM_TASK_TYPE_NAME}"></td>
        </tr>
        <tr>
            <td>{TXT_CRM_TASK_TYPE_DESCRIPTION}</td>
            <td><textarea cols="40" rows="10" name="description" id="description">{CRM_TASK_TYPE_DESCRIPTION}</textarea></td>
        </tr>
        <tr>
            <td>{TXT_CRM_ICON}</td>
            <td><input type="text" name="icon" id="icon" value="{CRM_TASK_TYPE_ICON}"><input type="button" name="browse" id="browse" value="{TXT_BROWSE}"></td>
        </tr>
    </table>
    <a class="button secondary" href="/cadmin/Crm/settings?tpl=tasktypes">{TXT_CRM_BACK1}</a>
    <input type="hidden" name="sort" class="validate[custom[integer]] text-input" value="{CRM_TASK_TYPE_SORTING}">
    <input type="submit" name="saveTaskType" value="{TXT_CRM_SAVE}">
</form>
{COMBO_UPLOADER_CODE_TASK_TYPE}
<script>
    function taskCallbackJs(callback) {
        $J.getJSON( '{REDIRECT_URL}', function( data ) {
            $J.each(data, function(key, val) {
                var file = val.fileName;
                if ($J.trim(file) != '') {
                    $J('#icon').val(file);
                }
            });
        });
    }
</script>
