<script>
    function checkValidationsEdit() {
        $J("input, select").css("border","1px solid #0A50A1");
        var errors =new  Array();
        var errChk;
        var name   = document.getElementById("notes_type").value;

        if(name == 0) {
            errChk = 1;
            return showErrors(errors, errChk);
        }
        //return false;
    }

    function showErrors(errors,  errChk) {

        if ( errors.length >= 1 || errChk == 1) {

            if (errChk == 1 && errors.length >= 1) {
                errString = errors.join('<br />');
                $J('#formerr').html("All fields have not been filled out.!<br />"+errString);
            } else if (  errors.length >= 1) {
                errString = errors.join('<br />');
                $J('#formerr').html(errString);
            } else {
                $J('#formerr').html("All fields have not been filled out.!");
            }
            $J('#formerr').css('display','block');
            return false;
        } else {
            $J('#formerr').html('');
            $J('#formerr').css('display', 'none');
            return true;
        }
    }
    $J(function(){
       $J( ".date" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
<div id="formerr" class="alertbox"></div>
<form id="access" method="post" action="" name="addproject">
    <table class="adminlist splitview">
        <caption>{TXT_CRM_NOTES_TITLE}</caption>
        <tr>
            <td>{TXT_CRM_NOTES_TITLE}</td>
            <td>
                <select name="notes_type" id="notes_type">
                    <!-- BEGIN NoteType -->
                    <option <!-- BEGIN note_type_selected -->selected <!-- END note_type_selected -->value="{CRM_NOTE_TYPE_ID}">{CRM_NOTE_TYPE}</option>
                    <!-- END NoteType -->
                </select>
            </td>
        </tr>
        <tr>
            <td>{TXT_CRM_DUE_DATE}</td>
            <td><input type="text" readonly autocomplete="off" name="date" id="date" class="date" value="{CRM_NOTES_DATE}"></td>
        </tr>
        <tr>
            <td>{TXT_CRM_DESCRIPTION}</td>
            <td>{CRM_COMMENT_DESCRIPTION}</td>
        </tr>
    </table>
    <input type="button" value="{TXT_CRM_BACK}" onclick="window.location='{TXT_CRM_BACK_LINK}&csrf='+cx.variables.get('csrf', 'contrexx')" class="secondary">
    <input type="submit" name="comment_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidationsEdit();">
</form>
