<script>
  $J(function () {
    $J("#company_size").submit(function () {
      $J("#companySize").css("border", "1px solid #0A50A1");
      if ($J.trim($J("#companySize").val()) == "") {
        $J("#companySize").css('border', '1px solid red');
        $J('.alertbox').html('{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}');
        $J('.alertbox').css('display', 'block');
        return false;
      } else {
        return true;
      }
    });
  });
</script>
<div class="alertbox" style="display:none;"></div>
<div>
  <form id="company_size" method="post" action="">
    <table class="adminlist splitview">
      <!-- BEGIN showCompanySizeOverview -->
      <caption>{TXT_CRM_EDIT_COMPANY_SIZE}</caption>
      <tr>
        <td>{TXT_CRM_TITLEACTIVE}</td>
        <td><input type="checkbox" name="status" value="1" {CRM_COMPANY_SIZE_STATUS_CHECKED}></td>
      </tr>
      <tr>
        <td>{TXT_CRM_COMPANY_SIZE}</td>
        <td><input type="text" name="companySize" id="companySize" value="{CRM_COMPANY_SIZE}"></td>
      </tr>
      <!-- END showCompanySizeOverview -->
    </table>
    <input type="hidden" name="sorting" id="sortingNumber" value="{CRM_COMPANY_SIZE_SORTING}">
    <input type="submit" name="save" value="{TXT_CRM_SAVE}">
  </form>
</div>
