<script>
    var inputFileds = [0];
    var defaultLang = '{DEFAULT_LANG_ID}';
    function ExpandMinimize(toggle){
        elm1 = document.getElementById('Inputfield_' + toggle + '_Minimized');
        elm2 = document.getElementById('Inputfield_' + toggle + '_Expanded');

        activeLang = new Array({LANG_ARRAY});

        elmMaster = document.getElementById('Inputfield_' + toggle + '_0');
        elmDefault = document.getElementById('Inputfield_' + toggle + '_' + defaultLang);

        for(i=0;i<activeLang.length;i++) {
            elmCurrent = document.getElementById('Inputfield_' + toggle + '_' + activeLang[i]);
            if(elmCurrent.value == '') {
                elmCurrent.value = elmMaster.value;
            }
        }

        if(elm1.style.display=='block') {
            elmDefault.value = elmMaster.value;
        } else {
            elmMaster.value = elmDefault.value;
        }

        elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
        elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
    }
    $J(function(){
        $J("input").keyup(function () {
            $J(this).css("border","1px solid #0A50A1");
        });
        $J("#industry_types").submit(function(){
            $J.each(inputFileds, function(i, val){
                if ($J("#Inputfield_"+val+"_Minimized").is(":visible")){
                   $J("#Inputfield_"+val+"_"+defaultLang).val($J("#Inputfield_"+val+"_0").val());
                }
            });
            //alert("test");
             $J("input, select").css("border","1px solid #0A50A1");
             var errors =new  Array();
            var errChk;


            if ($J.trim($J("#Inputfield_0_"+defaultLang).val()) == "") {
                errChk = 1;

                $J("input[id^=Inputfield_0_]").each(function(){
                    if ($J.trim($J(this).val()) == "")
                       $J(this).css('border','1px solid red');
                });
            }
            if ( errChk == 1) {
                $J('#formerr').html("{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}");
                $J('#formerr').css('display','block');
                return false;
            } else {
                return true;
            }
            //return false;
        });
    });
    $J(function(){
        $J('.changestatus').click(function(e){
            var $elm = $J(this);
            url = $elm.attr("href");
            $J.get(url, function(data) {
                image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
                $elm.find('img').attr('src', '/core/Core/View/Media/icons/'+image);
                fadeOkbox('{TXT_CRM_CHANGE_STATUS}');
            });
            e.preventDefault();
        });
        $J(".deleteEntry").click(function(){
            $elm  = $J(this);
            en_id = $J(this).attr('rel').split('_')[1];

            if (confirm ("{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}")) {
                $J.ajax({
                    url     : './index.php?cmd={MODULE_NAME}&act=settings&tpl=industry&actionType=deleteIndustryType&ajax=1&id='+en_id,
                    type    : 'POST',
                    success : function(msg){
                        $elm.closest("tr").remove();
                        fadeOkbox('{TXT_CRM_ENTRY_DELETED_SUCCESS}');
                    }
                });
            }
        });
    });
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function getOkBox(mes) {
        return '<div class="okbox">' + mes + '</div>';
    }
    function fadeOkbox(msg) {
        $J('.okbox').remove();
        $J('table#subnavbar_level1').after(getOkBox(msg));
        setTimeout(function () {
            $J('.okbox').fadeOut('slow');
        }, 6000);
    }
    function fadeAlertbox(msg) {
        $J('.alertbox').html(msg);
        $J('.alertbox').fadeIn('slow');
        setTimeout(function () {
            $J('.alertbox').fadeOut('slow');
        }, 6000);
    }
</script>

<div>
    <div id="formerr" class="alertbox"></div>
    <div class="tab overview" data-tablist="tab">
        <form id="industry_entries" name="industry_overview_entries" action="" method="post">
            <table id="entryList" class="adminlist">
                <caption>
                    <div class="functions">
                        <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_INDUSTRY}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </caption>
                <tr>
                    <th>{TXT_STATUS}</th>
                    <th>{TXT_CRM_SORTING}</th>
                    <th>{TXT_CRM_LABEL}</th>
                    <th>{TXT_CRM_FUNCTIONS}</th>
                </tr>
                <!-- BEGIN industryEntries -->
                <tr class="{ROW_CLASS}">
                    <td><a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=industry&actionType=changestatus&id={ENTRY_ID}" class="changestatus"><img src="{CRM_SUCCESS_STATUS}" alt="{CRM_SUCCESS_STATUS}"></a></td>
                    <td><input type="number" name="sorting[{ENTRY_ID}]" value="{CRM_SORTING}" class="compact"></td>
                    <td>
                        {CRM_INDUSTRY_ICON}
                        {CRM_INDUSTRY_NAME}
                    </td>
                    <td>
                        <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="index.php?cmd={MODULE_NAME}&act=settings&tpl=industry&fn=modify&id={ENTRY_ID}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a title="{TXT_IMAGE_SAVE}" target="_self" style="display: none;" rel="entry_{ENTRY_ID}_save" class="entry_{ENTRY_ID}_save saveEntry" href="javascript:void(0);"><i class="fa-regular fa-floppy-disk"></i></a>
                        <a rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                <!-- END industryEntries -->
                <!-- BEGIN noRecords -->
                <tr class="{ROW_CLASS}">
                    <td colspan="4">{TXT_NO_RECORDS_FOUND}</td>
                </tr>
                <!-- END noRecords -->
            </table>
            <input type="submit" name="save_entries" value="{TXT_CRM_SAVE}">
        </form>
    </div>
    <div class="tab add" data-tablist="tab">
        <form id="industry_types" action="/cadmin/Crm/settings?tpl=industry" data-fixed-tablists="tab" method="post">
            <table class="adminlist splitview">
                <caption>{TXT_CRM_ADD_INDUSTRY}</caption>
                <tr>
                    <td>{TXT_CRM_TITLEACTIVE}</td>
                    <td><input type="checkbox" name="activeStatus" value="active" checked></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_NAME}</td>
                    <td>
                        <div id="Inputfield_0_Minimized" style="display: block; ">
                            <input type="text" name="Inputfield[0]" id="Inputfield_0_0" value="{CRM_INDUSTRY_NAME_DEFAULT_VALUE}" onfocus="this.select();">
                            <a href="javascript:ExpandMinimize('0');">{TXT_CRM_MORE}</a>
                        </div>
                        <div id="Inputfield_0_Expanded" style="display: none; ">
                            <!-- BEGIN industryTypeNames -->
                            <!-- BEGIN minimize -->
                            <a href="javascript:ExpandMinimize('0');">{TXT_CRM_MINIMIZE}</a><br>
                            <!-- END minimize -->
                            <input type="text" name="Inputfield[{LANG_ID}]" id="Inputfield_0_{LANG_ID}" value="{CRM_INDUSTRY_NAME_VALUE}" style="padding-left: 30px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{LANG_SHORT_NAME}.gif') no-repeat 3px 3px;" onfocus="this.select();">{LANG_LONG_NAME}<br>
                            <!-- END industryTypeNames -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{TXT_CRM_PARENT_INDUSTRY_TYPE}</td>
                    <td>
                        <select name='parentId'>
                            <option value='0'> -- {TXT_CRM_NEW_INDUSTRY_TYPE} -- </option>
                            {CRM_PARENT_INDUSTRY_DROPDOWN}
                        </select>
                    </td>
                </tr>
            </table>
            <a class="button secondary" href="/cadmin/Crm/settings?tpl=industry">{TXT_CANCEL}</a>
            <input type="submit" name="save_entry" value="{TXT_CRM_SAVE}">
        </form>
    </div>
</div>
