<script>
    $J(document).ready(function(){
        $J("#browse").click(function(){
            $J("#notesUploader").trigger('click');
        });
    });
</script>
{PM_SETTINGS_CURRENCY_JAVASCRIPT}
<div id="formerr" class="alertbox"></div>
<form name="notes" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_CRM_EDIT_NOTES}</caption>
        <tr>
            <td>{TXT_CRM_TITLEACTIVE}</td>
            <td><input type="checkbox" name="status" value="1" {TXT_NOTESSTATUS}></td>
        </tr>
        <tr>
            <td>{TXT_CRM_NAME}</td>
            <td><input type="text" name="name" id="name" value="{TXT_NOTESNAME}"></td>
        </tr>
        <tr>
            <td>{TXT_CRM_ICON}</td>
            <td>
                <div id="contactFormField_uploadWidget_notesType"></div>
                <input type="text" name="icon" id="icon" value="{TXT_NOTESICON}">
                <input type="button" id="browse" value="{TXT_BROWSE}">
            </td>
        </tr>
    </table>
    <input type="hidden" name="sorting" id="sortingNumber" value="{TXT_NOTESPOS}">
    <input type="hidden" name="currencyid" value="{TXT_CURRENCY_ID}">
    <input type="button" name="back_button" value="{TXT_CRM_BACK}" onClick="window.location.replace('index.php?cmd={MODULE_NAME}&act=settings&tpl=notes&{CSRF_PARAM}');" class="secondary">
    <input type="submit" name="currency_submit" value="{TXT_CRM_SAVE}" onClick="return checkValidations();">
</form>
{COMBO_UPLOADER_CODE_NOTES}
<script>
    function notesCallbackJs(callback) {
        $J.getJSON( '{REDIRECT_URL}', function( data ) {
            $J.each(data, function(key, val) {
                var file = val.fileName;
                if ($J.trim(file) != '') {
                    $J('#icon').val(file);
                }
            });
        });
    }
</script>
