<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task" title="{TXT_CRM_OVERVIEW}">{TXT_CRM_OVERVIEW}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task&tpl=modify" title="{TXT_CRM_ADD_TASK}">{TXT_CRM_ADD_TASK}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task&tpl=import" title="{TXT_CRM_ADD_IMPORT}">{TXT_CRM_ADD_IMPORT}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task&tpl=export" title="{TXT_CRM_ADD_EXPORT}">{TXT_CRM_ADD_EXPORT}</a></li>
    </ul>
</div>
{CRM_TASK_SUB_CATEGORY_FILE}
