<script>
    //<![CDATA[[

    function deleteEntry(entryId){
        if(confirm('{TXT_CRM_ARE_YOU_SURE_TO_DELETE_THE_ENTRY}'))
            window.location.replace("?cmd={MODULE_NAME}&{CSRF_PARAM}&act=deleteCustomers&id="+entryId+'{CRM_REDIRECT_LINK}');
    }

    function selectMultiAction() {
        with (document.frmShowCustomersEntries) {
            var chks = document.getElementsByName('selectedEntriesId[]');
            var hasChecked = false;
            // Get the checkbox array length and iterate it to see if any of them is selected
            for (var i = 0; i < chks.length; i++){
                if (chks[i].checked){
                    hasChecked = true;
                    break;
                }
            }
            if (!hasChecked) {
                alert("{TXT_CRM_NOTHING_SELECTED}");
                document.frmShowCustomersEntries.frmShowEntries_MultiAction.value=0;
                document.frmShowCustomersEntries.frmShowEntries_MultiAction.focus();
                return false;
            }
            switch (frmShowEntries_MultiAction.value) {
                case 'delete':
                    if (confirm('{TXT_CRM_SURE_TO_DELETE_SELECTED_ENTRIES}')) {
                        action='?cmd={MODULE_NAME}&act=deleteCustomers{CRM_REDIRECT_LINK}';
                        submit();
                    }
                    else{
                        frmShowEntries_MultiAction.value=0;
                    }
                    break;
                default: //do nothing
                    if(frmShowEntries_MultiAction.value == "activate"){
                        action='index.php?cmd={MODULE_NAME}&act=customersChangeStatus&type=activate{CRM_SEARCH_LINK}';
                        submit();
                    }
                    if(frmShowEntries_MultiAction.value == "deactivate"){
                        action='index.php?cmd={MODULE_NAME}&act=customersChangeStatus&type=deactivate{CRM_SEARCH_LINK}';
                        submit();
                    }
            }
        }
    }

    $J(function()
    {
        $J(".activity").click(function(){
            $J(this).css('z-index', 110);
            $J(this).parent().find('.activity-submenu').show();
            return false;
        });
        $J(document).mouseup(function(){
            $J(".activity").css('z-index', 0);
            $J(".activity-submenu").hide();
        });

        $J("#term").live('focus', function(){
            $J(this).removeClass("crm-watermark");
        });
        $J("#term").live('blur', function(){
            if ($J(this).val() == '') {
                $J(this).addClass("crm-watermark");
            } else {
                $J(this).removeClass("crm-watermark");
            }
        });
        $J('#term').data('holder',$J('#term').attr('placeholder'));

        $J('#term').focusin(function(){
            $J(this).attr('placeholder','');
        });
        $J('#term').focusout(function(){
            $J(this).attr('placeholder',$J(this).data('holder'));
        });

        $J(".advanced-search").click(function(){
            if ($J("#advanceSearchContainer").is(':visible')) {
                $J(this).removeClass("arrow-up").addClass("arrow-down");
                $J("#advanceSearchContainer").slideUp("slow");
            } else {
                $J(this).removeClass("arrow-down").addClass("arrow-up");
                $J("#advanceSearchContainer").slideDown("slow");
            }
        });
        $J("#filter_membership").chosen();
    });
    //]]>
</script>
<div id='crm'>
    <form method='get' action='' name='searchcustomer' id='searchcustomer'>
        <div class="search-functions">
            <div>
                <input type='hidden' name="cmd" value="{MODULE_NAME}">
                <input type='hidden' name="act" value="customers">
                <input type='search' name='term' placeholder="{TXT_CRM_ENTER_SEARCH_TERM}" class="crm-watermark" id='term' value='{CRM_SEARCH_TERM}'><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CRM_CUSTOMER_SEARCH_HINT}</span>
                <input type='submit' value='{TXT_CRM_SEARCH}' id='searchButton'>
                <a href="javascript:void(0)" class="advanced-search {CRM_ADVANCED_SEARCH_CLASS}">{TXT_CRM_ADVANCED_SEARCH}</a>
            </div>
        </div>

        <div id="advanceSearchContainer" style="{CRM_ADVANCED_SEARCH_STYLE}">
            <table class="adminlist splitview">
                <tr>
                    <td>{TXT_CRM_FILTER_CUSTOMER_TYPE}</td>
                    <td>
                        <!-- BEGIN block_customer_type -->
                        <select id="search_customer_type" name="customer_type">
                            <option value="0">-</option>
                            <!-- BEGIN customerTypes -->
                            <option value="{CRM_CUSTOMER_TYPE_ID}" {CRM_CUSTOMER_TYPE_SELECTED}>{CRM_CUSTOMER_TYPE}
                            </option>
                            <!-- END customerTypes -->
                        </select><br>
                        <!-- END block_customer_type -->
                        <!-- BEGIN block_memberships -->
                        <select data-placeholder="{TXT_CRM_FILTER_MEMBERSHIP}" name="filter_membership[]" id="filter_membership" size="3" multiple>
                            <!-- BEGIN memberships -->
                            <option value="{CRM_MEMBERSHIP_ID}" {CRM_MEMBERSHIP_SELECTED}>{CRM_MEMBERSHIP_VALUE}</option>
                            <!-- END memberships -->
                        </select>
                        <!-- END block_memberships -->
                    </td>
                </tr>
                <tr>
                    <td>{TXT_CRM_CUSTOMERS}</td>
                    <td><input type="checkbox" class="search-checkbox" name="contactSearch[]" {CRM_CUSTOMER_CHECKED} value="1"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_CONTACTS}</td>
                    <td><input type="checkbox" name="contactSearch[]" value="2" {CRM_CONTACT_CHECKED} class="search-checkbox"></td>
                </tr>
            </table>
            <table class="adminlist splitview">
                <tr>
                    <td>{TXT_CRM_TITLE_NAME}</td>
                    <td><input type="text" value="{CRM_SEARCH_NAME}" id="s_name" name="s_name"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_PRIMARY_EMAIL}</td>
                    <td><input type="text" value="{CRM_SEARCH_EMAIL}" id="s_email" name="s_email"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_ADDRESS}</td>
                    <td><input type="text" value="{CRM_SEARCH_ADDRESS}" id="s_address" name="s_address"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_CITY}</td>
                    <td> <input type="text" value="{CRM_SEARCH_CITY}" id="s_city" name="s_city"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_POSTAL_CODE}</td>
                    <td><input type="text" id="s_postal_code" name="s_postal_code" value="{CRM_SEARCH_ZIP}"></td>
                </tr>
                <tr>
                    <td>{TXT_CRM_DESCRIPTION}</td>
                    <td><textarea rows="5" cols="50" id="s_notes" name="s_notes">{CRM_SEARCH_NOTES}</textarea></td>
                </tr>
            </table>
            <input type="submit" name="advanced-search" value="{TXT_CRM_SEARCH}">
        </div>
    </form>
    <div>
        <!-- BEGIN module_crm_letter_index_list -->
        <a href="{ACCESS_USER_LETTER_INDEX_URI}">{ACCESS_USER_LETTER_INDEX_LETTER}</a>&nbsp;
        <!-- END module_crm_letter_index_list -->
    </div>
    <form action="" method="post" name="frmShowCustomersEntries">
        <table class="adminlist sortable" id="customerOverview">
            <caption>
                <div class="functions">
                    <a title="{TXT_CRM_CUSTOMER_EXPORT}" href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=interface&amp;subTpl=exportcsv{CRM_SEARCH_LINK}">
                        <i class="fa-solid fa-file-export"></i>
                    </a>
                    <a href="/cadmin/Crm/customers?tpl=managecontact&type=contact" title="{TXT_CRM_ADD_NEW_CONTACT}">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    <a href="/cadmin/Crm/customers?tpl=managecontact" title="{TXT_CRM_ADD_NEW_CUSTOMER}">
                        <i class="fa-regular fa-building"></i>
                    </a>
                </div>
            </caption>
            <tr>
                <th>#</th>
                <th>{TXT_CRM_TITLE_ACTIVE}</th>
                <th class="sortable {ORDER_DIR_NAME}">
                    <!-- BEGIN standardNameFilter -->
                    <a title="sort" href="?cmd={MODULE_NAME}&act=customer{CRM_NAME_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_TITLE_NAME}</a>
                    <!-- END standardNameFilter -->
                    <!-- BEGIN contactNameFilter -->
                    <a title="sort" href="?cmd={MODULE_NAME}&act=customer{CRM_NAME_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_NAME}</a> /
                    <a title="sort" href="?cmd={MODULE_NAME}&act=customer{CRM_LAST_NAME_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_FAMILY_NAME}</a>
                    <!-- END contactNameFilter -->
                </th>
                <th></th>
                <th class="sortable {ORDER_DIR_ACTIVITIES}"><a title="sort" href="?cmd={MODULE_NAME}&act=customer{CRM_ACTIVITIES_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_ACTIVITIES}</a></th>
                <th>{TXT_CRM_CONTACT}</th>
                <th class="sortable {ORDER_DIR_ADDEDDATE}"><a title="sort" href="?cmd={MODULE_NAME}&act=customer{CRM_DATE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_TITLE_ADDEDDATE}</a></th>
                <th>{TXT_CRM_TITLE_FUNCTIONS}</th>
            </tr>
            <!-- BEGIN showEntries -->
            <!-- BEGIN showCustomers -->
            <tr class="{CRM_ROW_CLASS}" {TXT_STYLESHEET}>
                <td><input type="checkbox" name="selectedEntriesId[]" value="{ENTRY_ID}"></td>
                <td><a href="index.php?cmd={MODULE_NAME}&act=customers&activeId={ENTRY_ID}&active={TXT_ACTIVE_VALUE}{CRM_SEARCH_LINK}"><img title="{TXT_IMAGE_TITLE}" alt="" src="{TXT_ACTIVE_IMAGE}"></a></td>
                <td>
                    {CRM_COMPANY_NAME}
                    {CRM_CONTACT_ADDED_NEW}
                </td>
                <td><img alt="empty_company" width="40" height="40" src="{CRM_ACCESS_PROFILE_IMG_WEB_PATH}/{CRM_CONTACT_PROFILE_IMAGE}"></td>
                <td>
                    {CRM_CONTACT_NOTES_COUNT}<br>
                    {CRM_CONTACT_TASK_COUNT}<br>
                    {CRM_CONTACT_DEALS_COUNT}
                </td>
                <td>
                    <a href="mailto:{CRM_CONTACT_EMAIL}">{CRM_CONTACT_EMAIL}</a><br>
                    <a href="tel:{CRM_CONTACT_PHONE}">{CRM_CONTACT_PHONE}</a>
                </td>
                <td>{CRM_ADDED_DATE}</td>
                <td>
                    <a title="{TXT_CRM_DOWNLOAD_VCARD}" target="_self" href="index.php?cmd={MODULE_NAME}&amp;act=exportvcf&amp;id={ENTRY_ID}"><i class="fa-regular fa-address-card"></i></a>
                    <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" href="index.php?cmd={MODULE_NAME}&act=customers&tpl=managecontact&amp;id={ENTRY_ID}{CRM_REDIRECT_LINK}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a title="{TXT_CRM_IMAGE_DELETE}" href="javascript:deleteEntry({ENTRY_ID});" target="_self"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END showCustomers -->
            <!-- BEGIN showContacts -->
            <tr class="{CRM_ROW_CLASS}">
                <td><input type="checkbox" name="selectedEntriesId[]" value="{ENTRY_ID}"></td>
                <td><a href="index.php?cmd={MODULE_NAME}&act=customers&activeId={ENTRY_ID}&active={TXT_ACTIVE_VALUE}{CRM_SEARCH_LINK}"><img title="{TXT_IMAGE_TITLE}" alt="" src="{TXT_ACTIVE_IMAGE}"></a></td>
                <td>
                    {CRM_CONTACT_NAME}
                    {CRM_CONTACT_ADDED_NEW}<br>
                    {CRM_COMPNAY_NAME}
                </td>
                <td><img width="40" height="40" src="{CRM_ACCESS_PROFILE_IMG_WEB_PATH}/{CRM_CONTACT_PROFILE_IMAGE}"></td>
                <td>
                    {CRM_CONTACT_NOTES_COUNT}<br>
                    {CRM_CONTACT_TASK_COUNT}<br>
                    {CRM_CONTACT_DEALS_COUNT}
                </td>
                <td>
                    <a href="mailto:{CRM_CONTACT_EMAIL}">{CRM_CONTACT_EMAIL}</a><br>
                    <a href="tel:{CRM_CONTACT_PHONE}">{CRM_CONTACT_PHONE}</a>
                </td>
                <td>{CRM_ADDED_DATE}</td>
                <td>
                    <a title="{TXT_CRM_DOWNLOAD_VCARD}" target="_self" href="index.php?cmd={MODULE_NAME}&amp;act=exportvcf&amp;id={ENTRY_ID}"><i class="fa-regular fa-address-card"></i></a>
                    <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" href="index.php?cmd={MODULE_NAME}&act=customers&tpl=managecontact&type=contact&id={ENTRY_ID}{CRM_REDIRECT_LINK}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="javascript:deleteEntry({ENTRY_ID});" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            <!-- END showContacts -->
            <!-- END showEntries -->
            <tr>
                <td colspan="8">{TXT_NORECORDFOUND_ERROR}</td>
            </tr>
        </table>
        <ul class="bulk-functions">
            <li><a href="#" onclick="changeCheckboxes('frmShowCustomersEntries','selectedEntriesId[]',true); return false;">{TXT_CRM_SELECT_ALL}</a></li>
            <li><a href="#" onclick="changeCheckboxes('frmShowCustomersEntries','selectedEntriesId[]',false); return false;">{TXT_CRM_REMOVE_SELECTION}</a></li>
            <li>
                <select name="frmShowEntries_MultiAction" onchange="selectMultiAction();">
                    <option value="0">{TXT_CRM_SELECT_ACTION}</option>
                    <option value="activate">{TXT_CRM_ACTIVATESELECTED}</option>
                    <option value="deactivate">{TXT_CRM_DEACTIVATESELECTED}</option>
                    <option value="delete">{TXT_CRM_DELETE_SELECTED}</option>
                </select>
            </li>
        </ul>
    </form>
    {ENTRIES_PAGING}
</div>
<!-- END customer_details -->
<div id="fade" class="black_overlay"></div>
