<!-- START module_crm_interface.html -->
{COMBO_UPLOADER_CODE}
<script>
    function importCallbackJs(callback) {
        $J.getJSON( '{REDIRECT_URL}', function( data ) {
            $J.each(data, function(key, val) {
                var file = val.fileName;
                if ($J.trim(file) != '') {
                    $J('#fileName').val(file);
                    var filename = file.replace(/^.*[\\\/]/, '');

                    $J('.choose-image-content .file-text').html(filename);
                    $J('.choose-image-text').fadeOut(function(){
                        $J('.choose-image-content').fadeIn();
                    });
                    $J('#start_upload').removeClass('disabled');
                }
            });
        });
    }
</script>
<div id="Import">
    <div class="clear"></div>
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <span class="text_msg"></span>
            </p>
        </div>
    </div>
    <div class="ui-widget">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <span class="text_msg"></span>
            </p>
        </div>
    </div>
    <div id="step1">
        <form name="frmImport" id="frmImport" method="post" action="index.php?cmd={MODULE_NAME}&act=settings&amp;tpl=interface&amp;subTpl=importCsv" enctype="multipart/form-data">
            <div class="infobox">{TXT_CRM_IMPORT_NOTE_DESCRIPTION}</div>
            <table class="adminlist splitview">
                <tr>
                    <td>{TXT_CRM_CHOOSE_FILE}</td>
                    <td>
                        <span class="choose-image-text">
                            <a class="choose-image " href="javascript:void(0);">{TXT_CRM_CHOOSE_CSV}</a>
                        </span>
                        <em><span class="choose-image-content" style="display:none;">
                                <span class="file-text"></span>
                                <a class="choose-image" href="javascript:void(0);">{TXT_CRM_CHANGE}</a>
                            </span></em>
                        <div id="contactFormField_uploadWidget_1"></div>
                        <input type="hidden" id="fileName" name="fileName" value="">
                    </td>
                </tr>
                <tr>
                    <td>{TXT_CRM_CSV_SEPARATOR}</td>
                    <td>
                        <select name="csv_delimiter">
                            <!-- BEGIN crm_delimiter -->
                            <option value="{CRM_DELIMITER_VALUE}">{CRM_DELIMITER_TITLE}</option>
                            <!-- END crm_delimiter -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{TXT_CRM_CSV_ENCLOSURE}</td>
                    <td>
                        <select name="csv_enclosure">
                            <!-- BEGIN crm_enclosure -->
                            <option value="{CRM_ENCLOSURE_VALUE}">{CRM_ENCLOSURE_TITLE}</option>
                            <!-- END crm_enclosure -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {TXT_CRM_ON_DUPLICATES}
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CRM_ON_DUPLICATES_INFO}</span>
                    </td>
                    <td>
                        <input type="radio" value="0" name="on_duplicate" id="skip"><label for="skip">{TXT_CRM_SKIP}</label><br>
                        <input type="radio" value="1" name="on_duplicate" id="overwrite"><label for="overwrite">{TXT_CRM_OVERWRITE}</label><br>
                        <input type="radio" value="2" checked name="on_duplicate" id="duplicate"><label for="duplicate">{TXT_CRM_DUPLICATE}</label>
                    </td>
                </tr>
                <tr>
                    <td>{TXT_CRM_IGNORE_FIRST_ROW}</td>
                    <td><input type="checkbox" value="1" checked name="ignore_first"></td>
                </tr>
            </table>
            <div class="import_step1">
                <input type="submit" id="start_upload" class="disabled" value="{TXT_CRM_CONTINUE}" title="{TXT_CRM_CONTINUE}" name="imported">
            </div>
        </form>
    </div>
    <div id="step2" style="display: none;">
        <form name="frmImport2" id="frmImport2" method="post" action="index.php?cmd={MODULE_NAME}&act=settings&amp;tpl=interface&amp;subTpl=save">
            <div class="infobox">{TXT_CRM_VERIFY_INFO}</div>
            <table id="mapCSVColumn" class="adminlist no-functions">
                <thead>
                    <tr>
                        <th>{TXT_CRM_FILE_COLUMN}</th>
                        <th>{TXT_CRM_CORRESPONDING_FIELD}</th>
                        <th>
                            <input type="hidden" id="fileUri" name="fileUri" value="">
                            {TXT_CRM_CSV_VALUE}<br>
                            <span class="rePrevious"><a href="javascript:void(0);">{TXT_CRM_PREVIOUS_RECORD}</a></span>
                            <span class="reNext"><a href="javascript:void(0);">{TXT_CRM_NEXT_RECORD}</a></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
            <div class="import_step2">
                <input type="button" id="cancel_upload" value="{TXT_CRM_CANCEL}" title="{TXT_CRM_CANCEL}" onClick="window.location.replace('./index.php?cmd=Crm&act=settings&amp;tpl=interface&amp;{CSRF_PARAM}')" class="secondary">
                <input type="submit" id="import_data" class="disabled" value="{TXT_CRM_CONTINUE}" title="{TXT_CRM_CONTINUE}" name="imported" disabled="disabled">
            </div>
        </form>
    </div>
    <div id="step3" style="display: none;">
        <div id="importMsg" class="infobox"></div>
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_CRM_TITLE_SAVING_CONTACTS}</td>
                <td>
                    <div id="progressDetails" style="display: none;">
                        <span class="processed"></span>&nbsp;{TXT_CRM_RECORD_PROCESS}<br>
                        <span class="imported"></span>&nbsp;{TXT_CRM_RECORD_IMPORT}<br>
                        <span class="skiped"></span>&nbsp;{TXT_CRM_RECORD_SKIPPED}
                    </div>
                </td>
            </tr>
        </table>
        <input type="button" id="cancelled" name="cancel" value="{TXT_CRM_CANCEL}">
        <input type="button" id="Done" class="disabled" disabled name="Done" value="{TXT_CRM_RECORD_DONE}" onClick="window.location.replace('./index.php?cmd=Crm&act=customers&{CSRF_PARAM}');">
    </div>
    <select name="crm_contact_option_base[]" id="crm_contact_option_base" style="display: none;"></select>
    <script id="columnSelectorTemplate" type="text/x-jquery-tmpl">
        {{if Header}}
            <option name="header">{{= title }}</option>
            {{else !Header}}
            <option value="{{= value }}" >{{= title }}</option>
            {{/if}}
    </script>

    <script id="csvColumnTemplate" type="text/x-jquery-tmpl">
        {{each contactFields}}
            <tr>
            <td>
            ${contactHeader[$index]}
            </td>
            <td >
            {{html $item.renderSelectBox($index, contactHeader[$index])}}
            </td>
            <td >
            ${$value}
            </td>
            </tr>
            {{/each}}
    </script>
</div>
<!-- END module_crm_interface.html -->
