<table class="adminlist sortable">
    <caption>
        <div class="functions">
            <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_TASK_TYPE}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </caption>
    <tr>
        <th>{TXT_CRM_TASK_TYPE_STATUS}</th>
        <th class="sortable {ORDER_DIR_SORTING}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=tasktypes&sortf=0&sorto={TXT_ORDER}">{TXT_CRM_TASK_TYPE_SORTING}</a></th>
        <th class="sortable {ORDER_DIR_NAME}"><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=tasktypes&sortf=1&sorto={TXT_ORDER}">{TXT_CRM_TASK_TYPE_NAME}</a></th>
        <th>{TXT_CRM_ICON}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN noTasktypes -->
    <tr>
        <td colspan="5">{TXT_CRM_NO_TASKTYPES}</td>
    </tr>
    <!-- END noTasktypes -->
    <!-- BEGIN taskTypes -->
    <tr id="entry_{CRM_TASK_TYPE_ID}" class="{ROW_CLASS}">
        <td><a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=tasktypes&actionType=changestatus&taskTypeId={CRM_TASK_TYPE_ID}" class="changestatus"><img src="/core/Core/View/Media/icons/{CRM_TASK_TYPE_ACTIVE}" alt="status"></a></td>
        <td><input type="number" name="sorting[{CRM_TASK_TYPE_ID}]" value="{CRM_TASK_TYPE_SORTING}" class="compact"></td>
        <td><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=tasktypes&amp;fn=editTaskType&amp;id={CRM_TASK_TYPE_ID}" target="_self" title="{TXT_CRM_IMAGE_EDIT}">{CRM_TASK_TYPE_NAME}</a></td>
        <td><img src="{CRM_TASK_TYPE_ICON}" alt="{CRM_TASK_TYPE_ICON}"></td>
        <td>
            <a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=tasktypes&amp;fn=editTaskType&amp;id={CRM_TASK_TYPE_ID}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
            <!-- BEGIN delete_icon_block -->
            <a href="javascript:deleteEntry({CRM_TASK_TYPE_ID});" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            <!-- END delete_icon_block -->
        </td>
    </tr>
    <!-- END taskTypes -->
</table>
