<!-- BEGIN skipAjaxBlock -->
<table id="doc_overview" class="adminlist">
    <caption>{TXT_CRM_DOCUMENTS}</caption>
    <tr>
        <th>{TXT_CRM_DOCUMENT_NAME}</th>
        <th>{TXT_CRM_ADDED_BY}</th>
        <th>{TXT_CRM_ADDED_DATE}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
    </tr>
    <!-- END skipAjaxBlock -->
    <!-- BEGIN noRecords -->
    <tr>
        <td colspan="4">{TXT_NO_RECORDS_FOUND}</td>
    </tr>
    <!-- END noRecords -->
    <!-- BEGIN contact_documents -->
    <tr>
        <td>
            <div class="document-view {CRM_FILE_TYPE}">
                <a href="./index.php?cmd={MODULE_NAME}&act=getcontactdocuments&{CSRF_PARAM}&tpl=download&customer={CRM_CUSTOMER_ID}&id={CRM_DOCUMENT_ID}" target="_blank" title="{TXT_CRM_IMAGE_DOWNLOAD}">
                    {CRM_DOCUMENT_NAME}
                </a>
            </div>
        </td>
        <td>{CRM_ADDED_BY}</td>
        <td>{CRM_ADDED_DATE}</td>
        <td>
            <a href="./index.php?cmd={MODULE_NAME}&act=getcontactdocuments&{CSRF_PARAM}&tpl=download&customer={CRM_CUSTOMER_ID}&id={CRM_DOCUMENT_ID}" target="_blank" title="{TXT_CRM_IMAGE_DOWNLOAD}"><i class="fa-solid fa-download"></i></a>
            <a class="delete_document" href="./index.php?cmd={MODULE_NAME}&{CSRF_PARAM}&act=getcontactdocuments&tpl=delete&customer={CRM_CUSTOMER_ID}&id={CRM_DOCUMENT_ID}" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
    </tr>
    <!-- END contact_documents -->
    <!-- BEGIN skipAjaxBlock1 -->
</table>
<input type="button" class="add-document" value="{TXT_CRM_ADD_DOCUMENTS}">
<!-- END skipAjaxBlock1 -->
