<script>
  $J(function () {
    $J('.changestatus').click(function (e) {
      var $elm = $J(this);
      url = $elm.attr("href");
      $J.get(url, function (data) {
        image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
        $elm.find('img').attr('src', '/core/Core/View/Media/icons/' + image);
        fadeOkbox('{TXT_CRM_CHANGE_STATUS}');
      });
      e.preventDefault();
    });

    $J(".deleteEntry").click(function () {
      $elm = $J(this);
      en_id = $J(this).attr('rel').split('_')[1];
      if (confirm("{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}")) {
        $J.ajax({
          url: './index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize&actionType=delete&ajax=1&id=' + en_id,
          type: 'POST',
          success: function (data) {
            $elm.closest("tr").remove();
            fadeOkbox('{TXT_CRM_ENTRY_DELETED_SUCCESS}');
          }
        });
      }
    });

    $J("#company_size").submit(function() {
      $J("#companySize").css("border", "1px solid #0A50A1");
      if ($J.trim($J("#companySize").val()) == "") {
        $J("#companySize").css('border', '1px solid red');
        $J('.alertbox').html('{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}');
        $J('.alertbox').css('display', 'block');
        return false;
      } else {
        return true;
      }
    });
  });

  function fadeOkbox(msg) {
    $J('.okbox').html(msg);
    $J('.okbox').fadeIn('slow');
    setTimeout(function () {
      $J('.okbox').fadeOut('slow');
    }, 6000);
  }
</script>

<div class="okbox" style="display:none;"></div>
<div class="alertbox" style="display:none;"></div>

<!--Tab 1-->
<div class="tab overview" data-tablist="tab">
  <form id="entries" name="entries" action="/cadmin/Crm/settings?tpl=companySize" data-fixed-tablists="tab" method="post">
    <table id="entryList" class="adminlist">
      <caption>
        <div class="functions">
          <a data-tablist="tab" data-tablink="add" href="#" title="{TXT_CRM_ADD_COMPANY_SIZE}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </caption>
      <tr>
        <th>{TXT_STATUS}</th>
        <th>{TXT_CRM_SORTING}</th>
        <th>{TXT_CRM_COMPANY_SIZE}</th>
        <th>{TXT_CRM_NUMBER_OF_COMPANIES}</th>
        <th>{TXT_CRM_FUNCTIONS}</th>
      </tr>
      <!-- BEGIN showCompanySizeOverview -->
      <tr class="{CRM_ROW_CLASS}">
        <td><a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=companySize&actionType=changestatus&id={CRM_COMPANY_SIZE_ID}" class="changestatus"><img src="{CRM_COMPANY_SIZE_STATUS}" alt="{CRM_COMPANY_SIZE_STATUS}"></a></td>
        <td><input type="number" name="sorting[{CRM_COMPANY_SIZE_ID}]" value="{CRM_COMPANY_SIZE_SORTING}" class="compact"></td>
        <td><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize&subTpl=modifyCompanySize&id={CRM_COMPANY_SIZE_ID}">{CRM_COMPANY_SIZE}</a></td>
        <td>{CRM_NUMBER_OF_COMPANIES}</td>
        <td>
          <a title="{TXT_CRM_IMAGE_EDIT}" class="edit-company-size" target="_self" href="index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize&subTpl=modifyCompanySize&id={CRM_COMPANY_SIZE_ID}"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="javascript:void(0);" rel="entry_{CRM_COMPANY_SIZE_ID}_delete" class="deleteEntry" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
      </tr>
      <!-- END showCompanySizeOverview -->
    </table>
    <input type="submit" name="save_entries" value="{TXT_CRM_SAVE}">
  </form>
</div>

<!--Tab 2-->
<div class="tab add" data-tablist="tab">
  <form id="company_size" method="post" action="/cadmin/Crm/settings?tpl=companySize" data-fixed-tablists="tab">
    <table class="adminlist splitview">
      <caption>{TXT_CRM_ADD_COMPANY_SIZE}</caption>
      <tr>
        <td>{TXT_CRM_TITLEACTIVE}</td>
        <td><input type="checkbox" name="status" value="{CRM_COMPANY_SIZE_STATUS_CHECKED}" checked></td>
      </tr>
      <tr>
        <td>{TXT_CRM_COMPANY_SIZE}</td>
        <td><input type="text" id="companySize" name="companySize" value="{CRM_SETTINGS_COMPANY_SIZE}"></td>
      </tr>
    </table>
    <a class="button secondary" href="/cadmin/Crm/settings?tpl=companySize">{TXT_CANCEL}</a>
    <input type="submit" name="save" value="{TXT_CRM_SAVE}">
  </form>
</div>
