<table>
    <tr>
        <td><a href="./index.php?cmd=Crm&amp;act=customers&amp;tpl=showcustdetail&id={CRM_CUSTOMER_ID}&{CSRF_PARAM}" style="text-decoration:underline;">{CUSTOMER_NAME}</a></td>
    </tr>
    <tr>
        <td>{CUSTOMER_NOOF_CONTACT} {TXT_CRM_CONTACT_TOOLTIP_HEAD}</td>
    </tr>
    <tr>
        <td><i class="fa-solid fa-phone"></i>{CUSTOMER_PHONE}</td>
    </tr>
    <tr>
        <td><i class="fa-solid fa-envelope"></i>{CUSTOMER_EMAIL}</td>
    </tr>
    <tr>
        <td><i class="fa-solid fa-location-dot"></i>{CUSTOMER_ADDRESS}<br>
            {CUSTOMER_POSTCODE}{CUSTOMER_CITY}{CRM_CONTACT_COMMA}{CUSTOMER_STATE}<br>
            {CRM_CONTACT_COUNTRY}</td>
    </tr>
</table>
