<div class="mediabrowser-imagechooser">
    <a href="javascript:void(0);" class="browse title" data-placeholder-title="{TXT_MEDIABROWSER_IMAGE_CHOOSER_CHOOSE}" title="{CURRENT_IMG_TITLE}">
        <img class="preview<!-- BEGIN empty --> empty<!-- END empty -->" src="{CURRENT_IMG_THUMBNAIL}" data-placeholder-img="{PLACEHOLDER_IMG}" alt="{CURRENT_IMG_TITLE}">
        <span title="{TXT_MEDIABROWSER_IMAGE_CHOOSER_CHOOSE}">
            {TXT_MEDIABROWSER_IMAGE_CHOOSER_CHOOSE}
        </span>
    </a>
    <a href="javascript:void(0);" class="deletePreviewImage" title="{TXT_MEDIABROWSER_IMAGE_CHOOSER_REMOVE}">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    {MEDIA_BROWSER_BUTTON}
    <input type="hidden" name="{FIELD_NAME}" value="{CURRENT_IMG}">
</div>

