<div>
    <div id="thumbnailSelector">
        <img src="" alt="" class="image">
        <div class="form-horizontal">
            <select name="size" class="form-control thumbnail-size">
                <option value="0">{TXT_FILEBROWSER_THUMBNAIL_ORIGINAL_SIZE}</option>
                <!-- BEGIN thumbnails -->
                <option value="{THUMBNAIL_SIZE}">{THUMBNAIL_NAME}</option>
                <!-- END thumbnails -->
            </select>
        </div>
    </div>
</div>
