<div id="subnavbar_level2">
  <ul>
      <li><a href="index.php?cmd=Config&amp;act=Wysiwyg" class="{CORE_WYSIWYG_SUBNAV_TEMPLATES}" title="{TXT_CORE_WYSIWYG_ACT_WYSIWYG_TEMPLATE}">{TXT_CORE_WYSIWYG_ACT_WYSIWYG_TEMPLATE}</a></li>
    <li><a href="index.php?cmd=Config&amp;act=Wysiwyg&amp;tpl=Functions" class="{CORE_WYSIWYG_SUBNAV_FUNCTIONS}" title="{TXT_CORE_WYSIWYG_ACT_FUNCTIONS}">{TXT_CORE_WYSIWYG_ACT_FUNCTIONS}</a></li>
    <li><a href="index.php?cmd=Config&amp;act=Wysiwyg&amp;tpl=Settings" class="{CORE_WYSIWYG_SUBNAV_SETTINGS}" title="{TXT_CORE_WYSIWYG_ACT_SETTINGS}">{TXT_CORE_WYSIWYG_ACT_SETTINGS}</a></li>
  </ul>
</div>
{WYSIWYG_CONFIG_TEMPLATE}
