<!-- start ToolbarConfigurator.html -->
<script>
	if ( CKEDITOR.env.ie && CKEDITOR.env.version < 9 )
		CKEDITOR.tools.enableHtml5Elements( document );
</script>
<table class="adminlist splitview">
	<tr>
		<td>
			{TXT_WYSIWYG_TOOLBAR_FUNC_DESC}
			{TXT_WYSIWYG_TOOLBAR_FUNC_DESC_INFO_GROUPS}
		</td>
		<td class="editorfunctions">
			<div class="editors-container">
				<div id="editor-basic"></div>
			</div>
			<div class="configurator">
				<div class="content">
					<div class="configurator">
						<div>
							<div id="toolbarModifierWrapper"></div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
<!-- BEGIN wysiwyg_toolbar_store_button -->
<input type="submit" name="save" value="{TXT_WYSIWYG_TOOLBAR_SAVE}">
<!-- END wysiwyg_toolbar_store_button -->

<script>
	( function() {
		'use strict';
		var mode = 'basic',
			configuratorSection = CKEDITOR.document.findOne('table.adminlist td.editorfunctions td .configurator');

		function onRefresh( modifier ) {
			modifier = modifier || this;

			if ( mode === 'basic' && modifier instanceof ToolbarConfigurator.ToolbarTextModifier ) {
				return;
			}

			// CodeMirror container becomes visible, so we need to refresh and to avoid rendering problems.
			if ( mode === 'advanced' && modifier instanceof ToolbarConfigurator.ToolbarTextModifier ) {
				modifier.codeContainer.refresh();
			}

			updateToolbar( modifier.editorInstance );
		}

		function updateToolbar( editor ) {
			var editorContainer = editor.container;

			// Not always editor is loaded.
			if ( !editorContainer ) {
				return;
			}

			var displayStyle = editorContainer.getStyle( 'display' );

			editorContainer.setStyle( 'display', 'block' );

			var newHeight = editorContainer.getSize( 'height' );

			var newMarginTop = parseInt( editorContainer.getComputedStyle( 'margin-top' ), 10 );
			newMarginTop = ( isNaN( newMarginTop ) ? 0 : Number( newMarginTop ) );

			var newMarginBottom = parseInt( editorContainer.getComputedStyle( 'margin-bottom' ), 10 );
			newMarginBottom = ( isNaN( newMarginBottom ) ? 0 : Number( newMarginBottom ) );

			var result = newHeight + newMarginTop + newMarginBottom;

			editorContainer.setStyle( 'display', displayStyle );
			if (parseInt(result) !== 0) {
				editor.container.getAscendant('div').setStyle('height', result + 'px');
			}
		}

		var toolbarModifier = new ToolbarConfigurator.ToolbarModifier( 'editor-basic' );

		var done = 0;
		toolbarModifier.init( onToolbarInit );
		toolbarModifier.onRefresh = onRefresh;

		CKEDITOR.document.getById( 'toolbarModifierWrapper' ).append( toolbarModifier.mainContainer );

		function onToolbarInit() {
			if ( ++done === 1 ) {
				onToolbarsDone();

				positionSticky.watch( CKEDITOR.document.findOne( '.toolbar' ), function() {
					return mode === 'advanced';
				} );
			}
		}

		function onToolbarsDone() {
			if ( mode === 'basic' ) {
				toggleModeBasic( false );
			} else {
				toggleModeAdvanced( false );
			}

			setTimeout( function() {
				CKEDITOR.document.findOne( '.editors-container' ).addClass( 'active' );
				CKEDITOR.document.findOne( '#toolbarModifierWrapper' ).addClass( 'active' );
			}, 200 );
		}

		function toogleModeSwitch( onElement, offElement, onModifier, offModifier ) {
			onElement.addClass( 'fancy-button-active' );
			offElement.removeClass( 'fancy-button-active' );

			onModifier.showUI();
			offModifier.hideUI();
		}

		function toggleModeBasic( callOnRefresh ) {
			callOnRefresh = ( callOnRefresh !== false );
			mode = 'basic';
			window.location.hash = '#basic';
			toolbarModifier.showUI();
			configuratorSection.removeClass( 'freed-width' );

			callOnRefresh && onRefresh( toolbarModifier );
		}

		function toggleModeAdvanced( callOnRefresh ) {
			callOnRefresh = ( callOnRefresh !== false );
			mode = 'advanced';
			window.location.hash = '#advanced';
			toogleModeSwitch( modeSwitchAdvanced, modeSwitchBasic, toolbarTextModifier, toolbarModifier );

			configuratorSection.addClass( 'freed-width' );

			callOnRefresh && onRefresh( /*toolbarTextModifier*/ );
		}

		//
		// Position:sticky for the toolbar.
		//

		// Will make elements behave like they were styled with position:sticky.
		var positionSticky = {
			// Store object: {
			// 		element: CKEDITOR.dom.element, // Element which will float.
			// 		placeholder: CKEDITOR.dom.element, // Placeholder which is place to prevent page bounce.
			// 		isFixed: boolean // Whether element float now.
			// }
			watched: [],

			active: [],

			staticContainer: null,

			init: function() {
				var element = CKEDITOR.dom.element.createFromHtml(
					'<div class="staticContainer">' +
					'<div class="grid-container" >' +
					'<div class="grid-width-100">' +
					'<div class="inner"></div>' +
					'</div>' +
					'</div>' +
					'</div>' );

				this.staticContainer = element.findOne( '.inner' );

				CKEDITOR.document.getBody().append( element );
			},

			watch: function( element, preventFunc ) {
				this.watched.push( {
					element: element,
					placeholder: new CKEDITOR.dom.element( 'div' ),
					isFixed: false,
					preventFunc: preventFunc
				} );
			},

			checkAll: function() {
				for ( var i = 0; i < this.watched.length; i++ ) {
					this.check( this.watched[ i ] );
				}
			},

			check: function( element ) {
				var isFixed = element.isFixed;
				var shouldBeFixed = this.shouldBeFixed( element );

				// Nothing to be done.
				if ( isFixed === shouldBeFixed ) {
					return;
				}

				var placeholder = element.placeholder;

				if ( isFixed ) {
					// Unfixing.

					element.element.insertBefore( placeholder );
					placeholder.remove();

					element.element.removeStyle( 'margin' );

					this.active.splice( CKEDITOR.tools.indexOf( this.active, element ), 1 );

				} else {
					// Fixing.
					placeholder.setStyle( 'width', element.element.getSize( 'width' ) + 'px' );
					placeholder.setStyle( 'height', element.element.getSize( 'height' ) + 'px' );
					placeholder.setStyle( 'margin-bottom', element.element.getComputedStyle( 'margin-bottom' ) );
					placeholder.setStyle( 'display', element.element.getComputedStyle( 'display' ) );
					placeholder.insertAfter( element.element );

					this.staticContainer.append( element.element );

					this.active.push( element );
				}

				element.isFixed = !element.isFixed;
			},

			shouldBeFixed: function( element ) {
				if ( element.preventFunc && element.preventFunc() ) {
					return false;
				}

				// If element is already fixed we are checking it's placeholder.
				var related = ( element.isFixed ? element.placeholder : element.element ),
					clientRect = related.$.getBoundingClientRect(),
					staticHeight = this.staticContainer.getSize('height' ),
					elemHeight = element.element.getSize( 'height' );

				if ( element.isFixed ) {
					return ( clientRect.top + elemHeight < staticHeight );
				} else {
					return ( clientRect.top < staticHeight );
				}
			}
		};

		positionSticky.init();

		CKEDITOR.document.getWindow().on( 'scroll',
			new CKEDITOR.tools.eventsBuffer( 100, positionSticky.checkAll, positionSticky ).input
		);

		// Make the toolbar sticky.
		positionSticky.watch( CKEDITOR.document.findOne( '.editors-container' ) );

	} )();
</script>
<!-- end ToolbarConfigurator.html -->
