
/* CONTENTS:

  1 Reset
  2 Layout
    2.1 Fonts
    2.2 Content Manager
    2.2.1 Type Tab
  3 Helpers
 */

/* 1) Reset */
ol, ul{ list-style: none }
.clearfix:before, .clearfix:after{ content: "\0020"; display: block; height: 0; overflow: hidden }
.clearfix:after{ clear: both }
.clearfix{ zoom: 1 }
/* Reset END */

/* 2 Layout */
/* 2.1 Fonts */
h1{ font-size: 20px }

/* 2.2 Content Manager */
#content-manager {
    position: relative;
    float: left;
    width: 100%;
}

#cm-load-lock {
    position: absolute;
    opacity: 0.5;
    background-color: white;
    display: none;
    z-index: 500;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#content-manager #cm-left {
    float: left;
    width: 100%;
}

#content-manager #cm-right {
    /*display: none;*/
}

#content-manager.edit_view #cm-left {
    width: 25em;
}

#content-manager.edit_view #cm-right {
    float: none;
    display: block !important;
}

#content-manager.sidebar-hide #cm-right {
    margin-left: 26em;
}

#content-manager.sidebar-show #cm-right {
    margin-left: 0;
}

#content-manager.cm-single-locale.edit_view #subnav {
    display: none;
}
#content-manager.cm-single-locale.edit_view .adminlist,
#content-manager.cm-single-locale.edit_view #site-structure {
    margin: 0px !important;
}

#content-manager.edit_view .actions {
    left: auto !important;
    right: 0;
}

.ie7 #input1{ float:left; }
.ie7 .space{ margin-bottom: 10px; }

#site-language {
    height: 100%;
}

#content-manager.edit_view #site-language {
    border: 0;
    margin: 0;
}

#site-language .chzn-select{
    visibility: hidden;
}

#site-language .chosen-container {
    height: 100%;
    width: var(--navigation-width) !important;
}
#site-language .chosen-drop {
    height: auto;
}
#site-language .chosen-results li {
    padding-top: 0;
    padding-bottom: 0;
    line-height: calc(var(--font-size-default) * 1.5);
    font-size: var(--font-size-default);
}
#site-language .chosen-results li.highlighted {
    background-image: none;
}

.cm-single-locale #site-language {
    display:none;
}

#content-manager.edit_view .chzn-container {
    position: relative;
    float: left;
    width: 352px !important;
    margin: 0;
    z-index: 400;
}

#content-manager.edit_view .chzn-container .chzn-results {
    width: 342px !important;
}

#site-structure-wrapper {
    position: relative;
    width: auto;
    min-width: 100%;
}

#site-structure {
    float: left;
    width: auto;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: var(--white);
    margin: 1em 0;
    font-size: var(--font-size-small);
}

#site-structure li select {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 17%;
}

#site-structure li a.delete {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 22%;
}

#flip-menu .jstree-action.open::before,
th.translation .switch-tag-dropdown.close::before  {
    font-family: "Font Awesome 6 Free";
    content: "\f0fe"; /* fa-square-plus */
    margin: var(--icon-spacing);
}

#flip-menu .jstree-action.close::before,
th.translation .switch-tag-dropdown.open::before {
    font-family: "Font Awesome 6 Free";
    content: "\f146"; /* fa-square-minus */
    margin: var(--icon-spacing);
}
#flip-menu .jstree-action:hover {
    text-decoration: none;
}

#site-tree .expanded-tags.translations {
    max-height: 30px;
    overflow: auto;
}

th.translation .switch-tag-dropdown {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

#multiple-actions {
    float: left;
    padding: 8px;
}

#content-manager.edit_view #multiple-actions-select {
    float: left;
    clear: both;
    margin: 5px 0 0 40px;
}

#site-tree ul {
    float: left;
    clear: both;
    margin: 0;
}

#content-manager .adminlist th:nth-child(1) {
    min-width: 40%;
}

#content-manager .adminlist th:nth-child(2) {
    min-width: 15%;
}

#content-manager .adminlist th:nth-child(3) {
    min-width: 14%;
}

#content-manager .adminlist th:nth-child(4) {
    min-width: 7%;
}

#content-manager .adminlist th:nth-child(5) {
    min-width: 9%;
}

#content-manager .adminlist th:nth-child(5),
#site-tree .actions {
    position: absolute;
    text-align: right;
    left: auto;
    right: 0;
}

*+html #site-tree ul,
*+html #site-tree ul li {
    width: 100%;
}

*+html #site-tree ul li ul li {
    width: 99%;
}

#site-tree li  a.inexistent {
    color: var(--black);
}

#site-tree .jstree-wrapper {
    position: absolute;
    left: 1px;
    width: auto;
    min-width: 60%;
    height: 30px;
    padding-left: 40%;
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1px solid var(--gray);
}

#site-tree > ul,
#site-tree .jstree-wrapper .translations,
#site-tree .jstree-wrapper .module,
#site-tree .jstree-wrapper .preview,
#site-tree .jstree-wrapper .actions,
#site-tree .jstree-wrapper .lastupdate {
    box-sizing: border-box;
}

#site-tree .jstree-wrapper .translations {
    left: 40%;
}

#site-tree .jstree-wrapper .module {
    left: 55%;
}

#site-tree .jstree-wrapper .lastupdate {
    left: 68%;
}

#site-tree .jstree-wrapper.hover,
#site-tree .jstree-wrapper.active {
    background: var(--lightgray);
}

#site-tree span,
#site-tree .translations ,
#site-tree .actions {
    position: absolute;
    float: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 10px;
}

#site-tree .hide {
    display: none;
}

#site-tree .translations:not(.dropdown) .translation {
    float: left;
    width: auto;
    height: 26px;
    background: var(--green);
    margin: 2px;
    line-height: var(--font-size-small);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-smaller);
    color: var(--white);
    padding: 7px 3px;
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
}

#site-tree .translations .translation:hover,
#site-tree .translations .translation:focus,
#site-tree .translations .translation:active {
    cursor: pointer;
}

#site-tree .translations:not(.dropdown) .translation.unpublished {
    background: var(--red);
}

#site-tree .lastupdate .date {
    position: static;
    width: auto;
    min-width: 86px;
}

#site-tree .lastupdate .user.tp-trigger {
    position: static;
    width: 14px !important;
    padding: 0 0 0 5px;
}

*+html #site-tree .lastupdate .user.tp-trigger {
    width: 0;
    padding: 0 0 0 19px;
}

#site-tree .lastupdate .user.tp-value {
    display: none;
}

#content-manager.edit_view div.actions::before,
#site-tree .translations.dropdown::before {
    font-weight: 900; /* fa-solid */
    font-family: "Font Awesome 6 Free";
    content: "\f142"; /* fa-ellipsis-vertical */
    color: var(--blue);
    margin: var(--icon-spacing);
}

#content-manager.edit_view .actions .actions-expanded {
    display: none;
}

#site-tree .actions:hover,
#site-tree .actions:focus,
#site-tree .actions:active,
#site-tree .translations.dropdown:hover,
#site-tree .translations.dropdown:focus,
#site-tree .translations.dropdown:active {
    cursor: pointer;
}

#site-tree .translations .label {
    display: none;
}

#site-tree .actions .label,
#site-tree .translations.dropdown .label {
    float: left;
    width: auto;
    display: inline;
}

#content-manager.edit_view #site-tree > ul {
    width: 23em;
}

#content-manager.edit_view #site-tree .actions {
    position: absolute;
    left: auto;
    min-width: 0;
}

#content-manager.edit_view #site-tree .actions .label,
#content-manager.edit_view #site-tree .actions .arrow {
    display: none;
}

#site-tree .actions-expanded {
    display: inline-block;
}
.edit_view #site-tree .actions-expanded {
    position: absolute;
    right: 0;
    z-index: 1337;
    box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    background: var(--white);
    border:  1px solid var(--lightgray);
    padding: 1em;
}
#site-tree .actions-expanded ul {
    display: flex;
}
.edit_view #site-tree .actions-expanded ul {
    display: block;
}
#site-tree .actions-expanded ul li {
    font-size: 0;
    float: none;
    clear: none;
    margin: 0;
    position: relative;
    padding: 0;
    text-align: left;
}
.edit_view #site-tree .actions-expanded ul li,
#site-tree .actions-expanded ul li:before {
    font-size: var(--font-size);
    width: auto;
}
#site-tree .translations-expanded {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 10px;
    z-index: 1;
}

#site-tree .actions .label {
    font-size: 0;
}

#site-tree .translations-expanded ul {
    padding: 12px 15px;
}

#site-tree .translations-expanded ul {
    display: inline-block;
    float: left;
    background: var(--white);
    border:  1px solid var(--lightgray);
    margin: 0;
    -moz-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -o-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -webkit-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='var(--gray)');
}

#site-tree .translations-expanded ul li {
    float: left;
    clear: both;
    line-height: var(--font-size-default);
    background-repeat: no-repeat;
    background-position: 2px center;
    margin: 5px 0 5px 0;
    display: inline-block !important;
}

#site-tree .translations-expanded ul li {
    line-height: 22px;
}

#site-tree .translations-expanded ul li::-moz-selection {
    background: none;
}

#site-tree .translations-expanded ul li {
    background-image: none;
}

#site-tree .actions-expanded ul li::before {
    font-family: "Font Awesome 6 Free";
    color: var(--blue);
    display: inline-block;
    margin: var(--icon-spacing);
}
#site-tree .actions-expanded ul li.hide {
    display: block;
}

#site-tree .actions-expanded ul li.preview::before {
    content: "\f08e"; /* fa-arrow-up-right-from-square */
    font-weight: 900; /* fa-solid */
}

#site-tree .actions-expanded ul li.new::before {
    content: "\2b"; /* fa-plus */
    font-weight: 900; /* fa-solid */
}

#site-tree .actions-expanded ul li.copy::before {
    content: "\f0c5"; /* fa-copy */
}

#site-tree .actions-expanded ul li.activate::before {
    content: "\f058"; /* fa-circle-check */
}

#site-tree .actions-expanded ul li.deactivate::before {
    content: "\f057"; /* fa-circle-xmark */
}

#site-tree .actions-expanded ul li.show::before {
    content: "\f06e"; /* fa-eye */
}

#site-tree .actions-expanded ul li.hide::before {
    content: "\f070"; /* fa-eye-slash */
}

#site-tree .actions-expanded ul li.publish::before {
    content: "\f093"; /* fa-upload */
    font-weight: 900; /* fa-solid */
}

#site-tree .actions-expanded ul li.delete::before {
    content: "\f2ed"; /* fa-trash-can */
    color: var(--red);
}

#site-tree .actions-expanded ul li:hover,
#site-tree .actions-expanded ul li:focus,
#site-tree .actions-expanded ul li:active,
#site-tree .translations-expanded ul li:hover,
#site-tree .translations ul li:focus,
#site-tree .translations ul li:active {
    cursor: pointer;
    color: var(--black);
}

#site-tree .translations-expanded span,
#site-tree .translations-expanded ins {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#site-tree .translations-expanded ins {
    padding-right: 5px;
}

#site-tree .translations-expanded ins.publishing {
    position: relative;
    top: 1px;
}

#site-tree .translations-expanded span {
    position: static;
    height: 17px;
    line-height: 17px;
    vertical-align: top;
}

#site-tree .jstree-icon,
#page_history .jstree-icon {
    float: left;
    margin-top: 6px;
    cursor: pointer;
    position: relative;
    clear: none;
    margin-left: 30px;
}
#site-tree .jstree-icon.publishing,
#site-tree .jstree-icon.page,
#page_history .jstree-icon.publishing,
#page_history .jstree-icon.page {
    margin-left: 0;
}

#page_history .jstree-icon {
    cursor: auto;
}

*+html .jstree-default .jstree-closed > ins {
    bottom: 3px;
}

#site-tree ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 200px);
}
#site-tree ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 218px);
}
#site-tree ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 236px);
}
#site-tree ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 254px);
}
#site-tree ul ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 272px);
}
#site-tree ul ul ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .40) - 290px);
}
.cm-single-locale #site-tree ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 200px);
}
.cm-single-locale #site-tree ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 218px);
}
.cm-single-locale #site-tree ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 236px);
}
.cm-single-locale #site-tree ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 254px);
}
.cm-single-locale #site-tree ul ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 272px);
}
.cm-single-locale #site-tree ul ul ul ul ul ul .name {
    max-width: calc(((100vw - var(--navigation-width)) * .55) - 290px);
}

#site-tree .name,
#page_history .name {
    float: left;
    overflow: hidden;
}

#page_history .historyPreview img,
#page_history .historyLoad img {
    vertical-align: middle;
}

#page_history .historyPreview img,
#page_history .historyLoad img {
    height: 1em;
}

#content-manager.edit_view #site-tree .name {
    max-width: 18em;
}

#site-tree .jstree-move {
    display: none;
    float: left;
    width: 16px;
    height: 16px;
    margin: 7px 0 0 10px;
    background: url(../Media/Move.png) no-repeat right bottom;
}

#content-manager.edit_view #site-tree .jstree-move {
    float: none;
    right: 33px;
    position: absolute;
    padding-left: 5px;
    background: url(../Media/Move.png) no-repeat right bottom;
}

li.jstree-closed, li.jstree-leaf {
    height: 30px;
}

*+html #site-tree .jstree-move {
    position: relative;
    top: 7px;
    margin: 0 0 0 2px !important;
}

.edit_view #site-tree.jstree a {
    position: absolute;
}
.edit_view #site-tree li>ul {
    margin-top: 7px;
}

#site-tree .jstree-move * {
    display: none;
}

#site-tree .jstree-checkbox {
    float: left;
    position: absolute;
    left: -38px;
    margin-top: 7px;
}

#site-tree .publishing,
#page_history .publishing {
    width: 13px;
    height: 14px;
    background-image: url('../Media/PublishingUnlocked.png');
    background-position: -34px -5px;
    margin-top: 8px;
}
#site-tree .publishing.locked,
#page_history .publishing.locked {
    background-image: url('../Media/PublishingLocked.png');
    background-position: -33px -4px;
}
#site-tree .publishing.draft,
#page_history .publishing.draft {
    background-position: -34px -34px;
}
#site-tree .publishing.draft.locked,
#page_history .publishing.draft.locked {
    background-position: -33px -33px;
}
#site-tree .publishing.draft.waiting,
#page_history .publishing.draft.waiting {
    background-position: -34px -63px;
}
#site-tree .publishing.draft.waiting.locked,
#page_history .publishing.draft.waiting.locked {
    background-position: -33px -62px;
}
#site-tree .publishing.unpublished,
#page_history .publishing.unpublished {
    background-position: -5px -5px;
}
#site-tree .publishing.unpublished.locked,
#page_history .publishing.unpublished.locked {
    background-position: -4px -4px;
}
#site-tree .publishing.unpublished.draft,
#page_history .publishing.unpublished.draft {
    background-position: -5px -34px;
}
#site-tree .publishing.unpublished.draft.locked,
#page_history .publishing.unpublished.draft.locked {
    background-position: -4px -33px;
}
#site-tree .publishing.unpublished.draft.waiting,
#page_history .publishing.unpublished.draft.waiting {
    background-position: -5px -63px;
}
#site-tree .publishing.unpublished.draft.waiting.locked,
#page_history .publishing.unpublished.draft.waiting.locked {
    background-position: -4px -62px;
}


#site-tree .page {
    margin-top: 7px;
    height: 17px;
    width: 20px;
    background-image: url(../Media/PageVisible.png);
}
#site-tree .page.broken {
    background-image: url(../Media/PageVisibleBroken.png);
}
#site-tree .page.invisible {
    background-image: url(../Media/PageInvisible.png);
}
#site-tree .page.invisible.broken {
    background-image: url(../Media/PageInvisibleBroken.png);
}

#site-tree .page {
    background-position: 1px -6px;
}
#site-tree .page.protected {
    background-position: -33px -6px;
}
#site-tree .page.fallback {
    background-position: 1px -122px;
}
#site-tree .page.fallback.protected {
    background-position: -33px -122px;
}

#site-tree .page.home {
    background-position: 1px -35px;
}
#site-tree .page.home.protected {
    background-position: -33px -35px;
}
#site-tree .page.home.fallback {
    background-position: 1px -151px;
}
#site-tree .page.home.fallback.protected {
    background-position: -33px -151px;
}

#site-tree .page.application {
    background-position: 1px -64px;
}
#site-tree .page.application.protected {
    background-position: -33px -64px;
}
#site-tree .page.application.fallback {
    background-position: 1px -180px;
}
#site-tree .page.application.fallback.protected {
    background-position: -33px -180px;
}

#site-tree .page.redirection {
    background-position: 1px -93px;
}
#site-tree .page.redirection.protected {
    background-position: -33px -93px;
}
#site-tree .page.redirection.fallback {
    background-position: 1px -209px;
}
#site-tree .page.redirection.fallback.protected {
    background-position: -33px -209px;
}

#site-tree .page.symlink {
    background-position: 1px -238px;
}
#site-tree .page.symlink.protected {
    background-position: -33px -238px;
}
#site-tree .page.symlink.fallback {
    background-position: 1px -267px;
}
#site-tree .page.symlink.fallback.protected {
    background-position: -33px -267px;
}

#content-manager.edit_view #site-structure .translations,
#content-manager.edit_view #site-structure .translation,
#content-manager.edit_view #site-structure .module,
#content-manager.edit_view #site-structure .preview,
#content-manager.edit_view #site-structure .user,
#content-manager.edit_view #site-structure .lastupdate {
    display: none;
}

#content-manager.edit_view #site-structure .translations.dropdown {
    display: none !important;
}

#content-manager.edit_view #site-structure th.page {
    width: 100%;
}

#content-manager.edit_view .historyInit {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#history_paging {
    padding: 1px;
    padding-top: 15px;
}

#edit_mode {
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

#edit_mode a {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: var(--border-default);
    border-radius: var(--border-radius-small);
    gap: 1em;
    padding: 1em;
    box-shadow: var(--box-shadow-small);
    aspect-ratio: 1/1;
    justify-content: center;
    width: 10em;
    text-align: center;
    font-size: var(--font-size-small);
}

#edit_mode a i {
    font-size: 3em;
}

#edit_mode a.edit-mode-app {
    background-color: var(--blue);
    color: var(--white);
}
#edit_mode a.edit-mode-app i {
    color: var(--white);
}

#page,
#page #cm_page {
    float: left;
    width: 100%;
}

#page #sidebar_toggle i {
    cursor: pointer;
    color: var(--blue);
    float: left;
    line-height: 1.7em;
}

#page_content {
    padding: 0;
}

#page .tabmenu {
    margin: 0;
}

#content-manager.sidebar-hide #sidebar_toggle .show {
    display: none;
}

#content-manager.sidebar-hide #sidebar_toggle .hide {
    display: inline-block;
}

#content-manager #sidebar_toggle:hover {
    color: var(--white);
}

#content-manager.sidebar-show #sidebar_toggle .show {
    display: inline-block;
}

#content-manager.sidebar-show #sidebar_toggle .hide {
    display: none;
}

#content-manager.edit_view .navi {
    display: none !important;
}

#additionalInfo{
    display:none;
}
.additionalInfo{
    float: left;
    overflow: hidden;
    width: 880px;
    padding: 0 0 10px;
}
.additionalInfo h2{
    font-weight: bold;
    font-size: 13px;
    padding: 0 6px 7px 0;
    margin: 17px 0;
    border-bottom: 1px solid var(--gray);
    width: 860px;
}
.additionalInfo label{
    cursor: pointer;
    padding: 0 0 10px
}
.additionalInfo div.twoCols{
    margin: 0 30px 0 0;
    overflow: hidden;
    width: 340px;
    float: left;
    height: 30px;
}

div.date img{
    position:relative;
    left: 3px;
    top: 1px;
}
.additionalInfo label.twoCols{
    display:block;
    width: 150px;
    line-height: 22px;
    float: left;
}
.additionalInfo  input.twoCols{
    display:block;
    float: left;
    width: 160px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.additionalInfo div.oneCol{

}
.additionalInfo label.oneCol{
    display:block;
    width: 150px;
    float:left;
}
.additionalInfo input.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}
.additionalInfo select.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}


.additionalInfo input.oneCol[type="checkbox"]{
    width: 20px;
}

.dontShow{
    display: none;
}
.additionalInfo input{
    height: 30px;
    line-height: 30px;
    width: 808px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    font-size: 18px;
    border: 1px solid var(--gray);
}

.headerInfo input {
    width: 300px;
}

#showHideInfo{
    background: var(--white) url(../Media/dbl_arrow.png) 50% -29px no-repeat;
    float: right;
    position: relative;
    left: 0;
    height: 32px;
    overflow: hidden;
    text-indent: -1000px;
    width: 40px
}

#page .warning {
    border-color: var(--red);
}

#page .toggle.wysiwyg {
    margin-bottom: 0;
}

#page .toggle .indicator {
    float: left;
    width: 22px;
    height: 23px;
}

#page .toggle label,
#page .checkbox label {
    cursor: pointer;
}

#page .checkbox_style,
#page .checkbox_style .indicator,
#page .checkbox_style label {
    cursor: default;
}

/* page layout */
#page .line {
    float: left;
    width: auto;
    clear: both;
    padding: 0;
}

*+html #page .line {
    min-width: 624px;
}

#buttons input {
    float: none;
}

#page .hideDrafts input,
#page .hideDrafts label {
    float: none;
}

#page_history .publishing {
    margin-top: 4px;
    margin-right: 4px;
}

#page .inherit {
    float: left;
    clear: left;
    width: 574px;
    padding: 5px 0 0 0;
}

#page .inherit.caching {
    padding: 0 0 0 20px;
}

#page .inherit input[type=checkbox] {
    margin: 2px 6px 0 1px;
}

#page .inherit.caching input[type=checkbox] {
    margin-left: 5px;
}


/* page layout adjustments for content tab */
#page #titles_container #types input[type=radio] {
    margin: 0 3px 0 0;
}

#page #titles_container #types .icon-info {
    margin-right: 16px !important;
}

#page #type_container {
    width: 100%;
    margin: 0 !important;
}

#page #type_container #cm_ckeditor {
    width: 99.8%;
    height: 398px;
    padding: 0;
}

*+html #page #type_container #page_target {
    width: 434px;
}

/* page layout adjustments for navigation tab */
#page #navigation_container #page_alias_container {
    padding: 0 0 9px 0 !important;
}

#page #navigation_container #page_alias_container .page_alias {
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 3px 0;
}

*+html #page #navigation_container #page_alias_container .page_alias {
    width: 100%;
}

#page #navigation_container #page_alias_container .page_alias span {
    float: left;
    height: 24px;
    line-height: 24px;
    width: auto;
    margin: 0 4px 0 0;
}

#page #navigation_container #page_alias_container .page_alias input {
    width: 200px;
    margin: 0;
}


/* page layout adjustments for history tab */
#page_history .adminlist {
    margin: 12px 0 0 0;
}

#page_history .adminlist th {
    height: 29px;
    line-height: 29px;
}

/* page layout adjustments for more tab */
*+html #themes_toggle {
    clear: none !important;
}

#page #page_target_wrapper .hide {
    display: none;
}

#page #page_target_edit::before {
    font-family: "Font Awesome 6 Free";
    content: "\f044"; /* fa-pen-to-square */
    color: var(--blue);	
    margin: var(--icon-spacing);
}

#page #page_target_check::before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f00c"; /* fa-check */
    color: var(--blue);	
    margin: var(--icon-spacing);
    cursor: pointer;
}

#page #page_target_cancel::before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f00d"; /* fa-xmark */
    color: var(--blue);	
    margin: var(--icon-spacing);
    cursor: pointer;
}

/* 3) Helpers */
.t {
    padding: 0
}

.btn {
    background: url("/core/Core/View/Media/button_bg.png") top left repeat-x;
    border: 1px solid var(--lightgray);
    color: var(--black);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-shadow: var(--white) 1px 1px;
    padding: 0 10px
}

.chosen-container .chosen-results {
    max-height: 250px;
}

span.app-template-tooltip { word-wrap: break-word;}

.ui-widget input,
.ui-widget textarea {
    font-size: var(--font-size-smaller);
    font-family: var(--font-family);
}

.ui-widget-content a {
    color: var(--blue);
}

#scheduled_publishing_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* hide log column for small screens */
@media only screen and (max-width: 919px),
       only screen and (min-width: 1000px) and (max-width: 1139px) {
    #content-manager #site-structure .lastupdate {
        display: none;
    }
    #content-manager #site-structure .actions {
        right: 5px;
        left: auto;
    }
    #content-manager #site-structure .actions-expanded {
        right: 0;
        left: auto;
    }
    #content-manager #site-structure th.actions {
        text-align: right;
        position: absolute;
    }
}

/* hide preview column for very small screens */
@media only screen and (max-width: 569px) {
    #content-manager #site-structure .preview {
        display: none;
    }
}
