<!-- START server_phpinfo.html -->
<table class="adminlist splitview">
  <tr>
    <td>PHP Information</td>
    <td>
      <div id="phpinfo">{SERVER_PHPINFO}</div>
    </td>
  </tr>
</table>
<!-- END server_phpinfo.html -->
