<!-- START server_settings.html -->
<table class="adminlist">
  <caption>{ADMIN_CMS_NAME}&nbsp;Version&nbsp;{ADMIN_CMS_VERSION}</caption>
  <tr>
    <td>Database Version</td>
    <td>{MYADMIN_DB_VERSION}</td>
  </tr>
  <tr>
    <td>PHP Version</td>
    <td>{MYADMIN_PHP_VERSION}</td>
  </tr>
  <tr>
    <td>Web Server</td>
    <td>{MYADMIN_WEBSERVER}</td>
  </tr>
  <tr>
    <td>PHP built On</td>
    <td>{MYADMIN_PHP_BUILDON}</td>
  </tr>
  <tr>
    <td>WebServer zu PHP Schnittstelle</td>
    <td>{MYADMIN_PHP_INTERFACE}</td>
  </tr>
  <tr>
    <td>Aktuelle Zend engine Version</td>
    <td>{MYADMIN_ZEND_VERSION}</td>
  </tr>
</table>
<!-- END server_settings.html -->
