<!-- START content_history.html -->
<div id="content1" class="editorTab" style="display:block">
    <table class="adminlist">
        <tr>
            <th>{TXT_DATE}</th>
            <th>{TXT_NAVIGATION_TITLE}</th>
            <th>{TXT_LANGUAGE}</th>
            <th>{TXT_TYPE}</th>
            <th>{TXT_SLUG}</th>
            <th>{TXT_USER}</th>
            <th>{TXT_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN page_row -->
        <tr class="{HISTORY_ROWCLASS}">
            <td>{HISTORY_DATE}</td>
            <td>{HISTORY_PREFIX}<a href="/{HISTORY_LANGUAGE}{HISTORY_PAGE_PATH}" target="_blank">{HISTORY_TITLE}</a></td>
            <td>{HISTORY_LANGUAGE}</td>
            <td>{HISTORY_TYPE}</td>
            <td>{HISTORY_SLUG}</td>
            <td>{HISTORY_USER}</td>
            <td>{HISTORY_IMGDETAILS}</td>
        </tr>
        <!-- END page_row -->
    </table>
    {HISTORY_PAGING}
</div>
<!-- END content_history.html -->
