<!-- START content_history_deleted.html -->
<script>
  // <![CDATA[
  function restoreDeleted(id) {
    if (confirm('{TXT_DELETED_RESTORE_JS}')) {
    window.location.replace("index.php?cmd=ContentWorkflow&{CSRF_PARAM}&act=restoreHistory&id="+id);
    }
  }
// ]]>
</script>
<div id="content1" class="editorTab" style="display:block">
  <table class="adminlist">
    <tr>
      <th>{TXT_DATE}</th>
      <th>{TXT_NAVIGATION_TITLE}</th>
      <th>{TXT_LANGUAGE}</th>
      <th>{TXT_TYPE}</th>
      <th>{TXT_SLUG}</th>
      <th>{TXT_USER}</th>
      <th>{TXT_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN page_row -->
    <tr class="{HISTORY_ROW}">
      <td>{HISTORY_DATE}</td>
      <td>{HISTORY_TITLE}</td>
      <td>{HISTORY_LANGUAGE}</td>
      <td>{HISTORY_TYPE}</td>
      <td>{HISTORY_SLUG}</td>
      <td>{HISTORY_USER}</td>
      <td>{HISTORY_IMGDETAILS}</td>
    </tr>
    <!-- END page_row -->
  </table>
  {HISTORY_PAGING}
</div>
<!-- END content_history_deleted.html -->
