<div id="edit_mode">
    <a class="edit-mode-app" href="%2" title="{TXT_EDITMODE_CONTENT}">
        <i class="fa-solid fa-gears"></i>
        <span>{TXT_EDITMODE_CONTENT}</span>
    </a>
    <a class="edit-mode-cm" href="javascript:void(0);" onclick="%1" title="{TXT_EDITMODE_CODE}">
        <i class="fa-solid fa-file"></i>
        <span>{TXT_EDITMODE_CODE}</span>
    </a>
</div>
