<div id="sidebar_toggle">
    <i class="fa-regular fa-square-caret-left hide"></i>
    <i class="fa-regular fa-square-caret-right show"></i>
</div>
<ul class="tabmenu" data-tablist="pagetab">
    <li><a href="#page_content" data-tablink="content" class="tab page_content">{TXT_CORE_CM_PAGE}</a></li>
    <li class="type_hidable type_content type_application type_fallback"><a href="#page_meta" data-tablink="meta" class="tab page_meta">{TXT_CORE_CM_META}</a></li>
    <li><a href="#page_navigation" data-tablink="navigation" class="tab page_navigation">{TXT_CORE_CM_NAVIGATION}</a></li>
    <li><a href="#page_blocks" data-tablink="blocks" class="tab page_blocks">{TXT_CORE_CM_BLOCKS}</a></li>
    <!-- BEGIN page_permissions_tab -->
    <li><a href="#page_permissions" data-tablink="permissions" class="tab page_permissions">{TXT_CORE_CM_PERMISSIONS}</a></li>
    <!-- END page_permissions_tab -->
    <li><a href="#page_history" data-tablink="history" class="tab page_history">{TXT_CORE_CM_HISTORY}</a></li>
    <li><a href="#page_more" data-tablink="more" class="tab page_more">{TXT_CORE_CM_MORE}</a></li>
</ul>
<form action="." enctype="multipart/form-data" id="cm_page">
    <div data-tablist="pagetab" class="tab content" id="page_content">
        <input type="hidden" name="page[id]" id="pageId" value="new">
        <input type="hidden" name="page[historyId]" id="historyId" value="new">
        <input type="hidden" name="page[lang]" id="pageLang" value="en">
        <input type="hidden" name="page[node]" id="pageNode" value="">
        <input type="hidden" name="source_page" id="sourcePage" value="">
        <input type="hidden" name="parent_node" id="parent_node" value="">
        <div id="titles_container" class="container" style="{TITLES_DISPLAY_STYLE}">
            <table class="adminlist splitview">
                <tr>
                    <td><label for="page_name">{TXT_CORE_CM_PAGE_NAME}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_PAGE_NAME_INFO}</span></td>
                    <td><input type="text" name="page[name]" id="page_name" maxlength="255" class="wide"></td>
                </tr>
                <tr>
                    <td><label for="page_title">{TXT_CORE_CM_PAGE_TITLE}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_PAGE_TITLE_INFO}</span></td>
                    <td><input type="text" name="page[title]" id="page_title" maxlength="255" class="wide"></td>
                </tr>
            </table>
            <div>
                <input type="hidden" name="page[type]" value="off">
                <input type="radio" name="page[type]" value="content" id="type_content" checked="checked">
                <label for="type_content">{TXT_CORE_CM_TYPE_CONTENT}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_CONTENT_INFO}</span>
                <input type="radio" name="page[type]" value="redirect" id="type_redirect">
                <label for="type_redirect">{TXT_CORE_CM_TYPE_REDIRECT}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_REDIRECT_INFO}</span>
                <input type="radio" name="page[type]" value="symlink" id="type_symlink">
                <label for="type_symlink">{TXT_CORE_CM_TYPE_SYMLINK}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_SYMLINK_INFO}</span>
                <input type="radio" name="page[type]" value="application" id="type_application">
                <label for="type_application">{TXT_CORE_CM_TYPE_APPLICATION}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_APPLICATION_INFO}</span>
                <input type="radio" name="page[type]" value="fallback" id="type_fallback" class="hidable_nofallback">
                <label for="type_fallback" class="hidable_nofallback">{TXT_CORE_CM_TYPE_FALLBACK} <em id="fallback"></em></label><span class="icon-info tooltip-trigger hidable_nofallback"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_FALLBACK_INFO}</span>
            </div>
            <div id="type_container" class="container" style="{TYPE_DISPLAY_STYLE}">
                <div class="container type_symlink type_hidable">
                    <table class="adminlist splitview">
                        <tr>
                            <td><label for="page_target_button">{TXT_CORE_CM_TYPE_SYMLINK_TARGET}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_SYMLINK_INFO_ACTION}</span></td>
                            <td>
                                <div id="page_target_text_wrapper_symlink" class="page_target_text_wrapper">
                                    <a id="page_target_text_symlink" class="page_target_text" href="#" target="_blank"></a>
                                </div>
                            </td>
                            <td>
                                <input type="hidden" id="page_target_backup_symlink" class="page_target_backup">
                                {CM_MEDIABROWSER_BUTTON_SYMLINK}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container type_redirect type_hidable">
                    <table class="adminlist splitview">
                        <tr>
                            <td><label for="page_target_button">{TXT_CORE_CM_TYPE_REDIRECT_TARGET}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_TYPE_REDIRECT_INFO_ACTION}</span></td>
                            <td>
                                <div id="page_target_wrapper">
                                    <select name="page[target_protocol]" id="page_target_protocol" class="compact">
                                        <option value="https://">https://</option>
                                        <option value="http://">http://</option>
                                        <option value="ftps://">ftps://</option>
                                        <option value="ftp://">ftp://</option>
                                        <option value="">&lt;{TXT_INTERNAL}&gt;</option>
                                    </select>
                                    <input type="text" name="page[target]" id="page_target" maxlength="255">
                                    <a id="page_target_check" class="icon hide"></a>
                                    <a id="page_target_cancel" class="icon hide"></a>
                                </div>
                                <div id="page_target_text_wrapper_redirect" class="page_target_text_wrapper">
                                    <a id="page_target_text_redirect" class="page_target_text" href="#" target="_blank"></a>
                                    <a id="page_target_edit" class="icon"></a>
                                </div>
                            </td>
                            <td>
                                <input type="hidden" id="page_target_backup_redirect" class="page_target_backup">
                                {CM_MEDIABROWSER_BUTTON}
                                <!-- add MediaBrowser used for image&link handling of Wysiwyg editor -->
                                {MEDIABROWSER_BUTTON_CKEDITOR}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="type_application type_hidable">
                    <table class="adminlist splitview">
                        <tr>
                            <td><label for="page_application" class="first">{TXT_CORE_CM_TYPE_APPLICATION}</label></td>
                            <td>
                                <select name="page[application]" class="first" id="page_application">
                                    <!-- BEGIN module_option -->
                                    <option value="{MODULE_KEY}">{MODULE_TITLE}</option>
                                    <!-- END module_option -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="page_cmd" class="second">{TXT_CORE_CM_TYPE_APPLICATION_AREA}</label></td>
                            <td><input type="text" name="page[area]" class="second" id="page_cmd" maxlength="50"></td>
                        </tr>
                    </table>
                </div>
                <div id="ckeditor" class="type_content type_application type_hidable">
                    <table class="adminlist splitview">
                        <tr>
                            <td><textarea id="cm_ckeditor" rows="15" cols="45" name="page[content]"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-tablist="pagetab" class="tab meta" id="page_meta">
        <table class="container adminlist splitview" id="metarobots_container">
            <tr>
                <td>
                    <label for="page_metarobots">
                        {TXT_CORE_CM_SE_INDEX}
                    </label>
                </td>
                <td>
                    <input type="hidden" name="page[metarobots]" value="off">
                    <input type="checkbox" class="indicator" id="page_metarobots" name="page[metarobots]">
                </td>
            </tr>
            <tr data-depends="page_metarobots">
                <td><label for="page_metatitle">{TXT_CORE_CM_METATITLE}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_METATITLE_INFO}</span></td>
                <td><input type="text" id="page_metatitle" name="page[metatitle]" maxlength="255" class="wide"></td>
            </tr>
            <tr data-depends="page_metarobots">
                <td><label for="page_metadesc">{TXT_CORE_CM_METADESC}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_METADESC_INFO}</span></td>
                <td><textarea id="page_metadesc" name="page[metadesc]" rows="5" class="wide"></textarea></td>
            </tr>
            <tr data-depends="page_metarobots">
                <td><label for="page_metakeys">{TXT_CORE_CM_METAKEYS}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_METAKEYS_INFO}</span></td>
                <td><textarea id="page_metakeys" name="page[metakeys]" rows="5" class="wide"></textarea></td>
            </tr>
            <tr data-depends="page_metarobots">
                <td><label for="page_metaimage">{TXT_CORE_CM_METAIMAGE}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_METAIMAGE_INFO}</span></td>
                <td><input type="text" maxlength="255" name="page[metaimage]" id="page_metaimage">{CORE_CM_METAIMAGE_BUTTON}</td>
            </tr>
        </table>
    </div>
    <div data-tablist="pagetab" class="tab navigation" id="page_navigation">
        <div id="navigation_container" class="container" style="{NAVIGATION_DISPLAY_STYLE}">
            <table class="adminlist splitview">
                <tr>
                    <td><label for="page_slug">{TXT_CORE_CM_SLUG}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_SLUG_INFO}</span></td>
                    <td>
                        <span id="page_slug_base_url">{CONTREXX_BASE_URL}</span><span id="page_slug_breadcrumb">{CONTREXX_LANG}</span>
                        <input type="text" name="page[slug]" id="page_slug" maxlength="255">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="page_alias">{TXT_CORE_CM_ALIAS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_ALIAS_INFO}</span>
                    </td>
                    <td>
                        <div id="page_alias_container" class="line big_space">
                            <div class="page_alias empty">
                                <span>{CONTREXX_BASE_URL}</span>
                                <span class="noedit" style="display: {ALIAS_DENIAL};"></span>
                                <input type="text" id="page_alias" name="page[alias][]" style="display: {ALIAS_PERMISSION};">
                                <div style="float: none; clear: left;"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="page_css_nav_class">{TXT_CORE_CM_CSS_NAV_CLASS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_CSS_NAV_CLASS_INFO}</span>
                    </td>
                    <td><input type="text" name="page[cssNavName]" id="page_css_nav_class" maxlength="255"><input type="checkbox" name="inheritCssNavName" value="on" id="inherit-css-nav-name"><label for="inherit-css-nav-name">{TXT_RECURSIVE_CHANGE}</label></td>
                </tr>
                <tr>
                    <td><label for="page_link_target">{TXT_CORE_CM_LINK_TARGET}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_LINK_TARGET_INO}</span></td>
                    <td>
                        <select id="page_link_target" name="page[link_target]">
                            <option value="">aktueller Tab</option>
                            <option value="_blank">neuer Tab (<code>_blank</code>)</option>
                            <optgroup label="bei Verwendung als iFrame">
                                <option value="_parent">übergeordnetes Frame (<code>_parent</code>)</option>
                                <option value="_top">im ganzen Tab (<code>_top</code>)</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div data-tablist="pagetab" class="tab blocks" id="page_blocks">
        <div id="blocks_container" class="container" style="{BLOCKS_DISPLAY_STYLE}">
            <table class="adminlist splitview">
                <tr>
                    <td>
                        {TXT_CORE_CM_BLOCKS_ASSIGNED_GLOBAL}
                        <span class="icon-info tooltip-trigger"></span>
                        <span class="tooltip-message">
                            {TXT_CORE_CM_BLOCKS_ASSIGNED_GLOBAL_TOOLTIP}
                        </span>
                    </td>
                    <td class="blocks_global_list"></td>
                </tr>
                <tr>
                    <td>
                        {TXT_CORE_CM_BLOCKS_ASSIGNED_DIRECT}
                        <span class="icon-info tooltip-trigger"></span>
                        <span class="tooltip-message">
                            {TXT_CORE_CM_BLOCKS_ASSIGNED_DIRECT_TOOLTIP}
                        </span>
                    </td>
                    <td class="blocks_direct_list"></td>
                </tr>
                <tr>
                    <td>
                        {TXT_CORE_CM_BLOCKS_ASSIGNED_CATEGORY}
                        <span class="icon-info tooltip-trigger"></span>
                        <span class="tooltip-message">
                            {TXT_CORE_CM_BLOCKS_ASSIGNED_CATEGORY_TOOLTIP}
                        </span>
                    </td>
                    <td class="blocks_category_list"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- BEGIN page_permissions -->
    <div data-tablist="pagetab" class="tab permissions" id="page_permissions">
        <div id="protection_frontend_checkbox" class="checkbox no_toggle">
            <table class="adminlist splitview">
                <tr>
                    <td>{TXT_CORE_CM_ACCESS_PROTECTION_FRONTEND}</td>
                    <td>
                        <input type="hidden" name="page[protection_frontend]" value="off">
                        <input type="checkbox" class="indicator" id="page_protection_frontend" name="page[protection_frontend]">
                        <div class="multiselect" data-depends="page_protection_frontend">
                            <div><br>
                                {TXT_CORE_CM_ACCESS_PROTECTION_AVAILABLE_GROUPS}<br>
                                <select id="unassignedFrontendGroups" size="15" multiple="multiple"></select><br>
                                <a href="javascript:void(0);" onclick="cx.cm.SelectAllList(document.querySelector('#unassignedFrontendGroups'))">{TXT_CORE_HTML_SELECT_ALL}</a><br>
                                <a href="javascript:void(0);" onclick="cx.cm.DeselectAllList(document.querySelector('#unassignedFrontendGroups'))">{TXT_CORE_HTML_DESELECT_ALL}</a>
                            </div>
                            <div>
                                <input type="button" value="&lt;&lt;" name="removeuser" onclick="cx.cm.RemoveFromTheList(document.querySelector('#unassignedFrontendGroups'),document.querySelector('#assignedFrontendGroups'),adduser,removeuser);">
                                <input type="button" value="&gt;&gt;" name="adduser" onclick="cx.cm.AddToTheList(document.querySelector('#unassignedFrontendGroups'),document.querySelector('#assignedFrontendGroups'),adduser,removeuser);">
                            </div>
                            <div><br>
                                {TXT_CORE_CM_ACCESS_PROTECTION_ASSIGNED_GROUPS}<br>
                                <select id="assignedFrontendGroups" name="frontendGroups[]" size="15" multiple="multiple"></select><br>
                                <a href="javascript:void(0);" onclick="cx.cm.SelectAllList(document.querySelector('#assignedFrontendGroups'))">{TXT_CORE_HTML_SELECT_ALL}</a><br>
                                <a href="javascript:void(0);" onclick="cx.cm.DeselectAllList(document.querySelector('#assignedFrontendGroups'))">{TXT_CORE_HTML_DESELECT_ALL}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{TXT_RECURSIVE_CHANGE}</td>
                    <td><input type="checkbox" name="inheritFrontendAccess" value="on" id="inherit-frontend-access"></td>
                </tr>
            </table>
        </div>
        <div id="protection_backend_checkbox" class="checkbox no_toggle">
            <table class="adminlist splitview">
                <tr>
                    <td>{TXT_CORE_CM_ACCESS_PROTECTION_BACKEND}</td>
                    <td>
                        <input type="hidden" name="page[protection_backend]" value="off">
                        <input type="checkbox" class="indicator" id="page_protection_backend" name="page[protection_backend]">
                        <div class="multiselect" data-depends="page_protection_backend">
                            <div><br>
                                {TXT_CORE_CM_ACCESS_PROTECTION_AVAILABLE_GROUPS}<br>
                                <select id="unassignedBackendGroups" size="15" multiple="multiple"></select><br>
                                <a href="javascript:void(0);" onclick="cx.cm.SelectAllList(document.querySelector('#unassignedBackendGroups'))">{TXT_CORE_HTML_SELECT_ALL}</a><br>
                                <a href="javascript:void(0);" onclick="cx.cm.DeselectAllList(document.querySelector('#unassignedBackendGroups'))">{TXT_CORE_HTML_DESELECT_ALL}</a>
                            </div>
                            <div>
                                <input type="button" value="&lt;&lt;" name="removeuser" onclick="cx.cm.RemoveFromTheList(document.querySelector('#unassignedBackendGroups'),document.querySelector('#assignedBackendGroups'),adduser,removeuser);">
                                <input type="button" value="&gt;&gt;" name="adduser" onclick="cx.cm.AddToTheList(document.querySelector('#unassignedBackendGroups'),document.querySelector('#assignedBackendGroups'),adduser,removeuser);">
                            </div>
                            <div><br>
                                {TXT_CORE_CM_ACCESS_PROTECTION_ASSIGNED_GROUPS}<br>
                                <select id="assignedBackendGroups" name="backendGroups[]" size="15" multiple="multiple"></select><br>
                                <a href="javascript:void(0);" onclick="cx.cm.SelectAllList(document.querySelector('#assignedBackendGroups'))">{TXT_CORE_HTML_SELECT_ALL}</a><br>
                                <a href="javascript:void(0);" onclick="cx.cm.DeselectAllList(document.querySelector('#assignedBackendGroups'))">{TXT_CORE_HTML_DESELECT_ALL}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{TXT_RECURSIVE_CHANGE}</td>
                    <td><input type="checkbox" name="inheritBackendAccess" value="on" id="inherit-backend-access"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- END page_permissions -->
    <div data-tablist="pagetab" class="tab history" id="page_history"></div>
    <div data-tablist="pagetab" class="tab more" id="page_more">
        <div>
            <table class="adminlist splitview">
                <tr>
                    <td><label>{TXT_CORE_CM_SCHEDULED_PUBLISHING}</label></td>
                    <td>
                        <div id="scheduled_publishing_checkbox" class="checkbox">
                            <input type="hidden" name="page[scheduled_publishing]" value="off">
                            <input type="checkbox" class="indicator" id="page_scheduled_publishing" name="page[scheduled_publishing]">
                        </div>
                        <div id="scheduled_publishing_container" class="container" style="display: none;">
                            <label for="page_start">{TXT_CORE_CM_SCHEDULED_PUBLISHING_FROM}</label>
                            <input type="text" name="page[start]" id="page_start" value="" class="date">
                            <label for="page_end">{TXT_CORE_CM_SCHEDULED_PUBLISHING_TO}</label>
                            <input type="text" name="page[end]" id="page_end" value="" class="date">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="themes_container" class="container" style="{THEMES_DISPLAY_STYLE}">
            <table class="adminlist splitview">
                <tr>
                    <td>
                        <label for="page_skin">{TXT_CORE_CM_THEMES}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_THEMES_INFO}</span>
                    </td>
                    <td>
                        <select id="page_skin" name="page[skin]">
                            <option value="0">(Default)</option>
                            {SKIN_OPTIONS}
                        </select>
                        <a id="page_skin_view" href="javascript:void(0)" title="{TXT_THEME_PREVIEW}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a id="page_skin_edit" href="javascript:void(0)" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <input type="hidden" name="page[useSkinForAllChannels]" value="0">
                        <label><input type="checkbox" name="page[useSkinForAllChannels]" value="1" id="use-skin-all-channels">{TXT_CORE_CM_USE_ALL_CHANNELS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_USE_SKIN_ALL_CHANNELS_INFO}</span><br>
                        <input type="checkbox" name="inheritSkin" value="on" id="inherit-skin">
                        <label for="inherit-skin">{TXT_RECURSIVE_CHANGE}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="page_custom_content">{TXT_CORE_CM_CUSTOM_CONTENT}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_CUSTOM_CONTENT_INFO}</span>
                    </td>
                    <td>
                        <select id="page_custom_content" name="page[customContent]">
                            <option value="">(Default)</option>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="page[useCustomContentForAllChannels]" value="0">
                        <label><input type="checkbox" name="page[useCustomContentForAllChannels]" value="1" id="use-custom-content-all-channels">{TXT_CORE_CM_USE_ALL_CHANNELS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_USE_CUSTOM_CONTENT_ALL_CHANNELS_INFO}</span><br>
                        <input type="checkbox" name="inheritCustomContent" value="on" id="inherit-custom-content">
                        <label for="inherit-custom-content">{TXT_RECURSIVE_CHANGE}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="page_css_class">{TXT_CORE_CM_APPLICATION_TEMPLATE}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message app-template-tooltip">{TXT_CORE_CM_APPLICATION_TEMPLATE_INFO}</span>
                    </td>
                    <td>
                        <select id="page_application_template" name="page[applicationTemplate]">
                            <option value="">(Default)</option>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="page[useCustomApplicationTemplateForAllChannels]" value="0">
                        <label><input type="checkbox" name="page[useCustomApplicationTemplateForAllChannels]" value="1" id="use-custom-application-template-for-all-channels">{TXT_CORE_CM_USE_ALL_CHANNELS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_USE_APPLICATION_TEMPLATE_ALL_CHANNELS_INFO}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="page_css_class">{TXT_CORE_CM_CSS_CLASS}</label>
                        <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_CORE_CM_CSS_CLASS_INFO}</span>
                    </td>
                    <td>
                        <input type="text" name="page[cssName]" id="page_css_class" maxlength="255">
                    </td>
                    <td>
                        <input type="checkbox" name="inheritCssName" value="on" id="inherit-css-name">
                        <label for="inherit-css-name">{TXT_RECURSIVE_CHANGE}</label>
                    </td>
                </tr>
                <!-- BEGIN show_caching_option -->
                <tr>
                    <td><label>{TXT_CORE_CM_CACHE}</label></td>
                    <td colspan="2">
                        <input type="hidden" name="page[caching]" value="off">
                        <input type="checkbox" class="indicator" id="page_caching" name="page[caching]">
                    </td>
                </tr>
                <tr>
                    <td><label for="inherit-caching">{TXT_RECURSIVE_CHANGE}</label></td>
                    <td colspan="2"><input type="checkbox" name="inheritCaching" value="on" id="inherit-caching"></td>
                </tr>
                <!-- END show_caching_option -->
            </table>
        </div>
        <div id="source_mode_checkbox no_toggle" class="checkbox">
            <table class="adminlist splitview">
                <tr>
                    <td><label>{TXT_CORE_CM_SOURCE_MODE}</label></td>
                    <td>
                        <input type="hidden" name="page[sourceMode]" value="off">
                        <input type="checkbox" class="indicator" id="page_sourceMode" name="page[sourceMode]">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="buttons">
        <input id="cancel" type="reset" value="{TXT_CANCEL}">
        <a id="preview" class="button" href="#" target="_blank">{TXT_CORE_PREVIEW}</a>
        <input id="save" type="button" value="{TXT_CORE_SAVE}">
        <!-- BEGIN publish_button -->
        <input id="publish" type="button" value="{TXT_CORE_SAVE_PUBLISH}">
        <!-- END publish_button -->
        <!-- BEGIN release_button -->
        <input id="release" type="button" value="{TXT_CORE_SUBMIT_FOR_RELEASE}">
        <!-- END release_button -->
        <!-- BEGIN refuse_button -->
        <input id="refuse" type="button" value="{TXT_CORE_REFUSE_RELEASE}">
        <!-- END refuse_button -->
    </div>
</form>
