<script>
/* <![CDATA[ */
var languages = {LANGUAGE_ARRAY};
var fallbacks = {FALLBACK_ARRAY};
var language_labels = {LANGUAGE_LABELS};
/* ]]> */
</script>

<script src="/lib/javascript/notificationBar.js"></script>
<script src="/core/ContentManager/View/Script/Main.js"></script>

<link href="/core/ContentManager/View/Style/Main.css" rel="stylesheet">

<div id="content-manager" class="sidebar-hide {EDIT_VIEW_CSS_CLASS}">
    <div id="cm-left">
        <div id="subnav">
            <div id="site-language" style="{LANGUAGE_DISPLAY}">
                <!-- BEGIN content_manager_language_selection -->
                {LANGSWITCH_OPTIONS}
                <!-- END content_manager_language_selection -->
            </div>
        </div>
        <div id="site-structure-wrapper">
            <div id="site-structure">
                <div id="tooltip_message" class="tooltip-message"></div>
                <table class="adminlist {ADMIN_LIST_MARGIN}">
                    <caption>
                        <div class="functions">
                            <!-- BEGIN content_manager_create_new_page_navigation_item -->
                            <a href="/cadmin/ContentManager/new" title="{TXT_NEW_PAGE}">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                            <!-- ADD content_manager_create_new_page_navigation_item -->
                        </div>
                    </caption>
                    <tr>
                        <th class="page">
                            {TXT_CORE_CM_STATUS_PAGE}
                            <span id="flip-menu"><a href="#" class="jstree-action open"></a><a href="#" class="jstree-action close"></a></span>
                        </th>
                        <th class="translation">{TXT_CORE_CM_TRANSLATIONS}</th>
                        <th class="module">{TXT_CORE_CM_APPLICATION}</th>
                        <th class="lastupdate">{TXT_CORE_CM_LOG}</th>
                        <th class="actions">{TXT_CORE_CM_ACTIONS}</th>
                    </tr>
                </table>
                <div id="site-tree"></div>
            </div>
        </div>
        <div id="multiple-actions">
            <span id="multiple-actions-marking">
                <a href="#" class="jstree-action check">{TXT_SELECT_ALL}</a>&nbsp;|
                <a href="#" class="jstree-action uncheck">{TXT_DESELECT_ALL}</a>&nbsp;|
            </span>
            <select action="." id="multiple-actions-select">
                <option value="0">{TXT_MULTISELECT_SELECT}</option>
                <option value="activate">{TXT_MULTISELECT_ACTIVATE}</option>
                <option value="deactivate">{TXT_MULTISELECT_DEACTIVATE}</option>
                <option value="show">{TXT_MULTISELECT_SHOW}</option>
                <option value="hide">{TXT_MULTISELECT_HIDE}</option>
                <option value="unprotect">{TXT_MULTISELECT_UNPROTECT}</option>
                <option value="delete">{TXT_MULTISELECT_DELETE}</option>
            </select>
        </div>
    </div>
    <div id="cm-right" style="display: none;">
        <div id="page">{CONTENT_MANAGER_MEAT}</div>
    </div>
    <div id="cm-load-lock"></div>
</div>
