.year {
    background-color: white;
    text-align: center;
}
table.month {
    background-color: white;
    text-align: center;
    border-spacing: 0px;
    margin-bottom: 20px;
    width: 189px;
    border-top: #e9e9e9;
}
.yearname {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.monthname {
    text-align: center;
    font-size: 13px;
    background-color: #e9e9e9;
}
.monthname a {
    font-size: 13px;
}
.yearnavigation {
    background-color: white;
}
.monthnavigation {
    background-color: #e9e9e9;
    text-align: center;
}
.datepicker {
    background-color: #ffffff;
}
.datepickerform {
    margin: 0px;
}
.monthpicker {
    background-color: #eeeeee;
}
.yearpicker {
    background-color: #eeeeee;
}
.pickerbutton {
    background-color: #eeeeee;
    border-style: none;
}
.dayname td {
    text-align: center;
    background-color: white;
}
.nomonthday {
    background-color: white;
    width: 25px;
}
.monthday {
    text-align: center;
    width: 25px;
    border: 1px solid #FAF7F7;
    border-bottom: 1px solid #FAF7F7;
    padding: 0px;
    font-size: 11px;
}

table.month td {
    border: none;
}

table.month td.monthday,
table.month td.event,
table.month td.sunday,
table.month td.saturday {
    text-align: center;
    border: 1px solid #FAF7F7;
    border-bottom: 1px solid #FAF7F7;
    padding: 0px;
}

table.month td.event {
    text-align: center;
    color: black;
    width: 25px;
    border: 1px solid #FAF7F7;
    background-color: #DCE4FF;
}

table.month td.today {
    text-align: center;
    background-color: #ffff99;
    width: 25px;
    color: red;
    border-bottom: 1px solid #FAF7F7;
}
.selectedday {
    text-align: center;
    width: 25px;
    border: 1px black solid;
}
table.month td.selectedday {
    text-align: center;
    width: 25px;
    border: 1px black solid;
}
table.month td.selectedevent {
    text-align: center;
    color: black;
    width: 25px;
    background-color: #F4F7FF;
    border: 1px black solid;
    padding: 0px;
}
table.month td.selectedevent a {
    display: block;
}
.sunday {
    text-align: center;
    width: 25px;
    background-color: #E9E9E9;
    font-size: 11px;
}
.sunday a {
}
.saturday {
    text-align: center;
    width:20px;
    background-color: #FAF7F7;
    font-size: 11px;
}
.saturday a {
}
td.event {
    text-align: center;
    color: black;
    width: 25px;
    border: 1px solid #FAF7F7;
}
td.month .event a {
    color: black;
    display: block;
}
.todayevent {
    text-align: center;
    color: black;
    background-color: #ffff99;
    width: 25px;
}
table.month td.todayevent {
    text-align: center;
    color: black;
    background-color: #DCE4FF;
}
.todayevent a {
    background-color: #DCE4FF;
    color: black;
    display: block;
}
.todayevent a:hover {
    background-color: white;
}
.eventcontent {
    font-size: 10px;
    border-style: outset;
    border-width: 1px;
}


/**
 * Style sheet for CalendarPickerControl
 * System-colors theme
 * A pseudo-patched version for mozilla in linux (where captiontext and active caption
 * are defined as buttonface and black always)
 */

div.calendarbutton{
    position: absolute;
    width: 15px;
    height: 16px;
}

#CalendarPickerControl{
    background-color: transparent;
    width: 250px;
    height: 200px;
}

#CalendarPickerControl table.calframe{
    width: 100%;
    border: 1px solid black;
    background-color: buttonface;
    text-align: center;
}

#CalendarPickerControl td.monthname{
    width: 100%;
    font: normal 13px Verdana;
    color: highlighttext;
    font-weight: bold;
    background-color: highlight;
}

#CalendarPickerControl table.navigation{
    width: 100%;
    text-align: center;
}

#CalendarPickerControl td.navbutton{
    font: normal 11px Verdana;
    color: buttontext;
    font-weight: bold;
    background-color: buttonface;
    border-width: 1px;
    border-style: solid;
    border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
    cursor: pointer;
}

#CalendarPickerControl td.navbutton:hover{
    text-decoration: underline;
    border-color: threeddarkshadow buttonhighlight buttonhighlight  threeddarkshadow;
    background-color: buttonshadow;
}

#CalendarPickerControl span.yearbutton{
    cursor: pointer;
}

#CalendarPickerControl span.yearbutton:hover{
    text-decoration: underline;
}

#CalendarPickerControl td.dayname{
    font: normal 11px Verdana;
    color: highlighttext;
    font-weight: bold;
    background-color: highlight;
}

#CalendarPickerControl td.today{
    font: normal 11px Verdana;
    background-color: buttonface;
    color: red;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
}

#CalendarPickerControl td.today:hover{
    text-decoration: underline;
    background-color: threedshadow;
    border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.current{
    font: normal 11px Verdana;
    font-weight: bold;
    background-color: highlight;
    color: highlighttext;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.current:hover{
    text-decoration: underline;
}

#CalendarPickerControl td.day{
    font: normal 11px Verdana;
    background-color: buttonface;
    color: buttontext;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
}

#CalendarPickerControl td.day:hover{
    text-decoration: underline;
    background-color: threedshadow;
    border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.weekend{
    font: normal 11px Verdana;
    color: buttontext;
    text-decoration: none;
    background-color: threedshadow;
    font-style: italic;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: buttonhighlight threeddarkshadow threeddarkshadow buttonhighlight;
}

#CalendarPickerControl td.weekend:hover{
    background-color: buttonshadow;
    text-decoration: underline;
    border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.dayothermonth{
    font:normal 11px Verdana;
    background-color: buttonhighlight;
    color: inactivecaptiontext;
    border: 1px solid buttonhighlight;
}

#CalendarPickerControl td.weeknumber{
    font:normal 9px Verdana;
    background-color: buttonface;
    color: inactivecaptiontext;
    border-width: 0px;
}
