<!-- START module_media_action.html -->
<script>
    function mediaFormCheck() {
        if (document.mediaEdit.renName.value == "") {
            alert("{TXT_MEDIA_RENAME_NAME}");
            document.mediaEdit.renName.focus();
            return false;
        }

        if (document.mediaEdit.renExt.value != document.mediaEdit.oldExt.value) {
            if (!confirm("{TXT_MEDIA_RENAME_EXT}")) {
                document.mediaEdit.renExt.value = document.mediaEdit.oldExt.value
            }
        }
    }
</script>

<a title="{TXT_MEDIA_BACK}"></a>
<!-- BEGIN mediaErrorFile -->
<table class="adminlist">
    <caption>{TXT_MEDIA_ERROR_OCCURED}</caption>
    <tr>
        <td>{TXT_MEDIA_FILE_DONT_EXISTS}</td>
    </tr>
</table>
<!-- END mediaErrorFile -->

<!-- BEGIN mediaFile -->
<form name="mediaEdit" action="{MEDIA_EDIT_ACTION}" method="post" onSubmit="return mediaFormCheck();">
    <table class="adminlist splitview">
        <caption>{TXT_MEDIA_EDIT_FILE}</caption>
        <tr>
            <td>{MEDIA_DIR}<input type="text" name="renName" value="{MEDIA_ORGFILE_NAME}"><input type="hidden" name="oldName" value="{MEDIA_ORGFILE_NAME}"><!-- BEGIN mediaFileExt -->.<input type="text" name="renExt" value="{MEDIA_ORGFILE_EXT}" readonly><input type="hidden" name="oldExt" value="{MEDIA_ORGFILE_EXT}"><!-- END mediaFileExt -->
                <input type="checkbox" name="mediaInputAsCopy" id="mediaInputAsCopy" value="1"><label for="mediaInputAsCopy">{TXT_MEDIA_INSERT_AS_COPY}</label>
            </td>
        </tr>
        <!-- BEGIN mediaShowImage -->
        <tr>
            <td>
                {TXT_MEDIA_EDIT_IMAGE}:
                <input type="radio" name="editImage" value="0" onclick="javascript: document.getElementById('editimagemedia').style.display='none';" checked>{TXT_MEDIA_NO}
                <input type="radio" name="editImage" value="1" onclick="javascript: document.getElementById('editimagemedia').style.display='block';">{TXT_MEDIA_YES}
            </td>
        </tr>
        <!-- END mediaShowImage -->
    </table>
    <input type="button" name="back" onclick="javascript:history.back()" value="{TXT_MEDIA_BACK}" class="secondary">
    <input type="submit" name="submit" value="{TXT_MEDIA_SAVE}">
</form>
<!-- END mediaFile -->

<!-- END module_media_action.html -->
