<!-- START module_media_settings.html -->
<style>
    .group_div {
        margin-left: 22px;
    }
</style>
<script>

    cx.jQuery(function() {
        for(var i = 1; i <= 4; i++)
    {
            cx.jQuery('#mediaSettings' + i + 'Group, #mediaSettings_Media' + i + 'PrettyFormatOn').change(function(){
                // show div with groups
                cx.jQuery(this).siblings('.group_div').show();
            });
            cx.jQuery('#mediaSettings' + i + 'Off, #mediaSettings' + i + 'On, #mediaSettings_Media' + i + 'PrettyFormatOff').change(function(){
                // hide div with groups
                cx.jQuery(this).siblings('.group_div').hide();
            });
            cx.jQuery('#mediaManage'+ i +'Group').change(function(){
                // show div with groups
                cx.jQuery(this).siblings('.group_div').show();
            });
            cx.jQuery('#mediaManage' + i + 'Off, #mediaManage' + i + 'On').change(function(){
                // hide div with groups
                cx.jQuery(this).siblings('.group_div').hide();
            });
        }
    });

    function SelectAllGroups(link) {
        cx.jQuery(link).siblings(".group_list").find("option").attr("selected", "selected");
        return false;
    };

    function DeselectAllGroups(link) {
        cx.jQuery(link).siblings(".group_list").find("option").removeAttr("selected");
        return false;
    };

    function MoveRight(button) {
        var right = cx.jQuery(button).parent().parent().find(".group_list:last");
        cx.jQuery(button).parent().parent().find(".group_list:first").find("option:selected").appendTo(right);
        return false;
    };

    function MoveLeft(button) {
        var left = cx.jQuery(button).parent().parent().find(".group_list:first");
        cx.jQuery(button).parent().parent().find(".group_list:last").find("option:selected").appendTo(left);
        return false;
    };

    function BeforeSubmit() {
        cx.jQuery(".group_div").find(".group_list:first").find("option:selected").removeAttr("selected").end().end()
            .find(".group_list:last").find("option").attr("selected", "selected");
    }
    function setArchiveTitle(archiveNumber) {
        cx.jQuery("#media-archive-number-title").html(archiveNumber);
    }
</script>
<!-- BEGIN mediaarchive_section -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="messageTab_media1" class="active" href="#">{TXT_MEDIA_ARCHIVE} #1</a></li>
    <li><a data-tablink="messageTab_media2" href="#">{TXT_MEDIA_ARCHIVE} #2</a></li>
    <li><a data-tablink="messageTab_media3" href="#">{TXT_MEDIA_ARCHIVE} #3</a></li>
    <li><a data-tablink="messageTab_media4" href="#">{TXT_MEDIA_ARCHIVE} #4</a></li>
</ul>
<form action="index.php?cmd=Media&amp;archive=archive1&amp;act=saveSettings" method="post" name="settings">
    <!-- BEGIN mediaAccessSection -->
    <div class="tab messageTab_media{MEDIA_ARCHIVE_NUMBER}" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_CORE_MODULE_MEDIA_SEARCH_FUNCTION}</td>
                <td>
                    <label>
                        <input type="radio" {MEDIA_ALLOW_USER_SEARCH_OFF} name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendSearch" value="off">
                        {TXT_CORE_MODULE_MEDIA_DISABLED}
                    </label><br>
                    <label>
                        <input type="radio" {MEDIA_ALLOW_USER_SEARCH_ON} name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendSearch" value="on">
                        {TXT_CORE_MODULE_MEDIA_ENABLE_SEARCH_FUNCTIONALITY}
                    </label>
                </td>
            </tr>
            <tr>
                <td>{TXT_CORE_MODULE_MEDIA_PRETTY_FORMAT_FUNCTION}</td>
                <td>
                    <input type="radio" {MEDIA_PRETTY_FORMAT_OFF} id="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormatOff" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormat" value="off">
                    <label for="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormatOff">{TXT_CORE_MODULE_MEDIA_DISABLED}</label><br>
                    <input type="radio" {MEDIA_PRETTY_FORMAT_ON} id="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormatOn" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormat" value="on">
                    <label for="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormatOn">{TXT_CORE_MODULE_MEDIA_ENABLE_PRETTY_FORMAT_FUNCTIONALITY}</label>
                    <div class="group_div" id="mediaSettings{MEDIA_ARCHIVE_NUMBER}PrettyFormat" style="display:{MEDIA_PRETTY_FORMAT_DISPLAY}">
                        <input type="text" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}PrettyFormatRegexp" value="{MEDIA_PRETTY_FORMAT_REGEX}" placeholder="#{TXT_CORE_MODULE_MEDIA_SEARCH}#{TXT_CORE_MODULE_MEDIA_REPLACE}#">
                        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CORE_MODULE_MEDIA_PRETTY_FORMAT_FUNCTION_TOOLTIP}</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="infobox">{TXT_MEDIA_FRONTEND_FILE_UPLOAD_DESC}</div>
        <table class="adminlist splitview">
            <caption>{TXT_MEDIA_FRONTEND_FILE_UPLOAD}</caption>
            <tr>
                <td>{TXT_MEDIA_ADD}</td>
                <td>
                    <input id="mediaSettings{MEDIA_ARCHIVE_NUMBER}Off" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendChangable" value="off" {MEDIA_ALLOW_USER_CHANGE_OFF}><label for="mediaSettings{MEDIA_ARCHIVE_NUMBER}Off">{TXT_MEDIA_ADDING_DENIED_FOR_ALL}</label><br>
                    <input id="mediaSettings{MEDIA_ARCHIVE_NUMBER}On" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendChangable" value="on" {MEDIA_ALLOW_USER_CHANGE_ON}><label for="mediaSettings{MEDIA_ARCHIVE_NUMBER}On">{TXT_MEDIA_ADDING_ALLOWED_FOR_ALL}</label><br>
                    <input id="mediaSettings{MEDIA_ARCHIVE_NUMBER}Group" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendChangable" value="1" {MEDIA_ALLOW_USER_CHANGE_GROUP}><label for="mediaSettings{MEDIA_ARCHIVE_NUMBER}Group">{TXT_MEDIA_ADDING_ALLOWED_FOR_GROUP}</label>
                    <div class="multiselect group_div" id="mediaSettings{MEDIA_ARCHIVE_NUMBER}GroupList" style="display:{MEDIA_ACCESS_DISPLAY}">
                        <div><br>
                            {TXT_MEDIA_AVAILABLE_USER_GROUPS}<br>
                            <select class='group_list' name="media{MEDIA_ARCHIVE_NUMBER}_access_not_associated_groups[]" id="media{MEDIA_ARCHIVE_NUMBER}_access_not_associated_groups" size="15" multiple="multiple">
                                {MEDIA_ACCESS_NOT_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                        <div>
                            <input type="button" value="&lt;&lt;" name="removeOption" onclick="return MoveLeft(this);">
                            <input type="button" value="&gt;&gt;" name="addOption" onclick="return MoveRight(this);">
                        </div>
                        <div><br>
                            {TXT_MEDIA_ASSIGNED_USER_GROUPS}<br>
                            <select class='group_list' name="media{MEDIA_ARCHIVE_NUMBER}_access_associated_groups[]" id="media{MEDIA_ARCHIVE_NUMBER}_access_associated_groups" size="15" multiple="multiple">
                                {MEDIA_ACCESS_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{TXT_MEDIA_MANAGE}</td>
                <td>
                    <input id="mediaManage{MEDIA_ARCHIVE_NUMBER}Off" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendManagable" value="off" {MEDIA_ALLOW_USER_MANAGE_OFF}><label for="mediaManage{MEDIA_ARCHIVE_NUMBER}Off">{TXT_MEDIA_ADDING_DENIED_FOR_ALL}</label><br>
                    <input id="mediaManage{MEDIA_ARCHIVE_NUMBER}On" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendManagable" value="on" {MEDIA_ALLOW_USER_MANAGE_ON}><label for="mediaManage{MEDIA_ARCHIVE_NUMBER}On">{TXT_MEDIA_ADDING_ALLOWED_FOR_ALL}</label><br>
                    <input id="mediaManage{MEDIA_ARCHIVE_NUMBER}Group" type="radio" name="mediaSettings_Media{MEDIA_ARCHIVE_NUMBER}FrontendManagable" value="1" {MEDIA_ALLOW_USER_MANAGE_GROUP}><label for="mediaManage{MEDIA_ARCHIVE_NUMBER}Group">{TXT_MEDIA_ADDING_ALLOWED_FOR_GROUP}</label>
                    <div class="multiselect group_div" id="mediaSettings{MEDIA_ARCHIVE_NUMBER}GroupList" style="display:{MEDIA_MANAGE_DISPLAY}">
                        <div><br>
                            {TXT_MEDIA_AVAILABLE_USER_GROUPS}<br>
                            <select class='group_list' name="media{MEDIA_ARCHIVE_NUMBER}_manage_not_associated_groups[]" id="media{MEDIA_ARCHIVE_NUMBER}_manage_not_associated_groups" size="15" multiple="multiple">
                                {MEDIA_MANAGE_NOT_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                        <div>
                            <input type="button" value="&lt;&lt;" name="removeOption" onclick="return MoveLeft(this);">
                            <input type="button" value="&gt;&gt;" name="addOption" onclick="return MoveRight(this);">
                        </div>
                        <div><br>
                            {TXT_MEDIA_ASSIGNED_USER_GROUPS}<br>
                            <select class='group_list' name="media{MEDIA_ARCHIVE_NUMBER}_manage_associated_groups[]" id="media{MEDIA_ARCHIVE_NUMBER}_manage_associated_groups" size="15" multiple="multiple">
                                {MEDIA_MANAGE_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="#" onclick="return SelectAllGroups(this);" title="{TXT_MEDIA_CHECK_ALL}">{TXT_MEDIA_CHECK_ALL}</a><br>
                            <a href="#" onclick="return DeselectAllGroups(this);" title="{TXT_MEDIA_UNCHECK_ALL}">{TXT_MEDIA_UNCHECK_ALL}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- END mediaAccessSection -->
    <input type="submit" value="{TXT_BUTTON_SAVE}" name="save_settings" onclick="BeforeSubmit();">
</form>
<!-- END mediaarchive_section -->
<!-- END module_media_settings.html -->
