<!-- START module_media.html -->
<script>
    function mediaCheckNewDir()
{
        if(document.create_dir.dirName.value == '') {
            alert("{TXT_MEDIA_CHECK_NAME}");
            document.create_dir.dirName.focus();
            return false;
        }
    }

    function mediaCheckUploadFiles() {
        var x = 0;
        for (var i = 0; i < document.upload_files.elements.length; i++) {
            var e = document.upload_files.elements[i];
            if (e.name == "fileName[]" && e.value != "") {
                x++;
            }
        }
        if (x > 0) {
            return true;
        } else {
            alert("{TXT_MEDIA_SELECT_UPLOAD_FILE}");
            return false;
        }
    }

    function mediaSelectAll(e) {
        if (e.checked) { // check all
            var ml  = document.fileList;
            var len = ml.elements.length;
            for (var i = 0; i < len; i++) {
                var e = ml.elements[i];
                if (e.name == "formSelected[]") {
                    e.checked = true;
                }
            }
        } else { // uncheck all
            var ml  = document.fileList;
            var len = ml.elements.length;
            for (var i = 0; i < len; i++) {
                var e = ml.elements[i];
                if (e.name == "formSelected[]") {
                    e.checked = false;
                }
            }
        }
    }

    function mediaIsChecked(fieldName) {
        var x = 0;
        for (var i = 0; i < document.fileList.elements.length; i++) {
            var e = document.fileList.elements[i];
            if (e.name == fieldName && e.checked == true) {
                x++;
            }
        }
        if (x > 0) {
            return true;
        } else {
            return false;
        }
    }

    function mediaDoAction() {
        if (mediaIsChecked("formSelected[]") == true) {
            if (document.fileList.selectAction.value == "cut") {
                document.fileList.action = "/cadmin/Media/cut?archive={MEDIA_ARCHIVE}&path={MEDIA_DO_ACTION_PATH}&{CSRF}";
                document.fileList.submit();
            }
            if (document.fileList.selectAction.value == "copy") {
                document.fileList.action = "/cadmin/Media/copy?archive={MEDIA_ARCHIVE}&path={MEDIA_DO_ACTION_PATH}&{CSRF}";
                document.fileList.submit();
            }
            if (document.fileList.selectAction.value == "delete") {
                if (confirm("{TXT_MEDIA_CONFIRM_DELETE_2}")) {
                    document.fileList.action = "/cadmin/Media/delete?archive={MEDIA_ARCHIVE}&path={MEDIA_DO_ACTION_PATH}&{CSRF}";
                    document.fileList.submit();
                }
            }
        } else {
            alert("{TXT_MEDIA_MAKE_SELECTION}");
        }
        document.fileList.selectAction.value = "0";
    }

    function openWindow(theURL,winName,features) {
        objPopup = window.open(theURL,"fileUploader",features);
        objPopup.focus();
    }

    $J(document).ready(function(){
        $J('#media_browse_button').hide();
        $J('#uploaderStarter').click(function() {
            $J('#media_browse_button').trigger('click');
        });
    });
    function mediaCallbackJs(callback) {
        if (callback.length > 0){
            var newUrl = window.location.href+'&highlightUploadId='+$J('#media_browse_button').data('uploaderId');
            if (window.location.href.match(/highlightUploadId/)){
                newUrl = window.location.href.replace(/highlightUploadId=[a-z0-9]+/i, 'highlightUploadId='+$J('#media_browse_button').data('uploaderId'))
            }
            window.location = newUrl;
        }
    }
</script>
{MEDIA_JAVA_SCRIPT_PREVIEW}

{CONTENT_SUBNAVIGATION}

<!-- BEGIN media_archive_search_form -->
<form method="get" action="/cadmin/Media/">
    <div class="search-functions">
        <div>
            <input type="hidden" name="archive" value="{MEDIA_ARCHIVE_NAME}">
            <input type="hidden" name="path" value="{MEDIA_ARCHIVE_PATH}">
            <input type="search" name="term" value="{MEDIA_SEARCH_TERM}" placeholder="{TXT_MEDIA_SEARCH}">
            <input type="submit" value="{TXT_MEDIA_SEARCH}">
        </div>
    </div>
</form>
<!-- END media_archive_search_form -->

<!-- BEGIN media_archive_newdir_block -->
<div id="newdir" style="display:none;">
    <form name="create_dir" method="post" action="{MEDIA_CREATE_DIR_ACTION}" onsubmit="return mediaCheckNewDir();">
        <table class="adminlist splitview">
            <caption>{TXT_MEDIA_NEW_DIRECTORY}</caption>
            <tr>
                <td>{TXT_MEDIA_NAME}</td>
                <td><input type="text" name="dirName"></td>
            </tr>
        </table>
        <input type="submit" name="submit" value="{TXT_MEDIA_CREATE}">
    </form>
</div>
<!-- END media_archive_newdir_block -->

<form name="fileList" method="post" action="/cadmin/Media/">
    <input type="hidden" name="deleteMedia" value="0">
    <input type="hidden" name="file" value="">
    <table class="adminlist sortable">
        <caption>
            <a href="{MEDIA_TREE_NAV_MAIN_HREF}">{MEDIA_TREE_NAV_MAIN}</a><!-- BEGIN mediaTreeNavigation --><a href="{MEDIA_TREE_NAV_DIR_HREF}">{MEDIA_TREE_NAV_DIR}/</a><!-- END mediaTreeNavigation -->
            <!-- BEGIN media_archive_actions_block -->
            <div class="functions">
                <a href="javascript:{}" onclick="document.getElementById('newdir').style.display='block';document.querySelector('#newdir input[name=dirName]').focus();" title="{TXT_MEDIA_NEW_DIRECTORY}">
                    <i class="fa-solid fa-folder-plus"></i>
                </a>
                <a id="uploaderStarter" href="javascript:{}" title="{TXT_MEDIA_UPLOAD_FILES}">
                    <i class="fa-solid fa-file-arrow-up"></i>
                </a>
            </div>
            <!-- END media_archive_actions_block -->
        </caption>
        <tr>
            <th><input type="checkbox" name="toggleAll" title="Select or deselect all messages" onclick="mediaSelectAll(this);" {MEDIA_SELECT_STATUS}></th>
            <th class="{MEDIA_TYPE_CLASS}"><a href="{MEDIA_TYPE_HREF}" title="{TXT_MEDIA_SORT}">{TXT_MEDIA_FILE_TYPE}</a></th>
            <th class="{MEDIA_NAME_CLASS}"><a href="{MEDIA_NAME_HREF}" title="{TXT_MEDIA_SORT}">{TXT_MEDIA_FILE_NAME}</a></th>
            <th class="{MEDIA_DATE_CLASS}"><a href="{MEDIA_DATE_HREF}" title="{TXT_MEDIA_SORT}">{TXT_MEDIA_FILE_DATE}</a></th>
            <th class="{MEDIA_SIZE_CLASS}"><a href="{MEDIA_SIZE_HREF}" title="{TXT_MEDIA_SORT}">{TXT_MEDIA_FILE_SIZE}</a></th>
            <th class="{MEDIA_PERM_CLASS}"><a href="{MEDIA_PERM_HREF}" title="{TXT_MEDIA_SORT}">{TXT_MEDIA_FILE_PERM}</a></th>
            <th>{TXT_MEDIA_FILE_FUNCTIONS}</th>
        </tr>
        <!-- BEGIN mediaDirectoryTree -->
        <tr class="{MEDIA_DIR_TREE_ROW}">
            <td><input type="checkbox" name="formSelected[]" value="{MEDIA_FILE_NAME}"></td>
            <td><img src="{MEDIA_FILE_ICON}" width="16" height="16" alt="icon" title="{MEDIA_FILE_TYPE}"></td>
            <td>
                <a href="{MEDIA_FILE_NAME_HREF}">{MEDIA_FILE_NAME}</a>
                <!-- BEGIN mediaShowThumbnail -->
                ({MEDIA_FILE_NAME_SIZE})
                <div id="{MEDIA_FILE_NAME_PRE}" class="switchcontent">
                    <a href="{MEDIA_FILE_NAME_IMG_HREF}" rel="shadowbox"><img src="{MEDIA_FILE_NAME_IMG_SRC}" {MEDIA_FILE_NAME_IMG_SIZE} alt=""></a>
                </div>
                <!-- END mediaShowThumbnail -->
            </td>
            <td>{MEDIA_FILE_DATE}</td>
            <td>{MEDIA_FILE_SIZE}</td>
            <td>{MEDIA_FILE_PERM}</td>
            <td>
                <!-- BEGIN mediaFilesharing -->
                <a href="{MEDIA_FILE_FILESHARING_HREF}" title="{MEDIA_FILESHARING}">
                    <!-- BEGIN mediaFilesharingShared -->
                    <i class="fa-solid fa-users"></i>
                    <!-- END mediaFilesharingShared -->
                    <!-- BEGIN mediaFilesharingPrivate -->
                    <i class="fa-solid fa-users-slash"></i>
                    <!-- END mediaFilesharingPrivate -->
                </a>
                <!-- END mediaFilesharing -->
                <!-- BEGIN mediaImageEdit -->
                <a href="{MEDIA_FILE_EDIT_HREF}" title="{MEDIA_EDIT}"><i class="fa-solid fa-crop"></i></a>
                <!-- END mediaImageEdit -->
                <a href="{MEDIA_FILE_RENAME_HREF}" title="{MEDIA_RENAME}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a onclick="return mediaConfirmDelete();" href="{MEDIA_FILE_DELETE_HREF}" title="{MEDIA_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        <!-- END mediaDirectoryTree -->
        <!-- BEGIN mediaEmptyDirectory -->
        <tr>
            <td colspan="7">{TXT_MEDIA_DIR_EMPTY}</td>
        </tr>
        <!-- END mediaEmptyDirectory -->
    </table>
    <!-- BEGIN mediaSelectAction -->
    <ul class="bulk-functions">
        <li>
            <select name="selectAction" onchange="mediaDoAction();">
                <option value="0" selected="selected">{TXT_MEDIA_SELECT_ACTION}</option>
                <option value="cut">{TXT_MEDIA_CUT}</option>
                <option value="copy">{TXT_MEDIA_COPY}</option>
                <option value="delete">{TXT_MEDIA_DELETE}</option>
            </select>
        </li>
    </ul>
    <!-- END mediaSelectAction -->
</form>
<!-- BEGIN mediaActionPaste -->
<table>
    <tr>
        <td>
            <form action="{MEDIDA_PASTE_ACTION}" method="post">
                <input type="submit" value="{TXT_MEDIA_PASTE}">
            </form>
        </td>
    </tr>
</table>
<!-- END mediaActionPaste -->
{MEDIA_UPLOADER_BUTTON}
<!-- END module_media.html -->
