<table class="adminlist no-functions">
    <!-- BEGIN stats_requests_today_clients_list -->
    <tr>
        <th>{TXT_LAST_REQUEST}</th>
        <th>{TXT_IP_ADDRESS}</th>
        <th>{TXT_USERAGENT}</th>
        <th>{TXT_HOSTNAME}</th>
        <th>{TXT_PROXY_USERAGENT}</th>
        <th>{TXT_PROXY_IP}</th>
        <th>{TXT_PROXY_HOSTNAME}</th>
    </tr>
    <!-- BEGIN stats_requests_today_clients -->
    <tr class="{STATS_REQUESTS_CLIENT_ROW_CLASS}">
        <td>{STATS_REQUESTS_CLIENT_LAST_REQUEST}</td>
        <td>{STATS_REQUESTS_CLIENT_IP}</td>
        <td>{STATS_REQUESTS_CLIENT_USERAGENT}</td>
        <td>{STATS_REQUESTS_CLIENT_HOST}</td>
        <td>{STATS_REQUESTS_CLIENT_PROXY_USERAGENT}</td>
        <td>{STATS_REQUESTS_CLIENT_PROXY_IP}</td>
        <td>{STATS_REQUESTS_CLIENT_PROXY_HOST}</td>
    </tr>
    <!-- END stats_requests_today_clients -->
    <!-- END stats_requests_today_clients_list -->
    <!-- BEGIN stats_requests_today_clients_list_nodata -->
    <tr>
        <td colspan="7">{TXT_NO_DATA_AVAILABLE}</td>
    </tr>
<!-- END stats_requests_today_clients_list_nodata -->
</table>
