<table class="adminlist no-functions">
    <!-- BEGIN stats_requests -->
    <tr>
        <th>{TXT_PAGE}</th>
        <th>{TXT_REQUESTS}</th>
        <th>{TXT_LAST_REQUEST}</th>
    </tr>
    <!-- BEGIN stats_requests_mvp -->
    <tr class="{STATS_REQUESTS_ROW_CLASS}">
        <td>{STATS_REQUESTS_PAGE}</td>
        <td>{STATS_REQUESTS_REQUESTS}</td>
        <td>{STATS_REQUESTS_LAST_REQUEST}</td>
    </tr>
    <!-- END stats_requests_mvp -->
    <!-- END stats_requests -->
    <!-- BEGIN stats_requests_nodata -->
    <tr>
        <td colspan="3">{TXT_NO_DATA_AVAILABLE}</td>
    </tr>
    <!-- END stats_requests_nodata -->
</table>
