<!-- START module_stats_visitors.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="/cadmin/Stats/visitors" class="{CORE_MODULE_STATS_SUBNAV_VISITORDETAILS}" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
        <li><a href="index.php?cmd=Stats&amp;act=visitors&amp;tpl=clients" class="{CORE_MODULE_STATS_SUBNAV_CLIENTS}" title="{TXT_USER_INFORMATION_TITLE}">{TXT_USER_INFORMATION_TITLE}</a></li>
    </ul>
</div>
{STATS_VISITORS_CONTENT}
<!-- END module_stats_visitors.html -->
