<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".requestsTab_statsRequests1").style.display = "";
    });
</script>
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="requestsTab_statsRequests1" class="active" href="#">{TXT_TODAY}</a></li>
  <li><a data-tablink="requestsTab_statsRequests2" href="#">{TXT_DETAILS}</a></li>
</ul>

<!-- start statsRequests1 div -->
<div class="tab requestsTab_statsRequests1" data-tablist="default" style="display: block;">
  <table class="adminlist no-functions">
    <tr>
      <td>
        <!-- Inline style definitions (width & height) are necessary for the jqplot plugin -->
        <div id="chart" style="width: 800px; height: 300px;"></div>
      </td>
    </tr>
  </table>
</div>
<!-- end statsRequests1 div -->
<!-- start statsRequests2 div -->
<div class="tab requestsTab_statsRequests2" data-tablist="default">
  <table class="adminlist no-functions">
    <tr>
      <th>{TXT_PERIOD_OF_TIME}</th>
      <th>{TXT_VISITORS}</th>
      <th>{TXT_PAGE_VIEWS}</th>
    </tr>
    <!-- BEGIN stats_requests_today -->
    <tr class="{STATS_REQUESTS_ROW_CLASS}">
      <td>{STATS_REQUESTS_TIME}</td>
      <td>{STATS_REQUESTS_VISITORS}</td>
      <td>{STATS_REQUESTS_PAGE_VIEWS}</td>
    </tr>
    <!-- END stats_requests_today -->
  </table>
</div>
<!-- end statsRequests2 div -->
