<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="searchTab_statsSearch1" class="active" href="#">{TXT_INTERNAL}</a></li>
    <li><a data-tablink="searchTab_statsSearch2" href="#">{TXT_EXTERNAL}</a></li>
    <li><a data-tablink="searchTab_statsSearch3" href="#">{TXT_SUMMARY}</a></li>
</ul>
<!-- start statsSearch1 div -->
<div class="tab searchTab_statsSearch1" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_search_internal -->
        <tr>
            <th>{TXT_SEARCH_TERM}</th>
            <th>{TXT_FREQUENCY}</th>
        </tr>
        <!-- BEGIN stats_search_internal_list -->
        <tr class="{STATS_REQUESTS_ROW_CLASS}">
            <td>{STATS_SEARCH_TERM}</td>
            <td>{STATS_SEARCH_FREQUENCY}</td>
        </tr>
        <!-- END stats_search_internal_list -->
        <!-- END stats_search_internal -->
        <!-- BEGIN stats_search_internal_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_search_internal_nodata -->
    </table>
</div>
<!-- end statsSearch1 div -->
<!-- start statsSearch2 div -->
<div class="tab searchTab_statsSearch2" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_search_external -->
        <tr>
            <th>{TXT_SEARCH_TERM}</th>
            <th>{TXT_FREQUENCY}</th>
        </tr>
        <!-- BEGIN stats_search_external_list -->
        <tr class="{STATS_REQUESTS_ROW_CLASS}">
            <td>{STATS_SEARCH_TERM}</td>
            <td>{STATS_SEARCH_FREQUENCY}</td>
        </tr>
        <!-- END stats_search_external_list -->
        <!-- END stats_search_external -->
        <!-- BEGIN stats_search_external_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_search_external_nodata -->
    </table>
</div>
<!-- end statsSearch2 div -->
<!-- start statsSearch3 div -->
<div class="tab searchTab_statsSearch3" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_search_summary -->
        <tr>
            <th>{TXT_SEARCH_TERM}</th>
            <th>{TXT_FREQUENCY}</th>
        </tr>
        <!-- BEGIN stats_search_summary_list -->
        <tr class="{STATS_REQUESTS_ROW_CLASS}">
            <td>{STATS_SEARCH_TERM}</td>
            <td>{STATS_SEARCH_FREQUENCY}</td>
        </tr>
        <!-- END stats_search_summary_list -->
        <!-- END stats_search_summary -->
        <!-- BEGIN stats_search_summary_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_search_summary_nodata -->
    </table>
</div>
<!-- end statsSearch1 div -->
