<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="clientsTab_statsClients1" class="active" href="#">{TXT_BROWSERS}</a></li>
    <li><a data-tablink="clientsTab_statsClients2" href="#">{TXT_JAVASCRIPT_SUPPORT}</a></li>
    <li><a data-tablink="clientsTab_statsClients3" href="#">{TXT_OPERATING_SYSTEMS}</a></li>
    <li><a data-tablink="clientsTab_statsClients4" href="#">{TXT_SCREEN_RESOLUTION}</a></li>
    <li><a data-tablink="clientsTab_statsClients5" href="#">{TXT_COLOUR_DEPTH}</a></li>
    <li><a data-tablink="clientsTab_statsClients6" href="#">{TXT_DOMAINS}</a></li>
    <li><a data-tablink="clientsTab_statsClients7" href="#">{TXT_COUNTRIES_OF_ORIGIN}</a></li>
</ul>
<!-- start statsClients1 div -->
<div class="tab clientsTab_statsClients1" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_browsers -->
        <tr class="{STATS_CLIENTS_BROWSER_ROW_CLASS}">
            <td>{STATS_CLIENTS_BROWSER_NAME}</td>
            <td>{STATS_CLIENTS_BROWSER_COUNT}</td>
        </tr>
        <!-- END stats_clients_browsers -->
        <!-- BEGIN stats_clients_browsers_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_browsers_nodata -->
    </table>
</div>
<!-- end statsClients1 div -->
<!-- start statsClients2 div -->
<div class="tab clientsTab_statsClients2" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_javascript -->
        <tr>
            <td>{TXT_YES}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CLIENT_SUPPORTS_JAVASCRIPT}</span></td>
            <td>{STATS_CLIENTS_JAVASCRIPT_SUPPORT}</td>
        </tr>
        <tr>
            <td>{TXT_NO}</td>
            <td>{STATS_CLIENTS_JAVASCRIPT_NO_SUPPORT}</td>
        </tr>
        <!-- END stats_clients_javascript -->
        <!-- BEGIN stats_clients_javascript_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_javascript_nodata -->
    </table>
</div>
<!-- end statsClients2 div -->
<!-- start statsClients3 div -->
<div class="tab clientsTab_statsClients3" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_os -->
        <tr class="{STATS_CLIENTS_OS_ROW_CLASS}">
            <td>{STATS_CLIENTS_OS_NAME}</td>
            <td>{STATS_CLIENTS_OS_COUNT}</td>
        </tr>
        <!-- END stats_clients_os -->
        <!-- BEGIN stats_clients_os_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_os_nodata -->
    </table>
</div>
<!-- end statsClients3 div -->
<!-- start statsClients4 div -->
<div class="tab clientsTab_statsClients4" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_resolution -->
        <tr class="{STATS_CLIENTS_OS_ROW_CLASS}">
            <td>{STATS_CLIENTS_RESOLUTION_NAME}</td>
            <td>{STATS_CLIENTS_RESOLUTION_COUNT}</td>
        </tr>
        <!-- END stats_clients_resolution -->
        <!-- BEGIN stats_clients_resolution_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_resolution_nodata -->
    </table>
</div>
<!-- end statsClients4 div -->
<!-- start statsClients5 div -->
<div class="tab clientsTab_statsClients5" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_colour -->
        <tr class="{STATS_CLIENTS_OS_ROW_CLASS}">
            <td>{STATS_CLIENTS_COLOUR_NAME}</td>
            <td>{STATS_CLIENTS_COLOUR_COUNT}</td>
        </tr>
        <!-- END stats_clients_colour -->
        <!-- BEGIN stats_clients_colour_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_colour_nodata -->
    </table>
</div>
<!-- end statsClients5 div -->
<!-- start statsClients6 div -->
<div class="tab clientsTab_statsClients6" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_hostnames -->
        <tr>
            <td>{TXT_DOMAIN}</td>
            <td>{TXT_NUMBER}</td>
        </tr>
        <!-- BEGIN stats_clients_hostnames_list -->
        <tr class="{STATS_CLIENTS_HOSTNAME_ROW_CLASS}">
            <td>{STATS_CLIENTS_HOSTNAME}</td>
            <td>{STATS_CLIENTS_HOSTNAME_COUNT}</td>
        </tr>
        <!-- END stats_clients_hostnames_list -->
        <!-- END stats_clients_hostnames -->
        <!-- BEGIN stats_clients_hostnames_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_hostnames_nodata -->
    </table>
</div>
<!-- end statsClients6 div -->
<!-- start statsClients7 div -->
<div class="tab clientsTab_statsClients7" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_clients_countries -->
        <tr>
            <td>{TXT_COUNTRY_OF_ORIGIN}</td>
            <td>{TXT_NUMBER}</td>
        </tr>
        <!-- BEGIN stats_clients_countries_list -->
        <tr class="{STATS_CLIENTS_COUNTRY_ROW_CLASS}">
            <td>{STATS_CLIENTS_COUNTRY}</td>
            <td>{STATS_CLIENTS_COUNTRY_COUNT}</td>
        </tr>
        <!-- END stats_clients_countries_list -->
        <!-- END stats_clients_countries -->
        <!-- BEGIN stats_clients_countries_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_clients_countries_nodata -->
    </table>
</div>
<!-- end statsClients7 div -->
