<!-- START stats_referer.html -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="refererTab_statsReferer1" class="active" href="#">{TXT_THE_LAST_REFERER}</a></li>
    <li><a data-tablink="refererTab_statsReferer2" href="#">{TXT_TOP_REFERER}</a></li>
</ul>
<!-- start statsReferer1 div -->
<div class="tab refererTab_statsReferer1" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_referer -->
        <tr>
            <th>{TXT_TIME}</th>
            <th>{TXT_REFERER}</th>
        </tr>
        <!-- BEGIN stats_referer_list -->
        <tr class="{STATS_REFERER_ROW_CLASS}">
            <td>{STATS_REFERER_TIME}</td>
            <td>{STATS_REFERER_URI}</td>
        </tr>
        <!-- END stats_referer_list -->
        <!-- END stats_referer -->
        <!-- BEGIN stats_referer_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_referer_nodata -->
    </table>
</div>
<!-- end statsReferer1 div -->
<!-- start statsReferer2 div -->
<div class="tab refererTab_statsReferer2" data-tablist="default">
    <table class="adminlist splitview">
        <!-- BEGIN stats_referer_top -->
        <tr>
            <th>{TXT_NUMBER}</th>
            <th>{TXT_REFERER}</th>
        </tr>
        <!-- BEGIN stats_referer_top_list -->
        <tr class="{STATS_REFERER_TOP_ROW_CLASS}">
            <td>{STATS_REFERER_TOP_COUNT}</td>
            <td>{STATS_REFERER_TOP_URI}</td>
        </tr>
        <!-- END stats_referer_top_list -->
        <!-- END stats_referer_top -->
        <!-- BEGIN stats_referer_top_nodata -->
        <tr>
            <td colspan="2">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_referer_top_nodata -->
    </table>
</div>
<!-- end statsReferer2 div -->
<!-- END stats_referer.html -->
