<!-- START stats_requests.html -->
{STATS_CHART_JAVASCRIPT}

<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=Stats&amp;act=requests&amp;tpl=today" class="{CORE_MODULE_STATS_SUBNAV_TODAY}" title="{TXT_TODAY}">{TXT_TODAY}</a></li>
        <li><a href="index.php?cmd=Stats&amp;act=requests&amp;tpl=days" class="{CORE_MODULE_STATS_SUBNAV_DAYS}" title="{TXT_DAILY_STATISTICS}">{TXT_DAILY_STATISTICS}</a></li>
        <li><a href="index.php?cmd=Stats&amp;act=requests&amp;tpl=months" class="{CORE_MODULE_STATS_SUBNAV_MONTHS}" title="{TXT_MONTHLY_STATISTICS}">{TXT_MONTHLY_STATISTICS}</a></li>
        <li><a href="index.php?cmd=Stats&amp;act=requests&amp;tpl=years" class="{CORE_MODULE_STATS_SUBNAV_YEARS}" title="{TXT_ANNUAL_STATISTICS}">{TXT_ANNUAL_STATISTICS}</a></li>
        <li><a href="index.php?cmd=Stats&amp;act=requests&amp;tpl=mvp" class="{CORE_MODULE_STATS_SUBNAV_MVP}" title="{TXT_MOST_POPULAR_PAGES}">{TXT_MOST_POPULAR_PAGES}</a></li>
    </ul>
</div>
{STATS_REQUESTS_CONTENT}
<!-- END stats_requests.html -->
