<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="requestsTab_statsRequests1" class="active" href="#">{TXT_SEARCH_ENGINES}</a></li>
    <li><a data-tablink="requestsTab_statsRequests2" href="#">{TXT_INDEXED_PAGES}</a></li>
</ul>
<!-- start statsRequests1 div -->
<div class="tab requestsTab_statsRequests1" data-tablist="default">
    <table class="adminlist">
        <!-- BEGIN stats_spiders -->
        <tr>
            <th>{TXT_SEARCH_ENGINE}</th>
            <th>{TXT_INDEXATIONS}</th>
            <th>{TXT_LAST_INDEXATION}</th>
        </tr>
        <!-- BEGIN stats_spiders_list -->
        <tr class="{STATS_SPIDERS_ROW_CLASS}">
            <td>{STATS_SPIDERS_NAME}</td>
            <td>{STATS_SPIDERS_COUNT}</td>
            <td>{STATS_SPIDERS_LAST_INDEXATION}</td>
        </tr>
        <!-- END stats_spiders_list -->
        <!-- END stats_spiders -->
        <!-- BEGIN stats_spiders_nodata -->
        <tr>
            <td colspan="3">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_spiders_nodata -->
    </table>
</div>
<!-- end statsRequests1 div -->
<!-- start statsRequests2 div -->
<div class="tab requestsTab_statsRequests2" data-tablist="default">
    <table class="adminlist">
        <!-- BEGIN stats_spiders_indexed -->
        <tr>
            <th>{TXT_PAGE}</th>
            <th>{TXT_LAST_TIME_INDEXED}</th>
            <th>{TXT_INDEXED_BY}</th>
        </tr>
        <!-- BEGIN stats_spiders_indexed_pages -->
        <tr class="{STATS_SPIDERS_ROW_CLASS}">
            <td>{STATS_SPIDERS_PAGE}</td>
            <td>{STATS_SPIDERS_LAST_INDEXED}</td>
            <td>{STATS_SPIDERS_INDEXED_BY}</td>
        </tr>
        <!-- END stats_spiders_indexed_pages -->
        <!-- END stats_spiders_indexed -->
        <!-- BEGIN stats_spiders_indexed_nodata -->
        <tr>
            <td colspan="3">{TXT_NO_DATA_AVAILABLE}</td>
        </tr>
        <!-- END stats_spiders_indexed_nodata -->
    </table>
</div>
<!-- end statsRequests2 div -->
