<script src="lib/javascript/set_checkboxes.js"></script>
<script>
    <!--

        function toggleSettings(objCheck, objDiv) {
            if (document.getElementById(objCheck).checked == true) {
                document.getElementById(objDiv).style.display = "block";
            } else {
                document.getElementById(objDiv).style.display = "none";
            }
        }

    // -->
</script>
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="settingsTab_statsSettings" class="active" href="#">{TXT_SETTINGS}</a></li>
    <li><a data-tablink="settingsTab_statsReset" href="#">{TXT_RESET_STATISTIC}</a></li>
</ul>
<!-- start statsSettings div -->
<div class="tab settingsTab_statsSettings" data-tablist="default">
    <form name="stats_settings_form" action="index.php?cmd=Stats&amp;act=settings" method="post">
        <table class="adminlist splitview">
            <tr>
                <td><label for="options_make_statistics">{TXT_MAKE_STATISTICS}</label></td>
                <td><input id="options_make_statistics" name="options[make_statistics]" onclick="toggleSettings('options_make_statistics', 'stats_settings')" type="checkbox" value="1" {STATS_SETTINGS_MAKE_STATISTICS}></td>
            </tr>
        </table>
        <div id="stats_settings" style="display:{STATS_SETTINGS_STATUS}">
            <table class="adminlist splitview">
                <tr>
                    <td><label for="options_count_referer">{TXT_REFERER}</label><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_STATS_BDSG}</span></td>
                    <td><input id="options_count_referer" name="options[count_referer]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_REFERER}></td>
                </tr>
                <tr>
                    <td><label for="options_count_hostname">{TXT_DOMAIN}</label></td>
                    <td><input id="options_count_hostname" name="options[count_hostname]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_HOSTNAME}></td>
                </tr>
                <tr>
                    <td><label for="options_count_country">{TXT_COUNTRIES_OF_ORIGIN}</label></td>
                    <td><input id="options_count_country" name="options[count_country]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_COUNTRY}></td>
                </tr>
                <tr>
                    <td><label for="options_count_browser">{TXT_BROWSERS}</label></td>
                    <td><input id="options_count_browser" name="options[count_browser]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_BROWSER}></td>
                </tr>
                <tr>
                    <td><label for="options_count_operating_system">{TXT_OPERATING_SYSTEMS}</label></td>
                    <td><input id="options_count_operating_system" name="options[count_operating_system]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_OS}></td>
                </tr>
                <tr>
                    <td><label for="options_count_spiders">{TXT_SEARCH_ENGINES}</label></td>
                    <td><input id="options_count_spiders" name="options[count_spiders]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_SPIDERS}></td>
                </tr>
                <tr>
                    <td><label for="options_count_search_terms">{TXT_SEARCH_TERMS}</label></td>
                    <td><input id="options_count_search_terms" name="options[count_search_terms]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_SEARCH_TERMS}></td>
                </tr>
                <tr>
                    <td><label for="options_count_screen_resolution">{TXT_SCREEN_RESOLUTION}</label></td>
                    <td><input id="options_count_screen_resolution" name="options[count_screen_resolution]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_RESOLUTION}></td>
                </tr>
                <tr>
                    <td><label for="options_count_colour_depth">{TXT_COLOUR_DEPTH}</label></td>
                    <td><input id="options_count_colour_depth" name="options[count_colour_depth]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_COLOUR}></td>
                </tr>
                <tr>
                    <td><label for="options_count_javascript">{TXT_JAVASCRIPT_SUPPORT}</label></td>
                    <td><input id="options_count_javascript" name="options[count_javascript]" type="checkbox" value="1" {STATS_SETTINGS_COUNT_JAVASCRIPT}></td>
                </tr>
                <tr>
                    <td><label for="options_exclude_identifying_info">{TXT_EXCLUDE_IDENTIFYING_INFO}</label></td>
                    <td><input id="options_exclude_identifying_info" name="options[exclude_identifying_info]" type="checkbox" value="1" {STATS_SETTINGS_EXCLUDE_IDENTIFYING_INFO}></td>
                </tr>
                <tr>
                    <td><label for="options_remove_requests_status">{TXT_REMOVE_REQUESTS}</label></td>
                    <td>
                        <input id="options_remove_requests_status" name="options[remove_requests_status]" onclick="toggleSettings('options_remove_requests_status', 'remove_requests_value')" type="checkbox" value="1" {STATS_SETTINGS_REMOVE_REQUESTS_CHECKED}>
                        <div style="display:{STATS_SETTINGS_REMOVE_REQUESTS_STATUS};" id="remove_requests_value">
                            <input type="number" name="options[remove_requests]" value="{STATS_SETTINGS_REMOVE_REQUESTS}" class="compact"><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_REMOVE_REQUESTS_INTERVAL}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="options_online_timeout_status">{TXT_ONLINE_TIMEOUT}</label></td>
                    <td>
                        <input id="options_online_timeout_status" name="options[online_timeout_status]" onclick="toggleSettings('options_online_timeout_status', 'online_timeout_value')" type="checkbox" value="1" {STATS_SETTINGS_ONLINE_TIMEOUT_CHECKED}>
                        <div id="online_timeout_value" style="display:{STATS_SETTINGS_ONLINE_TIMEOUT_STATUS};">
                            <input type="number" name="options[online_timeout]" value="{STATS_SETTINGS_ONLINE_TIMEOUT}" class="compact" min="60" max="3600"><span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ONLINE_TIMEOUT_INTERVAL}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="options_count_visitor_number">{TXT_STATS_COUNT_VISIOTR_NUMBER}</label></td>
                    <td><input type="checkbox" value="1" name="options[count_visitor_number]" id="options_count_visitor_number" {STATS_SETTINGS_COUNT_VISITOR_NUMBER}></td>
                </tr>
                <tr>
                    <td>{TXT_RELOAD_BLOCK_TIME}</td>
                    <td><input type="number" name="options[reload_block_time]" value="{STATS_SETTINGS_RELOAD_BLOCK_TIME}" class="compact" min="1800" max="86400"></td>
                </tr>
                <tr>
                    <td>{TXT_SHOW_LIMIT}</td>
                    <td><input type="number" name="options[paging_limit]" value="{STATS_SETTINGS_PAGING_LIMIT}" class="compact" min="1" max="100"></td>
                </tr>
                <tr>
                    <td>{TXT_SHOW_LIMIT_VISITOR_DETAILS}</td>
                    <td><input type="number" name="options[paging_limit_visitor_details]" value="{STATS_SETTINGS_PAGING_LIMIT_VISITOR_DETAILS}" class="compact" min="1" max="1000"></td>
                </tr>
            </table>
        </div>
        <input type="submit" value="{TXT_STORE}" name="save_stats_settings">
    </form>
</div>
<!-- end statsSettings div -->
<!-- start statsReset div -->
<div class="tab settingsTab_statsReset" data-tablist="default">
    <form name="stats_delete_form" action="index.php?cmd=Stats&amp;act=settings" method="post">
        <table class="adminlist splitview">
            <tr>
                <th>{TXT_SELECT_STATISTICS_TO_RESET}</th>
                <th>
                    <a href="javascript:{}" onclick="changeCheckboxes('stats_delete_form','statistics[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a><br>
                    <a href="javascript:{}" onclick="changeCheckboxes('stats_delete_form','statistics[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a>
                </th>
            </tr>
            <tr>
                <td><label for="statistics[requests]">{TXT_VISITORS_AND_PAGE_VIEWS}</label></td>
                <td><input id="statistics[requests]" name="statistics[]" type="checkbox" value="requests"></td>
            </tr>
            <tr>
                <td><label for="statistics[visitors]">{TXT_VISITOR_DETAIL_FROM_TODAY}</label></td>
                <td><input id="statistics[visitors]" name="statistics[]" type="checkbox" value="visitors"></td>
            </tr>
            <tr>
                <td><label for="statistics[mvp]">{TXT_MOST_POPULAR_PAGES}</label></td>
                <td><input id="statistics[mvp]" name="statistics[]" type="checkbox" value="mvp"></td>
            </tr>
            <tr>
                <td><label for="statistics[referer]">{TXT_REFERER}</label></td>
                <td><input id="statistics[referer]" name="statistics[]" type="checkbox" value="referer"></td>
            </tr>
            <tr>
                <td><label for="statistics[hostname]">{TXT_DOMAIN}</label></td>
                <td><input id="statistics[hostname]" name="statistics[]" type="checkbox" value="hostname"></td>
            </tr>
            <tr>
                <td><label for="statistics[country]">{TXT_COUNTRIES_OF_ORIGIN}</label></td>
                <td><input id="statistics[country]" name="statistics[]" type="checkbox" value="country"></td>
            </tr>
            <tr>
                <td><label for="statistics[browsers]">{TXT_BROWSERS}</label></td>
                <td><input id="statistics[browsers]" name="statistics[]" type="checkbox" value="browsers"></td>
            </tr>
            <tr>
                <td><label for="statistics[os]">{TXT_OPERATING_SYSTEMS}</label></td>
                <td><input id="statistics[os]" name="statistics[]" type="checkbox" value="os"></td>
            </tr>
            <tr>
                <td><label for="statistics[search]">{TXT_SEARCH_TERMS}</label></td>
                <td><input id="statistics[search]" name="statistics[]" type="checkbox" value="search"></td>
            </tr>
            <tr>
                <td><label for="statistics[spiders]">{TXT_SEARCH_ENGINES}</label></td>
                <td><input id="statistics[spiders]" name="statistics[]" type="checkbox" value="spiders"></td>
            </tr>
            <tr>
                <td><label for="statistics[indexedPages]">{TXT_INDEXED_PAGES}</label></td>
                <td><input id="statistics[indexedPages]" name="statistics[]" type="checkbox" value="indexedPages"></td>
            </tr>
            <tr>
                <td><label for="statistics[resolution]">{TXT_SCREEN_RESOLUTION}</label></td>
                <td><input id="statistics[resolution]" name="statistics[]" type="checkbox" value="resolution"></td>
            </tr>
            <tr>
                <td><label for="statistics[colour]">{TXT_COLOUR_DEPTH}</label></td>
                <td><input id="statistics[colour]" name="statistics[]" type="checkbox" value="colour"></td>
            </tr>
            <tr>
                <td><label for="statistics[javascript]">{TXT_JAVASCRIPT_SUPPORT}</label></td>
                <td><input id="statistics[javascript]" name="statistics[]" type="checkbox" value="javascript"></td>
            </tr>

        </table>
        <input type="submit" name="delete_statistics" value="{TXT_RESET_STATISTIC}">
    </form>
</div>
<!-- end statsReset div -->
