<!-- START module_alias_list.html -->
<script>
  //<![CDATA[
  function alias_delete(id, title)
{
    strMsg = '{ALIAS_CONFIRM_DELETE_ALIAS_TXT}';
    if (confirm(strMsg.replace('%s', title)+'\n{ALIAS_OPERATION_IRREVERSIBLE_TXT}')) {
      window.location.href = '?cmd=Alias&{CSRF_PARAM}&act=delete&id='+id;
    }
  }
  //]]>
</script>

<!-- BEGIN htaccess_warning -->
<div class="warningbox">{TXT_ALIAS_IIS_HTACCESS_NOT_REGISTERED}</div>
<!-- END htaccess_warning -->

<div class="search-functions">
  <div>
    <form id="search_alias" method="get" action="index.php?cmd=Alias&amp;act=entries&amp;legacyPages={ALIAS_SHOW_LEGACY_PAGE_VALUE}">
      <input type="hidden" name="cmd" value="Alias">
      <input type="hidden" name="act" value="entries">
      <input type="hidden" name="legacyPages" value="{ALIAS_SHOW_LEGACY_PAGE_VALUE}">
      <input type="search" name="term" value="{ALIAS_SEARCH_TERM}" placeholder="{TXT_SEARCH}" class="search">
      <input type="submit" value="{TXT_SEARCH}">
    </form>
  </div>
</div>

<table class="adminlist">
  <caption>
    {TXT_ALIAS_ALIASES}
    <div class="functions">
      <!-- BEGIN alias_allow_add -->
      <a href="/cadmin/Alias/modify" title="{TXT_ALIAS_ADD_ALIAS}">
        <i class="fa-solid fa-plus"></i>
      </a>
      <!-- END alias_allow_add -->
    </div>
  </caption>
  <!-- BEGIN alias_show_legacy_pages -->
  <tr>
    <td colspan="3">
      <form action="" method="GET">
        <input type="hidden" name="cmd" value="Alias">
        <input type="checkbox" id="aliasLegacyPages" name="legacyPages" onchange="submit();" value="1" {ALIAS_SHOW_LEGACY_PAGE_ALIASES_CHECKED}>
        <label for="aliasLegacyPages">{TXT_ALIAS_SHOW_LEGACY_PAGE_ALIASES}</label>
      </form>
    </td>
  </tr>
  <!-- END alias_show_legacy_pages -->
  <!-- BEGIN alias_data -->
  <tr>
    <th>{TXT_ALIAS_ALIAS}</th>
    <th>{TXT_ALIAS_PAGE}</th>
    <th>{TXT_ALIAS_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN aliases_list -->
  <tr class="{ALIAS_ROW_CLASS}">
    <td>
      <!-- BEGIN alias_source_list -->
      {ALIAS_SOURCE_URL}<a href="{ALIAS_SOURCE_REAL_URL}" title="{TXT_ALIAS_OPEN_ALIAS_NEW_WINDOW}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <!-- BEGIN alias_source_not_set -->
      <span class="tooltip-trigger icon-warning" onclick="window.location.href='index.php?cmd=Alias&{CSRF_PARAM}&amp;act=rewriteRules'"></span><span class="tooltip-message">{TXT_ALIAS_NOT_ACTIVE_ALIAS_MSG}</span>
      <!-- END alias_source_not_set -->
      <!-- END alias_source_list -->
    </td>
    <td>{ALIAS_TARGET_TITLE}</td>
    <td>
      <!-- BEGIN alias_functions -->
      <a href="index.php?cmd=Alias&amp;act=modify&amp;id={ALIAS_TARGET_ID}" title="{TXT_ALIAS_MODIFY}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="javascript:void(0);" onclick="alias_delete({ALIAS_TARGET_ID},'{ALIAS_TARGET_TITLE}')" title="{TXT_ALIAS_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      <!-- END alias_functions -->
    </td>
  </tr>
  <!-- END aliases_list -->
  <!-- END alias_data -->
  <!-- BEGIN alias_no_data -->
  <tr>
    <td colspan="3">{TXT_ALIAS_NO_ALIASES_MSG}</td>
  </tr>
  <!-- END alias_no_data -->
</table>
{ALIAS_PAGING}
<!-- END module_alias_list.html -->
