<!-- START index_home.html -->
<script>
$J(document).ready(function() {
    $J('.box').each(function() {
        if (
            $J(this).find('ul li').length == 0 &&
            !$J(this).hasClass("nohide")
        ) {
            $J(this).hide();
            $J(this).next().addClass('spacer');
        }
    });

    $J('#news_delete, #stats_delete').click(function(event) {
        event.preventDefault();

        var elementId = $J(this).attr('id');
        if (elementId == 'news_delete') {
            var id = 'dashboardNews';
        } else {
            var id = 'dashboardStatistics';
        }
        $J.ajax({
            url: '/cadmin/Home/deactivateSetting',
            data: {id: id},
            success: function(data) {
                if (data == 'success') {
                    if (elementId == 'news_delete') {
                        $J('#news_message').hide();
                        $J('#alert_news_wrapper').fadeIn(500).delay(5000).fadeOut(500);
                    } else {
                        $J('#stats_wrapper').hide();
                        $J('#alert_stats').fadeIn(500).delay(5000).fadeOut(500);
                    }
                }
            }
        });
    });
});
</script>
<!-- BEGIN stats_javascript -->
<script>
$J(document).ready(function() {
    $J('#visitors_box').click(function() {
        location.href = 'index.php?cmd=Stats&stat=visitors&{CSRF}';
    });
    $J('#requests_box').click(function() {
        location.href = 'index.php?cmd=Stats&stat=requests&tpl=mvp&{CSRF}';
    });
    $J('#last_session_box').click(function() {
        location.href = 'index.php?cmd=SystemLog&{CSRF}';
    });

    var ticks      = {STATS_TICKS};
    var dates      = {STATS_DATES};
    var visitors   = {STATS_VISITORS};
    var requests   = {STATS_REQUESTS};
    var labels     = ['{TXT_VISITORS}', '{TXT_REQUESTS}'];
    var data       = new Array();
    data['dates']  = dates;
    data['labels'] = labels;

    var plot = $J.jqplot('chart', [visitors, requests], {
        seriesColors: ['#4EAA09', '#0C90D0'],
        seriesDefaults: {
            lineWidth: 2,
            markerOptions: {
                size: 6
            }
        },
        grid: {
            gridLineColor: '#EFEFEF',
            background: '#FFFFFF',
            borderColor: '#EFEFEF',
            shadow: false
        },
        legend: {
            show: true,
            labels: labels,
            placement: 'insideGrid'
        },
        axes: {
            xaxis: {
                renderer: $J.jqplot.CategoryAxisRenderer,
                tickRenderer: $J.jqplot.CanvasAxisTickRenderer,
                ticks: ticks,
                tickOptions: {
                    angle: -90,
                    fontSize: '10px',
                    showGridline: false
                }
            }
        },
        highlighter: {
            data: data,
            show: true,
            showMarker: false,
            tooltipAxes: 'data',
            tooltipLocation:  'n'
        }
    });
});
</script>
<!-- END stats_javascript -->
<style>
    #content.standalone #subnavbar_level1 {
        display: flex;
    }
</style>

<div id="dashboard">
    <div id="administrators_online">
        <i class="fa-solid fa-user-tie"></i>{TXT_ADMINISTRATORS_ONLINE}
        <!-- BEGIN online_admin -->
            <a href="/cadmin/Access/user?tpl=modify&id={ONLINE_ADMIN_ID}">
                {ONLINE_ADMIN_USERNAME}</a><!-- BEGIN online_admin_separator -->, <!-- END online_admin_separator -->
        <!-- END online_admin -->
    </div>
    <!-- BEGIN message -->
    <div class="{MESSAGE_TYPE}box">
        <a href="{MESSAGE_LINK}" target="{MESSAGE_LINK_TARGET}">{MESSAGE_TITLE}</a>
    </div>
    <!-- END message -->
    <div class="box-container">
        <!-- BEGIN news -->
        <div class="box-item">
            <h2>News</h2>
            <ul class="bs-callout bs-callout-info">
                <li>
                    <a href="{NEWS_LINK}" target="_blank">
                        <!-- BEGIN news_delete -->
                        <span id="news_delete" class="close">&times;</span>
                        <!-- END news_delete -->
                        <!-- BEGIN news_title -->
                        <h4>{NEWS_TITLE}</h4>
                        <!-- END news_title -->
                        <!-- BEGIN news_content -->
                        {NEWS_CONTENT}
                        <!-- END news_content -->
                    </a>
                </li>
            </ul>
        </div>
        <!-- END news -->

        <div id="alert_news_wrapper">
            <div class="alert alert-info">{TXT_DASHBOARD_NEWS_ALERT}</div>
        </div>
        <div class="box-item">
            <h2>{TXT_DASHBOARD_WELCOME}</h2>
            <ul>
                <li><a href="/index.php?caching=0" target="_blank">{TXT_FRONTEND}</a></li>
                <!-- BEGIN check_access_6 -->
                <li><a href="index.php?cmd=ContentManager">{TXT_CONTENT_MANAGER}</a></li><!-- END check_access_6 -->
                <!-- BEGIN check_access_84_2 -->
                <li><a href="index.php?cmd=Contact">{TXT_FORMS}</a></li><!-- END check_access_84_2 -->
                <!-- BEGIN check_access_17 -->
                <li><a href="index.php?cmd=Config">{TXT_SYSTEM_SETTINGS}</a></li><!-- END check_access_17 -->
                <!-- BEGIN check_access_18 -->
                <li><a href="index.php?cmd=Access">{TXT_USER_MANAGER}</a></li><!-- END check_access_18 -->
                <!-- BEGIN check_access_32 -->
                <li><a href="index.php?cmd=Media&amp;archive=content">{TXT_IMAGE_ADMINISTRATION}</a></li><!-- END check_access_32 -->
                <!-- BEGIN check_access_21 -->
                <li><a href="index.php?cmd=ViewManager">{TXT_SKINS}</a></li><!-- END check_access_21 -->
            </ul>
        </div>
        <div class="box-item">
            <h2>{TXT_DASHBOARD_NEED_HELP}</h2>
            <ul>
                <li><a href="https://support.cloudrexx.com" target="_blank">{TXT_DASHBOARD_HELP_CENTER}</a></li>
                <li><a href="https://status.cloudrexx.com" target="_blank">{TXT_DASHBOARD_SYSTEM_STATUS}</a></li>
                <li><a href="https://bugs.cloudrexx.com" target="_blank">{TXT_DASHBOARD_ISSUE_TRACKER}</a></li>
                <li><a href="https://doc.cloudrexx.com" target="_blank">{TXT_DASHBOARD_PLACEHOLDER_DOC}</a></li>
                <li><a href="https://dev.cloudrexx.com" target="_blank">{TXT_DASHBOARD_DEV_DOCS}</a></li>
            </ul>
        </div>
        <!-- BEGIN stats -->
        <div class="box-item" id="stats_wrapper">
            <h2 class="stats_title">
                {STATS_TITLE}
                <!-- BEGIN stats_delete -->
                <a href="#" id="stats_delete" class="close"><i class="fa-solid fa-xmark"></i></a>
                <!-- END stats_delete -->
            </h2>
            <ul>
                <li>{TXT_VISITORS}: {STATS_TOTAL_VISITORS}</li>
                <li>{TXT_REQUESTS}: {STATS_TOTAL_REQUESTS}</li>
                <li><!-- BEGIN last_login -->{TXT_LAST_LOGIN}: {LAST_LOGIN_TIME}<!-- END last_login --></li>
            </ul>
            <!-- Inline style definitions (width & height) are necessary for the jqplot plugin -->
            <div id="chart" style="width: 671px; height: 250px;"></div>
        </div>
        <!-- END stats -->
        <div id="alert_stats" class="infobox">
            {TXT_DASHBOARD_STATS_ALERT}
        </div>
    </div>
</div>
<!-- END index_home.html -->
