<!-- start setting.html -->
<!-- BEGIN core_setting_subnav -->
<div id="subnavbar_level2">
  <ul>{CONTENT_SUBNAVIGATION}</ul>
</div>
<!-- END core_setting_subnav -->
<!-- BEGIN core_setting_tab -->
<ul class="tabmenu" data-tablist="{CORE_SETTING_TAB_LIST}">
  <!-- BEGIN core_setting_tab_row -->
  <li><a href="#" data-tablink="setting_tab-{CORE_SETTING_TAB_INDEX}">{CORE_SETTING_TAB_NAME}</a></li>
  <!-- END core_setting_tab_row -->
</ul>
<!-- END core_setting_tab -->

<!-- BEGIN core_setting_tab_div -->
<div class="tab setting_tab-{CORE_SETTING_TAB_INDEX}" data-tablist="{CORE_SETTING_TAB_LIST}">
  <form name="formSettings-{CORE_SETTING_TAB_INDEX}" method="post" action="{URI_BASE}" {CORE_SETTING_ENCTYPE}>
    <input type="hidden" name="settingGroup" value="{CORE_SETTING_GROUP}">
    <!-- BEGIN core_setting_sections -->
    <!-- BEGIN core_setting_section -->
    <table class="adminlist splitview">
      <!-- BEGIN core_setting_row -->
      <!-- BEGIN core_setting_row_1 -->
      <tr class="row{CORE_SETTING_ROWCLASS1}">
        <td colspan="2">{CORE_SETTING_ROW}</td>
      </tr>
      <!-- END core_setting_row_1 -->
      <!-- BEGIN core_setting_row_2 -->
      <tr class="row{CORE_SETTING_ROWCLASS2}">
        <td>{CORE_SETTING_NAME}</td>
        <td>{CORE_SETTING_VALUE}</td>
      </tr>
      <!-- END core_setting_row_2 -->
      <!-- END core_setting_row -->
    </table>
    <!-- END core_setting_section -->
    <!-- END core_setting_sections -->
    <!-- BEGIN core_setting_submit -->
    <input type="submit" value="{TXT_CORE_SETTING_STORE}" name="bsubmit">
    <!-- END core_setting_submit -->
  </form>
</div>
<!-- END core_setting_tab_div -->

<!-- BEGIN core_setting_tab_div_external -->
<div class="tab setting_tab-{CORE_SETTING_TAB_INDEX}" data-tablist="{CORE_SETTING_TAB_LIST}">
  {CORE_SETTING_EXTERNAL}
</div>
<!-- END core_setting_tab_div_external -->
<!-- end setting.html -->
