<!-- START module_news_teasers_frames.html -->
<script>
  <!--
  function confirmDeleteFrame() {
    if (confirm('{TXT_CONFIRM_DELETE_TEASER_BOX}')) {
      return true;
    } else {
      return false;
    }
  }
  // -->
</script>
<table class="adminlist">
  <caption>
      <div class="functions">
          <a href="/cadmin/News/settings?tpl=teasers&tpl2=editFrame" title="{TXT_ADD_BOX}">
              <i class="fa-solid fa-plus"></i>
          </a>
      </div>
  </caption>
  <tr>
    <th>{TXT_BOX_NAME}</th>
    <th>{TXT_PLACEHOLDER}</th>
    <th>{TXT_BOX_TEMPLATE}</th>
    <th>{TXT_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN news_teaser_frames_list -->
  <tr class="{NEWS_TEASER_FRAME_ROW_CLASS}">
    <td><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrame&amp;frameId={NEWS_TEASER_FRAME_ID}" title="{TXT_SHOW_TEASER_BOX}">{NEWS_TEASER_FRAME_NAME}</a></td>
    <td>{NEWS_TEASER_FRAME_TEMPLATE_PLACEHOLDER}</td>
    <td><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" title="{TXT_EDIT_BOX_TEMPLATE}">{NEWS_TEASER_FRAME_TPL_NAME}</a></td>
    <td>
      <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrame&amp;frameId={NEWS_TEASER_FRAME_ID}" title="{TXT_EDIT_TEASER_BOX}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=deleteFrame&amp;id={NEWS_TEASER_FRAME_ID}" onclick="return confirmDeleteFrame()" title="{TXT_DELETE_TEASER_BOX}"><i class="fa-regular fa-trash-can"></i></a>
    </td>
  </tr>
  <!-- END news_teaser_frames_list -->
</table>
<!-- END module_news_teasers_frames.html -->
