<!-- START module_news_overview.html -->
<script>
  <!--
    function deletePage(pageId)
  {
      if (confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd=News&{CSRF_PARAM}&act=delete&newsId="+pageId);
      }
    }

  $J(document).ready(function() {
    var elementIds = "#categoryFilter, #monthFilter";
    $J(elementIds).change(function(){
      var url = "index.php?cmd=News&{CSRF_PARAM}&show=archive";
      $J(elementIds).each(function() {
        url += "&" + $J(this).attr("id") + "=" + $J(this).val();
      });
      window.location.replace(url);
    });
  });

  //-->
</script>
<!-- BEGIN newstable -->
<!-- BEGIN news_tabmenu -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="newsTab_newsMessage1" href="#">{TXT_ARCHIVE}</a></li>
  <li><a data-tablink="newsTab_newsMessage2" href="#">{TXT_INVALIDATED_ENTRIES}</a></li>
</ul>
<!-- END news_tabmenu -->
<!-- start newsMessage1 div -->
<div class="tab newsTab_newsMessage1" data-tablist="default">
  <table class="adminlist">
    <caption>
      {TXT_ARCHIVE}
      <div class="functions">
        <a href="/cadmin/News/add" title="{TXT_CREATE_NEWS}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <!-- BEGIN news_none -->
    <tr>
        <td>{TXT_NEWS_NO_ENTRIES}</td>
    </tr>
    <!-- END news_none -->
    <!-- BEGIN news_list -->
    <tr>
      <th>{TXT_ID}</th>
      <th>{TXT_STATUS}</th>
      <th>{TXT_TITLE}</th>
      <th>
        <!-- BEGIN txt_languages_block -->
        {TXT_LANGUAGE}
        <!-- END txt_languages_block -->
      </th>
      <th>
        <select id="categoryFilter">
          <option value="0">{TXT_CATEGORY}</option>
          {NEWS_CATEGORY_OPTIONS}
        </select>
      </th>
      <!-- BEGIN news_type_label -->
      <th>{TXT_NEWS_TYPE}</th>
      <!-- END news_type_label -->
      <th>{TXT_USER}</th>
      <th>
        <select id="monthFilter">
          <option value="0">{TXT_DATE}</option>
          <!-- BEGIN month_navigation_item -->
          <option value="{NEWS_MONTH_KEY}" {NEWS_MONTH_SELECTED}> {NEWS_MONTH_NAME}</option>
          <!-- END month_navigation_item -->
        </select>
      </th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN newsrow -->
    <tr class="{NEWS_CLASS}">
      <td><code>{NEWS_ID}</code></td>
      <td>
        <a href="?cmd=News&amp;act=invertStatus&amp;newsId={NEWS_ID}" title="{NEWS_ACTIVATE} | {NEWS_DEACTIVATE}">
          <img src="/core/Core/View/Media/icons/{NEWS_STATUS_PICTURE}" alt="{NEWS_ACTIVATE} | {NEWS_DEACTIVATE}" title="{NEWS_ACTIVATE} | {NEWS_DEACTIVATE}">
        </a>
        <!-- BEGIN news_message_protected_icon --><i class="fa-solid fa-lock"></i><!-- END news_message_protected_icon -->
      </td>
      <td><a href="?cmd=News&amp;act=edit&amp;newsId={NEWS_ID}">{NEWS_TITLE}</a></td>
      <td>{NEWS_LANGUAGES}</td>
      <td>{NEWS_CATEGORY}</td>
      <!-- BEGIN news_type_data -->
      <td>{NEWS_TYPE}</td>
      <!-- END news_type_data -->
      <td><span class="tooltip-trigger">{NEWS_USER}</span><span class="tooltip-message">{TXT_LAST_EDIT}:{NEWS_CHANGELOG}</span></td>
      <td>{NEWS_DATE}</td>
      <td>
        <a href="{NEWS_PREVIEW_LINK_HREF}" target="_blank" title="{TXT_NEWS_PREVIEW}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <!-- BEGIN news_comments_data -->
        <a href="index.php?cmd=News&amp;act=comments&amp;newsId={NEWS_ID}" title="{TXT_NEWS_NUMBER_OF_COMMENTS}: {NEWS_COMMENTS_COUNT}"><i class="fa-regular fa-comment-dots"></i></a>
        <!-- END news_comments_data -->
        <a href="?cmd=News&amp;act=copy&amp;newsId={NEWS_ID}" title="{TXT_COPY}"><i class="fa-regular fa-copy"></i></a>
        <a href="?cmd=News&amp;act=edit&amp;newsId={NEWS_ID}" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deletePage({NEWS_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END newsrow -->
    <!-- END news_list -->
  </table>
  {NEWS_LIST_PARSING}
</div>
<!-- end newsMessage1 div -->
<!-- END newstable -->
<!-- BEGIN news_validator -->
<!-- start newsMessage2 div -->
<div class="tab newsTab_newsMessage2" data-tablist="default">
  <table class="adminlist">
    <caption>
      {TXT_INVALIDATED_ENTRIES}
      <div class="functions">
        <a href="/cadmin/News/add" title="{TXT_CREATE_NEWS}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>{TXT_STATUS}</th>
      <th>{TXT_TITLE}</th>
      <th>
        <!-- BEGIN txt_languages_block_invalidated -->{TXT_LANGUAGE}
        <!-- END txt_languages_block_invalidated -->
      </th>
      <th>{TXT_CATEGORY}</th>
      <th>{TXT_USER}</th>
      <th>{TXT_DATE}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN news_validator_row -->
    <tr class="{NEWS_CLASS}">
      <td><img src="/core/Core/View/Media/icons/{NEWS_STATUS_PICTURE}" alt="{NEWS_STATUS}"></td>
      <td><a href="?cmd=News&amp;act=edit&amp;newsId={NEWS_ID}&amp;validate=true">{NEWS_TITLE}</a></td>
      <td>{NEWS_LANGUAGES}</td>
      <td>{NEWS_CATEGORY}</td>
      <td><span class="tooltip-trigger">{NEWS_USER}</span><span class="tooltip-message">{TXT_LAST_EDIT}:{NEWS_CHANGELOG}</span></td>
      <td>{NEWS_DATE}</td>
      <td>
        <a href="?cmd=News&amp;act=edit&amp;newsId={NEWS_ID}&amp;validate=true" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deletePage({NEWS_ID})" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END news_validator_row -->
  </table>
  {NEWS_LIST_UNVALIDATED_PARSING}
</div>
<!-- end newsMessage2 div -->
<!-- END news_validator -->
<!-- END module_news_overview.html -->
