<!-- START module_news_teasers_modify_frame_template.html -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="frameTemplateTab_newsTeasers1" class="active" href="#">{NEWS_TEASER_TITLE_TXT}</a></li>
    <li><a data-tablink="frameTemplateTab_newsTeasers2" href="#">{TXT_PLACEHOLDER_DIRECTORY}</a></li>
</ul>
<!-- start newsTeasers1 div -->
<div class="tab frameTemplateTab_newsTeasers1" data-tablist="default">
    <form action="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=updateFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" method="post">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_NAME}</td>
                <td><input type="text" name="teaserFrameTplDescription" maxlength="100" value="{NEWS_TEASER_FRAME_TPL_DESCRIPTION}"></td>
            </tr>
            <tr>
                <td><label for="teaserFrameTplSource">{TXT_SOURCE_CODE_MODE}</label></td>
                <td><input type="checkbox" {NEWS_TEASER_FRAME_TPL_SOURCE_CHECKED} value="1" name="teaserFrameTplSource" id="teaserFrameTplSource" onclick="window.location.replace('index.php?cmd=News&{CSRF_PARAM}&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}&amp;source='+Number(this.checked))"></td>
            </tr>
            <tr class="reset">
                <td>{TXT_DESCRIPTION}</td>
                <td>{NEWS_TEASER_FRAME_TEMPLATE_WYSIWYG}</td>
            </tr>
        </table>
        <a class="button secondary" href="/cadmin/News/settings?tpl=teasertemplates">{TXT_CANCEL}</a>
        <input type="submit" name="saveTeaserFrameTemplate" value="{TXT_SAVE}">
    </form>
</div>
<!-- end newsTeasers1 div -->
<!-- start newsTeasers2 div -->
<div class="tab frameTemplateTab_newsTeasers2" data-tablist="default">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_CATEGORY}</td>
            <td><code>[[TEASER_CATEGORY]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[TEASER_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[TEASER_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TIME_DESCRIPTION}</td>
            <td><code>[[TEASER_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[TEASER_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_DESCRIPTION}</td>
            <td><code>[[TEASER_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[TEASER_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEXT_DESCRIPTION}</td>
            <td><code>[[TEASER_FULL_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[TEASER_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_EXT_LINK_DESCRIPTION}</td>
            <td><code>[[TEASER_EXT_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_PATH_DESCRIPTION}</td>
            <td><code>[[TEASER_IMAGE_PATH]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_LINK_ROW_DESCRIPTION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN teaser_link --&gt;
&lt;!-- END teaser_link --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_TEASER_ROW_DESCRIPTION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN teaser_1-n --&gt;
&lt;!-- END teaser_1-n --&gt;</code></pre>
            </td>
        </tr>
    </table>
</div>
<!-- end newsTeasers2 div -->
<!-- END module_news_teasers_modify_frame_template.html -->
