<!-- START module_news_settings_general.html -->
<script>
    // <[![CDATA
    function SetUrl(data) {
        if (data.type === 'file') {
            var url = data.data[0].datainfo.filepath;
            document.getElementById('newsFeedImage').value = url;
        }
    }

    function  toggleLangFields(link)
{
        $J(link).next('div.news_feed_lang_div').toggle();
    }

    function updateLangName(input)
{
        $J(input).siblings('div.news_feed_lang_div').find('input').attr('value', $J(input).attr('value'));
    }
    function swapBlock( div,status ) {
        if(status == 1){
            document.getElementById( div ).style.display ='';
        }else{
            document.getElementById( div ).style.display ='none';
        }
    }
    function SelectAllList(CONTROL) {
        for(var i = 0;i < CONTROL.length;i++)
    {
            CONTROL.options[i].selected = true;
        }
    }
    function DeselectAllList(CONTROL) {
        for(var i = 0;i < CONTROL.length;i++)
    {
            CONTROL.options[i].selected = false;
        }
    }
    function AddToTheList(from,dest,add,remove) {
        if ( from.selectedIndex < 0){
            if (from.options[0] != null)
                from.options[0].selected = true;
            from.focus();
            return false;
        }else{
            for (var i=0; i<from.length; i++) {
                if (from.options[i].selected)
            {
                    dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);
                }
            }
            for (var i=from.length-1; i>=0; i--) {
                if (from.options[i].selected)
            {
                    from.options[i] = null;
                }
            }
        }
        disableButtons(from,dest,add,remove);
    }
    function RemoveFromTheList(from,dest,add,remove) {
        if ( dest.selectedIndex < 0){
            if (dest.options[0] != null)
                dest.options[0].selected = true;
            dest.focus();
            return false;
        }
        else{
            for (var i=0; i<dest.options.length; i++)
        {
                if (dest.options[i].selected)
            {
                    from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);
                }
            }
            for (var i=dest.options.length-1; i>=0; i--)
        {
                if (dest.options[i].selected)
            {
                    dest.options[i] = null;
                }
            }
        }
        disableButtons(from,dest,add,remove);
    }
    function disableButtons(from,dest,add,remove) {
        if (from.options.length > 0 )
    {
            add.disabled = 0;
        }
        else
            add.disabled = 1;

        if (dest.options.length > 0)
            remove.disabled = 0;
        else
            remove.disabled = 1;
    }
    function preSubmitCheck(){
        SelectAllList(document.settings.elements['newsAssignedAuthorGroups[]']);
        SelectAllList(document.settings.elements['newsAssignedPublisherGroups[]']);
        return true;
    }
    // ]]>
</script>
<form action="index.php?cmd=News&amp;act=settings&amp;tpl=general" method="post" name="settings" onsubmit="return preSubmitCheck()">
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_FEED_STATUS}</td>
            <td>
                <input name="newsFeedStatus" type="checkbox" id="newsFeed" value="1" {NEWS_FEED_STATUS}>
                {NEWS_FEED_ICON}
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_FEED_TITLE}</td>
            <td>
                <input type="text" value="{NEWS_FEED_TITLE}" maxlength="250" onchange="updateLangName(this);">
                <a href="#" onclick="toggleLangFields(this);" title="{TXT_NEWS_EXTENDED}">{TXT_NEWS_EXTENDED}</a>
                <div class="news_feed_lang_div" style="display:none;">
                    <!-- BEGIN news_feed_title_list -->
                    <input type="text" name="newsFeedTitle[{NEWS_FEED_TITLE_LANG_ID}]" id="newsFeedTitle[{NEWS_FEED_TITLE_LANG_ID}]" value="{NEWS_FEED_TITLE_VALUE}" maxlength="250">{NEWS_FEED_LANG_NAME}<br>
                    <!-- END news_feed_title_list -->
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_FEED_DESCRIPTION}</td>
            <td>
                <input type="text" value="{NEWS_FEED_DESCRIPTION}" maxlength="250" onchange="updateLangName(this);">
                <a href="#" onclick="toggleLangFields(this);" title="{TXT_NEWS_EXTENDED}">{TXT_NEWS_EXTENDED}</a>
                <div class="news_feed_lang_div" style="display:none;">
                    <!-- BEGIN news_feed_description_list -->
                    <input type="text" name="newsFeedDescription[{NEWS_FEED_DESCRIPTION_LANG_ID}]" id="newsFeedDescription[{NEWS_FEED_DESCRIPTION_LANG_ID}]" value="{NEWS_FEED_DESCRIPTION_VALUE}" maxlength="250">{NEWS_FEED_LANG_NAME}<br>
                    <!-- END news_feed_description_list -->
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_FEED_IMAGE}</td>
            <td><input name="newsFeedImage" id="newsFeedImage" type="text" value="{NEWS_FEED_IMAGE}">{NEWS_MEDIA_BROWSER_BROWSE_BUTTON}</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_HEADLINES_LIMIT}</td>
            <td><input name="headlinesLimit" type="number" id="headlinesLimit" value="{NEWS_HEADLINES_LIMIT}" maxlength="2" class="compact"></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TOP}</td>
            <td>
                <input type="checkbox" name="newsUseTop" id="newsUseTop" {NEWS_USE_TOP_CHECKED} value="1" onclick="swapBlock('newsMessageTopConfig',this.checked)">
                <label for="newsUseTop">{TXT_NEWS_TOP_LABEL}</label>
                <div id="newsMessageTopConfig" style="display:{NEWS_MESSAGE_TOP_DISPLAY};">
                    <label for="newsTopDays">{TXT_NEWS_TOP_DAYS}:</label>
                    <input name="newsTopDays" type="number" id="newsTopDays" value="{NEWS_TOP_DAYS}" class="compact">{TXT_NEWS_DAYS}<br>
                    <label for="newsTopLimit">{TXT_NEWS_TOP_LIMIT}:</label>
                    <input name="newsTopLimit" type="number" id="newsTopLimit" value="{NEWS_TOP_LIMIT}" class="compact">
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_SUBMIT_NEWS}</td>
            <td>
                <input type="checkbox" name="newsSubmitNews" {NEWS_SUBMIT_NEWS} id="newsSubmitNews" value="1" onclick="swapBlock('news_submit_news_configuration',this.checked)">
                <label for="newsSubmitNews">{TXT_ALLOW_USERS_SUBMIT_NEWS}</label>
                <div id="news_submit_news_configuration" style="display:{NEWS_SUBMIT_NEWS_CONFIGURATION_DISPLAY};">
                    <input type="checkbox" name="newsSubmitOnlyCommunity" {NEWS_SUBMIT_ONLY_COMMUNITY} id="newsSubmitOnlyCommunity" value="1">
                    <label for="newsSubmitOnlyCommunity">{TXT_ALLOW_ONLY_MEMBERS_SUBMIT_NEWS}</label><br>
                    <input type="checkbox" name="newsActivateSubmittedNews" {NEWS_ACTIVATE_SUBMITTED_NEWS} id="newsActivateSubmittedNews" value="1">
                    <label for="newsActivateSubmittedNews">{TXT_AUTO_ACTIVATE_SUBMITTED_NEWS}</label><br>
                    <label for="newsNotifySelectedGroup">{TXT_NOTIFY_GROUP}</label>
                    <select name="newsNotifySelectedGroup" {NEWS_NOTIFY_SELECTED_GROUP} id="newsNotifySelectedGroup">
                        {NEWS_NOTIFY_GROUP_LIST}
                    </select>
                    <label for="newsNotifySelectedUser">{TXT_NOTIFY_USER}</label>
                    <select name="newsNotifySelectedUser" {NEWS_NOTIFY_SELECTED_GROUP} id="newsNotifySelectedUser">
                        {NEWS_NOTIFY_USER_LIST}
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_USE_TEASERS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_DEFAULT_TEASERS_HELP}</span></td>
            <td>
                <input type="checkbox" name="newsUseTeasers" id="newsUseTeasers" {NEWS_USE_TEASERS_CHECKED} value="1" onclick="swapBlock('news_teasers_configuration',this.checked);">
                <label for="newsUseTeasers">{TXT_NEWS_ACTIVE}</label>
                <div id="news_teasers_configuration" style="display:{NEWS_USE_TEASERS_CONFIGURATION_DISPLAY};">
                    {TXT_NEWS_DEFAULT_TEASERS}:<br>
                    <!-- BEGIN defaultTeasers -->
                    <input type="checkbox" name="newsDefaultTeaserSelected[{NEWS_TEASER_ID}]" id="newsDefaultTeaserSelected_{NEWS_TEASER_ID}" value="1" {NEWS_TEASER_CHECKED}>
                    <label for="newsDefaultTeaserSelected_{NEWS_TEASER_ID}">{NEWS_TEASER_NAME}</label><br>
                    <!-- END defaultTeasers -->
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_USE_TEASER_TEXT}</td>
            <td>
                <input type="checkbox" name="newsUseTeaserText" id="newsUseTeaserText" {NEWS_USE_TEASER_TEXT_CHECKED} value="1">
                <label for="newsUseTeaserText">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USE_TAGS}</td>
            <td>
                <input type="checkbox" name="newsUseTags" id="newsUseTags" {NEWS_USE_TAGS_CHECKED} value="1">
                <label for="newsUseTags">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SETTINGS_USE_RELATED_NEWS}</td>
            <td>
                <input type="checkbox" name="useRelatedNews" id="useRelatedNews" {NEWS_USE_RELATED_NEWS_CHECKED} value="1">
                <label for="useRelatedNews">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USE_PREVIOUS_NEXT_LINK}</td>
            <td>
                <input type="checkbox" name="newsUsePreviousNextLink" id="newsUsePreviousNextLink" {NEWS_USE_PREVIOUS_NEXT_LINK_CHECKED} value="1">
                <label for="newsUsePreviousNextLink">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SETTINGS_USE_TYPES}</td>
            <td>
                <input type="checkbox" name="newsUseTypes" id="newsUseTypes" {NEWS_USE_TYPES_CHECKED} value="1">
                <label for="newsUseTypes">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PROTECTION}</td>
            <td>
                <input type="checkbox" name="newsMessageProtection" id="newsMessageProtection" {NEWS_MESSAGE_PROTECTION_CHECKED} value="1" onclick="swapBlock('newsMessageProtectionRestrictedConfig',this.checked);swapBlock('newsMessageProtectionRedirect',this.checked);">
                <label for="newsMessageProtection">{TXT_NEWS_ACTIVE}</label>
                <div id="newsMessageProtectionRestrictedConfig" style="display:{NEWS_MESSAGE_PROTECTION_RESTRICTED_DISPLAY};">
                    <input type="checkbox" name="newsMessageProtectionRestricted" id="newsMessageProtectionRestricted" {NEWS_MESSAGE_PROTECTION_RESTRICTED_CHECKED} value="1">
                    <label for="newsMessageProtectionRestricted">{TXT_NEWS_MESSAGE_PROTECTION_RESTRICTED}</label>
                </div>
            </td>
        </tr>
        <tr id="newsMessageProtectionRedirect" style="display:{NEWS_MESSAGE_PROTECTION_RESTRICTED_DISPLAY};">
            <td>{TXT_NEWS_SETTINGS_LOGIN_REDIRECT}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_LOGIN_REDIRECT_HELP}</span></td>
            <td>
                <input type="checkbox" name="newsLoginRedirect" id="newsLoginRedirect" {NEWS_LOGIN_REDIRECT} value="1">
                <label for="newsLoginRedirect">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SETTINGS_USE_COMMENTS}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_COMMENTS_ALLOW_HELP}</span></td>
            <td>
                <input type="checkbox" name="newsCommentsAllow" id="newsCommentsAllow" value="1" {NEWS_SETTINGS_COMMENTS_STATUS_CHECKED} onclick="swapBlock('news_comments_configuration',this.checked);">
                <label for="newsCommentsAllow">{TXT_NEWS_ACTIVE}</label>
                <div style="display:{NEWS_COMMENTS_STATUS_STYLE}" id="news_comments_configuration">
                    <input type="checkbox" name="newsCommentsAllowAnonymous" id="newsCommentsAllowAnonymous" value="1" {NEWS_SETTINGS_COMMENTS_ALLOW_ANONYMOUS_CHECKED}>
                    <label for="newsCommentsAllowAnonymous">{TXT_NEWS_SETTINGS_COMMENTS_ALLOW_ANONYMOUS}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_COMMENTS_ALLOW_ANONYMOUS_HELP}</span><br>
                    <input type="checkbox" name="newsCommentsAutoActivate" id="newsCommentsAutoActivate" value="1" {NEWS_SETTINGS_COMMENTS_AUTO_ACTIVATE_CHECKED}>
                    <label for="newsCommentsAutoActivate">{TXT_NEWS_SETTINGS_COMMENTS_AUTO_ACTIVATE}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_COMMENTS_AUTO_ACTIVATE_HELP}</span><br>
                    <input type="checkbox" name="newsCommentsNotification" id="newsCommentsNotification" value="1" {NEWS_SETTINGS_COMMENTS_NOTIFICATION_CHECKED}>
                    <label for="newsCommentsNotification">{TXT_NEWS_SETTINGS_COMMENTS_NOTIFICATION}</label>
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_COMMENTS_NOTIFICATION_HELP}</span><br>
                    <label for="newsCommentsTimeout">{TXT_NEWS_SETTINGS_COMMENTS_TIMEOUT}:</label>
                    <input type="number" name="newsCommentsTimeout" id="newsCommentsTimeout" value="{NEWS_SETTINGS_COMMENTS_TIMEOUT}" class="compact">{TXT_NEWS_SECOND_UNIT}
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_COMMENTS_TIMEOUT_HELP}</span><br>
                    <label for="recentNewsMessageLimit">{TXT_NEWS_RECENT_MESSAGES_LIMIT}:</label>
                    <input name="recentNewsMessageLimit" type="number" id="recentNewsMessageLimit" value="{NEWS_RECENT_MESSAGES_LIMIT}" class="compact" maxlength="2">
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWS_SETTINGS_RECENT_MESSAGES_LIMIT_HELP}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SETTINGS_USE_THUMBNAILS}</td>
            <td>
                <input type="checkbox" name="newsUseThumbnails" id="newsUseThumbnails" {NEWS_USE_THUMBNAILS} value="1">
                <label for="newsUseThumbnails">{TXT_NEWS_ACTIVE}</label>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_SELECTION}</td>
            <td>
                <input value="0" id="noFilterAuthor" name="newsFilterAuthor" type="radio" onclick="swapBlock('filterAuthorGroups',0);" {NEWS_FILTER_AUTHOR_INACTIVE}>
                <label for="noFilterAuthor">{TXT_NEWS_LIST_ALL}</label><br>
                <input value="1" id="yesFilterAuthor" name="newsFilterAuthor" type="radio" onclick="swapBlock('filterAuthorGroups',1);" {NEWS_FILTER_AUTHOR_ACTIVE}>
                <label for="yesFilterAuthor">{TXT_NEWS_LIST_SELECTED}</label>
                <div class="multiselect" id="filterAuthorGroups" style="display:{NEWS_FILTER_AUTHOR_DISPLAY};">
                    <div><br>
                        {TXT_NEWS_AVAILABLE_GROUPS}<br>
                        <select name="newsExistingAuthorGroups[]" size="15" multiple="multiple">
                            {NEWS_EXISTING_AUTHOR_GROUPS}
                        </select><br>
                        <a href="javascript:void(0);" onclick="SelectAllList(document.settings.elements['newsExistingAuthorGroups[]'])">{TXT_NEWS_CHECK_ALL}</a><br>
                        <a href="javascript:void(0);" onclick="DeselectAllList(document.settings.elements['newsExistingAuthorGroups[]'])">{TXT_NEWS_UNCHECK_ALL}</a>
                    </div>
                    <div>
                        <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.settings.elements['newsExistingAuthorGroups[]'],document.settings.elements['newsAssignedAuthorGroups[]'],adduser,removeuser);">
                        <input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.settings.elements['newsExistingAuthorGroups[]'],document.settings.elements['newsAssignedAuthorGroups[]'],adduser,removeuser);">
                    </div>
                    <div><br>
                        {TXT_NEWS_ASSIGNED_GROUPS}<br>
                        <select name="newsAssignedAuthorGroups[]" size="15" multiple="multiple">
                            {NEWS_ASSIGNED_AUTHOR_GROUPS}
                        </select><br>
                        <a href="javascript:void(0);" onclick="SelectAllList(document.settings.elements['newsAssignedAuthorGroups[]'])">{TXT_NEWS_CHECK_ALL}</a><br>
                        <a href="javascript:void(0);" onclick="DeselectAllList(document.settings.elements['newsAssignedAuthorGroups[]'])">{TXT_NEWS_UNCHECK_ALL}</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PUBLISHER_SELECTION}</td>
            <td>
                <input value="0" id="noFilterPublisher" name="newsFilterPublisher" type="radio" onclick="swapBlock('filterPublisherGroups',0);" {NEWS_FILTER_PUBLISHER_INACTIVE}>
                <label for="noFilterPublisher">{TXT_NEWS_LIST_ALL}</label><br>
                <input value="1" id="yesFilterPublisher" name="newsFilterPublisher" type="radio" onclick="swapBlock('filterPublisherGroups',1);" {NEWS_FILTER_PUBLISHER_ACTIVE}>
                <label for="yesFilterPublisher">{TXT_NEWS_LIST_SELECTED}</label>
                <div class="multiselect" id="filterPublisherGroups" style="display:{NEWS_FILTER_PUBLISHER_DISPLAY};">
                    <div><br>
                        {TXT_NEWS_AVAILABLE_GROUPS}<br>
                        <select name="newsExistingPublisherGroups[]" size="15" multiple="multiple">
                            {NEWS_EXISTING_PUBLISHER_GROUPS}
                        </select><br>
                        <a href="javascript:void(0);" onclick="SelectAllList(document.settings.elements['newsExistingPublisherGroups[]'])">{TXT_NEWS_CHECK_ALL}</a><br>
                        <a href="javascript:void(0);" onclick="DeselectAllList(document.settings.elements['newsExistingPublisherGroups[]'])">{TXT_NEWS_UNCHECK_ALL}</a>
                    </div>
                    <div>
                        <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.settings.elements['newsExistingPublisherGroups[]'],document.settings.elements['newsAssignedPublisherGroups[]'],adduser,removeuser);">
                        <input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.settings.elements['newsExistingPublisherGroups[]'],document.settings.elements['newsAssignedPublisherGroups[]'],adduser,removeuser);">
                    </div>
                    <div><br>
                        {TXT_NEWS_ASSIGNED_GROUPS}<br>
                        <select name="newsAssignedPublisherGroups[]" size="15" multiple="multiple">
                            {NEWS_ASSIGNED_PUBLISHER_GROUPS}
                        </select><br>
                        <a href="javascript:void(0);" onclick="SelectAllList(document.settings.elements['newsAssignedPublisherGroups[]'])">{TXT_NEWS_CHECK_ALL}</a><br>
                        <a href="javascript:void(0);" onclick="DeselectAllList(document.settings.elements['newsAssignedPublisherGroups[]'])">{TXT_NEWS_UNCHECK_ALL}</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" name="store" value="{TXT_STORE}">
</form>
<!-- END module_news_settings_general.html -->
