<!-- START module_news_teasers_show_frame.html -->
<script>
  <!--
    function confirmDeleteTeaser()
    {
      if (confirm('TXT_Möchten Sie diesen Teaser wirklich entfernen?')) {
        return true;
      } else {
        return false;
      }
    }
  
    function confirmDeleteFrame()
    {
      if (confirm('TXT_Möchten Sie diesen Teaser Rahmen wirklick löschen?')) {
        return true;
      } else {
        return false;
      }
    }
  // -->
</script>
<form action="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=frames" method="post">
  <table class="adminlist">
    <tr>
      <th>TXT_Teaser Frame Vorschau</th>
    </tr>
  </table>
  {NEWS_TEASER_FRAME}
  <input type="submit" name="cancel" value="TXT_Zurück">
</form>
<!-- END module_news_teasers_show_frame.html -->
