<!-- START module_news_comment_edit.html -->
<form name="editComment" id="editComment" method="post" action="">
  <table class="adminlist splitview">
    <caption>{TXT_NEWS_COMMENT_EDIT_TITLE}</caption>
    <tr>
      <td>{TXT_NEWS_COMMENT_EDIT_DATE}</td>
      <td>{COMMENT_DATE}</td>
    </tr>
    <tr>
      <td>{TXT_NEWS_COMMENT_EDIT_AUTHOR}</td>
      <td>{COMMENT_AUTHOR}</td>
    </tr>
    <tr>
      <td>{TXT_NEWS_COMMENT_TITLE}</td>
      <td><input maxlength="250" type="text" name="cTitle" value="{COMMENT_TITLE}"></td>
    </tr>
    <tr>
      <td>{TXT_NEWS_COMMENT_MESSAGE}</td>
      <td><textarea name="cMessage" cols="55" rows="8">{COMMENT_MESSAGE}</textarea></td>
    </tr>
  </table>
  <input type="hidden" name="saveComment" value="1">
  <input type="submit" value="{TXT_NEWS_COMMENT_SAVE}">
</form>
<!-- END module_news_comment_edit.html -->
