<!-- START module_news_category.html -->
<script>
  <!-- // confirm delete variable
  function deleteCategory(id)
  {
    if (confirm('{TXT_CONFIRM_DELETE_WITH_SUBENTRIES}\n{TXT_ACTION_IS_IRREVERSIBLE} {TXT_ATTENTION_SYSTEM_FUNCTIONALITY_AT_RISK}'))
      window.location.replace("/cadmin/News/category/delete?{CSRF_PARAM}&catId="+id);
  }
  
  function  toggleCatName(link)
  {
    $J(link).next('div.category_name_lang_div').toggle();
  }
  
  function updateLangName(input)
  {
    $J(input).siblings('div.category_name_lang_div').find('input').attr('value', $J(input).attr('value'));
  }
  // -->
</script>
<!-- BEGIN newsCatAdd -->
<form name="form1" method="post" action="/cadmin/News/category">
  <input type="hidden" name="addCat" value="true">
  <table class="adminlist splitview">
    <caption>{TXT_ADD_NEW_CATEGORY}</caption>
    <tr>
      <td>{TXT_NAME}</td>
      <td><input type="text" name="newCategoryName" maxlength="250"></td>
    </tr>
    <tr>
      <td>{TXT_NEWS_PARENT_CATEGORY}</td>
      <td>
        <select name="newCategoryParentId">
          <option value="0" selected="selected">{TXT_NEWS_NEW_MAIN_CATEGORY}</option>
          {NEWS_CATEGORIES}
        </select>
      </td>
    </tr>
  </table>
  <a href="/cadmin/News/category" class="button secondary">{TXT_CANCEL}</a>
  <input type="submit" name="submit" value="{TXT_SAVE}">
</form>
<!-- END newsCatAdd -->
<!-- BEGIN newsCatList -->
<form name="form2" method="post" action="/cadmin/News/category">
  <table class="adminlist">
    <caption>
        {TXT_CATEGORY_LIST}
        <div class="functions">
            <a href="/cadmin/News/category/new" title="{TXT_ADD_NEW_CATEGORY}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </caption>
    <!-- BEGIN newsCatNone -->
    <tr>
        <td>{TXT_NEWS_NO_ENTRIES}</td>
    </tr>
    <!-- END newsCatNone -->
    <!-- BEGIN newsCats -->
    <tr>
      <th>{TXT_ID}</th>
      <th>{TXT_CORE_SORTING_ORDER}</th>
      <th>{TXT_NAME}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN newsRow -->
    <tr class="{NEWS_ROWCLASS}">
      <td><code>{NEWS_CAT_ID}</code></td>
      <td><input type="number" maxlength="5" value="{NEWS_CAT_SORT}" name="newsCatSorting[{NEWS_CAT_ID}]" class="compact"></td>
      <td><span style="padding-left: {NEWS_LEVEL_SPACING}px"><a href="/cadmin/News/category/edit?id={NEWS_CAT_ID}" title="{TXT_EDIT}">{NEWS_CAT_NAME}</a></span></td>
      <td>
        <a href="javascript:void(0);" class="news_category_switch {NEWS_CAT_ICON_CLASS}" data-id="{NEWS_CAT_ID}" title="{TXT_NEWS_SWITCH_VISIBILITY}"></a>
        <a href="/cadmin/News/category/edit?id={NEWS_CAT_ID}" title="{TXT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deleteCategory('{NEWS_CAT_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END newsRow -->
    <!-- END newsCats -->
  </table>
  <!-- BEGIN newsCatSubmit -->
  <input type="submit" value="{TXT_SAVE}">
  <!-- END newsCatSubmit -->
</form>
<!-- END newsCatList -->
<!-- END module_news_category.html -->
