<!-- start module_news_ticker_list.html -->
<script>
  // <[CDATA[
    function newsDeleteTicker(id, name) {
        strMsg = '{TXT_NEWS_CONFIRM_DELETE_TICKER}';
        if (confirm(strMsg.replace('%s', name)+'\n{TXT_NEWS_ACTION_IS_IRREVERSIBLE}')) {
            window.location.href = 'index.php?cmd=News&{CSRF_PARAM}&act=settings&tpl=ticker&tpl2=delete&id='+id;
        }
    }
  // ]]>
</script>
<table class="adminlist">
  <caption>
      <div class="functions">
          <a href="/cadmin/News/settings?tpl=addticker" title="{TXT_NEWS_CREATE_TICKER}">
              <i class="fa-solid fa-plus"></i>
          </a>
      </div>
  </caption>
  <!-- BEGIN news_ticker_data -->
  <tr>
    <th>{TXT_NEWS_TICKER}</th>
    <th>{TXT_NEWS_CONTENT}</th>
    <th>{TXT_NEWS_CHARSET}</th>
    <th>{TXT_NEWS_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN news_ticker_list -->
  <tr class="row{NEWS_TICKER_ROW_CLASS}">
    <td><a href="index.php?cmd=News&amp;act=settings&amp;tpl=ticker&amp;tpl2=modify&amp;id={NEWS_TICKER_ID}&amp;pos={NEWS_TICKER_POS}" title="{TXT_NEWS_MODIFY_TICKER}">{NEWS_TICKER_ADDRESS}</a></td>
    <td>{NEWS_TICKER_CONTENT}</td>
    <td>{NEWS_TICKER_CHARSET}</td>
    <td>
      <a href="{NEWS_TICKER_ADDRESS}" title="{TXT_NEWS_SHOW_TICKER_FILE}" id="newsTickerAddress" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <a href="index.php?cmd=News&amp;act=settings&amp;tpl=ticker&amp;tpl2=modify&amp;id={NEWS_TICKER_ID}&amp;pos={NEWS_TICKER_POS}" title="{TXT_NEWS_MODIFY_TICKER}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="javascript:newsDeleteTicker({NEWS_TICKER_ID},'{NEWS_TICKER_NAME}')" title="{NEWS_DELETE_TICKER_TXT}"><i class="fa-regular fa-trash-can"></i></a>
    </td>
  </tr>
  <!-- END news_ticker_list -->
  <!-- END news_ticker_data -->
  <!-- BEGIN news_ticker_no_data -->
  <tr>
    <td colspan="4">{TXT_NEWS_NO_TICKER_AVAILABLE}</td>
  </tr>
  <!-- END news_ticker_no_data -->
</table>
{PAGING}
<!-- end module_news_ticker_list.html -->
