<!-- START module_news_type.html -->
<script>
  <!-- // confirm delete variable
  function deleteType(id)
  {
    if (confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE} {TXT_ATTENTION_SYSTEM_FUNCTIONALITY_AT_RISK}'))
      window.location.replace("index.php?cmd=News&{CSRF_PARAM}&act=deltype&typeId="+id);
  }
  
  function  toggleTypeName(link)
  {
    $J(link).next('div.type_name_lang_div').toggle();
  }
  
  function updateLangName(input)
  {
    $J(input).siblings('div.type_name_lang_div').find('input').attr('value', $J(input).attr('value'));
  }
  // -->
</script>
<!-- BEGIN news_type_add -->
<form name="form1" method="post" action="index.php?cmd=News&amp;act=newstype">
  <input type="hidden" name="addType" value="true">
  <table class="adminlist splitview">
    <caption>
      {TXT_ADD_NEW_TYPE}
    </caption>
    <tr>
      <td>
        {TXT_NAME}
      </td>
      <td>
        <input type="text" name="newTypeName" maxlength="250">
      </td>
    </tr>
  </table>
  <a href="/cadmin/News/newstype" class="button secondary">{TXT_CANCEL}</a>
  <input type="submit" name="submit" value="{TXT_ADD}">
</form>
<!-- END news_type_add -->
<!-- BEGIN news_type_overview -->
<form name="form2" method="post" action="index.php?cmd=News&amp;act=newstype">
  <input type="hidden" name="modType" value="true">
  <table class="adminlist">
    <caption>
        {TXT_TYPE_LIST}
        <div class="functions">
          <a href="/cadmin/News/newstype?action=add" title="{TXT_ADD}">
              <i class="fa-solid fa-plus"></i>
          </a>
        </div>
    </caption>
    <tr>
      <th>{TXT_ID}</th>
      <th>{TXT_NAME}</th>
      <th>{TXT_ACTION}</th>
    </tr>
    <!-- BEGIN newsRow -->
    <tr class="{NEWS_ROWCLASS}">
      <td><code>{NEWS_TYPE_ID}</code></td>
      <td>
        <input type="text" value="{NEWS_TYPE_NAME}" maxlength="250" onchange="updateLangName(this);"><a href="#" onclick="toggleTypeName(this);" title="{TXT_NEWS_EXTENDED}">{TXT_NEWS_EXTENDED}</a>
        <div class="type_name_lang_div" style="display:none;">
          <!-- BEGIN type_name_list -->
          <input type="text" name="newsTypeName[{NEWS_TYPE_ID}][{NEWS_TYPE_LANG_ID}]" id="newsTypeName[{NEWS_TYPE_ID}][{NEWS_TYPE_LANG_ID}]" value="{NEWS_TYPE_NAME_VALUE}" maxlength="250">
          {NEWS_TYPE_LANG_NAME}<br>
          <!-- END type_name_list -->
        </div>
      </td>
      <td><a href="javascript:deleteType('{NEWS_TYPE_ID}')" title="{TXT_DELETE}"><i class="fa-regular fa-trash-can"></i></a></td>
    </tr>
    <!-- END newsRow -->
  </table>
  <input type="submit" name="submit" value="{TXT_ACCEPT_CHANGES}">
</form>
<!-- END news_type_overview -->
<!-- END module_news_type.html -->
