<!-- START module_news_teasers_frame_templates.html -->
<script>
  <!--
  function confirmDeleteFrameTemplate() {
    if (confirm('{TXT_CONFIRM_DELETE_BOX_TPL_TEXT}')) {
      return true;
    } else {
      return false;
    }
  }
  // -->
</script>
<table class="adminlist">
  <caption>
      <div class="functions">
          <a href="/cadmin/News/settings?tpl=teasers&tpl2=editFrameTemplate&templateId=0" title="{TXT_ADD_TEMPLATE}">
              <i class="fa-solid fa-plus"></i>
          </a>
      </div>
  </caption>
  <tr>
    <th>{TXT_DESCRIPTION}</th>
    <th>{TXT_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN news_teaser_frame_template_list -->
  <tr class="{NEWS_TEASER_FRAME_TPL_ROW_CLASS}">
    <td><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" title="{TXT_EDIT_BOX_TEMPLATE}">{NEWS_TEASER_FRAME_TPL_DESCRIPTION}</a></td>
    <td>
      <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" title="{TXT_EDIT_BOX_TEMPLATE}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=deleteFrameTemplate&amp;id={NEWS_TEASER_FRAME_TPL_ID}" onclick="return confirmDeleteFrameTemplate()" title="{TXT_DELETE_TEMPLATE}"><i class="fa-regular fa-trash-can"></i></a>
    </td>
  </tr>
  <!-- END news_teaser_frame_template_list -->
</table>
<!-- END module_news_teasers_frame_templates.html -->
