<!-- START module_news_comments_list.html -->
<script>
  <!--
  function deleteComment(commentId)
  {
    if (confirm('{TXT_NEWS_COMMENT_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
      window.location.replace("index.php?cmd=News&pos={POSITION}&act=comments_delete&newsId={CUR_NEWS_ID}&commentsId="+commentId+"&{CSRF_PARAM}");
    }
  }
  
  function deleteComments(form)
  {
    with (document.getElementById(form)) {
      if (confirm('{TXT_NEWS_COMMENT_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
        action = "index.php?cmd=News&pos={POSITION}&act=comments_delete&newsId={CUR_NEWS_ID}&{CSRF_PARAM}";
        method = "post";
        submit();
        return true;
      }
    }
  }
     -->
</script>
<form name="formComments" id="formComments" method="post" action="index.php?cmd=News&pos={POSITION}&act=change_comment_status&newsId={CUR_NEWS_ID}">
  <table class="adminlist">
    <caption>{TXT_NEWS_COMMENTS}</caption>
    <tr>
      <th>#</th>
      <th>&nbsp;</th>
      <th>{TXT_NEWS_COMMENT_DATE}</th>
      <th>{TXT_NEWS_COMMENT_TITLE}</th>
      <th>{TXT_NEWS_COMMENT_MESSAGE}</th>
      <th>{TXT_NEWS_COMMENT_AUTHOR}</th>
      <th>{TXT_NEWS_COMMENT_ACTION}</th>
    </tr>
    <!-- BEGIN yescomments -->
    <!-- BEGIN commentsrow -->
    <tr class="{COMMENT_CSS}">
      <td><input type="checkbox" name="selectedCommentsId[]" value="{COMMENT_ID}"></td>
      <td><a href="?cmd=News&amp;pos={POSITION}&amp;act=comment_status&amp;newsId={NEWS_ID}&amp;commentsId={COMMENT_ID}&{CSRF_PARAM}" target="_self"><img src="/core/Core/View/Media/icons/{COMMENT_STATUS_ICON}.gif" alt="{TXT_NEWS_COMMENT_IMGALT_STATUS}" title="{TXT_NEWS_COMMENT_IMGALT_STATUS}"></a></td>
      <td>{COMMENT_DATE}</td>
      <td><a href="?cmd=News&amp;act=comment_edit&amp;newsId={NEWS_ID}&amp;commentsId={COMMENT_ID}">{COMMENT_TITLE}</a></td>
      <td>{COMMENT_MESSAGE}</td>
      <td>{COMMENT_AUTHOR}</td>
      <td>
        <a href="?cmd=News&amp;act=comment_edit&amp;newsId={NEWS_ID}&amp;commentsId={COMMENT_ID}" title="{TXT_NEWS_COMMENT_EDIT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:deleteComment({COMMENT_ID})" title="{TXT_NEWS_COMMENT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END commentsrow -->
    <!-- END yescomments -->
    <!-- BEGIN nocomments -->
    <tr>
      <td colspan="7">{TXT_COMMENTS_NONE}</td>
    </tr>
    <!-- END nocomments -->
  </table>
  <ul class="bulk-functions">
    <li><a href="#" onclick="changeCheckboxes('formComments','selectedCommentsId[]',true); return false;">{TXT_NEWS_COMMENT_SELECT_ALL}</a></li>
    <li><a href="#" onclick="changeCheckboxes('formComments','selectedCommentsId[]',false); return false;">{TXT_NEWS_COMMENT_REMOVE_SELECTION}</a></li>
  </ul>
  <input type="submit" name="delete" value="{TXT_NEWS_COMMENT_DELETE_MARKED}" onclick="deleteComments('formComments'); return false;">
  <input type="submit" name="activate" value="{TXT_NEWS_COMMENT_ACTIVATE}">
  <input type="submit" name="deactivate" value="{TXT_NEWS_COMMENT_DEACTIVATE}">
</form>
<input type="button" value="{TXT_NEWS_COMMENT_BUTTON_BACK}" onclick="self.location='index.php?cmd=News&{CSRF_PARAM}'">
{COMMENTS_PAGING}
<!-- END module_news_comments_list.html -->
