<!-- START module_news_settings.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=News&amp;act=settings&amp;tpl=general" class="{CORE_MODULE_NEWS_SUBNAV_GENERAL}" title="{TXT_CORE_GENERAL}">{TXT_CORE_GENERAL}</a></li>
        <li><a href="index.php?cmd=News&amp;act=settings&amp;tpl=placeholders" class="{CORE_MODULE_NEWS_SUBNAV_PLACEHOLDERS}" title="{TXT_CORE_PLACEHOLDERS}">{TXT_CORE_PLACEHOLDERS}</a></li>
        <li><a href="index.php?cmd=News&amp;act=settings&amp;tpl=ticker" class="{CORE_MODULE_NEWS_SUBNAV_TICKER}" title="{TXT_NEWS_NEWSTICKER}">{TXT_NEWS_NEWSTICKER}</a></li>
        <!-- BEGIN module_news_teaser -->
        <li><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers" class="{CORE_MODULE_NEWS_SUBNAV_TEASERS}" title="{TXT_TEASER_TEASER_BOXES}">{TXT_TEASER_TEASER_BOXES}</a></li>
        <li><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasertemplates" class="{CORE_MODULE_NEWS_SUBNAV_TEASERTEMPLATES}" title="{TXT_TEASER_BOX_TEMPLATES}">{TXT_TEASER_BOX_TEMPLATES}</a></li>
        <!-- END module_news_teaser -->
    </ul>
</div>
{NEWS_SETTINGS_CONTENT}
<!-- END module_news_settings.html -->
