<!-- START module_news_settings_placeholders.html -->
<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="placeholdersTab_news1" class="active" href="#">{TXT_NEWS_SITE}</a></li>
    <li><a data-tablink="placeholdersTab_news2" href="#">{TXT_NEWS_MESSAGE}</a></li>
    <li><a data-tablink="placeholdersTab_news3" href="#">{TXT_HEADLINES}</a></li>
    <li><a data-tablink="placeholdersTab_news4" href="#">{TXT_TOPNEWS}</a></li>
    <li><a data-tablink="placeholdersTab_news5" href="#">{TXT_TEASERS}</a></li>
    <li><a data-tablink="placeholdersTab_news6" href="#">{TXT_NEWS_CATEGORIES}</a></li>
    <li><a data-tablink="placeholdersTab_news7" href="#">{TXT_NEWS_ARCHIVE_LIST}</a></li>
    <li><a data-tablink="placeholdersTab_news8" href="#">{TXT_NEWS_RECENT_COMMENTS}</a></li>
</ul>
<!-- start news1 div -->
<div class="tab placeholdersTab_news1" data-tablist="default">
    <div class="infobox">
        {TXT_NEWS_PLACEHOLLDERS_USAGE_TEXT}
    </div>
    <table class="adminlist splitview">
        <caption>{TXT_LANGUAGE_VARIABLES}</caption>
        <tr>
            <td>{TXT_DATE}</td>
            <td><code>[[TXT_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_TITLE}</td>
            <td><code>[[TXT_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_CATEGORY}</td>
            <td><code>[[TXT_CATEGORY]]</code></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_GENERAL}</caption>
        <tr>
            <td>{TXT_NEWS_PAGIN_DESCRIPTION}</td>
            <td><code>[[NEWS_PAGING]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CAT_DROPDOWNMENU_DESCRIPTION}</td>
            <td><code>[[NEWS_CAT_DROPDOWNMENU]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TYPE_DROPDOWNMENU_DESCRIPTION}</td>
            <td><code>[[NEWS_TYPE_DROPDOWNMENU]]</code></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_MESSAGES}</caption>
        <tr>
            <td>{TXT_NEWS_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TIME_DESCRIPTION}</td>
            <td><code>[[NEWS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CATEGORY_DESCRIPTION}</td>
            <td><code>[[NEWS_CATEGORY]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CATEGORY_NAME_DESCRIPTION}</td>
            <td><code>[[NEWS_CATEGORY_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PUBLISHER_DESCRIPTION}</td>
            <td><code>[[NEWS_PUBLISHER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SOURCE_DESCRIPTION}</td>
            <td><code>[[NEWS_SOURCE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LASTUPDATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LASTUPDATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COUNT_COMMENTS_DESCRIPTION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comments_count --&gt;
[[NEWS_COUNT_COMMENTS]]
&lt;!-- END news_comments_count --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_USER_ID_DESCRIPTION}<br>
                {TXT_NEWS_USERNAME_DESCRIPTION}<br>
                {TXT_NEWS_USER_PROFILE_ATTRIBUTE_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_author --&gt;
[[NEWS_AUTHOR_ID]]
[[NEWS_AUTHOR_USERNAME]]
[[NEWS_AUTHOR_PROFILE_ATTRIBUTE_*]]
&lt;!-- END news_author --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_USER_ID_DESCRIPTION}<br>
                {TXT_NEWS_USERNAME_DESCRIPTION}<br>
                {TXT_NEWS_USER_PROFILE_ATTRIBUTE_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_publisher --&gt;
[[NEWS_PUBLISHER_ID]]
[[NEWS_PUBLISHER_USERNAME]]
[[NEWS_PUBLISHER_PROFILE_ATTRIBUTE_*]]
&lt;!-- END news_publisher --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_CATEGORY_DESCRIPTION}<br>
                {TXT_NEWS_CATEGORY_ID_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_category --&gt;
[[NEWS_CATEGORY_TITLE]]
[[NEWS_CATEGORY_ID]]
&lt;!-- END news_category --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_TEASER_TEXT_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TEASER_TEXT_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_use_teaser_text --&gt;
[[NEWS_TEASER_TEXT]]
&lt;!-- END news_use_teaser_text --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_TEXT_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TEXT_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_text --&gt;
[[NEWS_TEXT]]
&lt;!-- END news_text --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_REDIRECT_ROW_DESCRIPTION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_redirect --&gt;
[[TXT_NEWS_REDIRECT_INSTRUCTION]]
[[NEWS_REDIRECT_URL]]
[[NEWS_REDIRECT_NAME]]
&lt;!-- END news_redirect --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_detail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_thumbnail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWSROW_DESCRIPTION}</td>
            <td>&lt;!-- newsrow --&gt;</td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_COMMENTS}</caption>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment_list --&gt;
&lt;!-- END news_comment_list --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment --&gt;
&lt;!-- END news_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TITLE}</td>
            <td><code>[[NEWS_COMMENTS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TEXT}</td>
            <td><code>[[NEWS_COMMENTS_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_DATE}</td>
            <td><code>[[NEWS_COMMENTS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TIME}</td>
            <td><code>[[NEWS_COMMENTS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_POSTER}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comments_poster --&gt;
&lt;!-- END news_comments_poster --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USER_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USERNAME_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_comment --&gt;
&lt;!-- END news_no_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS_NONE_EXISTING]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment --&gt;
&lt;!-- END news_add_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_ADD_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_error --&gt;
&lt;!-- END news_add_comment_error --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR_TITLE}</td>
            <td><code>[[NEWS_ADD_COMMENT_ERROR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_TITLE}</td>
            <td><code>[[TXT_NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_TITLE}</td>
            <td><code>[[NEWS_COMMENT_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_COMMENT}</td>
            <td><code>[[TXT_NEWS_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_COMMENT}</td>
            <td><code>[[NEWS_COMMENT_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_name --&gt;
&lt;!-- END news_add_comment_name --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_TITLE}</td>
            <td><code>[[TXT_NEWS_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_VALUE}</td>
            <td><code>[[NEWS_COMMENT_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_captcha --&gt;
&lt;!-- END news_add_comment_captcha --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_TITLE}</td>
            <td><code>[[TXT_NEWS_CAPTCHA]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_CODE}</td>
            <td><code>[[NEWS_COMMENT_CAPTCHA_CODE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_BUTTON}</td>
            <td><code>[[TXT_NEWS_ADD]]</code></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_TAGS}</caption>
        <tr>
            <td>
                {TXT_NEWS_TAGS_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TAG_NAME_DESCRIPTION}<br>
                {TXT_NEWS_TAG_LINK_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_tags_container --&gt;
&lt;!-- BEGIN news_tag_list --&gt;
[[NEWS_TAG_NAME]]
[[NEWS_TAG_LINK]]
&lt;!-- END news_tag_list --&gt;
&lt;!-- END news_tags_container --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NO_TAGS_FOUND}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_tags --&gt;
[[TXT_NEWS_NO_TAGS_FOUND]]
&lt;!-- END news_no_tags --&gt;</code></pre>
            </td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>&lt;form action="index.php?section=News" method="post"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_CAT_DROPDOWNMENU]]
&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_TYPE_DROPDOWNMENU]]
&lt;/form&gt;
&lt;table&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[TXT_DATE]]&lt;/th&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[TXT_TITLE]]&lt;/th&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[TXT_CATEGORY]]&lt;/th&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN newsrow --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;&lt;-- BEGIN news_image --&gt;&lt;img src="[[NEWS_IMAGE_SRC]]" alt="[[NEWS_IMAGE_ALT]]"&gt;&lt;-- END news_image --&gt;&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[NEWS_DATE]]&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[NEWS_LINK]]&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;[[NEWS_CATEGORY]]&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END newsrow --&gt;
&lt;/table&gt;
[[NEWS_PAGING]]</code></pre>
</div>
<!-- end news1 div -->
<!-- start news2 div -->
<div class="tab placeholdersTab_news2" data-tablist="default">
    <div class="infobox">
        {TXT_NEWS_DETAILS_PLACEHOLLDERS_USAGE}
    </div>
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LASTUPDATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LASTUPDATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SOURCE_DESCRIPTION}</td>
            <td><code>[[NEWS_SOURCE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CATEGORY_NAME_DESCRIPTION}</td>
            <td><code>[[NEWS_CATEGORY_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COUNT_COMMENTS_DESCRIPTION}</td>
            <td><code>[[NEWS_COUNT_COMMENTS]]</code></td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_CATEGORY_ID_DESCRIPTION}<br>
                {TXT_NEWS_CATEGORY_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_category --&gt;
[[NEWS_CATEGORY_ID]]
[[NEWS_CATEGORY_TITLE]]
&lt;!-- END news_category --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_detail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_thumbnail --&gt;</td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_COMMENTS}</caption>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment_list --&gt;
&lt;!-- END news_comment_list --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment --&gt;
&lt;!-- END news_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TITLE}</td>
            <td><code>[[NEWS_COMMENTS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TEXT}</td>
            <td><code>[[NEWS_COMMENTS_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_DATE}</td>
            <td><code>[[NEWS_COMMENTS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TIME}</td>
            <td><code>[[NEWS_COMMENTS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_POSTER}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comments_poster --&gt;
&lt;!-- END news_comments_poster --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USER_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USERNAME_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_comment --&gt;
&lt;!-- END news_no_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS_NONE_EXISTING]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment --&gt;
&lt;!-- END news_add_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_ADD_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_error --&gt;
&lt;!-- END news_add_comment_error --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR_TITLE}</td>
            <td><code>[[NEWS_ADD_COMMENT_ERROR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_TITLE}</td>
            <td><code>[[TXT_NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_TITLE}</td>
            <td><code>[[NEWS_COMMENT_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_COMMENT}</td>
            <td><code>[[TXT_NEWS_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_COMMENT}</td>
            <td><code>[[NEWS_COMMENT_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_name --&gt;
&lt;!-- END news_add_comment_name --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_TITLE}</td>
            <td><code>[[TXT_NEWS_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_VALUE}</td>
            <td><code>[[NEWS_COMMENT_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_captcha --&gt;
&lt;!-- END news_add_comment_captcha --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_TITLE}</td>
            <td><code>[[TXT_NEWS_CAPTCHA]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_CODE}</td>
            <td><code>[[NEWS_COMMENT_CAPTCHA_CODE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_BUTTON}</td>
            <td><code>[[TXT_NEWS_ADD]]</code></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_TAGS}</caption>
        <tr>
            <td>
                {TXT_NEWS_TAGS_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TAG_NAME_DESCRIPTION}<br>
                {TXT_NEWS_TAG_LINK_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_tags_container --&gt;
&lt;!-- BEGIN news_tag_list --&gt;
[[NEWS_TAG_NAME]]
[[NEWS_TAG_LINK]]
&lt;!-- END news_tag_list --&gt;
&lt;!-- END news_tags_container --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NO_TAGS_FOUND}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_tags --&gt;
[[TXT_NEWS_NO_TAGS_FOUND]]
&lt;!-- END news_no_tags --&gt;</code></pre>
            </td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_PREVIOUS_NEXT_LINKS}</caption>
        <tr>
            <td>{TXT_NEWS_PREVIOUS_LINK_DESCRITION}</td>
            <td><code>[[NEWS_PREVIOUS_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PREVIOUS_TITLE_DESCRITION}</td>
            <td><code>[[NEWS_PREVIOUS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PREVIOUS_SRC_DESCRITION}</td>
            <td><code>[[NEWS_PREVIOUS_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NEXT_LINK_DESCRITION}</td>
            <td><code>[[NEWS_NEXT_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NEXT_TITLE_DESCRITION}</td>
            <td><code>[[NEWS_NEXT_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NEXT_SRC_DESCRITION}</td>
            <td><code>[[NEWS_NEXT_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PREVIOUS_NEXT_LINK_ROW_DESCRIPTION}</td>
            <td>&lt;!-- news_details_previous_next_links --&gt;</td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_RELATED_NEWS}</caption>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_details_related_news_block --&gt;
&lt;!-- END news_details_related_news_block --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_BLOCK_TITLE_DESCRITION}</td>
            <td><code>[[TXT_NEWS_RELATED_NEWS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_DETAIL_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_details_related_news --&gt;
&lt;!-- BEGIN news_details_related_news --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_ID_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_URL_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_LINK_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TITLE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TITLE_SHORT_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TITLE_SHORT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TITLE_LINK_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TITLE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TEXT_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TEXT_SHORT_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TEXT_SHORT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_AUTHOR_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_PUBLISHER_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_PUBLISHER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_CATEGORY_NAMES_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_CATEGORY_NAMES]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_LONG_DATE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_DATE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TIME_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_COMMENTS_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_related_comments_count --&gt;
&lt;!-- END news_related_comments_count --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_COMMENTS_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_COUNT_COMMENTS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TEASER_TEXT_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_related_news_use_teaser_text --&gt;
&lt;!-- END news_related_news_use_teaser_text --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_TEASER_TEXT_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_TEASER_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_related_news_image --&gt;
&lt;!-- END news_related_news_image --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_TITLE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_LINK_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_SRC_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_THUMB_BLOCK_DESCRITION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_related_news_image_thumb --&gt;
&lt;!-- END news_related_news_image_thumb --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_THUMB_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_THUMB]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_TITLE_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_THUMB_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_THUMB_LINK_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_THUMB_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_RELATED_NEWS_IMAGE_THUMB_SRC_DESCRITION}</td>
            <td><code>[[NEWS_RELATED_NEWS_IMAGE_THUMB_SRC]]</code></td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>{TXT_PUBLISHED_ON} [[NEWS_DATE]]
&lt;-- BEGIN news_image --&gt;&lt;img src="[[NEWS_IMAGE_SRC]]" alt="[[NEWS_IMAGE_ALT]]"&lt;-- END news_image --&gt;
[[NEWS_TEXT]][[NEWS_SOURCE]][[NEWS_URL]][[NEWS_LASTUPDATE]]
&lt;!-- BEGIN news_details_related_news_block --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;[[TXT_NEWS_RELATED_NEWS]]
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_details_related_news --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_RELATED_NEWS_TITLE_LINK]]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_RELATED_NEWS_AUTHOR]][[NEWS_RELATED_NEWS_PUBLISHER]]
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_details_related_news --&gt;
&lt;!-- END news_details_related_news_block --&gt;
!-- BEGIN news_details_previous_next_links --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_details_previous_link --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_PREVIOUS_LINK]]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(or)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="[[NEWS_PREVIOUS_SRC]]" title="[[NEWS_PREVIOUS_TITLE]]">[[NEWS_PREVIOUS_TITLE]]&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_details_previous_link --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_details_next_link --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NEWS_NEXT_LINK]]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(or)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="[[NEWS_NEXT_SRC]]" title="[[NEWS_NEXT_TITLE]]">[[NEWS_NEXT_TITLE]]&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_details_next_link --&gt;
&lt;!-- END news_details_previous_next_links --&gt;</code></pre>
</div>
<!-- end news2 div -->
<!-- start news3 div -->
<div class="tab placeholdersTab_news3" data-tablist="default">
    <div class="infobox">
        {TXT_HEADLINE_PLACEHOLDERS_USAGE}
    </div>
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TIME_DESCRIPTION}</td>
            <td><code>[[NEWS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER_TEXT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CATEGORY_DESCRIPTION}</td>
            <td><code>[[NEWS_CATEGORY]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CATEGORY_NAME_DESCRIPTION}</td>
            <td><code>[[NEWS_CATEGORY_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PUBLISHER_DESCRIPTION}</td>
            <td><code>[[NEWS_PUBLISHER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_SOURCE_DESCRIPTION}</td>
            <td><code>[[NEWS_SOURCE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LASTUPDATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LASTUPDATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_URL]]</code></td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_NEWS_COMMENT_COUNT_ROW_DESCRIPTION}<br>
                {TXT_NEWS_COUNT_COMMENTS_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comments_count --&gt;
[[NEWS_COUNT_COMMENTS]]
&lt;!-- END news_comments_count --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_USER_ID_DESCRIPTION}<br>
                {TXT_NEWS_USERNAME_DESCRIPTION}<br>
                {TXT_NEWS_USER_PROFILE_ATTRIBUTE_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_author --&gt;
[[NEWS_AUTHOR_ID]]
[[NEWS_AUTHOR_USERNAME]]
[[NEWS_AUTHOR_PROFILE_ATTRIBUTE_*]]
&lt;!-- END news_author --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_USER_ID_DESCRIPTION}<br>
                {TXT_NEWS_USERNAME_DESCRIPTION}<br>
                {TXT_NEWS_USER_PROFILE_ATTRIBUTE_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_publisher --&gt;
[[NEWS_PUBLISHER_ID]]
[[NEWS_PUBLISHER_USERNAME]]
[[NEWS_PUBLISHER_PROFILE_ATTRIBUTE_*]]
&lt;!-- END news_publisher --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_CATEGORY_ID_DESCRIPTION}<br>
                {TXT_NEWS_CATEGORY_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_category --&gt;
[[NEWS_CATEGORY_ID]]
[[NEWS_CATEGORY_TITLE]]
&lt;!-- END news_category --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_TEASER_TEXT_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TEASER_TEXT_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_use_teaser_text --&gt;
[[NEWS_TEASER_TEXT]]
&lt;!-- END news_use_teaser_text --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                {TXT_NEWS_TEXT_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TEXT_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_text --&gt;
[[NEWS_TEXT]]
&lt;!-- END news_text --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_REDIRECT_ROW_DESCRIPTION}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_redirect --&gt;
[[TXT_NEWS_REDIRECT_INSTRUCTION]]
[[NEWS_REDIRECT_URL]]
[[NEWS_REDIRECT_NAME]]
&lt;!-- END news_redirect --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_PATH_DESCRIPTION}</td>
            <td><code>[[HEADLINE_IMAGE_PATH]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_THUMBNAIL_PATH_DESCRIPTION}</td>
            <td><code>[[HEADLINE_THUMBNAIL_PATH]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_detail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_thumbnail --&gt;</td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_COMMENTS}</caption>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment_list --&gt;
&lt;!-- END news_comment_list --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_LIST_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comment --&gt;
&lt;!-- END news_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TITLE}</td>
            <td><code>[[NEWS_COMMENTS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TEXT}</td>
            <td><code>[[NEWS_COMMENTS_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_DATE}</td>
            <td><code>[[NEWS_COMMENTS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_TIME}</td>
            <td><code>[[NEWS_COMMENTS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_COMMENT_POSTER}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_comments_poster --&gt;
&lt;!-- END news_comments_poster --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USER_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_USERNAME_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_POSTER_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_comment --&gt;
&lt;!-- END news_no_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_NO_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_COMMENTS_NONE_EXISTING]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment --&gt;
&lt;!-- END news_add_comment --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE}</td>
            <td><code>[[TXT_NEWS_ADD_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_error --&gt;
&lt;!-- END news_add_comment_error --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_ERROR_TITLE}</td>
            <td><code>[[NEWS_ADD_COMMENT_ERROR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_TITLE}</td>
            <td><code>[[TXT_NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_TITLE}</td>
            <td><code>[[NEWS_COMMENT_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_COMMENT}</td>
            <td><code>[[TXT_NEWS_COMMENT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_VALUE_COMMENT}</td>
            <td><code>[[NEWS_COMMENT_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_name --&gt;
&lt;!-- END news_add_comment_name --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_TITLE}</td>
            <td><code>[[TXT_NEWS_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_NAME_VALUE}</td>
            <td><code>[[NEWS_COMMENT_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_add_comment_captcha --&gt;
&lt;!-- END news_add_comment_captcha --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_TITLE}</td>
            <td><code>[[TXT_NEWS_CAPTCHA]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_CONTACT_FORM_CAPTCHA_CODE}</td>
            <td><code>[[NEWS_COMMENT_CAPTCHA_CODE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_BLOCK_ADD_COMMENT_TITLE_BUTTON}</td>
            <td><code>[[TXT_NEWS_ADD]]</code></td>
        </tr>
    </table>
    <table class="adminlist splitview">
        <caption>{TXT_NEWS_TAGS}</caption>
        <tr>
            <td>
                {TXT_NEWS_TAGS_ROW_DESCRIPTION}<br>
                {TXT_NEWS_TAG_NAME_DESCRIPTION}<br>
                {TXT_NEWS_TAG_LINK_DESCRIPTION}
            </td>
            <td>
                <pre><code>&lt;!-- BEGIN news_tags_container --&gt;
&lt;!-- BEGIN news_tag_list --&gt;
[[NEWS_TAG_NAME]]
[[NEWS_TAG_LINK]]
&lt;!-- END news_tag_list --&gt;
&lt;!-- END news_tags_container --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_NO_TAGS_FOUND}</td>
            <td>
                <pre><code>&lt;!-- BEGIN news_no_tags --&gt;
[[TXT_NEWS_NO_TAGS_FOUND]]
&lt;!-- END news_no_tags --&gt;</code></pre>
            </td>
        </tr>
        <tr>
            <td>{TXT_NEWS_HEADLINES_ROW_DESCRIPTION}</td>
            <td>&lt;-- headlines_row --&gt;</td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{TXT_NEWS_MESSAGES}&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN headlines_row --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;[[NEWS_LINK]]&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END headlines_row --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="index.php?section=News"&gt;{TXT_MORE_NEWS}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>
<!-- end news3 div -->
<!-- start news4 div -->
<div class="tab placeholdersTab_news4" data-tablist="default">
    <div class="infobox">
        {TXT_TOP_NEWS_PLACEHOLDERS_USAGE}
    </div>
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_TEASER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TIME_DESCRIPTION}</td>
            <td><code>[[NEWS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_LINK_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[NEWS_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PUBLISHER_DESCRIPTION}</td>
            <td><code>[[NEWS_PUBLISHER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_DETAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_IMAGE_THUMBNAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_detail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_image_thumbnail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWSROW_DESCRIPTION}</td>
            <td>&lt;!-- newsrow --&gt;</td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{TXT_NEWS_MESSAGES}&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN newsrow --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;[[NEWS_LINK]]&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END newsrow --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="[[NODE_NEWS]]"&gt;{TXT_MORE_NEWS}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>
<!-- end news4 div -->
<!-- start news5 div -->
<div class="tab placeholdersTab_news5" data-tablist="default">
    <div class="infobox">
        {TXT_TEASER_PLACEHOLLDERS_USAGE}
    </div>
</div>
<!-- end news5 div -->
<!-- start news6 div -->
<div class="tab placeholdersTab_news6" data-tablist="default">
    <div class="infobox">
        {TXT_NEWS_CATEGORIES_PLACEHOLDERS_USAGE}
    </div>
</div>
<!-- end news6 div -->
<!-- start news7 div -->
<div class="tab placeholdersTab_news7" data-tablist="default">
    <div class="infobox">
        {TXT_NEWS_ARCHIVE_LIST_PLACEHOLDERS_USAGE}
    </div>
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_ARCHIVE_MONTH_KEY_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_MONTH_KEY]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_MONTH_NAME_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_MONTH_NAME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_MONTH_COUNT_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_MONTH_COUNT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ID_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_ID]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TEASER_TEXT_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_TEASER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TIME_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_LINK_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_LINK_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_LINK_URL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_AUTHOR_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_AUTHOR]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_PUBLISHER_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_PUBLISHER]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_DETAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_DETAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_DETAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_DETAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_DETAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_THUMBNAIL]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_THUMBNAIL_ALT]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_THUMBNAIL_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_IMAGE_THUMBNAIL_SRC_DESCRIPTION}</td>
            <td><code>[[NEWS_ARCHIVE_IMAGE_THUMBNAIL_SRC]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_IMAGE_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_archive_image --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_IMAGE_DETAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_archive_image_detail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_IMAGE_THUMBNAIL_ROW_DESCRIPTION}</td>
            <td>&lt;-- news_archive_image_thumbnail --&gt;</td>
        </tr>
        <tr>
            <td>{TXT_NEWS_ARCHIVE_ROW_DESCRIPTION}</td>
            <td>&lt;!-- news_archive_link --&gt;</td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>&lt;!-- BEGIN news_archive_status_message --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;[[TXT_NEWS_NO_NEWS_FOUND]]
&lt;!-- END news_archive_status_message --&gt;
&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_archive_months_list --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href = &quot;#[[NEWS_ARCHIVE_MONTH_KEY]]&quot;&gt;[[NEWS_ARCHIVE_MONTH_NAME]]&lt;/a&gt;&LeftAngleBracket;[[NEWS_ARCHIVE_MONTH_COUNT]]&RightAngleBracket;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_archive_months_list --&gt;
&lt;/ul&gt;
&lt;!-- BEGIN news_archive_months_list --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_archive_month_list_item --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a name = &quot;#[[NEWS_ARCHIVE_MONTH_KEY]]&quot;&gt;[[NEWS_ARCHIVE_MONTH_NAME]]&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_archive_link --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href=&quot;[[NEWS_ARCHIVE_LINK_URL]]&quot;&nbsp;title=&quot;[[NEWS_ARCHIVE_LINK_TITLE]]&quot;&gt;[[NEWS_ARCHIVE_LINK_TITLE]]&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_archive_image --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;[[NEWS_ARCHIVE_IMAGE]]&lt;/span&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_archive_image --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_archive_link --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_archive_month_list_item --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;!-- END news_archive_months_list --&gt;</code></pre>
</div>
<!-- end news7 div -->
<!-- start news8 div -->
<div class="tab placeholdersTab_news8" data-tablist="default">
    <div class="infobox">
        {TXT_NEWS_RECENT_COMMENTS_PLACEHOLDERS_USAGE}
    </div>
    <table class="adminlist splitview">
        <tr>
            <td>{TXT_NEWS_COMMENTS_CSS_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_CSS]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENTS_TITLE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_TITLE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENTS_MESSAGE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_MESSAGE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENTS_LONG_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_LONG_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENTS_DATE_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_DATE]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENTS_TIME_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENTS_TIME]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_LINK_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENT_LINK]]</code></td>
        </tr>
        <tr>
            <td>{TXT_NEWS_COMMENT_URL_DESCRIPTION}</td>
            <td><code>[[NEWS_COMMENT_URL]]</code></td>
        </tr>
    </table>
    <p>{TXT_EXAMPLE}</p>
    <pre><code>&lt;!-- BEGIN news_comments --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_no_comment --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="news-no-comments"&gt;[[TXT_NEWS_COMMENTS_NONE_EXISTING]]&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_no_comment --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_comment_list --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- BEGIN news_comment --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="news-comment"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="news-comment-poster"&gt;[[NEWS_COMMENTS_LONG_DATE]] | [[NEWS_COMMENTS_POSTER]]&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="news-comment-title"&gt;&lt;strong&gt;[[NEWS_COMMENTS_TITLE]]&lt;/strong&gt;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="news-comment-message"&gt;[[NEWS_COMMENTS_MESSAGE]]&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_comment --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- END news_comment_list --&gt;
&lt;!-- END news_comments --&gt;</code></pre>
</div>
<!-- end news8 div -->
<!-- END module_news_settings_placeholders.html -->
