<!-- START module_news_category_modify.html -->
<script>
    <!--
        function toggleCatName(link) {
            $J(link).next('div.category_name_lang_div').toggle();
        }

    function updateLangName(input) {
        $J(input).siblings('div.category_name_lang_div').find('input').attr('value', $J(input).attr('value'));
    }
    // -->
</script>
<form name="form2" method="post" action="/cadmin/News/category/edit?id={NEWS_CAT_ID}">
    <table class="adminlist splitview">
        <caption>{TXT_EDIT_CATEGORY}</caption>
        <tr>
            <td><label for="news_cat_name">{TXT_NAME}</label></td>
            <td>
                <input type="text" value="{NEWS_CAT_NAME}" id="news_cat_name" maxlength="250" onchange="updateLangName(this);">
                <a href="#" onclick="toggleCatName(this);" title="{TXT_NEWS_EXTENDED}">{TXT_NEWS_EXTENDED}</a>

                <div class="category_name_lang_div" style="display:none;">
                    <!-- BEGIN category_name_list -->
                    <input type="text" name="newsCatName[{NEWS_CAT_ID}][{NEWS_CAT_LANG_ID}]" id="newsCatName[{NEWS_CAT_ID}][{NEWS_CAT_LANG_ID}]" value="{NEWS_CAT_NAME_VALUE}" maxlength="250"> {NEWS_CAT_LANG_NAME}<br>
                    <!-- END category_name_list -->
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="news_parent_category">{TXT_NEWS_PARENT_CATEGORY}</label></td>
            <td>
                <select id="news_parent_category" name="newsCatParentId">
                    <option value="0">{TXT_NEWS_NEW_MAIN_CATEGORY}</option>
                    {NEWS_CAT_CATEGORIES}
                </select>
            </td>
        </tr>
    </table>
    <a href="/cadmin/News/category" class="button secondary">{TXT_CANCEL}</a>
    <input type="submit" name="submit" value="{TXT_SAVE}">
</form>
<!-- END module_news_category_modify.html -->
