<!-- start module_news_ticker_modify.html -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="newsTab_general" class="active" href="#">{TXT_NEWS_GENERAL}</a></li>
  <li><a data-tablink="newsTab_advanced" href="#">{TXT_NEWS_ADVANCED}</a></li>
</ul>
<form action="index.php?cmd=News&amp;act=settings&amp;tpl=ticker&amp;tpl2=modify&amp;id={NEWS_TICKER_ID}&amp;pos={NEWS_TICKER_POS}" method="post">
  <!-- start general div -->
  <div class="tab newsTab_general" data-tablist="default">
    <table class="adminlist splitview">
      <caption>{NEWS_MODIFY_TITLE_TXT}</caption>
      <tr>
        <td>{TXT_NEWS_FILENAME}</td>
        <td><input type="text" name="news_ticker_filename" value="{NEWS_TICKER_FILENAME}"></td>
      </tr>
      <tr>
        <td>{TXT_NEWS_CONTENT}</td>
        <td><textarea name="news_ticker_content" rows="15">{NEWS_TICKER_CONTENT}</textarea></td>
      </tr>
    </table>
  </div>
  <!-- end general div -->
  <!-- start advanced div -->
  <div class="tab newsTab_advanced" data-tablist="default">  
    <table class="adminlist splitview">
      <caption>{NEWS_MODIFY_TITLE_TXT}</caption>
      <tr>
        <td>{TXT_NEWS_CHARSET}</td>
        <td>{NEWS_TICKER_CHARSET_MENU}</td>
      </tr>
      <tr>
        <td>{TXT_NEWS_URL_ENCODING}</td>
        <td><input type="checkbox" name="news_ticker_urlencode" id="news_ticker_urlencode" value="1" {NEWS_TICKER_URLENCODE}><label for="news_ticker_urlencode">{TXT_NEWS_URL_ENCODING_TXT}</label></td>
      </tr>
      <tr>
        <td>{TXT_NEWS_PREFIX}</td>
        <td>{TXT_NEWS_TICKER_PREFIX_MSG}<input type="text" name="news_ticker_prefix" value="{NEWS_TICKER_PREFIX}" maxlength="250"></td>
      </tr>
    </table>
  </div>
  <!-- end advanced div -->
  <input type="button" onclick="window.location.href='/cadmin/News/settings?tpl=ticker&{CSRF_PARAM}&pos={NEWS_TICKER_POS}'" value="{TXT_NEWS_CANCEL}" class="secondary">
  <input type="submit" name="news_save_ticker" value="{TXT_NEWS_SAVE}">
</form>
<!-- end module_news_ticker_modify.html -->
