<!-- START module_news_teasers_modify_frame.html -->
<script>
cx.ready(function(){
    const iframe = document.querySelector('.teaserPreview > iframe');
    iframe.style.height = iframe.contentWindow.document.documentElement.scrollHeight + 'px';
    iframe.style.width = iframe.contentWindow.document.documentElement.scrollWidth + 'px';
});
function loadTeaserFrameTemplate() {
    document.getElementById('newsTeasersFrameForm').action = "index.php?cmd=News&act=settings&tpl=teasers&tpl2=updateFrame&frameId={NEWS_TEASER_FRAME_ID}";
    document.getElementById('newsTeasersFrameForm').submit();
}
</script>
<form action="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=updateFrame&amp;frameId={NEWS_TEASER_FRAME_ID}" id="newsTeasersFrameForm" method="post">
  <table class="adminlist splitview">
    <caption>{NEWS_TEASER_TITLE_TXT}</caption>
    <tr>
      <td>{TXT_BOX_NAME}</td>
      <td><input type="text" name="teaserFrameName" maxlength="50" value="{NEWS_TEASER_FRAME_NAME}"></td>
    </tr>
    <tr>
      <td>{TXT_BOX_TEMPLATE}</td>
      <td><select name="teaserFrameTemplateId" onchange="loadTeaserFrameTemplate()">{NEWS_TEASER_FRAME_TEMPLATE_MENU}</select></td>
    </tr>
  </table>
  <div class="teaserPreview">
    {NEWS_TEASER_FRAME_PREVIEW}
  </div>
  <a class="button secondary" href="/cadmin/News/settings?tpl=teasers">{TXT_CANCEL}</a>
  <input type="submit" name="saveTeaserFrame" value="{TXT_SAVE}">
</form>
<!-- END module_news_teasers_modify_frame.html -->
