<!-- START module_contact_forms_overview.html -->
<script>
<!--
  function confirmDeleteForm(id, content)
  {
    if (confirm('{TXT_CONTACT_CONFIRM_DELETE_FORM}\n{TXT_CONTACT_FORM_ENTRIES_WILL_BE_DELETED}\n{TXT_CONTACT_ACTION_IS_IRREVERSIBLE}')) {
      url = 'index.php?cmd=Contact&{CSRF_PARAM}&act=forms&tpl=deleteForm&formId='+id;
      if (content) {
        if (confirm('{TXT_CONTACT_CONFIRM_DELETE_CONTENT_SITE}\n{TXT_CONTACT_ACTION_IS_IRREVERSIBLE}')) {
          url = 'index.php?cmd=Contact&{CSRF_PARAM}&act=forms&tpl=deleteForm&deleteContent=true&formId='+id;
        }
      }
      document.location.href = url
    }
  }
  
  //-->
</script>
<style>
  .lang {
    margin-right: .2em;
  }
  .lang:last-child {
    margin-right: 0;
  }
</style>
<table class="adminlist sortable">
  <caption>
    {TXT_CONTACT_CONTACT_FORMS}
    <div class="functions">
      <a href="/cadmin/Contact/forms?tpl=edit&formId=0" title="{TXT_CONTACT_ADD_NEW_CONTACT_FORM}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </caption>
  <tr>
    <th class="{ORDER_DIR_ID}">{TXT_CONTACT_ID}</th>
    <th>{TXT_CONTACT_NAME}</th>
    <th>{TXT_CONTACT_LANGUAGE}</th>
    <th class="{ORDER_DIR_LATEST_ENTRY}">{TXT_CONTACT_LATEST_ENTRY}</th>
    <th class="{ORDER_DIR_NUMBER_OF_ENTRIES}">{TXT_CONTACT_NUMBER_OF_ENTRIES}</th>
    <th>{TXT_CONTACT_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN contact_contact_forms -->
  <tr class="{CONTACT_FORM_ROW_CLASS}">
    <td><code>{CONTACT_FORM_ID}</code></td>
    <td>
        <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=edit&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_MODIFY}">{CONTACT_FORM_NAME}</a>
        <!-- BEGIN contact_use_crm -->
        <i class='fa-solid fa-address-book tooltip-trigger'></i><span class='tooltip-message'>{TXT_CONTACT_FORM_USED_IN_CRM}</span>
        <!-- END contact_use_crm -->
    </td>
    <td>
        <!-- BEGIN contact_form_language -->
        <span class="lang">
            {CONTACT_FORM_LANG}
            <!-- BEGIN contact_form_language_page -->
            <a title="{TXT_CORE_EDIT_PAGE_LAYOUT}" href="{CONTACT_FORM_LANG_URL_EDIT}" class="view">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <!-- END contact_form_language_page -->
        </span>
        <!-- END contact_form_language -->
    </td>
    <td>
      {CONTACT_FORM_LAST_ENTRY}
      <!-- BEGIN contact_last_entry -->
      <a href="/cadmin/Contact/entries?formId={CONTACT_FORM_ID}&entryId={CONTACT_FORM_LAST_ENTRY_ID}" title="{TXT_CONTACT_SHOW_ENTRY}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <!-- END contact_last_entry -->
    </td>
    <td>
      {CONTACT_FORM_NUMBER_OF_ENTRIES}
      <!-- BEGIN contact_export -->
      <a href="/cadmin/Contact/forms?tpl=entries&formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_SHOW_ENTRIES}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=csv&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_CSV_TOOLTIP}"><i class="fa-solid fa-file-csv"></i></a>
      <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=csv&amp;format=excel&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_XLS_TOOLTIP}"><i class="fa-solid fa-file-excel"></i></a>
      <!-- END contact_export -->
    </td>
    <td>
      <!-- BEGIN contact_preview -->
      <a href="{CONTACT_FORM_PREVIEW_URL}" target="_blank" title="{TXT_CORE_SHOW_FRONTEND_VIEW}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <!-- END contact_preview -->
      <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=code&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_SHOW_SOURCECODE}"><i class="fa-solid fa-code"></i></a>
      <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=copy&amp;selectLang=true&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_USE_AS_TEMPLATE}"><i class="fa-regular fa-copy"></i></a>
      <a href="index.php?cmd=Contact&amp;act=forms&amp;tpl=edit&amp;formId={CONTACT_FORM_ID}" title="{TXT_CONTACT_MODIFY}"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="javascript:confirmDeleteForm({CONTACT_FORM_ID},{CONTACT_DELETE_CONTENT})" title="{TXT_CONTACT_DELETE}"><i class="fa-regular fa-trash-can"></i></a>
    </td>
  </tr>
  <!-- END contact_contact_forms -->
</table>
<!-- END module_contact_forms_overview.html -->
