<!-- START module_contact_form_code.html -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="formSourceTab_contactForm1" href="#">{TXT_CONTACT_SOURCECODE}</a></li>
</ul>
<!-- start contactForm1 div -->
<div class="tab formSourceTab_contactForm1" data-tablist="default">
  <div class="infobox">{TXT_CONTACT_COPY_SOURCECODE_MSG}</div>
  <p>{CONTACT_SOURCECODE_OF}</p>
  <pre><code>{CONTACT_FORM_SOURCECODE}</code></pre>
</div>
<!-- end contactForm1 div -->
<input type="button" value="{TXT_CONTACT_BACK}" onclick="document.location.href='index.php?cmd=Contact&{CSRF_PARAM}&amp;act=forms'" class="secondary">
<input type="button" value="{CONTACT_CONTENT_SITE_ACTION_TXT}" onclick="document.location.href='index.php?cmd=Contact&{CSRF_PARAM}&amp;act=forms&amp;tpl={CONTACT_CONTENT_SITE_ACTION}&amp;formId={FORM_ID}'">
<!-- END module_contact_form_code.html -->
