<!-- START module_contact_form_entries.html -->
<script>
  <!--
  function confirmDeleteEntry(id)
  {
        if (confirm('{TXT_CONTACT_CONFIRM_DELETE_ENTRY}\n{TXT_CONTACT_ACTION_IS_IRREVERSIBLE}')) {
      document.location.href = 'index.php?cmd=Contact&{CSRF_PARAM}&act=forms&tpl=deleteEntry&formId={CONTACT_FORM_ID}&entryId='+id;
        }
      }
  
  function selectMultiAction(order)
  {
    with (document.frmContact)
    {
        switch (order) {
          case 'delete':
            if (confirm('{TXT_CONTACT_CONFIRM_DELETE_ENTRIES}\n{TXT_CONTACT_ACTION_IS_IRREVERSIBLE}')) {
              submit();
            }
            break;
          default: //do nothing
        }
      }
    }
    // -->
</script>
<form name="frmContact" action="index.php?cmd=Contact&amp;act=forms&amp;tpl=deleteEntry&amp;formId={CONTACT_FORM_ID}" method="post">
  <table class="adminlist">
    <caption>{CONTACT_FORM_ENTRIES_TITLE}</caption>
    <tr>
      <th>#</th>
      <th>{TXT_CONTACT_DATE}</th>
      <!-- BEGIN contact_col_names -->
      <th>{CONTACT_COL_NAME}</th>
      <!-- END contact_col_names -->
      <th>{TXT_CONTACT_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN contact_form_entries -->
    <tr class="{CONTACT_FORM_ENTRIES_ROW_CLASS}">
      <td><input type="checkbox" name="selectedEntries[]" id="selectedEntries" value="{CONTACT_FORM_ENTRY_ID}"></td>
      <td>
        {CONTACT_FORM_DATE}
        <!-- BEGIN contact_form_entry_attach -->
        <i class="fa-solid fa-paperclip"></i>
        <!-- END contact_form_entry_attach -->
      </td>
      <!-- BEGIN contact_form_entry_data -->
      <td>{CONTACT_FORM_ENTRIES_CELL_CONTENT}</td>
      <!-- END contact_form_entry_data -->
      <td>
        <a href="javascript:confirmDeleteEntry({CONTACT_FORM_ENTRY_ID})" title="{TXT_CONTACT_DELETE_ENTRY}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END contact_form_entries -->
  </table>
</form>
<ul class="bulk-functions">
  <li><a href="#" onclick="changeCheckboxes('frmContact','selectedEntries[]',true); return false;">{TXT_CONTACT_SELECT_ALL}</a></li>
  <li><a href="#" onclick="changeCheckboxes('frmContact','selectedEntries[]',false); return false;">{TXT_CONTACT_DESELECT_ALL}</a></li>
  <li>
    <select name="frmContact_MultiAction" onchange="selectMultiAction(this.value);">
      <option value="0">{TXT_CONTACT_SUBMIT_SELECT}</option>
      <option value="delete">{TXT_CONTACT_SUBMIT_DELETE}</option>
    </select>
  </li>
</ul>
<input type="button" value="{TXT_CONTACT_BACK}" onclick="document.location.href='index.php?cmd=Contact&{CSRF_PARAM}'">
{CONTACT_FORM_PAGING}
<!-- END module_contact_form_entries.html -->
