<!-- START module_contact_entries_details.html -->
<script>
<!--
  function confirmDeleteEntry(id)
  {
    if (confirm('{TXT_CONTACT_CONFIRM_DELETE_ENTRY}\n{TXT_CONTACT_ACTION_IS_IRREVERSIBLE}')) {
      document.location.href = 'index.php?cmd=Contact&act=forms&tpl=deleteEntry&formId={CONTACT_FORM_ID}&entryId='+id+'&{CSRF_PARAM}';
    }
  }
  // -->
</script>
<div class="infobox">{CONTACT_ENTRY_TITLE}</div>
{CONTACT_ENTRY}
<input type="button" value="{TXT_CONTACT_BACK}" onclick="document.location.href='index.php?cmd=Contact&act=forms&tpl=entries&formId={CONTACT_FORM_ID}&{CSRF_PARAM}'">
<input type="button" value="{TXT_CONTACT_DELETE}" onclick="confirmDeleteEntry({CONTACT_FORM_ENTRY_ID})">
<!-- END module_contact_entries_details.html -->
