<!-- BEGIN form_open -->
<form name="vg-{HTML_VG_ID}-saveEntries" method="post" action="{HTML_FORM_ACTION}">
    <!-- END form_open -->
    <table{TABLE_ATTRIBUTES}><!-- BEGIN caption -->
        <caption{CAPTION_ATTRIBUTES}>
        {CAPTION_CONTENTS}
        </caption><!-- END caption --><!-- BEGIN colgroup -->
        <colgroup{COLGROUP_ATTRIBUTES}><!-- BEGIN col -->
            <col{COL_ATTRIBUTES}><!-- END col -->
        </colgroup><!-- END colgroup --><!-- BEGIN row --><!-- BEGIN thead_open -->
        <thead{THEAD_ATTRIBUTES}><!-- END thead_open --><!-- BEGIN tbody_open -->
            <tbody{THEAD_ATTRIBUTES}><!-- END tbody_open --><!-- BEGIN tfoot_open -->
                <tfoot{THEAD_ATTRIBUTES}><!-- END tfoot_open -->
                    <tr{TR_ATTRIBUTES}><!-- BEGIN row_th -->
                        <th{CELL_ATTRIBUTES}>
                            {CELL_CONTENTS}
                        </th><!-- END row_th --><!-- BEGIN row_td -->
                        <td{CELL_ATTRIBUTES}>
                            {CELL_CONTENTS}
                        </td><!-- END row_td -->
                    </tr><!-- BEGIN thead_close -->
                </thead><!-- END thead_close --><!-- BEGIN tbody_close -->
            </tbody><!-- END tbody_close --><!-- BEGIN tfoot_close -->
        </tfoot><!-- END tfoot_close --><!-- END row -->
    </table>
    <!-- BEGIN form_close -->
    <input type="submit" name="vg-{HTML_VG_ID}-saveEntry" value="{TXT_HTML_SAVE}">
</form>
<!-- END form_close -->
<!-- BEGIN multiaction -->
<div>
    <select name="cxMultiAction" onchange="
        var regex = /([a-zA-Z\/]+):([a-zA-Z\/]+)/;
        var matches = jQuery(this).val().match(regex);
        if (!matches) {
            return false;
        }
        var checkboxes = jQuery('#vg-table-{MULTIACTION_HTML_VG_ID}').find('input[type=checkbox].multi-action-checkbox');
        var activeRows = [];
        checkboxes.filter(':checked').each(function(el) {
            activeRows.push(jQuery(this).val());
        });
        cx.trigger(matches[1], matches[2], activeRows);
        checkboxes.prop('checked', false);
        jQuery(this).val('');">
        <!-- BEGIN multiaction_option -->
        <option value="{MULTIACTION_OPTION_VALUE}">{MULTIACTION_OPTION_LABEL}</option>
        <!-- END multiaction_option -->
    </select>
</div>
<!-- END multiaction -->
