<!-- BEGIN info -->
<div class="infobox">
    {TXT_INFOBOX}
</div>
<!-- END info -->
<form method="get" id="vg-{VG_ID}-searchForm" data-vg-id="{VG_ID}"></form>
<!-- BEGIN search -->
<div id="vg-{VG_ID}-filterSearch">
    <table class="adminlist">
        <caption>{TXT_SEARCH}</caption>
        <tr>
            <td>
                    <input type="text" name="term" placeholder="{TXT_CORE_SEARCH_TERM}" class="vg-encode" form="vg-{VG_ID}-searchForm">
                    <input type="<!-- BEGIN submitSearch -->submit<!-- END submitSearch --><!-- BEGIN buttonSearch -->button<!-- END buttonSearch -->" value="{TXT_SEARCH}" class="vg-searchSubmit" form="vg-{VG_ID}-searchForm">
                <!-- BEGIN showExtendedSearch -->
                <a href="#" onclick="cx.jQuery('#vg-{VG_ID}-extendedSearch').toggle(500); return false;">
                    {TXT_EXP_SEARCH}
                </a>
                <!-- END showExtendedSearch -->
            </td>
        </tr>
    </table>
</div>
<!-- END search -->
<!-- BEGIN filter -->
<div id="vg-{VG_ID}-extendedSearch" <!-- BEGIN hideFilter --> style="display:none;"<!-- END hideFilter -->>
    <table class="adminlist splitview">
        <caption>{TXT_EXP_SEARCH}</caption>
        <!-- BEGIN filter-field -->
        <tr>
            <td>
                <label for="{FIELD_ID}">{FIELD_TITLE}</label>
            </td>
            <td>
                {FIELD_FILTER_OPTIONS}
            </td>
        </tr>
        <!-- END filter-field -->
        <tr>
            <td colspan="2">
                <input type="submit" value="{TXT_SEARCH}" class="vg-searchSubmit" form="vg-{VG_ID}-searchForm">
            </td>
        </tr>
    </table>
</div>
<!-- END filter -->
<!-- BEGIN filter-alphabetical -->
<div id="vg-{VG_ID}-alphabeticalSearch">
    <ul class="vg-alphabeticalSearch">
        <!-- BEGIN letter -->
        <li <!-- BEGIN selected -->class="selected"<!-- END selected -->>
            <a href="{ALPHABETICAL_URL}">{LETTER}</a>
        </li>
        <!-- END letter -->
    </ul>
</div>
<!-- END filter-alphabetical -->
<!-- BEGIN table -->
{TABLE}
{PAGING}
<!-- END table -->
{ADD_BUTTON}
