<!-- start module_access_config_general.html -->
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="generalTab_permissions" class="active" href="#">{TXT_ACCESS_PERMISSIONS}</a></li>
  <li><a data-tablink="generalTab_block_functions" href="#">{TXT_ACCESS_FRONTEND_BLOCK_FUNCTIONS}</a></li>
  <li><a data-tablink="generalTab_pictures" href="#">{TXT_ACCESS_PICTURES}</a></li>
  <li><a data-tablink="generalTab_session" href="#">{TXT_ACCESS_SESSION_TITLE}</a></li>
</ul>
<form action="index.php?cmd=Access&amp;act=config" method="post" onsubmit="accessSelectAllGroups(document.getElementById('access_user_associated_groups'))">
  <!-- start permissions div -->
  <div class="tab generalTab_permissions" data-tablist="default">
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_MISCELLANEOUS}</caption>
      <tr>
        <td>{TXT_ACCESS_USE_USERNAMES}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_USE_USERNAMES_TOOLTIP}</span></td>
        <td>
          <input type="radio" name="access_permissions_use_usernames" id="access_permissions_use_usernames_yes" value="1" {ACCESS_USE_USERNAMES}>
          <label for="access_permissions_use_usernames_yes">{TXT_ACCESS_YES}</label>
          <input type="radio" name="access_permissions_use_usernames" id="access_permissions_use_usernames_no" value="0" {ACCESS_DONT_USE_USERNAMES}>
          <label for="access_permissions_use_usernames_no">{TXT_ACCESS_NO}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_ALLOW_USERS_DELETE_ACCOUNT}</td>
        <td>
          <input type="radio" name="access_permissions_delete_account" id="access_permissions_delete_account_yes" value="1" {ACCESS_ALLOW_USERS_DELETE_ACCOUNT}>
          <label for="access_permissions_delete_account_yes">{TXT_ACCESS_YES}</label>
          <input type="radio" name="access_permissions_delete_account" id="access_permissions_delete_account_no" value="0" {ACCESS_DONT_ALLOW_USERS_DELETE_ACCOUNT}>
          <label for="access_permissions_delete_account_no">{TXT_ACCESS_NO}</label>
        </td>
      </tr>
    </table>
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_PROFILE}</caption>
      <tr>
        <td>{TXT_ACCESS_ALLOW_USERS_SET_PROFILE_ACCESS}</td>
        <td>
          <input type="radio" name="access_permissions_profile_access" id="access_permissions_profile_access_yes" value="1" {ACCESS_ALLOW_USERS_SET_PROFILE_ACCESS}>
          <label for="access_permissions_profile_access_yes">{TXT_ACCESS_YES}</label>
          <input type="radio" name="access_permissions_profile_access" id="access_permissions_profile_access_no" value="0" {ACCESS_DONT_ALLOW_USERS_SET_PROFILE_ACCESS}>
          <label for="access_permissions_profile_access_no">{TXT_ACCESS_NO}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_STANDARD}</td>
        <td>
          {ACCESS_USER_PROFILE_ACCESS}
          <input type="checkbox" name="access_force_selected_profile_access" id="access_force_selected_profile_access" value="1">
          <label for="access_force_selected_profile_access">{TXT_ACCESS_USE_SELECTED_ACCESS_FOR_EVERYONE}</label>
        </td>
      </tr>
    </table>
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_EMAIL}</caption>
      <tr>
        <td>{TXT_ACCESS_ALLOW_USERS_SET_EMAIL_ACCESS}</td>
        <td>
          <input type="radio" name="access_permissions_email_access" id="access_permissions_email_access_yes" value="1" {ACCESS_ALLOW_USERS_SET_EMAIL_ACCESS}>
          <label for="access_permissions_email_access_yes">{TXT_ACCESS_YES}</label>
          <input type="radio" name="access_permissions_email_access" id="access_permissions_email_access_no" value="0" {ACCESS_DONT_ALLOW_USERS_SET_EMAIL_ACCESS}>
          <label for="access_permissions_email_access_no">{TXT_ACCESS_NO}</label>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_STANDARD}</td>
        <td>
          {ACCESS_USER_EMAIL_ACCESS}
          <input type="checkbox" name="access_force_selected_email_access" id="access_force_selected_email_access" value="1">
          <label for="access_force_selected_email_access">{TXT_ACCESS_USE_SELECTED_ACCESS_FOR_EVERYONE}</label>
        </td>
      </tr>
    </table>
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_USER_ACCOUNT_VERIFICATION}</caption>
      <tr>
        <td><label for="user_account_verification">{TXT_ACCESS_USER_ACCOUNT_VERIFICATION_TEXT}</label></td>
        <td><input type="checkbox" name="user_account_verification" id="user_account_verification" {ACCESS_USSER_ACCOUNT_VERIFICATION_CHECKED}></td>
      </tr>
    </table>
  </div>
  <!-- end permissions div -->
  <!-- start block_functions div -->
  <div class="tab generalTab_block_functions" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_ACCESS_CURRENTLY_ONLINE}</td>
        <td>
          <input type="checkbox" name="access_blocks_currently_online_users" id="access_blocks_currently_online_users" value="1" onchange="document.getElementById('access_blocks_currently_online_users_box').style.display = this.checked ? 'block' : 'none'" {ACCESS_BLOCKS_CURRENTLY_ONLINE_USERS}>
          <label for="access_blocks_currently_online_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_CURRENTLY_ONLINE_USERS_DISPLAY};" id="access_blocks_currently_online_users_box">
            {TXT_ACCESS_MAX_USER_COUNT}
            <input type="number" name="access_blocks_currently_online_users_user_count" value="{ACCESS_BLOCKS_CURRENTLY_ONLINE_USERS_USER_COUNT}" class="compact">
          </div>
          <div>
            <input type="checkbox" name="access_blocks_currently_online_users_only_with_photo" id="access_blocks_currently_online_users_only_with_photo" value="1" {ACCESS_BLOCKS_CURRENTLY_ONLINE_USERS_ONLY_WITH_PHOTO}>
            <label for="access_blocks_currently_online_users_only_with_photo">{TXT_ACCESS_SHOW_USERS_ONLY_WITH_PHOTO}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_LAST_ACTIVE}</td>
        <td>
          <input type="checkbox" name="access_blocks_last_active_users" id="access_blocks_last_active_users" value="1" onchange="document.getElementById('access_blocks_last_active_users_box').style.display = this.checked ? '' : 'none'" {ACCESS_BLOCKS_LAST_ACTIVE_USERS}>
          <label for="access_blocks_last_active_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_LAST_ACTIVE_USERS_DISPLAY};" id="access_blocks_last_active_users_box">
            {TXT_ACCESS_MAX_USER_COUNT}
            <input type="number" name="access_blocks_last_active_users_user_count" value="{ACCESS_BLOCKS_LAST_ACTIVE_USERS_USER_COUNT}" class="compact">
          </div>
          <div>
            <input type="checkbox" name="access_blocks_last_active_users_only_with_photo" id="access_blocks_last_active_users_only_with_photo" value="1" {ACCESS_BLOCKS_LAST_ACTIVE_USERS_ONLY_WITH_PHOTO}>
            <label for="access_blocks_last_active_users_only_with_photo">{TXT_ACCESS_SHOW_USERS_ONLY_WITH_PHOTO}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_LATEST_REGISTERED_USERS}</td>
        <td>
          <input type="checkbox" name="access_blocks_latest_registered_users" id="access_blocks_latest_registered_users" value="1" onchange="document.getElementById('access_blocks_latest_registered_users_box').style.display = this.checked ? '' : 'none'" {ACCESS_BLOCKS_LATEST_REGISTERED_USERS}>
          <label for="access_blocks_latest_registered_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_LATEST_REGISTERED_USERS_DISPLAY};" id="access_blocks_latest_registered_users_box">
            {TXT_ACCESS_MAX_USER_COUNT}
            <input type="number" name="access_blocks_latest_registered_users_user_count" value="{ACCESS_BLOCKS_LATEST_REGISTERED_USERS_USER_COUNT}" class="compact">
          </div>
          <div>
            <input type="checkbox" name="access_blocks_latest_registered_users_only_with_photo" id="access_blocks_latest_registered_users_only_with_photo" value="1" {ACCESS_BLOCKS_LATEST_REGISTERED_USERS_ONLY_WITH_PHOTO}>
            <label for="access_blocks_latest_registered_users_only_with_photo">{TXT_ACCESS_SHOW_USERS_ONLY_WITH_PHOTO}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_BIRTHDAYS}</td>
        <td>
          <input type="checkbox" name="access_blocks_birthday_users" id="access_blocks_birthday_users" value="1" onchange="document.getElementById('access_blocks_birthday_users_box').style.display = this.checked ? '' : 'none'" {ACCESS_BLOCKS_BIRTHDAY_USERS}>
          <label for="access_blocks_birthday_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_BIRTHDAY_USERS_DISPLAY};" id="access_blocks_birthday_users_box">
            {TXT_ACCESS_MAX_USER_COUNT}
            <input type="number" name="access_blocks_birthday_users_user_count" value="{ACCESS_BLOCKS_BIRTHDAY_USERS_USER_COUNT}" class="compact">
          </div>
          <div>
            <input type="checkbox" name="access_blocks_birthday_users_only_with_photo" id="access_blocks_birthday_users_only_with_photo" value="1" {ACCESS_BLOCKS_BIRTHDAY_USERS_ONLY_WITH_PHOTO}>
            <label for="access_blocks_birthday_users_only_with_photo">{TXT_ACCESS_SHOW_USERS_ONLY_WITH_PHOTO}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_NEXT_BIRTHDAYS}</td>
        <td>
          <input type="checkbox" name="access_blocks_next_birthday_users" id="access_blocks_next_birthday_users" value="1" onchange="document.getElementById('access_blocks_next_birthday_users_box').style.display = this.checked ? '' : 'none'" {ACCESS_BLOCKS_NEXT_BIRTHDAY_USERS}>
          <label for="access_blocks_next_birthday_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_NEXT_BIRTHDAY_USERS_DISPLAY};" id="access_blocks_next_birthday_users_box">
            {TXT_ACCESS_NEXT_BIRTHDAYS_DAYS}
            <input type="number" name="access_blocks_next_birthday_users_day_count" value="{ACCESS_BLOCKS_NEXT_BIRTHDAY_USERS_DAY_COUNT}" class="compact">
          </div>
          <div>
            <input type="checkbox" name="access_blocks_next_birthday_users_pic" id="access_blocks_next_birthday_users_pic" value="1" {ACCESS_BLOCKS_NEXT_BIRTHDAY_USERS_PIC}>
            <label for="access_blocks_next_birthday_users_pic">{TXT_ACCESS_SHOW_USERS_ONLY_WITH_PHOTO}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_RANDOM_USERS}</td>
        <td>
          <input type="checkbox" name="access_blocks_random_access_users" id="access_blocks_random_access_users" value="1" onchange="document.getElementById('access_blocks_random_access_users_box').style.display = this.checked ? '' : 'none'" {ACCESS_BLOCKS_RANDOM_ACCESS_USERS}>
          <label for="access_blocks_random_access_users">{TXT_ACCESS_ACTIVATE_BLOCK_FUNCTION}</label>
          <div style="display:{ACCESS_BLOCKS_RANDOM_ACCESS_USERS_DISPLAY};" id="access_blocks_random_access_users_box">
            {TXT_ACCESS_MAX_USER_COUNT}
            <input type="number" name="access_blocks_random_access_users_count" value="{ACCESS_BLOCKS_RANDOM_ACCESS_USERS_USER_COUNT}" class="compact">
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- end block_functions div -->
  <!-- start pictures div -->
  <div class="tab generalTab_pictures" data-tablist="default">
    <!-- start profile pic configuration -->
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_PROFILE_AVATAR_PIC}</caption>
      <tr>
        <td>{TXT_ACCESS_MAX_WIDTH}</td>
        <td><input type="number" name="accessMaxProfilePicWidth" value="{ACCESS_MAX_PROFILE_PIC_WIDTH}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_HEIGHT}</td>
        <td><input type="number" name="accessMaxProfilePicHeight" value="{ACCESS_MAX_PROFILE_PIC_HEIGHT}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_THUMBNAIL_WIDTH}</td>
        <td><input type="number" name="accessProfileThumbnailPicWidth" value="{ACCESS_PROFILE_THUMBNAIL_PIC_WIDTH}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_THUMBNAIL_HEIGHT}</td>
        <td><input type="number" name="accessProfileThumbnailPicHeight" value="{ACCESS_PROFILE_THUMBNAIL_PIC_HEIGHT}" class="compact">
        </td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_FILE_SIZE}</td>
        <td><input type="text" name="accessMaxProfilePicSize" value="{ACCESS_MAX_PROFILE_PIC_SIZE}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_THUMBNAIL_GENERATION}</td>
        <td>
          <select name="accessProfileThumbnailMethod" onchange="document.getElementById('accessProfileThumbnailMethodBox').style.display=this.value=='scale' ? 'inline' : 'none'">
            <option value="crop" {ACCESS_PROFILE_THUMBNAIL_CROP}>{TXT_ACCESS_CROP_THUMBNAIL_TXT}</option>
            <option value="scale" {ACCESS_PROFILE_THUMBNAIL_SCALE}>{TXT_ACCESS_SCALE_THUMBNAIL_TXT}</option>
          </select>
          <div id="accessProfileThumbnailMethodBox" style="display:{ACCESS_PROFILE_THUMBNAIL_SCALE_BOX};">
            {TXT_ACCESS_BACKGROUND_COLOR}
            <input type="color" name="accessProfileThumbnailScaleColor" value="{ACCESS_PROFILE_THUMBNAIL_SCALE_COLOR}" class="compact">
          </div>
        </td>
      </tr>
    </table>
    <table class="adminlist splitview">
      <caption>{TXT_ACCESS_OTHER_PICTURES}</caption>
      <tr>
        <td>{TXT_ACCESS_MAX_WIDTH}</td>
        <td><input type="number" name="accessMaxPicWidth" value="{ACCESS_MAX_PIC_WIDTH}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_HEIGHT}</td>
        <td><input type="number" name="accessMaxPicHeight" value="{ACCESS_MAX_PIC_HEIGHT}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_THUMBNAIL_WIDTH}</td>
        <td><input type="number" name="accessMaxThumbnailPicWidth" value="{ACCESS_MAX_THUMBNAIL_PIC_WIDTH}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_THUMBNAIL_HEIGHT}</td>
        <td><input type="number" name="accessMaxThumbnailPicHeight" value="{ACCESS_MAX_THUMBNAIL_PIC_HEIGHT}" class="compact"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_MAX_FILE_SIZE}</td>
        <td><input type="text" name="accessMaxPicSize" value="{ACCESS_MAX_PIC_SIZE}" class="compact"></td>
      </tr>
    </table>
  </div>
  <!-- end pictures div -->

  <!-- start session div-->
  <div class="tab generalTab_session" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_ACCESS_SESSION_ON_INTERVAL}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_SESSION_DESCRIPTION}</span></td>
        <td><input type="number" name="sessioninterval" value="{ACCESS_SESSION_USER_INTERVAL}" class="compact" min="0" max="300"></td>
      </tr>
    </table>
  </div>

  <!-- end session div-->
  <input type="submit" name="access_save_settings" value="{TXT_ACCESS_SAVE}">
</form>
<!-- end module_access_config_general.html -->
