<!-- start module_access_group_list.html -->
<script>
    // <![CDATA[
    function accessDeleteGroup(id, name)
{
        strMsg = '{TXT_ACCESS_CONFIRM_DELETE_GROUP}';
        if (confirm(strMsg.replace('%s', name)+'\n{TXT_ACCESS_OPERATION_IRREVERSIBLE}')) {
            window.location.replace('index.php?cmd=Access&{CSRF_PARAM}&act=group&tpl=delete&group_type_filter={ACCESS_GROUP_TYPE_FILTER}&sort={ACCESS_SORT_STATUS}&by={ACCESS_SORT_BY}&id='+id);
        }
    }

    function accessChangeGroupStatus(id)
{
        window.location.replace('index.php?cmd=Access&{CSRF_PARAM}&act=group&tpl=changeStatus&group_type_filter={ACCESS_GROUP_TYPE_FILTER}&sort={ACCESS_SORT_STATUS}&by={ACCESS_SORT_BY}&id='+id);
    }
    // ]]>
</script>
<div class="search-functions">
    <div>{ACCESS_GROUP_TYPE_MENU}</div>
</div>
<table class="adminlist sortable">
    <caption>
      {TXT_ACCESS_GROUP_LIST}
      <div class="functions">
        <a href="/cadmin/Access/group?tpl=create" title="{TXT_ACCESS_CREATE_NEW_USER_GROUP}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
        <th class="sortable {ACCESS_SORT_DIR_ID}"><a href="index.php?cmd=Access&amp;act=group&amp;group_type_filter={ACCESS_GROUP_TYPE_FILTER}&amp;sort={ACCESS_SORT_ID}&amp;by=group_id" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_ID}</a></th>
        <th class="sortable {ACCESS_SORT_DIR_STATUS}"><a href="index.php?cmd=Access&amp;act=group&amp;group_type_filter={ACCESS_GROUP_TYPE_FILTER}&amp;sort={ACCESS_SORT_STATUS}&amp;by=is_active" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_STATUS}</a></th>
        <th class="sortable {ACCESS_SORT_DIR_NAME}"><a href="index.php?cmd=Access&amp;act=group&amp;group_type_filter={ACCESS_GROUP_TYPE_FILTER}&amp;sort={ACCESS_SORT_NAME}&amp;by=group_name" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_NAME}</a></th>
        <th class="sortable {ACCESS_SORT_DIR_DESCRIPTION}"><a href="index.php?cmd=Access&amp;act=group&amp;group_type_filter={ACCESS_GROUP_TYPE_FILTER}&amp;sort={ACCESS_SORT_DESCRIPTION}&amp;by=group_description" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_DESCRIPTION}</a></th>
        <th class="sortable {ACCESS_SORT_DIR_TYPE}"><a href="index.php?cmd=Access&amp;act=group&amp;group_type_filter={ACCESS_GROUP_TYPE_FILTER}&amp;sort={ACCESS_SORT_TYPE}&amp;by=type" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_TYPE}</a></th>
        <th>{TXT_ACCESS_USERS}</th>
        <th>{TXT_EXPORT}&nbsp;(<a href="index.php?cmd=Access&act=export">{TXT_USER_ALL}</a>)</th>
        <th>{TXT_ACCESS_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN access_group_list -->
    <tr class="row{ACCESS_ROW_CLASS_ID}">
        <td><code>{ACCESS_GROUP_ID}</code></td>
        <td><a href="javascript:accessChangeGroupStatus({ACCESS_GROUP_ID});" title="{ACCESS_CHANGE_GROUP_STATUS_MSG}"><img src="/core/Core/View/Media/icons/{ACCESS_GROUP_STATUS_IMG}" width="13" alt="{ACCESS_GROUP_STATUS}" height="13"></a></td>
        <td><a href="index.php?cmd=Access&amp;act=group&amp;tpl=modify&amp;id={ACCESS_GROUP_ID}" title="{TXT_ACCESS_MODIFY_GROUP}">{ACCESS_GROUP_NAME}</a></td>
        <td>{ACCESS_GROUP_DESCRIPTION}</td>
        <td>{ACCESS_GROUP_TYPE}</td>
        <td><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}" title="{ACCESS_SHOW_USERS_OF_GROUP}">{ACCESS_GROUP_USER_COUNT}</a></td>
        <td>
            <a href="index.php?cmd=Access&act=export&groupId={ACCESS_GROUP_ID}">{TXT_USER_ALL}</a>
            <!-- BEGIN languages -->|
            <a href="index.php?cmd=Access&act=export&groupId={ACCESS_GROUP_ID}&langId={ACCESS_LANG_ID}">{ACCESS_LANG_NAME}</a>
            <!-- END languages -->
        </td>
        <td>
            <a href="index.php?cmd=Access&amp;act=group&amp;tpl=modify&amp;id={ACCESS_GROUP_ID}" title="{TXT_ACCESS_MODIFY_GROUP}"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="javascript:accessDeleteGroup({ACCESS_GROUP_ID},'{ACCESS_GROUP_NAME_ESCAPED}')" title="{ACCESS_DELETE_GROUP}"><i class="fa-regular fa-trash-can"></i></a>
        </td>
    </tr>
    <!-- END access_group_list -->
</table>
{ACCESS_GROUP_PAGING}
<!-- end module_access_group_list.html -->
