<!-- start module_access_config_attribute_list.html -->
<script>
  // <![CDATA[
function accessDeleteAttribute(id,name)
{
    msg = '{TXT_ACCESS_CONFIRM_DELETE_ATTRIBUTE_MSG}';
  if (confirm(msg.replace('%s', name)+'\n\n{TXT_ACCESS_OPERATION_IRREVERSIBLE}')) {
    window.location.href = 'index.php?cmd=Access&{CSRF_PARAM}&act=config&tpl=deleteAttribute&id='+id;
    }
  }
// ]]>
</script>
{ACCESS_JAVASCRIPT_FUNCTIONS}
<form action="index.php?cmd=Access&amp;act=config&amp;tpl=attributes" method="post" id="access">
  <table class="adminlist">
    <caption>
        <div class="functions">
            <a href="/cadmin/Access/config?tpl=modifyAttribute" title="{TXT_ACCESS_ADD_NEW_PROFILE_ATTRIBUTE}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </caption>
    <tr>
      <th>{TXT_ACCESS_ID}</th>
      <th>{TXT_ACCESS_NAME}</th>
      <th>{TXT_ACCESS_ATTRIBUTE} ({TXT_ACCESS_TYPE})</th>
      <th>{TXT_ACCESS_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN access_attribute_list -->
    <tr class="row{ACCESS_ATTRIBUTE_ROW_CLASS}">
      <td><code>{ACCESS_ATTRIBUTE_ID}</code></td>
      <td>{ACCESS_ATTRIBUTE_NAME}</td>
      <td>{ACCESS_ATTRIBUTE}</td>
      <td>
        <!-- BEGIN access_attribute_modify_function -->
        <a href="index.php?cmd=Access&amp;act=config&amp;tpl=modifyAttribute&amp;id={ACCESS_ATTRIBUTE_ID}" title="{TXT_ACCESS_MODIFY_ATTRIBUTE}"><i class="fa-regular fa-pen-to-square"></i></a>
        <!-- END access_attribute_modify_function -->
        <!-- BEGIN access_attribute_delete_function -->
        <a href="javascript:accessDeleteAttribute({ACCESS_ATTRIBUTE_ID},'{ACCESS_ATTRIBUTE_NAME_JS}')" title="{TXT_ACCESS_DELETE_ATTRIBUTE}"><i class="fa-regular fa-trash-can"></i></a>
        <!-- END access_attribute_delete_function -->
      </td>
    </tr>
    <!-- END access_attribute_list -->
  </table>
</form>
<!-- end module_access_config_attribute_list.html -->
