<!-- start module_access_config_attribute_code.html -->
<table class="adminlist">
  <caption>{ACCESS_ATTRIBUTE_CODE_TITLE}</caption>
  <tr>
    <td>{TXT_ACCESS_ATTRIBUTE_CODE_DESC}</td>
  </tr>
  <tr>
    <td><textarea style="width:100%; height:400px;">{ACCESS_ATTRIBUTE_CODE}</textarea></td>
  </tr>
</table>
<input type="button" onclick="window.location.href='index.php?cmd=Access&act=config&tpl=attributes'" value="{TXT_ACCESS_BACK}">
<!-- end module_access_config_attribute_code.html -->
