<!-- start module_access_group_create.html -->
<form action="index.php?cmd=Access&amp;act=group&amp;tpl=create" method="post">
  <table class="adminlist splitview">
    <tr>
      <td>{TXT_ACCESS_CREATE_GROUP_TYPE_QUESTION}</td>
      <td>
        <input type="radio" name="access_group_type" value="frontend" id="access_group_type_frontend" checked="checked">
        <label for="access_group_type_frontend">{TXT_ACCESS_FRONTEND_DESC}</label><br>
        <input type="radio" name="access_group_type" value="backend" id="access_group_type_backend">
        <label for="access_group_type_backend">{TXT_ACCESS_BACKEND_DESC}</label>
      </td>
    </tr>
  </table>
  <input type="button" name="access_cancel" value="{TXT_ACCESS_CANCEL}" onclick="window.location.href='index.php?cmd=Access&{CSRF_PARAM}&amp;act=group'" class="secondary">
  <input type="submit" name="access_create_group" value="{TXT_ACCESS_NEXT}">
</form>
<!-- end module_access_group_create.html -->
