<!-- start module_access_group_modify.html -->
{ACCESS_JAVASCRIPT_FUNCTIONS}
<script>
  // <![CDATA[

  function accessSwitchCheckboxStatus(id) {
    if (document.getElementById(id) != null) {
      if (document.getElementById(id).checked == true) {
        document.getElementById(id).checked = false;
      } else {
        document.getElementById(id).checked = true;
      }
    }
  }

  function accessChangeProtection(triggerLink, nodeId, lang, backend) {
    var lockedKey = 'locked';
    var pageIsLocked = cx.jQuery(triggerLink).attr('rel') == lockedKey;
    var msg = pageIsLocked ? '{ACCESS_UNPROTECT_PAGE_TXT}' : '{ACCESS_PROTECT_PAGE_TXT}';

    if (confirm(msg+'\n\n{TXT_ACCESS_PROMT_EXEC_WARNING}')) {
      if (backend) {
        action = pageIsLocked ? 'unlock' : 'lock';
      } else {
        action = pageIsLocked ? 'unprotect' : 'protect';
      }
      data = {action: action, lang: lang, nodes: [nodeId]};
      cx.jQuery.post('index.php?cmd=JsonData&object=page&act=multipleSet', data, function(response) {
        if (response.status == 'success') {
          if (pageIsLocked) {
            cx.jQuery(triggerLink).find('ins').removeClass(lockedKey);
            cx.jQuery(triggerLink).attr('rel', '');
            cx.jQuery('#access_webpage_access_id_'+nodeId+'_'+lang).css('display', 'none');
          } else {
            cx.jQuery(triggerLink).find('ins').addClass(lockedKey);
            cx.jQuery(triggerLink).attr('rel', lockedKey);
            cx.jQuery('#access_webpage_access_id_'+nodeId+'_'+lang).css('display', '');
          }
        }
      });
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
      for (const el of document.querySelectorAll(".toggle-all")) {
          el.addEventListener("click", function() {
              for (const box of el.closest(".tab").getElementsByTagName("input")) {
                  if (!box.name == "access_area_id[]") {
                      continue;
                  }
                  box.checked = el.classList.contains("check");
              }
          });
      }
  });
  // ]]>
</script>
<ul class="tabmenu" data-tablist="default">
  <li><a data-tablink="groupTab_modifyGroup1" class="active" href="#">{TXT_ACCESS_GENERAL}</a></li>
  <li><a data-tablink="groupTab_modifyGroup2" href="#">{TXT_ACCESS_PERMISSIONS}</a></li>
</ul>
<form action="?cmd=Access&amp;act=group&amp;tpl=modify&amp;id={ACCESS_GROUP_ID}" method="post" id="access_group_form" onsubmit="accessSelectAllGroups(document.getElementById('access_group_associated_users'));" name="acess_group_form">
  <input type="hidden" name="access_change_protection" value="1">
  <input type="hidden" name="access_group_type" value="{ACCESS_GROUP_TYPE}">
  <!-- start modifyGroup1 div -->
  <div class="tab groupTab_modifyGroup1" data-tablist="default">
    <table class="adminlist splitview">
      <tr>
        <td>{TXT_ACCESS_STATUS}</td>
        <td><input type="checkbox" name="access_group_status" id="access_group_status" value="1" {ACCESS_GROUP_STATUS}><label for="access_group_status">{TXT_ACCESS_ACTIVE}</label></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_NAME}</td>
        <td><input type="text" name="access_group_name" value="{ACCESS_GROUP_NAME}" maxlength="100"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_DESCRIPTION}</td>
        <td><input type="text" name="access_group_description" value="{ACCESS_GROUP_DESCRIPTION}" maxlength="255"></td>
      </tr>
      <tr>
        <td>{TXT_ACCESS_HOMEPAGE}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_ACCESS_HOMEPAGE_DESC}</span></td>
        <td>
          <input type="text" name="access_group_homepage" id="access_group_homepage" value="{ACCESS_GROUP_HOMEPAGE}">
          <input type="button" name="access_open_browser" value="{TXT_ACCESS_BROWSE}" onclick="accessGetFileBrowser('access_group_homepage')">
          {ACCESS_MEDIA_BROWSER_BUTTON}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="multiselect">
            <div>
              {TXT_ACCESS_AVAILABLE_USERS}<br>
              <select name="access_group_not_associated_users[]" id="access_group_not_associated_users" size="15" multiple="multiple">
                {ACCESS_GROUP_NOT_ASSOCIATED_USERS}
              </select><br>
              <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_group_not_associated_users'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
              <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_group_not_associated_users'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
            </div>
            <div>
              <input type="button" value="&lt;&lt;" name="removeuser" onclick="accessRemoveGroupFromList(document.getElementById('access_group_not_associated_users'), document.getElementById('access_group_associated_users'))">
              <input type="button" value="&gt;&gt;" name="adduser" onclick="accessAddGroupToList(document.getElementById('access_group_not_associated_users'), document.getElementById('access_group_associated_users'))">
            </div>
            <div>
              {TXT_ACCESS_ASSOCIATED_USERS}<br>
              <select name="access_group_associated_users[]" id="access_group_associated_users" size="15" multiple="multiple">
                {ACCESS_GROUP_ASSOCIATED_USERS}
              </select><br>
              <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_group_associated_users'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
              <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_group_associated_users'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- end modifyGroup1 div -->
  <!-- start modifyGroup2 div -->
  <div class="tab groupTab_modifyGroup2" data-tablist="default">
    <div>
      <!-- BEGIN access_permission_tabs_menu -->
      <ul class="tabmenu" data-tablist="permission">
        <li><a data-tablink="permissionTab_modifyPermission0" class="active" href="#">{ACCESS_WEBSITE_TAB_NAME}</a></li>
        <!-- BEGIN access_permission_tab_menu -->
        <li><a data-tablink="permissionTab_modifyPermission{ACCESS_TAB_NR}" href="#">{ACCESS_TAB_NAME}</a></li>
        <!-- END access_permission_tab_menu -->
        <li><a data-tablink="permissionTab_modifyPermission{ACCESS_WYSIWYG_TAB_NR}" href="#">{TXT_ACCESS_TOOLBARCONFIGURATOR}</a></li>
      </ul>
      <!-- END access_permission_tabs_menu -->
      <div class="tab permissionTab_modifyPermission0" data-tablist="permission">
        <table class="adminlist" id="site-tree">
          <tr>
            <th>{TXT_ACCESS_GROUP_ACCESS}</th>
            <th>{TXT_ACCESS_GROUP_STATUS}</th>
            <th>{TXT_ACCESS_GROUP_WEBSITE}</th>
            <th>{TXT_ACCESS_GROUP_FUNCTIONS}</th>
          </tr>
          <!-- BEGIN access_permission_website -->
          <tr class="{ACCESS_WEBPAGE_CSS_CLASS}">
            <td><input type="checkbox" name="access_page_id[]" id="access_webpage_access_id_{ACCESS_NODE_ID}_{ACCESS_NODE_LANG}" value="{ACCESS_PAGE_ID}" style="display:{ACCESS_PAGE_SELECTION_DISPLAY};" {ACCESS_PAGE_CHECKED}></td>
            <td><a href="javascript:void(0)" onclick="accessChangeProtection(this,{ACCESS_NODE_ID},'{ACCESS_NODE_LANG}',{ACCESS_PAGE_PROTECT_BACKEND})" rel="{ACCESS_PAGE_PROTECTED}" title="{ACCESS_CLICK_TO_CHANGE_PROTECTION_TXT}"><ins aiotitle="" class="jstree-icon publishing {ACCESS_PAGE_PUBLISHING} {ACCESS_PAGE_PROTECTED}"></ins></a></td>
            <td style="text-indent:{ACCESS_WEBPAGE_TEXT_INDENT}px;" onclick="accessSwitchCheckboxStatus('access_webpage_access_id_{ACCESS_NODE_ID}_{ACCESS_NODE_LANG}')">{ACCESS_WEBPAGE_NAME}</td>
            <td>
              <!-- BEGIN access_permission_webpage_preview -->
              <a href="{ACCESS_WEBPAGE_LINK}" target="_blank" title="{TXT_ACCESS_SHOW_PAGE_IN_NEW_DOCUMENT}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
              <!-- END access_permission_webpage_preview -->
              <a href="index.php?cmd=ContentManager&amp;page={ACCESS_PAGE_ID}&amp;tab=content" target="_blank" title="{TXT_ACCESS_MODIFY_PAGE_IN_NEW_DOCUMENT}"><i class="fa-regular fa-pen-to-square"></i></a>
            </td>
          </tr>
          <!-- END access_permission_website -->
          <tr>
            <td colspan="4">
              <a href="javascript:void(0);" onclick="cx.jQuery('#site-tree').find('input[type=checkbox]').each(function(i,el){cx.jQuery(el).attr('checked',true);})" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
              <a href="javascript:void(0);" onclick="cx.jQuery('#site-tree').find('input[type=checkbox]').each(function(i,el){cx.jQuery(el).attr('checked',false);})" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- BEGIN access_permission_tabs -->
      <div class="tab permissionTab_modifyPermission{ACCESS_TAB_NR}" data-tablist="permission">
        <table class="adminlist splitview">
          <!-- BEGIN access_permission_area -->
          <tr class="row{ACCESS_AREA_STYLE_NR}" style="{ACCESS_AREA_HIDDEN}">
            <td style="text-indent:{ACCESS_AREA_TEXT_INDENT}px;" onclick="accessSwitchCheckboxStatus('access_area_id_{ACCESS_AREA_ID}')">
              {ACCESS_AREA_NAME}<!-- BEGIN access_permission_access_id -->
              [{ACCESS_AREA_ID}]<!-- END access_permission_access_id -->
            </td>
            <td>
              <!-- BEGIN access_permission_in_scope -->
              <input type="checkbox" name="access_area_id[]" id="access_area_id_{ACCESS_AREA_ID}" value="{ACCESS_AREA_ID}" {ACCESS_AREA_ALLOWED}>
              <!-- END access_permission_in_scope -->
            </td>
          </tr>
          <!-- END access_permission_area -->
          <tr>
            <td></td>
            <td>
              <a href="#" class="toggle-all check" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
              <a href="#" class="toggle-all" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- END access_permission_tabs -->
      <!-- BEGIN access_permission_tab_wysiwyg -->
      <div class="tab permissionTab_modifyPermission{ACCESS_WYSIWYG_TAB_NR}" data-tablist="permission">
        {ACCESS_PERMISSION_WYSIWYG_TOOLBAR}</div>
      <!-- END access_permission_tab_wysiwyg -->
    </div>
  </div>
  <input type="button" value="{TXT_ACCESS_CANCEL}" name="access_cancel" onclick="window.location.href='index.php?cmd=Access&{CSRF_PARAM}&amp;act=group'" class="secondary">
  <input type="submit" name="access_save_group" value="{TXT_ACCESS_SAVE}" onclick="prepareConfiguration('acess_group_form')">
</form>
<!-- end module_access_group_modify.html -->
