<!-- start module_access_config_mail.html -->
<table class="adminlist">
  <tr>
    <th>{TXT_ACCESS_TYPE}</th>
    <th>{TXT_ACCESS_LANGUAGE}</th>
    <th>{TXT_ACCESS_MAIL_SUBJECT}</th>
    <th>{TXT_ACCESS_FUNCTIONS}</th>
  </tr>
  <!-- BEGIN access_email_list -->
  <tr class="row{ACCESS_ROW_CLASS_NR}">
    <td style="{ACCESS_MAIL_TYPE_STYLE};">{ACCESS_MAIL_TYPE_TXT}</td>
    <td>{ACCESS_MAIL_LANGUAGE}</td>
    <td>{ACCESS_MAIL_SUBJECT}</td>
    <td>
      <!-- BEGIN access_email_copy -->
      <a href="index.php?cmd=Access&amp;act=config&amp;tpl=copyMail&amp;type={ACCESS_MAIL_TYPE}" title="{TXT_ACCESS_COPY_MAIL_TEMPLATE}"><i class="fa-regular fa-copy"></i></a>
      <!-- END access_email_copy -->
      <a href="index.php?cmd=Access&amp;act=config&amp;tpl=modifyMail&amp;type={ACCESS_MAIL_TYPE}&amp;access_mail_lang={ACCESS_MAIL_LANG}" title="{TXT_ACCESS_MODIFY_MAIL_TEMPLATE}"><i class="fa-regular fa-pen-to-square"></i></a>
      <!-- BEGIN access_email_delete -->
      <a href="javascript:if(confirm('{TXT_ACCESS_CONFIRM_DELETE_MAIL}')){window.location.href='index.php?cmd=Access&{CSRF_PARAM}&amp;act=config&amp;tpl=deleteMail&amp;type={ACCESS_MAIL_TYPE}&amp;access_mail_lang={ACCESS_MAIL_LANG}';}" title="{TXT_ACCESS_DELETE_MAIL_TEMPLATE}"><i class="fa-regular fa-trash-can"></i></a>
      <!-- END access_email_delete -->
    </td>
  </tr>
  <!-- END access_email_list -->
</table>
<!-- end module_access_config_mail.html -->
