<!-- start module_access_config_community.html -->
<script>
  // <![CDATA[
  function accessAddGroupToList(from, dest)
{
    if ( from.selectedIndex < 0) {
      if (from.options[0] != null) {
        from.options[0].selected = true;
      }
      from.focus();
      return false;
    } else {
      for (var i=0; i<from.length; i++) {
        if (from.options[i].selected) {
          dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);
        }
      }
      for (var i=from.length-1; i>=0; i--) {
        if (from.options[i].selected) {
          from.options[i] = null;
        }
      }
    }
  }

  function accessRemoveGroupFromList(from,dest)
{
    if ( dest.selectedIndex < 0) {
      if (dest.options[0] != null) {
        dest.options[0].selected = true;
      }
      dest.focus();
      return false;
    } else {
      for (var i=0; i<dest.options.length; i++) {
        if (dest.options[i].selected) {
          from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);
        }
      }
      for (var i=dest.options.length-1; i>=0; i--) {
        if (dest.options[i].selected) {
          dest.options[i] = null;
        }
      }
    }
  }

  function accessSelectAllGroups(CONTROL)
{
    for(var i = 0;i < CONTROL.length;i++)
    {
      CONTROL.options[i].selected = true;
    }
  }

  function accessDeselectAllGroups(CONTROL)
{
    for(var i = 0;i < CONTROL.length;i++)
  {
      CONTROL.options[i].selected = false;
    }
  }

  function accessChangeActivationMethod()
{
    method1 = document.getElementById('accessUserActivation_1').checked;
    document.getElementById('accessUserActivationBox_1').style.display = method1 ? 'block' : 'none';
    document.getElementById('accessUserActivationBox_0').style.display = method1 ? 'none' : 'block';
  }

  function accessChangeSignUpNotification()
{
    method1 = document.getElementById('accessSignUpNotification').checked;
    document.getElementById('accessSignUpNotificationBox').style.display = method1 ? 'block' : 'none';
  }

  function accessChangeUserProfileNotification()
{
    method1 = document.getElementById('accessUserProfileNotification').checked;
    document.getElementById('accessUserProfileNotificationBox').style.display = method1 ? 'block' : 'none';
  }
  // ]]>
</script>
<form action="index.php?cmd=Access&amp;act=config&amp;tpl=community" method="post" onsubmit="accessSelectAllGroups(document.getElementById('access_user_associated_groups'))">
  <table class="adminlist splitview">
    <tr>
      <td>{TXT_ACCESS_USER_ACCOUNT_ACTIVATION_METHOD_TEXT}</td>
      <td>
        <div>
          <input type="radio" name="accessUserActivation" id="accessUserActivation_1" value="1" {ACCESS_USER_ACTIVATION_1} onclick="accessChangeActivationMethod()">
          <label for="accessUserActivation_1">{TXT_ACCESS_ACTIVATION_BY_USER}</label>
          <div id="accessUserActivationBox_1" style="display:{ACCESS_USER_ACTIVATION_BOX_1};">
            {TXT_ACCESS_TIME_PERIOD_ACTIVATION_TIME}
            <input type="number" value="{ACCESS_USER_ACTIVATION_TIMEOUT}" name="accessUserActivationTimeout" class="compact" min="0" max="24">
            <div>
              <input type="checkbox" name="accessSignUpNotification" id="accessSignUpNotification" value="1" {ACCESS_SIGNUP_NOTIFICATION_CHECKED} onclick="accessChangeSignUpNotification()">
              <label for="accessSignUpNotification">{ACCESS_SIGNUP_NOTIFICATION_TEXT}</label>
              <div id="accessSignUpNotificationBox" style="display:{ACCESS_SIGNUP_NOTIFICATION_BOX};">
                {TXT_ACCESS_ADDRESS_FOR_SIGNUP_NOTIFICATION}
                <input type="text" value="{ACCESS_SIGNUP_NOTIFICATION_ADDRESS}" name="accessSignUpNotificationAddress">
              </div>
            </div>
          </div>
        </div>
        <div>
          <input type="radio" name="accessUserActivation" id="accessUserActivation_0" value="0" {ACCESS_USER_ACTIVATION_0} onclick="accessChangeActivationMethod()">
          <label for="accessUserActivation_0">{TXT_ACCESS_ACTIVATION_BY_AUTHORIZED_PERSON}</label>
          <div id="accessUserActivationBox_0" style="display:{ACCESS_USER_ACTIVATION_BOX_0};">
            {TXT_ACCESS_ADDRESS_OF_USER_TO_NOTIFY}
            <input type="email" value="{ACCESS_USER_NOTIFICATION_ADDRESS}" name="accessUserNotificationAddress">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>{TXT_ACCESS_USER_PROFILE_MODIFICATION}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_USER_PROFILE_MODIFICATION_NOTIFICATION_TEXT}</span></td>
      <td>
        <input type="checkbox" name="accessUserProfileNotification" id="accessUserProfileNotification" value="1" {ACCESS_USER_PROFILE_NOTIFICATION_CHECKED} onclick="accessChangeUserProfileNotification()">
        <div id="accessUserProfileNotificationBox" style="display:{ACCESS_USER_PROFILE_NOTIFICATION_BOX};">
          {TXT_ACCESS_ADDRESS_OF_USER_TO_NOTIFY_ON_MODIFICATION}
          <input type="text" value="{ACCESS_USER_PROFILE_NOTIFICATION_ADDRESS}" name="accessUserProfileNotificationAddress">
        </div>
      </td>
    </tr>
    <tr>
      <td>{TXT_ACCESS_TOS}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_TOS_SINGUP_DESC}</span></td>
      <td><input type="checkbox" name="accessUserTos" id="accessUserTos" value="1" {ACCESS_USER_TOS}></td>
    </tr>
    <tr>
      <td>{TXT_ACCESS_CAPTCHA}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_CAPTCHA_SIGNUP_DESC}</span></td>
      <td><input type="checkbox" name="accessUserCaptcha" id="accessUserCaptcha" value="1" {ACCESS_USER_CAPTCHA}></td>
    </tr>
    <tr>
      <td>{TXT_ACCESS_GROUP_ASSOCIATION_TEXT}</td>
      <td>
        <div class="multiselect">
          <div>
            {TXT_ACCESS_AVAILABLE_GROUPS}<br>
            <select name="access_user_not_associated_groups[]" id="access_user_not_associated_groups" size="15" multiple="multiple">
              {ACCESS_USER_NOT_ASSOCIATED_GROUPS}
            </select><br>
            <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_user_not_associated_groups'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_user_not_associated_groups'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a><br>
          </div>
          <div>
            <input type="button" value="&lt;&lt;" name="removeuser" onclick="accessRemoveGroupFromList(document.getElementById('access_user_not_associated_groups'), document.getElementById('access_user_associated_groups'))">
            <input type="button" value="&gt;&gt;" name="adduser" onclick="accessAddGroupToList(document.getElementById('access_user_not_associated_groups'), document.getElementById('access_user_associated_groups'))">
          </div>
          <div>
            {TXT_ACCESS_ASSOCIATED_GROUPS}<br>
            <select name="access_user_associated_groups[]" id="access_user_associated_groups" size="15" multiple="multiple">
              {ACCESS_USER_ASSOCIATED_GROUPS}
            </select><br>
            <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_user_associated_groups'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_user_associated_groups'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <input type="submit" name="access_save_settings" value="{TXT_ACCESS_SAVE}">
</form>
<!-- end module_access_config_community.html -->
