<!-- start module_access_modify_user.html -->
{ACCESS_JAVASCRIPT_FUNCTIONS}

<script>
    /* <![CDATA[ */
    $J(document).ready(function() {
        $J('input[name=access_user_password]').keyup(function(){
            $J('#password-complexity').html(checkComplexity($J(this).val()))
        })

        $J('input[name="notification_email"]').change(function() {
            if($J(this).val()==1) {
                $J('.password-field').hide();
                $J('.password-field input').val('');
                $J('#password-complexity').removeClass().html('');
            } else if($J(this).val()==0) {
                $J('.password-field').show();
            }
        });

        if($J('input[name="notification_email"]').closest('tr').css('display') != 'none') {
            $J('input[name="notification_email"]:checked').trigger('change');
        }

        /**
         * Checks the complexity of the given password.
         * @param string password
         */
        var checkComplexity = function(password) {
            // Initial strength
            var strength = 0

            // If the password length is less than 5, return message.
            if (password.length < 5) {
                $J('#password-complexity').removeClass();
                $J('#password-complexity').addClass('alertlabel');
                return '{TXT_ACCESS_PASSWORD_TOO_SHORT}';
            }

            if ('{ACCESS_PASSWORT_COMPLEXITY}' == 'on') {
                if (!password.match(/([a-zA-Z])/) || !password.match(/([0-9])/) || !password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
                    $J('#password-complexity').removeClass();
                    $J('#password-complexity').addClass('alertlabel');
                    return '{TXT_ACCESS_PASSWORD_INVALID}';
                }
            }

            // Length is ok, lets continue.

            // If length is 8 characters or more, increase strength value.
            if (password.length > 7) strength += 1;

            // If password contains both lower and uppercase characters, increase strength value.
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1;

            // If it has numbers and characters, increase strength value.
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1;

            // If it has one special character, increase strength value.
            if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1;

            // If it has two special characters, increase strength value.
            if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1;

            // Now we have calculated strength value, we can return messages.

            // If value is less than 2.
            if (strength < 2 ) {
                $J('#password-complexity').removeClass().addClass('warninglabel');
                return '{TXT_ACCESS_PASSWORD_WEAK}';
            } else if (strength == 2 ) {
                $J('#password-complexity').removeClass().addClass('infolabel');
                return '{TXT_ACCESS_PASSWORD_GOOD}';
            } else {
                $J('#password-complexity').removeClass().addClass('oklabel');
                return '{TXT_ACCESS_PASSWORD_STRONG}';
            }
        }

        document.querySelector('#access_user_primary_group').addEventListener(
            'change',
            (e) => {
                accessAssignGroupToUser(
                    e.target,
                    document.getElementById('access_user_not_associated_groups'),
                    document.getElementById('access_user_associated_groups')
                )
            }
        );
    });
    /* ]]> */
</script>

<ul class="tabmenu" data-tablist="default">
    <li><a data-tablink="userTab_modifyUser1" class="active" href="#">{TXT_ACCESS_USER_ACCOUNT}</a></li>
    <!-- BEGIN access_profile_group_assignment -->
    <li><a data-tablink="userTab_modifyUser2" href="#">{TXT_ACCESS_USER_GROUP_S}</a></li>
    <!-- END access_profile_group_assignment -->
    <li><a data-tablink="userTab_modifyUser3" href="#">{TXT_ACCESS_PROFILE}</a></li>
    <!-- BEGIN access_additional_functions_tab -->
    <li><a data-tablink="userTab_modifyUser4" href="#">{TXT_ACCESS_ADDITIONAL_FUNCTIONS}</a></li>
    <!-- END access_additional_functions_tab -->
    <!-- BEGIN access_newsletter_tab -->
    <li><a data-tablink="userTab_modifyUser5" href="#">{TXT_ACCESS_NEWSLETTER_LISTS}</a></li>
    <!-- END access_newsletter_tab -->
</ul>

<form autocomplete="off" action="index.php?cmd=Access&amp;act=user&amp;tpl=modify&amp;id={ACCESS_USER_ID}&amp;source={SOURCE}{URL_PARAMS}" onsubmit="accessAssociatedGroups=document.getElementById('access_user_associated_groups');if(accessAssociatedGroups !== null){accessSelectAllGroups(accessAssociatedGroups);}" method="post" enctype="multipart/form-data" id="access">
    <!-- start modifyUser1 div -->
    <div class="tab userTab_modifyUser1" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_ACCESS_EMAIL}</td>
                <td>
                    <input type="text" name="access_user_email" value="" style="display: none">
                    {ACCESS_USER_EMAIL}
                    <input type="text" name="not-an-email" value="" style="display: none">
                </td>
            </tr>
            <!-- BEGIN access_user_username_block -->
            <tr>
                <td>{TXT_ACCESS_USERNAME}</td>
                <td>{ACCESS_USER_USERNAME}</td>
            </tr>
            <!-- END access_user_username_block -->
            <tr style="display:{CSS_DISPLAY_STATUS_CREATE}">
                <td>{TXT_ACCESS_NOTIFICATION_EMAIL_TITLE}</td>
                <td>
                    <input type="radio" name="notification_email" class="notification_email" id="password_gernerated" value="1" checked="checked">
                    <label for="password_gernerated">{TXT_ACCESS_PASSWORD_GENERATED}</label><br>
                    <input type="radio" name="notification_email" class="notification_email" id="password_manually" value="0">
                    <label for="password_manually">{TXT_ACCESS_PASSWORD_MANUALLY}</label>
                </td>
            </tr>
            <tr class="password-field">
                <td>{TXT_ACCESS_PASSWORD}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_ACCESS_PASSWORD_INFO}&nbsp;{TXT_ACCESS_PASSWORD_MD5_ENCRYPTED}</span></td>
                <td>
                    <input type="password" name="access_user_password" value="" style="display: none">
                    {ACCESS_USER_PASSWORD}
                    <span id="password-complexity"></span>
                </td>
            </tr>
            <tr class="row2 password-field">
                <td>{TXT_ACCESS_CONFIRM_PASSWORD}</td>
                <td>{ACCESS_USER_PASSWORD_CONFIRMED}</td>
            </tr>
            <tr>
                <td>{TXT_ACCESS_LANGUAGE}</td>
                <td>
                    {TXT_ACCESS_FRONTEND_DESC}: {ACCESS_USER_FRONTEND_LANGUAGE}<br>
                    {TXT_ACCESS_BACKEND_DESC}: {ACCESS_USER_BACKEND_LANGUAGE}
                </td>
            </tr>
            <!-- BEGIN access_user_administrator -->
            <tr>
                <td>{TXT_ACCESS_ADMINISTRATOR}<span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_USER_ADMIN_RIGHTS_TOOLTIP}</span></td>
                <td>
                    <input type="checkbox" name="access_user_is_admin" id="access_user_is_admin" value="1" {ACCESS_USER_IS_ADMIN} onchange="document.getElementById('access_user_validity_option').style.display = this.checked ? 'none' : ''">
                    <label for="access_user_is_admin">{TXT_ACCESS_USER_ADMIN_RIGHTS}</label>
                </td>
            </tr>
            <!-- END access_user_administrator -->
            <tr style="display:{CSS_DISPLAY_STATUS};">
                <td>{TXT_ACCESS_STATUS}</td>
                <td>
                    <input type="checkbox" name="access_user_active" id="access_user_active" value="1" {ACCESS_USER_ACTIVE} <!-- BEGIN access_user_active_notification_function_call -->onchange="confirmUserNotification('access_user_status_notification', this.checked)"
                    <!-- END access_user_active_notification_function_call -->>
                    <label for="access_user_active">{TXT_ACCESS_ACTIVE}</label>
                    <input type="hidden" name="access_user_status_notification" id="access_user_status_notification" value="0">
                </td>
            </tr>
            <!-- BEGIN access_user_privacy -->
            <tr>
                <td>{TXT_ACCESS_PRIVACY}</td>
                <td>
                    <!-- BEGIN access_user_email_access -->
                    {ACCESS_USER_EMAIL_ACCESS}<br>
                    <!-- END access_user_email_access -->
                    <!-- BEGIN access_user_profile_access -->
                    {ACCESS_USER_PROFILE_ACCESS}
                    <!-- END access_user_profile_access -->
                </td>
            </tr>
            <!-- END access_user_privacy -->
            <tr class="adminlist" style="display:{ACCESS_USER_VALIDITY_OPTION_DISPLAY};" id="access_user_validity_option">
                <td>{TXT_ACCESS_VALIDITY_EXPIRATION}</td>
                <td>{ACCESS_USER_VALIDITY_EXPIRATION_MENU}</td>
            </tr>
        </table>
    </div>
    <!-- end modifyUser1 div -->
    <!-- start modifyUser2 div -->
    <div class="tab userTab_modifyUser2" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <td>{TXT_ACCESS_PRIMARY_GROUP}</td>
                <td>{ACCESS_USER_PRIMARY_GROUP_MENU}</td>
            </tr>
            <tr>
                <td>{TXT_ACCESS_USER_GROUP_S}</td>
                <td>
                    <div class="multiselect">
                        <div>
                            {TXT_ACCESS_AVAILABLE_GROUPS}<br>
                            <select name="access_user_not_associated_groups[]" id="access_user_not_associated_groups" size="15" multiple="multiple">
                                {ACCESS_USER_NOT_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_user_not_associated_groups'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
                            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_user_not_associated_groups'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
                        </div>
                        <div>
                            <input type="button" value="&lt;&lt;" name="removeuser" onclick="accessRemoveGroupFromList(document.getElementById('access_user_not_associated_groups'), document.getElementById('access_user_associated_groups'))">
                            <input type="button" value="&gt;&gt;" name="adduser" onclick="accessAddGroupToList(document.getElementById('access_user_not_associated_groups'), document.getElementById('access_user_associated_groups'))">
                        </div>
                        <div>
                            {TXT_ACCESS_ASSOCIATED_GROUPS}<br>
                            <select name="access_user_associated_groups[]" id="access_user_associated_groups" size="15" multiple="multiple">
                                {ACCESS_USER_ASSOCIATED_GROUPS}
                            </select><br>
                            <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_user_associated_groups'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a><br>
                            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_user_associated_groups'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- end modifyUser2 div -->
    <!-- start modifyUser3 div -->
    <div class="tab userTab_modifyUser3" data-tablist="default">
        <table class="adminlist splitview">
            <!-- BEGIN access_profile_attribute_list -->
            <tr class="row{ACCESS_ATTRIBUTE_ROW_CLASS}">
                <td>{ACCESS_PROFILE_ATTRIBUTE_DESC}</td>
                <td>{ACCESS_PROFILE_ATTRIBUTE}</td>
            </tr>
            <!-- END access_profile_attribute_list -->
        </table>
    </div>
    <!-- end modifyUser3 div -->
    <!-- start modifyUser4 div -->
    <div class="tab userTab_modifyUser4" data-tablist="default">
        <table class="adminlist splitview">
            <!-- BEGIN access_additional_functions_dam -->
            <tr>
                <th colspan="2">{TXT_ACCESS_DIGITAL_ASSET_MANAGEMENT}</th>
            </tr>
            <tr class="row{ACCESS_ADDITIONAL_FUNCTION_ROW_CLASS}">
                <td>
                    <label for="access_user_add_dma_category">{TXT_ACCESS_ADD_DAM_CATEGORY}</label>
                    <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_ACCESS_ADD_DAM_CATEGORY_TOOLTIP}</span>
                </td>
                <td><input type="checkbox" name="access_user_add_dma_category" id="access_user_add_dma_category" {ACCESS_USER_ADD_DMA_CATEGORY_CKECKED}></td>
            </tr>
            <!-- END access_additional_functions_dam -->
        </table>
    </div>
    <!-- end modifyUser4 div -->

    <!-- BEGIN access_newsletter -->
    <!-- start modifyUser5 div -->
    <div class="tab userTab_modifyUser5" data-tablist="default">
        <table class="adminlist splitview">
            <tr>
                <th>{TXT_CORE_LISTS}</th>
                <th>{TXT_ACCESS_ACTIVE}</th>
            </tr>
            <!-- BEGIN access_newsletter_list -->
            <tr class="row{ACCESS_NEWSLETTER_ROW_CLASS}">
                <td><label for="access_user_newsletters-{ACCESS_NEWSLETTER_ID}">{ACCESS_NEWSLETTER_NAME}&nbsp;{ACCESS_NEWSLETTER_CONSENT}</label></td>
                <td><input type="checkbox" value="{ACCESS_NEWSLETTER_ID}" {ACCESS_NEWSLETTER_SELECTED} id="access_user_newsletters-{ACCESS_NEWSLETTER_ID}" name="access_user_newsletters[]"></td>
            </tr>
            <!-- END access_newsletter_list -->
        </table>
    </div>
    <!-- end modifyUser5 div -->
    <!-- END access_newsletter -->
    <input type="hidden" value="{ACCESS_IMAGE_UPLOADER_ID}" name="access_image_uploader_id">
    <input type="button" value="{TXT_ACCESS_CANCEL}" name="access_cancel" onclick="window.location.href='{CANCEL_URL}&{CSRF_PARAM}{URL_PARAMS}'" class="secondary">
    <input type="submit" value="{TXT_ACCESS_SAVE}" name="access_save_user">
</form>
{ACCESS_IMAGE_UPLOADER_CODE}
<!-- end module_access_modify_user.html -->
