<!-- start module_access_user.html -->
<script>
  // <![CDATA[
  function accessDeleteUser(id, name)
{
    strMsg = "{TXT_ACCESS_CONFIRM_DELETE_USER}";
    if (confirm(strMsg.replace('%s', name)+'\n{TXT_ACCESS_OPERATION_IRREVERSIBLE}')) {
      window.location.replace("index.php?cmd=Access&{CSRF_PARAM}&act=user&tpl=delete&groupId={ACCESS_GROUP_ID}&sort={ACCESS_SORT_DIRECTION}&by={ACCESS_SORT_BY}&search={ACCESS_SEARCH_VALUE_ESCAPED}&username_filter={ACCESS_USER_USERNAME_FILTER_ESCAPED}&user_status_filter={ACCESS_USER_STATUS_FILTER_ESCAPED}&user_role_filter={ACCESS_USER_ROLE_FILTER_ESCAPED}&id="+id);
    }
  }

  function accessChangeUserStatus(id, name)
{
    msg = "{TXT_ACCESS_CONFIRM_USER_NOTIFY_ABOUT_ACCOUNT_STATUS_NAMED}";
    notify = confirm(msg.replace('%s', name));
    window.location.href = 'index.php?cmd=Access&{CSRF_PARAM}&act=user&tpl=changeStatus&groupId={ACCESS_GROUP_ID}&sort={ACCESS_SORT_DIRECTION}&by={ACCESS_SORT_BY}&search={ACCESS_SEARCH_VALUE_ESCAPED}&username_filter={ACCESS_USER_USERNAME_FILTER_ESCAPED}&user_status_filter={ACCESS_USER_STATUS_FILTER_ESCAPED}&user_role_filter={ACCESS_USER_ROLE_FILTER_ESCAPED}&id='+id+'&notifyUser='+Number(notify);
  }

  function accessUserDoAction(action)
{
    if (   checkboxIsChecked('access_user_form', 'access_user_id[]')
      && confirm('{ACCESS_CONFIRM_DELETE_USERS_TXT}')) {
      document.getElementById('access_user_form').submit(); return true;
    }
    document.getElementById('access_user_select_action').value=0;
  }
  // ]]>
</script>
<form action="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_IP}&amp;accountType={ACCESS_ACCOUNT_TYPE}" method="post">
  <div class="search-functions">
    <div>
      <input type="search" name="search" value="{ACCESS_SEARCH_VALUE}" placeholder="{TXT_ACCESS_SEARCH}">
      <input type="submit" name="access_search" value="{TXT_ACCESS_SEARCH}">
    </div>
    <div>
      {ACCESS_GROUP_MENU}
      <!-- BEGIN access_crm_filter -->
      {ACCESS_USER_ACCOUNT_MENU}
      <!-- END access_crm_filter -->
      {ACCESS_USER_STATUS_MENU}
      {ACCESS_USER_ROLE_MENU}
    </div>
  </div>
</form>
<!-- BEGIN access_user_letter_index_list -->
<a href="{ACCESS_USER_LETTER_INDEX_URI}">{ACCESS_USER_LETTER_INDEX_LETTER}</a>&nbsp;
<!-- END access_user_letter_index_list -->
<form name="access_user_form" id="access_user_form" action="index.php?cmd=Access&amp;act=user&amp;tpl=delete&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_DIRECTION}&amp;by={ACCESS_SORT_BY}" method="post">
  <table class="adminlist sortable">
    <!-- BEGIN access_has_users -->
    <caption>
      {TXT_ACCESS_USER_LIST}
      <div class="functions">
        <a href="/cadmin/Access/user?tpl=modify" title="{TXT_ACCESS_CREATE_NEW_USER}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </caption>
    <tr>
      <th>#</th>
      <th class="sortable {ACCESS_SORT_DIR_ID}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_ID}&amp;by=id" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_ID}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_STATUS}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_STATUS}&amp;by=active" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_STATUS}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_USERNAME}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_USERNAME}&amp;by=username" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_USERNAME}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_COMPANY}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_COMPANY}&amp;by=company" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_COMPANY}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_FIRSTNAME}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_FIRSTNAME}&amp;by=firstname" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_FIRSTNAME}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_LASTNAME}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_LASTNAME}&amp;by=lastname" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_LASTNAME}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_EMAIL}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_EMAIL}&amp;by=email" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_EMAIL}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_REGDATE}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_REGDATE}&amp;by=regdate" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_REGISTERED_SINCE}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_LAST_ACTIVITY}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_LAST_ACTIVITY}&amp;by=last_activity" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_LAST_ACTIVITY}</a></th>
      <th class="sortable {ACCESS_SORT_DIR_EXPIRATION}"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_EXPIRATION}&amp;by=expiration" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_EXPIRATION}</a></th>
      <th>{TXT_ACCESS_FUNCTIONS}</th>
    </tr>
    <!-- BEGIN access_user_list -->
    <tr class="row{ACCESS_ROW_CLASS_ID}">
      <td><input type="checkbox" name="access_user_id[]" value="{ACCESS_USER_ID}"></td>
      <td><code>{ACCESS_USER_ID}</code></td>
      <td><a href="javascript:accessChangeUserStatus({ACCESS_USER_ID},'{ACCESS_USER_USERNAME}');" title="{ACCESS_CHANGE_ACCOUNT_STATUS_MSG}"><img src="/core/Core/View/Media/icons/{ACCESS_USER_STATUS_IMG}" alt="{ACCESS_USER_STATUS}" width="13" height="13"></a></td>
      <td>
        <img class="tooltip-trigger" src="/core/Core/View/Media/icons/{ACCESS_USER_ADMIN_IMG}" alt="{ACCESS_USER_ADMIN_TXT}" width="16" height="16">
        <span class="tooltip-message">{ACCESS_USER_ADMIN_TXT}</span>
        <a href="index.php?cmd=Access&amp;act=user&amp;tpl=modify&amp;id={ACCESS_USER_ID}" title="{TXT_ACCESS_MODIFY_USER_ACCOUNT}">{ACCESS_USER_USERNAME}</a>
      </td>
      <td>{ACCESS_USER_COMPANY}</td>
      <td>{ACCESS_USER_FIRSTNAME}</td>
      <td>{ACCESS_USER_LASTNAME}</td>
      <td><a href="mailto:{ACCESS_USER_EMAIL}" title="{ACCESS_SEND_EMAIL_TO_USER}">{ACCESS_USER_EMAIL}</a></td>
      <td>{ACCESS_USER_REGDATE}</td>
      <td>{ACCESS_USER_LAST_ACTIVITY}</td>
      <td style="{ACCESS_USER_EXPIRATION_STYLE}">{ACCESS_USER_EXPIRATION}</td>
      <td>
        <!-- BEGIN access_user_crm_account -->
        <a title="{TXT_ACCESS_USER_CRM_ACCOUNT}" href="index.php?cmd=Crm&amp;act=customers&amp;tpl=showcustdetail&amp;id={ACCESS_USER_CRM_ACCOUNT_ID}"><i class="fa-regular fa-address-book"></i></a>
        <!-- END access_user_crm_account -->
        <a href="index.php?cmd=Access&amp;act=user&amp;tpl=modify&amp;id={ACCESS_USER_ID}" title="{TXT_ACCESS_MODIFY_USER_ACCOUNT}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="javascript:void(0);" onclick="accessDeleteUser({ACCESS_USER_ID}, '{ACCESS_USER_USERNAME}')" title="{ACCESS_DELETE_USER_ACCOUNT}"><i class="fa-regular fa-trash-can"></i></a>
      </td>
    </tr>
    <!-- END access_user_list -->
    <!-- END access_has_users -->
    <!-- BEGIN access_no_user -->
    <tr>
      <td colspan="12">{ACCESS_STATUS_MSG}</td>
    </tr>
    <!-- END access_no_user -->
  </table>
  <!-- BEGIN access_user_action_dropdown -->
  <ul class="bulk-functions">
    <li><a href="javascript:void(0);" onclick="changeCheckboxes('access_user_form','access_user_id[]',true); return false;" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a></li>
    <li><a href="javascript:void(0);" onclick="changeCheckboxes('access_user_form','access_user_id[]',false); return false;" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a></li>
    <li>
      <select name="access_user_select_action" id="access_user_select_action" onchange="accessUserDoAction(this.value)">
        <option value="0" selected="selected">{TXT_ACCESS_SELECT_ACTION}</option>
        <option value="delete">{TXT_ACCESS_DELETE}</option>
      </select>
    </li>
  </ul>
  <!-- END access_user_action_dropdown -->
</form>
{ACCESS_USER_PAGING}
<!-- end module_access_user.html -->
