<!-- start module_access_config.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Access&amp;act=config" class="{CORE_MODULE_ACCESS_SUBNAV_GENERAL}" title="{TXT_ACCESS_GENERAL}">{TXT_ACCESS_GENERAL}</a></li>
    <li><a href="index.php?cmd=Access&amp;act=config&amp;tpl=community" class="{CORE_MODULE_ACCESS_SUBNAV_COMMUNITY}" title="{TXT_ACCESS_COMMUNITY}">{TXT_ACCESS_COMMUNITY}</a></li>
    <li><a href="index.php?cmd=Access&amp;act=config&amp;tpl=attributes" class="{CORE_MODULE_ACCESS_SUBNAV_ATTRIBUTES}" title="{TXT_ACCESS_PROFILE_ATTRIBUTES}">{TXT_ACCESS_PROFILE_ATTRIBUTES}</a></li>
    <li><a href="index.php?cmd=Access&amp;act=config&amp;tpl=mails" class="{CORE_MODULE_ACCESS_SUBNAV_MAILS}" title="{TXT_ACCESS_EMAILS}">{TXT_ACCESS_EMAILS}</a></li>
  </ul>
</div>
{ACCESS_CONFIG_TEMPLATE}
<!-- end module_access_config.html -->
