<!-- start module_access_config_mail_modify.html -->
<form action="index.php?cmd=Access&amp;act=config&amp;tpl={ACCESS_MAIL_ACTION}&amp;type={ACCESS_MAIL_TYPE}"
    id="access_mail_form" method="post">
    <table class="adminlist splitview">
        <caption>{TXT_ACCESS_MODIFY_EMAIL}</caption>
        <tr>
            <td>{TXT_ACCESS_TYPE}</td>
            <td>{ACCESS_MAIL_TYPE_TXT}</td>
        </tr>
        <tr>
            <td>{TXT_ACCESS_LANGUAGE}</td>
            <td>{ACCESS_MAIL_LANGUAGE}</td>
        </tr>
        <tr>
            <td>{TXT_ACCESS_MAIL_SUBJECT}</td>
            <td><input type="text" name="access_mail_subject" value="{ACCESS_MAIL_SUBJECT}"></td>
        </tr>
        <tr>
            <td>{TXT_ACCESS_SEND_AS}</td>
            <td>{ACCESS_MAIL_FORMAT}</td>
        </tr>
        <tr>
            <td>{TXT_ACCESS_SENDER_ADDRESS}</td>
            <td><input type="text" name="access_mail_sender_address" value="{ACCESS_MAIL_SENDER_ADDRESS}" class="senderAddress"></td>
        </tr>
        <tr>
            <td>{TXT_ACCESS_SENDER_NAME}</td>
            <td><input type="text" name="access_mail_sender_name" value="{ACCESS_MAIL_SENDER_NAME}"></td>
        </tr>
    </table>
    <ul class="tabmenu" data-tablist="default">
        <li><a data-tablink="accessTab_htmlBody" class="{ACCESS_MAIL_HTML_BODY_CLASS}" href="#">{TXT_ACCESS_HTML_UC}</a></li>
        <li><a data-tablink="accessTab_textBody" class="{ACCESS_MAIL_TEXT_BODY_CLASS}" href="#">{TXT_ACCESS_TEXT}</a></li>
        <li><a data-tablink="accessTab_placeholders" href="#">{TXT_ACCESS_PLACEHOLDER_DIRECTORY}</a></li>
    </ul>
    <!-- BEGIN access_mail_html_body -->
    <div class="tab accessTab_htmlBody" data-tablist="default">
        <table class="adminlist">
            <tr class="reset">
                <td>{ACCESS_MAIL_BODY_HTML}</td>
            </tr>
        </table>
    </div>
    <!-- END access_mail_html_body -->
    <!-- BEGIN access_mail_text_body -->
    <div class="tab accessTab_textBody" data-tablist="default">
        <table class="adminlist">
            <tr class="reset">
                <td><textarea name="access_mail_body_text" cols="50" rows="20" style="width:100%;">{ACCESS_MAIL_BODY_TEXT}</textarea></td>
            </tr>
        </table>
    </div>
    <!-- END access_mail_text_body -->
    <div class="tab accessTab_placeholders" data-tablist="default">
        <table class="adminlist splitview">
            <!-- BEGIN access_placeholder_list -->
            <tr class="row{ACCESS_CLASS_ROW_NR}">
                <td>{ACCESS_PLACEHOLDER_TXT}</td>
                <td><code>{ACCESS_PLACEHOLDER}</code></td>
            </tr>
            <!-- END access_placeholder_list -->
        </table>
    </div>
    <input type="button" value="{TXT_ACCESS_CANCEL}" onclick="document.location.href='?cmd=Access&{CSRF_PARAM}&amp;act=config&amp;tpl=mails'" class="secondary">
    <input type="submit" name="access_save_mail" value="{TXT_ACCESS_SAVE}">
</form>
<!-- end module_access_config_mail_modify.html -->
